{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_3c70c92c-4610-464a-b685-9dc06ee7ba1d",
            "value": "✓"
        },
        {
            "name": "tag_30381cc5-c74b-4216-b8a6-3859dec8cd9f",
            "value": "Official"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "apiversion_4d7196c8-5785-4520-8129-ac7d3663b98a",
        "apiId": "5b1f1210e4b059a7a9d94843"
    },
    "info": {
        "title": "Crunchbase",
        "description": "Build powerful applications and integrate Crunchbase into your web and mobile applications with the REST API.",
        "version": "v4",
        "x-category": "Data",
        "x-long-description": " ",
        "x-website": "https://crunchbase.com/",
        "x-public": true,
        "x-thumbnail": "https://s3.amazonaws.com/mashape-production-logos/apis/5b1f1210e4b05b36a9cbf13f_medium",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://crunchbase-crunchbase-v1.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [
        {
            "name": "Search"
        },
        {
            "name": "Autocomplete"
        },
        {
            "name": "Entity"
        }
    ],
    "paths": {
        "/searches/organizations": {
            "post": {
                "tags": [
                    "Search"
                ],
                "summary": "Search Organization Entities.\nCan perform more complex filtering based on the query defined in the request body.\n",
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "/searches/organizations",
                "description": "Search Organization Entities. Can perform more complex filtering based on the query defined in the request body.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "count": {
                                            "description": "Total number of Organization entities",
                                            "type": "integer"
                                        },
                                        "entities": {
                                            "items": {
                                                "properties": {
                                                    "acquirer_identifier": {
                                                        "allOf": [
                                                            {
                                                                "description": "Every entity in the system has a unique identifier that contains all necessary properties to represent it.",
                                                                "properties": {
                                                                    "entity_def_id": {
                                                                        "description": "What type of entity this be",
                                                                        "type": "string"
                                                                    },
                                                                    "image_id": {
                                                                        "description": "Optionally provided location to obtain an image representing this entity",
                                                                        "type": "string"
                                                                    },
                                                                    "permalink": {
                                                                        "description": "Optionally provided within Entity Def unique nice id of this entity",
                                                                        "type": "string"
                                                                    },
                                                                    "uuid": {
                                                                        "description": "Globally unique id of this entity",
                                                                        "format": "uuid",
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "description": "Textual representation of this entity (i.e. its \"name\")",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "entity_def_id",
                                                                    "uuid"
                                                                ],
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "Name of the organization that made the acquisition\\\nField Type: identifier\\\nSearchable: Yes\\\nSearch Operators: blank, contains, eq, includes, not_contains, not_eq, not_includes, starts\n"
                                                    },
                                                    "aliases": {
                                                        "description": "Alternate or previous names for the organization\\\nField Type: text_short_multi\\\nSearchable: Yes\\\nSearch Operators: blank, contains, eq, not_contains, not_eq, starts\n",
                                                        "items": {
                                                            "maxLength": 255,
                                                            "type": "string"
                                                        },
                                                        "maxItems": 255,
                                                        "type": "array"
                                                    },
                                                    "categories": {
                                                        "description": "Descriptive keyword for an Organization (e.g. SaaS, Android, Cloud Computing, Medical Device)\\\nField Type: identifier_multi\\\nSearchable: Yes\\\nSearch Operators: blank, includes, includes_all, not_includes, not_includes_all\n",
                                                        "items": {
                                                            "description": "Every entity in the system has a unique identifier that contains all necessary properties to represent it.",
                                                            "properties": {
                                                                "entity_def_id": {
                                                                    "description": "What type of entity this be",
                                                                    "type": "string"
                                                                },
                                                                "image_id": {
                                                                    "description": "Optionally provided location to obtain an image representing this entity",
                                                                    "type": "string"
                                                                },
                                                                "permalink": {
                                                                    "description": "Optionally provided within Entity Def unique nice id of this entity",
                                                                    "type": "string"
                                                                },
                                                                "uuid": {
                                                                    "description": "Globally unique id of this entity",
                                                                    "format": "uuid",
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "description": "Textual representation of this entity (i.e. its \"name\")",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "entity_def_id",
                                                                "uuid"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "category_groups": {
                                                        "description": "Superset of Industries (e.g. Software, Mobile, Health Care)\\\nField Type: identifier_multi\\\nSearchable: Yes\\\nSearch Operators: blank, includes, includes_all, not_includes, not_includes_all\n",
                                                        "items": {
                                                            "description": "Every entity in the system has a unique identifier that contains all necessary properties to represent it.",
                                                            "properties": {
                                                                "entity_def_id": {
                                                                    "description": "What type of entity this be",
                                                                    "type": "string"
                                                                },
                                                                "image_id": {
                                                                    "description": "Optionally provided location to obtain an image representing this entity",
                                                                    "type": "string"
                                                                },
                                                                "permalink": {
                                                                    "description": "Optionally provided within Entity Def unique nice id of this entity",
                                                                    "type": "string"
                                                                },
                                                                "uuid": {
                                                                    "description": "Globally unique id of this entity",
                                                                    "format": "uuid",
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "description": "Textual representation of this entity (i.e. its \"name\")",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "entity_def_id",
                                                                "uuid"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "closed_on": {
                                                        "allOf": [
                                                            {
                                                                "description": "A field that will contain date information up to a certain level of precision. E.g. month, day, etc.",
                                                                "properties": {
                                                                    "precision": {
                                                                        "enum": [
                                                                            "none",
                                                                            "year",
                                                                            "month",
                                                                            "day"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "format": "date",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "precision"
                                                                ],
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "The date when the organization is closed\\\nField Type: date_precision\\\nSearchable: Yes\\\nSearch Operators: between, blank, eq, gte, lte\n"
                                                    },
                                                    "company_type": {
                                                        "description": "Whether an Organization is for profit or non-profit\\\nField Type: enum\\\nSearchable: Yes\\\nSearch Operators: blank, eq, includes, not_eq, not_includes\\\nPossible values are:\n * for_profit - For Profit\n * non_profit - Non-profit\n",
                                                        "type": "string"
                                                    },
                                                    "contact_email": {
                                                        "description": "General contact email for the organization\\\nField Type: text_blob\\\nSearchable: No\n",
                                                        "maxLength": 8192,
                                                        "type": "string"
                                                    },
                                                    "created_at": {
                                                        "description": "Field Type: datetime\\\nSearchable: Yes\\\nSearch Operators: between, blank, eq, gte, lte\n",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "delisted_on": {
                                                        "allOf": [
                                                            {
                                                                "description": "A field that will contain date information up to a certain level of precision. E.g. month, day, etc.",
                                                                "properties": {
                                                                    "precision": {
                                                                        "enum": [
                                                                            "none",
                                                                            "year",
                                                                            "month",
                                                                            "day"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "format": "date",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "precision"
                                                                ],
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "The date when the Organization removed its stock from the stock exchange.\\\nField Type: date_precision\\\nSearchable: Yes\\\nSearch Operators: between, blank, eq, gte, lte\n"
                                                    },
                                                    "demo_days": {
                                                        "description": "Whether an accelerator hosts any demo days\\\nField Type: boolean\\\nSearchable: Yes\\\nSearch Operators: blank, eq\n",
                                                        "type": "boolean"
                                                    },
                                                    "description": {
                                                        "description": "Organization Description, Industries, Industry Groups\\\nField Type: text_long\\\nSearchable: Yes\\\nSearch Operators: blank, contains, not_contains\n",
                                                        "maxLength": 8192,
                                                        "type": "string"
                                                    },
                                                    "diversity_spotlights": {
                                                        "description": "Types of diversity represented in an organization, specifically of those who are founding members, currently the CEO, or have check-writing abilities in an investment firm. This feature is in beta and may change with future updates.\\\nField Type: identifier_multi\\\nSearchable: Yes\\\nSearch Operators: blank, includes, includes_all, not_includes, not_includes_all\n",
                                                        "items": {
                                                            "description": "Every entity in the system has a unique identifier that contains all necessary properties to represent it.",
                                                            "properties": {
                                                                "entity_def_id": {
                                                                    "description": "What type of entity this be",
                                                                    "type": "string"
                                                                },
                                                                "image_id": {
                                                                    "description": "Optionally provided location to obtain an image representing this entity",
                                                                    "type": "string"
                                                                },
                                                                "permalink": {
                                                                    "description": "Optionally provided within Entity Def unique nice id of this entity",
                                                                    "type": "string"
                                                                },
                                                                "uuid": {
                                                                    "description": "Globally unique id of this entity",
                                                                    "format": "uuid",
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "description": "Textual representation of this entity (i.e. its \"name\")",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "entity_def_id",
                                                                "uuid"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "entity_def_id": {
                                                        "description": "Field Type: enum\\\nSearchable: Yes\\\nSearch Operators: blank, eq, includes, not_eq, not_includes\\\nPossible values are:\n * organization - Organization\n",
                                                        "type": "string"
                                                    },
                                                    "equity_funding_total": {
                                                        "allOf": [
                                                            {
                                                                "description": "A field containing integer data that represents some amount of money",
                                                                "properties": {
                                                                    "currency": {
                                                                        "enum": [
                                                                            "AED",
                                                                            "AFN",
                                                                            "ALL",
                                                                            "AMD",
                                                                            "ANG",
                                                                            "AOA",
                                                                            "ARS",
                                                                            "AUD",
                                                                            "AWG",
                                                                            "AZN",
                                                                            "BAM",
                                                                            "BBD",
                                                                            "BDT",
                                                                            "BGN",
                                                                            "BHD",
                                                                            "BIF",
                                                                            "BMD",
                                                                            "BND",
                                                                            "BOB",
                                                                            "BRL",
                                                                            "BSD",
                                                                            "BTN",
                                                                            "BWP",
                                                                            "BYN",
                                                                            "BYR",
                                                                            "BZD",
                                                                            "CAD",
                                                                            "CDF",
                                                                            "CHF",
                                                                            "CLF",
                                                                            "CLP",
                                                                            "CNY",
                                                                            "COP",
                                                                            "CRC",
                                                                            "CUC",
                                                                            "CUP",
                                                                            "CVE",
                                                                            "CZK",
                                                                            "DJF",
                                                                            "DKK",
                                                                            "DOP",
                                                                            "DZD",
                                                                            "EGP",
                                                                            "ERN",
                                                                            "ETB",
                                                                            "EUR",
                                                                            "FJD",
                                                                            "FKP",
                                                                            "GBP",
                                                                            "GEL",
                                                                            "GHS",
                                                                            "GIP",
                                                                            "GMD",
                                                                            "GNF",
                                                                            "GTQ",
                                                                            "GYD",
                                                                            "HKD",
                                                                            "HNL",
                                                                            "HRK",
                                                                            "HTG",
                                                                            "HUF",
                                                                            "IDR",
                                                                            "ILS",
                                                                            "INR",
                                                                            "IQD",
                                                                            "IRR",
                                                                            "ISK",
                                                                            "JMD",
                                                                            "JOD",
                                                                            "JPY",
                                                                            "KES",
                                                                            "KGS",
                                                                            "KHR",
                                                                            "KMF",
                                                                            "KPW",
                                                                            "KRW",
                                                                            "KWD",
                                                                            "KYD",
                                                                            "KZT",
                                                                            "LAK",
                                                                            "LBP",
                                                                            "LKR",
                                                                            "LRD",
                                                                            "LSL",
                                                                            "LTL",
                                                                            "LVL",
                                                                            "LYD",
                                                                            "MAD",
                                                                            "MDL",
                                                                            "MGA",
                                                                            "MKD",
                                                                            "MMK",
                                                                            "MNT",
                                                                            "MOP",
                                                                            "MRO",
                                                                            "MUR",
                                                                            "MVR",
                                                                            "MWK",
                                                                            "MXN",
                                                                            "MYR",
                                                                            "MZN",
                                                                            "NAD",
                                                                            "NGN",
                                                                            "NIO",
                                                                            "NOK",
                                                                            "NPR",
                                                                            "NZD",
                                                                            "OMR",
                                                                            "PAB",
                                                                            "PEN",
                                                                            "PGK",
                                                                            "PHP",
                                                                            "PKR",
                                                                            "PLN",
                                                                            "PYG",
                                                                            "QAR",
                                                                            "RON",
                                                                            "RSD",
                                                                            "RUB",
                                                                            "RWF",
                                                                            "SAR",
                                                                            "SBD",
                                                                            "SCR",
                                                                            "SDG",
                                                                            "SEK",
                                                                            "SGD",
                                                                            "SHP",
                                                                            "SKK",
                                                                            "SLL",
                                                                            "SOS",
                                                                            "SRD",
                                                                            "SSP",
                                                                            "STD",
                                                                            "SVC",
                                                                            "SYP",
                                                                            "SZL",
                                                                            "THB",
                                                                            "TJS",
                                                                            "TMT",
                                                                            "TND",
                                                                            "TOP",
                                                                            "TRY",
                                                                            "TTD",
                                                                            "TWD",
                                                                            "TZS",
                                                                            "UAH",
                                                                            "UGX",
                                                                            "USD",
                                                                            "UYU",
                                                                            "UZS",
                                                                            "VEF",
                                                                            "VND",
                                                                            "VUV",
                                                                            "WST",
                                                                            "XAF",
                                                                            "XAG",
                                                                            "XAU",
                                                                            "XBA",
                                                                            "XBB",
                                                                            "XBC",
                                                                            "XBD",
                                                                            "XCD",
                                                                            "XDR",
                                                                            "XOF",
                                                                            "XPD",
                                                                            "XPF",
                                                                            "XPT",
                                                                            "YER",
                                                                            "ZAR",
                                                                            "ZMK",
                                                                            "ZMW",
                                                                            "xts"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "format": "int64",
                                                                        "maximum": 9223372036854776000,
                                                                        "minimum": -9223372036854776000,
                                                                        "type": "integer"
                                                                    },
                                                                    "value_usd": {
                                                                        "format": "int64",
                                                                        "maximum": 9223372036854776000,
                                                                        "minimum": -9223372036854776000,
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "currency",
                                                                    "value"
                                                                ],
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "Total funding amount raised across all Funding Rounds excluding debt\\\nField Type: money\\\nSearchable: Yes\\\nSearch Operators: between, blank, eq, gt, gte, lt, lte, not_eq\n"
                                                    },
                                                    "exited_on": {
                                                        "allOf": [
                                                            {
                                                                "description": "A field that will contain date information up to a certain level of precision. E.g. month, day, etc.",
                                                                "properties": {
                                                                    "precision": {
                                                                        "enum": [
                                                                            "none",
                                                                            "year",
                                                                            "month",
                                                                            "day"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "format": "date",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "precision"
                                                                ],
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "Date the organization was acquired or went public\\\nField Type: date_precision\\\nSearchable: Yes\\\nSearch Operators: between, blank, eq, gte, lte\n"
                                                    },
                                                    "facebook": {
                                                        "allOf": [
                                                            {
                                                                "description": "An object representing both the url and some labeling text for that url",
                                                                "properties": {
                                                                    "label": {
                                                                        "maxLength": 8192,
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "maxLength": 8192,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "Link to Organization's Facebook page\\\nField Type: link\\\nSearchable: No\n"
                                                    },
                                                    "facet_ids": {
                                                        "description": "Field Type: enum_multi\\\nSearchable: Yes\\\nSearch Operators: blank, includes, includes_all, not_includes, not_includes_all\n",
                                                        "items": {
                                                            "description": "Possible values are:\n* company - Company\n* investor - Investor\n* school - School\n",
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "founded_on": {
                                                        "allOf": [
                                                            {
                                                                "description": "A field that will contain date information up to a certain level of precision. E.g. month, day, etc.",
                                                                "properties": {
                                                                    "precision": {
                                                                        "enum": [
                                                                            "none",
                                                                            "year",
                                                                            "month",
                                                                            "day"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "format": "date",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "precision"
                                                                ],
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "Date the Organization was founded\\\nField Type: date_precision\\\nSearchable: Yes\\\nSearch Operators: between, blank, eq, gte, lte\n"
                                                    },
                                                    "founder_identifiers": {
                                                        "description": "Founders of the organization\\\nField Type: identifier_multi\\\nSearchable: Yes\\\nSearch Operators: blank, includes, includes_all, not_includes, not_includes_all\n",
                                                        "items": {
                                                            "description": "Every entity in the system has a unique identifier that contains all necessary properties to represent it.",
                                                            "properties": {
                                                                "entity_def_id": {
                                                                    "description": "What type of entity this be",
                                                                    "type": "string"
                                                                },
                                                                "image_id": {
                                                                    "description": "Optionally provided location to obtain an image representing this entity",
                                                                    "type": "string"
                                                                },
                                                                "permalink": {
                                                                    "description": "Optionally provided within Entity Def unique nice id of this entity",
                                                                    "type": "string"
                                                                },
                                                                "uuid": {
                                                                    "description": "Globally unique id of this entity",
                                                                    "format": "uuid",
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "description": "Textual representation of this entity (i.e. its \"name\")",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "entity_def_id",
                                                                "uuid"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "funding_stage": {
                                                        "description": "This field describes an organization's most recent funding status (e.g. Early Stage Venture, Late Stage Venture, M&A)\\\nField Type: enum\\\nSearchable: Yes\\\nSearch Operators: blank, eq, includes, not_eq, not_includes\\\nPossible values are:\n * early_stage_venture - Early Stage Venture\n * ipo - IPO\n * late_stage_venture - Late Stage Venture\n * m_and_a - M&A\n * private_equity - Private Equity\n * seed - Seed\n",
                                                        "type": "string"
                                                    },
                                                    "funding_total": {
                                                        "allOf": [
                                                            {
                                                                "description": "A field containing integer data that represents some amount of money",
                                                                "properties": {
                                                                    "currency": {
                                                                        "enum": [
                                                                            "AED",
                                                                            "AFN",
                                                                            "ALL",
                                                                            "AMD",
                                                                            "ANG",
                                                                            "AOA",
                                                                            "ARS",
                                                                            "AUD",
                                                                            "AWG",
                                                                            "AZN",
                                                                            "BAM",
                                                                            "BBD",
                                                                            "BDT",
                                                                            "BGN",
                                                                            "BHD",
                                                                            "BIF",
                                                                            "BMD",
                                                                            "BND",
                                                                            "BOB",
                                                                            "BRL",
                                                                            "BSD",
                                                                            "BTN",
                                                                            "BWP",
                                                                            "BYN",
                                                                            "BYR",
                                                                            "BZD",
                                                                            "CAD",
                                                                            "CDF",
                                                                            "CHF",
                                                                            "CLF",
                                                                            "CLP",
                                                                            "CNY",
                                                                            "COP",
                                                                            "CRC",
                                                                            "CUC",
                                                                            "CUP",
                                                                            "CVE",
                                                                            "CZK",
                                                                            "DJF",
                                                                            "DKK",
                                                                            "DOP",
                                                                            "DZD",
                                                                            "EGP",
                                                                            "ERN",
                                                                            "ETB",
                                                                            "EUR",
                                                                            "FJD",
                                                                            "FKP",
                                                                            "GBP",
                                                                            "GEL",
                                                                            "GHS",
                                                                            "GIP",
                                                                            "GMD",
                                                                            "GNF",
                                                                            "GTQ",
                                                                            "GYD",
                                                                            "HKD",
                                                                            "HNL",
                                                                            "HRK",
                                                                            "HTG",
                                                                            "HUF",
                                                                            "IDR",
                                                                            "ILS",
                                                                            "INR",
                                                                            "IQD",
                                                                            "IRR",
                                                                            "ISK",
                                                                            "JMD",
                                                                            "JOD",
                                                                            "JPY",
                                                                            "KES",
                                                                            "KGS",
                                                                            "KHR",
                                                                            "KMF",
                                                                            "KPW",
                                                                            "KRW",
                                                                            "KWD",
                                                                            "KYD",
                                                                            "KZT",
                                                                            "LAK",
                                                                            "LBP",
                                                                            "LKR",
                                                                            "LRD",
                                                                            "LSL",
                                                                            "LTL",
                                                                            "LVL",
                                                                            "LYD",
                                                                            "MAD",
                                                                            "MDL",
                                                                            "MGA",
                                                                            "MKD",
                                                                            "MMK",
                                                                            "MNT",
                                                                            "MOP",
                                                                            "MRO",
                                                                            "MUR",
                                                                            "MVR",
                                                                            "MWK",
                                                                            "MXN",
                                                                            "MYR",
                                                                            "MZN",
                                                                            "NAD",
                                                                            "NGN",
                                                                            "NIO",
                                                                            "NOK",
                                                                            "NPR",
                                                                            "NZD",
                                                                            "OMR",
                                                                            "PAB",
                                                                            "PEN",
                                                                            "PGK",
                                                                            "PHP",
                                                                            "PKR",
                                                                            "PLN",
                                                                            "PYG",
                                                                            "QAR",
                                                                            "RON",
                                                                            "RSD",
                                                                            "RUB",
                                                                            "RWF",
                                                                            "SAR",
                                                                            "SBD",
                                                                            "SCR",
                                                                            "SDG",
                                                                            "SEK",
                                                                            "SGD",
                                                                            "SHP",
                                                                            "SKK",
                                                                            "SLL",
                                                                            "SOS",
                                                                            "SRD",
                                                                            "SSP",
                                                                            "STD",
                                                                            "SVC",
                                                                            "SYP",
                                                                            "SZL",
                                                                            "THB",
                                                                            "TJS",
                                                                            "TMT",
                                                                            "TND",
                                                                            "TOP",
                                                                            "TRY",
                                                                            "TTD",
                                                                            "TWD",
                                                                            "TZS",
                                                                            "UAH",
                                                                            "UGX",
                                                                            "USD",
                                                                            "UYU",
                                                                            "UZS",
                                                                            "VEF",
                                                                            "VND",
                                                                            "VUV",
                                                                            "WST",
                                                                            "XAF",
                                                                            "XAG",
                                                                            "XAU",
                                                                            "XBA",
                                                                            "XBB",
                                                                            "XBC",
                                                                            "XBD",
                                                                            "XCD",
                                                                            "XDR",
                                                                            "XOF",
                                                                            "XPD",
                                                                            "XPF",
                                                                            "XPT",
                                                                            "YER",
                                                                            "ZAR",
                                                                            "ZMK",
                                                                            "ZMW",
                                                                            "xts"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "format": "int64",
                                                                        "maximum": 9223372036854776000,
                                                                        "minimum": -9223372036854776000,
                                                                        "type": "integer"
                                                                    },
                                                                    "value_usd": {
                                                                        "format": "int64",
                                                                        "maximum": 9223372036854776000,
                                                                        "minimum": -9223372036854776000,
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "currency",
                                                                    "value"
                                                                ],
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "Total amount raised across all funding rounds\\\nField Type: money\\\nSearchable: Yes\\\nSearch Operators: between, blank, eq, gt, gte, lt, lte, not_eq\n"
                                                    },
                                                    "funds_total": {
                                                        "allOf": [
                                                            {
                                                                "description": "A field containing integer data that represents some amount of money",
                                                                "properties": {
                                                                    "currency": {
                                                                        "enum": [
                                                                            "AED",
                                                                            "AFN",
                                                                            "ALL",
                                                                            "AMD",
                                                                            "ANG",
                                                                            "AOA",
                                                                            "ARS",
                                                                            "AUD",
                                                                            "AWG",
                                                                            "AZN",
                                                                            "BAM",
                                                                            "BBD",
                                                                            "BDT",
                                                                            "BGN",
                                                                            "BHD",
                                                                            "BIF",
                                                                            "BMD",
                                                                            "BND",
                                                                            "BOB",
                                                                            "BRL",
                                                                            "BSD",
                                                                            "BTN",
                                                                            "BWP",
                                                                            "BYN",
                                                                            "BYR",
                                                                            "BZD",
                                                                            "CAD",
                                                                            "CDF",
                                                                            "CHF",
                                                                            "CLF",
                                                                            "CLP",
                                                                            "CNY",
                                                                            "COP",
                                                                            "CRC",
                                                                            "CUC",
                                                                            "CUP",
                                                                            "CVE",
                                                                            "CZK",
                                                                            "DJF",
                                                                            "DKK",
                                                                            "DOP",
                                                                            "DZD",
                                                                            "EGP",
                                                                            "ERN",
                                                                            "ETB",
                                                                            "EUR",
                                                                            "FJD",
                                                                            "FKP",
                                                                            "GBP",
                                                                            "GEL",
                                                                            "GHS",
                                                                            "GIP",
                                                                            "GMD",
                                                                            "GNF",
                                                                            "GTQ",
                                                                            "GYD",
                                                                            "HKD",
                                                                            "HNL",
                                                                            "HRK",
                                                                            "HTG",
                                                                            "HUF",
                                                                            "IDR",
                                                                            "ILS",
                                                                            "INR",
                                                                            "IQD",
                                                                            "IRR",
                                                                            "ISK",
                                                                            "JMD",
                                                                            "JOD",
                                                                            "JPY",
                                                                            "KES",
                                                                            "KGS",
                                                                            "KHR",
                                                                            "KMF",
                                                                            "KPW",
                                                                            "KRW",
                                                                            "KWD",
                                                                            "KYD",
                                                                            "KZT",
                                                                            "LAK",
                                                                            "LBP",
                                                                            "LKR",
                                                                            "LRD",
                                                                            "LSL",
                                                                            "LTL",
                                                                            "LVL",
                                                                            "LYD",
                                                                            "MAD",
                                                                            "MDL",
                                                                            "MGA",
                                                                            "MKD",
                                                                            "MMK",
                                                                            "MNT",
                                                                            "MOP",
                                                                            "MRO",
                                                                            "MUR",
                                                                            "MVR",
                                                                            "MWK",
                                                                            "MXN",
                                                                            "MYR",
                                                                            "MZN",
                                                                            "NAD",
                                                                            "NGN",
                                                                            "NIO",
                                                                            "NOK",
                                                                            "NPR",
                                                                            "NZD",
                                                                            "OMR",
                                                                            "PAB",
                                                                            "PEN",
                                                                            "PGK",
                                                                            "PHP",
                                                                            "PKR",
                                                                            "PLN",
                                                                            "PYG",
                                                                            "QAR",
                                                                            "RON",
                                                                            "RSD",
                                                                            "RUB",
                                                                            "RWF",
                                                                            "SAR",
                                                                            "SBD",
                                                                            "SCR",
                                                                            "SDG",
                                                                            "SEK",
                                                                            "SGD",
                                                                            "SHP",
                                                                            "SKK",
                                                                            "SLL",
                                                                            "SOS",
                                                                            "SRD",
                                                                            "SSP",
                                                                            "STD",
                                                                            "SVC",
                                                                            "SYP",
                                                                            "SZL",
                                                                            "THB",
                                                                            "TJS",
                                                                            "TMT",
                                                                            "TND",
                                                                            "TOP",
                                                                            "TRY",
                                                                            "TTD",
                                                                            "TWD",
                                                                            "TZS",
                                                                            "UAH",
                                                                            "UGX",
                                                                            "USD",
                                                                            "UYU",
                                                                            "UZS",
                                                                            "VEF",
                                                                            "VND",
                                                                            "VUV",
                                                                            "WST",
                                                                            "XAF",
                                                                            "XAG",
                                                                            "XAU",
                                                                            "XBA",
                                                                            "XBB",
                                                                            "XBC",
                                                                            "XBD",
                                                                            "XCD",
                                                                            "XDR",
                                                                            "XOF",
                                                                            "XPD",
                                                                            "XPF",
                                                                            "XPT",
                                                                            "YER",
                                                                            "ZAR",
                                                                            "ZMK",
                                                                            "ZMW",
                                                                            "xts"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "format": "int64",
                                                                        "maximum": 9223372036854776000,
                                                                        "minimum": -9223372036854776000,
                                                                        "type": "integer"
                                                                    },
                                                                    "value_usd": {
                                                                        "format": "int64",
                                                                        "maximum": 9223372036854776000,
                                                                        "minimum": -9223372036854776000,
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "currency",
                                                                    "value"
                                                                ],
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "Total funding amount raised across all Fund Raises\\\nField Type: money\\\nSearchable: Yes\\\nSearch Operators: between, blank, eq, gt, gte, lt, lte, not_eq\n"
                                                    },
                                                    "hub_tags": {
                                                        "description": "Tags are labels assigned to organizations, which identify their belonging to a group with that shared label\\\nField Type: enum_multi\\\nSearchable: Yes\\\nSearch Operators: blank, includes, includes_all, not_includes, not_includes_all\n",
                                                        "items": {
                                                            "description": "Possible values are:\n* cbvp - Crunchbase Venture Program\n* emerging_unicorn - Emerging Unicorn\n* exited_unicorn - Exited Unicorn\n* pledge_one_percent - Pledge 1%\n* unicorn - Unicorn\n",
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "identifier": {
                                                        "allOf": [
                                                            {
                                                                "description": "Every entity in the system has a unique identifier that contains all necessary properties to represent it.",
                                                                "properties": {
                                                                    "entity_def_id": {
                                                                        "description": "What type of entity this be",
                                                                        "type": "string"
                                                                    },
                                                                    "image_id": {
                                                                        "description": "Optionally provided location to obtain an image representing this entity",
                                                                        "type": "string"
                                                                    },
                                                                    "permalink": {
                                                                        "description": "Optionally provided within Entity Def unique nice id of this entity",
                                                                        "type": "string"
                                                                    },
                                                                    "uuid": {
                                                                        "description": "Globally unique id of this entity",
                                                                        "format": "uuid",
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "description": "Textual representation of this entity (i.e. its \"name\")",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "entity_def_id",
                                                                    "uuid"
                                                                ],
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "Name of the Organization\\\nField Type: identifier\\\nSearchable: Yes\\\nSearch Operators: blank, contains, eq, includes, not_contains, not_eq, not_includes, starts\n"
                                                    },
                                                    "image_id": {
                                                        "description": "The profile image of the organization on Crunchbase\\\nField Type: image_id\\\nSearchable: No\n",
                                                        "maxLength": 255,
                                                        "type": "string"
                                                    },
                                                    "image_url": {
                                                        "description": "The cloudinary url of the profile image\\\nField Type: text_blob\\\nSearchable: No\n",
                                                        "maxLength": 8192,
                                                        "type": "string"
                                                    },
                                                    "investor_identifiers": {
                                                        "description": "The top 5 investors with investments in this company, ordered by Crunchbase Rank\\\nField Type: identifier_multi\\\nSearchable: Yes\\\nSearch Operators: blank, includes, includes_all, not_includes, not_includes_all\n",
                                                        "items": {
                                                            "description": "Every entity in the system has a unique identifier that contains all necessary properties to represent it.",
                                                            "properties": {
                                                                "entity_def_id": {
                                                                    "description": "What type of entity this be",
                                                                    "type": "string"
                                                                },
                                                                "image_id": {
                                                                    "description": "Optionally provided location to obtain an image representing this entity",
                                                                    "type": "string"
                                                                },
                                                                "permalink": {
                                                                    "description": "Optionally provided within Entity Def unique nice id of this entity",
                                                                    "type": "string"
                                                                },
                                                                "uuid": {
                                                                    "description": "Globally unique id of this entity",
                                                                    "format": "uuid",
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "description": "Textual representation of this entity (i.e. its \"name\")",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "entity_def_id",
                                                                "uuid"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "investor_stage": {
                                                        "description": "This describes the stage of investments made by this organization (e.g. Angel, Fund of Funds, Venture Capital)\\\nField Type: enum_multi\\\nSearchable: Yes\\\nSearch Operators: blank, includes, includes_all, not_includes, not_includes_all\n",
                                                        "items": {
                                                            "description": "Possible values are:\n* convertible_note - Convertible Note\n* crowdfunding - Crowdfunding\n* debt - Debt\n* early_stage_venture - Early Stage Venture\n* grant - Grant\n* initial_coin_offering - Initial Coin Offering\n* late_stage_venture - Late Stage Venture\n* non_equity_assistance - Non Equity Assistance\n* post_ipo - Post-Ipo\n* private_equity - Private Equity\n* secondary_market - Secondary Market\n* seed - Seed\n* venture - Venture\n",
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "investor_type": {
                                                        "description": "This describes the type of investor this organization is (e.g. Angel, Fund of Funds, Venture Capital)\\\nField Type: enum_multi\\\nSearchable: Yes\\\nSearch Operators: blank, includes, includes_all, not_includes, not_includes_all\n",
                                                        "items": {
                                                            "description": "Possible values are:\n* accelerator - Accelerator\n* angel_group - Angel Group\n* co_working_space - Co-Working Space\n* corporate_venture_capital - Corporate Venture Capital\n* entrepreneurship_program - Entrepreneurship Program\n* family_investment_office - Family Investment Office\n* fund_of_funds - Fund Of Funds\n* government_office - Government Office\n* hedge_fund - Hedge Fund\n* incubator - Incubator\n* investment_bank - Investment Bank\n* micro_vc - Micro VC\n* pension_funds - Pension Funds\n* private_equity_firm - Private Equity Firm\n* secondary_purchaser - Secondary Purchaser\n* startup_competition - Startup Competition\n* syndicate - Syndicate\n* university_program - University Program\n* venture_capital - Venture Capital\n* venture_debt - Venture Debt\n",
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "ipo_status": {
                                                        "description": "The current public status of the Organization\\\nField Type: enum\\\nSearchable: Yes\\\nSearch Operators: blank, eq, includes, not_eq, not_includes\\\nPossible values are:\n * delisted - Delisted\n * private - Private\n * public - Public\n",
                                                        "type": "string"
                                                    },
                                                    "last_equity_funding_total": {
                                                        "allOf": [
                                                            {
                                                                "description": "A field containing integer data that represents some amount of money",
                                                                "properties": {
                                                                    "currency": {
                                                                        "enum": [
                                                                            "AED",
                                                                            "AFN",
                                                                            "ALL",
                                                                            "AMD",
                                                                            "ANG",
                                                                            "AOA",
                                                                            "ARS",
                                                                            "AUD",
                                                                            "AWG",
                                                                            "AZN",
                                                                            "BAM",
                                                                            "BBD",
                                                                            "BDT",
                                                                            "BGN",
                                                                            "BHD",
                                                                            "BIF",
                                                                            "BMD",
                                                                            "BND",
                                                                            "BOB",
                                                                            "BRL",
                                                                            "BSD",
                                                                            "BTN",
[...]
