{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_5e32e9d5-f059-426b-8a17-11a01714e567",
            "value": "✓"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "apiversion_d86f4843-3108-4061-921d-e98aa632601e",
        "apiId": "api_36a2021b-97da-4a1d-9262-02b8222745f1"
    },
    "info": {
        "title": "COVID-19 data",
        "description": "Every 15 minutes updated statistic about Coronavirus. Latest stats by country, are collected from several reliable sources. You can also see total stats and daily reports. With 6 servers around the world, we are also fastest API related with COVID-19 on RapidAPI marketplace.",
        "version": "v1",
        "x-category": "Data",
        "x-long-description": "We collect information from several reliable sources, like Johns Hopkins CSSE, CDC, WHO and a few others. All our sources are verified, and we avoid collecting information that is not confirmed by official authorities. \n\nEvery country sends official reports differently. From once per day to every hour. That depends on the scale of the pandemic and the time zone. Nevertheless, we are trying to update every new information ASAP. \n\nIf you have a specific wish, please let us know (Discussions), and we will try to put it on our road map. This is a non-profit humanitarian project, and all the money we get goes for better servers, data providers and other expenses for providing you with a better, faster and more reliable API. Stay safe.",
        "x-website": "https://covid19-api.com",
        "x-public": true,
        "x-thumbnail": "https://rapidapi-prod-collections.s3.amazonaws.com/50ac3a55-4378-4965-a9a4-80bc9d05ac7a.jpg",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://covid-19-data.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [
        {
            "name": "Country",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Totals",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Help",
            "description": "Additional information for easier using this API",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        }
    ],
    "paths": {
        "/report/totals": {
            "get": {
                "tags": [
                    "Totals"
                ],
                "parameters": [
                    {
                        "name": "date-format",
                        "in": "query",
                        "required": false,
                        "description": "Date format. If you dont want to use ISO 8601 standard (YYYY-MM-DD), you can provide different format.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Format of the response",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "required": false,
                        "description": "Date of the report. If the `date` parameter is not provided, the whole timeline will be returned.",
                        "schema": {
                            "type": "string",
                            "default": "2020-07-21"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "getDailyReportTotals",
                "description": "Get daily report data for the whole world. Date format is by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) standard, but you can provide different format with date-format parameter. If you don't provide the `date` parameter, the whole timeline will be returned.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "active": {
                                                "type": "integer"
                                            },
                                            "confirmed": {
                                                "type": "integer"
                                            },
                                            "critical": {
                                                "type": "integer"
                                            },
                                            "date": {
                                                "type": "string"
                                            },
                                            "deaths": {
                                                "type": "integer"
                                            },
                                            "recovered": {
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                },
                                "examples": {
                                    "Response": {
                                        "description": "Example response for 21. July 2020.",
                                        "summary": "Response",
                                        "value": [
                                            {
                                                "active": 5361549,
                                                "confirmed": 15085083,
                                                "critical": 63786,
                                                "date": "2020-07-21",
                                                "deaths": 618504,
                                                "recovered": 9105030
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                }
            }
        },
        "/country/all": {
            "get": {
                "tags": [
                    "Country"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Format of the response (json or xml)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "getLatestAllCountries",
                "description": "Get latest data for all countries.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "type": "object"
                                    },
                                    "type": "array"
                                },
                                "examples": {
                                    "Response": {
                                        "description": "",
                                        "summary": "Response",
                                        "value": [
                                            {
                                                "code": "AF",
                                                "confirmed": 35727,
                                                "country": "Afghanistan",
                                                "critical": 31,
                                                "deaths": 1190,
                                                "lastChange": "2020-07-22T08:41:33+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 33.93911,
                                                "longitude": 67.709953,
                                                "recovered": 23924
                                            },
                                            {
                                                "code": "AX",
                                                "confirmed": 0,
                                                "country": "Åland Islands",
                                                "critical": 0,
                                                "deaths": 0,
                                                "lastChange": null,
                                                "lastUpdate": null,
                                                "latitude": 60.1995487,
                                                "longitude": 20.3711715,
                                                "recovered": 0
                                            },
                                            {
                                                "code": "AL",
                                                "confirmed": 4358,
                                                "country": "Albania",
                                                "critical": 17,
                                                "deaths": 120,
                                                "lastChange": "2020-07-22T17:12:44+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 41.153332,
                                                "longitude": 20.168331,
                                                "recovered": 2463
                                            },
                                            {
                                                "code": "DZ",
                                                "confirmed": 24872,
                                                "country": "Algeria",
                                                "critical": 51,
                                                "deaths": 1111,
                                                "lastChange": "2020-07-22T18:29:38+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 28.033886,
                                                "longitude": 1.659626,
                                                "recovered": 16983
                                            },
                                            {
                                                "code": "AS",
                                                "confirmed": 0,
                                                "country": "American Samoa",
                                                "critical": 0,
                                                "deaths": 0,
                                                "lastChange": null,
                                                "lastUpdate": null,
                                                "latitude": -14.270972,
                                                "longitude": -170.132217,
                                                "recovered": 0
                                            },
                                            {
                                                "code": "AD",
                                                "confirmed": 889,
                                                "country": "Andorra",
                                                "critical": 0,
                                                "deaths": 52,
                                                "lastChange": "2020-07-22T19:06:07+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 42.546245,
                                                "longitude": 1.601554,
                                                "recovered": 803
                                            },
                                            {
                                                "code": "AO",
                                                "confirmed": 779,
                                                "country": "Angola",
                                                "critical": 6,
                                                "deaths": 30,
                                                "lastChange": "2020-07-21T21:49:05+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": -11.202692,
                                                "longitude": 17.873887,
                                                "recovered": 221
                                            },
                                            {
                                                "code": "AI",
                                                "confirmed": 3,
                                                "country": "Anguilla",
                                                "critical": 0,
                                                "deaths": 0,
                                                "lastChange": "2020-04-27T10:49:07+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 18.220554,
                                                "longitude": -63.068615,
                                                "recovered": 3
                                            },
                                            {
                                                "code": "AQ",
                                                "confirmed": 0,
                                                "country": "Antarctica",
                                                "critical": 0,
                                                "deaths": 0,
                                                "lastChange": null,
                                                "lastUpdate": null,
                                                "latitude": -75.250973,
                                                "longitude": -0.071389,
                                                "recovered": 0
                                            },
                                            {
                                                "code": "AG",
                                                "confirmed": 76,
                                                "country": "Antigua and Barbuda",
                                                "critical": 1,
                                                "deaths": 3,
                                                "lastChange": "2020-07-18T01:50:20+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 17.060816,
                                                "longitude": -61.796428,
                                                "recovered": 57
                                            },
                                            {
                                                "code": "AR",
                                                "confirmed": 136118,
                                                "country": "Argentina",
                                                "critical": 752,
                                                "deaths": 2506,
                                                "lastChange": "2020-07-22T14:53:59+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": -38.416097,
                                                "longitude": -63.616672,
                                                "recovered": 60531
                                            },
                                            {
                                                "code": "AM",
                                                "confirmed": 35693,
                                                "country": "Armenia",
                                                "critical": 10,
                                                "deaths": 678,
                                                "lastChange": "2020-07-22T09:05:40+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 40.069099,
                                                "longitude": 45.038189,
                                                "recovered": 24766
                                            },
                                            {
                                                "code": "AW",
                                                "confirmed": 117,
                                                "country": "Aruba",
                                                "critical": 0,
                                                "deaths": 3,
                                                "lastChange": "2020-07-22T00:17:36+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 12.52111,
                                                "longitude": -69.968338,
                                                "recovered": 100
                                            },
                                            {
                                                "code": "AU",
                                                "confirmed": 12894,
                                                "country": "Australia",
                                                "critical": 42,
                                                "deaths": 128,
                                                "lastChange": "2020-07-22T04:56:05+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": -25.274398,
                                                "longitude": 133.775136,
                                                "recovered": 8545
                                            },
                                            {
                                                "code": "AT",
                                                "confirmed": 19929,
                                                "country": "Austria",
                                                "critical": 18,
                                                "deaths": 711,
                                                "lastChange": "2020-07-22T11:23:41+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 47.516231,
                                                "longitude": 14.550072,
                                                "recovered": 17849
                                            },
                                            {
                                                "code": "AZ",
                                                "confirmed": 28633,
                                                "country": "Azerbaijan",
                                                "critical": 66,
                                                "deaths": 385,
                                                "lastChange": "2020-07-22T15:28:16+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 40.143105,
                                                "longitude": 47.576927,
                                                "recovered": 20443
                                            },
                                            {
                                                "code": "BS",
                                                "confirmed": 194,
                                                "country": "Bahamas",
                                                "critical": 1,
                                                "deaths": 11,
                                                "lastChange": "2020-07-22T05:55:57+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 25.03428,
                                                "longitude": -77.39628,
                                                "recovered": 91
                                            },
                                            {
                                                "code": "BH",
                                                "confirmed": 37316,
                                                "country": "Bahrain",
                                                "critical": 47,
                                                "deaths": 130,
                                                "lastChange": "2020-07-22T11:25:06+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 25.930414,
                                                "longitude": 50.637772,
                                                "recovered": 33455
                                            },
                                            {
                                                "code": "BD",
                                                "confirmed": 213254,
                                                "country": "Bangladesh",
                                                "critical": 1,
                                                "deaths": 2751,
                                                "lastChange": "2020-07-22T10:57:28+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 23.684994,
                                                "longitude": 90.356331,
                                                "recovered": 117202
                                            },
                                            {
                                                "code": "BB",
                                                "confirmed": 106,
                                                "country": "Barbados",
                                                "critical": 0,
                                                "deaths": 7,
                                                "lastChange": "2020-07-20T22:42:21+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 13.193887,
                                                "longitude": -59.543198,
                                                "recovered": 91
                                            },
                                            {
                                                "code": "BY",
                                                "confirmed": 66521,
                                                "country": "Belarus",
                                                "critical": 89,
                                                "deaths": 513,
                                                "lastChange": "2020-07-22T13:17:11+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 53.709807,
                                                "longitude": 27.953389,
                                                "recovered": 59061
                                            },
                                            {
                                                "code": "BE",
                                                "confirmed": 64258,
                                                "country": "Belgium",
                                                "critical": 35,
                                                "deaths": 9805,
                                                "lastChange": "2020-07-22T05:26:02+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 50.503887,
                                                "longitude": 4.469936,
                                                "recovered": 17330
                                            },
                                            {
                                                "code": "BZ",
                                                "confirmed": 43,
                                                "country": "Belize",
                                                "critical": 0,
                                                "deaths": 2,
                                                "lastChange": "2020-07-22T06:57:48+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 17.189877,
                                                "longitude": -88.49765,
                                                "recovered": 23
                                            },
                                            {
                                                "code": "BJ",
                                                "confirmed": 1602,
                                                "country": "Benin",
                                                "critical": 1,
                                                "deaths": 31,
                                                "lastChange": "2020-07-17T16:38:03+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 9.30769,
                                                "longitude": 2.315834,
                                                "recovered": 782
                                            },
                                            {
                                                "code": "BM",
                                                "confirmed": 153,
                                                "country": "Bermuda",
                                                "critical": 1,
                                                "deaths": 9,
                                                "lastChange": "2020-07-19T02:50:51+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 32.321384,
                                                "longitude": -64.75737,
                                                "recovered": 137
                                            },
                                            {
                                                "code": "BT",
                                                "confirmed": 92,
                                                "country": "Bhutan",
                                                "critical": 0,
                                                "deaths": 0,
                                                "lastChange": "2020-07-22T06:17:54+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 27.514162,
                                                "longitude": 90.433601,
                                                "recovered": 83
                                            },
                                            {
                                                "code": "BO",
                                                "confirmed": 62357,
                                                "country": "Bolivia",
                                                "critical": 71,
                                                "deaths": 2273,
                                                "lastChange": "2020-07-22T04:04:49+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": -16.290154,
                                                "longitude": -63.588653,
                                                "recovered": 19290
                                            },
                                            {
                                                "code": "BQ",
                                                "confirmed": 10,
                                                "country": "Bonaire, Sint Eustatius and Saba",
                                                "critical": 0,
                                                "deaths": 0,
                                                "lastChange": "2020-07-17T18:23:17+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 12.1683718,
                                                "longitude": -68.308183,
                                                "recovered": 7
                                            },
                                            {
                                                "code": "BA",
                                                "confirmed": 9115,
                                                "country": "Bosnia and Herzegovina",
                                                "critical": 0,
                                                "deaths": 268,
                                                "lastChange": "2020-07-22T13:43:31+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 43.915886,
                                                "longitude": 17.679076,
                                                "recovered": 4159
                                            },
                                            {
                                                "code": "BW",
                                                "confirmed": 522,
                                                "country": "Botswana",
                                                "critical": 1,
                                                "deaths": 1,
                                                "lastChange": "2020-07-17T02:02:12+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": -22.328474,
                                                "longitude": 24.684866,
                                                "recovered": 48
                                            },
                                            {
                                                "code": "BV",
                                                "confirmed": 0,
                                                "country": "Bouvet Island",
                                                "critical": 0,
                                                "deaths": 0,
                                                "lastChange": null,
                                                "lastUpdate": null,
                                                "latitude": -54.423199,
                                                "longitude": 3.413194,
                                                "recovered": 0
                                            },
                                            {
                                                "code": "BR",
                                                "confirmed": 2178159,
                                                "country": "Brazil",
                                                "critical": 8318,
                                                "deaths": 81828,
                                                "lastChange": "2020-07-22T18:10:07+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": -14.235004,
                                                "longitude": -51.92528,
                                                "recovered": 1465970
                                            },
                                            {
                                                "code": "IO",
                                                "confirmed": 0,
                                                "country": "British Indian Ocean Territory",
                                                "critical": 0,
                                                "deaths": 0,
                                                "lastChange": null,
                                                "lastUpdate": null,
                                                "latitude": -6.343194,
                                                "longitude": 71.876519,
                                                "recovered": 0
                                            },
                                            {
                                                "code": "VG",
                                                "confirmed": 54,
                                                "country": "British Virgin Islands",
                                                "critical": 0,
                                                "deaths": 3,
                                                "lastChange": "2020-05-27T05:24:34+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 18.420695,
                                                "longitude": -64.639968,
                                                "recovered": 7
                                            },
                                            {
                                                "code": "BN",
                                                "confirmed": 141,
                                                "country": "Brunei",
                                                "critical": 0,
                                                "deaths": 3,
                                                "lastChange": "2020-06-16T10:40:29+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 4.535277,
                                                "longitude": 114.727669,
                                                "recovered": 138
                                            },
                                            {
                                                "code": "BG",
                                                "confirmed": 9254,
                                                "country": "Bulgaria",
                                                "critical": 31,
                                                "deaths": 313,
                                                "lastChange": "2020-07-21T23:43:50+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 42.733883,
                                                "longitude": 25.48583,
                                                "recovered": 4521
                                            },
                                            {
                                                "code": "BF",
                                                "confirmed": 1066,
                                                "country": "Burkina Faso",
                                                "critical": 0,
                                                "deaths": 53,
                                                "lastChange": "2020-07-22T12:56:32+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 12.238333,
                                                "longitude": -1.561593,
                                                "recovered": 917
                                            },
                                            {
                                                "code": "BI",
                                                "confirmed": 328,
                                                "country": "Burundi",
                                                "critical": 0,
                                                "deaths": 1,
                                                "lastChange": "2020-07-22T02:08:13+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": -3.373056,
                                                "longitude": 29.918886,
                                                "recovered": 207
                                            },
                                            {
                                                "code": "CV",
                                                "confirmed": 2154,
                                                "country": "Cabo Verde",
                                                "critical": 0,
                                                "deaths": 21,
                                                "lastChange": "2020-07-22T19:23:46+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 16.002082,
                                                "longitude": -24.013197,
                                                "recovered": 1132
                                            },
                                            {
                                                "code": "KH",
                                                "confirmed": 197,
                                                "country": "Cambodia",
                                                "critical": 1,
                                                "deaths": 0,
                                                "lastChange": "2020-07-21T09:09:58+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 12.565679,
                                                "longitude": 104.990963,
                                                "recovered": 140
                                            },
                                            {
                                                "code": "CM",
                                                "confirmed": 16522,
                                                "country": "Cameroon",
                                                "critical": 52,
                                                "deaths": 382,
                                                "lastChange": "2020-07-22T03:18:42+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 7.369722,
                                                "longitude": 12.354722,
                                                "recovered": 13728
                                            },
                                            {
                                                "code": "CA",
                                                "confirmed": 113460,
                                                "country": "Canada",
                                                "critical": 2193,
                                                "deaths": 8907,
                                                "lastChange": "2020-07-22T07:33:03+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 56.130366,
                                                "longitude": -106.346771,
                                                "recovered": 99235
                                            },
                                            {
                                                "code": "CF",
                                                "confirmed": 4561,
                                                "country": "CAR",
                                                "critical": 2,
                                                "deaths": 55,
                                                "lastChange": "2020-07-22T01:02:03+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 6.611111,
                                                "longitude": 20.939444,
                                                "recovered": 1411
                                            },
                                            {
                                                "code": "KY",
                                                "confirmed": 203,
                                                "country": "Cayman Islands",
                                                "critical": 0,
                                                "deaths": 1,
                                                "lastChange": "2020-07-22T02:13:15+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 19.513469,
                                                "longitude": -80.566956,
                                                "recovered": 201
                                            },
                                            {
                                                "code": "TD",
                                                "confirmed": 889,
                                                "country": "Chad",
                                                "critical": 0,
                                                "deaths": 75,
                                                "lastChange": "2020-07-22T19:25:48+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 15.454166,
                                                "longitude": 18.732207,
                                                "recovered": 805
                                            },
                                            {
                                                "code": null,
                                                "confirmed": 583,
                                                "country": "Channel Islands",
                                                "critical": 0,
                                                "deaths": 48,
                                                "lastChange": "2020-07-17T04:23:03+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 49.372284,
                                                "longitude": -2.364351,
                                                "recovered": 529
                                            },
                                            {
                                                "code": "CL",
                                                "confirmed": 336402,
                                                "country": "Chile",
                                                "critical": 1688,
                                                "deaths": 8722,
                                                "lastChange": "2020-07-22T19:15:45+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": -35.675147,
                                                "longitude": -71.542969,
                                                "recovered": 309241
                                            },
                                            {
                                                "code": "CN",
                                                "confirmed": 88462,
                                                "country": "China",
                                                "critical": 6,
                                                "deaths": 4634,
                                                "lastChange": "2020-05-18T02:56:52+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 35.86166,
                                                "longitude": 104.195397,
                                                "recovered": 82808
                                            },
                                            {
                                                "code": "CX",
                                                "confirmed": 0,
                                                "country": "Christmas Island",
                                                "critical": 0,
                                                "deaths": 0,
                                                "lastChange": null,
                                                "lastUpdate": null,
                                                "latitude": -10.447525,
                                                "longitude": 105.690449,
                                                "recovered": 0
                                            },
                                            {
                                                "code": "CC",
                                                "confirmed": 0,
                                                "country": "Cocos (Keeling) Islands",
                                                "critical": 0,
                                                "deaths": 0,
                                                "lastChange": null,
                                                "lastUpdate": null,
                                                "latitude": -12.164165,
                                                "longitude": 96.870956,
                                                "recovered": 0
                                            },
                                            {
                                                "code": "CO",
                                                "confirmed": 211038,
                                                "country": "Colombia",
                                                "critical": 1456,
                                                "deaths": 7166,
                                                "lastChange": "2020-07-22T00:13:30+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 4.570868,
                                                "longitude": -74.297333,
                                                "recovered": 98840
                                            },
                                            {
                                                "code": "KM",
                                                "confirmed": 337,
                                                "country": "Comoros",
                                                "critical": 0,
                                                "deaths": 7,
                                                "lastChange": "2020-07-22T00:06:09+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": -11.875001,
                                                "longitude": 43.872219,
                                                "recovered": 319
                                            },
                                            {
                                                "code": "CG",
                                                "confirmed": 2851,
                                                "country": "Congo",
                                                "critical": 0,
                                                "deaths": 50,
                                                "lastChange": "2020-07-21T01:03:58+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": -0.228021,
                                                "longitude": 15.827659,
                                                "recovered": 666
                                            },
                                            {
                                                "code": "CK",
                                                "confirmed": 0,
                                                "country": "Cook Islands",
                                                "critical": 0,
                                                "deaths": 0,
                                                "lastChange": null,
                                                "lastUpdate": null,
                                                "latitude": -21.236736,
                                                "longitude": -159.777671,
                                                "recovered": 0
                                            },
                                            {
                                                "code": "CR",
                                                "confirmed": 11811,
                                                "country": "Costa Rica",
                                                "critical": 49,
                                                "deaths": 68,
                                                "lastChange": "2020-07-21T21:11:57+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 9.748917,
                                                "longitude": -83.753428,
                                                "recovered": 3194
                                            },
                                            {
                                                "code": "HR",
                                                "confirmed": 4530,
                                                "country": "Croatia",
                                                "critical": 9,
                                                "deaths": 125,
                                                "lastChange": "2020-07-22T14:07:16+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 45.1,
                                                "longitude": 15.2,
                                                "recovered": 3278
                                            },
                                            {
                                                "code": "CU",
                                                "confirmed": 2462,
                                                "country": "Cuba",
                                                "critical": 1,
                                                "deaths": 87,
                                                "lastChange": "2020-07-22T15:50:32+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 21.521757,
                                                "longitude": -77.781167,
                                                "recovered": 2326
                                            },
                                            {
                                                "code": "CW",
                                                "confirmed": 28,
                                                "country": "Curaçao",
                                                "critical": 0,
                                                "deaths": 1,
                                                "lastChange": "2020-07-18T04:19:45+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 12.16957,
                                                "longitude": -68.990021,
                                                "recovered": 24
                                            },
                                            {
                                                "code": "CY",
                                                "confirmed": 1040,
                                                "country": "Cyprus",
                                                "critical": 0,
                                                "deaths": 19,
                                                "lastChange": "2020-07-21T18:24:50+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 35.126413,
                                                "longitude": 33.429859,
                                                "recovered": 847
                                            },
                                            {
                                                "code": "CZ",
                                                "confirmed": 14448,
                                                "country": "Czech Republic",
                                                "critical": 18,
                                                "deaths": 364,
                                                "lastChange": "2020-07-22T17:58:38+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 49.817492,
                                                "longitude": 15.472962,
                                                "recovered": 9075
                                            },
                                            {
                                                "code": "DK",
                                                "confirmed": 13350,
                                                "country": "Denmark",
                                                "critical": 4,
                                                "deaths": 611,
                                                "lastChange": "2020-07-22T14:13:18+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 56.26392,
                                                "longitude": 9.501785,
                                                "recovered": 12274
                                            },
                                            {
                                                "code": null,
                                                "confirmed": 712,
                                                "country": "Diamond Princess",
                                                "critical": 4,
                                                "deaths": 13,
                                                "lastChange": "2020-05-11T01:12:24+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": null,
                                                "longitude": null,
                                                "recovered": 651
                                            },
                                            {
                                                "code": "DJ",
                                                "confirmed": 5030,
                                                "country": "Djibouti",
                                                "critical": 0,
                                                "deaths": 58,
                                                "lastChange": "2020-07-22T14:17:39+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 11.825138,
                                                "longitude": 42.590275,
                                                "recovered": 4904
                                            },
                                            {
                                                "code": "DM",
                                                "confirmed": 18,
                                                "country": "Dominica",
                                                "critical": 0,
                                                "deaths": 0,
                                                "lastChange": "2020-06-18T07:28:23+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 15.414999,
                                                "longitude": -61.370976,
                                                "recovered": 18
                                            },
                                            {
                                                "code": "DO",
                                                "confirmed": 56043,
                                                "country": "Dominican Republic",
                                                "critical": 246,
                                                "deaths": 1005,
                                                "lastChange": "2020-07-22T17:57:03+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 18.735693,
                                                "longitude": -70.162651,
                                                "recovered": 26466
                                            },
                                            {
                                                "code": "CD",
                                                "confirmed": 8626,
                                                "country": "DRC",
                                                "critical": 0,
                                                "deaths": 197,
                                                "lastChange": "2020-07-22T12:39:54+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": -4.038333,
                                                "longitude": 21.758664,
                                                "recovered": 4790
                                            },
                                            {
                                                "code": "EC",
                                                "confirmed": 76217,
                                                "country": "Ecuador",
                                                "critical": 347,
                                                "deaths": 5366,
                                                "lastChange": "2020-07-22T00:27:49+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": -1.831239,
                                                "longitude": -78.183406,
                                                "recovered": 32725
                                            },
                                            {
                                                "code": "EG",
                                                "confirmed": 89078,
                                                "country": "Egypt",
                                                "critical": 41,
                                                "deaths": 4399,
                                                "lastChange": "2020-07-21T22:32:29+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 26.820553,
                                                "longitude": 30.802498,
                                                "recovered": 29473
                                            },
                                            {
                                                "code": "SV",
                                                "confirmed": 12975,
                                                "country": "El Salvador",
                                                "critical": 438,
                                                "deaths": 363,
                                                "lastChange": "2020-07-22T11:21:46+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 13.794185,
                                                "longitude": -88.89653,
                                                "recovered": 7119
                                            },
                                            {
                                                "code": "GQ",
                                                "confirmed": 3071,
                                                "country": "Equatorial Guinea",
                                                "critical": 0,
                                                "deaths": 51,
                                                "lastChange": "2020-07-03T03:37:21+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 1.650801,
                                                "longitude": 10.267895,
                                                "recovered": 842
                                            },
                                            {
                                                "code": "ER",
                                                "confirmed": 251,
                                                "country": "Eritrea",
                                                "critical": 0,
                                                "deaths": 0,
                                                "lastChange": "2020-07-17T21:46:56+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 15.179384,
                                                "longitude": 39.782334,
                                                "recovered": 155
                                            },
                                            {
                                                "code": "EE",
                                                "confirmed": 2025,
                                                "country": "Estonia",
                                                "critical": 1,
                                                "deaths": 69,
                                                "lastChange": "2020-07-22T09:35:20+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 58.595272,
                                                "longitude": 25.013607,
                                                "recovered": 1912
                                            },
                                            {
                                                "code": "SZ",
                                                "confirmed": 1938,
                                                "country": "Eswatini",
                                                "critical": 5,
                                                "deaths": 25,
                                                "lastChange": "2020-07-22T19:38:09+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": -26.522503,
                                                "longitude": 31.465866,
                                                "recovered": 876
                                            },
                                            {
                                                "code": "ET",
                                                "confirmed": 11524,
                                                "country": "Ethiopia",
                                                "critical": 35,
                                                "deaths": 188,
                                                "lastChange": "2020-07-22T19:29:54+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 9.145,
                                                "longitude": 40.489673,
                                                "recovered": 5506
                                            },
                                            {
                                                "code": "FO",
                                                "confirmed": 191,
                                                "country": "Faeroe Islands",
                                                "critical": 0,
                                                "deaths": 0,
                                                "lastChange": "2020-07-19T15:32:15+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 61.892635,
                                                "longitude": -6.911806,
                                                "recovered": 188
                                            },
                                            {
                                                "code": "FK",
                                                "confirmed": 13,
                                                "country": "Falkland Islands",
                                                "critical": 0,
                                                "deaths": 0,
                                                "lastChange": "2020-05-01T09:00:04+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": -51.796253,
                                                "longitude": -59.523613,
                                                "recovered": 13
                                            },
                                            {
                                                "code": "FJ",
                                                "confirmed": 27,
                                                "country": "Fiji",
                                                "critical": 0,
                                                "deaths": 0,
                                                "lastChange": "2020-07-20T07:22:36+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": -16.578193,
                                                "longitude": 179.414413,
                                                "recovered": 18
                                            },
                                            {
                                                "code": "FI",
                                                "confirmed": 7362,
                                                "country": "Finland",
                                                "critical": 1,
                                                "deaths": 329,
                                                "lastChange": "2020-07-22T14:35:14+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 61.92411,
                                                "longitude": 25.748151,
                                                "recovered": 6920
                                            },
                                            {
                                                "code": "FR",
                                                "confirmed": 203696,
                                                "country": "France",
                                                "critical": 445,
                                                "deaths": 31017,
                                                "lastChange": "2020-07-22T20:12:12+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 46.227638,
                                                "longitude": 2.213749,
                                                "recovered": 79957
                                            },
                                            {
                                                "code": "GF",
                                                "confirmed": 6851,
                                                "country": "French Guiana",
                                                "critical": 21,
                                                "deaths": 39,
                                                "lastChange": "2020-07-21T20:39:54+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 3.933889,
                                                "longitude": -53.125782,
                                                "recovered": 4996
                                            },
                                            {
                                                "code": "PF",
                                                "confirmed": 62,
                                                "country": "French Polynesia",
                                                "critical": 0,
                                                "deaths": 0,
                                                "lastChange": "2020-06-29T01:43:03+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": -17.679742,
                                                "longitude": -149.406843,
                                                "recovered": 60
                                            },
                                            {
                                                "code": "TF",
                                                "confirmed": 0,
                                                "country": "French Southern Territories",
                                                "critical": 0,
                                                "deaths": 0,
                                                "lastChange": null,
                                                "lastUpdate": null,
                                                "latitude": -49.280366,
                                                "longitude": 69.348557,
                                                "recovered": 0
                                            },
                                            {
                                                "code": "GA",
                                                "confirmed": 6433,
                                                "country": "Gabon",
                                                "critical": 11,
                                                "deaths": 46,
                                                "lastChange": "2020-07-21T00:57:17+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": -0.803689,
                                                "longitude": 11.609444,
                                                "recovered": 4034
                                            },
                                            {
                                                "code": "GM",
                                                "confirmed": 132,
                                                "country": "Gambia",
                                                "critical": 0,
                                                "deaths": 5,
                                                "lastChange": "2020-07-22T11:22:41+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 13.443182,
                                                "longitude": -15.310139,
                                                "recovered": 57
                                            },
                                            {
                                                "code": "GE",
                                                "confirmed": 1073,
                                                "country": "Georgia",
                                                "critical": 5,
                                                "deaths": 16,
                                                "lastChange": "2020-07-22T08:02:42+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 42.315407,
                                                "longitude": 43.356892,
                                                "recovered": 907
                                            },
                                            {
                                                "code": "DE",
                                                "confirmed": 204298,
                                                "country": "Germany",
                                                "critical": 264,
                                                "deaths": 9181,
                                                "lastChange": "2020-07-22T18:40:33+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 51.165691,
                                                "longitude": 10.451526,
                                                "recovered": 188600
                                            },
                                            {
                                                "code": "GH",
                                                "confirmed": 28989,
                                                "country": "Ghana",
                                                "critical": 8,
                                                "deaths": 153,
                                                "lastChange": "2020-07-21T13:09:26+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 7.946527,
                                                "longitude": -1.023194,
                                                "recovered": 25331
                                            },
                                            {
                                                "code": "GI",
                                                "confirmed": 182,
                                                "country": "Gibraltar",
                                                "critical": 0,
                                                "deaths": 0,
                                                "lastChange": "2020-07-22T15:05:51+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 36.137741,
                                                "longitude": -5.345374,
                                                "recovered": 180
                                            },
                                            {
                                                "code": "GR",
                                                "confirmed": 4077,
                                                "country": "Greece",
                                                "critical": 10,
                                                "deaths": 200,
                                                "lastChange": "2020-07-22T19:10:08+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 39.074208,
                                                "longitude": 21.824312,
                                                "recovered": 1374
                                            },
                                            {
                                                "code": "GL",
                                                "confirmed": 13,
                                                "country": "Greenland",
                                                "critical": 0,
                                                "deaths": 1,
                                                "lastChange": "2020-06-04T19:14:34+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 71.706936,
                                                "longitude": -42.604303,
                                                "recovered": 13
                                            },
                                            {
                                                "code": "GD",
                                                "confirmed": 23,
                                                "country": "Grenada",
                                                "critical": 0,
                                                "deaths": 0,
                                                "lastChange": "2020-06-19T01:59:52+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 12.262776,
                                                "longitude": -61.604171,
                                                "recovered": 23
                                            },
                                            {
                                                "code": "GP",
                                                "confirmed": 195,
                                                "country": "Guadeloupe",
                                                "critical": 4,
                                                "deaths": 14,
                                                "lastChange": "2020-07-17T19:52:03+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 16.995971,
                                                "longitude": -62.067641,
                                                "recovered": 172
                                            },
                                            {
                                                "code": "GU",
                                                "confirmed": 154,
                                                "country": "Guam",
                                                "critical": 0,
                                                "deaths": 5,
                                                "lastChange": "2020-05-17T14:14:00+02:00",
                                                "lastUpdate": "2020-05-17T15:00:00+02:00",
                                                "latitude": 13.444304,
                                                "longitude": 144.793731,
                                                "recovered": 0
                                            },
                                            {
                                                "code": "GT",
                                                "confirmed": 40229,
                                                "country": "Guatemala",
                                                "critical": 5,
                                                "deaths": 1531,
                                                "lastChange": "2020-07-21T21:06:15+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 15.783471,
                                                "longitude": -90.230759,
                                                "recovered": 26685
                                            },
                                            {
                                                "code": "GG",
                                                "confirmed": 239,
                                                "country": "Guernsey",
                                                "critical": 0,
                                                "deaths": 9,
                                                "lastChange": "2020-04-24T13:58:00+02:00",
                                                "lastUpdate": "2020-04-30T16:45:00+02:00",
                                                "latitude": 49.465691,
                                                "longitude": -2.585278,
                                                "recovered": 73
                                            },
                                            {
                                                "code": "GN",
                                                "confirmed": 6652,
                                                "country": "Guinea",
                                                "critical": 24,
                                                "deaths": 41,
                                                "lastChange": "2020-07-22T01:10:04+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 9.945587,
                                                "longitude": -9.696645,
                                                "recovered": 5771
                                            },
                                            {
                                                "code": "GW",
                                                "confirmed": 1954,
                                                "country": "Guinea-Bissau",
                                                "critical": 5,
                                                "deaths": 26,
                                                "lastChange": "2020-07-21T23:56:13+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 11.803749,
                                                "longitude": -15.180413,
                                                "recovered": 803
                                            },
                                            {
                                                "code": "GY",
                                                "confirmed": 339,
                                                "country": "Guyana",
                                                "critical": 2,
                                                "deaths": 23,
                                                "lastChange": "2020-07-22T02:23:57+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 4.860416,
                                                "longitude": -58.93018,
                                                "recovered": 163
                                            },
                                            {
                                                "code": "HT",
                                                "confirmed": 7146,
                                                "country": "Haiti",
                                                "critical": 0,
                                                "deaths": 154,
                                                "lastChange": "2020-07-22T07:07:24+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 18.971187,
                                                "longitude": -72.285215,
                                                "recovered": 4095
                                            },
                                            {
                                                "code": "HM",
                                                "confirmed": 0,
                                                "country": "Heard Island and Mcdonald Islands",
                                                "critical": 0,
                                                "deaths": 0,
                                                "lastChange": null,
                                                "lastUpdate": null,
                                                "latitude": -53.08181,
                                                "longitude": 73.504158,
                                                "recovered": 0
                                            },
                                            {
                                                "code": "HN",
                                                "confirmed": 35345,
                                                "country": "Honduras",
                                                "critical": 51,
                                                "deaths": 988,
                                                "lastChange": "2020-07-22T05:28:55+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 15.199999,
                                                "longitude": -86.241905,
                                                "recovered": 4144
                                            },
                                            {
                                                "code": "HK",
                                                "confirmed": 2132,
                                                "country": "Hong Kong",
                                                "critical": 29,
                                                "deaths": 14,
                                                "lastChange": "2020-07-22T11:00:53+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 22.396428,
                                                "longitude": 114.109497,
                                                "recovered": 1344
                                            },
                                            {
                                                "code": "HU",
                                                "confirmed": 4366,
                                                "country": "Hungary",
                                                "critical": 4,
                                                "deaths": 596,
                                                "lastChange": "2020-07-22T09:15:04+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 47.162494,
                                                "longitude": 19.503304,
                                                "recovered": 3283
                                            },
                                            {
                                                "code": "IS",
                                                "confirmed": 1930,
                                                "country": "Iceland",
                                                "critical": 0,
                                                "deaths": 10,
                                                "lastChange": "2020-07-19T13:09:36+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 64.963051,
                                                "longitude": -19.020835,
                                                "recovered": 1907
                                            },
                                            {
                                                "code": "IN",
                                                "confirmed": 1239467,
                                                "country": "India",
                                                "critical": 8944,
                                                "deaths": 29894,
                                                "lastChange": "2020-07-22T19:54:45+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 20.593684,
                                                "longitude": 78.96288,
                                                "recovered": 782938
                                            },
                                            {
                                                "code": "ID",
                                                "confirmed": 91751,
                                                "country": "Indonesia",
                                                "critical": 0,
                                                "deaths": 4459,
                                                "lastChange": "2020-07-22T11:24:29+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": -0.789275,
                                                "longitude": 113.921327,
                                                "recovered": 50255
                                            },
                                            {
                                                "code": "IR",
                                                "confirmed": 281413,
                                                "country": "Iran",
                                                "critical": 3609,
                                                "deaths": 14853,
                                                "lastChange": "2020-07-22T12:40:47+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 32.427908,
                                                "longitude": 53.688046,
                                                "recovered": 244840
                                            },
                                            {
                                                "code": "IQ",
                                                "confirmed": 99865,
                                                "country": "Iraq",
                                                "critical": 441,
                                                "deaths": 4042,
                                                "lastChange": "2020-07-22T17:19:54+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 33.223191,
                                                "longitude": 43.679291,
                                                "recovered": 67147
                                            },
                                            {
                                                "code": "IE",
                                                "confirmed": 25819,
                                                "country": "Ireland",
                                                "critical": 6,
                                                "deaths": 1754,
                                                "lastChange": "2020-07-22T18:55:34+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 53.41291,
                                                "longitude": -8.24389,
                                                "recovered": 23364
                                            },
                                            {
                                                "code": "IM",
                                                "confirmed": 336,
                                                "country": "Isle of Man",
                                                "critical": 0,
                                                "deaths": 24,
                                                "lastChange": "2020-06-03T19:07:27+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 54.236107,
                                                "longitude": -4.548056,
                                                "recovered": 312
                                            },
                                            {
                                                "code": "IL",
                                                "confirmed": 55695,
                                                "country": "Israel",
                                                "critical": 273,
                                                "deaths": 430,
                                                "lastChange": "2020-07-22T18:39:12+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 31.046051,
                                                "longitude": 34.851612,
                                                "recovered": 23205
                                            },
                                            {
                                                "code": "IT",
                                                "confirmed": 245032,
                                                "country": "Italy",
                                                "critical": 48,
                                                "deaths": 35082,
                                                "lastChange": "2020-07-22T17:31:25+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 41.87194,
                                                "longitude": 12.56738,
                                                "recovered": 197628
                                            },
                                            {
                                                "code": "CI",
                                                "confirmed": 14531,
                                                "country": "Ivory Coast",
                                                "critical": 0,
                                                "deaths": 93,
                                                "lastChange": "2020-07-21T22:24:37+02:00",
                                                "lastUpdate": "2020-07-22T20:15:03+02:00",
                                                "latitude": 7.539989,
                                                "longitude": -5.54708,
                                                "recovered": 8857
                                            },
                                            {
                                                "code": "JM",
                                                "confirmed": 810,
                                                "country": "Jamaica",
                                                "critical": 0,
                                                "deaths": 10,
[...]
