{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_3aed1ca2-423b-4d37-a137-50af80931463",
            "value": "✓"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "apiversion_39e41587-a58a-4633-9f55-08d6f3ac9387",
        "apiId": "api_7067a039-5c6d-46e6-a4a3-3fc3cd3f7e25"
    },
    "info": {
        "title": "QuoteJoy",
        "description": "A massive database of inspirational quotes to brighten your day!",
        "version": "v1",
        "x-category": "Text Analysis",
        "x-long-description": "A database of more than 50,000 famous quotes from more than 1,000 sources. Access them at random, with search filters, or comprehensively through the QuoteJoy API.",
        "x-website": "https://lattice.dev/products/quotejoy",
        "x-public": true,
        "x-thumbnail": "https://rapidapi-prod-apis.s3.amazonaws.com/fd4dfe96-ec03-4de9-bda8-c52351f151df.png",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://quotejoy.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [],
    "paths": {
        "/list-sources": {
            "get": {
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "List Sources",
                "description": "List all quote sources in the database.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Sample response": {
                                        "description": "",
                                        "summary": "Sample response",
                                        "value": {
                                            "date": "2021-02-08T16:17:18.291971",
                                            "sources": [
                                                "!Maybe?",
                                                "\"Malcom X\" ( 1964), The Atobiograghy of Malcom X",
                                                "\"Scratch\" Garrison",
                                                "\"Swedish Proverb\"",
                                                "\"Why\" on Quartz",
                                                "'jubal' yinka popoola",
                                                "(Doctor to patient)",
                                                "(St. Luke 2:1)",
                                                "*REESE*",
                                                "-Chapman Cohen",
                                                "-Dian Silvestre",
                                                "-Henry Ford",
                                                "-ParkerGames",
                                                "1 Chronicles 1634 TLB Bible",
                                                "1 Corinthians 13:13, 1 Corinthians 13:13",
                                                "1 Timothy 14 Bible New Testament",
                                                "1 Timothy 611 Bible",
                                                "1510",
                                                "16 Idaho Law Review 407, 420 - 1980.",
                                                "19th Hole",
                                                "50 Cent",
                                                "6.5 Creedmoor Ammo",
                                                "???",
                                                "A Bartlett Giamatti",
                                                "A Chinese Child",
                                                "A Course In Miracles",
                                                "A Marvell",
                                                "A Student",
                                                "A Wise Man RJI",
                                                "A bitter hiker",
                                                "A nobody",
                                                "A omega despacito",
                                                "A shout from chess grandmaster Aaron Nimzovich",
                                                "A. A. Attanasio",
                                                "A. A. Milne",
                                                "A. A. Milne, Winnie-the-Pooh",
                                                "A. Alvarez",
                                                "A. C. Benson",
                                                "A. E. Hotchner",
                                                "A. E. Housman",
                                                "A. G. Buckham",
                                                "A. H. Weiler",
                                                "A. Huxley, Island",
                                                "A. J. Ayer",
                                                "A. J. Benza",
                                                "A. J. Liebling",
                                                "A. J. P. Taylor",
                                                "A. J. Toynbee",
                                                "A. Lawrence Lowell",
                                                "A. N. Wilson",
                                                "A. P. Gouthey",
                                                "A. Poincelot",
                                                "A. S. Neill, Summerhill",
                                                "A. Sachs",
                                                "A. W. Pink",
                                                "A. W. Tozer",
                                                "A. Whitney Brown",
                                                "A. Whitney Griswold",
                                                "A.A. Latimer",
                                                "A.A. Milne",
                                                "A.Carcani",
                                                "A.W. Tozer",
                                                "AB Siddik",
                                                "ANONYMOUS UNNAMED",
                                                "APJ Abdul Kalam",
                                                "ARCHIBALD ALEXANDER (1772-1851)",
                                                "Aaron Balcom",
                                                "Aaron Bruce",
                                                "Aaron Burr",
                                                "Aaron Donald",
                                                "Aaron Hill",
                                                "Aaron J. Munzer",
                                                "Aaron Jhinkoo",
                                                "Aayush Gauba",
                                                "Abba Eban",
                                                "Abbie Hoffman",
                                                "Abbie Hoffman, Steal This Urine Test",
                                                "Abderrahman Hassi",
                                                "Abdirisak Ishak",
                                                "Abe Lemons",
                                                "Abel Evans",
                                                "Aberjhani",
                                                "Abhishek Shukla",
                                                "Abie Nôtlia",
                                                "Abigail Adams",
                                                "Abigail Johnson",
                                                "Abigail Van Buren",
                                                "Abigail Van Buren in reply to the question: \"Why do Jews always answer a question with a question?\"",
                                                "Abijah Savage",
                                                "Abraham Crowley",
                                                "Abraham Harold Maslow",
                                                "Abraham Hicks",
                                                "Abraham J. Herschel",
                                                "Abraham Joshua Heschel",
                                                "Abraham Lincoln",
                                                "Abraham Lincoln, On Marriage",
                                                "Abraham Maslow",
                                                "Abraham Morgentaler",
                                                "Abrahm Lincoln",
                                                "Actor Edmund Gwenn",
                                                "Actually Unknown",
                                                "Adah Eminentz",
                                                "Adair Lara",
                                                "Adam Burrell",
                                                "Adam Clayton Jr. Powell",
                                                "Adam King",
                                                "Adam L. Gordon",
                                                "Adam R. Gwizdala",
                                                "Adam Richardson",
                                                "Adam Scaife",
                                                "Adam Skelter",
                                                "Adam Smith",
                                                "Adam Smith, The Wealth of Nations, 1776",
                                                "Adamo Macri",
                                                "Adan Riaz",
                                                "Addison",
                                                "Addison Mizner",
                                                "Adedeji John",
                                                "Adel Bestavros",
                                                "Adela Rogers St. Johns",
                                                "Adele Brookman",
                                                "Adele Clee",
                                                "Adelle Davis",
                                                "Ademuyiwa Onabanjo",
                                                "Aditya Tammana",
                                                "Adlai E. Jr. Stevenson",
                                                "Adlai E. Stevenson Jr.",
                                                "Adlai E. Stevenson Jr., speech, October 3, 1952",
                                                "Adlai E. Stevenson, Jr",
                                                "Adlai Ewing Stevenson",
                                                "Adlai Stevenson",
                                                "Adlai Stevenson I",
                                                "Admiral Hyman Rickover",
                                                "Adolf Hitler",
                                                "Adolf Hitler, Mein Kampf",
                                                "Adolph Hitler",
                                                "Adolph Hitler, Mein Kampf",
                                                "Adolph Monod",
                                                "Adrian Adams",
                                                "Adrian Calabano",
                                                "Adrian Frampton",
                                                "Adrian Mitchell",
                                                "Adriana Diaz",
                                                "Adriana Gentile",
                                                "Adrienne E. Gusoff",
                                                "Adrienne Gusoff",
                                                "Adrienne Rich",
                                                "Adémar de Chabannes",
                                                "Aelius Donatus",
                                                "Aeschylus",
                                                "Aesop",
                                                "Aesop, Juno and the Peacock",
                                                "Afghan",
                                                "African Proverb",
                                                "Agatha Christie",
                                                "Agatha Christie, Appointment with Death",
                                                "Agatha Christie, Autobiography (1977)",
                                                "Agathon",
                                                "Agesilaus the Second",
                                                "Agnes Repplier",
                                                "Agnes de Mille",
                                                "Aharon Appelfeld",
                                                "Ahmad F. Hedayat",
                                                "Ahmed Essam",
                                                "Ahmed Hussein",
                                                "Ahmed Korayem",
                                                "AiR",
                                                "AiR Atman in Ravi",
                                                "AiR AtmanInRavi",
                                                "AiR- Atman in Ravi",
                                                "Aimee Bowers",
                                                "Aimee Martin",
                                                "Aimee Mullins",
                                                "Airon T. Reyes",
                                                "Airplane",
                                                "Akhbar Satar",
                                                "Akhenaten",
                                                "Akhenaton",
                                                "Akhlak-i-Jalali",
                                                "Akio Morita",
                                                "Akram Al Deek",
                                                "Akshay Vasu",
                                                "Al Boliska",
                                                "Al Capone",
                                                "Al Capp",
                                                "Al Franken",
                                                "Al Gore - during 1992 Vice Presidential debate",
                                                "Al Jaffee",
                                                "Al Kersha",
                                                "Al McGuire",
                                                "Al Ries",
                                                "Al Unser",
                                                "Alain de Lille",
                                                "Alain van der Heide",
                                                "Alan Alda",
                                                "Alan Alda, GQ, Summer, 1980",
                                                "Alan Alexander Milne",
                                                "Alan B. Watts",
                                                "Alan Bleasdale",
                                                "Alan Bloom",
                                                "Alan Chadwick",
                                                "Alan Coren",
                                                "Alan Dean Foster",
                                                "Alan Dershowitz",
                                                "Alan Dundes",
                                                "Alan F. Kiepper",
                                                "Alan Greenspan",
                                                "Alan J. Perlis",
                                                "Alan Kay",
                                                "Alan Mackay",
                                                "Alan Marshall Beck",
                                                "Alan Moore",
                                                "Alan Moore, The league of extraordinary gentlemen, chapter 5",
                                                "Alan Paton, Cry the Beloved Country",
                                                "Alan Simpson",
                                                "Alan Stewart Paton",
                                                "Alan Turing",
                                                "Alan Valentine",
                                                "Alan Watts",
                                                "Alan Woods",
                                                "Alan of Lille",
                                                "Alanis Morissette",
                                                "Alastair Reid",
                                                "Alastair redfern retired bishop of Derby",
                                                "Albert Camus",
                                                "Albert Cooper",
                                                "Albert E. Cliffe",
                                                "Albert Einstein",
                                                "Albert Einstein, 1879-1955",
                                                "Albert Einstein, In a letter to Max Born, 1926",
                                                "Albert Einstein, on atomic energy, Jan. 22, 1947",
                                                "Albert Einstein, quoted in New York Times, March 13, 1940",
                                                "Albert Einstein, quoted in Scientific American, September 2004, page 69",
                                                "Albert Einstein, speech",
                                                "Albert Ellis, founder of Rational Emotive Therapy",
                                                "Albert Guerard",
                                                "Albert Jay Nock",
                                                "Albert P. Ryder",
                                                "Albert Pike",
                                                "Albert Schweitzer",
                                                "Albert Szent-Gyorgi",
                                                "Albert Szent-Gyorgyi",
                                                "Albert von Szent-Gyorgyi",
                                                "Albertine Meunier",
                                                "Alberto Gonzales",
                                                "Alcaeus",
                                                "Alcoholics Anonymous Prayer",
                                                "Alden Ulrich",
                                                "Aldo Leopold",
                                                "Aldous Huxley",
                                                "Aldous Huxley, \"Texts and Pretexts\", 1932",
                                                "Aldous Huxley, Eyeless in Gaza (1936)",
                                                "Aldous Huxley, Vendeta for the Western World, 1945",
                                                "Alec Flett",
                                                "Alec Waugh",
                                                "Aleejah Haider",
                                                "Aleister Crowley",
                                                "Alekandr Sergeyevick Pushkin",
                                                "Aleksander Toporovskiy",
                                                "Aleksander Lwow",
                                                "Aleksandr Isayevich Solzhenitsyn",
                                                "Aleksandr Solzhenitsyn",
                                                "Aleksandr Solzhenitsyn, Commencement Address at Harvard University, June 8, 1978.",
                                                "Alen Joy",
                                                "Alex Bertolini",
                                                "Alex Crisses",
                                                "Alex Kroll",
                                                "Alex L. Wasilewski",
                                                "Alex Leybovich",
                                                "Alex Lin",
                                                "Alex Morgan",
                                                "Alex Noble",
                                                "Alex Prior",
                                                "Alex Saturn",
                                                "Alexander A. Bogomoletz",
                                                "Alexander Alekhine",
                                                "Alexander Chase",
                                                "Alexander Clark",
                                                "Alexander Fraser Tyler, Cycle of Democracy (1770)",
                                                "Alexander Giorgisdze Matcharashvili - (Nadair Aarron Desmarashvili)",
                                                "Alexander Gouon",
                                                "Alexander Graham",
                                                "Alexander Graham Bell",
                                                "Alexander Hamilton",
                                                "Alexander Hamilton, P. 217 - A History of the American People by P. Johnson",
                                                "Alexander Hamilton, The Federalist 22",
                                                "Alexander Herzen",
                                                "Alexander Hodge",
                                                "Alexander Kendrick",
                                                "Alexander MacLaren",
                                                "Alexander Michael",
                                                "Alexander Osborn",
                                                "Alexander Pope",
                                                "Alexander Pope, (1712?)",
                                                "Alexander Pope, An essay on Criticism",
                                                "Alexander Pope, Essay on Man",
                                                "Alexander Senturia",
                                                "Alexander Smith",
                                                "Alexander Solzhenitsyn",
                                                "Alexander Solzhenitsyn, Speech to the graduating class at Harvard (1978)",
                                                "Alexander Solzhenitsyn, The Gulag Archipelago",
                                                "Alexander Tyler",
                                                "Alexander Woollcott",
                                                "Alexandra Feodorovna",
                                                "Alexandre Auguste Ledru-Rollin",
                                                "Alexandre Dumas",
                                                "Alexandre Dumas, Translation from \"The Count of Monte Cristo\"",
                                                "Alexei Nikolaevich, Tsarevich of Russia",
                                                "Alexios Zavras",
                                                "Alexis Carrel",
                                                "Alexis Charles Henri Clrel de Tocqueville",
                                                "Alexis Loera",
                                                "Alexis Sayle",
                                                "Alexis de Tocqueville",
                                                "Alexis de Tocqueville, Democracy in America, author Alexis de Tocqueville",
                                                "Alexis karpouzos",
                                                "Alfonso Guerrero",
                                                "Alfonso the Wise",
                                                "Alford",
                                                "Alfred A. Knopf",
                                                "Alfred A. Montapert",
                                                "Alfred Adler",
                                                "Alfred Alder",
                                                "Alfred Alvarez",
                                                "Alfred Austin",
                                                "Alfred Bernhard Nobel",
                                                "Alfred De Musset",
                                                "Alfred E. Neuman (probably William Gaines), MAD Magazine",
                                                "Alfred E. Newman",
                                                "Alfred E. Wiggam",
                                                "Alfred Edward Perlman",
                                                "Alfred Hitchcock",
                                                "Alfred Jarry",
                                                "Alfred John wildebees",
                                                "Alfred Korzybski, His book, Science And Sanity",
                                                "Alfred L. Kroeber",
                                                "Alfred Lord Tennyson",
                                                "Alfred Lord Tennyson, Ulysses (poem)",
                                                "Alfred Montapert",
                                                "Alfred North Whitehead",
                                                "Alfred North Whitehead, N. Rose Mathematical Maxims and Minims, Raleigh NC:Rome Press Inc., 1988.",
                                                "Alfred Russel Wallace",
                                                "Alfred Stuart, Jr.",
                                                "Alfred Tennyson",
                                                "Alfred Tennyson, 1st Baron Tennyson",
                                                "Alfred Victor Vigny",
                                                "Alfred Whitney",
                                                "Alfred du Masset",
                                                "Alfred, Lord Tennyson",
                                                "Alfréd Rényi",
                                                "Ali Ahmad Awan",
                                                "Ali ibn-Abi-Talib",
                                                "Ali ibn-Abi-Talib, A Hundred Sayings",
                                                "Alice Childress",
                                                "Alice Cooper",
                                                "Alice Hoffman",
                                                "Alice James",
                                                "Alice Jones",
                                                "Alice Kahn",
                                                "Alice Mackenzie Swaim",
                                                "Alice Roosevelt Longfellow, about Calvin Coolidge",
                                                "Alice Roosevelt Longworth",
                                                "Alice Roosevelt Longworth, from Mrs. L. Conversations with Alice Roosevelt Longworth",
                                                "Alice Sebold",
                                                "Alice Sebold, The Lovely Bones",
                                                "Alice Walker",
                                                "Alicen Grey",
                                                "Alighieri Dante",
                                                "Alireza Salehi Nejad",
                                                "Alisa Wells",
                                                "Alishia May",
                                                "Alison Bechdel",
                                                "Alison Lurie",
                                                "Alistair Cooke",
                                                "All USA Events",
                                                "Alla Yaroshinskaya",
                                                "Allan Bloom",
                                                "Allan Fromme",
                                                "Allan Goldfein",
                                                "Allan Hatten",
                                                "Allan K. Chalmers",
                                                "Allan Roth",
                                                "Allan Williams",
                                                "Allegra Kent",
                                                "Allen Ginsberg",
                                                "Allen Iverson",
                                                "Allen Tate",
                                                "Allison Kearney",
                                                "Allison Ling",
                                                "Allison Louise Downe",
                                                "Allison Poler",
                                                "Alonzo Newton Benn",
                                                "Alphonse Allais",
                                                "Alphonse Daudet",
                                                "Alphonse Daulet",
                                                "Alphonse Desjardins, The Canadian credit union pioneer made the remarks in a speech in the early 1900s.",
                                                "Alphonse Karr",
                                                "Alphonse Marie Louis de Lamartine",
                                                "Alphonse de Lamartine",
                                                "Althea Gibson",
                                                "Alvin Dark, former baseball coach",
                                                "Alvin Price",
                                                "Alvin Toffler",
                                                "Alyson Hannigan",
                                                "Alyson Roth",
                                                "Amanda Bradley",
                                                "Amanda Cross",
                                                "Amanda Gorman",
                                                "Amanda Grier",
                                                "Amanda Madden",
                                                "Amanda Medinger",
                                                "Ambassador Li Zhaoxing, PRC, Idaho Grain, Fall 2000, p.8",
                                                "Amber Rains",
                                                "Ambrose Bierce",
                                                "Ambrose Gwinett Bierce",
                                                "Ambrose Redmoon",
                                                "Ambrose of Milan",
                                                "Ambrosius Macrobius",
                                                "Amby Burfoot",
                                                "Ameena Hakkim",
                                                "Ameet Behael",
                                                "Amelia Burr",
                                                "Amelia Earhart",
                                                "Amelia Earhart Putnam",
                                                "Amena Al-shugaa",
                                                "Amenorhu kwaku",
                                                "Amer Maybe",
                                                "American",
                                                "American Greetings Card",
                                                "American Heart Association Cookbook",
                                                "American Indian Proverb",
                                                "American Proverb",
                                                "Americo Mello",
                                                "Amir Taheri",
                                                "Amiri Baraka",
                                                "Amit",
                                                "Amit Kalantri",
                                                "Amit Ray",
                                                "Amiya Powell",
                                                "AmmyStudent",
                                                "Amos Bronson Alcott",
                                                "Amy Carter",
                                                "Amy Dacyczyn",
                                                "Amy Grant",
                                                "Amy Hillyard Jensen",
                                                "Amy Lowell",
                                                "Amy McGrath",
                                                "Amy Poehler",
                                                "Amy Tan",
                                                "Amy Vanderbilt",
                                                "Amy Wynne Whatley",
                                                "An9e7 X",
                                                "Ana Magaña Garnica",
                                                "Anacharsis Cloots",
                                                "Anadolu Hotel",
                                                "Anand Bhala",
                                                "Anandabai Joshee",
                                                "Anastasio Somoza García, Dictator of Nicaragua 1936-1956",
                                                "Anathi Ntozini",
                                                "Anatol Rapoport",
                                                "Anatole France",
                                                "Anatole France, The Crime of Sylvestre Bonnard",
                                                "Anaïs Nin",
                                                "Ancient Chinese Proverb",
                                                "Ancient Chinese saying",
                                                "Ancient Egyptian",
                                                "Ancient Egyptian Blessing",
                                                "Ancient Proverb",
                                                "Ancient Simian Proverb",
                                                "Anders Fogh Rasmussen, (Prime Minister of Denmark) Family photo after the European Council meeting in Copenhagen, 13 December 20",
                                                "Anderson H. Scruggs",
                                                "Andr Dubus",
                                                "Andr Gide",
                                                "Andr Malraux",
                                                "Andr Maurois",
                                                "Andre Dawson",
                                                "Andre Emmanuel Bendavi ben-YEHU",
                                                "Andre Hawit",
                                                "Andre Malraux",
                                                "Andre Norton",
                                                "Andrea Bocelli",
                                                "Andrea Dworkin",
                                                "Andrea Oldham",
                                                "Andrea Scholer, author and philosopher",
                                                "Andrea Thompson",
                                                "Andreas Boskugel",
                                                "Andreas Simic",
                                                "Andrej Danko",
                                                "Andres Bello",
                                                "Andrew A. Rooney",
                                                "Andrew Alden",
                                                "Andrew Bonar Law",
                                                "Andrew Carnegie",
                                                "Andrew Gillum",
                                                "Andrew Jackson",
                                                "Andrew Johnson",
                                                "Andrew Lang",
                                                "Andrew M. Dixon",
                                                "Andrew Mellon",
                                                "Andrew Mercer",
                                                "Andrew Michaels",
                                                "Andrew Opritza",
                                                "Andrew Porter",
                                                "Andrew Sakharov",
                                                "Andrew Schneider",
                                                "Andrew Soloman, ”The Noonday Demon: An Atlas of Depression”, comments from his mother shortly before her suicide",
                                                "Andrew Young",
                                                "André Breton",
                                                "André Gide",
                                                "André Maurois",
                                                "Andrés Santo Domingo",
                                                "Andy Borowitz",
                                                "Andy Gibb",
                                                "Andy Gray",
                                                "Andy Redmond",
                                                "Andy Rooney",
                                                "Andy Warhol",
                                                "Aneurin Bevan",
                                                "Angel",
                                                "Angel Blessing",
                                                "Angela Carter",
                                                "Angela Davis",
                                                "Angela S. Butler",
                                                "Angela White",
                                                "Angela barrett",
                                                "Angelina Jolie",
                                                "Ani DiFranco",
                                                "Ani Difranco, Letter to a John",
                                                "Animesh Roul",
                                                "Anita Brookner",
                                                "Anita Loos",
                                                "Anita Roddick",
                                                "Anjali Raut",
                                                "Anjali Singh",
                                                "Anjelica Huston",
                                                "Ankit Jain",
                                                "Anmol Andore",
                                                "Ann Bancroft",
                                                "Ann Douglas",
                                                "Ann Landers",
                                                "Ann Richards",
                                                "Ann Wilson",
                                                "Anna Faris",
                                                "Anna Freud",
                                                "Anna Garlin Spencer",
                                                "Anna Jameson",
                                                "Anna Lappe",
                                                "Anna M. Uhlich",
                                                "Anna Mary Robertson Moses",
                                                "Anna Quidlen",
                                                "Anna Quindlen",
                                                "Anna Sewell",
                                                "Anne Besant",
                                                "Anne Bradstreet",
                                                "Anne Bronte, Agnes Grey",
                                                "Anne Brown",
                                                "Anne Frank",
                                                "Anne Frank, The Diary of a Young Girl",
                                                "Anne Lamott",
                                                "Anne Lindbergh",
                                                "Anne Louise Germaine de Stal",
                                                "Anne Marie Pierce",
                                                "Anne McCaffrey",
                                                "Anne Michaels",
                                                "Anne Morrow Lindbergh",
                                                "Anne Rice",
                                                "Anne Rice, \"Blood and Gold\"",
                                                "Anne Rice, Interview with a Vampire",
                                                "Anne Rice, The Vampire Lestat",
                                                "Anne Sexton",
                                                "Anne Spencer Morrow Lindbergh",
                                                "Anne Tyler",
                                                "Anne Wilson Schaef",
                                                "Anne-Marie Voskuijl",
                                                "Anne-Sophie Swetchine",
                                                "Annette Goodheart",
                                                "Annie Besant",
                                                "Annie Dillard",
                                                "Annie Dillard, \"Winning Words\" Compiled by Allen Klein Portland House, 1998",
                                                "Annie Gottlieb",
                                                "Annie Lennox",
                                                "Annie Sullivan",
                                                "Anomymous",
                                                "Anon",
                                                "Anonymous",
                                                "Anonymous British civil servant,",
                                                "Anonymous D",
                                                "Anonymous, As told in Women Who Run With the Wolves by Clarissa Pinkola Estes",
                                                "Anonymous, Greensleeves",
                                                "Anouk Aimee",
                                                "Ansel Adams",
                                                "Anthon St Maarten",
                                                "Anthony Anderson",
                                                "Anthony Brandt",
                                                "Anthony Burgess",
                                                "Anthony D'Angelo",
                                                "Anthony Doerr",
                                                "Anthony Girit",
                                                "Anthony J. Colon",
                                                "Anthony J. D'Angelo",
                                                "Anthony J. Hilder",
                                                "Anthony Joshua",
                                                "Anthony Liccione",
                                                "Anthony Neil Wedgewood \"Tony\" Benn",
                                                "Anthony Norvell",
                                                "Anthony Powell",
                                                "Anthony Robbins",
                                                "Anthony Trollope",
                                                "Anthony Walton",
                                                "Anthony de Mello",
                                                "Anti-War Poster",
                                                "Antigonus of Sokho",
                                                "Antiphanes",
                                                "Antisthenes",
                                                "Antoine Rivarol",
                                                "Antoine Walker",
                                                "Antoine de Rivarol",
                                                "Antoine de Saint-Exupery, The Little Prince",
                                                "Antoine de Saint-Exupéry",
                                                "Antoinette Brown Blackwell",
                                                "Anton Chekhov",
                                                "Anton Hart",
                                                "Anton LaVey",
                                                "Anton Pavlovich Chekhov",
                                                "Antonin Artaud",
                                                "Antonin Scalia",
                                                "Antonio Brown",
                                                "Antonio Diaz",
                                                "Antonio Machado",
                                                "Antonio Porchia",
                                                "Antonio Salieri, title of an opera",
                                                "Antony",
                                                "Antony Jay / Jonathon Lynn, Sir Humphrey Appleby from the \"Yes, Minister\" Series",
                                                "Anu Garg",
                                                "Anuj Somany",
                                                "Anwar el Sadat",
                                                "Anzia Yenerska",
                                                "Aphra Behn",
                                                "Apoorve Dubey",
                                                "Apothegm of Narda",
                                                "Apple LaserWriter manual",
                                                "Aprocrypha",
                                                "Apuleius",
                                                "Aquaviva",
                                                "Arabian Proverb",
                                                "Arabic Proverb",
                                                "Arapaho Proverb",
                                                "Arber Doci",
                                                "Archbishop Ireland",
                                                "Archibald Alexander",
                                                "Archibald Cox",
                                                "Archibald MacLeish",
                                                "Archibald Wavell",
                                                "Archie Bunker",
                                                "Archimedes",
                                                "Archimedes (ca. 235 bc)",
                                                "Aretha Franklin",
                                                "Ariana Grande",
                                                "Ariel Sharon",
                                                "Arisa Hosaka",
                                                "Aristophanes",
                                                "Aristophanes, Frogs, 405 B.C.",
                                                "Aristophenes",
                                                "Aristotle",
                                                "Aristotle Onassis",
                                                "Aristotle, unknown",
                                                "Armand Jean du Plessis Richelieu",
                                                "Armin",
                                                "Arnaud Amalric",
                                                "Arnold Bennett",
                                                "Arnold Daly",
                                                "Arnold Edinborough",
                                                "Arnold Glasgow",
                                                "Arnold Glasow",
                                                "Arnold H. Glasgow",
                                                "Arnold J. Toynbee",
                                                "Arnold Palmer",
                                                "Arnold Patent",
                                                "Arnold Schoenberg",
                                                "Arnold Schwarzeneger",
                                                "Arnold Schwarzenegger",
                                                "Arnold Toynbee",
                                                "Arnulf of Milan",
                                                "Arry Barry",
                                                "Arsenio Hall",
                                                "Art Bell",
                                                "Art Buchwald",
                                                "Arthuer Schopenhauer",
                                                "Arthur Ashe",
                                                "Arthur Baer",
                                                "Arthur Balfour",
                                                "Arthur Bridges",
                                                "Arthur Brisbane",
                                                "Arthur C. Clarke",
                                                "Arthur C. Clarke, 1983",
                                                "Arthur C. Clarke, 2010",
                                                "Arthur C. Clarke, First on the Moon, 1970",
                                                "Arthur Cayley",
                                                "Arthur Conan Doyle",
                                                "Arthur F. Sheldon",
                                                "Arthur Godfrey",
                                                "Arthur Golden",
                                                "Arthur Guiterman",
                                                "Arthur Helps",
                                                "Arthur John Gossip",
                                                "Arthur Koestler",
                                                "Arthur L Caplan",
                                                "Arthur McNallan",
                                                "Arthur Miller",
                                                "Arthur Miller, The Crucible, act II",
                                                "Arthur O'Shaunessey",
                                                "Arthur Rimbaud",
                                                "Arthur Rubinstein",
                                                "Arthur S. Hardy",
                                                "Arthur Schlesinger, Jr.",
                                                "Arthur Schlesinger, Jr., Playboy Interview - May 1966",
                                                "Arthur Schnabel",
                                                "Arthur Schopenhauer",
                                                "Arthur Seyss-Inquart",
                                                "Arthur Shopenhauer",
                                                "Arthur W. Radford",
                                                "Arthur Wellesley",
                                                "Arthur Wellesley, Duke of Wellington, Attributed; when the courtesan Harriette Wilson threatened to publish her memoirs and his",
                                                "Arthur Wing Pinero",
                                                "Arthur Young",
                                                "Arturo Toscanini (1867-1957), To his orchestra",
                                                "Arun Kumar",
                                                "Arushi",
                                                "Asad Ur Rehman",
                                                "Ashanti Proverb",
                                                "Ashima",
                                                "Ashiru Abduljeleel O.",
                                                "Ashleigh Brilliant",
                                                "Ashley Dean Mair",
                                                "Ashley Dukes, The Man with a Load of Mischief (1924)",
                                                "Ashley Montagu",
                                                "Ashley Montague",
                                                "Ashley Smith",
                                                "Ashton Morris",
                                                "Ashu Shamy",
                                                "Askia Muhammad",
                                                "Assassins creed rogue Shay patric Cormac",
                                                "Assyrian Proverb",
                                                "Atari founder Nolan Bushnell",
                                                "Athena Athena",
                                                "Athenus",
                                                "Athol",
                                                "Atlantic Starr",
                                                "Ato Boldon",
                                                "Auberon Herbert",
                                                "Aubrey Drake Graham",
                                                "Aubrey Eben",
                                                "Audre Lorde",
                                                "Audrey Giorgi",
                                                "Audrey Hepburn",
                                                "August Strindberg",
                                                "Augusta E. Rundell",
                                                "Augusta Jane Evans",
                                                "Auguste Comte, Philosophie Positive (1830)",
                                                "Augustine Birrell",
                                                "Augustine of Hippo",
                                                "Augustus Hare",
                                                "Augustus Octavius",
                                                "Aulia",
                                                "Aurora Aksnes",
                                                "Aurora Berill",
                                                "Ausonius",
                                                "Austin Farrar",
                                                "Austin L. Sorensen",
                                                "Austin O'Malley",
                                                "Austin Powers International Man of Mystery",
                                                "Auston Matthews",
                                                "Australian Aboriginal Proverb",
                                                "Author (unknown)",
                                                "Author Chuck Palahniuk",
                                                "Author Unknown",
                                                "Avinash Shirsath",
                                                "Avinasj",
                                                "Awakening Beaconing",
                                                "Ayn Rand",
                                                "Ayn Rand, Atlas Shrugged",
                                                "Ayn Rand, Atlas Shrugged, 1957",
                                                "Ayn Rand, From the article \"Art and Sense of Life\" in The Romantic Manifesto",
                                                "Ayn Rand, The Romantic Manifesto",
                                                "Ayn Rand, The Romantic Manifesto p. 74 (pb 93)",
                                                "Azazel",
                                                "Azel Backus",
                                                "Azhar Sabri",
                                                "B L O'Hare",
                                                "B-BOY DWIN",
                                                "B. A. Billingsly",
                                                "B. A. Fajimi",
                                                "B. B. King",
                                                "B. B. Warfield",
                                                "B. C. Forbes",
                                                "B. F. Skinner",
                                                "B. J. Gupta",
                                                "B. R. Hayden",
                                                "B.F. Skinner",
                                                "B.Sowmiya",
                                                "BIZIMA Joshua",
                                                "BaDBoY-ALbania",
                                                "Baal Shem Tov",
                                                "Baba Dioum",
                                                "Baba Faiz",
                                                "Baba Ram Dass",
                                                "Babe Ruth",
                                                "Baby Lou",
                                                "Babylonian Talmud",
                                                "Back to the Future",
                                                "Baghdad Betty, Iraqi radio announcer, to gulf war troops",
                                                "Bahram Baloch",
                                                "Bailey Butler",
                                                "Baltasar Gracian",
                                                "Baltasar Gracián y Morales",
                                                "Banani Ray",
                                                "Banshi Gurajr",
                                                "Barack Obama",
                                                "Barbara Burrow",
                                                "Barbara Bush",
                                                "Barbara Colorose",
                                                "Barbara Costikyan",
                                                "Barbara De Angelis",
                                                "Barbara DeAngelis",
                                                "Barbara Ehrenreich",
                                                "Barbara Garrison",
                                                "Barbara Grizzuti Harrison",
                                                "Barbara Hall",
                                                "Barbara Johnson",
                                                "Barbara Jordan",
                                                "Barbara Kingsolver, \"Life Without Go-Go Boots\" (personal essay)",
                                                "Barbara Ledermann",
                                                "Barbara Melser Lieberman",
                                                "Barbara Mikkelson",
                                                "Barbara Sher",
                                                "Barbara Stanwyck",
                                                "Barbara Tuchman",
                                                "Barber B. Conable, Jr",
                                                "Barbra Streisand",
                                                "Barnaby C. Keeney",
                                                "Barnaby Rich",
                                                "Barnard Elliot Bee",
                                                "Baron Gottfried Wilhelm von Leibniz",
                                                "Baron Henry Peter Brougham",
                                                "Baron Patrick Maynard Stuart Blackett",
                                                "Baroness Orczy",
                                                "Baronne Anne Louise Germaine Necker de Stal Stal",
                                                "Barry Commoner",
                                                "Barry Duncan",
                                                "Barry Goldwater",
                                                "Barry LePatner",
                                                "Barry Lopez",
                                                "Barry Neil Kaufman",
                                                "Barry Schwartz",
                                                "Bartholomew",
                                                "Bartholomew Oobleck",
                                                "Baruch Spinoza",
                                                "Baruch Spinoza, The Ethics",
                                                "Bashar H. Malkawi",
                                                "Basil King",
                                                "Basil S. Walsh",
                                                "Baslo",
                                                "Bate, Mueller & White, 1971, \"Fundamentals of Astrodynamics\"",
                                                "Batman",
                                                "Batman dark knight rises",
                                                "Baudjuin",
                                                "Bauldlaire",
                                                "Bbira Johnson",
                                                "Beah Richards",
                                                "Beatrix Potter",
                                                "Beaumarchis",
                                                "Becky Alunan",
                                                "Becky Rodenbeck",
                                                "Bedouin Legend",
                                                "Beilby Porteus, Death, A Poem",
                                                "Bela Bartok",
                                                "Belgian Proverb",
                                                "Bella Abzug",
                                                "Bellamy Brooks",
                                                "Belva Davis",
                                                "Belva Plain",
                                                "Ben Azai",
                                                "Ben Azai, Mishna",
                                                "Ben Berger",
                                                "Ben Bova",
                                                "Ben Franklin",
                                                "Ben Gaye, III",
                                                "Ben Gazzara",
                                                "Ben Harper",
                                                "Ben Hogan",
                                                "Ben Johnson",
                                                "Ben Jonson",
                                                "Ben Kingsley",
                                                "Ben Shapiro",
                                                "Ben Stein",
                                                "Ben Stern",
                                                "Ben Sweetland",
                                                "Ben, Barnyard",
                                                "Benedetto \"SEO Jedi\" Motisi",
                                                "Benedict Cumberbatch",
                                                "Benedict Spinoza",
                                                "Benita Owobi",
                                                "Benito Mussolini",
                                                "Benjamin Cardozo",
                                                "Benjamin Cohen",
                                                "Benjamin Curtis",
                                                "Benjamin Disraeli",
                                                "Benjamin Disraeli, campaign speech at High Wycombe, England, November 27, 1832",
                                                "Benjamin Disraeli, speech, January 24, 1860",
                                                "Benjamin Disreali",
                                                "Benjamin F Sullivan",
                                                "Benjamin Franklin",
                                                "Benjamin Franklin, In response to the situation of the colonists",
                                                "Benjamin Franklin, letter to David Hartley, December 4, 1789",
                                                "Benjamin Graham",
                                                "Benjamin H. Brewster",
                                                "Benjamin Harrison",
                                                "Benjamin Haydon",
                                                "Benjamin Hooks",
                                                "Benjamin Johnson",
                                                "Benjamin King",
                                                "Benjamin Lee Whorf",
                                                "Benjamin McLane Spock",
                                                "Benjamin Mqxekwa",
                                                "Benjamin Netanyahu",
                                                "Benjamin Nnamdi Azikiwe",
                                                "Benjamin Roberts",
                                                "Benjamin Rush",
                                                "Benjamin Stolberg",
                                                "Benjamin W. Decker",
                                                "Bennett Alfred Cerf",
                                                "Benneville Strohecker",
                                                "Benno C. Schmidt, Jr.",
                                                "Benny Gantz",
                                                "Benny Hill",
                                                "Benoit Mandelbrot",
                                                "Bep Voskuijl",
                                                "Beranrd Levin",
                                                "Bergen",
                                                "Bern Williams",
                                                "Bernard Baruch",
                                                "Bernard Berenson",
                                                "Bernard De Voto",
                                                "Bernard Joseph Saurin",
                                                "Bernard M. Baruch",
                                                "Bernard Mandeville",
                                                "Bernard Mannes Baruch",
                                                "Bernard Meltzer",
                                                "Bernard Yeboah(YB)",
                                                "Bernard of Chartres, 12th Century",
                                                "Bernd Pischetsrieder",
                                                "Bernice Fitz-Gibbon",
                                                "Bert Leston Taylor",
                                                "Bert Rand",
                                                "Bertha Calloway",
                                                "Bertha von Suttner",
                                                "Berthe Morisot",
                                                "Berthold Auerbach",
                                                "Bertie Forbes",
                                                "Bertolt Brecht",
                                                "Bertrand Russell",
                                                "Bertrand Russell, Unpopular Essays (1950), \"Outline of Intellectual Rubbish\"",
                                                "Bertrand Russell, from the essay \"The Science to Save Us From Science\"",
                                                "Bertrand de Jouvenal",
                                                "Bessie A. Stanley",
                                                "Beth Knight",
                                                "Beto O'Rourke",
                                                "Betshina Bernier",
                                                "Bette",
                                                "Bette Davis",
                                                "Bette Davis, The Lonely Life, 1962",
                                                "Bette Midler",
                                                "Bette-Jane Raphael",
                                                "Bettina Arndt",
                                                "Betty Bender",
                                                "Betty Dravis",
                                                "Betty Ford",
                                                "Betty Naomi Friedan",
                                                "Betty Reese",
                                                "Betty Smith",
                                                "Betty Talmadge",
                                                "Betty White",
                                                "Bev Keevill",
                                                "Beverly Nichols",
                                                "Beyoncé",
                                                "Bhagavad Gita",
                                                "Bhagavad Gita, Chapter 2",
                                                "Bhagawan Sri Sathya Sai Baba",
                                                "Bhagwan Shree Rajneesh - San Francisco Chronicle 12/17/85",
                                                "Bharath",
                                                "Bharavi",
                                                "Bhartrihari",
                                                "Bias",
                                                "Bible, 1 Corinthians 13:4-7",
                                                "Bible, Colossians 3:16",
                                                "Bible, Deuteronomy 31:6 NAS",
                                                "Bible, Isaiah 32:17",
                                                "Bible, Jesus in Matthew 5:9",
                                                "Bible, Luke 6:21",
                                                "Bible, Mark 8:36",
                                                "Bible, New Testament, I Thessalonians",
                                                "Bible, New Testament, James, Chapter 1, Verse 12",
                                                "Bible, New Testament, Matthew 7:7",
                                                "Bible, Old Testament",
                                                "Bible, Paul, 1 Corinthians 13:4-7",
                                                "Bible, Psalm 23, New Testament",
                                                "Bible, Psalms 133",
                                                "Biblical Proverb",
                                                "Big Foot",
                                                "Biggest Comedy",
                                                "Biggest Drama",
                                                "Bilal Muneer",
                                                "Bill Beham",
                                                "Bill Belichick",
                                                "Bill Bryson",
                                                "Bill Bulko",
                                                "Bill Chickering",
                                                "Bill Clinton",
                                                "Bill Cosby",
                                                "Bill Cosby, Time Flies",
                                                "Bill Delvaux",
                                                "Bill E Ford",
                                                "Bill Gates",
                                                "Bill Haley and the Comets",
                                                "Bill Keane",
                                                "Bill Kosl",
                                                "Bill Maher",
                                                "Bill McCollum",
                                                "Bill McIntire",
                                                "Bill McKenney, Speech to the Harvard Antimony Society, August 15, 2005",
                                                "Bill Nye",
                                                "Bill Paxton",
                                                "Bill Peterson",
                                                "Bill Sands",
                                                "Bill Stephens",
                                                "Bill Stern",
                                                "Bill T. Jones",
                                                "Bill Tammeus",
                                                "Bill Vaughan",
                                                "Bill Vaughn",
                                                "Bill Veeck",
                                                "Bill Veeck, Chicago White Sox",
                                                "Bill Watterson",
                                                "Bill Watterson, Calvin and Hobbes",
                                                "Bill Wilson, Big Book of Alcoholics Anonymous",
                                                "Billie Burke",
                                                "Billie Holiday",
                                                "Billie Joe",
                                                "Billy",
                                                "Billy Connolly",
                                                "Billy DaMota",
                                                "Billy Graham",
                                                "Billy Joel",
                                                "Billy Madison",
                                                "Billy Rose",
                                                "Billy Sunday",
                                                "Billy Wilder",
                                                "Biyoo",
                                                "Bjarne Stroustrup",
                                                "Black Elk",
                                                "Black Elk, Native American",
                                                "Black Hawk",
                                                "Blackfoot chief, (c. 1880)",
                                                "Blackhawk",
                                                "Blade",
                                                "Blair Houghton",
                                                "Blaise Pascal",
                                                "Blaise Pascal, Pensees(II,72)",
                                                "Blaise Pascal, quoted by Rebecca West in BLACK LAMB AND GREY FALCON: A JOURNEY THROUGH YUGOSLAVIA, 1940",
                                                "Blake Clark",
                                                "Blake Lively",
                                                "Blessing Irish",
                                                "Blow",
                                                "Bob Alberti",
                                                "Bob Belonzi",
                                                "Bob Bennett, WDIV News 4, Detroit, reporting on a flood that destroyed some suburban basement apartments.",
                                                "Bob Dole",
                                                "Bob Dylan",
                                                "Bob Dylan, \"To Ramona\"",
                                                "Bob Edwards",
                                                "Bob Gale",
                                                "Bob Grant",
                                                "Bob Greene",
                                                "Bob Hope",
                                                "Bob Katter",
                                                "Bob Marley",
                                                "Bob Moawad",
                                                "Bob Monkhouse",
                                                "Bob Newhart",
                                                "Bob Odenkirk",
                                                "Bob Reish",
                                                "Bob Robert Alan Edwards",
                                                "Bob Ross",
                                                "Bob Seger",
                                                "Bob Thaves",
                                                "Bob Varsha",
                                                "Bob Wells",
                                                "Bob Wilkin",
                                                "Bob Wilson",
                                                "Bob the Dog",
                                                "Bobby Knight",
                                                "Bobby Ray Hosea",
                                                "Bobcat Goldthwaite",
                                                "Bobi Wine",
                                                "Bode Miller",
                                                "Boe Lightman",
                                                "Boileau",
                                                "Bokonon",
                                                "Bolivian Proverb",
                                                "Bonaro Overstreet",
                                                "Bongeka Macala",
                                                "Boniface",
                                                "Bonnie Friedman",
                                                "Bonnie Henry",
                                                "Boo Weekley",
                                                "Book of Consolation",
                                                "Book of Proverbs",
                                                "Book title by Erskine & Moran - 1981",
                                                "Booker T. Washington",
                                                "Booth Tarkington",
                                                "Boris Becker",
                                                "Boris Johnson",
                                                "Boris Judin",
                                                "Boris Marshalov",
                                                "Boris Pasternak",
                                                "Boromir",
                                                "Bourke Cockran",
                                                "Boutros Boutros-Ghali",
                                                "Brad Mays",
                                                "Brad Mittman MD",
                                                "Brad Moore",
                                                "Brad Pitt",
                                                "Brad Sherwood",
                                                "Branch Rickey",
                                                "Brandon A. Trean",
                                                "Brandon Garic Notch",
                                                "Brandon Gommer",
                                                "Brandon T. Smith",
                                                "Brenda Blethyn",
                                                "Brenda Ueland",
                                                "Brendan Behan",
                                                "Brendan Francis",
                                                "Brendan Francis Behan",
                                                "Brendan Gill",
                                                "Brene Brown",
                                                "Brett Butler",
                                                "Brett Rostochil",
                                                "Brian",
                                                "Brian Adams",
                                                "Brian Aldiss",
                                                "Brian Andreas",
                                                "Brian Deschanel",
                                                "Brian K. Blackden, 1996",
                                                "Brian Kernighan",
                                                "Brian Kiley",
                                                "Brian Lindsay",
                                                "Brian Patten, Schoolboy (1990)",
                                                "Brian Tracy",
                                                "Briana Sims",
                                                "Brigham Young",
                                                "Britney Spears",
                                                "Brittany Murphy",
                                                "Brock Yates",
                                                "Bronwyn Polson",
                                                "Brooke",
                                                "Brooke Hogan",
                                                "Brooklynite Larry David",
                                                "Brooks Atkinson",
                                                "Brooks Hays",
                                                "Bruce B. Dan",
                                                "Bruce Barton",
                                                "Bruce Burton",
                                                "Bruce Cameron",
                                                "Bruce Campbell",
                                                "Bruce Cockburn",
                                                "Bruce Kemper",
                                                "Bruce Lansky",
                                                "Bruce Lee",
                                                "Bruce Lee, Tao of Jeet Kune Do",
                                                "Bruce Leverett - \"Register Allocation in Optimizing Compilers\"",
                                                "Bruce Marton",
                                                "Bruce Schneier",
                                                "Bruce Sterling, The Hacker Crackdown",
                                                "Bruce Williams",
                                                "Bruce Willis",
                                                "Bruno Campello",
                                                "Bryan Culbertson",
                                                "Bryan Thomas",
                                                "Bryane Michael",
                                                "Bryanna Reid",
                                                "Bryant H. McGill",
                                                "Bryant McGill",
                                                "Buckaroo Banzai (the film)",
                                                "Buckminster Fuller",
                                                "Bud Abbott",
                                                "Bud Wilkinson",
                                                "Budd Schulberg",
                                                "Buddha",
                                                "Buddha (563 - 483 B.C.)",
                                                "Buddha, Last words before his death",
                                                "Buddha, The Dhammapada",
                                                "Buddha, The Dharmapada",
                                                "Buddhist",
                                                "Buddy Hackett",
                                                "Buddy Valastro",
                                                "Buhlebenkosi Bhebhe",
                                                "Bulgarian Proverb",
                                                "Burhan Wani",
                                                "Burhan din wani",
                                                "Burk Hudson",
                                                "Burmese Proverb",
                                                "Burt Bacharach",
                                                "Burton",
                                                "Burton Hills",
                                                "Burton Rascoe",
                                                "Business Wizard",
                                                "Butler",
                                                "Button from the Computer Museum, Boston, MA",
                                                "Buy Thesis",
                                                "Buzz Aldrin",
                                                "Buzzie Bavasi",
                                                "Bwanika Joseph",
                                                "Byron Butler",
                                                "Byron C. Radaker",
                                                "Byron J. Langenfeld",
                                                "Byron Katie",
                                                "Byron Pulsifer",
                                                "C. A. Bartol",
                                                "C. C. Colton",
                                                "C. Chesterfield",
                                                "C. D. Jackson",
                                                "C. D. Tavares",
                                                "C. E. Stowe",
                                                "C. G. Jung",
                                                "C. H. Parkhurst",
                                                "C. J. Jung",
                                                "C. Lee Hopkin",
                                                "C. M. Cox",
                                                "C. Mather",
                                                "C. Neil Strait",
                                                "C. P. Scott",
                                                "C. Ryland",
                                                "C. S. Forester",
                                                "C. S. Lewis",
                                                "C. S. Lewis, A preface to \"Paradise Lost\"",
                                                "C. S. Lewis, First things First",
                                                "C. S. Lewis, The Case for Christianity",
                                                "C. V. R. Thompson",
                                                "C. Wright Mills",
                                                "C.30",
                                                "C.S. Lewis",
                                                "C.S. Lewis, Chicken Soup for the Soul (book)",
                                                "CIA Manual",
                                                "CJ Thomas",
                                                "CLIFFORD V. VILLALON",
                                                "CaddyShack",
                                                "Caecilius Statius",
                                                "Caesar Augustus",
                                                "Cailey Sims",
                                                "Caitlin Kell",
                                                "Cale Yarborough",
                                                "Caleb Carr",
                                                "Caleb Logan LeBlanc",
                                                "Caligula (Gaius Caesar)",
                                                "Callimachus (c. 260 B.C.)",
                                                "Calvin",
                                                "Calvin Coolidge",
                                                "Calvin Coolidge or Woodrow Wilson",
                                                "Calvin Miller, The Singer Trilogy",
                                                "Calvin S. Hall",
                                                "Calvin Trillin",
                                                "Camille Paglia",
                                                "Candidate Donald Trump on Saturday",
                                                "Capel Lofft",
                                                "Cardinal John Newman",
                                                "Cardinal Mermillod",
                                                "Cardinal Richelieu",
                                                "Cardinal de Retz",
                                                "Carl Boenish",
                                                "Carl DeHaven",
                                                "Carl Friedrich Gauss",
                                                "Carl Gustav Jung",
                                                "Carl Hermann Voss",
                                                "Carl Jung",
                                                "Carl L. Becker",
                                                "Carl Lotus Becker",
                                                "Carl Polloi",
                                                "Carl Reiner",
                                                "Carl Sagan",
                                                "Carl Sandburg",
                                                "Carl Schurz",
                                                "Carl T. Rowan, Jr.",
                                                "Carl Van Vechten",
                                                "Carl Von Clausewitz, quoted by Gene Hackman in \"Crimson Tide\"",
                                                "Carl Weick",
                                                "Carl William Brown",
                                                "Carl Zwanzig",
                                                "Carl von Clausewitz",
                                                "Carlos Castaneda",
                                                "Carlos Santana, Associated Press interview, September 1, 2004",
                                                "Carlos Slim",
                                                "Carlyle",
                                                "Carmen Sylva",
                                                "Carmen de Monteflores",
                                                "Caro Quintero",
                                                "Carol Botwin",
                                                "Carol Burnett",
                                                "Carol Clarke",
                                                "Carol Malia, BBC Anchorwoman",
                                                "Carole Burnett",
                                                "Carolina Pina",
                                                "Caroline Harrison",
                                                "Caroline Lunny",
                                                "Caroline Norton",
                                                "Caroline Rhea",
                                                "Caroline Warner",
                                                "Carolyn Coats",
                                                "Carolyn Wells",
                                                "Carrie Fisher",
                                                "Carrie Jacobs Bond",
                                                "Carrie P. Snow",
                                                "Carrie Underwood",
                                                "Carter Cole",
                                                "Cary Grant",
                                                "Casey Stengel",
                                                "Casino",
                                                "Caskie Stinnett",
                                                "Caspar de Aguilar",
                                                "Cassandra Clare",
                                                "Cassandra Manual Fansler",
                                                "Cassia Lewis",
                                                "Cat Ellington",
                                                "Catherine Aitken",
                                                "Catherine Marie Wright",
                                                "Catherine Pulsifer",
                                                "Catherine The Great",
                                                "Catherine Zeta-Jones",
                                                "Catherine de Hueck Doherty",
                                                "Cathleen Douglas",
                                                "Catholic Prayer",
                                                "Cathy Guisewite",
                                                "Cathy Ladman",
                                                "Catman Cohen",
                                                "Cato the Censor (?)",
                                                "Cato the Elder",
                                                "Catullus",
                                                "Catz",
                                                "Cecil B. DeMille",
                                                "Cecil Baxter",
                                                "Cecil John Rhodes",
                                                "Cecil John Rhodes (Founder of the Rhodes Scholarships), last words, 1902.",
                                                "Cecil Williams",
                                                "Celine Dion",
                                                "Cenotaph in Hiroshima",
                                                "Cernuda y Bidon Luis Cernuda",
                                                "Cervantes",
                                                "Cesar Chavez",
                                                "Cesar Chavez, letter",
                                                "Cesar Millan",
                                                "Cesare Lombroso",
                                                "Cesare Pavese",
                                                "Chad Horenfeldt",
                                                "Chad Johnson",
                                                "Chad Walsh",
                                                "Chaim Weizmann",
                                                "Chamberlain",
                                                "Channing Pollock",
                                                "Chantal Saperstein",
                                                "Chao Li-hua",
                                                "Chapman Cohen",
                                                "Charis Michelsen",
                                                "Charle Darwin",
                                                "Charles A. Beard",
                                                "Charles A. Cerami",
                                                "Charles A. Dana",
                                                "Charles Atlas",
                                                "Charles Augustin Sainte-Beauve",
                                                "Charles Augustus Lindbergh, Jr.",
                                                "Charles Babbage",
                                                "Charles Barkley",
                                                "Charles Baudelaire",
                                                "Charles Bukowski",
                                                "Charles Buxton",
                                                "Charles C. Noble",
                                                "Charles Caleb Colton",
                                                "Charles Caleb Colton, Lacon, 1820",
                                                "Charles Churchill",
                                                "Charles Cooley",
                                                "Charles Darwin",
                                                "Charles Darwin, The Descent of Man 1871",
                                                "Charles De Gaulle, in \"Les Mots du General\", 1962",
                                                "Charles De Talleyrand",
                                                "Charles Dickens",
                                                "Charles Dickens, A Tale Of Two Cities",
                                                "Charles Dickens, Great Expectations",
                                                "Charles Du Bos",
                                                "Charles Dudley Warner",
                                                "Charles E. Jefferson",
                                                "Charles E. Wilson",
                                                "Charles Erwin Wilson",
                                                "Charles F. Kettering",
                                                "Charles F. Kettering, quoted in Globe and Mail, Toronto, June 18, 2004, page A16, mkesterton@globeandmail.ca",
                                                "Charles Farrar Browne",
                                                "Charles Feidelson, Jr.",
                                                "Charles Fillmore",
                                                "Charles Fletcher Lummis",
[...]
