{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_62c375de-060d-4626-ad9f-ef55a05bdcdd",
            "value": "✓"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "apiversion_c800d04b-f736-4612-a369-c7003d11bd5f",
        "apiId": "api_074b7637-e400-4a77-8a53-2db99ec5f893"
    },
    "info": {
        "title": "Stock Market Data",
        "description": "Comprehensive stock market data sourced from Yahoo Finance and a variety of other sources in one clean package.",
        "version": "v1",
        "x-category": "Financial",
        "x-long-description": "Comprehensive stock market data sourced from Yahoo Finance and a variety of other sources in one clean package. Provided data types include basic company information, real-time price information, financial statements, news coverage, stock similarity metrics, valuation metrics, and economic indicators.\n\nPlease feel free to reach out to our team (help@lattice.dev) with questions or feedback!",
        "x-website": "https://lattice.dev/products/stock-market-data",
        "x-public": true,
        "x-thumbnail": "https://rapidapi-prod-apis.s3.amazonaws.com/2f0b5108-4bf5-4b48-a24a-28c000d7747c.png",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://stock-market-data.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [
        {
            "name": "Search",
            "description": "Utilities for searching for stocks based on various dimensions.",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Screeners",
            "description": "Stocks listed on Yahoo Finance screeners here: https://finance.yahoo.com/screener/",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Options",
            "description": "Stock options data.",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Algorithms",
            "description": "Basic elements of algorithmic logic helpful to building algorithmic trading systems.",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Buzz",
            "description": "Online buzz about stocks, pulled from news outlets and social media.",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Yahoo Finance",
            "description": "Raw data directly from Yahoo Finance.",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Stock Similarity",
            "description": "Similarity measures for pairs of stocks.",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Valuation",
            "description": "Valuation metrics related to individual stocks.",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Stock",
            "description": "Data specific to individual stocks.",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Financials",
            "description": "Company financial statements data.",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Economy",
            "description": "Key economic indicators.",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Indices",
            "description": "Data about key stock market indices.",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Exchanges",
            "description": "Data about key stock market exchanges.",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        }
    ],
    "paths": {
        "/market/index/s-and-p-one-hundred": {
            "get": {
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "S&P 100",
                "description": "A list of all stocks in the S&P 100 index. See https://en.wikipedia.org/wiki/S%26P_100 for details.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Response": {
                                        "description": "",
                                        "summary": "Response"
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                }
            }
        },
        "/market/index/s-and-p-four-hundred": {
            "get": {
                "tags": [
                    "Indices"
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "S&P 400",
                "description": "A list of all stocks in the S&P 500 index. See https://en.wikipedia.org/wiki/S%26P_400 for details.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/buzz/wsb/historical-stats": {
            "get": {
                "tags": [
                    "Buzz"
                ],
                "parameters": [
                    {
                        "name": "ticker_symbol",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "externalDocs": {},
                            "default": "ISH"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Historical Statistics",
                "description": "Fetch day-wise mention data of the ticker on r/WallStreetBets",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Response": {
                                        "description": "",
                                        "summary": "Response",
                                        "value": {}
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                }
            }
        },
        "/buzz/wsb/daily-mentions": {
            "get": {
                "tags": [
                    "Buzz"
                ],
                "parameters": [
                    {
                        "name": "date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "externalDocs": {},
                            "default": "2021-07-10"
                        }
                    },
                    {
                        "name": "ticker_symbol",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "externalDocs": {},
                            "default": "ISH"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Daily Mentions",
                "description": "Get the posts and their respective sentiment scores for the date and ticker mentioned",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Response": {
                                        "description": "",
                                        "summary": "Response",
                                        "value": {
                                            "date": "2021-07-17T04:29:59.638271",
                                            "status": "success",
                                            "daily_mentions": {}
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                }
            }
        },
        "/market/screener/conservative-foreign-funds": {
            "get": {
                "tags": [
                    "Screeners"
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Conservative foreign funds",
                "description": "Funds listed on https://finance.yahoo.com/screener/predefined/conservative_foreign_funds",
                "responses": {
                    "200": {
                        "content": {
                            "text/plain": {
                                "schema": {},
                                "examples": {
                                    "Response": {
                                        "description": "",
                                        "summary": "Response",
                                        "value": "{\"date\": \"2021-05-04T13:22:31.888883\", \"status\": \"success\", \"funds\": [\"RERBX\", \"RERCX\", \"RERGX\", \"AEPGX\", \"VTMNX\", \"VTMGX\", \"VDIPX\", \"VDVIX\", \"MGIAX\", \"MINRX\", \"MINFX\", \"MINGX\", \"SGOIX\", \"DISVX\", \"FESOX\", \"SGOVX\", \"DFISX\", \"TBGVX\", \"VTRIX\", \"OSMNX\", \"MDIHX\", \"AIIEX\", \"AIIYX\", \"IGFRX\", \"FMIYX\", \"PRIDX\", \"OSMCX\", \"OSCIX\", \"MDIGX\", \"MDIJX\", \"MGRQX\", \"HFQRX\", \"TIDDX\", \"WCMRX\", \"HFQCX\", \"HFQAX\", \"OIDNX\", \"OIDYX\", \"DISYX\", \"DISAX\", \"DISRX\", \"FSTSX\", \"HAOYX\", \"IHOAX\", \"PISIX\", \"PIUHX\", \"QIVIX\", \"QIVCX\", \"FIASX\", \"HIAOX\", \"BINCX\", \"NIQVX\", \"NRIQX\", \"NIQTX\", \"SWMIX\", \"TIOSX\", \"GCITX\", \"MXMIX\", \"HBIOX\", \"SICNX\", \"PWIYX\", \"UMBWX\", \"TIVFX\", \"FICSX\", \"FTISX\", \"FIXIX\", \"MXIVX\", \"MXJVX\", \"PFISX\", \"BBHLX\", \"PCIEX\", \"QUSIX\", \"GPIIX\", \"DSCLX\", \"DFSPX\", \"GCICX\", \"GCIUX\", \"GCIRX\", \"GCISX\", \"SFILX\", \"GPIOX\", \"GADGX\", \"WAIOX\", \"BIECX\", \"BIEAX\", \"GHTMX\", \"HFYYX\", \"SIDNX\", \"GIDGX\", \"QUSOX\", \"GITRX\", \"GATMX\", \"GCTMX\", \"WIIOX\", \"SAISX\", \"MXHTX\", \"SBHSX\", \"MXIGX\", \"DIVRX\", \"MFAPX\", \"BUFIX\", \"IVTYX\", \"IYMGX\", \"IVTBX\", \"IVTAX\", \"DISMX\", \"ERISX\", \"ESISX\", \"SBSIX\", \"RINPX\", \"JOSAX\", \"JOSMX\", \"SSEAX\", \"IBVAX\", \"IBVYX\", \"IBVIX\", \"HISIX\", \"HDVYX\", \"MSALX\", \"PRNCX\", \"MICYX\", \"MICIX\", \"MICCX\"]}"
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                }
            }
        },
        "/market/screener/most-actives": {
            "get": {
                "tags": [
                    "Screeners"
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Most actives",
                "description": "Stocks listed on https://finance.yahoo.com/screener/predefined/most_actives",
                "responses": {
                    "200": {
                        "content": {
                            "text/plain": {
                                "schema": {},
                                "examples": {
                                    "Response": {
                                        "description": "",
                                        "summary": "Response",
                                        "value": "{\"date\": \"2021-05-04T13:18:37.519127\", \"status\": \"success\", \"stocks\": [\"MVIS\", \"SNAP\", \"INTC\", \"NIO\", \"AAPL\", \"SKLZ\", \"F\", \"AMD\", \"BAC\", \"AAL\", \"GE\", \"VIAC\", \"T\", \"GGB\", \"PLTR\", \"NKLA\", \"TSLA\", \"PLUG\", \"WFC\", \"AMC\", \"PBR\", \"HBAN\", \"ITUB\", \"FCEL\", \"RIOT\", \"BBD\", \"PFE\", \"NOK\", \"CLF\", \"FCX\", \"MARA\", \"X\", \"HPE\", \"CS\", \"CCL\", \"C\", \"VZ\", \"COTY\", \"TME\", \"FB\", \"ABEV\", \"VALE\", \"MU\", \"SIRI\", \"MSFT\", \"EDU\", \"KMI\", \"XOM\", \"NCLH\", \"VIPS\", \"MRO\", \"BMY\", \"PCG\", \"PINS\", \"ET\", \"JPM\", \"CSCO\", \"UMC\", \"UAL\", \"CCIV\", \"SLB\", \"TWTR\", \"HAL\", \"BP\", \"CLOV\", \"RLX\", \"FSR\", \"MS\", \"KEY\", \"RF\", \"ZNGA\", \"KGC\", \"CIG\", \"SKX\", \"GOLD\", \"BA\", \"IQ\", \"LAZR\", \"NLY\", \"OXY\", \"GM\", \"ORCL\", \"BCS\", \"TLRY\", \"MAT\", \"SWN\", \"RLLCF\", \"MRVL\", \"PTON\", \"DKNG\", \"BSX\", \"PBR-A\", \"TIGR\", \"AUY\", \"TEVA\", \"QS\", \"IBN\", \"DAL\", \"MO\", \"KO\", \"BABA\", \"XPEV\", \"MRNA\", \"UBER\", \"AR\", \"M\", \"CMCSA\", \"SQ\", \"KIM\", \"TSM\", \"KMB\", \"OPEN\", \"BKR\", \"MRK\", \"DISCA\", \"FUBO\", \"AMAT\", \"LUMN\", \"QCOM\", \"WMT\", \"JD\", \"NKE\", \"NUAN\", \"NFLX\", \"COG\", \"SCHW\", \"NRZ\", \"GSX\", \"CNP\", \"RTX\", \"NET\", \"CAN\", \"CLNY\", \"APHA\", \"FHN\", \"LI\", \"CVX\", \"FITB\", \"PG\", \"WMB\", \"CARR\", \"MDLZ\", \"AZN\", \"TFC\", \"AXP\", \"FUTU\", \"AGNC\", \"USB\", \"HPQ\", \"SLM\", \"CX\", \"CAIXY\", \"DIS\", \"NEE\", \"JNJ\", \"FE\", \"FTI\", \"PBCT\", \"KR\", \"ZTO\", \"BILI\", \"APA\", \"NVDA\", \"DOW\", \"COP\", \"ING\", \"BX\", \"AVTR\", \"LVS\", \"BLDP\", \"NYCB\", \"AMCR\", \"GILD\", \"CRM\", \"HST\", \"BB\", \"AMWL\", \"SPCE\", \"V\", \"HON\", \"TJX\", \"SID\", \"ABT\", \"CFG\", \"JBLU\", \"RUN\", \"LYG\", \"ESRT\", \"PPL\", \"LUV\", \"DVN\", \"BIDU\", \"BCE\"]}"
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                }
            }
        },
        "/yfinance/quote": {
            "get": {
                "tags": [
                    "Yahoo Finance"
                ],
                "parameters": [
                    {
                        "name": "ticker_symbol",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "externalDocs": {},
                            "default": "AAPL"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Raw quote",
                "description": "Raw quote data from Yahoo Finance.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Sample response": {
                                        "description": "",
                                        "summary": "Sample response",
                                        "value": {
                                            "currency": "USD",
                                            "exchange": "NMS",
                                            "exchangeDataDelayedBy": 0,
                                            "exchangeTimezoneName": "America/New_York",
                                            "exchangeTimezoneShortName": "EST",
                                            "fiftyTwoWeekHigh": {
                                                "fmt": "145.09",
                                                "raw": 145.09
                                            },
                                            "fiftyTwoWeekHighChange": {
                                                "fmt": "-8.18",
                                                "raw": -8.179993
                                            },
                                            "fiftyTwoWeekHighChangePercent": {
                                                "fmt": "-5.64%",
                                                "raw": -0.056378752
                                            },
                                            "fiftyTwoWeekLow": {
                                                "fmt": "53.15",
                                                "raw": 53.1525
                                            },
                                            "fiftyTwoWeekLowChange": {
                                                "fmt": "83.76",
                                                "raw": 83.75751
                                            },
                                            "fiftyTwoWeekLowChangePercent": {
                                                "fmt": "157.58%",
                                                "raw": 1.5757962
                                            },
                                            "fiftyTwoWeekRange": {
                                                "fmt": "53.15 - 145.09",
                                                "raw": "53.1525 - 145.09"
                                            },
                                            "firstTradeDateMilliseconds": 345479400000,
                                            "fullExchangeName": "NasdaqGS",
                                            "gmtOffSetMilliseconds": -18000000,
                                            "invalid": false,
                                            "isLoading": false,
                                            "language": "en-US",
                                            "longName": "Apple Inc.",
                                            "market": "us_market",
                                            "marketCap": {
                                                "fmt": "2.298T",
                                                "longFmt": "2,298,458,931,200",
                                                "raw": 2298458931200
                                            },
                                            "marketState": "POSTPOST",
                                            "messageBoardId": "finmb_24937",
                                            "priceHint": 2,
                                            "quoteSourceName": "Delayed Quote",
                                            "quoteType": "EQUITY",
                                            "region": "US",
                                            "regularMarketChange": {
                                                "fmt": "0.15",
                                                "raw": 0.15000916
                                            },
                                            "regularMarketChangePercent": {
                                                "fmt": "0.11%",
                                                "raw": 0.10968789
                                            },
                                            "regularMarketDayHigh": {
                                                "fmt": "136.95",
                                                "raw": 136.95
                                            },
                                            "regularMarketDayLow": {
                                                "fmt": "134.93",
                                                "raw": 134.93
                                            },
                                            "regularMarketDayRange": {
                                                "fmt": "134.93 - 136.95",
                                                "raw": "134.93 - 136.95"
                                            },
                                            "regularMarketOpen": {
                                                "fmt": "136.03",
                                                "raw": 136.03
                                            },
                                            "regularMarketPreviousClose": {
                                                "fmt": "136.76",
                                                "raw": 136.76
                                            },
                                            "regularMarketPrice": {
                                                "fmt": "136.91",
                                                "raw": 136.91
                                            },
                                            "regularMarketTime": {
                                                "fmt": "4:00PM EST",
                                                "raw": 1612818002
                                            },
                                            "regularMarketVolume": {
                                                "fmt": "68.006M",
                                                "longFmt": "68,005,611",
                                                "raw": 68005611
                                            },
                                            "sharesOutstanding": {
                                                "fmt": "16.788B",
                                                "longFmt": "16,788,100,096",
                                                "raw": 16788100096
                                            },
                                            "shortName": "Apple Inc.",
                                            "sourceInterval": 15,
                                            "symbol": "AAPL",
                                            "tradeable": false,
                                            "triggerable": true,
                                            "uuid": "8b10e4ae-9eeb-3684-921a-9ab27e4d87aa"
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                }
            }
        },
        "/yfinance/historical-prices": {
            "get": {
                "tags": [
                    "Yahoo Finance"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "The format the time series data will be returned in. Acceptable values are 'json' and 'csv'.",
                        "schema": {
                            "externalDocs": {},
                            "type": "string",
                            "default": "json"
                        }
                    },
                    {
                        "name": "years",
                        "in": "query",
                        "required": false,
                        "description": "The number of years of historical price data to retrieve.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "5"
                        }
                    },
                    {
                        "name": "ticker_symbol",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "externalDocs": {},
                            "default": "AAPL"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Raw historical prices",
                "description": "Raw historical prices data in CSV format from Yahoo Finance.",
                "responses": {
                    "200": {
                        "content": {
                            "text/plain": {
                                "schema": {},
                                "examples": {
                                    "Response": {
                                        "description": "",
                                        "summary": "Response",
                                        "value": "{\"1462406400000\":{\"Open\":23.5,\"High\":23.5175,\"Low\":23.17,\"Close\":23.309999,\"Adj Close\":21.81284,\"Volume\":143562000.0},\"1462492800000\":{\"Open\":23.342501,\"High\":23.362499,\"Low\":22.9625,\"Close\":23.18,\"Adj Close\":21.691189,\"Volume\":174799600.0},\"1462752000000\":{\"Open\":23.25,\"High\":23.442499,\"Low\":23.147499,\"Close\":23.1975,\"Adj Close\":21.707569,\"Volume\":131745600.0},\"1462838400000\":{\"Open\":23.3325,\"High\":23.3925,\"Low\":23.0275,\"Close\":23.355,\"Adj Close\":21.854948,\"Volume\":134747200.0},\"1462924800000\":{\"Open\":23.370001,\"High\":23.3925,\"Low\":23.115,\"Close\":23.127501,\"Adj Close\":21.642059,\"Volume\":114876400.0},\"1463011200000\":{\"Open\":23.18,\"High\":23.195,\"Low\":22.3675,\"Close\":22.584999,\"Adj Close\":21.134403,\"Volume\":305258800.0},\"1463097600000\":{\"Open\":22.5,\"High\":22.9175,\"Low\":22.5,\"Close\":22.629999,\"Adj Close\":21.176514,\"Volume\":177571200.0},\"1463356800000\":{\"Open\":23.0975,\"High\":23.5975,\"Low\":22.9125,\"Close\":23.469999,\"Adj Close\":21.962561,\"Volume\":245039200.0},\"1463443200000\":{\"Open\":23.637501,\"High\":23.674999,\"Low\":23.252501,\"Close\":23.372499,\"Adj Close\":21.871321,\"Volume\":187667600.0},\"1463529600000\":{\"Open\":23.540001,\"High\":23.8025,\"Low\":23.4725,\"Close\":23.639999,\"Adj Close\":22.121643,\"Volume\":168249600.0},\"1463616000000\":{\"Open\":23.66,\"High\":23.66,\"Low\":23.3925,\"Close\":23.549999,\"Adj Close\":22.037428,\"Volume\":121768400.0},\"1463702400000\":{\"Open\":23.66,\"High\":23.8575,\"Low\":23.629999,\"Close\":23.805,\"Adj Close\":22.276043,\"Volume\":128104000.0},\"1463961600000\":{\"Open\":23.967501,\"High\":24.297501,\"Low\":23.9175,\"Close\":24.1075,\"Adj Close\":22.559116,\"Volume\":152074400.0},\"1464048000000\":{\"Open\":24.305,\"High\":24.522499,\"Low\":24.209999,\"Close\":24.475,\"Adj Close\":22.903015,\"Volume\":140560800.0},\"1464134400000\":{\"Open\":24.6675,\"High\":24.934999,\"Low\":24.5275,\"Close\":24.905001,\"Adj Close\":23.305397,\"Volume\":152675200.0},\"1464220800000\":{\"Open\":24.92,\"High\":25.182501,\"Low\":24.66,\"Close\":25.102501,\"Adj Close\":23.490213,\"Volume\":225324800.0},\"1464307200000\":{\"Open\":24.860001,\"High\":25.1175,\"Low\":24.8125,\"Close\":25.0875,\"Adj Close\":23.476171,\"Volume\":145364800.0},\"1464652800000\":{\"Open\":24.9,\"High\":25.1,\"Low\":24.705,\"Close\":24.965,\"Adj Close\":23.361542,\"Volume\":169228800.0},\"1464739200000\":{\"Open\":24.754999,\"High\":24.885,\"Low\":24.5825,\"Close\":24.615,\"Adj Close\":23.034023,\"Volume\":116693200.0},\"1464825600000\":{\"Open\":24.4,\"High\":24.459999,\"Low\":24.157499,\"Close\":24.43,\"Adj Close\":22.860905,\"Volume\":160766400.0},\"1464912000000\":{\"Open\":24.4475,\"High\":24.567499,\"Low\":24.362499,\"Close\":24.48,\"Adj Close\":22.907692,\"Volume\":114019600.0},\"1465171200000\":{\"Open\":24.497499,\"High\":25.4725,\"Low\":24.387501,\"Close\":24.657499,\"Adj Close\":23.07379,\"Volume\":93170000.0},\"1465257600000\":{\"Open\":24.8125,\"High\":24.967501,\"Low\":24.74,\"Close\":24.7575,\"Adj Close\":23.16737,\"Volume\":89638000.0},\"1465344000000\":{\"Open\":24.754999,\"High\":24.889999,\"Low\":24.67,\"Close\":24.735001,\"Adj Close\":23.146317,\"Volume\":83392400.0},\"1465430400000\":{\"Open\":24.625,\"High\":24.997499,\"Low\":24.615,\"Close\":24.9125,\"Adj Close\":23.312412,\"Volume\":106405600.0},\"1465516800000\":{\"Open\":24.6325,\"High\":24.8375,\"Low\":24.620001,\"Close\":24.7075,\"Adj Close\":23.120579,\"Volume\":126851600.0},\"1465776000000\":{\"Open\":24.672501,\"High\":24.780001,\"Low\":24.275,\"Close\":24.334999,\"Adj Close\":22.772001,\"Volume\":152082000.0},\"1465862400000\":{\"Open\":24.33,\"High\":24.620001,\"Low\":24.1875,\"Close\":24.365,\"Adj Close\":22.800076,\"Volume\":127727600.0},\"1465948800000\":{\"Open\":24.455,\"High\":24.602501,\"Low\":24.2575,\"Close\":24.285,\"Adj Close\":22.725216,\"Volume\":117780800.0},\"1466035200000\":{\"Open\":24.112499,\"High\":24.4375,\"Low\":24.0175,\"Close\":24.387501,\"Adj Close\":22.821135,\"Volume\":125307200.0},\"1466121600000\":{\"Open\":24.155001,\"High\":24.1625,\"Low\":23.825001,\"Close\":23.8325,\"Adj Close\":22.301785,\"Volume\":244032800.0},\"1466380800000\":{\"Open\":24.0,\"High\":24.1425,\"Low\":23.7575,\"Close\":23.775,\"Adj Close\":22.247978,\"Volume\":137647600.0},\"1466467200000\":{\"Open\":23.735001,\"High\":24.0875,\"Low\":23.67,\"Close\":23.977501,\"Adj Close\":22.437468,\"Volume\":142185600.0},\"1466553600000\":{\"Open\":24.0625,\"High\":24.2225,\"Low\":23.8375,\"Close\":23.887501,\"Adj Close\":22.353247,\"Volume\":116876400.0},\"1466640000000\":{\"Open\":23.985001,\"High\":24.0725,\"Low\":23.8125,\"Close\":24.025,\"Adj Close\":22.481915,\"Volume\":128960800.0},\"1466726400000\":{\"Open\":23.227501,\"High\":23.665001,\"Low\":23.1625,\"Close\":23.35,\"Adj Close\":21.850271,\"Volume\":301245600.0},\"1466985600000\":{\"Open\":23.25,\"High\":23.262501,\"Low\":22.875,\"Close\":23.01,\"Adj Close\":21.53211,\"Volume\":181958400.0},\"1467072000000\":{\"Open\":23.225,\"High\":23.415001,\"Low\":23.035,\"Close\":23.397499,\"Adj Close\":21.894722,\"Volume\":161779600.0},\"1467158400000\":{\"Open\":23.4925,\"High\":23.637501,\"Low\":23.407499,\"Close\":23.6,\"Adj Close\":22.084213,\"Volume\":146124000.0},\"1467244800000\":{\"Open\":23.610001,\"High\":23.942499,\"Low\":23.575001,\"Close\":23.9,\"Adj Close\":22.364946,\"Volume\":143345600.0},\"1467331200000\":{\"Open\":23.872499,\"High\":24.1175,\"Low\":23.8325,\"Close\":23.9725,\"Adj Close\":22.432791,\"Volume\":104106000.0},\"1467676800000\":{\"Open\":23.8475,\"High\":23.85,\"Low\":23.615,\"Close\":23.747499,\"Adj Close\":22.222239,\"Volume\":110820800.0},\"1467763200000\":{\"Open\":23.65,\"High\":23.915001,\"Low\":23.592501,\"Close\":23.8825,\"Adj Close\":22.34857,\"Volume\":123796400.0},\"1467849600000\":{\"Open\":23.924999,\"High\":24.125,\"Low\":23.905001,\"Close\":23.985001,\"Adj Close\":22.444483,\"Volume\":100558400.0},\"1467936000000\":{\"Open\":24.122499,\"High\":24.2225,\"Low\":24.012501,\"Close\":24.17,\"Adj Close\":22.617603,\"Volume\":115648400.0},\"1468195200000\":{\"Open\":24.1875,\"High\":24.4125,\"Low\":24.182501,\"Close\":24.245001,\"Adj Close\":22.68778,\"Volume\":95179600.0},\"1468281600000\":{\"Open\":24.2925,\"High\":24.424999,\"Low\":24.280001,\"Close\":24.355,\"Adj Close\":22.790722,\"Volume\":96670000.0},\"1468368000000\":{\"Open\":24.352501,\"High\":24.4175,\"Low\":24.209999,\"Close\":24.217501,\"Adj Close\":22.66205,\"Volume\":103568800.0},\"1468454400000\":{\"Open\":24.3475,\"High\":24.747499,\"Low\":24.33,\"Close\":24.6975,\"Adj Close\":23.111225,\"Volume\":155676000.0},\"1468540800000\":{\"Open\":24.73,\"High\":24.825001,\"Low\":24.625,\"Close\":24.695,\"Adj Close\":23.108885,\"Volume\":120548000.0},\"1468800000000\":{\"Open\":24.674999,\"High\":25.032499,\"Low\":24.65,\"Close\":24.9575,\"Adj Close\":23.354523,\"Volume\":145975600.0},\"1468886400000\":{\"Open\":24.889999,\"High\":25.0,\"Low\":24.834999,\"Close\":24.967501,\"Adj Close\":23.363882,\"Volume\":95119600.0},\"1468972800000\":{\"Open\":25.0,\"High\":25.115,\"Low\":24.934999,\"Close\":24.99,\"Adj Close\":23.384943,\"Volume\":105104000.0},\"1469059200000\":{\"Open\":24.9575,\"High\":25.25,\"Low\":24.782499,\"Close\":24.8575,\"Adj Close\":23.260948,\"Volume\":130808000.0},\"1469145600000\":{\"Open\":24.815001,\"High\":24.825001,\"Low\":24.577499,\"Close\":24.665001,\"Adj Close\":23.080814,\"Volume\":113254800.0},\"1469404800000\":{\"Open\":24.5625,\"High\":24.709999,\"Low\":24.23,\"Close\":24.334999,\"Adj Close\":22.772001,\"Volume\":161531600.0},\"1469491200000\":{\"Open\":24.205,\"High\":24.4925,\"Low\":24.105,\"Close\":24.1675,\"Adj Close\":22.615261,\"Volume\":224959200.0},\"1469577600000\":{\"Open\":26.067499,\"High\":26.0875,\"Low\":25.6875,\"Close\":25.737499,\"Adj Close\":24.084423,\"Volume\":369379200.0},\"1469664000000\":{\"Open\":25.7075,\"High\":26.112499,\"Low\":25.705,\"Close\":26.084999,\"Adj Close\":24.409603,\"Volume\":159479200.0},\"1469750400000\":{\"Open\":26.047501,\"High\":26.137501,\"Low\":25.92,\"Close\":26.0525,\"Adj Close\":24.379189,\"Volume\":110934800.0},\"1470009600000\":{\"Open\":26.102501,\"High\":26.5375,\"Low\":26.102501,\"Close\":26.512501,\"Adj Close\":24.809647,\"Volume\":152671600.0},\"1470096000000\":{\"Open\":26.512501,\"High\":26.5175,\"Low\":26.0,\"Close\":26.120001,\"Adj Close\":24.44236,\"Volume\":135266400.0},\"1470182400000\":{\"Open\":26.202499,\"High\":26.459999,\"Low\":26.192499,\"Close\":26.4475,\"Adj Close\":24.748821,\"Volume\":120810400.0},\"1470268800000\":{\"Open\":26.395,\"High\":26.5,\"Low\":26.32,\"Close\":26.467501,\"Adj Close\":24.901709,\"Volume\":109634800.0},\"1470355200000\":{\"Open\":26.567499,\"High\":26.9125,\"Low\":26.545,\"Close\":26.870001,\"Adj Close\":25.280399,\"Volume\":162213600.0},\"1470614400000\":{\"Open\":26.879999,\"High\":27.092501,\"Low\":26.790001,\"Close\":27.092501,\"Adj Close\":25.489735,\"Volume\":112148800.0},\"1470700800000\":{\"Open\":27.057501,\"High\":27.235001,\"Low\":27.002501,\"Close\":27.202499,\"Adj Close\":25.593224,\"Volume\":105260800.0},\"1470787200000\":{\"Open\":27.1775,\"High\":27.225,\"Low\":26.940001,\"Close\":27.0,\"Adj Close\":25.402708,\"Volume\":96034000.0},\"1470873600000\":{\"Open\":27.129999,\"High\":27.2325,\"Low\":26.9625,\"Close\":26.9825,\"Adj Close\":25.386244,\"Volume\":109938000.0},\"1470960000000\":{\"Open\":26.945,\"High\":27.110001,\"Low\":26.945,\"Close\":27.045,\"Adj Close\":25.44504,\"Volume\":74641600.0},\"1471219200000\":{\"Open\":27.035,\"High\":27.385,\"Low\":27.02,\"Close\":27.370001,\"Adj Close\":25.750818,\"Volume\":103472800.0},\"1471305600000\":{\"Open\":27.407499,\"High\":27.557501,\"Low\":27.3025,\"Close\":27.344999,\"Adj Close\":25.727297,\"Volume\":135177600.0},\"1471392000000\":{\"Open\":27.275,\"High\":27.342501,\"Low\":27.084999,\"Close\":27.305,\"Adj Close\":25.689667,\"Volume\":101424000.0},\"1471478400000\":{\"Open\":27.307501,\"High\":27.4,\"Low\":27.254999,\"Close\":27.27,\"Adj Close\":25.656736,\"Volume\":87938800.0},\"1471564800000\":{\"Open\":27.192499,\"High\":27.422501,\"Low\":27.09,\"Close\":27.34,\"Adj Close\":25.722595,\"Volume\":101472400.0},\"1471824000000\":{\"Open\":27.215,\"High\":27.275,\"Low\":26.9625,\"Close\":27.127501,\"Adj Close\":25.522665,\"Volume\":103280800.0},\"1471910400000\":{\"Open\":27.147499,\"High\":27.33,\"Low\":27.1325,\"Close\":27.2125,\"Adj Close\":25.602634,\"Volume\":85030800.0},\"1471996800000\":{\"Open\":27.1425,\"High\":27.1875,\"Low\":26.92,\"Close\":27.0075,\"Adj Close\":25.409765,\"Volume\":94700400.0},\"1472083200000\":{\"Open\":26.8475,\"High\":26.969999,\"Low\":26.67,\"Close\":26.8925,\"Adj Close\":25.301565,\"Volume\":100344800.0},\"1472169600000\":{\"Open\":26.852501,\"High\":26.987499,\"Low\":26.577499,\"Close\":26.735001,\"Adj Close\":25.153379,\"Volume\":111065200.0},\"1472428800000\":{\"Open\":26.655001,\"High\":26.860001,\"Low\":26.5725,\"Close\":26.705,\"Adj Close\":25.125162,\"Volume\":99881200.0},\"1472515200000\":{\"Open\":26.450001,\"High\":26.625,\"Low\":26.375,\"Close\":26.5,\"Adj Close\":24.932287,\"Volume\":99455600.0},\"1472601600000\":{\"Open\":26.415001,\"High\":26.6425,\"Low\":26.41,\"Close\":26.525,\"Adj Close\":24.955809,\"Volume\":118649600.0},\"1472688000000\":{\"Open\":26.535,\"High\":26.700001,\"Low\":26.405001,\"Close\":26.682501,\"Adj Close\":25.103992,\"Volume\":106806000.0},\"1472774400000\":{\"Open\":26.924999,\"High\":27.0,\"Low\":26.705,\"Close\":26.932501,\"Adj Close\":25.339201,\"Volume\":107210000.0},\"1473120000000\":{\"Open\":26.975,\"High\":27.075001,\"Low\":26.877501,\"Close\":26.924999,\"Adj Close\":25.332144,\"Volume\":107521600.0},\"1473206400000\":{\"Open\":26.9575,\"High\":27.190001,\"Low\":26.7675,\"Close\":27.09,\"Adj Close\":25.487383,\"Volume\":169457200.0},\"1473292800000\":{\"Open\":26.8125,\"High\":26.817499,\"Low\":26.309999,\"Close\":26.379999,\"Adj Close\":24.819384,\"Volume\":212008000.0},\"1473379200000\":{\"Open\":26.16,\"High\":26.43,\"Low\":25.782499,\"Close\":25.782499,\"Adj Close\":24.257231,\"Volume\":186228000.0},\"1473638400000\":{\"Open\":25.6625,\"High\":26.43,\"Low\":25.6325,\"Close\":26.360001,\"Adj Close\":24.80057,\"Volume\":181171200.0},\"1473724800000\":{\"Open\":26.877501,\"High\":27.1975,\"Low\":26.809999,\"Close\":26.987499,\"Adj Close\":25.390945,\"Volume\":248704800.0},\"1473811200000\":{\"Open\":27.182501,\"High\":28.2575,\"Low\":27.15,\"Close\":27.942499,\"Adj Close\":26.289452,\"Volume\":443554800.0},\"1473897600000\":{\"Open\":28.465,\"High\":28.932501,\"Low\":28.372499,\"Close\":28.8925,\"Adj Close\":27.183249,\"Volume\":359934400.0},\"1473984000000\":{\"Open\":28.780001,\"High\":29.032499,\"Low\":28.51,\"Close\":28.73,\"Adj Close\":27.030363,\"Volume\":319547600.0},\"1474243200000\":{\"Open\":28.797501,\"High\":29.045,\"Low\":28.3125,\"Close\":28.395,\"Adj Close\":26.715181,\"Volume\":188092000.0},\"1474329600000\":{\"Open\":28.262501,\"High\":28.530001,\"Low\":28.127501,\"Close\":28.3925,\"Adj Close\":26.712826,\"Volume\":138057200.0},\"1474416000000\":{\"Open\":28.4625,\"High\":28.497499,\"Low\":28.110001,\"Close\":28.387501,\"Adj Close\":26.708122,\"Volume\":144012800.0},\"1474502400000\":{\"Open\":28.5875,\"High\":28.735001,\"Low\":28.5,\"Close\":28.655001,\"Adj Close\":26.959799,\"Volume\":124296000.0},\"1474588800000\":{\"Open\":28.605,\"High\":28.6975,\"Low\":27.887501,\"Close\":28.1775,\"Adj Close\":26.510548,\"Volume\":209924800.0},\"1474848000000\":{\"Open\":27.91,\"High\":28.3475,\"Low\":27.887501,\"Close\":28.219999,\"Adj Close\":26.550533,\"Volume\":119477600.0},\"1474934400000\":{\"Open\":28.25,\"High\":28.295,\"Low\":28.084999,\"Close\":28.272499,\"Adj Close\":26.599924,\"Volume\":98429600.0},\"1475020800000\":{\"Open\":28.422501,\"High\":28.66,\"Low\":28.3575,\"Close\":28.487499,\"Adj Close\":26.802208,\"Volume\":118564400.0},\"1475107200000\":{\"Open\":28.290001,\"High\":28.450001,\"Low\":27.950001,\"Close\":28.045,\"Adj Close\":26.385885,\"Volume\":143548000.0},\"1475193600000\":{\"Open\":28.115,\"High\":28.342501,\"Low\":27.950001,\"Close\":28.262501,\"Adj Close\":26.590519,\"Volume\":145516400.0},\"1475452800000\":{\"Open\":28.1775,\"High\":28.262501,\"Low\":28.07,\"Close\":28.129999,\"Adj Close\":26.465857,\"Volume\":86807200.0},\"1475539200000\":{\"Open\":28.264999,\"High\":28.577499,\"Low\":28.157499,\"Close\":28.25,\"Adj Close\":26.578756,\"Volume\":118947200.0},\"1475625600000\":{\"Open\":28.35,\"High\":28.415001,\"Low\":28.172501,\"Close\":28.262501,\"Adj Close\":26.590519,\"Volume\":85812400.0},\"1475712000000\":{\"Open\":28.424999,\"High\":28.584999,\"Low\":28.282499,\"Close\":28.4725,\"Adj Close\":26.788094,\"Volume\":115117200.0},\"1475798400000\":{\"Open\":28.577499,\"High\":28.639999,\"Low\":28.377501,\"Close\":28.514999,\"Adj Close\":26.828075,\"Volume\":97433600.0},\"1476057600000\":{\"Open\":28.754999,\"High\":29.1875,\"Low\":28.68,\"Close\":29.012501,\"Adj Close\":27.296154,\"Volume\":144944000.0},\"1476144000000\":{\"Open\":29.424999,\"High\":29.672501,\"Low\":29.049999,\"Close\":29.075001,\"Adj Close\":27.354954,\"Volume\":256164000.0},\"1476230400000\":{\"Open\":29.3375,\"High\":29.495001,\"Low\":29.1875,\"Close\":29.334999,\"Adj Close\":27.599573,\"Volume\":150347200.0},\"1476316800000\":{\"Open\":29.1975,\"High\":29.360001,\"Low\":28.93,\"Close\":29.245001,\"Adj Close\":27.514896,\"Volume\":140769600.0},\"1476403200000\":{\"Open\":29.469999,\"High\":29.5425,\"Low\":29.282499,\"Close\":29.407499,\"Adj Close\":27.66778,\"Volume\":142608800.0},\"1476662400000\":{\"Open\":29.3325,\"High\":29.459999,\"Low\":29.195,\"Close\":29.387501,\"Adj Close\":27.648966,\"Volume\":94499600.0},\"1476748800000\":{\"Open\":29.545,\"High\":29.5525,\"Low\":29.362499,\"Close\":29.3675,\"Adj Close\":27.63015,\"Volume\":98214000.0},\"1476835200000\":{\"Open\":29.3125,\"High\":29.440001,\"Low\":28.450001,\"Close\":29.280001,\"Adj Close\":27.547821,\"Volume\":80138400.0},\"1476921600000\":{\"Open\":29.215,\"High\":29.344999,\"Low\":29.0825,\"Close\":29.264999,\"Adj Close\":27.533712,\"Volume\":96503200.0},\"1477008000000\":{\"Open\":29.202499,\"High\":29.227501,\"Low\":29.07,\"Close\":29.15,\"Adj Close\":27.425516,\"Volume\":92770800.0},\"1477267200000\":{\"Open\":29.275,\"High\":29.434999,\"Low\":29.25,\"Close\":29.4125,\"Adj Close\":27.672491,\"Volume\":94154800.0},\"1477353600000\":{\"Open\":29.487499,\"High\":29.59,\"Low\":29.327499,\"Close\":29.5625,\"Adj Close\":27.813614,\"Volume\":192516000.0},\"1477440000000\":{\"Open\":28.577499,\"High\":28.924999,\"Low\":28.327499,\"Close\":28.897499,\"Adj Close\":27.187952,\"Volume\":264536800.0},\"1477526400000\":{\"Open\":28.8475,\"High\":28.965,\"Low\":28.525,\"Close\":28.620001,\"Adj Close\":26.926868,\"Volume\":138248000.0},\"1477612800000\":{\"Open\":28.467501,\"High\":28.8025,\"Low\":28.362499,\"Close\":28.43,\"Adj Close\":26.748108,\"Volume\":151446800.0},\"1477872000000\":{\"Open\":28.4125,\"High\":28.557501,\"Low\":28.299999,\"Close\":28.385,\"Adj Close\":26.705769,\"Volume\":105677600.0},\"1477958400000\":{\"Open\":28.365,\"High\":28.442499,\"Low\":27.6325,\"Close\":27.872499,\"Adj Close\":26.223593,\"Volume\":175303200.0},\"1478044800000\":{\"Open\":27.85,\"High\":28.0875,\"Low\":27.807501,\"Close\":27.897499,\"Adj Close\":26.24711,\"Volume\":113326800.0},\"1478131200000\":{\"Open\":27.745001,\"High\":27.865,\"Low\":27.387501,\"Close\":27.4575,\"Adj Close\":25.965776,\"Volume\":107730400.0},\"1478217600000\":{\"Open\":27.1325,\"High\":27.5625,\"Low\":27.0275,\"Close\":27.209999,\"Adj Close\":25.73172,\"Volume\":123348000.0},\"1478476800000\":{\"Open\":27.52,\"High\":27.627501,\"Low\":27.365,\"Close\":27.602501,\"Adj Close\":26.1029,\"Volume\":130240000.0},\"1478563200000\":{\"Open\":27.577499,\"High\":27.93,\"Low\":27.424999,\"Close\":27.764999,\"Adj Close\":26.256563,\"Volume\":97016800.0},\"1478649600000\":{\"Open\":27.469999,\"High\":27.83,\"Low\":27.012501,\"Close\":27.719999,\"Adj Close\":26.214012,\"Volume\":236705600.0},\"1478736000000\":{\"Open\":27.772499,\"High\":27.772499,\"Low\":26.4575,\"Close\":26.9475,\"Adj Close\":25.483482,\"Volume\":228538000.0},\"1478822400000\":{\"Open\":26.780001,\"High\":27.217501,\"Low\":26.637501,\"Close\":27.1075,\"Adj Close\":25.634789,\"Volume\":136575600.0},\"1479081600000\":{\"Open\":26.9275,\"High\":26.952499,\"Low\":26.02,\"Close\":26.4275,\"Adj Close\":24.991735,\"Volume\":204702000.0},\"1479168000000\":{\"Open\":26.6425,\"High\":26.92,\"Low\":26.540001,\"Close\":26.7775,\"Adj Close\":25.322718,\"Volume\":129058000.0},\"1479254400000\":{\"Open\":26.674999,\"High\":27.557501,\"Low\":26.65,\"Close\":27.497499,\"Adj Close\":26.003603,\"Volume\":235362000.0},\"1479340800000\":{\"Open\":27.452499,\"High\":27.5875,\"Low\":27.2075,\"Close\":27.487499,\"Adj Close\":25.994146,\"Volume\":110528000.0},\"1479427200000\":{\"Open\":27.43,\"High\":27.635,\"Low\":27.415001,\"Close\":27.514999,\"Adj Close\":26.020147,\"Volume\":113715600.0},\"1479686400000\":{\"Open\":27.530001,\"High\":27.997499,\"Low\":27.502501,\"Close\":27.932501,\"Adj Close\":26.414972,\"Volume\":117058400.0},\"1479772800000\":{\"Open\":27.987499,\"High\":28.105,\"Low\":27.85,\"Close\":27.950001,\"Adj Close\":26.431519,\"Volume\":103862000.0},\"1479859200000\":{\"Open\":27.84,\"High\":27.877501,\"Low\":27.5825,\"Close\":27.807501,\"Adj Close\":26.296761,\"Volume\":109705600.0},\"1480032000000\":{\"Open\":27.782499,\"High\":27.967501,\"Low\":27.737499,\"Close\":27.9475,\"Adj Close\":26.429152,\"Volume\":45903600.0},\"1480291200000\":{\"Open\":27.8575,\"High\":28.1175,\"Low\":27.8475,\"Close\":27.8925,\"Adj Close\":26.37714,\"Volume\":108776000.0},\"1480377600000\":{\"Open\":27.695,\"High\":28.0075,\"Low\":27.5175,\"Close\":27.865,\"Adj Close\":26.351133,\"Volume\":114115200.0},\"1480464000000\":{\"Open\":27.9,\"High\":28.049999,\"Low\":27.567499,\"Close\":27.629999,\"Adj Close\":26.128902,\"Volume\":144649200.0},\"1480550400000\":{\"Open\":27.592501,\"High\":27.735001,\"Low\":27.2575,\"Close\":27.372499,\"Adj Close\":25.885395,\"Volume\":148347600.0},\"1480636800000\":{\"Open\":27.2925,\"High\":27.522499,\"Low\":27.2125,\"Close\":27.475,\"Adj Close\":25.982323,\"Volume\":106112000.0},\"1480896000000\":{\"Open\":27.5,\"High\":27.5075,\"Low\":27.0625,\"Close\":27.2775,\"Adj Close\":25.795553,\"Volume\":137298000.0},\"1480982400000\":{\"Open\":27.375,\"High\":27.59,\"Low\":27.297501,\"Close\":27.487499,\"Adj Close\":25.994146,\"Volume\":104782000.0},\"1481068800000\":{\"Open\":27.315001,\"High\":27.797501,\"Low\":27.290001,\"Close\":27.7575,\"Adj Close\":26.249474,\"Volume\":119994800.0},\"1481155200000\":{\"Open\":27.715,\"High\":28.1075,\"Low\":27.65,\"Close\":28.030001,\"Adj Close\":26.507175,\"Volume\":108273200.0},\"1481241600000\":{\"Open\":28.077499,\"High\":28.674999,\"Low\":28.077499,\"Close\":28.487499,\"Adj Close\":26.939817,\"Volume\":137610400.0},\"1481500800000\":{\"Open\":28.3225,\"High\":28.75,\"Low\":28.122499,\"Close\":28.325001,\"Adj Close\":26.786144,\"Volume\":105497600.0},\"1481587200000\":{\"Open\":28.459999,\"High\":28.98,\"Low\":28.4375,\"Close\":28.797501,\"Adj Close\":27.232977,\"Volume\":174935200.0},\"1481673600000\":{\"Open\":28.76,\"High\":29.049999,\"Low\":28.745001,\"Close\":28.797501,\"Adj Close\":27.232977,\"Volume\":136127200.0},\"1481760000000\":{\"Open\":28.844999,\"High\":29.182501,\"Low\":28.807501,\"Close\":28.955,\"Adj Close\":27.381918,\"Volume\":186098000.0},\"1481846400000\":{\"Open\":29.1175,\"High\":29.125,\"Low\":28.9125,\"Close\":28.9925,\"Adj Close\":27.417383,\"Volume\":177404400.0},\"1482105600000\":{\"Open\":28.950001,\"High\":29.344999,\"Low\":28.9375,\"Close\":29.16,\"Adj Close\":27.575779,\"Volume\":111117600.0},\"1482192000000\":{\"Open\":29.184999,\"High\":29.375,\"Low\":29.17,\"Close\":29.237499,\"Adj Close\":27.649071,\"Volume\":85700000.0},\"1482278400000\":{\"Open\":29.200001,\"High\":29.35,\"Low\":29.195,\"Close\":29.264999,\"Adj Close\":27.675074,\"Volume\":95132800.0},\"1482364800000\":{\"Open\":29.0875,\"High\":29.127501,\"Low\":28.91,\"Close\":29.0725,\"Adj Close\":27.493036,\"Volume\":104343600.0},\"1482451200000\":{\"Open\":28.897499,\"High\":29.129999,\"Low\":28.897499,\"Close\":29.129999,\"Adj Close\":27.547411,\"Volume\":56998000.0},\"1482796800000\":{\"Open\":29.129999,\"High\":29.450001,\"Low\":29.122499,\"Close\":29.315001,\"Adj Close\":27.722363,\"Volume\":73187600.0},\"1482883200000\":{\"Open\":29.379999,\"High\":29.504999,\"Low\":29.049999,\"Close\":29.190001,\"Adj Close\":27.604153,\"Volume\":83623600.0},\"1482969600000\":{\"Open\":29.112499,\"High\":29.2775,\"Low\":29.1,\"Close\":29.182501,\"Adj Close\":27.597061,\"Volume\":60158000.0},\"1483056000000\":{\"Open\":29.1625,\"High\":29.299999,\"Low\":28.8575,\"Close\":28.955,\"Adj Close\":27.381918,\"Volume\":122345200.0},\"1483401600000\":{\"Open\":28.950001,\"High\":29.0825,\"Low\":28.690001,\"Close\":29.0375,\"Adj Close\":27.459938,\"Volume\":115127600.0},\"1483488000000\":{\"Open\":28.9625,\"High\":29.127501,\"Low\":28.9375,\"Close\":29.004999,\"Adj Close\":27.429203,\"Volume\":84472400.0},\"1483574400000\":{\"Open\":28.98,\"High\":29.215,\"Low\":28.952499,\"Close\":29.1525,\"Adj Close\":27.568691,\"Volume\":88774400.0},\"1483660800000\":{\"Open\":29.195,\"High\":29.540001,\"Low\":29.1175,\"Close\":29.477501,\"Adj Close\":27.87603,\"Volume\":127007600.0},\"1483920000000\":{\"Open\":29.487499,\"High\":29.8575,\"Low\":29.485001,\"Close\":29.747499,\"Adj Close\":28.131361,\"Volume\":134247600.0},\"1484006400000\":{\"Open\":29.692499,\"High\":29.844999,\"Low\":29.575001,\"Close\":29.7775,\"Adj Close\":28.159733,\"Volume\":97848400.0},\"1484092800000\":{\"Open\":29.684999,\"High\":29.9825,\"Low\":29.65,\"Close\":29.9375,\"Adj Close\":28.311039,\"Volume\":110354400.0},\"1484179200000\":{\"Open\":29.725,\"High\":29.825001,\"Low\":29.5525,\"Close\":29.8125,\"Adj Close\":28.192831,\"Volume\":108344800.0},\"1484265600000\":{\"Open\":29.7775,\"High\":29.905001,\"Low\":29.702499,\"Close\":29.76,\"Adj Close\":28.143188,\"Volume\":104447600.0},\"1484611200000\":{\"Open\":29.584999,\"High\":30.059999,\"Low\":29.555,\"Close\":30.0,\"Adj Close\":28.37015,\"Volume\":137759200.0},\"1484697600000\":{\"Open\":30.0,\"High\":30.125,\"Low\":29.9275,\"Close\":29.997499,\"Adj Close\":28.367781,\"Volume\":94852000.0},\"1484784000000\":{\"Open\":29.85,\"High\":30.022499,\"Low\":29.842501,\"Close\":29.945,\"Adj Close\":28.318136,\"Volume\":102389200.0},\"1484870400000\":{\"Open\":30.112499,\"High\":30.112499,\"Low\":29.932501,\"Close\":30.0,\"Adj Close\":28.37015,\"Volume\":130391600.0},\"1485129600000\":{\"Open\":30.0,\"High\":30.202499,\"Low\":29.942499,\"Close\":30.02,\"Adj Close\":28.389057,\"Volume\":88200800.0},\"1485216000000\":{\"Open\":29.887501,\"High\":30.025,\"Low\":29.875,\"Close\":29.9925,\"Adj Close\":28.363052,\"Volume\":92844000.0},\"1485302400000\":{\"Open\":30.105,\"High\":30.525,\"Low\":30.07,\"Close\":30.469999,\"Adj Close\":28.81461,\"Volume\":129510400.0},\"1485388800000\":{\"Open\":30.4175,\"High\":30.610001,\"Low\":30.4,\"Close\":30.485001,\"Adj Close\":28.828796,\"Volume\":105350400.0},\"1485475200000\":{\"Open\":30.535,\"High\":30.5875,\"Low\":30.4,\"Close\":30.487499,\"Adj Close\":28.83116,\"Volume\":82251600.0},\"1485734400000\":{\"Open\":30.2325,\"High\":30.407499,\"Low\":30.165001,\"Close\":30.407499,\"Adj Close\":28.755507,\"Volume\":121510000.0},\"1485820800000\":{\"Open\":30.2875,\"High\":30.3475,\"Low\":30.155001,\"Close\":30.3375,\"Adj Close\":28.689308,\"Volume\":196804000.0},\"1485907200000\":{\"Open\":31.7575,\"High\":32.622501,\"Low\":31.752501,\"Close\":32.1875,\"Adj Close\":30.438799,\"Volume\":447940000.0},\"1485993600000\":{\"Open\":31.995001,\"High\":32.3475,\"Low\":31.945,\"Close\":32.1325,\"Adj Close\":30.386791,\"Volume\":134841600.0},\"1486080000000\":{\"Open\":32.077499,\"High\":32.297501,\"Low\":32.040001,\"Close\":32.27,\"Adj Close\":30.516821,\"Volume\":98029200.0},\"1486339200000\":{\"Open\":32.282501,\"High\":32.625,\"Low\":32.224998,\"Close\":32.572498,\"Adj Close\":30.802887,\"Volume\":107383600.0},\"1486425600000\":{\"Open\":32.634998,\"High\":33.022499,\"Low\":32.612499,\"Close\":32.8825,\"Adj Close\":31.096045,\"Volume\":152735200.0},\"1486512000000\":{\"Open\":32.837502,\"High\":33.055,\"Low\":32.805,\"Close\":33.009998,\"Adj Close\":31.216612,\"Volume\":92016400.0},\"1486598400000\":{\"Open\":32.912498,\"High\":33.112499,\"Low\":32.779999,\"Close\":33.105,\"Adj Close\":31.442188,\"Volume\":113399600.0},\"1486684800000\":{\"Open\":33.115002,\"High\":33.235001,\"Low\":33.012501,\"Close\":33.029999,\"Adj Close\":31.370947,\"Volume\":80262000.0},\"1486944000000\":{\"Open\":33.27,\"High\":33.455002,\"Low\":33.1875,\"Close\":33.322498,\"Adj Close\":31.648762,\"Volume\":92141600.0},\"1487030400000\":{\"Open\":33.3675,\"High\":33.772499,\"Low\":33.3125,\"Close\":33.755001,\"Adj Close\":32.059544,\"Volume\":132904800.0},\"1487116800000\":{\"Open\":33.880001,\"High\":34.067501,\"Low\":33.654999,\"Close\":33.877499,\"Adj Close\":32.175884,\"Volume\":142492400.0},\"1487203200000\":{\"Open\":33.9175,\"High\":33.974998,\"Low\":33.709999,\"Close\":33.837502,\"Adj Close\":32.137894,\"Volume\":90338400.0},\"1487289600000\":{\"Open\":33.775002,\"High\":33.9575,\"Low\":33.775002,\"Close\":33.93,\"Adj Close\":32.225754,\"Volume\":88792800.0},\"1487635200000\":{\"Open\":34.057499,\"High\":34.1875,\"Low\":33.994999,\"Close\":34.174999,\"Adj Close\":32.458447,\"Volume\":98028800.0},\"1487721600000\":{\"Open\":34.107498,\"High\":34.279999,\"Low\":34.0275,\"Close\":34.2775,\"Adj Close\":32.555794,\"Volume\":83347600.0},\"1487808000000\":{\"Open\":34.345001,\"High\":34.369999,\"Low\":34.075001,\"Close\":34.1325,\"Adj Close\":32.418076,\"Volume\":83152800.0},\"1487894400000\":{\"Open\":33.977501,\"High\":34.165001,\"Low\":33.82,\"Close\":34.165001,\"Adj Close\":32.448948,\"Volume\":87106400.0},\"1488153600000\":{\"Open\":34.285,\"High\":34.360001,\"Low\":34.07,\"Close\":34.232498,\"Adj Close\":32.513054,\"Volume\":81029600.0},\"1488240000000\":{\"Open\":34.27,\"High\":34.360001,\"Low\":34.174999,\"Close\":34.247501,\"Adj Close\":32.527302,\"Volume\":93931600.0},\"1488326400000\":{\"Open\":34.4725,\"High\":35.037498,\"Low\":34.400002,\"Close\":34.947498,\"Adj Close\":33.192142,\"Volume\":145658400.0},\"1488412800000\":{\"Open\":35.0,\"High\":35.07,\"Low\":34.689999,\"Close\":34.740002,\"Adj Close\":32.995064,\"Volume\":104844000.0},\"1488499200000\":{\"Open\":34.695,\"High\":34.9575,\"Low\":34.647499,\"Close\":34.945,\"Adj Close\":33.189762,\"Volume\":84432400.0},\"1488758400000\":{\"Open\":34.842499,\"High\":34.942501,\"Low\":34.650002,\"Close\":34.834999,\"Adj Close\":33.085289,\"Volume\":87000000.0},\"1488844800000\":{\"Open\":34.764999,\"High\":34.994999,\"Low\":34.697498,\"Close\":34.880001,\"Adj Close\":33.128029,\"Volume\":69785200.0},\"1488931200000\":{\"Open\":34.737499,\"High\":34.950001,\"Low\":34.705002,\"Close\":34.75,\"Adj Close\":33.004562,\"Volume\":74828800.0},\"1489017600000\":{\"Open\":34.685001,\"High\":34.697498,\"Low\":34.262501,\"Close\":34.669998,\"Adj Close\":32.928577,\"Volume\":88623600.0},\"1489104000000\":{\"Open\":34.8125,\"High\":34.84,\"Low\":34.66,\"Close\":34.785,\"Adj Close\":33.037796,\"Volume\":78451200.0},\"1489363200000\":{\"Open\":34.712502,\"High\":34.857498,\"Low\":34.705002,\"Close\":34.799999,\"Adj Close\":33.052044,\"Volume\":69686800.0},\"1489449600000\":{\"Open\":34.825001,\"High\":34.912498,\"Low\":34.709999,\"Close\":34.747501,\"Adj Close\":33.002182,\"Volume\":61236400.0},\"1489536000000\":{\"Open\":34.852501,\"High\":35.1875,\"Low\":34.7575,\"Close\":35.115002,\"Adj Close\":33.351227,\"Volume\":102767200.0},\"1489622400000\":{\"Open\":35.18,\"High\":35.255001,\"Low\":35.064999,\"Close\":35.172501,\"Adj Close\":33.405842,\"Volume\":76928000.0},\"1489708800000\":{\"Open\":35.25,\"High\":35.25,\"Low\":34.9725,\"Close\":34.997501,\"Adj Close\":33.239635,\"Volume\":175540000.0},\"1489968000000\":{\"Open\":35.099998,\"High\":35.375,\"Low\":35.057499,\"Close\":35.365002,\"Adj Close\":33.588676,\"Volume\":86168000.0},\"1490054400000\":{\"Open\":35.5275,\"High\":35.700001,\"Low\":34.932499,\"Close\":34.959999,\"Adj Close\":33.204002,\"Volume\":158119600.0},\"1490140800000\":{\"Open\":34.962502,\"High\":35.400002,\"Low\":34.939999,\"Close\":35.355,\"Adj Close\":33.57917,\"Volume\":103440800.0},\"1490227200000\":{\"Open\":35.314999,\"High\":35.395,\"Low\":35.1525,\"Close\":35.23,\"Adj Close\":33.460449,\"Volume\":81385200.0},\"1490313600000\":{\"Open\":35.375,\"High\":35.435001,\"Low\":35.087502,\"Close\":35.16,\"Adj Close\":33.393963,\"Volume\":89582400.0},\"1490572800000\":{\"Open\":34.8475,\"High\":35.305,\"Low\":34.654999,\"Close\":35.220001,\"Adj Close\":33.450958,\"Volume\":94300400.0},\"1490659200000\":{\"Open\":35.227501,\"High\":36.009998,\"Low\":35.154999,\"Close\":35.950001,\"Adj Close\":34.144287,\"Volume\":133499200.0},\"1490745600000\":{\"Open\":35.919998,\"High\":36.122501,\"Low\":35.797501,\"Close\":36.029999,\"Adj Close\":34.220264,\"Volume\":116760000.0},\"1490832000000\":{\"Open\":36.047501,\"High\":36.125,\"Low\":35.875,\"Close\":35.982498,\"Adj Close\":34.175156,\"Volume\":84829200.0},\"1490918400000\":{\"Open\":35.93,\"High\":36.067501,\"Low\":35.752499,\"Close\":35.915001,\"Adj Close\":34.111042,\"Volume\":78646800.0},\"1491177600000\":{\"Open\":35.927502,\"High\":36.029999,\"Low\":35.762501,\"Close\":35.924999,\"Adj Close\":34.120541,\"Volume\":79942800.0},\"1491264000000\":{\"Open\":35.8125,\"High\":36.2225,\"Low\":35.7925,\"Close\":36.192501,\"Adj Close\":34.374607,\"Volume\":79565600.0},\"1491350400000\":{\"Open\":36.055,\"High\":36.365002,\"Low\":35.952499,\"Close\":36.005001,\"Adj Close\":34.196522,\"Volume\":110871600.0},\"1491436800000\":{\"Open\":36.072498,\"High\":36.130001,\"Low\":35.862499,\"Close\":35.915001,\"Adj Close\":34.111042,\"Volume\":84596000.0},\"1491523200000\":{\"Open\":35.932499,\"High\":36.044998,\"Low\":35.817501,\"Close\":35.834999,\"Adj Close\":34.035061,\"Volume\":66688800.0},\"1491782400000\":{\"Open\":35.900002,\"High\":35.970001,\"Low\":35.724998,\"Close\":35.7925,\"Adj Close\":33.994701,\"Volume\":75733600.0},\"1491868800000\":{\"Open\":35.735001,\"High\":35.837502,\"Low\":35.014999,\"Close\":35.407501,\"Adj Close\":33.629044,\"Volume\":121517600.0},\"1491955200000\":{\"Open\":35.400002,\"High\":35.537498,\"Low\":35.252499,\"Close\":35.450001,\"Adj Close\":33.669403,\"Volume\":81400000.0},\"1492041600000\":{\"Open\":35.477501,\"High\":35.595001,\"Low\":35.262501,\"Close\":35.262501,\"Adj Close\":33.491325,\"Volume\":71291600.0},\"1492387200000\":{\"Open\":35.369999,\"High\":35.470001,\"Low\":35.217499,\"Close\":35.4575,\"Adj Close\":33.676521,\"Volume\":66328400.0},\"1492473600000\":{\"Open\":35.352501,\"High\":35.509998,\"Low\":35.2775,\"Close\":35.299999,\"Adj Close\":33.526943,\"Volume\":58790000.0},\"1492560000000\":{\"Open\":35.470001,\"High\":35.5,\"Low\":35.112499,\"Close\":35.169998,\"Adj Close\":33.403461,\"Volume\":69313600.0},\"1492646400000\":{\"Open\":35.305,\"High\":35.73,\"Low\":35.290001,\"Close\":35.610001,\"Adj Close\":33.821369,\"Volume\":93278400.0},\"1492732800000\":{\"Open\":35.610001,\"High\":35.669998,\"Low\":35.462502,\"Close\":35.567501,\"Adj Close\":33.780998,\"Volume\":69283600.0},\"1492992000000\":{\"Open\":35.875,\"High\":35.987499,\"Low\":35.794998,\"Close\":35.91,\"Adj Close\":34.106297,\"Volume\":68537200.0},\"1493078400000\":{\"Open\":35.977501,\"High\":36.224998,\"Low\":35.967499,\"Close\":36.1325,\"Adj Close\":34.317619,\"Volume\":75486000.0},\"1493164800000\":{\"Open\":36.1175,\"High\":36.150002,\"Low\":35.845001,\"Close\":35.919998,\"Adj Close\":34.115788,\"Volume\":80164800.0},\"1493251200000\":{\"Open\":35.98,\"High\":36.040001,\"Low\":35.827499,\"Close\":35.947498,\"Adj Close\":34.141903,\"Volume\":56985200.0},\"1493337600000\":{\"Open\":36.022499,\"High\":36.075001,\"Low\":35.817501,\"Close\":35.912498,\"Adj Close\":34.108673,\"Volume\":83441600.0},\"1493596800000\":{\"Open\":36.275002,\"High\":36.799999,\"Low\":36.240002,\"Close\":36.645,\"Adj Close\":34.804371,\"Volume\":134411600.0},\"1493683200000\":{\"Open\":36.884998,\"High\":37.022499,\"Low\":36.709999,\"Close\":36.877499,\"Adj Close\":35.0252,\"Volume\":181408800.0},\"1493769600000\":{\"Open\":36.397499,\"High\":36.872501,\"Low\":36.067501,\"Close\":36.764999,\"Adj Close\":34.91835,\"Volume\":182788000.0},\"1493856000000\":{\"Open\":36.630001,\"High\":36.785,\"Low\":36.452499,\"Close\":36.6325,\"Adj Close\":34.792503,\"Volume\":93487600.0},\"1493942400000\":{\"Open\":36.689999,\"High\":37.244999,\"Low\":36.689999,\"Close\":37.240002,\"Adj Close\":35.369492,\"Volume\":109310800.0},\"1494201600000\":{\"Open\":37.2575,\"High\":38.424999,\"Low\":37.2575,\"Close\":38.252499,\"Adj Close\":36.331139,\"Volume\":195009600.0},\"1494288000000\":{\"Open\":38.467499,\"High\":38.720001,\"Low\":38.362499,\"Close\":38.497501,\"Adj Close\":36.563831,\"Volume\":156521600.0},\"1494374400000\":{\"Open\":38.407501,\"High\":38.485001,\"Low\":38.0275,\"Close\":38.314999,\"Adj Close\":36.390495,\"Volume\":103222800.0},\"1494460800000\":{\"Open\":38.112499,\"High\":38.517502,\"Low\":38.077499,\"Close\":38.487499,\"Adj Close\":36.705208,\"Volume\":109020400.0},\"1494547200000\":{\"Open\":38.674999,\"High\":39.105,\"Low\":38.6675,\"Close\":39.025002,\"Adj Close\":37.217823,\"Volume\":130108000.0},\"1494806400000\":{\"Open\":39.002499,\"High\":39.162498,\"Low\":38.762501,\"Close\":38.924999,\"Adj Close\":37.122452,\"Volume\":104038800.0},\"1494892800000\":{\"Open\":38.985001,\"High\":39.014999,\"Low\":38.68,\"Close\":38.8675,\"Adj Close\":37.067619,\"Volume\":80194000.0},\"1494979200000\":{\"Open\":38.400002,\"High\":38.642502,\"Low\":37.427502,\"Close\":37.5625,\"Adj Close\":35.823048,\"Volume\":203070800.0},\"1495065600000\":{\"Open\":37.817501,\"High\":38.334999,\"Low\":37.782501,\"Close\":38.134998,\"Adj Close\":36.369038,\"Volume\":134272800.0},\"1495152000000\":{\"Open\":38.345001,\"High\":38.494999,\"Low\":38.157501,\"Close\":38.264999,\"Adj Close\":36.493019,\"Volume\":107843200.0},\"1495411200000\":{\"Open\":38.5,\"High\":38.645,\"Low\":38.227501,\"Close\":38.497501,\"Adj Close\":36.714752,\"Volume\":91865600.0},\"1495497600000\":{\"Open\":38.724998,\"High\":38.724998,\"Low\":38.327499,\"Close\":38.450001,\"Adj Close\":36.669449,\"Volume\":79675600.0},\"1495584000000\":{\"Open\":38.459999,\"High\":38.5425,\"Low\":38.1675,\"Close\":38.334999,\"Adj Close\":36.559772,\"Volume\":76712000.0},\"1495670400000\":{\"Open\":38.432499,\"High\":38.587502,\"Low\":38.2575,\"Close\":38.467499,\"Adj Close\":36.686138,\"Volume\":76942400.0},\"1495756800000\":{\"Open\":38.5,\"High\":38.560001,\"Low\":38.327499,\"Close\":38.4025,\"Adj Close\":36.624149,\"Volume\":87710400.0},\"1496102400000\":{\"Open\":38.355,\"High\":38.607498,\"Low\":38.3325,\"Close\":38.4175,\"Adj Close\":36.638451,\"Volume\":80507600.0},\"1496188800000\":{\"Open\":38.4925,\"High\":38.5425,\"Low\":38.095001,\"Close\":38.189999,\"Adj Close\":36.42149,\"Volume\":97804800.0},\"1496275200000\":{\"Open\":38.2925,\"High\":38.3325,\"Low\":38.055,\"Close\":38.294998,\"Adj Close\":36.521626,\"Volume\":65616400.0},\"1496361600000\":{\"Open\":38.395,\"High\":38.862499,\"Low\":38.2225,\"Close\":38.862499,\"Adj Close\":37.062847,\"Volume\":111082800.0},\"1496620800000\":{\"Open\":38.584999,\"High\":38.612499,\"Low\":38.365002,\"Close\":38.482498,\"Adj Close\":36.700447,\"Volume\":101326800.0},\"1496707200000\":{\"Open\":38.474998,\"High\":38.952499,\"Low\":38.445,\"Close\":38.612499,\"Adj Close\":36.824417,\"Volume\":106499600.0},\"1496793600000\":{\"Open\":38.755001,\"High\":38.994999,\"Low\":38.619999,\"Close\":38.842499,\"Adj Close\":37.04377,\"Volume\":84278400.0},\"1496880000000\":{\"Open\":38.8125,\"High\":38.884998,\"Low\":38.599998,\"Close\":38.747501,\"Adj Close\":36.953171,\"Volume\":85003200.0},\"1496966400000\":{\"Open\":38.797501,\"High\":38.797501,\"Low\":36.505001,\"Close\":37.244999,\"Adj Close\":35.520245,\"Volume\":259530800.0},\"1497225600000\":{\"Open\":36.435001,\"High\":36.522499,\"Low\":35.627499,\"Close\":36.355,\"Adj Close\":34.671463,\"Volume\":289229200.0},\"1497312000000\":{\"Open\":36.790001,\"High\":36.862499,\"Low\":36.287498,\"Close\":36.647499,\"Adj Close\":34.95042,\"Volume\":136661600.0},\"1497398400000\":{\"Open\":36.875,\"High\":36.875,\"Low\":35.959999,\"Close\":36.290001,\"Adj Close\":34.609474,\"Volume\":126124800.0},\"1497484800000\":{\"Open\":35.830002,\"High\":36.119999,\"Low\":35.552502,\"Close\":36.072498,\"Adj Close\":34.402042,\"Volume\":128661600.0},\"1497571200000\":{\"Open\":35.945,\"High\":36.125,\"Low\":35.549999,\"Close\":35.567501,\"Adj Close\":33.920437,\"Volume\":201444400.0},\"1497830400000\":{\"Open\":35.915001,\"High\":36.685001,\"Low\":35.915001,\"Close\":36.584999,\"Adj Close\":34.890816,\"Volume\":130165600.0},\"1497916800000\":{\"Open\":36.717499,\"High\":36.717499,\"Low\":36.235001,\"Close\":36.252499,\"Adj Close\":34.573723,\"Volume\":99600400.0},\"1498003200000\":{\"Open\":36.380001,\"High\":36.517502,\"Low\":36.1525,\"Close\":36.467499,\"Adj Close\":34.778755,\"Volume\":85063200.0},\"1498089600000\":{\"Open\":36.442501,\"High\":36.674999,\"Low\":36.279999,\"Close\":36.407501,\"Adj Close\":34.721539,\"Volume\":76425200.0},\"1498176000000\":{\"Open\":36.282501,\"High\":36.790001,\"Low\":36.2775,\"Close\":36.57,\"Adj Close\":34.876507,\"Volume\":141757600.0},\"1498435200000\":{\"Open\":36.7925,\"High\":37.07,\"Low\":36.345001,\"Close\":36.455002,\"Adj Close\":34.766838,\"Volume\":102769600.0},\"1498521600000\":{\"Open\":36.252499,\"High\":36.540001,\"Low\":35.904999,\"Close\":35.932499,\"Adj Close\":34.268524,\"Volume\":99047600.0},\"1498608000000\":{\"Open\":36.122501,\"High\":36.5275,\"Low\":35.790001,\"Close\":36.4575,\"Adj Close\":34.769218,\"Volume\":88329600.0},\"1498694400000\":{\"Open\":36.177502,\"High\":36.282501,\"Low\":35.57,\"Close\":35.919998,\"Adj Close\":34.256607,\"Volume\":125997600.0},\"1498780800000\":{\"Open\":36.112499,\"High\":36.240002,\"Low\":35.945,\"Close\":36.005001,\"Adj Close\":34.337669,\"Volume\":92096400.0},\"1499040000000\":{\"Open\":36.220001,\"High\":36.325001,\"Low\":35.775002,\"Close\":35.875,\"Adj Close\":34.213696,\"Volume\":57111200.0},\"1499212800000\":{\"Open\":35.922501,\"High\":36.197498,\"Low\":35.68,\"Close\":36.022499,\"Adj Close\":34.354362,\"Volume\":86278400.0},\"1499299200000\":{\"Open\":35.755001,\"High\":35.875,\"Low\":35.602501,\"Close\":35.682499,\"Adj Close\":34.030106,\"Volume\":96515200.0},\"1499385600000\":{\"Open\":35.724998,\"High\":36.1875,\"Low\":35.724998,\"Close\":36.044998,\"Adj Close\":34.375809,\"Volume\":76806800.0},\"1499644800000\":{\"Open\":36.0275,\"High\":36.487499,\"Low\":35.842499,\"Close\":36.264999,\"Adj Close\":34.585625,\"Volume\":84362400.0},\"1499731200000\":{\"Open\":36.182499,\"High\":36.462502,\"Low\":36.095001,\"Close\":36.3825,\"Adj Close\":34.697689,\"Volume\":79127200.0},\"1499817600000\":{\"Open\":36.467499,\"High\":36.544998,\"Low\":36.205002,\"Close\":36.435001,\"Adj Close\":34.747765,\"Volume\":99538000.0},\"1499904000000\":{\"Open\":36.375,\"High\":37.122501,\"Low\":36.360001,\"Close\":36.942501,\"Adj Close\":35.231762,\"Volume\":100797600.0},\"1499990400000\":{\"Open\":36.9925,\"High\":37.3325,\"Low\":36.8325,\"Close\":37.259998,\"Adj Close\":35.534557,\"Volume\":80528400.0},\"1500249600000\":{\"Open\":37.205002,\"High\":37.724998,\"Low\":37.142502,\"Close\":37.389999,\"Adj Close\":35.658535,\"Volume\":95174000.0},\"1500336000000\":{\"Open\":37.299999,\"High\":37.532501,\"Low\":37.1675,\"Close\":37.52,\"Adj Close\":35.782524,\"Volume\":71475200.0},\"1500422400000\":{\"Open\":37.619999,\"High\":37.855,\"Low\":37.487499,\"Close\":37.755001,\"Adj Close\":36.00663,\"Volume\":83692000.0},\"1500508800000\":{\"Open\":37.875,\"High\":37.935001,\"Low\":37.547501,\"Close\":37.584999,\"Adj Close\":35.844505,\"Volume\":68974800.0},\"1500595200000\":{\"Open\":37.497501,\"High\":37.610001,\"Low\":37.220001,\"Close\":37.567501,\"Adj Close\":35.827812,\"Volume\":105010400.0},\"1500854400000\":{\"Open\":37.645,\"High\":38.110001,\"Low\":37.474998,\"Close\":38.022499,\"Adj Close\":36.261749,\"Volume\":85972800.0},\"1500940800000\":{\"Open\":37.950001,\"High\":38.459999,\"Low\":37.950001,\"Close\":38.185001,\"Adj Close\":36.416725,\"Volume\":75415600.0},\"1501027200000\":{\"Open\":38.337502,\"High\":38.482498,\"Low\":38.264999,\"Close\":38.365002,\"Adj Close\":36.588387,\"Volume\":63124000.0},\"1501113600000\":{\"Open\":38.4375,\"High\":38.497501,\"Low\":36.825001,\"Close\":37.639999,\"Adj Close\":35.896961,\"Volume\":129905200.0},\"1501200000000\":{\"Open\":37.4725,\"High\":37.557499,\"Low\":37.297501,\"Close\":37.375,\"Adj Close\":35.644234,\"Volume\":68854800.0},\"1501459200000\":{\"Open\":37.474998,\"High\":37.5825,\"Low\":37.032501,\"Close\":37.182499,\"Adj Close\":35.460644,\"Volume\":79383600.0},\"1501545600000\":{\"Open\":37.275002,\"High\":37.555,\"Low\":37.102501,\"Close\":37.512501,\"Adj Close\":35.775372,\"Volume\":141474400.0},\"1501632000000\":{\"Open\":39.82,\"High\":39.9375,\"Low\":39.040001,\"Close\":39.285,\"Adj Close\":37.465775,\"Volume\":279747200.0},\"1501718400000\":{\"Open\":39.262501,\"High\":39.302502,\"Low\":38.755001,\"Close\":38.892502,\"Adj Close\":37.091457,\"Volume\":108389200.0},\"1501804800000\":{\"Open\":39.017502,\"High\":39.349998,\"Low\":38.922501,\"Close\":39.0975,\"Adj Close\":37.286964,\"Volume\":82239600.0},\"1502064000000\":{\"Open\":39.264999,\"High\":39.73,\"Low\":39.1675,\"Close\":39.702499,\"Adj Close\":37.863949,\"Volume\":87481200.0},\"1502150400000\":{\"Open\":39.650002,\"High\":40.4575,\"Low\":39.567501,\"Close\":40.02,\"Adj Close\":38.166752,\"Volume\":144823600.0},\"1502236800000\":{\"Open\":39.814999,\"High\":40.317501,\"Low\":39.7775,\"Close\":40.264999,\"Adj Close\":38.400398,\"Volume\":104526000.0},\"1502323200000\":{\"Open\":39.974998,\"High\":40.0,\"Low\":38.657501,\"Close\":38.830002,\"Adj Close\":37.177273,\"Volume\":163217200.0},\"1502409600000\":{\"Open\":39.150002,\"High\":39.642502,\"Low\":39.017502,\"Close\":39.369999,\"Adj Close\":37.694294,\"Volume\":105028400.0},\"1502668800000\":{\"Open\":39.830002,\"High\":40.052502,\"Low\":39.6875,\"Close\":39.962502,\"Adj Close\":38.26157,\"Volume\":88490800.0},\"1502755200000\":{\"Open\":40.165001,\"High\":40.549999,\"Low\":40.035,\"Close\":40.400002,\"Adj Close\":38.68045,\"Volume\":117862000.0},\"1502841600000\":{\"Open\":40.485001,\"High\":40.627499,\"Low\":40.037498,\"Close\":40.237499,\"Adj Close\":38.524868,\"Volume\":110686400.0},\"1502928000000\":{\"Open\":40.130001,\"High\":40.177502,\"Low\":39.459999,\"Close\":39.465,\"Adj Close\":37.785248,\"Volume\":111762400.0},\"1503014400000\":{\"Open\":39.465,\"High\":39.875,\"Low\":39.18,\"Close\":39.375,\"Adj Close\":37.699078,\"Volume\":109712400.0},\"1503273600000\":{\"Open\":39.375,\"High\":39.4725,\"Low\":38.7775,\"Close\":39.302502,\"Adj Close\":37.629669,\"Volume\":105474000.0},\"1503360000000\":{\"Open\":39.557499,\"High\":40.0,\"Low\":39.505001,\"Close\":39.945,\"Adj Close\":38.244816,\"Volume\":86418400.0},\"1503446400000\":{\"Open\":39.767502,\"High\":40.1175,\"Low\":39.720001,\"Close\":39.994999,\"Adj Close\":38.292686,\"Volume\":77596400.0},\"1503532800000\":{\"Open\":40.107498,\"High\":40.185001,\"Low\":39.637501,\"Close\":39.817501,\"Adj Close\":38.122749,\"Volume\":79275600.0},\"1503619200000\":{\"Open\":39.912498,\"High\":40.139999,\"Low\":39.817501,\"Close\":39.965,\"Adj Close\":38.263977,\"Volume\":101920400.0},\"1503878400000\":{\"Open\":40.035,\"High\":40.5,\"Low\":39.982498,\"Close\":40.3675,\"Adj Close\":38.649326,\"Volume\":103864000.0},\"1503964800000\":{\"Open\":40.025002,\"High\":40.779999,\"Low\":40.0,\"Close\":40.727501,\"Adj Close\":38.994011,\"Volume\":118067600.0},\"1504051200000\":{\"Open\":40.950001,\"High\":40.9725,\"Low\":40.6525,\"Close\":40.837502,\"Adj Close\":39.099335,\"Volume\":109078400.0},\"1504137600000\":{\"Open\":40.91,\"High\":41.130001,\"Low\":40.869999,\"Close\":41.0,\"Adj Close\":39.254917,\"Volume\":107140400.0},\"1504224000000\":{\"Open\":41.200001,\"High\":41.235001,\"Low\":40.907501,\"Close\":41.012501,\"Adj Close\":39.266884,\"Volume\":66364400.0},\"1504569600000\":{\"Open\":40.9375,\"High\":41.0625,\"Low\":40.139999,\"Close\":40.52,\"Adj Close\":38.795345,\"Volume\":117874000.0},\"1504656000000\":{\"Open\":40.677502,\"High\":40.747501,\"Low\":40.130001,\"Close\":40.477501,\"Adj Close\":38.75465,\"Volume\":86606800.0},\"1504742400000\":{\"Open\":40.522499,\"High\":40.560001,\"Low\":40.09,\"Close\":40.314999,\"Adj Close\":38.599068,\"Volume\":87714000.0},\"1504828800000\":{\"Open\":40.215,\"High\":40.287498,\"Low\":39.6325,\"Close\":39.657501,\"Adj Close\":37.969559,\"Volume\":114446000.0},\"1505088000000\":{\"Open\":40.125,\"High\":40.512501,\"Low\":39.9725,\"Close\":40.375,\"Adj Close\":38.656517,\"Volume\":126323200.0},\"1505174400000\":{\"Open\":40.6525,\"High\":40.990002,\"Low\":39.692501,\"Close\":40.215,\"Adj Close\":38.503326,\"Volume\":286856000.0},\"1505260800000\":{\"Open\":39.967499,\"High\":39.990002,\"Low\":39.477501,\"Close\":39.912498,\"Adj Close\":38.213703,\"Volume\":179629600.0},\"1505347200000\":{\"Open\":39.747501,\"High\":39.849998,\"Low\":39.522499,\"Close\":39.57,\"Adj Close\":37.88578,\"Volume\":95042800.0},\"1505433600000\":{\"Open\":39.6175,\"High\":40.2425,\"Low\":39.5,\"Close\":39.970001,\"Adj Close\":38.268757,\"Volume\":196458400.0},\"1505692800000\":{\"Open\":40.0275,\"High\":40.125,\"Low\":39.5,\"Close\":39.6675,\"Adj Close\":37.979126,\"Volume\":113077600.0},\"1505779200000\":{\"Open\":39.877499,\"High\":39.942501,\"Low\":39.610001,\"Close\":39.682499,\"Adj Close\":37.993488,\"Volume\":83242400.0},\"1505865600000\":{\"Open\":39.474998,\"High\":39.564999,\"Low\":38.4575,\"Close\":39.017502,\"Adj Close\":37.356792,\"Volume\":211805600.0},\"1505952000000\":{\"Open\":38.950001,\"High\":38.950001,\"Low\":38.1875,\"Close\":38.3475,\"Adj Close\":36.715305,\"Volume\":150046800.0},\"1506038400000\":{\"Open\":37.884998,\"High\":38.067501,\"Low\":37.639999,\"Close\":37.9725,\"Adj Close\":36.356277,\"Volume\":186581600.0},\"1506297600000\":{\"Open\":37.497501,\"High\":37.9575,\"Low\":37.290001,\"Close\":37.637501,\"Adj Close\":36.035534,\"Volume\":177549200.0},\"1506384000000\":{\"Open\":37.945,\"High\":38.48,\"Low\":37.922501,\"Close\":38.285,\"Adj Close\":36.655476,\"Volume\":146640000.0},\"1506470400000\":{\"Open\":38.450001,\"High\":38.68,\"Low\":38.384998,\"Close\":38.557499,\"Adj Close\":36.916378,\"Volume\":102016800.0},\"1506556800000\":{\"Open\":38.4725,\"High\":38.57,\"Low\":38.174999,\"Close\":38.32,\"Adj Close\":36.688988,\"Volume\":88022000.0},\"1506643200000\":{\"Open\":38.302502,\"High\":38.532501,\"Low\":38.0,\"Close\":38.529999,\"Adj Close\":36.890041,\"Volume\":105199200.0},\"1506902400000\":{\"Open\":38.564999,\"High\":38.612499,\"Low\":38.18,\"Close\":38.452499,\"Adj Close\":36.815842,\"Volume\":74795200.0},\"1506988800000\":{\"Open\":38.502499,\"High\":38.772499,\"Low\":38.477501,\"Close\":38.619999,\"Adj Close\":36.976215,\"Volume\":64921200.0},\"1507075200000\":{\"Open\":38.407501,\"High\":38.465,\"Low\":38.115002,\"Close\":38.369999,\"Adj Close\":36.736858,\"Volume\":80655200.0},\"1507161600000\":{\"Open\":38.544998,\"High\":38.860001,\"Low\":38.512501,\"Close\":38.8475,\"Adj Close\":37.194031,\"Volume\":85135200.0},\"1507248000000\":{\"Open\":38.7425,\"High\":38.872501,\"Low\":38.639999,\"Close\":38.825001,\"Adj Close\":37.172482,\"Volume\":69630400.0},\"1507507200000\":{\"Open\":38.952499,\"High\":39.182499,\"Low\":38.872501,\"Close\":38.959999,\"Adj Close\":37.301739,\"Volume\":65051600.0},\"1507593600000\":{\"Open\":39.014999,\"High\":39.5,\"Low\":38.775002,\"Close\":38.974998,\"Adj Close\":37.316097,\"Volume\":62468000.0},\"1507680000000\":{\"Open\":38.9925,\"High\":39.244999,\"Low\":38.9375,\"Close\":39.137501,\"Adj Close\":37.471695,\"Volume\":67622400.0},\"1507766400000\":{\"Open\":39.087502,\"High\":39.342499,\"Low\":38.932499,\"Close\":39.0,\"Adj Close\":37.340038,\"Volume\":64500400.0},\"1507852800000\":{\"Open\":39.182499,\"High\":39.32,\"Low\":39.102501,\"Close\":39.247501,\"Adj Close\":37.577011,\"Volume\":65576800.0},\"1508112000000\":{\"Open\":39.474998,\"High\":40.0,\"Low\":39.412498,\"Close\":39.970001,\"Adj Close\":38.268757,\"Volume\":96486000.0},\"1508198400000\":{\"Open\":39.945,\"High\":40.217499,\"Low\":39.807499,\"Close\":40.1175,\"Adj Close\":38.409981,\"Volume\":75989200.0},\"1508284800000\":{\"Open\":40.105,\"High\":40.177502,\"Low\":39.900002,\"Close\":39.939999,\"Adj Close\":38.240032,\"Volume\":65496800.0},\"1508371200000\":{\"Open\":39.1875,\"High\":39.27,\"Low\":38.755001,\"Close\":38.994999,\"Adj Close\":37.335255,\"Volume\":170336800.0},\"1508457600000\":{\"Open\":39.1525,\"High\":39.4375,\"Low\":38.990002,\"Close\":39.0625,\"Adj Close\":37.399876,\"Volume\":95896400.0},\"1508716800000\":{\"Open\":39.2225,\"High\":39.422501,\"Low\":38.875,\"Close\":39.0425,\"Adj Close\":37.38073,\"Volume\":87937200.0},\"1508803200000\":{\"Open\":39.072498,\"High\":39.355,\"Low\":39.049999,\"Close\":39.275002,\"Adj Close\":37.603333,\"Volume\":71028800.0},\"1508889600000\":{\"Open\":39.227501,\"High\":39.387501,\"Low\":38.817501,\"Close\":39.102501,\"Adj Close\":37.438175,\"Volume\":84828400.0},\"1508976000000\":{\"Open\":39.307499,\"High\":39.4575,\"Low\":39.195,\"Close\":39.352501,\"Adj Close\":37.677536,\"Volume\":68002000.0},\"1509062400000\":{\"Open\":39.822498,\"High\":40.900002,\"Low\":39.674999,\"Close\":40.762501,\"Adj Close\":39.027523,\"Volume\":177816800.0},\"1509321600000\":{\"Open\":40.9725,\"High\":42.017502,\"Low\":40.93,\"Close\":41.68,\"Adj Close\":39.905975,\"Volume\":178803200.0},\"1509408000000\":{\"Open\":41.974998,\"High\":42.412498,\"Low\":41.735001,\"Close\":42.259998,\"Adj Close\":40.461285,\"Volume\":144187200.0},\"1509494400000\":{\"Open\":42.467499,\"High\":42.485001,\"Low\":41.4025,\"Close\":41.7225,\"Adj Close\":39.946659,\"Volume\":134551200.0},\"1509580800000\":{\"Open\":41.650002,\"High\":42.125,\"Low\":41.32,\"Close\":42.0275,\"Adj Close\":40.238678,\"Volume\":165573600.0},\"1509667200000\":{\"Open\":43.5,\"High\":43.564999,\"Low\":42.779999,\"Close\":43.125,\"Adj Close\":41.289471,\"Volume\":237594400.0},\"1509926400000\":{\"Open\":43.092499,\"High\":43.747501,\"Low\":42.93,\"Close\":43.5625,\"Adj Close\":41.708344,\"Volume\":140105200.0},\"1510012800000\":{\"Open\":43.477501,\"High\":43.8125,\"Low\":43.400002,\"Close\":43.702499,\"Adj Close\":41.842384,\"Volume\":97446000.0},\"1510099200000\":{\"Open\":43.665001,\"High\":44.060001,\"Low\":43.5825,\"Close\":44.060001,\"Adj Close\":42.184669,\"Volume\":97638000.0},\"1510185600000\":{\"Open\":43.7775,\"High\":44.025002,\"Low\":43.285,\"Close\":43.970001,\"Adj Close\":42.098503,\"Volume\":117930400.0},\"1510272000000\":{\"Open\":43.7775,\"High\":43.845001,\"Low\":43.567501,\"Close\":43.6675,\"Adj Close\":41.959171,\"Volume\":100582000.0},\"1510531200000\":{\"Open\":43.375,\"High\":43.625,\"Low\":43.349998,\"Close\":43.4925,\"Adj Close\":41.791023,\"Volume\":67928400.0},\"1510617600000\":{\"Open\":43.259998,\"High\":43.369999,\"Low\":42.794998,\"Close\":42.834999,\"Adj Close\":41.159245,\"Volume\":99130000.0},\"1510704000000\":{\"Open\":42.4925,\"High\":42.580002,\"Low\":42.095001,\"Close\":42.27,\"Adj Close\":40.616352,\"Volume\":116632400.0},\"1510790400000\":{\"Open\":42.794998,\"High\":42.967499,\"Low\":42.575001,\"Close\":42.775002,\"Adj Close\":41.101593,\"Volume\":94550000.0},\"1510876800000\":{\"Open\":42.759998,\"High\":42.8475,\"Low\":42.41,\"Close\":42.537498,\"Adj Close\":40.87339,\"Volume\":87598000.0},\"1511136000000\":{\"Open\":42.572498,\"High\":42.639999,\"Low\":42.389999,\"Close\":42.494999,\"Adj Close\":40.832546,\"Volume\":65049600.0},\"1511222400000\":{\"Open\":42.695,\"High\":43.424999,\"Low\":42.695,\"Close\":43.285,\"Adj Close\":41.59164,\"Volume\":100525200.0},\"1511308800000\":{\"Open\":43.34,\"High\":43.75,\"Low\":43.262501,\"Close\":43.740002,\"Adj Close\":42.028839,\"Volume\":102355600.0},\"1511481600000\":{\"Open\":43.775002,\"High\":43.875,\"Low\":43.662498,\"Close\":43.7425,\"Adj Close\":42.031242,\"Volume\":56106800.0},\"1511740800000\":{\"Open\":43.762501,\"High\":43.77,\"Low\":43.334999,\"Close\":43.522499,\"Adj Close\":41.819843,\"Volume\":82867200.0},\"1511827200000\":{\"Open\":43.575001,\"High\":43.717499,\"Low\":42.965,\"Close\":43.267502,\"Adj Close\":41.574829,\"Volume\":105715200.0},\"1511913600000\":{\"Open\":43.157501,\"High\":43.23,\"Low\":41.790001,\"Close\":42.369999,\"Adj Close\":40.712433,\"Volume\":166665600.0},\"1512000000000\":{\"Open\":42.607498,\"High\":43.035,\"Low\":42.110001,\"Close\":42.962502,\"Adj Close\":41.281757,\"Volume\":166108800.0},\"1512086400000\":{\"Open\":42.487499,\"High\":42.9175,\"Low\":42.125,\"Close\":42.762501,\"Adj Close\":41.089584,\"Volume\":159037200.0},\"1512345600000\":{\"Open\":43.119999,\"High\":43.154999,\"Low\":42.407501,\"Close\":42.450001,\"Adj Close\":40.789307,\"Volume\":130169600.0},\"1512432000000\":{\"Open\":42.264999,\"High\":42.880001,\"Low\":42.099998,\"Close\":42.41,\"Adj Close\":40.75087,\"Volume\":109400800.0},\"1512518400000\":{\"Open\":41.875,\"High\":42.549999,\"Low\":41.615002,\"Close\":42.252499,\"Adj Close\":40.599529,\"Volume\":114240000.0},\"1512604800000\":{\"Open\":42.2575,\"High\":42.610001,\"Low\":42.227501,\"Close\":42.330002,\"Adj Close\":40.674004,\"Volume\":102693200.0},\"1512691200000\":{\"Open\":42.622501,\"High\":42.75,\"Low\":42.205002,\"Close\":42.342499,\"Adj Close\":40.686008,\"Volume\":93420800.0},\"1512950400000\":{\"Open\":42.299999,\"High\":43.2225,\"Low\":42.197498,\"Close\":43.1675,\"Adj Close\":41.478737,\"Volume\":141095200.0},\"1513036800000\":{\"Open\":43.037498,\"High\":43.0975,\"Low\":42.865002,\"Close\":42.924999,\"Adj Close\":41.245724,\"Volume\":77636800.0},\"1513123200000\":{\"Open\":43.125,\"High\":43.384998,\"Low\":43.0,\"Close\":43.067501,\"Adj Close\":41.382652,\"Volume\":95273600.0},\"1513209600000\":{\"Open\":43.099998,\"High\":43.282501,\"Low\":42.912498,\"Close\":43.055,\"Adj Close\":41.37064,\"Volume\":81906000.0},\"1513296000000\":{\"Open\":43.407501,\"High\":43.5425,\"Low\":43.115002,\"Close\":43.4925,\"Adj Close\":41.791023,\"Volume\":160677200.0},\"1513555200000\":{\"Open\":43.720001,\"High\":44.299999,\"Low\":43.715,\"Close\":44.105,\"Adj Close\":42.379566,\"Volume\":117684400.0},\"1513641600000\":{\"Open\":43.7575,\"High\":43.8475,\"Low\":43.522499,\"Close\":43.634998,\"Adj Close\":41.927948,\"Volume\":109745600.0},\"1513728000000\":{\"Open\":43.717499,\"High\":43.855,\"Low\":43.3125,\"Close\":43.587502,\"Adj Close\":41.882305,\"Volume\":93902400.0},\"1513814400000\":{\"Open\":43.5425,\"High\":44.005001,\"Low\":43.525002,\"Close\":43.752499,\"Adj Close\":42.040852,\"Volume\":83799600.0},\"1513900800000\":{\"Open\":43.669998,\"High\":43.855,\"Low\":43.625,\"Close\":43.752499,\"Adj Close\":42.040852,\"Volume\":65397600.0},\"1514246400000\":{\"Open\":42.700001,\"High\":42.8675,\"Low\":42.419998,\"Close\":42.642502,\"Adj Close\":40.974274,\"Volume\":132742000.0},\"1514332800000\":{\"Open\":42.525002,\"High\":42.695,\"Low\":42.427502,\"Close\":42.650002,\"Adj Close\":40.981483,\"Volume\":85992800.0},\"1514419200000\":{\"Open\":42.75,\"High\":42.962502,\"Low\":42.619999,\"Close\":42.77,\"Adj Close\":41.096786,\"Volume\":65920800.0},\"1514505600000\":{\"Open\":42.630001,\"High\":42.647499,\"Low\":42.305,\"Close\":42.307499,\"Adj Close\":40.652374,\"Volume\":103999600.0},\"1514851200000\":{\"Open\":42.540001,\"High\":43.075001,\"Low\":42.314999,\"Close\":43.064999,\"Adj Close\":41.380238,\"Volume\":102223600.0},\"1514937600000\":{\"Open\":43.1325,\"High\":43.637501,\"Low\":42.990002,\"Close\":43.057499,\"Adj Close\":41.373032,\"Volume\":118071600.0},\"1515024000000\":{\"Open\":43.134998,\"High\":43.3675,\"Low\":43.02,\"Close\":43.2575,\"Adj Close\":41.565216,\"Volume\":89738400.0},\"1515110400000\":{\"Open\":43.360001,\"High\":43.842499,\"Low\":43.262501,\"Close\":43.75,\"Adj Close\":42.038452,\"Volume\":94640000.0},\"1515369600000\":{\"Open\":43.587502,\"High\":43.9025,\"Low\":43.482498,\"Close\":43.587502,\"Adj Close\":41.882305,\"Volume\":82271200.0},\"1515456000000\":{\"Open\":43.637501,\"High\":43.764999,\"Low\":43.352501,\"Close\":43.5825,\"Adj Close\":41.877506,\"Volume\":86336000.0},\"1515542400000\":{\"Open\":43.290001,\"High\":43.575001,\"Low\":43.25,\"Close\":43.572498,\"Adj Close\":41.867889,\"Volume\":95839600.0},\"1515628800000\":{\"Open\":43.647499,\"High\":43.872501,\"Low\":43.622501,\"Close\":43.82,\"Adj Close\":42.105709,\"Volume\":74670800.0},\"1515715200000\":{\"Open\":44.044998,\"High\":44.34,\"Low\":43.912498,\"Close\":44.272499,\"Adj Close\":42.540501,\"Volume\":101672400.0},\"1516060800000\":{\"Open\":44.474998,\"High\":44.8475,\"Low\":44.035,\"Close\":44.047501,\"Adj Close\":42.32431,\"Volume\":118263600.0},\"1516147200000\":{\"Open\":44.037498,\"High\":44.8125,\"Low\":43.767502,\"Close\":44.775002,\"Adj Close\":43.02335,\"Volume\":137547200.0},\"1516233600000\":{\"Open\":44.842499,\"High\":45.025002,\"Low\":44.5625,\"Close\":44.814999,\"Adj Close\":43.061787,\"Volume\":124773600.0},\"1516320000000\":{\"Open\":44.6525,\"High\":44.895,\"Low\":44.352501,\"Close\":44.615002,\"Adj Close\":42.86961,\"Volume\":129700400.0},\"1516579200000\":{\"Open\":44.325001,\"High\":44.445,\"Low\":44.150002,\"Close\":44.25,\"Adj Close\":42.518894,\"Volume\":108434400.0},\"1516665600000\":{\"Open\":44.325001,\"High\":44.860001,\"Low\":44.205002,\"Close\":44.259998,\"Adj Close\":42.528496,\"Volume\":130756400.0},\"1516752000000\":{\"Open\":44.3125,\"High\":44.325001,\"Low\":43.299999,\"Close\":43.555,\"Adj Close\":41.851074,\"Volume\":204420400.0},\"1516838400000\":{\"Open\":43.627499,\"High\":43.737499,\"Low\":42.6325,\"Close\":42.7775,\"Adj Close\":41.103992,\"Volume\":166116000.0},\"1516924800000\":{\"Open\":43.0,\"High\":43.0,\"Low\":42.514999,\"Close\":42.877499,\"Adj Close\":41.200081,\"Volume\":156572000.0},\"1517184000000\":{\"Open\":42.540001,\"High\":42.540001,\"Low\":41.767502,\"Close\":41.990002,\"Adj Close\":40.347298,\"Volume\":202561600.0},\"1517270400000\":{\"Open\":41.3825,\"High\":41.842499,\"Low\":41.174999,\"Close\":41.7425,\"Adj Close\":40.109482,\"Volume\":184192800.0},\"1517356800000\":{\"Open\":41.717499,\"High\":42.110001,\"Low\":41.625,\"Close\":41.857498,\"Adj Close\":40.21999,\"Volume\":129915600.0},\"1517443200000\":{\"Open\":41.7925,\"High\":42.154999,\"Low\":41.689999,\"Close\":41.945,\"Adj Close\":40.304066,\"Volume\":188923200.0},\"1517529600000\":{\"Open\":41.5,\"High\":41.700001,\"Low\":40.025002,\"Close\":40.125,\"Adj Close\":38.555264,\"Volume\":346375200.0},\"1517788800000\":{\"Open\":39.775002,\"High\":40.970001,\"Low\":39.0,\"Close\":39.122501,\"Adj Close\":37.59198,\"Volume\":290954000.0},\"1517875200000\":{\"Open\":38.7075,\"High\":40.93,\"Low\":38.5,\"Close\":40.7575,\"Adj Close\":39.163017,\"Volume\":272975200.0},\"1517961600000\":{\"Open\":40.772499,\"High\":40.849998,\"Low\":39.767502,\"Close\":39.884998,\"Adj Close\":38.32465,\"Volume\":206434400.0},\"1518048000000\":{\"Open\":40.072498,\"High\":40.25,\"Low\":38.7575,\"Close\":38.787498,\"Adj Close\":37.270084,\"Volume\":217562000.0},\"1518134400000\":{\"Open\":39.267502,\"High\":39.4725,\"Low\":37.560001,\"Close\":39.102501,\"Adj Close\":37.725952,\"Volume\":282690400.0},\"1518393600000\":{\"Open\":39.625,\"High\":40.9725,\"Low\":39.377499,\"Close\":40.677502,\"Adj Close\":39.245506,\"Volume\":243278000.0},\"1518480000000\":{\"Open\":40.487499,\"High\":41.1875,\"Low\":40.412498,\"Close\":41.084999,\"Adj Close\":39.638657,\"Volume\":130196800.0},\"1518566400000\":{\"Open\":40.759998,\"High\":41.884998,\"Low\":40.720001,\"Close\":41.842499,\"Adj Close\":40.369492,\"Volume\":162579600.0},\"1518652800000\":{\"Open\":42.447498,\"High\":43.272499,\"Low\":42.25,\"Close\":43.247501,\"Adj Close\":41.725037,\"Volume\":204588800.0},\"1518739200000\":{\"Open\":43.09,\"High\":43.705002,\"Low\":42.942501,\"Close\":43.107498,\"Adj Close\":41.589962,\"Volume\":160704400.0},\"1519084800000\":{\"Open\":43.012501,\"High\":43.564999,\"Low\":42.855,\"Close\":42.962502,\"Adj Close\":41.450069,\"Volume\":135722000.0},\"1519171200000\":{\"Open\":43.2075,\"High\":43.529999,\"Low\":42.752499,\"Close\":42.767502,\"Adj Close\":41.261936,\"Volume\":149886400.0},\"1519257600000\":{\"Open\":42.950001,\"High\":43.487499,\"Low\":42.927502,\"Close\":43.125,\"Adj Close\":41.60685,\"Volume\":123967600.0},\"1519344000000\":{\"Open\":43.4175,\"High\":43.912498,\"Low\":43.384998,\"Close\":43.875,\"Adj Close\":42.330452,\"Volume\":135249600.0},\"1519603200000\":{\"Open\":44.087502,\"High\":44.8475,\"Low\":44.052502,\"Close\":44.7425,\"Adj Close\":43.167404,\"Volume\":152648800.0},\"1519689600000\":{\"Open\":44.775002,\"High\":45.119999,\"Low\":44.540001,\"Close\":44.5975,\"Adj Close\":43.027515,\"Volume\":155712400.0},\"1519776000000\":{\"Open\":44.814999,\"High\":45.154999,\"Low\":44.512501,\"Close\":44.529999,\"Adj Close\":42.962379,\"Volume\":151128400.0},\"1519862400000\":{\"Open\":44.634998,\"High\":44.945,\"Low\":43.165001,\"Close\":43.75,\"Adj Close\":42.209846,\"Volume\":195208000.0},\"1519948800000\":{\"Open\":43.200001,\"High\":44.075001,\"Low\":43.112499,\"Close\":44.052502,\"Adj Close\":42.501698,\"Volume\":153816000.0},\"1520208000000\":{\"Open\":43.802502,\"High\":44.435001,\"Low\":43.630001,\"Close\":44.205002,\"Adj Close\":42.648827,\"Volume\":113605600.0},\"1520294400000\":{\"Open\":44.477501,\"High\":44.5625,\"Low\":44.032501,\"Close\":44.1675,\"Adj Close\":42.612656,\"Volume\":95154000.0},\"1520380800000\":{\"Open\":43.735001,\"High\":43.962502,\"Low\":43.567501,\"Close\":43.7575,\"Adj Close\":42.217075,\"Volume\":126814000.0},\"1520467200000\":{\"Open\":43.869999,\"High\":44.279999,\"Low\":43.767502,\"Close\":44.235001,\"Adj Close\":42.677765,\"Volume\":95096400.0},\"1520553600000\":{\"Open\":44.490002,\"High\":45.0,\"Low\":44.3475,\"Close\":44.994999,\"Adj Close\":43.411015,\"Volume\":128740800.0},\"1520812800000\":{\"Open\":45.072498,\"High\":45.5975,\"Low\":45.052502,\"Close\":45.43,\"Adj Close\":43.830696,\"Volume\":128828400.0},\"1520899200000\":{\"Open\":45.647499,\"High\":45.875,\"Low\":44.810001,\"Close\":44.9925,\"Adj Close\":43.408604,\"Volume\":126774000.0},\"1520985600000\":{\"Open\":45.080002,\"High\":45.130001,\"Low\":44.452499,\"Close\":44.610001,\"Adj Close\":43.039566,\"Volume\":117473600.0},\"1521072000000\":{\"Open\":44.625,\"High\":45.060001,\"Low\":44.517502,\"Close\":44.662498,\"Adj Close\":43.090221,\"Volume\":90975200.0},\"1521158400000\":{\"Open\":44.662498,\"High\":44.779999,\"Low\":44.404999,\"Close\":44.505001,\"Adj Close\":42.938263,\"Volume\":157618800.0},\"1521417600000\":{\"Open\":44.330002,\"High\":44.3675,\"Low\":43.415001,\"Close\":43.825001,\"Adj Close\":42.2822,\"Volume\":133787200.0},\"1521504000000\":{\"Open\":43.810001,\"High\":44.200001,\"Low\":43.735001,\"Close\":43.810001,\"Adj Close\":42.267731,\"Volume\":78597600.0},\"1521590400000\":{\"Open\":43.759998,\"High\":43.772499,\"Low\":42.814999,\"Close\":42.817501,\"Adj Close\":41.310173,\"Volume\":148219600.0},\"1521676800000\":{\"Open\":42.5,\"High\":43.169998,\"Low\":42.150002,\"Close\":42.212502,\"Adj Close\":40.726467,\"Volume\":165963200.0},\"1521763200000\":{\"Open\":42.0975,\"High\":42.48,\"Low\":41.235001,\"Close\":41.235001,\"Adj Close\":39.783379,\"Volume\":164115200.0},\"1522022400000\":{\"Open\":42.017502,\"High\":43.275002,\"Low\":41.610001,\"Close\":43.192501,\"Adj Close\":41.67197,\"Volume\":150164800.0},\"1522108800000\":{\"Open\":43.419998,\"High\":43.787498,\"Low\":41.73,\"Close\":42.084999,\"Adj Close\":40.603455,\"Volume\":163690400.0},\"1522195200000\":{\"Open\":41.8125,\"High\":42.505001,\"Low\":41.297501,\"Close\":41.619999,\"Adj Close\":40.154827,\"Volume\":166674000.0},\"1522281600000\":{\"Open\":41.952499,\"High\":42.9375,\"Low\":41.724998,\"Close\":41.945,\"Adj Close\":40.468391,\"Volume\":153594000.0},\"1522627200000\":{\"Open\":41.66,\"High\":42.235001,\"Low\":41.1175,\"Close\":41.669998,\"Adj Close\":40.203072,\"Volume\":150347200.0},\"1522713600000\":{\"Open\":41.91,\"High\":42.1875,\"Low\":41.220001,\"Close\":42.0975,\"Adj Close\":40.61552,\"Volume\":121112000.0},\"1522800000000\":{\"Open\":41.220001,\"High\":43.002499,\"Low\":41.192501,\"Close\":42.9025,\"Adj Close\":41.392178,\"Volume\":138422000.0},\"1522886400000\":{\"Open\":43.145,\"High\":43.557499,\"Low\":43.02,\"Close\":43.200001,\"Adj Close\":41.679203,\"Volume\":107732800.0},\"1522972800000\":{\"Open\":42.7425,\"High\":43.119999,\"Low\":42.049999,\"Close\":42.095001,\"Adj Close\":40.613106,\"Volume\":140021200.0},\"1523232000000\":{\"Open\":42.470001,\"High\":43.272499,\"Low\":42.462502,\"Close\":42.512501,\"Adj Close\":41.015907,\"Volume\":116070800.0},\"1523318400000\":{\"Open\":43.25,\"High\":43.5,\"Low\":42.8825,\"Close\":43.3125,\"Adj Close\":41.78775,\"Volume\":113634400.0},\"1523404800000\":{\"Open\":43.057499,\"High\":43.48,\"Low\":42.924999,\"Close\":43.110001,\"Adj Close\":41.592369,\"Volume\":89726400.0},\"1523491200000\":{\"Open\":43.352501,\"High\":43.75,\"Low\":43.259998,\"Close\":43.535,\"Adj Close\":42.002415,\"Volume\":91557200.0},\"1523577600000\":{\"Open\":43.695,\"High\":43.959999,\"Low\":43.462502,\"Close\":43.682499,\"Adj Close\":42.144722,\"Volume\":100497200.0},\"1523836800000\":{\"Open\":43.7575,\"High\":44.047501,\"Low\":43.7075,\"Close\":43.955002,\"Adj Close\":42.407627,\"Volume\":86313600.0},\"1523923200000\":{\"Open\":44.122501,\"High\":44.735001,\"Low\":44.102501,\"Close\":44.560001,\"Adj Close\":42.991322,\"Volume\":106421600.0},\"1524009600000\":{\"Open\":44.452499,\"High\":44.705002,\"Low\":44.220001,\"Close\":44.459999,\"Adj Close\":42.894844,\"Volume\":83018000.0},\"1524096000000\":{\"Open\":43.439999,\"High\":43.8475,\"Low\":43.165001,\"Close\":43.200001,\"Adj Close\":41.679203,\"Volume\":139235200.0},\"1524182400000\":{\"Open\":42.650002,\"High\":42.805,\"Low\":41.357498,\"Close\":41.43,\"Adj Close\":39.971523,\"Volume\":261964400.0},\"1524441600000\":{\"Open\":41.7075,\"High\":41.73,\"Low\":41.022499,\"Close\":41.310001,\"Adj Close\":39.85574,\"Volume\":146062000.0},\"1524528000000\":{\"Open\":41.4175,\"High\":41.5825,\"Low\":40.305,\"Close\":40.735001,\"Adj Close\":39.300983,\"Volume\":134768000.0},\"1524614400000\":{\"Open\":40.654999,\"High\":41.355,\"Low\":40.602501,\"Close\":40.912498,\"Adj Close\":39.472229,\"Volume\":113528400.0},\"1524700800000\":{\"Open\":41.029999,\"High\":41.432499,\"Low\":40.842499,\"Close\":41.055,\"Adj Close\":39.609722,\"Volume\":111852000.0},\"1524787200000\":{\"Open\":41.0,\"High\":41.0825,\"Low\":40.157501,\"Close\":40.580002,\"Adj Close\":39.151443,\"Volume\":142623200.0},\"1525046400000\":{\"Open\":40.532501,\"High\":41.814999,\"Low\":40.459999,\"Close\":41.314999,\"Adj Close\":39.860565,\"Volume\":169709600.0},\"1525132800000\":{\"Open\":41.602501,\"High\":42.299999,\"Low\":41.317501,\"Close\":42.275002,\"Adj Close\":40.78677,\"Volume\":214277600.0},\"1525219200000\":{\"Open\":43.807499,\"High\":44.4375,\"Low\":43.450001,\"Close\":44.142502,\"Adj Close\":42.588531,\"Volume\":266157600.0},\"1525305600000\":{\"Open\":43.970001,\"High\":44.375,\"Low\":43.610001,\"Close\":44.2225,\"Adj Close\":42.665707,\"Volume\":136272800.0},\"1525392000000\":{\"Open\":44.5625,\"High\":46.0625,\"Low\":44.5425,\"Close\":45.9575,\"Adj Close\":44.339626,\"Volume\":224805200.0},\"1525651200000\":{\"Open\":46.294998,\"High\":46.9175,\"Low\":46.1875,\"Close\":46.290001,\"Adj Close\":44.660423,\"Volume\":169805600.0},\"1525737600000\":{\"Open\":46.247501,\"High\":46.555,\"Low\":45.9175,\"Close\":46.512501,\"Adj Close\":44.875103,\"Volume\":113611200.0},\"1525824000000\":{\"Open\":46.637501,\"High\":46.849998,\"Low\":46.305,\"Close\":46.84,\"Adj Close\":45.191067,\"Volume\":92844800.0},\"1525910400000\":{\"Open\":46.935001,\"High\":47.592499,\"Low\":46.912498,\"Close\":47.509998,\"Adj Close\":45.837475,\"Volume\":111957200.0},\"1525996800000\":{\"Open\":47.372501,\"High\":47.514999,\"Low\":46.862499,\"Close\":47.147499,\"Adj Close\":45.663143,\"Volume\":104848800.0},\"1526256000000\":{\"Open\":47.252499,\"High\":47.3825,\"Low\":46.965,\"Close\":47.037498,\"Adj Close\":45.556606,\"Volume\":83115200.0},\"1526342400000\":{\"Open\":46.695,\"High\":46.767502,\"Low\":46.275002,\"Close\":46.610001,\"Adj Close\":45.142567,\"Volume\":94780800.0},\"1526428800000\":{\"Open\":46.517502,\"High\":47.115002,\"Low\":46.5,\"Close\":47.044998,\"Adj Close\":45.563873,\"Volume\":76732400.0},\"1526515200000\":{\"Open\":47.0,\"High\":47.227501,\"Low\":46.59,\"Close\":46.747501,\"Adj Close\":45.275738,\"Volume\":69176000.0},\"1526601600000\":{\"Open\":46.797501,\"High\":46.952499,\"Low\":46.532501,\"Close\":46.577499,\"Adj Close\":45.111092,\"Volume\":73190800.0},\"1526860800000\":{\"Open\":47.0,\"High\":47.317501,\"Low\":46.727501,\"Close\":46.907501,\"Adj Close\":45.430706,\"Volume\":73603200.0},\"1526947200000\":{\"Open\":47.095001,\"High\":47.220001,\"Low\":46.695,\"Close\":46.790001,\"Adj Close\":45.316906,\"Volume\":60962800.0},\"1527033600000\":{\"Open\":46.587502,\"High\":47.125,\"Low\":46.439999,\"Close\":47.09,\"Adj Close\":45.60746,\"Volume\":80233600.0},\"1527120000000\":{\"Open\":47.192501,\"High\":47.209999,\"Low\":46.552502,\"Close\":47.037498,\"Adj Close\":45.556606,\"Volume\":92936000.0},\"1527206400000\":{\"Open\":47.057499,\"High\":47.412498,\"Low\":46.912498,\"Close\":47.145,\"Adj Close\":45.660728,\"Volume\":69844000.0},\"1527552000000\":{\"Open\":46.900002,\"High\":47.1875,\"Low\":46.717499,\"Close\":46.974998,\"Adj Close\":45.496067,\"Volume\":90056400.0},\"1527638400000\":{\"Open\":46.93,\"High\":47.0,\"Low\":46.695,\"Close\":46.875,\"Adj Close\":45.399216,\"Volume\":74762000.0},\"1527724800000\":{\"Open\":46.805,\"High\":47.057499,\"Low\":46.535,\"Close\":46.717499,\"Adj Close\":45.246677,\"Volume\":109931200.0},\"1527811200000\":{\"Open\":46.997501,\"High\":47.564999,\"Low\":46.9375,\"Close\":47.560001,\"Adj Close\":46.062668,\"Volume\":93770000.0},\"1528070400000\":{\"Open\":47.91,\"High\":48.355,\"Low\":47.837502,\"Close\":47.9575,\"Adj Close\":46.447643,\"Volume\":105064800.0},\"1528156800000\":{\"Open\":48.267502,\"High\":48.485001,\"Low\":48.09,\"Close\":48.327499,\"Adj Close\":46.805992,\"Volume\":86264000.0},\"1528243200000\":{\"Open\":48.407501,\"High\":48.52,\"Low\":47.98,\"Close\":48.494999,\"Adj Close\":46.96822,\"Volume\":83734400.0},\"1528329600000\":{\"Open\":48.535,\"High\":48.549999,\"Low\":48.084999,\"Close\":48.365002,\"Adj Close\":46.842308,\"Volume\":85388800.0},\"1528416000000\":{\"Open\":47.7925,\"High\":48.0,\"Low\":47.442501,\"Close\":47.924999,\"Adj Close\":46.416172,\"Volume\":106627200.0},\"1528675200000\":{\"Open\":47.837502,\"High\":47.9925,\"Low\":47.552502,\"Close\":47.807499,\"Adj Close\":46.302372,\"Volume\":73234000.0},\"1528761600000\":{\"Open\":47.8475,\"High\":48.1525,\"Low\":47.787498,\"Close\":48.07,\"Adj Close\":46.556599,\"Volume\":67644400.0},\"1528848000000\":{\"Open\":48.105,\"High\":48.220001,\"Low\":47.610001,\"Close\":47.674999,\"Adj Close\":46.174034,\"Volume\":86553600.0},\"1528934400000\":{\"Open\":47.887501,\"High\":47.892502,\"Low\":47.555,\"Close\":47.700001,\"Adj Close\":46.19825,\"Volume\":86440400.0},\"1529020800000\":{\"Open\":47.5075,\"High\":47.540001,\"Low\":47.064999,\"Close\":47.209999,\"Adj Close\":45.723675,\"Volume\":246876800.0},\"1529280000000\":{\"Open\":46.970001,\"High\":47.305,\"Low\":46.799999,\"Close\":47.185001,\"Adj Close\":45.699455,\"Volume\":73939600.0},\"1529366400000\":{\"Open\":46.285,\"High\":46.5825,\"Low\":45.862499,\"Close\":46.422501,\"Adj Close\":44.960968,\"Volume\":134314000.0},\"1529452800000\":{\"Open\":46.587502,\"High\":46.799999,\"Low\":46.432499,\"Close\":46.625,\"Adj Close\":45.157097,\"Volume\":82514800.0},\"1529539200000\":{\"Open\":46.8125,\"High\":47.087502,\"Low\":46.235001,\"Close\":46.365002,\"Adj Close\":44.905289,\"Volume\":102847600.0},\"1529625600000\":{\"Open\":46.529999,\"High\":46.537498,\"Low\":46.174999,\"Close\":46.23,\"Adj Close\":44.774529,\"Volume\":108801600.
[...]
