{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_f17bd895-a7f3-4af2-a391-ed56c6ca1d8c",
            "value": "✓"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "apiversion_698659a5-c3f8-4eab-b343-42ec0da5a0bb",
        "apiId": "api_edb4b4a1-e639-47e8-8f53-1adbbd296248"
    },
    "info": {
        "title": "Document Scanner",
        "description": "PresentID Document scanner API localizes document images with various distortion types from a single input image.",
        "version": "v1",
        "x-category": "Machine Learning",
        "x-long-description": "PresentID Document scanner API localizes document images with various distortion types from a single input image.\n\n**Input:**\n- Image file\n- Image URL link\n- Base64 image\n\n**Output:**\n- Base64 image\n- Status message\n\n**Ability & Potentials:**\n- Less than 1.5 seconds on CPU core i7.\n- Perfect detection on a salient document in the image.\n- Support IOS, Android, Windows, and Mac devices.\n- Easy integration with your app.\n\n**Use Cases:**\n- To create PDF files and notes and books.\n- Ease of separating text in images.\n\n**Rules & Restrictions:**\n- Send data via Base64 or an image URL or an image file.\n- Image size should not exceed 8 MB.\n- Also, the images should not be larger than 5000 pixels and smaller than 50 pixels.\n",
        "x-website": "www.presentid.com",
        "x-public": true,
        "x-thumbnail": "https://rapidapi-prod-apis.s3.amazonaws.com/d6a3bb95-3e7b-4e65-8e61-304b276bfba2.png",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://document-scanner.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [],
    "paths": {
        "/DetectDocument": {
            "post": {
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Document scanner",
                "description": "PresentID Document scanner API localizes document images with various distortion types from a single input image.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "statusCode": {
                                            "type": "integer"
                                        },
                                        "statusMessage": {
                                            "type": "string"
                                        },
                                        "hasError": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "base64Image": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Response": {
                                        "description": "",
                                        "summary": "Response",
                                        "value": {
                                            "statusCode": 200,
                                            "statusMessage": "OK",
                                            "hasError": false,
                                            "data": {
                                                "base64Image": "/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBgUGBgYFBgYGBwkIBgcJBwYGCAsICQoKCgoKBggLDAsKDAkKCgr/2wBDAQICAgICAgUDAwUKBwYHCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgr/wAARCAI2Ax4DASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD7V/4IvQSWP7DEaO4dm8c640s0bB1P79FKbsDO1gR0GMY6g19WJjI44BBr5s/4JFLeP+xBYSXbSh5PGGtmQux+Ym4OSV/hPTggYxjFfTCRQxjp0AH9K3yStKpk9Nye6Vjxc7oxjm81BdR1qoICtyFLYJ9zk1pQAIpeMA8YYGqUPlRruVeR0q7BK5QLtHJ6mvXV7annQhCGqRJzJggk8AAemBgUoG3CSEldwYDccAjPOOnenxxJGPMY/TmlbbIMlcU03Tu0OcYztdC5AOSqk4ONwqvgDgDHParCohBycccVEYNoJUkmsbybu2W7WsloN2krkGoZI9wx6VMrFTkVHLLglQKalKOzFaN7tXI0hVCGIyRnB9M0TMo5AywBA+ZhjIweVIPT3pS79k7ZJNQ4cjcwxk0m23qC0Gu7ySF5SXJcsd7FsknJ6+9NVTGBhEUg5JjTGTn61JgZzSEA9aJOUpqV3oSorlaaWo1ckYVVGB6UzkON5JwMDJ6D29KmAxwKXyVdd/eqjNpPUpxUmiOHH2hQU54+bHIAIPB7cgdPSieUGYyeXuYHjcM1NaqzyszAthfzpsdu8jsSvfpUbu5Spxck0VjJOQsUzMQvIG87SeecdO5pjO7EooHPUmrriLAXGcHnFQyRx+ZuUUO9rXKaancqlJMcjgdABTTEsyGNkyCQc9CCDkYI/wA4Jq1IctgDApI0XPApNJqzAgkgG/zpcMd275u5znP50tskiIsKl9qoFwZGbOABn5ifSppIg7BqVDsOEH1NU9WmJKMY2SIDaWryM0ka5Kv91AGVjja2e/fgipbeOCNmIQLu5+UY5pHgcvlBzU6RhOe/rRGUosJRjJDFGw7kwD64FPiiUEZB4IOAxHQ57U5Igz/McDvUwiWNgp4HrTi/d5XsOTW5GhKgI8hG1OuOp9fXqT+dWIkvF8O3E2kTv5xlxKyHLEH9aesMbxlmwB2JFQmZrecnTnkDKQJBEpIbPek1Hl5UbRhCOq6gdavbW5Cy6lLkY3CePqSPWp7WOCQyXcoWSRzkuy8j6elRHWtTQb7qdTtHyh7b5ic4FEGYSYt4Jxk8YqI3jK6Cai42Y9lQuWx+IqJ7WBMtDCq/7qgVLRVttu5hyxTuioyyBAkc8gxwF3cYHTvTYYvKkViJB8xJMcm3AxyeRz0FWXiO7etB65oT5VoTOHOkVlG7Pns7BuCC/b0qNFWMGSNMHPGe1TSBQ3ynikIyMUJy5+a4SinEqW9qwlLRhR8oHyqBn8qVbeWPK7jggjaCQAN6t69yB+VSnMT5xxTZnkKFlU+1JublzNiVkrDJJLtw0gZWwGPzDOW2MB+pqU3e6Eo6kpnlN5weAB1J7KPypIgAgwMeuaHjBXAFNNp3LdrDWmO0KsWwMpGR6EVJJBbtAIiQuR9Kqys0a4PQdKW7kl2x7TuGORild21DR7DWs7aUmNXyOeCOOcf4UxU8ks2VcLIGUYAO4A4PQ552/lSs23jvVfZKCTnPNJxjycq7mbjFVOYcIrk7FTOVXCgYA6YHHTpVVLO6t5F3RsBwpULtO0deVx1NWfMulwS31xSi5uVYCMZx61TlKTuwsisItrmd4nBPG6lihKIiKVwsZRBsAwu7d/Or7XdwFEewEEYIxSyvEVC+WM4oTaTQuSLabK0dunmI0q7lVslc9f8AJA/WnLEisGCorb9zMsS5P5jng4+lTQoCNxNDKm7K0uaVOXux3FGHvO707DVQmMBm/hIwDjgnJ6YHYDp296k/dlnkI2hv4F6UiIznj86lESAYx+NO8uVJ9DSTTm5JDrcpj5AV5HAY4OBgcdKkkjM0DRELgg8sSMH8CKYoCjC8mnmOWVgGIC+1KyUbIhx0erFt5Jg0txG5BPQEsw6Yxyc9Peq88EbMsqRKDjcx2EEsck8biMfMR+FXY4ykDlV+UHGQaqszBiNuRSkoylzSVxyS9m4ldI4GZYWhQJlx5a26EqpXqrHnrxj0/R0lvJMPMnkUuUG5ggHIJORgcdafEjFt1K7EEqOMdWIqvcT91WBKySu9CtJCGRWEpdxG6h3AOwsMZ57/AOe1R3FuQ/ES8nOCM44x/KpyRyQeM9aVlAw27Pt6VUuW17ajXMtLuxWNoPLVZFDAKcg+pOf0/HnNOREYvO6Q+btO4iMgv8xYAgEAjJ/SpscZNIFUdBU30sJKzb7kMdrEkYdxlkA2MqAYx6enJP51Ll5VJLyF8g/fI6EHH6VYjVdoIpUiXPX86lRgpczV2D53K/MyK2gMB86WQljycseajWDyh5Z6BVCjg4AA77QeoH5VbaMZ3AU2SFnTcF6d6qNuZNjlzSTV9xLd5mfzEuTGwLE+WzICDjqFOD3qORc4iwDufDCQM4ZTxg8575yPf1p8MTK27vT5YHkdVQDBPPtRLlaaSX3FJ2trsPFw0CW5S4ZjHEGjZQcxsAygAuTgYY9u/uai86d4BbrkIqkYJ7HrUlyojlEanPHftSOskqhRwB1AqXqtUjO8nLRtDUkldCHu5XB4KMQVAwRxnJ5ye/p6UOZCS7yuTnG4SvuZcDKklsYyq9u5pyRBRimTRnOR+FOUKdWS91EydaKXJN/eRCe7iDQpcSIsm8vsnePls5I2EDueMd6RLnUGlMkuozsdgwxupGOTgcZIHCgCpfKVyC46dqbLGE5Xp6U5KLktFp5Fx54x+J3fmVrnV75G3i5lZ1bhpDuOc+/WoRe6vbIkcWpzKkQAhVHI2KFUYyPcE+2asTgEe4qCUqRtxk/yrPkppfCmW6lZqym0QtrWtID/AMTe6HzKwKueMfKedwPQ+/3cVVk1fVo1ydWvH5Jw102CcEc5JHf9B6VLcRGNt2OD1FQTpHIvyrmhU6fKlyoftKvWTYia5q32e/u4tYnaSG3SJJhe7tpcYZsAY4AGPoPSkuvEWoWV9c2yyTYgUHzpppnlmBAJm8znByQRg9T681A0ktnK1wlqJldNk8R/jWpVi0t/LijivZY4yJVs5mzEjZyM/Tj8hUSoUea8UVCrW5dZA114ikuptFs5b+UQsHA89mAXO4HB4Byf85NQx+I/HmnRPGDqCrg7ieduM7cY9CfyFOitNUm8/UoZZmkaQtcyxybQg9MD0o/t3xFbAPaXjSQ7uXdcimoRhJ3imjVTny+7Jple58Ua1q14j6lMGJYHLxYJVcjbzntx9OOlV7q7dtqmRHVQfLP2VAQvIxkdvmY9Ociprm+m1eWO8uJkYx5C+UMZ+tRzQpKoViF5xnHT8qmKXNzWRjJ1JK0pNmfNNcfaTcvMjyOyny3CYJyTkgRgcscnJ/hHPGaqzy3ALOTEzPIS7NAgMmWz82BzyFP1Ga0JV8qHa/mKGkXaJI9obIIHOcfeyPfIx6VUu0MfITJz0NDhBrVDc5raTRTFy1rIvyIpBUL5MKjYoYHjgen6n1qi5jiyRpdgcHIB0+PA6dPlyOAB16VdmQyfMRgmqtwrbcAfWhU6SVlFE+1rPeTZn3Nrps8YWfRdOYLIXCDTYtvO4AYaPnClR39O1Z02n6GVNsnh7SMeUAyNo9sS6gr6p7D8q1JUbG0Gqs9t8pXJ5qZ0qcpaRN4TqOXPzvYz7qy0KZXT/hGtOYZLLnR7Rv4gQoUx9yT3/XmmLofhxHWX/hDdEU/MgkOhWvyAZJ2qI8L8xznrkeuamZSpKtxij7QjL5T7UjUfKiDAH0FOVKnJJNF051aTfLJlC48MeEpoAp8BeHn2yBgo0O3VSQSQSAmDjJH0JFQz+CfCAjQS+AvDreX18zw7ZMTjp1hOR049MjpxWkjrtJXjnjBprTnkVzSpxlJtpFqtWitJMzbHwf4Phfcngbw+mUWMsnhq1yq7ixxshOAB7e3pU2reBvA0kkAu/hz4ZJFmkZb+wLZmHc8mIE84zwMkZ61PulNwimdFDOMDGeKm1CaJrxl3528ZBqZQg42a0OhVajjZmXF4G+HvzFfh94Xbe2WRPDluCoPf5kOT3+vNS6R4F+HMV3uHwq8MOxjZTv8AC1pyA3X5IvfjsMmp2mMZ+Ukg+pzTwrOhlUorburE8+vT6CspexlH4VoJuqpq0nYrf8Eeb9tT/YE8O6pJl/tHiXXZlkLuS27UZhtBbIGMDIHHYdM19PrExOCK+Y/+COlmdP8A+CeXhC0kXEn9ta5vVhgkjVLkZ+YBiDjIJA4PHy4r6gVHBJaQ8125VGMMupLR2Rz5o5rMKjfViiOHADN3xt9avvEsaJEcKSPkUVWghAZc4znirU7q9yBJnKDvXoykkcA9EIA38kU8KWpAcjOMU5G7Gsm2wFeIbcrUDzdl/OpLhiU2q3196r0gAnHJqKWPzmBBxUvWmMMGgBJIsDYWI9cU2SEbRsHFO5605GxwaAIPJcNhh+VEsJTHPXtVhumQajSMsd7mgCPymK5AzilhQg7m6enrVlDGq7hUbc5ZR0oBDbWMqHmA596a7GRMr8ufvAGrERZbNpCBknpUCDPzYxntQU2yFQ2OQfrTXXPIqyQCNpHFIkQXk8mgadysIweWFJImDuWrDwktlelRhf3m1u/SgY1Ii3UU4wiM/L/+qpwmFwpx70qxqi73oArKsgzuH6UtSvMo5AwaZGvmE9hQA0HBzU6NuUc0ySLI+RefSjZLC4BHXqKAFvrt44EGBguFbnse9W9Qv57O6j0bT28lVi8wyIn36rSWy3UbRSAbSOST0oa9glt1h1PTvtSwodskTYY+1BrGV9BRf+IbuOaQNDLbxj53C5/I0W0RWITOwZnGQfapWvFubT7Da2iW9vgfIjZLfWkVeNqjoKAmr6hRRRQZChwEIfoBVWWXeSF4FWahe2+YlTx6UAQ0U827qOATSLCX4oAYdr8EdKU4xg9KlEQRclaiPHWnZ2uRo5WGM27tTWYCnEEkkIw29cqRj0P6U1kLHjrSG0RPGHlDgE+1F1GGkMaZBUdDUlujm5AfoD2NMEbG6eQggZx81AJFUgkZxyOopqh2Oe1XNqQ5ZjkmoCQWOFxzQSRsGAzikQ7h057ipGIA5pIo1Mgw2CR3oAPLdmBLf/WpzQgKMHn+dPSFt3zcYNDhw2xF5PVjQBGAFHFSRxFuW4FOSFV5PNPoAAABgCiinKmeTQARHB5FOb5+tAGOBRhj91gMetAFiOMR220E/N6moZEBXOKkuQ8drHuYAn0PamrE8gwTQBEowKZPGsgG4ng1N5bKw3LkE9jSyorEqO3agCs0aMmzHFRvEN20ZqyYSAOfrTvJX8aAKn2V5H+dvl7U/EcblWTHHBqaVCORSGNZAN4oAbEqlcjNSAAdKFXsopNrs23HFAAHXdg05lKphGHXgE0jRqFxnmkaByQ5OcdKAHMGDYwOnJFLCnmSqobHNNKlXDBj06U+FpGnDHkAdhQAxjGLpjKpI6HNOLAcJ+dLIshJcoeTTAM0AFAIA5FHWkdscDvTTaAru7LLkfjTWYscsafJEc7lHHf2pkkMgIz9096QEaxgsSxyM8CmyQIreYBgHrVlYMR5xgetQMDuwaAIJ4lnXb0qt9jKgqRxV9IRnLflSyxhhmgDJmgA4AqJkuW+SPLtK4URKcFvatCWPackVXlgDMNsyodw2kvgg+1BUb3JrfS9Z03wxe79JuPOeTiGGMnI6YOOv/16ytI1PX7G8h0vTbeSSJ32zwm2wEHGWYvjoM9PWvKfjHP480Dx/amz+H3xa8W22r6dPepdeHvH1tYwWkiSoPIjha8tSq7ckSHcAyoGK7mZ/Rvh3qfjc+BNMutX1C7NzewC8eLUtRjv57JpQH8lbpAFlVAdqtjOO5PNRGonKxtKm4ov6rBZWWvXdtbD92wBHl44NVSCOoIz61aMLWoIZcsxyz45JpqwTNIJZHKj2puOplc4H9ovzofgv4ghg2r/AKPa5MmWjcNewLsbJwpwxIboOuDgCur8QK4v7gtBFE3224DQxrt8sLKVAwSTzycn8ea579oVov8AhUeso8wY/wCiGNBKq+Zi6hHOQcbWZWyATkDHOK6PVfNmvJTMcOJXzH5hbZ87ZHPPXPUCk1Ylu5kyJIx6cVXuIsckVpSIUGCKo3peR9oWkCsZs6KQSDVK4lXG0H8avXcK7CueT3rKu4HY4DYx3oNIuzKt0SW4NV57bzIvlJJ61PcI6vljkHoagllcKRHQbp3I1ysYyxxTJJs8CmS3LufLI5Heohc7AWHBx1rCXusaVyezkH26EMQWZ8AFarXOoXM15K7nA80gfLjin6XMlxf7mZj5aEgbaznuVywBIySSD9a56ib1N4S0sWJr6T+FiMehp1rqpQFmCBRwAzc/Ws55wWwTUU9wiD5pAoz1LYrBzilqzRwnJ2idz/wSWOoH9g/wgs0wkzqWsy4wW5GqSAqTzk4JBbuRnHOK+jlilCL5ikEqN2SDzjnpXzf/AMEko7f/AIYE8D3ETAGS71YhcKq/8hO6IZVRiE3HLcgE5yQDwPpeOQA+W/B967cqThllLzRz5pNyx9RX6ixJKxQYyAelTsAs29v17UtsUFzhMnA70SSCQ7VXnPNdp54+mrG7tlv0p0aMFwacUIXANAEEwYNjOR2pmD6VYMfmDB6etIECjaBQBBTXI6GpXiIBIP0qHac4oAcAMcdKWMRgbyckdBTSny8U2gAmJc/KePemq4z5a5PqacQCMGlXy41yKAEp52lMHpiowwYnildm2bVA5PNA07E7o8dqqofl71AamnmaGNQWwMcgioQcjNA20FJKJAMKMH1paAHaWNQMh3Cj0zkDGccfeH0pN2RS1Fjt5dnTJNMjKOPMC98civJvhb+1pN8SfHuj+G4vhBrOl6VfTy6dc6zqztbSWWrx2k91NaGGWNPNREt9hljY/PKoClQXPrzyhkVBnGckEdDSjJTV0XOEoOzGqpPNOwMbccUEgDNAORmqII2tlb7x+lOSEKMkflUigHqaJJQBsUcUANUYGcUkgkILqN2O3c0/dlQuKQjIxQKV2tCOKza51FLSZXSMoXkAauZvvjP8HpvGUvgzQvH1m2p2l6mn3ViA5WG8kEZS2eUAxidhNDthJ3nzY+BuGeldpIbgXltMslwEZRCdu5/lOAA/BPbrXzTpUGj/ABP+KGq/Y/AXx30zQ734ipd6p4OvNBgtdGudRtLxXOoyzspnaA+TGxjVykmyJgjKS5xnUlzWR1UFGpT97dH01PFaQaNZXSLmSWXLEnBA+lTh40TKDqOppjzi+mX90UhhVvKVkOSocqMjnb2wOeByaSSRpGJPTsB2rVO6MJyTk0mNcn+EUqxvtz1pY0Zjx+dTAY4FMkr06NGY57etOCRs5wfwqThR06UAQyKVY5qM/IMKMVJJJvPA4ppGeDQgYxT/AAkcGuC+MPxv0r4TXmg6WngHxV4o1PxFdTw6RpHhTRxcTzeSiPKzebJGFVVc569D3Chu8YbetfM//BRTQvC3ii/+H3hvxzqGg6Dpdzqmqy3/AI48UaVd3sGkGGxkdYFFrd2zRvc5dQ8jOhW2aNQJJEJjEucYpo1wkFUk1Y978F61P4t8G6d4ovfBGr+H576He+j+IbZYb2y2uy+XIqOwBOM9SCCCCQQTo15x+xR4im8Zfsu+DdbfwhFon2jTnENjb3ks8MsSzTLFcW7zSSStDLEizIJWMu2Rd/zZr06ONVYyHpiinLnjczejaG28byOWC5Krnmoykv3nXGTxVtHhEbPkdKr84HOeOKsTulcaIPNHI+lNa0XOG/GphIQu0DHvSAFugzQZlc2Y7CkeBRgsnK96so21s4pLhQR8ozQBAAT0p2wYx+tKAQORilVC3SgCLBzjFSRxd2qb7ONu7HIptADGjAO4CgKTTyOxFHAFACbBjH60xlYELsyDUgOe1PhXdIBkAZ5JoAJCrKBsxgdKQudu1eBUt3GokwrDpTZLK7hUNNbOu4AoXwoIPGeeoyR+fWk2o7ivdXIwJMZTtStJlSzJyfQVGt4soKpn5eM44PuPbg0qyEjYaE01dAncUc0UUUxiOCRTKk4NMZSDwKAEBIOQaVTKhO4YJ6UoBT5qkbbLHg9e1AEIBJ4qQEhdpNAAXgCigBCobrTrWBQ7yuxPHAHakAJ6Cp7QIYXkZfpQBEpnCBmkI44BFKGnAyAGGMcimyXCFSjZJzwRUbzmFgQ2R2oAe7qgxLEuT0A60jm2c8xsOO1QKX3l2bJzwTT1YtwetAEnl2pRsSEc9DQRbquPPjPB4bIzVczFm2EYAocZwpQHdkDPTgE/yB/KgG0iQpPKu0Iv3QRtaqzQSIQxTOT1FeP/ABm+Of7QPg/xbqXgv4S/AhPEYtrJdVXV5b3FtHZRxPNJEwjKv9pmZEigjYrEzBneRVBDexRzTzW8VxPavbu8avJbuSTExUEoSQMkZweO1RGopSsVKLSuM2tjdjioySTzUrzhxsJ+hqF0VVPzc1ZKdxkgVj0qC7VFj3M+1O58sELnvUjuF46n0plyd6Zb5VHbPWgE2meHftVfE+38ASadavqepaLcxaBcRahr9prNlaWcdlJd20AWU3drcxuoklR2yFRBtMhCsWX0b4NeG/DVv8FfDFt8O7u4TS7LwtpqWNpcgvMLZbeFlZpScyFlwCxVRkEgYK48m/ad/wCFx3vxI0yL4QeNvibcDVfC/lz+HvC2u+HbCwNqsoiadZtVQs0n7yH5YtxGzdxwj+2eD7XVPBnh2x0jUINULppcds8ur3n2m5fYijMs6lkmfnBdWKnbwW+8cHyOodMqjUbEu4zwrLgjI6GmkPMAoZRtPzZ7ipFiZ4o0Djhccd6PKZFIC5I7VuYvY4b9oO1tpvhLqgezM0aajphKK+0pu1K0BfJIUYwPmIOOwziut1iJhc3SyAiVZQ480jADEsV3YycbjXL/ALQCJ/wrGZ5bK4cPrejbUggSRgx1azTIY4MYAbORzxxk4rrb65t2v5X85JBJMzESABt5JJG3tjBGO2O1Q2CSMG7SRSTjpVSZwy5xz3rWuhE7MB2rLu0RckCkTy6mXdr1J/Ks24YBuRWndAknNZl5gZxQWZ92Wk6DA9KqtlR0qzcSFFORVSSUudq1Ep9jWCaKd1KVYknr1qnJdhz5anGT97FTXzBgVPT0rPZWCFwBx6nFYvXc0W5pabcwxrf3JiZisWEZeKwnuGQkpK3I5BNXVumGj3UiMpDsEwr45rFeZUBVc9e5zXPOT2OiEVuWJbsHqefSmtOro252OdmxVxjjdknPfkflVCW4AGS341Y0y4tzc7TKrDycncUGCcf3+PyNctWkpR0OqhJ+0PUP+CUFnJYf8E9PhvpxuY7hEsb+IeaA8i41K83oWwBgF+gHuSSSB9G21vmTd0Jrwj/gmLZXumfsJfDqyvrSaBjaX7PEYB5a5vbg5QArs5K5AGOMckGveYpQT04+lehlc4zy6lZWsjzM1jOObVLrQniAkVyDgr+tOhBLgg9OtRqyQwuS2fmxgipbXZIvygjiu84ywCCOKVQvUn8KZHHsB5zmlfO3pQAF1zTWOTSDmigBkkgUYHJqLrUksZJ3KPrURJVsHpQAtNdccipAnG5jgU04xzQBHSMAwwaeqr1FDofvAcd6AGgADApuZDJt28evrTqdHvWTaB25zQBGyPJMNzcD1p7uuQM0yWNkk3LznrzShADk8+lADlIDAkZAPSuZ+LHif4Z+CfAt34m+MHiu20TQ4Gt3vdRvNV+wqCpLgeYp4JIwTkDbnOBkjplUmq2uWWvX2j3Vl4T1ttM1Oa3dLDUVtln+zTlf3cvlP8km19rbWHOCOM1M21B2NaMoxmnI+Pf2JPF/g34pfHCHx9oXxE8JG61fTNUx4V0/41eItX1W0AAUpPY3chtvM/1JcqAAM4Lkb5PseKZ5y0hR9rfMrOir17YB4IOeCBxivJfgJ8Gvi94F1TQh8Uv2rbrxofD3hqSC50608PWNhFdzOsatPcCFnZggL7cAEeby2Mh/YU8lwxV/y70qKTia4ycZ1FKOxHT1Ujk0scS8u7cCnqgkO4AhferehjuNVC5wBRJEiYXrn1qdVAG1RSeUtyfKWNmccgK65JIOFAP3ievXp60ARBVByTlQAWPpyB/XP4U61spTAbh5PMQpG29IztG5Vz8x+9yeoAHI+pkSIou/byMcM23k9Mk4x0P5V8maJHr+i/tXXUKftK6VHaeKfF0V3bzf8JZfSySpZareRSaULMxC1t2LlLdkWQZMTF98ibjnOooGtOlKre3Q+rJoLJrC8jnvEhaS3JhuHcbEGP8AWZwRwcjkH6V8+yfGH9pS++NaeD7XXPAMWmWHipYZdPi1a1muNb0+e6UoIB9qEllJBZI0rq8e+VirhkGYj9BXmk3NxprAT292oiIWBwPmbcQq/LwMjA5/M858fT9o3RofipP4C1z4VeTPB4lsdJ0TUrHULae+lLzTQyXEkAi8+0ih8oHksPLkDFlIGZnON0b0ElTlpqeyxTi5XzSrZ5yXTB6569+vWkMS+Zgn3xSRwSefJM9yXd2JZ2cnPOe/17Y4qQASqGzgg9a0irHEkk2+4AYGAKR13LgGleUIMCmxvv61QyONH3Z6Y71NRRQBFLHtO4dDTKmkdVG0857VDQAqrKAJVKDBHEibgw7gj0NfLH7ZWiazpXjux3fCnx1feGfELXM+teItG+PM3hWO1nitrOOK1tzLqcKQq8cbyNGgVRNCs6kM0jH6mcuxVdm/c6IqBypJZ1HGFYngnt718yft4eEvA3xG1zwhoGqfDfxF4x8QNoeoTeGLXRfCWkalDY7brS5jqUy6jLEjCOSCBPL3kSRzSLhZGjzjWvyHRhdK2nU9o+AK+J7n4GeGY/F2ipaam+mZm03/AIS2TWTEHkPkAXsjsblynzGTdt5wAgAQZ/7Qnx9sPgD4esPFeqeGoNT0a6nlh1GaHX7O0u7YjAQQW9zLGbyV3KxrDCxkZnUBScK1v9nfwNc+Av2ffCngK5i1K3fTNHXzbfU9OtbW6imJ8074LfMEZ3HhIPlAUDpknxj9qfXPiP46+M2g6bpfwf8Ai3a6V4Vhvpb7xT4U+H2h6jd/bZFhNq1hLeyylYwGk3rHCGZGKbgBKhylKcKasVThGpimme0fA/4//C/9oLwldeKvhbqF5d2sM6rdxahpF5ZT2rOMqGiuo0fYQRtkXcjc4Y4rsXiRhhVx6VzPwH1H4ja18DfC2o/GeC5t/E8uixyazaXsCQ3NtMGI8qZIvkSVVYK4T5C24rwQB1MfIBcnceSCB1/CtqUm9GcdaM41bR2Io7dnPzcCpNgTgDipKQgEVqNKxF5S7t2Pwp21SfmFHSigVlca0KMuMUJGFHSpFTHJpXXPIoBoZTfLTduxTqcgUthjx7UEkUqKRnODR5KFdpH41LLGrcJ2pEiYAAmgBixqowaIo9j+oqdbcMANwB96dDaxvIT5h4FAFcyD7WjKQo3AZYnr26Djnua+Hv2K9b8Oa78aNL1DXvFHgC58QHxj4gFzHJ8Z9Ul19Zka7BV9NP8Ao0jm2WJ/KK7I41Bxuj3L90Cxklm2hTkbW5jYqRkdSoOOMnNfI/7Mfhj9qXWfif4W8ctN4quLGLWNZufF3irUvGiXWg67ZTif7Ilhp7SNLazB3thkwKYwtyrSOGBk48RNxqJI7qCjOi7n1dHbxJCI0AA2gDaMAADgADgAdgKh8shsE9D2qaZvLVYllZwvyb2VQTt4GdoAyQPTmo66o/CjhaSk7BRtLcZop8cRPzN0qgEaNUXk89hTafJG27gZzSPA+0bCMnrntQA1Su7BqZViUF2OAO1M+zoF2qTuzy1SBF27DzQBFI/msWVMCkRGfp+dSoqgfLS5C4HqcAAUDVrkBBHB4qWNylrsQcnvSPsZGZl6kBWYbQQd3TOCT8p4x6etSOvkwIFwfUUFNFVIsyY70+SNEXJGTQSQc96jd9xIzQQN3RlD69qVQB0oRFJzQ7YbBGBQAjQLId/cdhTQp3BQkbMoPl+YpOD1xx0z/WpFODmmSRGeNoyg+ZWUyocOgPcUa20FpdXPjD9t74o+APhn+0TN4iufFPiTQb4+Bkjmj8LfFkaPf6/JBDdXFvaW2lywlL13cLbh0kDAy/N5R2s/19Hdm+jW/wBlwDKgdkugBKWyQd58tSW6k8AHI4FfK3xi8AftOQfEPxJ4f+GvxW+MHjKaxbS5vBdzpsXhS+tNKvbgH7VBeC6t1mscJ5LbtuFglJXzNxiH15dIbiV7l4dmTliHZ9xOTu3FF4ODj5RwOgrkpRm5ty2Ouu1GMUkZyIzHcaGX5jk5FWxEoqKSAk5Ax611nKQeSrPkDr1qG8QCWJZGXyvtCBiudxAIJxyKsO0hbyolI9TT7KO2TV7VtQnYp9oH3lG0cHqc+oAzg9aGrouOjueEft16L8XNd8VWf/CPeHtZ1DQ7Pw3dTaWvh74f6NrTz6iG3i3vU1Au0Vm6hVJQxJvmJLjYHj9X8K634wuvA+kN4ntLe0vbjRLZdQtLOwAhjmkjVpFiKqqlQSRuUBTjI4Iryn9onT/j/wCIvHt7PoXwy+JNg0dq+j2+s/D7xLoLQaxpzyzyJFPDqYWSAiRlDsE+UsRuKktXqPgfVvG2peC7Cx8W+FhossEYhj0p9UgupII0ARBLLCiRlyBkgD+Ick5rmVN81jeo4yjcviOJSETPy9D60rozMGTr0IqRYti5IzkdabXStEc7RyHx7k8v4bhDFbZm8Q6FHHLOCUjdtZtUyW/gxwQQC2cAcmukvriOeeeJIpI1MjPEBJ0BmclWyOTg8H0PFc18bRND4Kt2tfIeR/F2gxsrziMhH1azWQblVmyFJIGCxOQMZyOpmjEjtNOGVpMyfMucEk/LkewzyAecUrJsauZd1bWPnec5IDDDDNZ+oafZof3N6MY43DitO+gjYENn8DWRqMCNxtJAGDmh7DM6+0e8VzteFgecqwFZN/pt8gJFqzANyymtKaOHzS7EqcYAB6VlXT3lupS3uH+ZsnLdqgDLurafOZYnUdyVrPmIi4Qn8RWrPqd8Hx5+CpySwzmqVxrkzOTLBGQDnITrWMo2ZtGV0ZN28DfOZVz6ZrLvpgXCg4wRWjf6zZOFM2iq2HOWRutU7ufw/JI8ktvcRsSu0RPkDn0NZyNIsp3DRxeGVDQxB5bkspBwTWPLIwID8Z7A1u6nbaQba2g+1AP87BXjwcE9cetZs2koCy2uqQOCMhScYrCo9NNzopxl1Mm4cNKQCcD1pgvvJTCXYAycqJdpB/Kp7nStRVWJWKRcZIR+tVLjw5qc8CtHZOkjsWG2AsCv4f55rhd2dtKHK7nvf/BLxtTj/wCCfnwuke4uHR9FnZjNCQwZr26JJyxKg4+UYwBjBbrXvwuNsgZVzgYGa8J/4JwyqP2EfhU90Q8lz4a3SymZG8wGaRyxJySdwIzkj0JFe6RRblzI3OB0I5OOa9fLlGOX0baXR5OZKX9o1r66mgs0BthvjBJ5xTontcsQSvTiq4jVFVFbk9jUnlFV4PNdhxFyOOAkky5HbikZByueO1V4sumDke9Sc+tACPGijg81E0gBwOTUu3JyTSeUu7cBQA2op0XGakyzPjHHYU2byypRiNxXcgLbc9uvQfjTaswGLFI6gI3Hck9KPsxPCnpUq4VcAYx2pI+p+apurhZ2GmOONMyH8Kj+abnotPlgMkm7dx6UrxAJhe1MCIIoPHPpUtqhErSMMjHeo6lit9sLMH4IoGkyGRBk7fXNReZ82AMilaGQgqWz60sSBOG60CJKbctaR2UkmoSQLAsbPcPMjEIilSzErnHH+yefpTqjvHsFs7j+0XRbcW5+0ySFgkcZ3Bt5A+VdquS2QABkkVM03HQcUnUikz5C/wCCfXhDwd4c+IkNhZ+DvAsUsnhSdNF8Tx/CTVdD1nxBawtAROmoXlxILmLy7k5XiV1kWTEeyRa+w8RyK06sdzMSysxJz9TzXzr+ylpn7KN/45/t34O+PvF2tXljoV3b+EP+EquNS8iz0lp4PPOmG8t4lktWdIvmhaRGQIylo/Lx9DoyuuVdG+ZhlHDDgkdvpWVG6OvEKKlZCjGQWGR6VYBBGRUKRFuTwKlJWNCTwAMmuhts5kkhsqGaKSJWQEjYfMc4wxALYH3sAMeo5HcZr5O+LH7X/wC0l8Pta17wrq/gqXSYxr0r6Vrc3wr1a7gt7JHuz5TTLm2uN8cdqvnxvGV81j5ZG2SvqzVtS0/RtPn1PV3ZLa1iaa6JQnbGB8zYwSw2nPAPBz2OPjj4Hap4Zl/bm1TTdWu9A1W/m8W397Y6xdeIvFSaqqFbiZIxZvZjTv3SqEGJdj4kUAOzRyc1eU/hidWHjSleUj7G8HXmtan4d0bV9d0+XTru60+3m1KxIbdaytH+8gZSrbdjSspUMT8o+Yjr8feBPFgh/a2uvD9z4I8GjUbz4mXS+IfCFt4Q1JdZ01bSSdrTWZ9SMnkSRbV85Y/KEAN/EY2aQFpfrvxV4V07xv4fv/DPiaW/jt9SiENxPZX0llcorAMsiXELRvEysFIkXBBUHIr5f+EnhldH+MHhHR9N+GnxRt/EFt4w1qDWF8QeJPE19pEGhK11tuVuLu4azuyQ8DRomcNcssalAdsTX7yKZrhJcynyo+p59J0y2t7LUI9OWdTtNzyx+bd0+XINfPPwm8U6l4j/AGob+xvvil4Zln0rWrqyQWejlP7VjF1csRLczWaBp4LaKOFY4Lh1URTFvMMYNfRgS5iiaPTr6OJ2Jc5RnUOSFJZRgg7senIY+tfJ3hL4utr/AO0jo2lX99q9j4KvPiHqi+G7G38daJIF1i0N2jie1jT7VbwlobibHnPsZo1IVneIVXcWPDKM+bufVulhZrGOccrIpZMNnC5wATk5I4yTjnPAqw6MUxEvToBWD418beEPhX4SvPHPjrXIdK0fTrLzL/UXjl2xxq675GwDxlxk4xjk8c1xvg39r79mf4m+M7bwB4F+OPh3U9au5HW10qKV/Nmkhi8ySNVeMYYfeJDjgA/dOa0jUiko31OOUJKT8j0vysj5jzT1RUHP5UkeWjV1IZSuRIpXB5PZfu9OnbpzS4J6CrTIClIIGTSA4Oak4Io5gIJY93I60CEbcE8+tSEYOKCpAyRTugIY4n3BjlcHOR/Svkr/AIKEaX8G9e+M3w28N/FbxT8LrJ5tL1mTS7D4zXM6aPenzLCOQxtDKipciMmMNMGzHI4QcOG+u0L71CnI6EV8w/taeINd+JPi/RdB8J6/4r1bwmml6tZ3sXws0fTNZ1C31eK9SImaG8ilKW8fktHI6xOBIfLwS2DhWaaszswkZqpzRZ7h8HNK03RfhN4c07T59DNna6PbLA/hm5abT5ITllktnmZ3ZHXncW5POT94+JftKeJP2q/hZ8Rm1/w78bdTi8E6vp03kPpPwTbX/wCw7pTaRQ20v2JxO3m+bO3mMVjEaYzlS7e1fAWDxvp/wR8G23xI0fT9J8Sf8IxZHXNOstNgtoba8aIBowlvI0caghvlTKjOAWFfO3/BRK50LRPH3gPxevxG0+w8QaHFLqGjeHdX07Xr5HhgubZ7i9ig0dJpHlMarZgOm1UuZPvF0Vs6yXsUPDy5cVJNH0H8DPEvj/xb8FPCPiT4uaY+m+Jbnw9BP4gsprOW1eG4dFO0wy5eIn5TsfawyAVQ5UdWwKMVyMg4ODmuZ+B/hzUfCnwY8HaNdazLf3dp4ftUudSIuI2uJBGuXxcMZeoJHmFmwwyxzk9TJHIxyQc4rejfkOesr1mlsRySkDAFOiZiuG60ixlzSiNt2CMYq+YyCTaOScUoULUhttwyRTkhC8t+Ap3RFmRUVM8Rk5XrQsaqMYz70J3LK4C78Yp67c5YUTRkHIpqnd0HNMVtRcDOQKfHHu+YnikaJlXcfxpYi4zgZHpQDjfYS7JQbwce9LFmWP7Oy/PIhKohBd8Nt+UA85wT9KTz3xuGVwcgjqK+ev29vE/i3QdA8JaJ4Y+Pln8Pjr2ryaRqE813cwTXMF2sVu0sAtVaVpIzJgOHhEbyoxYHaGiteCLp0ZTqqNz2j4leEvFPifwtd6B4S8ZTeGtTMsEtvrMWlJJ9lkinik2yQuyhopAoifaysUdgrK2CPAP2X/2DPFHwI8Z6T8TvF+sfDOW+trK6OvT+FvhZNo1zeTuWZXik/tFokRQ8gMYhIyq4YZda7L4BeCPD/wAR/wBj/S/BHxl1iz8aabfR31vqRv8AUpr6JYRqE5jsTcypDLI1sAtvJ5iBmMLh2bJLfN37F3g74fxfH7wdP4M1D4exah4cXWrC58W6NqOppdePi+l28khEM9tDbrCvnxzvskdVaFGQOzq68tWT5os7qNFQpSTWx95NCHlaXa6lnyQ2P1pskZDfKOvSlTekhVISkbMzquCuMlecH1Idj0+8Pc1JXYpcyueTG9tdxkcQXluTT6KKZQUUUUAAAHAFIylhgUiI7tuNPIwcUAIVWJCSee2ahu0v7i2ubXSJrWO7kQpYyXLO0YmKssbNGCDImWyQpVuMZHJp0sbyOPm4NILVriRbe3nWNxIPLkP8L9j1HQ4P4dRQ72dhpXPlz4D/AB3/AGmfiV8SrDStU8WWWpeHxrt7b6vrPhz4Q63FZ3kdu048iG+klaEYdzH5hUZMQzyjofqd7jfIELh3xlioKg8nBwVXGQM4xxkc18F/su/GjSNR/ani8DaRpU2lmb4j3Nhb+ENP+KOrXLafaXsOrXrzXGnmR7RWE8AZ4xHCAl8VyrxrG33vIzPIzMrLlvuMMbeAMY7cAD8KwoVJTj7yszqr0VStZ6MjljEmOMetRm0C9Tj3pzzDoh/GmmSRhtAJNbnK7XEK+Q2eqmmTNCPmZs+gpX8xRtY8U0IWwSmRmjcTaQwP8jSuAqqMkk4AApFWaaR4jA4RWwzCMSD5dpflSegJyPVT6V4N+1fe2+j/ABw+G0niT9rjxB8M9J1Ox1uMx2jaPDYXU8UcEgWWXUIXG/YryIoLN+5lZVIEldp+yT4lsPF37PHhPxHDr2sazDqFndTf2p4mkSa+vXN5KrzP5Uarh2QsuBgKygknOYU7ysaunahz9T5y/bE8XeFvDn7RPiPxdc6vp+g3vhmx8PXGp2r/ABe1bR9W8YQoWltha20FwlvcCHddKFeMh382JyRIyp9p38tut9NbKrKyHDZLE5wOSW5J9SeSeTzXz38dP21/DPwf+NOofD/xR4A8P3sui6Itzo1zeeKLS21XUb5vIMUNjC8ZPltNKkKsj72lUqoV0Af6GljBunijDsFlZd3lHngHaT2YZwfpSSdzWs2oRZErA8BskDmnEjaQ3YU14irgjilrQ5XqyAsA+5aZfi1eHdPJtyRgDqT2xinyYEwVVJB6mp9Bkt1lutcZA5tYyY1KZwfWhlq5QOr+IbREElzI0YLkC6gyoGMdevasS38eXGs/EG88DXWiW9v/AGTotlqCXURC+Z50lxDs8sHIA+y5JYYYsMZwcb6eIdfmtluW1WM+Y5ATyg2QevBrl9GvLq++OuvaXqUsP2mHwnopa2t/kClrjUQJdhHIYKeS2SQQBwSYW4zoMDaFwfywAOwpotImwJS2NwJ2nB61IyM6ZcHOeSfWhY5ggJKAZ6uccVZLZwnx1sfN8G6a8sTzmPxf4fyts4UgjVoGYnKsSdmRgYY7gAwyTXY6hBILmUuBgyEK6jAdRwGAwMcD0GK5v4vFh4c0a2a42tL448PxLPCWYj/iYwsVO0FiGAIwME9MjmuhkWSNn3IgLysxKA859cn1z6daB3Vijc24YksePSsnUUC5ArZustWVqMZI5/CpkS3cxLiBFJc8k9KyNSXB61s3Aw2H4FZOqwc7ox196kauYl2qFSAOfWsi5RkkLc1sXQ2HJHOayryTDnIpSSa1LTaehl3mAOO3SsnVDIqOJEJ3L1AzitO+bJJx36VltEktyEErB3IUAN15rmb6HTFdSr4luXE8USsmI7cDdt5bNYtwFYBgoXA+ZweTWz4qeM6m8LuARhRlaxnOcrjiuaa5WdlNuaKoid2LxSSAZ7PjNTrqmo2ylE1CaP5uobNQ3k7Q4jUYz0NP052VyzspUryJBkZ/I1zVOZaxOpJaXPpj/gnZD/xg98LxHeJJu8Ml1VZ8hVkuZXHQcjBPXt7YFe2QogIPBrwz/gm0i2/7BXwpWCa5eJvCECrJczBzPtlkPmkDgFsg546/gPci24iQHqecmvVwK5cupxm9bKx4uP5v7TqOK0vqSF8zEmPp0qaBhIMsMEdqiSYqeRkU+OVATjrXWcpMSAKaH556U3O45pyp3NADiQOTSBgRkGmyo7fc/U1DC06j94nBbsaqO4Wje7HyF4Y3aEF5MEoq9cYIPG056givizx1/wAFw/2Zvg9+094w/Zk+NngXxT4aHhbV2sU8RWwjvrW8iWPeZZLcBZkj5XJCtzxmvtGbJUlI3Yx8kpHu24I7ZHrXx7+3l+1f/wAEpNDub74e/tev4b8catpcnlXPhqy0FNW1a2K5AjMkewwYbDEtOmGIBHyuV4cZOdBc6kjtwUKNduPK+9z6H+CX7SXwJ/aS0Qa78CPi3oPimONVMkWlaorzxBvuiSAhZEYg8grkY59a7cXsIZWJyCGDbTnBAPGBznIr+e7XvBPgn48fG+3vP+CXf7NHxb0lra5kZpV8Qm9lQeYrAxyxgNbKSw+SS4bCqo43FU+0Pgh8d/8AgtN+yT8SfBPw8/ag+Heq+OfBOv6/YaddatqNjHqEthFczJBn+0bQlo3j3qAJQyFicE8Z5MPmeIq1IxqQ8jorZbh4U3OlPc/UgSIy7w3FRySluB0oaHyxKRIpVJJnLicOoQOcHPbjr1HpxTBjPIr19Oh5VmlqB4G5uBnrVkGFIQQ3BNNIRkwRlSOlCqAgULgDpmgpPQikI3HYfxpEjAG5jUjQ5bIOB3pREvAAoJ3Grb+YuQfzrnfite3Xh/4ba9rtt4G1DxTJbaRcunhvSIt11qRKBDBFh0bcykrlSWAJK5IxXUooTgEj1IrD+Jt7pdj4Cv7PVE1BIdVtZbCO40/R5bmaGSeJlL7bcF/lJDEjGBzkdRFXmjEqm2qidjwL9lPw9r158QLDxBqvgP4s2sWleBGsLP8A4WRqGkCLQoZJYGTTbcWLs88zFZS0s4G2OGPDnIU/Su1yoSaV5GV2+d3B3AnI6KOnT6Yr5R/4J1eF9N8IeIde8Paf8H/CGiyWehxS3ep6R8L/ABD4eu52mm8yRLifUsrdv5kTvJskeRS2W/1itJ9Wxlzu3LwGOGEgcMM9Qev5gGow9t2dGJk7jjwM4pFbcM4ocsFwoz7U9VOzDDmtjBO6Mrxd4pt/Bnhu88R3tpf3UNlEJTa6ZYzXE8jBgqKkcEckj/M3OFOByeAa+XPgP4tufF/7Wjaj4W+KPjDwlpj3tx5ngaHwb4i+x66JImRWubnVLeGCxMXl73jthGzu+WJXYJPra1RY75JbwqE3KcsM/wAQAOO/JFfIX7Oegaxa/tXQWlvPb/27o+r6xL4r16fx3qkN3rdjMzyRW39jXUMQKwvcWS+au5f3b7Zsfu35at1UR20IRnSkup9QeM/iRpXw08Gah8QNcu7byLCGOdjfapBbR+Y38BkkZFjLFkHO3OcZPSvlP4Dab4V8VftUWzn+0dTv9K1q6uNI160+JHhm/jttNWC48u0ENnMs/lu8jStmN5lJUK4iUhfsXULDSL2xax1HTheQxur/AGaVdyTFChU7GLL95QRnODkk188fBX9j7QPhx8WLC98O/E7wVd2ngW51K+03Q9F8EafDq0bX8M0TR311C7tJGJJriRfLiiPzYJ2rg3KS0KwrVOErH0RLG7hI5oDJErlUji2nA3A7lIwy/KpwFyf3nTqa+NfhQ/wv8W/tCX3wq+LHw7+AnirULrXNWeC6vvC88Wt3VqJLn70dxpgt7iVUQQtIJR5iR7j86Nu+1IbVJz5McilnljXLIAFDHKlflBUj06Zr44+FPju58WftE6JrXxP8beI9T0q58Rap/wAIfp+rfFyzvY9N1BI7mN5LiwtbWFo90byxxxs0gi8wbQDtC5V+ZNKwsJNckm92fWes6poXgfQ213U9Wh0zT7CANJOY2SNEMm0YMbblYgqoAyflAA5xXx1+z/rvjO4/bO0B9P8A2x18Uwy3N6/iHw3J4+mENq4+3t5FvprwEswQWx/1imPy7gFmG9K+09Qtprq1uLLT5TbXE0bRwzpDvaLeGXIQqAdoblSDnpnpXyl+yNcfHDXviFo48R/Fz42eLNB0i/1OeHXNW8E6TpGi6y+LqIidoZReTosmSFnTIeQEgsB5JVvzRY8PFqlNs+q08s7SQjlVJdvLK5cnsB2FSJjHH41HEj+SZjIXBOWIhI2sTyC3Q/MT04AXqadFuLlSMelda2OGzQrJzwKcEKryaUKc46YofOeaXKAmB6UEZ4NKVIGTSUNAQvuEmfK/1fzbmPBr4i/bu8A/su+CvjJZi7+Fvwi8Paj4o8O3urap4j8e3er29pqU4ntwYtmmlFSQxx72d23yLGFWNwJGX7hkUuhCuyttIVlbBBxjOa8G/aR0n9nLwxqVrp/x1+LPxM0C11e7u786nY+NNZ07Scld8kVxcwSC1hCLGpXzzGQShRgSMYYiPuJnVg58lV3R6t8LoLaP4baDaaZqFhLbjQbZoH0WaaSydCAVeBrgmQxn5sB2Z8AZJNfP/wC3V4zsvA/xa8FHQvGupW3iLVNC1S10rRfC3ie703XtQiVkumitoVtpIbol4EAExjCMHAYiR2X6T8LNYw+G7C30bXG1m1tbOO3g1VtQF012UQDzXmXh2bhiR3boOlfO37aMMvjb4n6V8J3gttR0i38MT654u0TW/HUOiWNxY4uY2MarbSXN1MVR8hJEiAjjLsMFJcp3jTRrh9cW7I+hfCU1zL4X0qSaw1e0kOk2xkh19o5L1CV5SaRWfzJBtUl9zBi2cntpEknmub+DOq6B4g+D3hLxJ4U0mXT9K1LwzY3OnWLt5n2aKSBGSMyFmZ8KQN7ZZiCWOTXROzxsG7DqK3pv3DiqOLqysO8sL82KAFLZIoedduE5JFICcZNaWdiSQqCMU0IT1pV8xl+UcetO2BFyTSAj8p1JOc01HOdrfhT95Jz+lNmjyNy/hTTsAMu4EAVCp2NuAqSLc2TnnvQsQzubrmrAeCGGexoACjAFABPSkYblIzjPegBjuu4LE+18/Iw2/ePAzu4xkgnPpXyz/wAFK/EXhWzsvAnhmW61u01zUrmYeFrvQdTtbOV7v7TpjQ2pW7hlgZ5p/Ll3HEqx2suwMu/H1KscdtmWeUKUUvjByQOuPf8ALrXzv+3345Pw41r4e+L/ABT4purfwtC2qQanYaP8QV0HULu9EMTW0sMhdPNSBPtHmLnO2RzkqCknPiXLl03NsHGMsRY7H9i7UfD2p/sxeErzwz4Wu9FsZbG4aXTtZu3u2jna8uRM0khWF3V5fPcOQgKupAXAA+ef2HPhl4B0v9otr3QvBfiXWLXT7Gf+y/FuiatdXfhHTriOws7WSKOC6s7eSGb7MohhUNcRxxIyq6O0iv8ASX7P3h3xFdfsw+DdJ+JerReINU0vSbO4W70jWw4ungk823iW5tmKzSLGFheRWKyESZLhmJ+Zv2D/AImat4m/aSi0+fSbuTUbqDUk1+zt/FOtSnw6kNhpc8dtdQX99cwTMJ5Li2Z4wA0tqJEDq7MOSUrKPMj0XF3mk9LH22jAM0eD8rHHyFeM8HkD9KemM80gDKArEkjIOfqT/MmnKmeTXpRuo2PEV1fUV8dzQFGMU1xg5oG7bgdKYCEYOKKKKAFD7RzTPMd24p1AGOBQOzsAJU5HakSV1lWGSSIGR1CbnC7mLquOfZicd8cUtSWUirqNsvn7W89Si+Zgk89u/GfWlLYcE5SSPj39iKbxD45+KOl+NdV17W9bub3Utbt9S1Ob43WsqGFLm5Eay6IoLB1jEJMRZjDvk3Oz7/O+vbaBSjQo3+rJUZ28gE4+6qjOMZ45PPeviL9lbw/8W/8AhqYzap8OjFd6H4haLxbqd54Y0CO1sRJoc081tZvZsZFk+0yW5XDB1hZwTIuFi+4Im2jyhCYyFUur43Akcg4JHt1PSubCyTbO3GU9rDGtQOKFQR8AfjUtI6bhXUcDVivMyMdo5PekWSWMMYV3NtOM84AGale2Ciop7dWQoRkEcg0+blQna+p4v+178N/il8TDovgvwF40vtLGm2F3rF9pGmahp8F3qksVxYHYDfWlxFEgt3uQJRtYSPHyoG8dZ+zrfeL7j9n/AMJDx/4itLrWP+EfWO6vLG/iulYIzBVJt4Y7Z3jRBGfJj2Bo3ALABj4l+3p8Mfhbq3xQ8D674i+Dvha9vNQ0TU4LjxTq3wn1TxO8MNrLaTLZtHp7oIY2jad9zb2Ypt27C4f3b4C6Jpmj/A/wpoXhi702Syg8PW628mgeHpNGs2Uxk74bF3ZrZcnIjkLNhuSxJY8qlCdU9Crb6vGKPB/i/wDGzRZf2r9G/wCFbftJeCPD91cTWDW8/irxNFe22o2xkhMsFpYfZxJbuUlKLOs6qhkLMrgqq/UYji42oGTkoCSduTzyGILZznknj0r5e8Y+NvGXhjxX8StR8TftxeKRY6X420lJ/Cen+GNKS9gtLk6dEtvauWMxgzOyGUptJkcKHkQl/qi+juFvJVYxgkr9wll4wD8zZOeOnFaUkuZu5hVbcEiB1z81NGAeRUhBBwabs5z2rU59hojcSeZGwBUZz7VHb3baROJ4yT5ikTQkcMPWpnU4O1ivc7R1qWDT9LbSoptUuijXjmONjwUPak3Y1inIqQX2g2xF1a6DJvyxjViFRTg9z09elcdoQuda+Ovi7UptQ83y9A0NPs73v+rCvqZU7E4UkKRu6tuPAA57KCzl/wCEiXw1qR8wkDKx5+cHO1hjpnGPrXK+HIJZfjl49ceXNGLPRlgAhd/KRlvC24MQB8xOG+8eOMDJSaKlGx0xwF8tTlVYlcj1A/qD+dNdyi7lUkjoBUksZXDbAuRyoJ+U+nQVGAElE2OR2z1qjJ2OK+MUM91pXh8QOFDePNCjkXyBh/8AS0JG5AGBwrcZGc8nGa6eUNOfMxuDFt5zkqwY5B/Sua+MDMLHwqY3ixL8Q9KDBJWD4EpDpgL1wcjkfd5OOvTXbXD7pJoSzjzHm3koQ7Hpj2HrQSUrmMAEscYrJ1JjjAAxV7UdQjLbM9uhrOuZldOenrQUkY2ojcpYHmse7kYjDHp0ra1GVMEelYd6VJJArOTUS0m2ZOojqy9R1rFvj15rZvW6g1kXxjVSNtYOTZsopGTc/Kd4PuKpWaZ1O388hzvJLAYIHrV68KYPJziqemLP/aW8WrBEgZnlByWOOKzltoa043eph65crcX88iuWBlIBYVkST7GKrya07sh0BbcDksQx7ms25hBO9PXkVzPXc7I+7sV5B5vL8n1q1plsk9x5BnRfkLAMpO4DbyMEHjODxVcLubaasW7SxHdA7nblSqOOCcdQT7Cuaq5JWRvSkpTsfTf7AFve2X7DPwktb6xigmj8E2W6FEbbGGiDbRu+ZWy2TknPcA5A9j27Ttryf9htok/Yt+FwhfdCfB9q8bscs4bcQx7DPYDOMc816tAy7i2TzXp5c5f2dSlJ303PJzPlhjqltrkwzjmpbVUZiGHbqKrvKq8Dk1PbyjHTrXccROqBelJLJ5Y4GTSgg9KSXAQkjpQA0MHGc5zUBR4srvJGeKkiDZPHXtTmTzVKoVJwSAW9KuOmopbESxXk5VLGy811xsVVJyxkU5IyMivzx/Zk/Zb/AGAv2k/29fj7aeIf2dvE+v8Airwv4u+3anqHjO9iutKu5Z7iRCLa0hKhlBh6zKwO1QMqDn6Z/wCChn7JHiD9tH4FQ/Bbwv8AGS48EXMHiO21ZtQQSt58aCZBBtjdG+YknhtpwoYdx+a3wA/4I5ftgeOPir8Q9Av/AIoeIPhtb6Bra2qeJtR0nUIh4qi82VftMUlvOjS8gsxmLE+axJOSy+LjalSeIh+65op62Pby+NOOHlKNSza6n6g/tHfG74f/ALBP7N2r/FqP4ZyW3hvQfskA0Pw1Hb2W8T3McCpHv2REqHeQhmGQrc5PPb/Bf4neF/jB8MfDnxm8DTXg0jxLpVrq1gLiAR3AhuFMipJsOMrhRnqMdTX5sSf8EA/2h/FF3BpHxO/4KBLqWkvKnm27QalcSkKoOVjmuWjaThzu2joM/dDV+lfwq+Gvhf4O/DTw/wDCzwUk66R4b0Kz0vTEuJWeXyIYxGpcuSxY4ycknJOcnmujDTrVMRJcijFfmc1elh6VCLUm5N/gdCXZtrucuq7QwJGFwAVAz04z688k0qIXPt600YzyKnUgqCvSu84G0IVYJsjPeh/MVgM5xUiAde9NlVt4YHjvQSFOQDGe9NJJPNOVT1zigBSecAZPpXAftDa58YfDHw21TxR8F59DGoaTC2oahZa5oF3qS31pAjSvbxQWs8UjSvsVVxu68Kx+Vu85B965b44XkumfBfxbq8HjGXw/PbeGb+SPXo7aSU2BWByJ8RfvPlJXhfmPOCDg1FW8omlFSdVWPJP2RP2k/iF8aPiLr3hvX/HHhHxJo9jokV1/aPhPwlqumGwvt5jltLp7uSUSSHC/KNu1o3ALfMsf0FGrLJtXBBODz0PevA/2Ivhv8fPBuntc/FXU4YdIttKkg0LTbb4kXHib7SZdRuLlb6S4ngjYP5LQRcmQsyuWZiN7/QG/zJTJIeWJJOO5rPD3UNTfGSUqyikI67WxnNKGIXOKbINxO1jSGOQqAp/Gtznjo7sJI2lV0S4MLuhRZlYgxk4+bgjOPQn8utfJX7KnxJ8JfFH9oR/GOsal8MdU1tdV12C0TUvivca14o0DZNMz28VnLbpDZloorbcsG0pFEVJk2lm+qfEGi3OvWD6TBr1/pokkjZr7THCTpGrKzqrFGChgpQtwQsjEFSA1eRfCbw18FNF/aBWTSf2rNd1vxJqGj/2hD4M1TW7B1NjKGZJhH9jS4yY4y4zIHYRyt8ymTdjUheSaOjCykoSaPZNV1nQ/DGnP4n8TalbWWn2kDz3tzdzLGkUSDc7kuQAAOTnp3r4n/Yz8S/Anxx8Wvh7qPw2+MXwy8UfaItW1jSdS8JeGJ08TatDJbSR/8TiRpSFEYk2vJllZ2gCCOP732L4+17xh4S8PRap8PPAQ8T6q93FBBpP9rR2SsskiqZZJ5EcKgHzMNpO1WCgk7T59B8cfjHY7dLtv2a9N1K0tLtbO6g0D4iWd7Ja3AePdEIxAjExHh0GCojyAcECavNGqi6L5oSdj1xI7iPyttuyEFRGN+1mGARwWOfmKjIJxuP0r5r+HvxK/Z2+OPxCstHsP2MbBotWu72C98T6joFlC8erLBPczxyN9nBnYLFGWnjd/nk5OVyfdvi54SsfFfge80qO416Pymiurd/C2tixvHeGTzY1SVjtwxTBDMA33TkEg+dfAf49/HL4k3vh7wt4q/Zg8TeEg2kyf29qXijxFpkkmnlIWRE8uCWSV5nmQq2QgAbo+WZFUlepZk0/gbij2a1RxcC3sxOqqPNRbfdiNQfu7VxtwHUDGMbT1r47/AGSNX8Zv+0NLo2tfs+w6NfxeJNXbU76Pw3q9lBplkln5hi8y4kNvNIb5o18xQ6MpjK7zsYfUHxe0LwZ4p8D3mifEPU7mLR7me1ik+yXN1BL5rTp5PltbSrOJC+3iMqW2g4Ar49/YiuNL1H9p6x0LT/iDbyXmheHNQh1p5vi3rutv4nlC+QbqOx1CNUskjlUyDJZgZnXAPztlOcVUijpoOcsPKx90yKm/5lAdSUYZJK7TjbkgdOlDGAHjqKiiileRpJH3FnYgkL8oLEgAhQcAEDn0qcKka4I613p+7Y4JS5hp2ADGcnrRxnkUpOTmkpEjp7V2QPGeD0NC2Um3LUIznC7jgc4pxuJAflPGMUAReRNncq5wy7VHVjuHB4PGM5r5F/b18c+HP+FxaD8NfGOt/D+z0qPwnLqc9l8VviVqWkaVq/74q9vHZWu9LiSOPed05+VXGI34kh+v3MhhKqivlSxVhwQMZHPHQ9DXz9+1l8Gv2kviTfajqPwz8Q3D6fZ6XZQaJo+keN5/D809yXvRdMbqKFgoUSWMqnhv3TbXjYYflxNPmijrwk0qmp6b8FPAngX4f/D/AE3Sfh34K8PaHY3dtDf3Vn4QsooNNkuJ8PJJAgSPCM+SBsU4OcCuB/aY+KHw60TxRafDjxr+zZZ+N9Uh0hdS8OjWbaGWyljedor0pJNDN5DwwwB23BUcSIm47m2ev+H4r+08KWCa5b776OygjvZS4JkuFVY+H2lSS4PQY+bPHAr5m+Jfxh/4J+3Ora3pfxH+NvxD0FLG9mn1Z7TXvFlim038pMjiNYh9lEiXMasCYTBkKxhxiKlXlpqKRVCHLiJTve59G+CfFDeOfA+ieOjo93pw1vSLa/TT7/HnWomiWQRPgkblDbeDjjitYICoLYPtVfQpNMvNGsZ7PUZ3gksLfyLjUbiRpJYim9XYz4l3hSM7/mJJzzVtoCSF3jr1BzXVCMbJ2OOSXO2RsiZ3Gk3AkZHA7VK9syP8xyD0xSPbuWICEe9WIGmaT5Y/lUVFPIynp16U4RmHg9+1KFaQ8jiklYCNA2Pmpy9xjipMKg24zUMsoX5RRbUACgHIFLTAXZeD1/OnxxFV4NMBJJCoAFMuFK2r73GSuSCCOByeQykZAIyOmc84xU4RR1GfrVTxDq1pomi3utXcUzRWtrNLIlsoMm1Iy52hvlJx0DEAn8amclGDZUIuU0keQ/s/ftoeGPj74xuvh7b+CtVa7tEnnHiTw9MNZ8OXSwmMSCPUIANs5kEqiCRFbEchG4KTXM/tkajeaP8AHjwD4l07xb438M3g0TWrSPxV4R+HH/CSwQQPLaySWlzbC2fyfmiEqyodxWKRSpByPJv+CfOsaRq/7SsOt6l8PtatNQ8R+GZbu21qXxvbPbS289lpl8hfR9NtLe3hdoJ4gLiRGcsr+XujIMfqH/BQLU/AFxqGgeE9W+CXgvxzrF3YXbW2i6np+pXuo2tq00KS3dtHpsEkixK3lZb5NzKsYYEjPFKqqtPU9CF6WJUYrc7n9l74bXHwu/Zz03wNZ/FnVb7R7HRNmgarqvhiPRLnS7ZUKq0sYKHcGEsn3YxtKqFwAT4d+xL4xj+JfxE+H6J8S9H1W38GeAtR0OG9sdb1Se58Ywp/ZrR3dxBdWcNuUTzEcyxlw0jAxOUYKPb/ANnTwvDp37Fvgvwb4Pv9A8TQQfDe1tdKvraEPp1+ptZEURK3lMsDhgih1jwmAVUcV5b+w58ANK8DeNG8e69+z98TvCuuwae4kl8X69pd1pVlNNbabBPHafYpzLN+5sLe0We6ieYJaRoCgfc6TftFHdFc0YxqJ9T6kU4YM4ILAcbFABxzjaB3yfxqTa5GUjZsHnaOlOcyMRkr8vXg1h+O/Hnhv4Z+F7nxt4vN0mnWLxyXUtlpVzeugB2r+6twzkFn5bGF4JwASPQclu9Dx1GzUVqzZBV1yDkEcGnqVUcDmvLfg7+2P+zj8d9b0/wx8J/iDNqlzqOjvqWmpLoWowC4tEba0qzXFukciq3G5WPbrkE+oEgcmlGUZbMupBwWoJGpOSaSUKeVFLQQR1FMhDApPSlSIsacBngCpPLdUODzQabkJj2tgn8qkRn8xPJDDkBlRWYvkqMAIVIPAORyQCO+aRUZ/uilSOYssDQ5L3Eaq7L8nzBgMgkbsMM477QOM8KbXIKME6q1Phn/AIJ9eBfhrf8AxY0nxZpfxd0/7bZz3F/p3ho+CbzSdXnuUtDYyLfzOfstyFLySGSBEFw8yzAtwz/ccYkWIQmViI0CpvTg85ZhjqSeMn8q/Nz4ca34o+Ifja1+GH7O37Q7QfE7S7G8bV3T45XuoWvim6jkhdbtLWUOIbWKRmnkjaFj5bPAIskEfpISzzyKrpIBIf3kJypyScYx8oAwPm5JB69aww7vc6MWpRkgpVCnlj0pxhIXOefSmEdq6Dk3HNJGwKsQMUwom5lEozsODj7p7H8KFUL0p6x+c6DzvLzKoZihK85wCVBI6dcdxRew3BNWZ86/tLeEvEvxw8fW0nw7sF8e6N4GmvrLxT4F0j4g3Xh42OpulpcQyyTW+zzSkDY8lyzA3aSDGxTXpn7O0uu33wI8Ey+JPH9n4ov5dBs/tfiK3vzcxalK8JzIsxjQykbcbmRSSDuVTkDxn4iJ490bx74o1XwM3x18K2+s6mRruneGvhzYavY3cioEN7ZTyBzbvcQpCjsD8roG2JJ87et/s56jo8fw3tvAvhP4deL/AA/pnhiOPSNNh8faYLe61COOJdtx5bsJHUlwSSvLBvmBVlXki4e2cZbnTKM1RUkzx/46eGf2iLv9pf8A4TbQvhgdSij1CxstB8VapY6DLpXh2OO40+dbp55WF9BN5bX6sAH3O8SpHkJKv09Kj+a4cKX8zkxqwByCd21/mTkHqSOQAa+GPiZoXwR+Hn7VOu2kPw/8CfZY/ijp8tz4G8Q+L9Y/tnxFdXj6ararBbPetayopMJWN4WTEauqjAMv3PLIzyNhyVEjBTtwDhiMj8c1pRcbtIuvCSipdGRyoy9RTKnckxgsv401FXcAa3OVq5CYpQTuk+VhgD0puyxubFdF17cqrJutrlOdpqe/j3WbMkZLKemKm1HSXt5Uv9IsfOtngXiI5AP0pNXKi+VlSF9J0OWS9g1i41K72Dyld9qKQSVJJB7k/nXE+D47R/i543Y2k7SRWWhxStzIrH/S2UnDEDlhyBvO1cnG0V2+6RZMtp0kREbDOzGPVjXLeFJfJ+MPjjbBJGHg0UR4LmMhYJyCrDAVsMrEDOdwJzxhWsVKV9DpQFk+6QR61HNAFGB+BqwAAAo6AYFMklaN1YLwCD9aoxascF8YhFPJ4Mt7iMSLN8RtJDjdgkKs7DH977o4PGBycDB6mSRDGEMwV9qYLKcuPK3Hjs2R6d+1c18V2UX/AIJ81Zgr+P7ANOqKW3rbXLHcBlmUqp6qRxk8DFdJPCB8jlTICQ+FAOQdvUKM/dwDjkAUg6GRe2kFxMk8sWSh7HGa4n4heN7PwZe2tvf2F15l7cMtm8SFkdwpbZnpkhTgHqeOpAr0GeJc8kDNY+tWsF1bPaXkCyRtyVfsQcgg9iCAQRyCBTGrnn+jePIvEMka/wBk3MLPEJGWaBlABJxgng9Knvx8zMq8V0WqJ9ozMGcErgqW44/+vzWBdq2SMHispJNalptPQxb05zzWVfIdhY961r6M7yOx7VmXxEY2nvWBuYl4rkEqhOPQVFZrLbxXNx5RBEBHB9auXRUHHOM54qrIQmhXF2iMxeTYFJ61DViqalzWRzVxExLZL5wOGqsyKVKkcVpXERV2jZSCvY1SuEXOPXrWU49Tsiyj5Kl9x5x0pZbYz27J5bMA642xhj0PuDT5I3XJTrjgVHFILNZbxnlkIkWJhCmCCBnkfjXPWbjTvY0pNOrY+of2FvOH7FfwnM0yyuPAFgrtDbrEgbyhs+VcjGPQ16xFhWGT9QOma8w/YwhSD9kP4VQ2y5U+AdMijQdeLbJ/hG75Y8/y4r09VO/aeCDz7V6eCqRng4W7I8jF64qaa2b3JwqMfMxU0BX0qO2Qg4apkgVGJB47CukwJASDxT/qKSHbnB69qkZcjigCMALwBUd0sW3zGWMFRjc5x1Pc1LUbnaCWOOOSDTjJxY07Hyr4p+FP/BRW8/4KdaX8UvD/AMVZIvgDbWEX2zQINYgEeFsiZoXtVQNM73JDCVnO1O/3EX58+K/wP/4L9v8AGDxLqHw4/aPtX8P3ninVG8O2MXi3TI4o7F7yQ2ytDPbFo9sO1Mk855Cnaa6L9pzwn/wXjb9o3xjrP7N3iixg8Ay6n/xR0Yk0INBZtFGh4nUyMxfzGyzljgH5WLJXBh/+DlS3giivIkurdWB8mU+GpGmwzIXLL8qgnY4A56Y6FK+fr1KvNblkm30PoMPSoqF1KNkupVufhZ/wco6boUtrbfGozz/K8Ri8UeH5TM4JZUR5bdTGCWKdVycZw2GP6WfDay8b23w58P2/xKuY5/EK6JaDX5YihRr4QoZ9uwlceYW4BwK/Na+8V/8AByXp8N4lv4Wt7mdFJfydI8NMVOEG1EDpuXewfKFiQHKjb8lfpx4F/wCEjl8E6I/jSGOHWTpVudYgjRcR3XkRiZQVLADzFbhSR0wzdT2ZauVc/K7Xfxb+py5lLmfJdXSV+Xb0NFYWOPSpFUKMClIxxRXqSalK55KhZJD4dudzcj09aRp0dyoFLFtIKnr1pBCeStIbQkbBX6fSpGxnIPWowMnpTydvWgkRlzyK5H46Weuah8H/ABTpHh7wVZeIbu78OXcK6NqcEckN0JImQxPFKNkgbOCj4Q5AY4JrrGYmvMP2xtL8L3n7NXjK/wDF+o+ILew0/Q5bu5PhvX/7NumCZOPtGCIkLNh2YMqqWJVsYqZ25Xc2pt86cTzP/gnt4avdAm1yeX4CxeEYl0yODUNVf4c/8I3Pq98l1dwqRbqmx447dbceYGOdyEl/9Y300M85UjkivA/2L/Df2PUPFnje8lgupbyG3sv7UX4yr4tdrdXkkj3OyK0PyyZC89G/3n96WUtx5QBz8zA/ex0PtWOGXLTte5piE3V5mO4zzUoUMo2CosE8Yp0Z+XB6966DEkh89sfZLUSSyApGGIwrE4DcZYAYOcDNfG/7B/jXwL46+IVvpmj6n8N7EW76lrFp4O0zWNWn1zT7shrWUOl1mGOGOL5REn7tfMTbggF/r7WNa03QbEX2sa3aafGJIoYLm/kjSNZpJAkK7nxhjIyhRnliFA+avk39ifxj4p1740WmnN491/U9QsfD1+nxNn1z4mabq9rq+o74VguLK0imlmtI8pM2FEIiWSSBkbYCnLWlH2qO7CRXJLmPrXULi2tVmjublbWFUBIkkVHQZKsTuYLtUHdyD0/P5C/YV+FFtZ/Gz/hJPD2meN7XwjBBcXvhFrv4Ux+HtNummtIrNryW489muC0EKlGKRtKZFkPmDZs+vr24lsNMl1CCZI1jjdt6SGMRZyWYuMlFAO7dyQOQCeK+Lv8AgmXqfw8Hj1Ph74X1TwDq+p6FoTRSa14Z+IviG+lvhDLGkrtZ6iiw5dJYJSFkZh5gfc4Ikeaybkl2Lwb5cNJ9z7YZ1RftFvezIpZfnknO6IAj7zcDC8nP6GvjL9gXRvhx4d8e2uoaJpfwtka5Oo2Wka5pnwvvdH13WikEdxLcvdTSstwJIXt5S+NsoLuhcYcfYd951tA2+BpQY3KxG6TMp2s4Ri6HGdgOcn73XHNfH3/BPTU/hN4x+J99448L678OxfX2lS3Q0DQviTq+p3mltItvDNElldBYIOLdVdo1LYCcRlm31UUnUjoZ4RP2MpH1F8XvhtonxY8FN4X1DXNe0sWt3Df2+p+GL57O9tJ4CZIpFZeoypG08NypBBIPh37Et78VLuDSriTXPjpf+Fm8LsND1n4iavoNzb6iu1YTNJHYr9qErsiuquB8smSFxtj+kNTN5Fpkpt7CG6niVnjtZIhJ5khyVTDYAJyVzkfePIr42/4J+6JoXhf45Rf2V4K8MR3mseEpL3xPHo/wrudCufCGpDyll0+W5lYfavMaQLkpn/R8fPjcpWjy10FFVPYylY+1DLgNtB5Y4LKBween6fhTVYk8nOaeqlhypHHRhg00DHGOe9dKbvqcS23JUgLLuY4FNVCTz09aVjL5Y3dKYzsq8GmA55FQbVFNCuV3NTURnP8AWnLIUBVhk0AAfbkDndwRn+nc4r5j/bJsvjxf+OtY1P4fr4+ljsPBMC+G/wDhX3i61s7bT9XLXga51eCWaJhbbUt0ydyMjSnAaMbPpra7KAy5YHI4618zfFT4ef8ABNC4/aN8WaN8d9P8PaR4w1rR9Nm1j/hLvFs9pFrNtJ9rjiEMJulSYAfaIzEEGSwBU/u658VzKKszowrhzO6Po3w5Fq48PWFxrt1Bd6gbKL7Xc2kqtFPMqJuZG2oGjdlZg+B8rA4HAr5o/bq1TWdU8fnwN4U8aXGl6nf+D1GrRp8ZrPw2msac0lxH5AE0E7kr50+Zo/JkUSkh1YRV9P2P2VbaFNPghhtQAtslrKhiSMZ2eWFUcfdHA24XA4r5Z/bn+EP7RXxJ8TjxT8N/AMOrW2l6BaWenQQ+EvD2py3V5NFqG55jq0IljiglNm+yJ1LRyyjAJJeMRCPImmb4SpB1nJ6H0/4f0q18O6BY6JplkbS3s7RLWG0NwJxEiooEfmEbnKABCxPO3jjk2MLuDMxGDVfRl1SLQ7SLUPKS4FrH58cceEV8KSgAY8A7snLZPTAFWIh5jHd1rek700zkru9eSsPaRmOQxHpStJImMSggjmiSIoM/nTK0MxWd3k3bOg606OVRlpV57AUyigCR5o+AYs+uKhlggmjDpwTycmnEknJoIBGCKACO1VhtDgYHNO8l/LLZoRgp+YcUisV4zkZ6GgBqQzBNzvhR145rG8e+HrzXvCk9tp/xG1XwpNHJHdNr2jra/aLaOFhI4BuoZYwrIrI+UPyM2Cpww3ZrnI2IMCsTx/4zsvBHg3UvFmq6rFaxWVjLIGeeON8pGzgRtIpQPkEqDnLAA8cVFW3s9UVQk5YhRieT/sx/BL4e2nju5+O3w9+Ph8eQfYJNIs7o6ToDraWgmkYwJdWNjHMiLIGDwhsFo0yuQQ3OftNeNf2KNe+Klpa/Fb9ra58DeMPD+lahYGLRPFx0q8ezdoZpY5V2usyoscchGBgj7vysBwf7NPhnwj8S/jVp/irxfok2neMvEfhV/EWj+M/CXxCgmvDp9vcwSG21C1tobeBWd7wjAE23DIzcFn7f9rnxo3g79obw5N4AXxLBrN/4XudFurmw07S5tNg0+5uSIHlS+VcSK8M3KlY1QqZiVKsnHdRhZbHqxpweJ7s7n4XaV4T+FH7OFhafBz4t3fjHSrvQ/P8Ah1NrviO3ulvkNkHtLa0uWVGkhdUSRSzvgbju2ggeZ/sk/H79pD4r/Hq6sPF/jfQ9Q8NJ4YuZLrTbb+yJZ7K+hjsYIp4pNPuGYrczi/m2SRhTFNbsmANtes/C/wAQfCnwx+x54a8deG9N1i/8IaV8PLfV7KDW7WOS/a0hsVkUyGQLG05QAbvlXJ+UhcGm/BSPwrrOpw+OPDf7MWm+D7fUdEWbTtcX+yhcXMDsJPJK2371CwAYKQo5UYDAgar400YwjJQqNxukenr5WfIjKiNcBCI8YAUcDuBz07Yqj4g1S18OaBqGr3v2jybawmmn8pMFo1iLORghl+RmxnGSucEVcjYKhDkDZj+PPGMjOefz9KzvGeu3HhnwpqniXTb+2tp9M026uo7q5VTDBJHExDyEkYUY5OeBmuippF3OCjJTqpbHxX+wR480bxF8Y/CVv4puPEV/JpOh6vpHw6gv/H0Op2/hq3gs9IuHjuWis7aRppILu3h3XJkm8y0fKhpN7fcewurFY2wCcHaxGPrgAn6f1r5b/YN+HOo6BrkXjTWvAnxI0rW9d8KWz67deIvBnhq20e5vHEUkrQXWmh5pCZYwFDyMrKsIbzNqsPqcRRK+9VBKrsDbVztGOPlAHYflXPhUlHzOrMHBTSvoNih28uc+gp7oHGKesZZd1NJ28NXUcbjGysNSNU6dfWnUhdBjnrTgCelACBeyr78CmzWyTsba5tVcupjVBGru/mIVK4I9CfzPFOdQylHGQRgiq2r/ANnQaTfNqjTRWpt5nv2gQmVITC2Xj77gOnuRUzcVB3KhFymrHz5+z/8Asw/s3+BfiP4a1/4VfHqTWl8L6DJYWHh2z1XS542aC2W0ku5Ht4lmHk28sUSormNFnXIIMe36LQPtDSZ3Mq5LJtJAHHH0/nXxX+wP8J/HKfErRPifquheMrvwja28t14J1rWfDulWMt9ZzaZY6cJLp01S4kcvBbRyqDAjFZ8FYvKdD9ppEI0YCVmLMWJZFXk4/uj8ec8k+wrHCOm0zXFqqmh2CVytQMp3Y9aSOaVJNoHHerAwfmA610HPZIj8k7ck81GEaRtiAluvGMgZwTz6ZyfQVLNIYxhVyT0qFkkdleRQ4DLgMQuzBJyCFJzyPyx0JoeiKWrPHv2nfHXxs8Eaj4f/AOFH6Zdatqd1BPH/AMI9d+GbeXSL/YFfy7nUJJIfsTHBRChctuYmNgpaPufhVr/xV8R+EkPxq+Gdj4X12IJBc6fpfiSPVLedvIhcywybIiYw7yoEdA2EJySePGfj1+yp+0d8b/iGnjjxGnwf1qPTra4s9A0rxt4OvdQWwBnV4rxFNztW6VlWMyRRglGVSeDn274YeE7j4b/C/wAMeANU1Nry70Hw5p9hNcPdSMZ7m3it4yQ0rlvndGwG5wQOK5KaTqcx0VtKSWx4JrHxg+JPgn9p+/0bQviV4obwhqXxAtrSaW6+FLahZ6ZqE9nbA2EeoC+juLaNj8oLQOoNw6IQqxBvpWaNILlldmyxyvmZbdzjhjyecnknJNfPvxO+GH7Cniz4zzaf4vsdauPGmo+K7Tz9M0DV9dtpbm+RVSHUDb2M4CxxCEhrtEAAWRnOGYn6B03TLfRtPt9JsJJ1t7aFUtUmuXmYKMHDNKWdiAQCWYkkHJzmtaMXG7fUivNyhFLoSOnJRx04IqN0WIK5jzzwx9asBQz5IGScmlk2Ouzbx3zWxzqSYiaZqLH91d2sjYwV38/lUM2k61ZBhbxzrtUn/R2zk/SnW2l6fdatDZujJu5DK2Kimk+zrNFJqk0MsEnyRsxO7H86DRrS4fatQkD22oalKY1YB0ZQGrjvAI3fFHx6TcB9txpMIjf7ylLGMv0yBkSZxnPOT1GO61tDc2FnqgtSJWwHKso3A9PvEZOa43wVNNN8RvHsUOqPcIdW04D5CTGTpkBdRgbRwEOBz83JOcBE62OjcDJZVIXJxkUyYYjaRkYhVJJRcnA9sjP4VO5DYUDgdBTJTGUKSbSCpypI+YY569aZmcN8Wdza94I0vfLF5vjaBDIofhxZ6i2GQk5GMdgowCcnArpbmVpAZS7/ADqhILADIQZ4HHXJ79qw/ive7fFHgOEzJH9o8ZAh1ZySyabeyB9q4DY2qMk4HPU4B2rh0aFGXaSR8xTAGc+gAx9MUupaRm3MTyuWdulZWoO0oKMMYrXmUhst+dZV2m2RiWyCemKbdhmJdeaoJCZHvWNqTsmflzn0rodQClcisXUE3A1hUu9S4NXOevyu84HSsq5cvIY2XPfNbGoxEkkde/vWZPEcHFZGplXUShxtQ98nPSoNRspodAt45Iw5knLAL/WrN3FI0qr5iqDksWB6VFrgeHT7OISo3yFvrWZotNjnL1txJx1PNZ80JY7j61o3K7Vyx574qj85cjHy1nOTWh0FURO0mxR1qMQR+YWmtTJntHIRn3OP881alj2tnbkDt61LYw2k8hGwxbUyT5wGck47H0rLkcotI0hOEGm3Zn07+x7c2cv7KXw5gXAVfBmngoWyrg2wCttJOAyMDxgZPHGBXpK7Ek8zPU/nXK/s++BZtJ+AXgPQptacx2fg/T4lCxMgJWCMZCnBAwP4hk9cDpXaDw3dLCgtdU+YHkMvFd2CaWEgnGzSR52Mp1I4uo27psSGcMeg9KnHPSqc9lqOmvtuLcuqgZdKuWUkEu7y5d2DwD1FdZytNOxIkf8AExxTnLAdMD1p67dwLjiiR/M+XGAKbTQiLBxmk3NGyyruJQ5ATGc9iM9x1qXAximMMGkFrlMNardqs0tuoB4CAQlcsRuY9uR3wOK/LT4nf8FWP+Civxp1/wCIXj39jj4OaOPhZ8OLq6hudbl8Ox3z+XbEtJPczTzrsXYjyFYkYKByx3fu/wBT5orNJA1wqiFiPtBMjAAc4O3lSck8kZ4HWvz2/wCCeH7MPxq8OfsvftJf8E9fiP8ADnxPokr61rg8K69qNgPsOrQX9qbWKSCZt2874UZj+85ckFwMDgxsK05KMZOK62PQwFSjCLlKKk/M8S1z/gpn/wAFmfD/AIY8IeNtf+HPg3StE8bzw23hTxLrXhaC30y7kuI90EZuPtLLAW4OW9Np5Kmv1r0JtYOk2S+Io7aLUvsFu2owW5+VLgxAyKo5wA2Rjc3+8etfij4w/a0/ai+NX7H/AIZ/4JCXf7Jmq23jrSr3T9GfV54p0mRbOYusgh8oCPaViVphNtOzKkl1Wv2p8IaPq2geFLDw7q80ks9lpcEF1KE+SaWO1hjLq3BI8xG54PHQDiuTLJ3nZzbOvNdKd1BL0NMknrTlXnLD8KRipYlRgZ4BOcUeYFXLdq9o8RXY9DJgkRjnpSCN87S2ad5kYg3KeaYrPuyDQU2yQBYxx1pkgLc96dgk4xQQQaBJXItrMCq4yQQCQTj34IrlvjhB4m1L4V+IdG8F6db3Wq3OmOtraTQwzkqx25WGciGSQRxvtEmFZ9oLcmuviQscKvJrmfjbfyaZ8Ldbv7XWtZsri202aS3n8PT26XcTBTh1N1+44JB2uCDjGCSAc6t+Rm1JLnSPH/2HfDfxC8JaNq8OufBK58IWEGl2NuH1Twxpek6hrd/E15Jc3ci6YqqQ0MlqhZ0VWl83y0QBw3v8IZN0ciNvRyrEsDuI78e+a8T/AGXfiD+0v4vhj1P4o6b4R1DwfdRStp/iOw16GbVFCRKVW8t7ES2nmufNdjDJtG5VAIXc3uMRiKlldWwxBKsDyDgjj0IxSw6vHUvFKUGIkZ3eYT9aW5y8bLBgMVIVmB4NKzFqFAJwTWr0ML6FLxBaWV7ply1yYbWARTStdz2omS2IjJEzK3ynYy7sHgj9Pln9lq4lj/aLS3vfGvhU65J4Pn/trQPDOkwpBcW7WunyQahHdiwt5pZ5XlkmkDSPhJ4lYFlBT6q1y3tpdGuxLZwSf6NJuE1r5qspQhg6AEyKR1TnIyMc18tfsVo+m/GxvB3hDSNBv/Dej6Bf3MU+i/B7WPDkuhXtzcWayRSvqE5juJp9koYxKGAhXKhTuPJVbdZM7sLKKoyUlufTviiKzTQ9S1HXfMaCKyuDdCOQu0luRudAV7FFK7gA6gkg5r5n/YT17SviJ45l+Jmh3fh2y0o+ELVtH0Hw78b5NcNorW9rCWn037NGkM222WFs7gCrPtV5JRX1NqbzW+l3N1FawzGKJv3c8yrExweGbDALnqcHAycGvBvgB+0p8EPEfi59FtvhRp+ka881tZXXiPwbo8ep6LfSySCFETU7WEBCzwt8kwjCqu4k7lNTUm1WURYWaVKSse4eJrv7Lp13Pd2j/ZYLGaa6EEuJPLAywRXwH+QORhl6KO5r5j/YV+IWpxeJbD4a3nxN8X6nHFoVza2HhbUdR0K7XSLWyh05ka4fTraK4SR454ECylm8yGdX2E4P0x4n1SWw8KahqmmzWaPDps8lrJqyolvuWHcDMWOI4h825mJAGSRxXzL+w14V+MemeNrh/FfwmOjWklpeXXiPxDceDtK0039zcSae1vbxyWLk3CL5N9l1LgqsZkkcsoOlS0pJ9TXDWdCUVofUGsaYdY0mXSbqWYR3cTQvPbwgEbo8ZDMSM5YYLDGR7EV5T8EvgP8AGvwP4q0K/wDif8aNP8RaZ4R8HHQNDs9N0a4t5b8OlsPtl601xMrTjy3UNHtA8xwMbmFdd8drvx/Y/DPUrnwFqOhafPFZSPf6rrEl0sNnaxxsZpke13zJKqqSp2EbhnB24PiX7DPwog+EXibSdP8AEfg34bWN7rvw9tr/AEnXPB9nq0d7q9rGbZZppv7SeQK7CWBihbzizlmLYJE1HeqoyRnQVVYeV3ufUESmAJCoUBEC4XtUgYBw+KbtZPldApHBAHFKUYLuIrrehxExOU3YyCKhELFst07UqSOBtXn2pxnbgdhUN3AGBjUED/61MUZbJXJqV5E2+uR0oiKlflH1qk7hZtaFfUJIY45fPdY4YwFeWdWRVY7ssSQMBQu78Oor48/aP8T/ABq+IvxS/wCEt+AGg3HjHQtR8ICPw8mmNojQ6VcXWn3U1tPdpfMs0b/aTbSq2CojjTcHVtq/ZMxEKb1RPlI2hlz8xY9B1Jy2RjHI5OM18AftSfCH4Z/Cf9pG/wBM8D/sW+CLy317w5L/AMI9DY/C25vZtW1eOJHtC13abo7OCOdETaAuWaNlYMWjk463Mnrqehl3JaTlvY+87cXKQQLdzxSSwwJHNPHEIxIwUAsFGAAeo7YNeM/tL/tieE/hTc+I/hxoVh4hk8X6dpsc1umh2dnLOtubaW7nv4xcSrG0cEUGGVyHZjtRSSrV7bHERD5FwI0c2671hVwpAiVSYsEcfw9unTtXxX+2B8dfEkH7REi/Df46+G7+DW9CuND02Nfijo9lZaW8sctuwurWcb55RfMjgDeP3MKOcPtFVW+SLiThqdOdaXtF6H198P4PFMXgrTIPGviK31fVYtMhGoapa6fHaJeTYAMohR3WIMPm2qxAzxkYNayKI23L1pBdQ3CbVvxchUwsi4/eYJXeQoC87SflG304rA8R+O4/DB1q0m8F+Jrz+xNKiu5biy0hnS7MpdRFbNuHnSrsJZByoALbQyFtKU7KzOep+9rWijoGZpD14zTWXBxTyZXIkeKSPcN7RTcPHuCkKQRnIBOewPAHegVspRlsY6p6kYJJI2njvQAT0FTRuqZJXPtTQAOgp3AjpGbHHepNoJzQwXqaAGAHGSKUoQM0/wClFAEThipKqWIHAHf2riv2h9b0jwV8ML/xl4j+Eg8aafo4N/eaSzWOUjg3yNcp9qkVC8aqJBhgwwcHIru1aGFDI5Ax69qwPiprd/onw08Ta1pOgRazdWnh6+kt9GkXfHfOkDt5DKB+8VyApGcnPHOAeepKT0NMOo+1ueSfsz+LPhjf+J7Gz8P/ALEj/CXUNW8FDVbS9vtF0S0a80/z0U2/mWdxIx2PLFPtkCkCUEhWJA8+/bSh8La/+0FoOsfEHwP4B8W+FvDHh5ZYNA8Q6ppdtd3GtrdzN51pdy3Ebie08qNjbOjRMk8ro3mRgVQ/4JoeI55PEeqeHtO+G9mqadbarY6jrdjoeo6bHpb2eowxW1lbwXs0hiieJmbZCgTNuGLDKxrb/bIn1vSvjVPqPwz8BaH4qFr8P/tfibQ9W+GFprVrpUUl1Iyan5k1/ZtE4xMzrEGEggG/5/KzzSacdT1KcKUcVd32PafDmo+O2/Y00/UB4Fjv/Er/AAxSeLw5Hp8Zgur3+zEP2ZIFIG1pUC7IzyGwvPA8V/YI8GaR4S+J1zYfDv4exjQF8ERw6xr4+FcnhZdO1GGWNV0u3V0iW5hETSvvjjcKohBm3KAfZPG5j8ffsvTeLPh34Y0PxFqI8Cvf+FtOg094LOe4bTpJIYxaqwkSI+ZgReZuUDC4OBXj3/BP7wb4j8GfGHxHqGlfAXT/AAh4b1Dw759hEujTWMll/p7CCAgzElrkRz3JgmgQxKYsO+9xQvdqRVwpU6c8NOzerPrLMko8vhRyAFAz9Ce/41n+NoNOl8J6wmrXFtb202l3TXM88O9Ej8krIWQEFhg7sDn5TjtjWO3eSR8pwFx6BQPTrkE/jXGftC28EnwO8VLqGo+J7e1tdFub1m8H6xLY6gxhhdwsM0TKyvx8oB5OPau+tUapnlQioVlY+av2BbHQ/CXxtj+G3w88aW3ibw9b+CbwvqejaP4l02HSik9rbwWbR6rfzwZCPLxHCrERROxUKvmfY6QqmQiKAMbQikAAADpkjt2wPaviv/gnv8W7b4gfHCPR9R1vxFrOtWOi6vHc3h+K914ghtLdL6ziWO7t2ULHLJGdySOEXzIbgKsbIY1+21KrGpBBJUHj6Vz4acZHVj4RlJNLYiTOeKRlBPK1J+FI655FdRxEDA+Z9wYHSpAG25IoHB5qTgigCGRAy+/rnFcl8avAMvj/AOGuqeG9LttElu5YI57VdZivJbPzopFfMyW7rJId2zjpwMhgNp7AjB61meMxcyeFdVkh1C0tpBps5ivNQcrBasIyBLIV5EaruZjnOF47VNS3I7hT5pVVGG588fsj/sT/ABR/Z68b2PjPUdG+GWkWcPh+WzvtP8E2mtoby7aJVVt11dvbxqCxA/d57cgjZ9KeZDIzeTIhAY4CyBiB2zjvj2r88f2etH8YfFTxV4R0/wCB3jq707VPD2k2f9qTyfGHWNTXW5GvbNLvVJEuWCrF9mgvB5QV5ZJ5P+WQQyyfofGZpmL3MdzG20ZRyAedrDPGGHLcjB5wOKxw/LsjqxUZwaUnqIIlL59aeUGMClChacqk9a6DlItm/wCUijbt4qV1VRu6AdaYYmnIjTHzA5yO2PqP50abCbsrnxb+2B8J/hX4B/aD01tC1TSY9S8e+GNVhh0LUPjhrWgXh1FA05uYI7eOdJFkhWZNreWqLbMVSRQ5i+nfhp4R03Vfgh4b8E634gt/Elm3g62s7++tNRmlTVUNnGhmWV5C8yyCRSspbJBDYBPHg/8AwUOm0nQfGfhzX73xR4siYW8RutL+G3iyCHxJdJbtPIFt7Ka3k82MLNKxkimhaIYfcGANfS3gjQtB8MeB9D8P+FPD02l6RY6PBbaXp18XiubeNYokhhlR8vu2qA+75gwbdkg54aXtFUlY7qsoSpw0+Z8WaJ4b8MfDf9uWfwv4b/Zytre/l1yw0/w7PbR689ytidR8yW6mvPNkga2EaPceQ6pFuhCuFJJP3NujcukJkVMjy1dQoKdiAM9etfHuq6n4/wBA/bSg0Cy+NeiWtl4t8VW9xG03ivWJb3UF0/U52NjFp3leTar5eLISiTZLtZcOpRB9irC6Qr5jhjg5ZLdlViWY8cDHB4BA4XNb0JSknczxMkmkhiRqnI6+tIYQWyDx6U5twPT60tbnK1dEN1amZVaFtroco3pT4Z73yRJd6PFM2fvsck1Iw2nAOaT5FUYLBgcgZ4NA02lYg1CW8vZVu78bmj/1cSYwn09TXFeATbj4i/EacwQyRHxBaIl4rjO0aPbEqdo2jawJxjjeDkknHbG2LyYkiVg5w4ZM8E84HrXHfDe0tYPFHxBnsbWWFH8VWyNKZZPKZk0uxjKqeijjcVGAPUktlPcDqZbYKQDLlgSsnTqp2np6kZ6DrSSRkxbYyFYcq2wHBp4Ic/K6tz95WyPzFKyKF3MxAA7UyWjhPiPaC/8AGngO3uLaKQp4smkcMrqFU6ZegsF+7lSudxOBnuSBW/LHKy7poWRiMlX6isT4g4uPiD8OY4wJR/wk127s7k+UBp1wpIABx8rE5PHBxyQR0UpjS2j4BLb/AJx/Eq9CR60AjFvflytZN2ck881t6hDwWOeax7iMAE56d6GUZN8oKkdx3rHu1yDu/Gtu6Ebbl289hWReDaWBWszSMVuc9dqzOUTnms+aMbCCOa27lUUnC9azb9UB4/HisJrlNNzElWTeyquRjpiq3i1kMkUEYRfLhA54rRldvtkMMcyqXfgYrL8UXMc2oTBnyUIVuKzeptTsmc7eg7ioIOOMjpVM/L1q/MEbNVZ4vapaT3NXe2gwQeYuRT4NLu7g7LWRkzk7xGTnGMjgH+8KdC7KAFH50tzFaGAvPaw/NICd6pycYJ5HsKhO8G4dDNrlqRU2fYfwT8WaVcfB/wAHS2ET3Cv4S0+VCTlirwIwJyTk4P4d8HiuuTxPbbUim06UKOcgVxfwB8D6xo3wV8EaNeXMMLWXhDSrdoYrfb5ZS1RWKg/dHsfx757CHw5qMMUccGpGUhefMUDP5V1Ydt4eDfVEYmVR4iWnU0dP1jS78BoboZP342HOPxqLUdAzKZ9N2pMBlVH3X9qybi1e2ITVLdo93CzR9q0NH1h7WYWOpMGVsLHL2P8A9etnczfvbjYbkOxDRlGU4kRuqn0qV8H5hUniG0Kt/attguuBOB0dex+tQRuroHXoRkVqpXics4uLuLQ6t8oyo3nALU5SqruPX3qNyJJMshKgE/kCaVrkXS1Pk34W/tt/tS+MP+ClPjX9kbxZ+zuun+AfD1lMdG8WvpepJJMY4VkilMzD7O6zSSFVSPLnBK7hyvzFd/8ABb39vdJ5bS5/4J8zgLcyx27PpmvoZthZQ7MITjKqW3KCP4gSOK/Qr9oX9rL4Efszabp4+OHxh0Xww+srdnRodZnYJdyQAH+DKjDFR1ycexx8nf8ABPP/AILDeCviT8EdT179tr9pbwX4Z8W/8JLcw6ZpbD+zQNNFtbFHOGcEb93zKQAc5PI2+LVrRhPllWs7/M9yhTbp88aPNp8jyeD/AILy/tfJq8cl9/wT3jRrtkgY+frKSjdIFCqzWjBvk3ABjhQSfukgfqBYoqxi4ezjt5ZYleWBJIzsJCkqNoGQC59e5r4U/bv/AOC0fg74QaL4Suf2NfjL4I+IGpX3igW/iXTYp57ryrFd6uUkUxpFJ5jDCtuJYryoU7vvCC6hu0E8ELIkiJKiPgkB1VuvfqATxyOg6Vtlyown7subzMMyjiJU05R5L9B9BxjmikkLbNqnvnFeq3dnmR0ViZo9qr8gAxxRGFBxihm3BRk8DpSdKRTVySh0YEAimiVlORSRTSSOS4xjv60DHtgAhvyrw/8Abz8IePvGfwVvLDw58Q9N0bRCYk1jTLvwRNrEuqOZ4TbwxiO7gwzTKi4f5NrPuZeHT215A7gZya83/axvtZ0/4Ca5q+geHtH1SfTTaX0mneI9Si062mjiuo2ZftU7KltLtV2jlYgI6KSduSMqyi6TTNqHMqqaOI/YW0nw/Bf+PfE+l3ulpc+IJNC1S40LRfh7ceHLXTreawDQI9rLcTobggMrkFZFWONXGAjN78AcYLMx9WYkn6k9a8c/Yp8HfDnwf8Pb3S/hv8CIfAkH26J75U8W23iCS+8yFHhuJLmK4kcqYDCyFzwjBVGzbXssRBH3lJ77WzU4dWgrCxUpzrWY2gZzwD19KV8Z4NKkzRcjoOcYraV2Y7IyfHeoWNj4K1q81LVbqxtYNJuHur2xVnnhVYpWMscaqzMyAKwxkkqeOgPzX+x3461b4hfF200zXPjLaa+nhfwJ/ZXhm88N+G7u0stdgglsTcz3U8lzNbz3MRMMbRIqmJ5rna+GKL7V+03468W/Dn4aT+LPD3hnXNSj0ydrrWbfw/eaVFIbOOGUy7zqEiphTsf5cN8vOV3K3lf7Fmr+L7PxzL4U8e2njCznbwZb6t4e0/xRoXheytUsJpYRcRWf9iM3yrLFGWy+w5BUuOIuWrrNaHp0nGWFbW59A+MNOuLvwdqlvo1tCb6TSLmOy863ilVJDEduUlKxuNwX5HdEOPmZRk14d+wJrfjafwSLHxnqvxQa6trCOO5h8a3Xh17O2nhSK3IgXR/+PdGwuxGUAASDCldi+vfHZ9Ct/hB4uXxfNfW2lReHNRW/vtKga4uYbcWz+ZJDHDmWRx1VERmJIUcmvn79hv4T/DfwH8afEWqeBvhjqfgue88KQXFloV/8PbLTZ7i0a4j/ANIlvbWaVLrHlpGibY2Q+cQWDDaVGnWTsZYa/wBTlJ7n0f8AEe8uLb4aa9qlpoz6iIvD188Fg7yRG7Igc+VvjR3jL/dDBWYFhhScA/F/7Ifx78M/Dfxl4b+Gvw98ZyalHffZtHvtA1H4p6vqkSQO1vHHLpCX0CHMfmsJEZVKxwjMjErX2t8QdL8R6p4G1uw8E3osdYuNHuv7KvjO8QhujEwicsnzDa5VuPQV4z+zP+z98ePhF8W9e1f4ifELXvEekXGjslte6944m1FnvGuEZTFbfZ1FoI0klRjv+7IigOFzGqvNKurPQWH9n7CSmtWe3ayI5tJuxcNApkgmVkul3RnIfClV2Fly5XaGB9wRmvkj/gnnYeDdE+MOr2Xg+08IataHwhHPP4p8K+ENZ0xLKRbxdtiRqV1P9nikRi4t4iE3wMSBsCr9X+PLJtb+Hms6CniabSTqOlXcEercE2SyQtmXn+5jcc4GOpGa85+CXwV8YfDfx1N4z8XftCXHiLWfEWjz/wBqaTNe3KWc8++MW8tpBPcTCKOCGOSE7T+9ZmZ2zhVutB+0Vww03Gm1Y9dtrfyYUR3ZnUHc2QAxz1wAB09vX1qUgEYNV1u3BMTI+Qch2QYZSAQQQzA9cde1SpKpXJatb3OSSakOVVQYAppiUvu7elPpk06RqwDrvC5CEnP6AmgQSR7h8o5FLHGE780qyI/3WPGchlKkckcg8joaZJNj5V/OgAu7q3tLSa7uJEWOCIySs7qoVQCdxLEAAAEkk4AGTXzTrWq/AvxL8aNV+J/wo/4KRWnhu91e20+PUPDGieJ/DlxaTNbsIEkeO5ieZWcHyWRX+8FwqyZ3fRuoWh1CzktDcSxs0MqRvHKAULxsmQGyhPI+8rDIGRxX5/2Hgj4g6L8dNB+F9rd+Ib/VoRb3M2l3niL4eJqEaPJG0sl3bmxS4liiZ0RvLdt2/wAvcR5co5q87SszuwkYyTSP0HghnhmZIomjCyMgiEmAhT5wR94Abt2SQv3h3FfGfxf8cTv+0P4x+E3jf9t74b+CLa2e0uNDsPEvgC1ku7ayngDRpZXNxci3DI0cyM/lSlyysceUUr7RbyLaWbA8tP8AXFpQil18s9ABwAqjI54HXivjP9qHUfibN+01Jofhf9pPTrPU5L3ToPCnw9tviJpFhiGS2iMeo3MF5ZySuy3AukWJW3Ye3aISEtHSqyh7NLqPCxXtJq+qPsKFF2GK6u5JiWBaWR2y/CjrnIBxng9zzXxd+2X4XtNb+MnjDxDbeMfAN9LpnhixisNa1T4l3Onar8Pr2BZZWvYra1ikedispugMGTERXOyTA+1bgxqJhbokpRWZki5x97CqWwpPAGGYcnkivk/xF8a/2e/DPjLx34z+IP8AwTX12DU/D13Yv428YXXhPw9PAm58JcTTLdmVlRHSXO04R3baG3Auq1OCtoTgoKM5uSuz6stViW1j+z3r3EbKGS4d1JlDANv+X5eQQcLwM8cU+kL28iIbZE6o3zSEMm6MfJ1xjgcD0/GlyDnDA4OMg1vBKEbI5JTlJu4UUUjEjkCqJFpjg5zUpKumc49KeIVC4POe9WncCFQQOaWlZSpwaSncAyQdykAjkEjODXI/HazudT+E/iHSbbRRf2l3ol7DqFnDfSWs8cBgb/j3eGOR0csAFZUYqSpAOOOuG0HLE4HYDrXLfHTxmnw3+C/ivx/JY3lx/Yvh+7v/ACLC4jjuJDFEXCRNIrIsjEbVLKcFu3Ws6t+RtF03JTVj5+/YF+MPjL4ieL9V+H3iT4rXWur4e8ORuNMufEP2poj5xXzI4n0PT5UVAjIpMkrAzFHUbY2PG/tg/EH4N+PP2ln8P6r8QvCXhw6P4fgjvfEWtjXgNZkN1cxf2bKunyQRmGJjM6rKZR5su1V+Vwes/Zo1T45aF+09HofxR8K+I9W1y88CW019qXiH4h6NL/Zem3FwZMpbWVnGsj/aUWPJAG5mZGIJUZv/AAUGsPEPw/j8W/EDTPj89pp3/CNNqeoaHqn7Qkuh7YVM5u/s9l9iuFkUxmQxkMNzWzJlcKU4ajbpKx7UVH6xZqzse6fGbwxaeIv2XNZ+GNnaXd3Y6z4Fn066uvDEFokNpF9gcC4jhup9giIXCq8wIBwXBUvXi/8AwTw8H6TN8S/EXxEsdM1u11K5026h16G/j0YJJdSamXZ4/smpXc8UKwpbQQwzudiwyDAkDivUP2n9PsNR/YO8aC20W51a2HwpvDBZs15POVbTyU2mCP7RLLtBOI1WV2BVdrMMc3+xZp1jp2qayjX2m+ZJo9kJrM/AW48GXiyFmDPPJK5S6MiCFhGg+Q7zvcMoQc4uvFWOeEnTw83c+hVYMMjOe4IwR7Gsnx94VuvHPgnWfBVnqs1hJq2jXdpFfWkbGa2eSIosibGVmK5ztDITggMCQa2PKCr5gPXtXJfHuTSo/gj4xg1jxxH4at5fCl/Hca9M/wAunq1s378gHLBd33QVZuQpDcj0a8/ceh5tKF5p3MD9m34N/Fb4RXl/B47+I3gjxFaywRebd+HvhxHot9eTKhBu7mWO4lEzyALnAXaQ/UEBPUFC+VGNqdCDsP3PQY718ff8E+fCt9pvxbvhrt5p3hqXTfCl5Jp/hWPTtUsTqNjfa3Pdx36wX9rDiJMBSqmYrJcyBzGzAyfYBaEuyxzK5BwwAOQR68c/WufCv923Y3xaanuFNdynAUn8KcQG+ViQCQDtGT1+orm9a8f3nhtfEMkfwm8T6jFoGlRXkN3YWcbJqzybgba1BkUNKpRVPmbQuSWZVwzbcyW5ypNnSiONjvHTHSiXaybkbkU5D5kMV0tvJEJogzQTpteMkcqw7MOhHYimsqbcAnNXuBEAT0rA+JenJrXgnVNAu7W1ls9SsLiz1JrzUVgS3tpIJFkmO6NiQvfIxtO4Z24PRZREJbgAZJJ6CuX+Oj6JD8FvFz+KppIdLXwxqP8AaNwiISlv9kcysvmgoxCEkBgVzjNRUkoQbZeGaVZJnzX/AME6/jrr/i7VZ/hnq3xkudf0vw/4bSHTLJvFei6jGlpbpFHDIJdN063d9yqp81pZEO0kZE4x9cpbCFRFGS/y5LjbgnAzjB55PpXx5+z9+0B8Zvgt4p8L+FPj5onxVPhbxB4X0pNCn16x8OTQaVHLeW9nZm6l0wpcSOXnt0fKYCuHkVAshb7IMX2d2hGRtkY4KgEEnJ6Ad8n8a58K4uLaVjoxkJxneQLbHbubr2FIeBnHSpt0gjDGM/MOCRwaTYSpLCuq6OQiBDCknjaSJ5QfmEbEAKew9h64H40FcZ2tSyh/KKE/KwCtkZGCcc/iRQ0t2NOx8afto+JPCvw/+N2maN4i+MPirw5bHRr64j1iD4uS6ZNK0ovWNta20cD/AGlFe2hUrlQoZWAZ0UH6x+Hl/c614D0HV54rmB7zSbGV47q5+0zJugWQqzKsbO67sFiq5I3EDOK+d/21Pil4m8G/EO98IaD4r8EyXniTwj5+g2/inVo7R/CUltHeNdawI5LWZSPJkj5LxAsnlkAMzV9KaHILPwzYHVNWGoNFp0fn6lGzsblhCpkmyx3ndjjJLDdzk5rjg1GbaZ3VG5U0keC+BvGX7B3ir4z674MgtvDOj+PJvH00N74f1O78u71DVrKSSZLmKEl0cFJJZ9yNkEkOA8TKn0LDbxFd8UKortvyIgpz6YwMY6Yr5L0jWvjrp37al34Bb4laVc6de+KoLye5vPiHYTSx2NvNfST2drpfMtuTDcadEYxGAGhkkMkpZQ/1xBDMIkEgVGVMYABI4HBYAbuQecd60oybehjWikrsGWFDtc49aQQwNkCTqeM05IP73J75p7WqO25ExXScxX+xSA7gwIJ6VNLburKXT8akWMgbc4Ipk0kpOWJPHFAEFxDJIfJitmfMg2hY87sjAGckdcnGPTmuD+FWnIPF3j+dRNbs3isxeUjvHt/4lenrkHgnBGMLhQQQCTk138cDzy4eKN/RZCOvtmuR+G9zetr/AI0W9Tz0HjCTasgUFkFpbBQGGd2CMAkLjaAMjkp7j6HQvvYkSMSw7k9aicllIX88VdwgUtIgJ9cU0RW/leYBnHUe3emI86+Icc7fE3wDHHICltq2pXOIwNw26bcj5Qfu8ShSfm64A+bjp59gXmVXYM6h88ttIz6ccj86xfHZt5/ij4HgW88vy21uQKz7hLiyCAYQkBgsv3uvYdTjo9QtPk/dOvDPtOCMqdmCQe+FxSQ2Yt6m/PH1rKvI0ClVGK37qyfYSCM1g6ha3DZwMAHt3pSuIxbq3G/e3GD0rK1BM5xWrfSFNyv1UZI9qyL1kJMhY9OKh3saQuZVzGqZJ5P8qydSZeuea1NQlIU7PzrGuN8rbVGWPasHruaFG32HULaSX5iSWG0dKytWdZZbgMd3mTE8jsK3bZCZwzL8yIxG0jOK5+/VyC7s3GSSy+9Zmhk3MaDOOBVV1LYAq3dFVYq/IPSqpGKDWM1bUVEWMZbrUl3bxyW7NFM+BImNnUZTPIpsYU5Zj0GTViNbUhhNdrFHkYmIIDEdVz7ZqZy5KTsrmVSTlbS59m+CNYtNO+HWg20aPcvDoFlGViHC4iiVckEgjnrx+Na0XiqGIxR3GnskbfecHpXIfCi3ms/hH4TnuAgn/wCEU03DxyAsSLaIFgwxnLKT6enGK6S30zVltVuGsw0ZOSCeQK6MPTpLDwkpXuhYirWliJJrZnQ28kGqWolgCSwrng/yNY+r6WllKAD/AKNOdo9YX/hP0qtp96unSrfWx/0eaTbMmfuN610F1BFqNkY5UYq6H5k7ccGt3YzV7akGhTjU7Nre6X95H+7lzWdZII4ngDcxSsuM1J4dvSNTeF+s0Y2sCfvDj8OlPuIHj1W58sjDMGcY6GqTIqWsNIBHNIyoyFHUFSMEEdaeIpTkv3NRygq2D+FM5raHh/7YP7Af7OP7bL6LqXxy8JX1/qXhm1vYdBv7TXZrLyhceWzB/KbLrvjjOMDJXknpXyZ+zn/wQT+Dnhf4cSWf7a3iU6r4uGoTSWd54P8AGM9vA1l5MO1HEsUZLhmOWVVHzLklTz+gfxP8Sa14R+HHiHxL4a09rnU9O0G+udOtwud9xHbSPEpXILAuoGB1r8ev2Iv+CYHjD/gp18N9V/ao+M37TV7ZXWp+IZbaRZdPOqXD3KhQ5kd5wIlLvIoGDyncE58LGww1HFR9y8n36Hu4CriKlCS5+WK7dT7g+F//AARs/wCCePwo8f6d8QtI8O6zruoaVfwvpdv4g8Wy3kAukmIiJiVQJWDhVG4k7mHP3cfXYeTcu7azDcJCFYZOeo+bA78Y7j0r81PCn/Bu74Z8MeM9B8WQftcX066Vq9neyW58ELGXjtrlXKhROSu6OPZkH1HINfpgpjdsKdzhN8n3upYgn5ueo9T1rvwam7txsjmxso7c12wCljgCpFhUsEYEk9aIgwyTSx3cazgRXERwuTzuI5A6dDjPqK7jz0hJmhSURK2Dj7tISAMk4A6k0xLqO6meG2vpnEM/71EuY3MJJ2srIvzDJ456fXgSC4jtiJnuY4kBI82WVU3AkqOWOBkg4B5OPwqXOEVdvQdpN2S1YoQ96QKScYqWVZgzl1yVPJxjI4+YgdOv51Grc896FKL96L0JXMnaS1G7Nh/rXl37Y1votv8AAm6m1/R9auI01nTJtNttD0y1up5777ZELdEhuisMm5zg7jkFgykMFI9UEgEit2DAngc/nxXkf7Tfwu/ZJ8R6Zp/ir9qPwhp80K3Vvp8OrS3dzFFC5YyqZGRwI4wfMznsSvIOKzruXJZHRQ5edNlD9hb4Z6x8PfhtqEnjTSvG9trFzfWdreR+KtIsLALBZ2cVtbxWsWnzTQiBYoVy5ky7ljhSSi+1M5243kksWYkAde34V5d+ybqvwR1f4bXVz8CvBOr6Jp0epRfbNO1rzTNGZLO3khZTJLKDG1u8JBR2XO4feDV6fHGQMFiRnjPWnQjKNPUVeUZVNBQCelDDBp4GOBR3ByRgg5AH9a1MjJ8X6poWh+EdX13xayf2PYWEtxqavAZE+yrExmBiHMoKBsgAnnHUivIv2T7H9nHSPEOqaR8KP2dtY+Hmv3Gi297Lba54fe0mudLlKLDJCxllRYwERfJ3I0ZO0oCrY779oa68WWfwN8Sv4Q+FEXjfUZNFmih8L3mqxafHeo6t5kbXDECMBOhDA7iMEHBHlv7GuiI3jzxb4psPh9FZxTaXa27arqnxQHinUGzIzR2saeZILOxRWDrGGG52Ylcje/NPWsopnfh/cw0pNHq/x41fTdC+CXjTVdU0Oy1O2t/C2oPd6fqMrwwXkYtHdoppIhuSNxuRjjBzjmvmz9hz4S/BXxp46/4WZpep+HL/AFLwxpWn3NpH4c1nxVazWjFJVMN6mpXWy4iBcsqsh+bZIVVlV2+kP2hh4Vh+A/jaHx5pN3qOiHwtdw3+l6akf2ieBkkQpGsz+XvIbILYRSCWO3NeZ/sf+KPiHF8QPF/wu+LXijxKdQ0/RtLn07R9Y8X2Gs239nl7iGK5WW2sLZ4pnaHDJKWDLHHInLy4zm3LEJMmkpU8G5fM9S+OuvT6L8MNXtLS91e2vtQ0+8ttN1HQtAuNVls5xBIyTeTbZkxlRwAGJAAILV5T+x94o8ceMPHOt+JvEfjLxbdXd3pjXGt6drvhHWNNsYLszxm2NomoQBUAtggZkkHnMWPlIUauv/au8VfE2w8FWngP4QXPhqPWfGpvNLs7/Xden05lkNhPOHhmtoJd8u2FyB8pUDcOAax/2RPgl4m+Dsuq2/iP4W6Z4b+0ukAl034qar4jN2Yy482ddRhTyWYKoLKWO6JhubcCYavU0LS58HzLqd18ftL8Iax8CfGmk/EjVTpuhT+E76HWNRXTzdG2tnhIkcQKrNNgD/VoNzfdHJFfK37Jv7OHifVPi9pHiOSyGjaL4V1K01TTYdf+DV/oFxZW8j3Ty2en3VxesqiWdY3miVHUBWLgmaKQ/VXx8lMfwi1xtVOnPo1xo92niGPUFuywspLWRCi/ZMTMxkMQxH8xDMAQSDXiX/BPWzXw94p8b/Dm68R6XLe6JHaxS2ujeN/EeqWw2eZbyPbnV/klj82J0eW3YoJE2sFfdnTEvmrRSLw8oxwMmtz6cglSeASI5ZHgymSSAS29SBx8uDj1FOSLcevHYUixyRqN2T75pyMUbIrpceU81zc9yU71UBf/ANVILUSsvmTFRnBIGTglSQMcgnbjINK0qhcg59qjkupflWJisrELEy9A+cLkGRQ33jkegOSKmTsriWskrbngvhP9ub4b6t4S0vxRL8U/CGo2kHim80bxUukQ6pJLYlTdmERQmBpPl8kB5pFSFhHKQyEKle9LHuPyurL2dGyD9DXwl8B/h74F/ag8XW91aeLl0/w7qun32n/2ZZ/H99V1K1soZmVbT+zprXMCyR70l2yllVZUJcEMPu6KWNgWh27FVQI1kQ7D0IG0c9j7Zx0xWFFzcndnZioUaaSWjEMB38nI7V8qftI/s7/Fv41ftJ2N9p3gG48U+GdN1XSLqz0/x1fWtvoVhNBItxLeab9lkW+e6QxxlRKpiM0kjBl2F1+o9ek1g6RcjQZxDffZJWs3MqowkHClS6OmQTn5lYeoPSvGfhP+0d4a+HmhaT8KP2uv2gfB2l/EsLY2OqaHqPiWyW7lubpsQKBb+THIZpCVj2QoWwgKBnwbrRXOozRnhpOLcke3lGjiUyMdhz92Jl3hQSpyMbTgtnOe4z6/Mvxn/ZXu/jLqfjjVfhl+1pY6PpvjV9Ml1zSz4V0zVo3mtRC6vFPuWVGkNvG0aqfle33Llg1fSV9a2mtaZd6Vc6bDc2tzE6XVrLH58csbQupRgchgc7fmXGNw96+F/E/wP/ZJ1H9obxF8ONG8bfs8eEbg/EXSbu303WvBthp/iOxnS3tb0HTpPtCiTc8ZljlMO1d0/lgyozjKsowV2dGAtJSa3Ptrw/ZeLLDRrXSPGWuxareW1ssN/qcOmCCG5mBUNMY0eQQhizMUDHHzAHpXxx+2nc+I4f2nrqa6/ZdtfEo1KwtLPQLe18Ha3cP4ivLeO3mtzdX9k62ywRveTxmOdSETzHdmUNGv2zNcQSyNeXEnlecGdlmbyTCMAkE+UuzhScMTg7u2K+HPiQni3RfjdceEfH3xF+KUFp8QdUt9S1vwa3x18K2P2KGaG0JgVGCXoEbRyL5dvLn98drncssaqxXKr9S8HdVZI+5UhuTGTKpkEThXbaGUSBQGJIAAOT6AdMChVJ4UVJLbAXLPI3mMrtteQMSvGOpOGwVwOBwSc5NOVQowBXRT+BHBWTVVogop8igyYXvStCFj3E4Pb3qzMjAA4FSQv/AfwqOigCaRN446ioamjfeOeo61HMQzfu/xoAbXG/tAy+K4fgn4wk8HaPp+pagfDlyLOx1V4xDOzQyoyOJEMTqfMXMc2UcZDELXZiJghIBY9cDvXM/GzTvhhqnwh8T6T8a9RtrHwhcaFdR+I72/vvIt0sipSR5JQR5aryc55xjkHBionJGtF2rRsfPP/BOLRfiP4evvFAv/AIX3egaJcCa4ubnUPBKaDe3uprqt2kAby7eKO5H2FbQAplVGwBnyHOf+3j8J/wBp3xZ8Q7nxp8L7bXLzSdP8PWY0+y0Hwpo10bu8a11PLk3VtNJuW4FiQ24mMN8saZaU+v8A7L97+ztc29+vwM+OPiLxQkNlaCeDxF4l1DUPsibnjhZftqh1Z2QqcnP7k5Gd5PJftA/tV+NPgj8ctQ8PWOreF73QU8J2GoSWGpafqufDztK8XmT3OmaddpbrNuJ/fsCyRuyYWNt3JO3s7NHbGVZ4qUorod1+0Vd6Tb/sq+J7j4keH7iVZfB8i6pp2kXJhuRI0PPkXETSlWjkJIkVZCAM4fb83jv/AATe+K2veN5/EPgvU/Hus+JVsNIhuRqQ8fR+ItKiki1XULHybedY1KSFbRJSSzZSSPDNj5fe/wBoRviVP8A/E138IEkm8Vr4elOiw6PcoZ2n8sMEt2naJd5DMELug3OpLp94eOfsraL8QfhP8YdZ8Cj4G/FLTfCGr2Vs8M/ipdInitNVjku3uJGuLW58wxMssJXKMpO8KFICs5KMZxlbQuCi6Eot67n0vcKsUzx+YvysQMNzgYycdutea/tU/wDCpLv4TXPh/wCOHxm1HwV4f1ed9Onu7DXhYG/8yF0a18wq3Dq7gr8pLAdeK9NfI3JE7puGCd2Tn1zXnn7TXg/xN4t+G95N4Yi1O4u7KC8vLez0fXL7T7m7uRaskCB7O7t2kUyOFMbSICDvUh41rsrPljZHnYZNVeWRwf7J3h/9mG68e6h4q+Cn7TeufEPV7fw3Y6ctvqnjyPVhp+nl9ymIGMPH5pwzEFgxUf3cD38tuJKyyMpJK+Y+4jOM846cV8nf8E4dStdR8TeN9Af4t/2xdaelsLjQZte8Q3F/pzyTANNPb6m7Rr5rWzsrwllbY7bz5rivrWOPewkmzkogGXJxhQMfp2xyTWdCd0a4uE4ysyJVklby4F3MCuQOwLYzjvj2r4b/AGxNO8MWv7YFze+KLf4beIY9R0PRRJZ+M18SCTw+I/Pf95PpkM1pCshZJI4pzGzjzSCwYq33SU8uVZixVUkXLA4xlgBzjjkgfjXw5+0uvjfxV4u8Xa5f2t54Y8MzadYxfGCGz+MPh+2sPsVuJWVbpruz8y3mEPl7xDIi4SPkiWR6zxSvFM0wDdpJo+3w9u8UYsp1aJIk8tRcI2I2GUOc7nyCMt1J570lFrDPGViYoERCV8g4UBidqBSGBCIEXcDhiGOBwKfJFsA2jgDHSt6EuamjkmlGTSGAkHIOPcVx3x31638JfCrxB4z1PxHJp9homg39/qUkejxXzyW8do5ZdkqsGJPOCp3Y287q7QwtsJ7+grI+Inijwj8Pvhn4h8dePoYDoejaLc32t/aY0kEltHGzPHschWLAFQrEAlgD1rSo17N32HS0qppXZ8efsNaH8DPEnxik8Jad4ct720sNJin8NmTwtocMUsmlXlvFcvC1hcyNGILq5miEREaB45QwYCGvoP41/tT+Gfgh470/4eTeA/EfiHVL62F5e/2JFZx/YkZLiSLzVmeMkSJaTKHwY08sB5ELCsb9mb4vfBjx74l/4RDwV8EY/AnihdBvzPpptdOeWKw0/Vp7CSHzLZiphS5YSogYqPObIV8qfJv+Cgup/D3w98etE8S/GDwH4U13Q7XQ4rqwm1zVdY046VLC94hnludN026EkaRyyFIpJkUt53AbyyfOipRheD3PQvGtX5aiPrT4deM9B+Jvw/0T4m+D70z6V4h0m01DT7h4mieeCWIPGzxtyjbWGVPI/OtqYFkwDx6Vi/Dy+0zUvA2i3uj6dZ2ltNpFq1tZ6bM09vBGYEdI4pdiCVFRlAYgEjqBW0CQMV3LVJnn1IqE3HsQbGz0qQEpAd8XmKoPybsZBwCOcjoPb6ingZOKerJv8sxFiZNsZViuGK5GfxyKtrmjYiKfOfJv7Ymg6Dqfxcuk8deAPjCdMm8MWkCap8MvDUmoWmrtPHd2bW12oguEjeOOeULKFR4vtKybwuDX0j4p0jUE8A3OheAvEA8MSx6W9vpN++m/avsKRwjy3e2YK0gCDayFt2MjgnK+F/tS/tF/G34MfFqbQvC/gq51HTdT8LyJ4ej0/wACX17Le6g9tc+XnUYJPJgYXHlho5VX91A2Dht6e+3umzeLfDzaNqdzLb3N5alLyXTLh4mgm8tY5CjRszxsskjYG/qoyTg1yqyujrqWhGLPj79lrx74X1H4leFrvwb42m1qPxF4h1q41O2uv2aJtLu1uZJ71p7yW/wqW6bkcZKBt0SB9pbyz9pxOWLIdvyOygpnBAJAPPtj8cjtXxx8HfjH4d1n9s+68IXV5rJ8Qx+L5reDQ9P+LOr6itrZ3EWp3TT31hPI0MWyOKJUXasQjvY/KLMiqv2RFLK5MxjY+byfMUhueeQeRV0HJQDGyhpKKHUqsVOQacq45PWmuADxXScad0CqzHCjJqOSUA8jGKkRip61WfJdt+CM0DGm8jt5DLJbmQ7Sy8EkbRngDr9K4/4TLZG/8aPahQW8e3keFCjLCC3UZGA3AXGT+HqetMbLzs8xQeVI7V5v4dvNQn8AeP73RNXh028bxTrjQ6hKfJS2dAY1naWZSildofLKyYA4Kikxnokl5CjGMkEhQwG4DPOB+dNabcfLHBBwQeMV4l8Bv2qvBHxW8YL4abXPE9tfTaXZWP2KTTY7zRLqdY5bhri31aygFvPM0Kx71aQbdyBY0Ltu9pl3sDK0vmkszBXbIyQfUH1/SqinJCOI8X6nG3xs8DW5v0y0GuSbjkhv3FsoyBxj58ZOW4wB9410txKLjMgd2G0KGPRiFUEjvjJPX0Ncz4jS0T45+DibmRGOi6067pXO0gWMZYFW2/w9xuPO3AzXT3EqSqGjlV8gElWz1FShszrqWRQVEh/Osu/uJ4gwV85HWtS6UA5IrK1DG3JpNiMu51a5jR4cxvuUDDp6Vi6tMtwD+5Rec/KMVoagCjFsVlXjYzxUNpG0ZXRiXq4JUjisySCKeTZu2Ke571s3w3qdtY16m5lWRScHse1YTd9S1uLBps6JeXMMcDMtsABHOM5PHeud1TStViYlLBwNxBDOGJ6ela1zIsel3BW3GJGXJZcng8DNc3d3U4feJWBGcYPSsyyjqMN5HMI7iyfLHIKrwoqnPKiS+SUYHHGRV46nqsbEpeNjPRhmki1m9eURzLCVxgF1A5oAggCR43zMrMOsbYIH1qeWdS0jIoz5u4AkMMMOu3jHSpor20kB8/S4mypDsrEE+4q7GdHcMNtyCX4Bw44A9TR9l3GviR9RfDErd/Crw1Jb+cobwzYDY0RTpBGQ3bjGRjaOvbpXb6Dq0OqRSWXksXhwkpB49iKyfDvhZZ/DmmtHcyQNJpdrv2E4cCGM5APT73QE/hVxZ9P8M2z2trMGmccgDLE+p9K1wrTw1NJX03Ire7Xm5aXZRuoYIpb6JJP3YbeuU710elTFtNt28sL+6Abb9PSuf8iaTZbRndNO2XA7D3rpJpJtP08s7IBGmDk1uK2lzn7MSJei9t8ny7k4GOoqzGzyXE1625fNfO0+lR2hVbVXKDLMWGKe4lKjcetaI5nuLJOc/KefWkL+YMkUgRc4NSlFC449qBJJGB8Qj4nh8D61eeAbe1m1+20m6l0aC8RXikvBBIIA4bjG8gdVHPJAFfk58Lv2U/8Aguf8A/Eni3xj8IPBem+E7nxTdi88VaZ4e1HRF08XkgXzpIbWWVkj+YAjYAcZwBgoP1f+KvxE0X4RfDDxD8WPEtq7ab4b0W71XUBFHub7PBGztgKCckKeeoFfkV8Xf23P+CwHi34MW/7dqeOV8C/C7VtbisvD+kaGLVCYpZmihGyaFpptxyrORlidyqoC142aujzxUm+Z7W/P0PYyyFScZcqSS110+S8z2P4br/wcNW3xE8MRfEGN38Pza9ZHXmEegMFtPtA+1MRHk/Km9htOchSqsCyV+mJtlkuJmhKkB5WTy3DbQ4+QA9AP4sdOfz+Tf23/ANrT42/swftQ/s/aXpVzpQ8D/EXxB/YXjDTbywHnfa2a3CyRSnBjx9oIIbByvSTgL9WLttnljO4sMnap3YAOzjvjKk45xnrgV04L2UZShGbl5djmxca8lGU4JefcneCRSFJ4x971rxL9vf8Aaz1X9i34LwfFzSfhxH4oMuqrZXFhJfTweVG0bv5v7lJGY+YkKAbOsgG4ZAPtSSuFUB2GOT0p8c85idWll3bcWwDJlGdhu24HU8CuyvCvKk/Z6PuctGdCNVe027H4e/su/wDBU/Xf2bf2i/iz8drb4DyeILv4paxHeXGit4nkH9lA3D7lVmiLSANIsQLLGRt+VUACnqf20v8Agsv4n/bS+Bt3+zz4P/Zkv/Dt1repW9xHeaf4umuroC3uDcRxQxJCpMjMhjyw2tvJ4wK+rvGn7cf/AATF/YC+PHxA0jSY/E2teMPFWreZ49h0K0OpQwXHmGUxs8joFPmTFiq5OOMnC7lt/wDgvb+wHp3m3dr4N8dRETF8xeD4ozsOGLlhPkAYUHuQAeSMV8vJ1KVL2VWsk3v1Pol7OpV9rCi2o7dD6k/ZU8PfEXwR+zF8O/Bnxaknn8TaT4R02z1t7tpHd7hLRN5kZwW352htxzuByTXoccbP1/E1k+C/FWheM/C2keMdChnSx1zSrXULEXMO2Ty54YpEDgHCttkGV7Acmt+IJn1r6qnFU6Sitj5mT9pVlN7leWFlOIxyfUgY9zntXFfGr4M33xj8N3fhS7+IN7pVhc6ekZtR4e02/iMquG88pe280bHIGBt4IHUZz3skIZ1GVGWGC3SvFP2o7/xv8L7Kb4qP8avGek6JbpBa2fh3wZ4R03VbmW5Xz5pZBHcwtJIHjUfKpwvlgqE2sTNV2hdmlGLlUtE7b4OfDvWfht4f1Cx8T/Ea48U3upazJfXWtXulWVpNOdiw5kNpFGsrjy1UNJ8wjVEzhBnr2VkO1hz9a8u/Z5u/Fes6zrOrD9onVPGWlaYU0m8s9X8M21ndWmqwlJZWaW2SNGAjngX5U2sxYgkYr09VVRhECj0UYqaUlaxpiIKGreotGSvOzdxwN2MnoBSowVgxGcdqmSRN+8Doc1sjnOD/AGg9OOu/CXxH4Ki0nU7ufxD4f1DTlOl6cL0xI1s4ZzC0sauM4VULqXYqAwOCPJP2CtH8WaWniSHxZ8H4fCMaRWKWyxfBZfCczxRhgQ0kd5cLdYkLFceWFUgBFbdn2r413/j3SvhH4jvvhVHnxLBpkr6Ji1SQC4OApEZ/1uAWOzvj3rwT4P8Ax1/a68a/Grw74f8AFfgXX9P06WGaDWYr/wCHNxp1rdW8UV4zaktzI06RS7/sQFt5+0+eWVpFQLXJNR9rdbnXSi3QcUz1342eLfHPg6Lw5rOl+FtT1Tw+3iBh42tNO0pdRmuLN7KaOKJbZQ8jp9paAuUJcKpYAgkDhf2UR8M4vGfia3/Zw+DMPhb4bxaTpdtYTL4Nl8O/2hqmbuSVYhPDC80Iie2JZgQu3YChj2Dv/j/8N/AHijSo/HPxI+I+v+E7bwvZ3Us2taB4quNMaOGQRGRXEEi7wXTIVlfJXaASQK5v4FeCvg54p8TWfxa8C/tBeOfGH2PT/tttDqfjy6u7ForoTwxyrA4AZCBcIhk3cEdQFIzcZ+2TuXSqRWFcTq/jX+zx8Lv2hk0Ox+L/AIZh1vStI1i5vU0fV7OGe0vPMtJbfMqEM2Fjnc4U/MflYMDUXwj+Ff7PPwc8Vax4d+D/AIU8L6Hrcml6fdeIdI0GCKGf7MTNHbTyQqNyLJ5LqHIO4QEclSaX9o7xrqfhz4a6lY+Ftbv7LWNRtLlNIuNK0C5v9l0kazkN9jjlMakRGMsy7cyqOchG8+/Y48Z67421PxP4hm+IWqa9byRW015b6h4c1HToNP1JzcyNFZx6hZwkWawtbQqdzFnhkykJDqdJShGsoPdmdODlhpSjsekftITeJov2fPG0fhLw7HrGpjwxew2+l6lpk17bzSEBdskMa73jwxJT+JcjpnHjn7Aur6Xq2u69p/hQadrul6d4X02Ky8U2nw6utA2ySXmoXEultFK/zvEWjcPsVh55J3ebkd9+2X8K9N8a/CXVPFFj4E1fxHr3hWxuNQ8M6PoviG8sGuZR5bDyxa3EG+bZE2wMxO/aoZAS1Yf7Idn4ePjTx3/wrv4d+LtN8KN9j+z6p45/tyO+vrxnuGuoYo9VuJXS3UrA6FFjXEpwGQxtWbi5YoulGUMI3c92UsUAZJFIHKyrgg9xRSFRu35OTyfqev4UtdrtscV2w6VQ8R6fqur6UtpoPi690S6+2wSf2jp1vDJNEsUqysuJ45I9rhCj5UsFLFSGwy6cEKPmSWTCr1FN1C5gto31C4Zo4I182WVmyFCrneORyFU/p6VnNpRdy6fN7Rcu58Zfsc3uk3v7VtzJqPibWtTvkstUdL3SfD2ganoNmI7l99m+s2VjBPDJGJUBhkKNJKRklhKD9pRSPJEokfLKNrZABBHByB9K+Nv2M9FsNN+N+h+NPEng/wAYaFc+NNCvrjwS6QaNpeh6rYqkMjM+l6bISZ0VmfzJ1Z1aTYXwUB+yFiVPl+UhRgBU2hucgkZ6+tYYazhc6cwp2qJzW4TFgUhVnysg/dqAeSemD3zjivj3W/FfjHw1+1P4r8Q+Cdc+Iun+D5/iRpln4x1G00Dw/c6ZFqc0Vja/ZlgaJdQZXlFsXnieV0wxBKALH9fXdnI+mTwWN2kE8llIIpp4y6QSkYEjDqQCRXwJp3xB/Z++Kv7TGk/EKb4vfCzxH4oXx9YaNfaTpfwt1t73Ur63KRNPHENTNuVFwwnS6kgkKIxfJ+zrOqxN3NG2CXLBta6H3vrErW0My3OoyWzKZHNw92gMOS6h8znCgAZ7jk5GCa+Qb6Hx18QP2no7P4c63411Wy8NeJdHsrjW774h+GIhdLBHbTtdQ209pNdC2ZJ97mNoy5MrwqhETP8AYOsaXo+oxzaLf2QvLW8iMVzbz4MVxGysSjIwK8g7c4OTznAr5U8M/sV/FFfHVr4mb4I/s56HY2niiC4tNV0z4duuoQ6TBNAVt4sRKFk8lZY9zyEgTSYAVArTWblFIMLOCk1bU+rWaTf5UBKO7AxJt25bZIqYKjBO/HIGck9a+NPG+n+ItP8A2z/FY8QeHdXgstR8VaBPbXZ/Z+k1yGeNYIYVc6vLn7PKJIpo9uNkJZXVRv3S/Y11bXDWd1Z2F0sDNbOI5bm3V0EhBKlkTbvAYg4yDgYz3r5Z0z/gnv42034q6Z8Wdd8RfCeS/wBKuNPCS6f8OtQs7qWG0iVVYsNZMazCDy/LbZgEbWLpjbeJTtFroThJxfOm7N9T6wljWCZo02kbiFfeSXHXPOemQPwoikVj0oCAZZVbrtYtGVO4AAg57ik2APuH5V0LY897iyQhjkHHvUU2S/LE+lSSHC5zioQxDbqYCmNgu4im1OpDDIo8tNmFFAEFOSMv9KfHACfmP0FGDG+OMd8mgB/Cjk8CvOP2vY/Cq/s2eMU8bTahbadcaS1rdz6XbJJcJ50sMSMgeORCQ5j5dCqgMzYUE16P5ccyFJWBR1II9QRg15J+238S9b+G3wD8Rah4Y8I6tq2qXumNHZHT/CDavFb4eISyyRhWjJSMmRfNG3KEsGAwc6yajY1oc/tlZHIfsK/HLx38Y49T0j4jeMfF2q6rBpGl6kYdcg0x47S3lnvrX5bjTbeAPKXs3WQPuXgPHvRyRxHxC+DX7WXxQ+IusXnjX4HXcVvqmnWuneLv+EL+LNvZ2HjOxQSj7PPazWUksB8m4MTyxSwtLsWNmCEbe0/YG+GHw2+HPh3xf4Z+FthrWmabNeQPLpuq/B+PwyFlVZI2KSLbxm7IX5dxJwNhGNxZ8n4//FH4j6L+0Fqvh3xL4p+LOieH4TpMnhpvh7Z6EbGYsr/avtDXkb3Ct5kiLuyADHGEAZsPxy0p3uetf2dblgj1n9p3xN8Rvht+zz4i8UfBvS7mTWdG0mKbR7Ww0tr2YgPCr+TAMmaRI/MZI2+V22ZAAqh+zF408S+NLbVrjWvil4l8U+TPHHavrvwvn8MRoFXkw+fChuFbKyB13AI6DJIyaf7bvjn4deC/2d9Y0z4ifFCy8Kxa5LFZWF3qdxcLFcy/aYGNoz2OZI45VzExUEIlwzEFFK15n/wTDga2stc0/wD4TzQNSTTfD3h3RorLwtrF1fWVqtr9shMhnktoY1aV92ItkbRxxKuAuCdFfmSvocypxVOpLqfVphzGGLYJXkdcH696574peB5/iP8AC7xB8P4rXTrga1o89lJDq9vLLaukq7CsyQyRyNGd2GCupwTzXRxuWt1ncAblBIBzg9/1rx/9tLwX8MtU+Dtx8RvG/wAHNM8c33hW2nbQtD1iOSS1eW8C2kjzIAyFFjlYl2U7F3EEfeHVWg/Z3RwYSDqVIxvqTfsofs069+zj4evbeb4vXmu6Rd29tHpPhvS9DS30vQI43lVorQHfcSKVKJ++kbAhXAUYVfW1bcM/TkAgHjPGQMj3xXw7/wAE1dN+Cfx38VQeL9E+B3g+wuvBek6fqlj4y+HsV5HaSX9w11bzWRkkBjdDDb21yEV2YrOhkVcq0v2+AI5Sp69lHaopXVLY6sdzRrct9QeDdKZjKEYFGEjY+UKwbHTI5HUZPYda+Bv2pfg54o8M/tF6h8R/h9+yF8OriwfXbaGLUr34NXniDUPEN2+n2bq4ngdBYq1wiI0/lOqGLzWcsB5X307SKhm8yP5BIxQEksF6A9MetfBv7QOqfCi+/b08Q+DviW3wtlu49W0SDRrb4jfF7VdGu4ybW0VfsNnCHheDziq5wgaSd12liwmitKV7IMDOKbUz7uKTR3MjGDYzPiQIpA3q5VsBsDHXJGOV4zU9QRfZLa6lt4444iXUKuArNlARkElicdz/AEqet47HHKyk0HJZVC5ycda5P9oOfUtP+AXjO/0a60eyu08Lag1vd+IrYz2Mb+Q2PtMaxyNLBx86KpLLlQMmusJQEM4Bwe9eSftuS/Ed/gNq+ieDfhTp3ivSL3S7q28V6dfeKI9JlSzktnKzQ3UytDEY5FBbzcKVByyj70VXeDTRpQg5VU0zzD/gnxrfw+u9b13Q/DHwV8JeE7+1sVuNYh0DxHq9w5E1087eVBqlnFstzK07GSI+Xl4scSLjC/4KL/tS3nw28ez/AAw0T4l+LNESTwxu1610/XdIstNFjcQ6hNd3UktxZXr2/kW1jK3nyLFCZPJiVmaWQL1P7DU0HjXxz4m+K2q+ItV17Uxo4sNP1/VvGWg6l5Vil5d/6LENJiiKrFKBGzSqzDZtzuDs/F/tq/FGXXPjBrWjeCfizcX503wVEPC9t4N+JWh2Uei+Ioru5JOppcSCdonDRKB5coYW9xF5alys3Dyp0fdPS5Iqu5N6n1J8FbLw2PhB4Mk0HwzcaXZR+E9MGm6dfyJLcWMIs4xHE7qOXVDtJHXJrrgysTt6Vl+Dr3XLzwrpVz4nu7SfUn0u0+3yWMglhacwAylGVmXbvzjGRtx9TqAZ4FelT1pJM8uql7RtDkIHBpGcSK0aOwJU/dIH6kEfjigRknFNkt3VwYgSTnCqRk4GcDJAJx7iq0irslRcnZHyJ8avgj+2f8W/Eet+L5/hh4bh1J9IjstE1DT/AI46tavoLq7RzT28NrYxw+ZLATKQ5Zi8ITcECMPr1bdnhjjlunmESoZJbiJBkFlJZlCgDOT93Ar5F/ac8deL/Dv7UEOkav4s8WXNtrUGjx+F9C8KfG3R9C2rIX853sLuZJZvmjaQum8PCsoRSVdG+tLy3u/s169lLALlo3EUtzAs0Afc21pAmxipfBIVhwpAPeuWKi5M7sRBKEUeFfDr9rTxX44+JWiabrXgbwvp+ieMNevNH0O40zxOLrWVazhmLT3loLby0j/dgbRO7ItwnJLFa95SSFDhS4GxcZ2bTzywAAIySODnH514P8Ef2dfj/wCHvGWifEn4yfED4T3etp9rm8Sa94K+Hb2N9q8jiZUikupLqVQo8zdI4j3O9uhGzJ27P7a3w9+I/jD4M6h4h+GvxP8AF3hXWvD9pJc20HhrxTa6bHfqrK0sMklwDGu5Nyq7FAsm0llAJrOnKVJXJqwjVskerW3iHSNR1a90HTdSimvNNWNr+GL5zBvTegfH3SU59gQSMEVaLKBu3ZHr614V+xvD8SbvWvGHiLxfqvjK80K6fT5PCc/jvW9Kv75ofIcF1bTXZBbyAxyruOWMrHccbI/cnnBOJCT9WJx+fNdVOpKerOWcFT0HROJc/KR6VBIWRyrKfrVkOsMJcL24NVi24byc57mtiBodekkQcFhlT6Z5/SvH9al0RP2dfijeeK9UvdH0+bUfE4uNU0ywd5reNpZUNwiMTvdQjAdA3GOMV66ZJElXyYXLF8R43Y34ypJXlQCpz25H0rw/xhqXiHw/+yv8S9a0HWfDGkTW+seI57m88WpIdOt4VvZ/MklUBiwwHbc6nJwcDjGNWUkrIunyuWov7JXxE+LutW174M+M2pavHfabpljdadY6r4Us9OlWzk85BcF7W6uYJGlaNi8TFZFJOCwya9jSOEMhliJ+bOYzhfyr5o/4J5D4f3Nz451HwRH4KWKyjsbK5svCXhvXLeW0aM3DFZZdWUSlSxkCxRqqK6SHl2cj6YRtpMKhgwXJVlxtP+NVRtKm9dQqR5WcV4gkZ/jb4XR4RiLw1rLLMoUhRJJaIcEnKndsHAyfoDnpr6Zi7Mzsckn5nLY/Oua1WzuZv2hvDMp0tv3fhHV2+1QNsfDXennZ1AI+XoOW78DB6GUbY1VhJuCKHLgfexz096qKaWpBSuhuGT0rNvQroUOOO9aFw/8ACaz7wfKR+tErAjAvuCQayNQXPI6/zrX1CKRmLkEYNY96wGcn8TUNXRuklsZd0QnSsnU1J5AGT71p3ThicfnWHq7FpMFRnGOTjisBlPUtiaRGvkZZpjnL9hXNXckjyMzJjJzjOa6LX5vLtYItqgFS20PXOzuCd8vA+vWoaLTuV3KhfmNV9pkbOMU+Vgzll6dqdErYyKpKwO5Jb/JwRU7W8t6nkRLC3IY+dArjjP0Pf17UwRq0RJOCOlT2kEjyAKrSDad0ZjII5GDkbgR1p80Vo2SozesUfXPg64jg8G6LFeapMkaaPY+bC8u4qVtkViOTjJGP596u2UPnhI9NhaaRwMsyYwccknNaXh7Q9FOi6fGlrE6pp9uqs2AV/dAgEAeg/Cti2Syhi/dqqRqOCONxrWhNOhHl7IqtB1K0k1syro2g/YCZHk82dz87DoD6Cquv3xmcaTbnIzmZh2qTUdfBY2ulhZJMYL/wpVCGARLgtuJ+8fU1olcxqSW0SxFIojCJFgKMAmjknJpqHjB/OlmR9n7tuvWrSsZCO3zFQRx1xQheU+WuWx1C8mkSERr1Bb36VT1u5bTtIvb+OzFzNDZyNFAHZDIFUsqcZZ8vhRjnnjk1FWap0nNsuny+2UZI5v4//Ciz+OHwP8Y/B3UpPsqeKPCmoaU008aOsLzwtGjZwduGKknBxjpX4yftIftA/tX/AAo/ZWsv+Cb/AO058BpLFPCfiPT59H8Wx211B/aFnaXJuY7dZGikilBRtwlR9yYCsuF217//AMPtf2647SIXX/BPRYGkkYqE03W0Owr0ZltwBwGORkAbWDcFar6X/wAHAn7Q+rRtcaf+xboWoR2su27Ww1nUJlhcjdtIWBwGOHA3DJ5IB5FfPYzGUMROpKNRprRKx7+X4XF4bCQvSUo3u7vuRfDf4nftKf8ABYX9rX4ZeMtT+Ccng/4Y/CzVTrN3dsJZIzIrRbd1xNDEHml8mILHEpKJnOQhc/qrHsYlgDkE5BbOCSScH8cfhX54/srf8Fl/jV+0j8eNC+B8H7FaQWd1q0FjrV/ourXk7aJbvtJuZoxbhIsBVBVtvbqMhf0QiVCzvvDl3aQOOOWOTxge345r0MojCGGbi99+552aSlPE66JbLoKThSc9BQZlSKKR94KTI6lBk/KytgDIGSVAo2ljtI60+QCLyiJFAWTn91uOccEE8D8fSvW1dNo833VUjJn5MfsW/Az9j74Z/tzfGf4Nft56X4duPENzq5uvAU3ji8gfS9VsZ7i4d7hGlkEXnFWQhXbJVflVDgH7BX9mH/gkT4jaR3+HHwMnDttn8i508O2cZACXI3Et2AJznowr5/8Aj5/wRs/YH8CeIb7xX8cP24de8HTeI9XuNUjXxP4j0izVvPmkkZQLhN0i+YwwxP3VOWPJWrL/AMG9H7JWveG7PWNJ/ar8Sm01y1B0u5FvpksVy0pL4glEeHIypwrdAQeRuHykVONVxo003e7b3+8+lqzp1KSlVm1G3T/I/R7w3peh6NoVlpXhu0t7bT7S0SDT7azYCGK3UBY1jUMwVNqqAB2A4FacEgDYY4ArE8J+Hv8AhDfDWleELaad4tK06CzWSfbukSGJY1JC8A4XPHrWuCGGQcivp1G7UnvY+bsorlhsTSyYlGZMl+iqOFHvXhX/AAUS1nwxZfASDQfG+l6C2m6/4ht9Nl1DxTNex2+nSSQzMkqfYGW6MxZNieUQVLA9gK9v3NjBNeGft469d+GvhzpOqeGG8RW/iCLVrq+0nUPDOt2umTWwtdLvbidmubmCaJFMEcqHzE2ZkBY8ANliedU9DpwcVOrpub37FFj4RtfgLbz+Dbzw1d20up3Uiah4ZkvZoLl2kUs0j6gWufO2hQ4Y7RtQDaFCj1klSx25xnjJry79kn4hah8QfglZ6/q3iC61O4fVdSjkvLzxFZaoX2XTKDFc2cEEU0RGHG2MBDIUBZVVj6Yu4HJNFCK5E+pnXT9q7kuRnGaN7KuBUfSlLE9a3uk9TKza0POf2q783fwN8R+BNN1K8ttW8QaFeQ2EtvoupXscXlKrSCZdOHnhWVtm1GVn3Mqsp5Hnv/BPw+DbvR/FbeHvgh4X8IGXULMXC6F4X1vSvtAELOjtFqtvEWTeW2CP5V2srKGDCvQ/2rLbQbj4AeJbDxBqGrWUF/b21kl1oU0aX0c89yiQtbtMjxq/muvLjZg5YhcmuZ/Y0+I/iz4g6Bfaf4s+JHiTxLqcVho986a/Ho3l2C3Ec/7gTaWqxTyKYtsjDK52lRywHFPlliLXOxSqRwlkjrf2oJLu2/Z18UalF4W13XhYWcc50fQLd57+ZI5UbzLZVSSRpkCs4VUYkrwjHAri/wBinwH8PfCfhTVtf8HeJPiVqt9MYreXUfij4cOnX0EEc1zJb2kMZs4I9iGec5iznzFd2LvvbrP2rvD/AIQ1z4AeJdQ8U3eg2Kafp8/kX/iO3vJ7OxSQKTJPHZTRTui5U4V1JDfeT7w89/YDn0mbR/HFn4Tg0Oawg1CxFp4h8N6XqtrDqLtagyKE1SSaQmKYsn7vEWVJP7xpAsTTjVVjVRtgrx3Z6V+09c2lt8CvETat4n1PS8QwLDf6PGktx9paWMxoI5HRJNzKEKO6qwcqxwTXmn7C2prrWp+MdZns/H9hr02nWE/iXTviFZyW5ur5ri/DX8CC4mSFZW3RmJChjWCMFFBQDrf2zvjtpPwU+F9yZNKn1HVb1Ek0y3Xwdf6rbF4riI+bJ9ihkJkQK8qRkq7mE7QWKg87+wrbaU+ofEaHTfDuhFW1iyuLjxLpHw+1Dw62tXE0DTPK1tes4yvmZzC20eYFONoAcpN14ysRRjKngZOWzOt/at8U6Pp3w7vfA0l59hudetZHsbiy8Q6bp93bzxFZIDEuoyIkzmQZUYIxHIGUg4bif2D9Lsb3Q/FXjrSvB95pN7fRWEesGXWdF1M396RdXUt7LJpc08LXMk92+4FSQqxhXZCCPUP2hv2ffB37Rfw01jwL4ks9PSe+sjFaare6JbXxsT5iSlvLuFKtGWjUshwGCjJ4zXNfs1fs66p8GL/xV4s1eXwnNe+Kb2ya50/wL4Pi0fT7QWyMgYxLNLvmYyNI8jMDtVEVSVLM5qTrtsVGpH6py7nsBUAEBQNsjKABgEA8EDAxx7UlRyJKxCo+MHrS4lDHJz6Yrrskjiumrofz2Yg9iCePfgivPf2o/FXxR8GfCWbVPg7b6pJqwvLZI10XwfHrVwULYKpayXVsG+YoGJkJKhgBlgy+gw8n984UDpkElvbjp9TiuB+OXx08FfAvwhH4m+JmuXOjabfzvZza9baWZo9MdrOeX7RK0WGVF8v5e5cKAScYiavFo1ovlqpnzv8AsL/DC88O/H68urv4Y3mkNbaRdpLct8JZ9HsYpB9nWNLeSfVbmOBwu4MkNum8xEMVZXV/sq2ZwoSUrnH8BJA9vmAPTHWviH/gnVp3wx1X4t6Kvw28afB9G8P+B5be6Hw31Ob+0fFAnFgBeahBJBEu6MW7FgHfEh9cqn24QyNgggj1GK58FflabOnMr1K0ZdF0HXixtbvJK4URxuwbYpK8ZyCfu9Bz/Oviv4ka78StB/ba0Pw/Yftl6Cl7efECS5uPB8HxTit2tNLNxA8MT6SU3yuU88NEGG6RopPnMhib7Ou1aaF5PM2FYnQSBE43Kf4iCR90cjHX2NfJHwksvibp37VHiCyhi+IemaVd/FHUbye20j4X6NdaFOW8vdLPqBMtxbFykJLFwd4LH5XKB4qclNaGuX39lLQ+v7+eCKaSJbhVRcxFGAIRTJwMnGTnPv8AjXyF458SXXiL9r3WfDPw4/aBuvh7qD+IU0yR/A/hvWdcTVbw28cey+EsP9m20sS4RlQbwHWRpF3IB9dlZXupLkBjIyqysu4EnDFQ3IbuBkYOOcZr4im+MM/w+/beSx0mfxjpWh+KPiZcxrBJ8VVjtNTuo7qGxu5I9HazIVEklhkaJZRuz5jlWbfMsVFqMZGeBUOacpM+1dJGo22mWsetamb+7S3ja4u7e2EQnYL8zhCTjLADAz1r4a8caX4E8M/tB63LqNz4n1PwXa/Fmxsde0/U/jjLFey6nK9qUdNGMZF1bmRrXaGm8x4oZZAuEjr7lW9tr2JJDb5indmiiLAnDjO3Az6854HOa+VvEOkeOr79uO4+InjPw14rintfFNlY+HdT0P4B2F5atpZRTiXWSktwqSHzlkkVohHiMLGGyZoqe9Si0VhpQc5qR9Zlk8wu8oZjnfJjljuY59R97pmjz0K7lOc9KgZo/MCleXUMH3khsqCSMgEc56807gegrujrTR5zu6j5VoKzFzk0lEisoyPxoByMikA6N9h56HrU1V6bPeG1i+ZScnCgdWPoKASuWJJBGpYsBjqSeBUQe8vQRZ2qsNuDK/AP0FWNP0WW7C3erDpzHbg8D6+tacEcYhO+NVU8c8UG8KdzMj0C7kiDT6lHGQOgXIFcn+0V4D8Q+JPgZ4o8PaH4hhivbrS2isppPCcetIkpKlWNi/y3JBAIQ9SB0rtJte0u3lKLMJcdRHzXnX7R/wAV/E3gP4dXXjLwn4hstJ+xXlsrG/8ADkupef500cKwRxxTRnzHdlQFiI/nO8qBuGVZNwN6SjCsktzz39iD4AeM/gbpvimPXfA2p2A1W8gu7SGXX3kt2YJIWNpppwmlxAvzBEzhmYnOAHfxX9sT9nTwZ8YvjT4obwf4eutb1x7zTYL65uPg3Lq8WhfaLAQy2qXBYLC6xm0uRtVY42kczmdTth+pv2ffjdq/xDPiOy8d3kmnXukXFtbv4fvPDM+kvpy7WIkdpbibzBL5bOGDZVQoIBPPF6p+zZ8UL/xRqt9aaDDZhNfs7jT9TtvjHrqG5jiAzLcQoo3DAC+WXKlU75DVyJPkSaOyTjSquTd2yT9u4a4vwifX7X4h6hoVnpl5DcvdWviFdLE99Jc28NjDdSGyukitdzgyzGPEfDFdqsKl/Y88E+P/AA2niW8+JHji/wDENzeyWIt55viJba7bLFGJCNkFvZWkVo++RgxWMtKykltiRIm5+12l5Zfs/wDiqwuNBn1hfsylbQa3aab9siR4XZTNqMclui+WjFhIpDLvxj7w83/4JqXdhqvgrxre6brPhi+SfxSPNk8PeAI9Ilt3EUe62vJ47aGDUZkTYhngXbtCZ2k4GygvbJ2M0+bCSae59MgD7uMj0ryr9t/WdX0T9lPxlqvhjVr3S9RXTlhtbvT9VjsZl33EEZ2XcjIlrne6NOzqsSlnJOMV6ix8n5i3ygcknpXnn7VjeJr/AOA/iHTfBumm6vJo7eK6VdOt7iSK2+2W63EiJdI8ReOJpJV3K/MY2o7YU74hS9nocWCSnXSW5zP7G6655niG51PR9RtikNhG6X/xkbxhAWWN/li3sGtFHDDKjzCznAxz7aUWMDoCR0r5X/4Jx+BPH/gTxL4/m8XxfbLOWOxRNfk8I6Np5upYpryP90+lRok0BijhdGYyAeaQHGBHH9VXG1nAKD5enOaywzap2Ztio2xDb3GL58rD7MwGI2+ZsgHcCqrnpy31+6a+RfiB8cfil4I/aZ8V6JpvxOSTwIPEOlR63Lr/AMJ7zVLPwxM1vaq0K6kLxViaf9yoTyTFG8gYAlX3fVfiK18Q3OhajbeD9R0yz1Z7GZtIudUtfNghutgWNnUHO0OysRjkBuhr4fv9M8d/8L7Fh+0d4S+H2gat4g13S21jSdK/aWm0+DxBJFb2TRTS6S0CC5nLQzxbz5JdIo49pRWIzxF1JNF4VLV9j7weDyne3+6UOCik4JHfkk5+pNM8zAwR83pUsquLkmSRWIPJRNoByeBycjpz1piqjMSTXZB3pq5wVElUbQRhpdqso69cVxn7UEPhWb4C+L4fGy6p/ZSaDMbxtFhZr0DKACAAZZmOAADgkYb5Sa7eNgJ1RW4ryT9rxPgRqvhzS/CPx8+E+t+NbfWNUmj0nQdB8M32pSzyC3Cs0qWihRGEbafMOMsjHoSsVlaBeHdql10PLv2B/h94r8GfEvXdP+MOl63a+L5fCdrcG3uraxjjXSrnVNSuI2aSwu54vP8AOkaNhujKqp8sMmduN+2DE/gbxx42kHhzwqdK8UeF9I07RtVvfFGkaZF4e1e5ubtjcXqXK7mFzIse18SSSCBo08sjee+/Z38Rfsm/DLxmuj/CX4AeMfBWqeN7m30t73WfAus2UV7JBDNNb28s9ypjUrHHcfx/eV8Asw3fN/7X/wARvgV8Rvjz4h1LxRqmiwa1F4cn0nUbW5+IC2Bsbt3udO3eTc6TgyLDdXCIzXHlhp2Vwcoy8SVoaM9OPJOq01Y/QbwfpM2leEdPsbu+FxPHZJHNdQxLEksiqELAR/KQQuRjjDCtLjJIHU+uf51S8PaZaaboNlYWBSOG2sYobZ43VleJQix52DDAKvDYGeoAFXfrXdTcnTVzyqseWowywHymkEMjuHeYqBzweeOf6UtNfZujkkR2COWKrIFGNjA5yOcg4xSmromKle6PjH9o3wR4+8XfE7XLXw58JvGSeGPHE+nN4yH/AArWx1O6tyLaKOIwXKagptV2RBmZ4yV3sGIUqV+z5J7VT5bFWwV8y3LGVlIc+WSBzg9Dn1I6A18B/tK2fhXwL8b9X0jXvhJf6l4W1Lxjb/2zJ4x+NuvWltqmpyJY+ZFa2ASW2uF2zW3lxOcSywlSIyVMn3L4/wDDnirxNoN/pXg/x3ceHtTY7bfVk0+O7MZQkhdlwTE4ztzuCnluVzmuaF+Z2O+rKErXPlz9lH4h2tp8SrLwrpPxR8f3WhyaveR6R4Ru9R0nVLaGGa3+3iab7Pbi7gjyrwxRTMSu/oysCnvP7T+hHxN8DfEfh4eF7zVitqlxLo+nQ2txJdmO4ScQ+XdMkLq7RbCJHQbSTuHWvAP2O9P8dad8frK41rw7dXGr6h4ev7jx7q938F7fREsLv5RbhNRhiia8YrGUKIZCUAZyhYFvU/229K1bUfhS2qal42uY9Bju7W21LwpB4UstVbXri4uIoIII47llZWLzDCo27KowxtIaotulJmckvbRRx3/BOXS/h4fDviLUNA+K8fiTxFp8un6H4h06PwqmgroMVkLpYbVLRfMVuZZ3JSZ4yZFI5BLfSMfzDcQc+h7V4P8AsF+JvEUHgXWfht47l1Kw1vw3fW0V54W1TwLp+hSaNDLZxPBEqadcT288ZQYEkbsN4dQcKoHvkRRxg+tbUW5QTsTiIwTauK90RCInHQ8ECmThVQMOnenXO1k2qMEelQvM5jEZAHrXQjkFVo4pVnlO0RHeGzyD7V4j4ystZ8D/ALJ/xFv7vwRNf3UI1/UotFeG5lS9SS6uJkINsslxyrK+Itzkjhc/JXtIjeVxGrqNxA+c8dffivMv2rE1HxD8Fta8CaTF4iF74g0adLHUtA064lexdYxKkpe3ZJEIYKV8pxKeTH90suVWSUTSnBzZxP7E0PhvVdQ8feONN1fSru91TVIm1CLQvDfiDTIbQyNLMYzBq0rqj/aJruR/I2j96gKjCs/vtwQg8xX3ZXG1VOenUeua+Tv2O/Cnxn1bx/H8R/F2t6pFo3hxLnTraDxH/a8V9PYvHMsNs0d+VRgkjtlyxkV4dpLiRTX1YRIoUPkEKAATnHt+HT8KWHXMVXtHY4jWVH/DQGi307SzLB4J1QQ3CW5VFc3loBEWfHzEfMABzt5IwBXTSGIs0bxyfKAFJfgnuas3SDJYsx3IFOZGOQCGxyemQDjpkVQlMjMVQfWtrWMb3K1zHyTnPvWfeAFSAavXTFOM1m3zMF3KPpUNWAyb75MhulYupCIqVP51r6o7FckcmsG+LhcsazmnY0hLoZ1wEGcEZHauf1OVllbKKSxwCa2L9iqkg8/zrIukW4lBcdDmsjQxvE0Exu41mZSEhACg1i3MGRtBwO1bniicz6g4QAhdo+ZeemaxpdxclqAKskLkbQCAKltYyM5HSpkjLDkUq27IeB1oLTuCxqTkmnGKN5A29wQCoZERumCR831prLkFGHXg0qyrHdSXGFVmYkMwC8ELkZIweV+tV7Rwi9Ew5FKUdbH2XoviDXzpFnvjtlYWkDKYZQwDGIAgFeoHNSyHUb98X1+zKn8KHiqOlS2baTYy2yuyi0i2iVt2zCbcA4BI6H0PGBirtvIB0HWtKKapxUo2sjlqSkqktb3ZNFFHAnlxIFHoKdQDnkUoGTithIeMY4oycbc0AADAp6QlhluPSgBlNm3GPKrnaDlccsCDlc9gTjP0p5BU4NQXl7badby32oXCw2sMRe4mkj3LGgOXZuDwqK54INL3V8S0JdNzlzJ6nkn7fet/FXTP2KvipefB7Ur9vEa+DL1rB7JZJblcqu8xYDbm8sSHABOEXAJNfH//AAS0/wCCkv7CfwV/Y/8ADvwe8U/EGHwb4gsPNGupeWlyU1ydpdzXxmt423s6sqjLbgUx02mvqn4Wf8FJv2Ofiv8ACbxT8evB/wAVNnhjwO0D+KdUutFu7ZbVZN0cEgV1JlDAjaY9+7KY3Blz8d/EW/8A+Ddn40eIm8W6xrv9jXs92GuZ/DdjrunLM/yAuYFhCLjvtUDnJJU5rwcwtSqKtDfa3Sx7+BTq0vYzT7363M3WP2qvhx+0Z/wWg+FPjv8AYpS5uGlgGk+PPEFhpNxBb6vaNJK0rSowQtGkW0iVxneyk7dpFfqLakucLHsC4B+YEZ2gnGPQkjkDkGvi/wDYY+IX/BG/4YfEi08A/seeK9Dj8XeJ1ksbWS7h1F766OxnMCT3SfIdocHaRlV5JXk/aoLNg8/jXVltONCjOpzc1/wOHMas69eEOXlt+JIqhnGaivpY7Vg0iB1SF5pEIGCihiV565xt/HtVmAHOQORTZXKt9oiBaSJ1dF2bsuDux1G3gN39K73Uc/hOCVouzPxZ0L9mjRf20P2Sfjz/AMFNPjr8TdZuvFejahrZ0bTLG7jFtpn2SNvKiufPDypGscqrHGW2okfTk7/Vf26tA8PWP/BCz4B+KBLZ22s+HY/Cl/4RuYGwYpWgcOYXiI+byX6oRtxwwGd3XftPf8EYv2gF8beMvEv7CvxrfR/C/ju6km8RfD7VdZuLK1d5pS7Rq6pIksWZJ2VGAMe/YpAQCue+DH/BG/8Aa3+KfjTwc/7d/wAdobrwT4Ke3g0rwjYeIZdTZ4rdfLFookRY4ovLi5YhiIyQNrM235yr9bjOUYQ36+R9NSlhZU4uUrcvTzP0p8HahqmreEtH1bW4nW9udGtJb1ZIypEzQIz8En+Innp6VqRxFVwBxShlePesGxHiR4okYbE4wir/ALKr37+9PUgjivpYctOEYK+iPmpSlUnKT6vQREGcuDj0BxXkf7Xw+Mz+C9Dh+GKeKZbf+2SNfHgXR7C51U262lx5YhXUSlsivKwjcne2yUbcEl09fXZvActg5yVQnGASenTpXkvxw8S/tCaP8aPBXg34RX3gVbXWotRW7sPE0eoG6uZ0tzLH5Zs1by40AyXdlByUGGKgzUfNBpl0ZShVTTOi/Zy0W50D4Q6PpGoR+JYpIlm8y38WaTY2N6AZGYGSGxRYASDklRknOeeB2ca7gcAgA8Z9K4z9nDxH4v8AGnwrtfEXjTxPo2ravc6nepeP4c024trK1ZbqRBaIs/zkwgJCXbaXMbNtX7o7WORJUEiHIPTilR5o07MVVuVRtgyDHApCjhcxuFb+ElcgH6d6fRIrrC0i8YXIJFaasjY8r/a11nxv4W+ClzfeBL7wPayjVtPXUj48s7ueymsZLyJZYBBbB5JpWDBABnlgRjGK439gWfQpvB/iebwJYfDuw0Q6jHDaeHvhv4OvdLt7ZktTvkP2u3gluGb93h8MoEeFZSGRe3/bVm0m1/Zu15NV07Vb1Jr3T4bNNH1qDTZobg3cTwXH2udWit0jlVXeV0dVRWJVsYrm/wBh74kQfE3wPrAf4l694wmt59NmvNS1vX7C+SJ7nTYLk28T2cMWFTcGIcF/nyCEKZ4ZJ/W1Y9CEk8E7nTfthte/8M66/LZ+OzoDRT2j3OqQeKBpE1vb/wBoQmZIbrAWGYojRRt8pLOo3qTuHDfsT+CfE1xcaj8Udb8QeMPsF6EPhjSPEHxdbxIyWs8EEhmnxK8OXYSvBtL7YWbO0lEj7H9tmaT/AIUDqd1cabr88Cappolk8Oacb26tQ+oQj7UlskNx9p8nmRojCyyeSFYqhdhjfsQeE/hJ4e8BanN8NPiRq3idpry0s7zV9S8ItpLv9jsY7SCOO0mhjCxrDgZRQg5TgqRWk05YnlWwqSUcG3c7X9o3xx8S/hj8HtV8W/CnTob2/sZ7QSxzWVxcpDbzXUMc87QWo851jhaVyqBiQp2gnFeV/s2/tk+Ovjz8V9J8MyaJp8GnXOizveaS+gapa6hEYkjlS8DXwibyWYmEp5YYOxDMChWTrf22fHOkeG/gjrHhy2+LVh4V1p4rK4tLrUvGTaGTCl/EZR9qWOV7dXRmUNFGXyQEKuVYZn7AeteGda+GGt3vhKztbW2n8Q+fGbT4xXPjJZle3jmQtcz4MJBd08hSQI0iPG4xopJyxPKi4KCwd5I1P29JvsX7J/i6eK1068Bm075dVE722xdSt8tJFbrI8sYxuMW3fIFKgqWBrD/4J/6N8I3+Gmvv8MrX4arbza5i/i+HWhXdjD5gtY0/fx3hLmYIVjLKAu1EXjbsXtv2tL7xzp3wM1KbwLqt3BdC5sUuZNN1Y6deXMf2q3DW8FwVCQSTIzwrLLlFaUcHOVzf2Rvh98Uvh14e1/QvGEHirTNCOrRDwv4c8deKF1rVtNhFpbLN5l6s85mRrhZ5FMkkkjZ3EqrIon3nieRBHljlzlbc9bljQLlVVeegGBSiEbTk8mknTeP5UsG/Zhx06V2bHmJ3RH5JkzGRwRg1R8WXdnpmgapqmsWr3NpBYS3E1qjhjNHGm6SLaynAZVQADOSDkAddUkKMk1xHx1+KHif4X+AbvxD4K8AeJvEGqeXNFaQeF9Mju5rSbynKzSxyzRDy1YbT82CxCngkiakoqm7o6KUYurGx5p+zV+294Z/aG17TvCsPhTTtP1CfRtTvJ7fS/FMOqRW9rb/YXiDPbqqr5hvsFeQJIMK0gBce9JGBuhWHy/KYIqM+SRtyMY4PGOa+a/2ENB8aWer32reL1+IEN1q2kLJdW/jL4b6JpcEk0Yj+aG605I3nAWTKrLuHEjhEOQPpuMkxfKMKWz8pyCcDv0JxiscLOHLobY5SVS/QbHBMrhWQqxOFVgQWB4PQHgZ5r41+H18dN/ajk8ceFdV8VaX4S1j4oalpY8Op8YRKbq/WQCSc6K1sQlvJcwyuypcZRM4Ch2hX6p+K/hLXPHnw91Pwf4V8Z3/h2+1CKOK11vTQS9o4lEgbG5cgkBSAythiQQQCPlP9lv8At2+/ahXxJ4o8aWPjbVzruraZqvjbTf2dJ7COaa3vLrzLVNbSQxqkIAB+XG5SNzNkx5Yqs7qJ14LSk7H2bHHcQlElkcbp15YlUcMM9zkDrxx0xXga/tb3mofF200vUfhHoi+Ff+E/HhWy1eTxTD/a0eqiZoC/2FoiIoi0UwH71ZQLfc0aoQ1e6iOU24tYxHCzxhGdo8RnC4Xcqnn8+RXz/wDDj9mv9oSw+Ktn8XviZe/B7+3otdaS/wDE+jfDqZNbuNNa4lC20d3JcbEZo0tIy5R2RBIPmJVhrWUpcqOXDexbl7RHv9/qul6JpMusa7qUOn2ltE11PdXkiwwxRqqlpHkJ2hAAzElsdzwK+Ypf2oPixr37RUPwt8O/Fv4WafZaf4rghOljXNOub7XdOu70IgWD7UJbdobbBL/elklVFhUMrL9PRJBb2gtHUOkcBDQq+7IVflXGSDuzjOTkD3rwjwp8f9A8c+OdPXw/+wv8QLbVH8US6fLrOs+B4baKyihkNv8AbvtchyMJGu1VGSnHGxiqmoKSROEaqc6SPeVKriSAo8TZCjcDgdQQRQsZc/Mc1LM1tK5a2kLIQzRMD8rqGwWGemTzj1zio1Yq24V08/MjjuruK6D3UrHwKjCknCip1IYZFCqqjAFAEewpGZXIAHTNSaLpv2i4/tK72MQf3S5yAB3qG6C3bR2CgZkfk5xxW3GkcdqsAXbHGvzFeOKDelBrchv9RtdOg82QsQTtUDq59BWPc3Nzeg3WpzeVEPuQqeg96Jrlr6+ku5dyxw8RAHiruhaa8839pXkaNg4t4icge59TQauV9IkFrp97NGqWloIUYcPIOSPYdhXnn7V/hWz174Fa1ouuQQXsF3PaW9up1SfTxa3bXMawXRu7aRJYBDMUk3xHeGiwoJIFetXmpW1g5m1N+QO/evO/2iviLaeFPhVda+deOiQ22o2U1zfXk8ttDJCJ4y9uZ05g8xFK7wOmc9SRy1ajjuaUqdKVdJHhX7Bfws02O61r4r3Ka1d6gsFolxrFr491LUrPWHmsI3kEkN3I6CW3mMyqu9/LWcfMhd40o+Nf2h9b+Df7SfjlYPiL4pn8KAWL39j/AGVYXNraXSPolndRW3nXK3CjbqFqSVHlAtJjMiEy+2fsz+PbH4hHxp4otPElg8Z1REXRNJ1c30ekuIFVgs6JskLPyViBQFCCzPuNeReNvhv8OPjL+06fjG2i2+ka3per2a6BfXXwgvro39v5dsiyS3TBE8xdkeyRsiNFUh9uCuS1irM7JRjKUpNH0f8AGD/hGL34aaneeIfCmj61Y2xWa8sdbvLeK2k2NuJZp0ZFZCcrvG3cBk45rh/hH+0p8JPiF4wl+F2hXV9ous2guY4dE1fRHtkvfswhM72UyqLe6RPOAzbySDhyR8jGqH7T+oeGvDvhGy8V+LvGWr6Xpv8AbFnbSQWV1awxLNLNtaeT7TC+HjwHUA7t6IqhmO0yfs7eLb7xyt/c6++oy3Oiajbw20WrXMFzPp32ixguEiVhbQeVJ5UqiWMqdrNtDEfKHGU44lJs51FfV20j1h0V1aNwCCCGBGa8+/ah+B+qftA/ArXfhF4e1i0sbvVobbybrWLZ57FXhuo5z9oghliMsLBSske5RIGK5HUehHc42qxOfu7Y1TGTnGBxxnGTXln7Znirwh4T/Z112/8AG39jNZ3U1tZImsrfS2stxNdwW8UQ+xZn8wylcLGC7thFBLYrqrNuDZx0oRjUTQ79mv4M698J4dbuvEXw0+FmgXOp3UREnwz8JS6WtxGhLATCQs0nzyzuF3YTzXAGSXb05y5LLHhMu23EeMDPH6Zr5n/Y38HfH+11NfEB/aM8dahoEGoyQa94W+JXgO40mKNlglIOmS3Qa7MfnNkmaadQioiDBEjfT8Mqlt20ZwCQCTjIBAzgZ61FBPluy8VTnGpz3Kc0s0UFxeW8bS+Wm5LSDh5yOqj1J9K+PD4P+LumftTz+NPDHwE8Q2GmeKvE1hrOqavd/Cnw7esly9hZRnddf2h9tRFFsokkdGkjKMqqirCV+w9d1i18PWF14j1G9W1s7K0ee7meVUjjRPmLMWdQqhd5JyeBk9M18p6z+2L8RtK+N+pfs++GPGvhm5vdY+IWmXfhjxBH420NLKw0N2sDJptxaPKt0Jnj+0BUiDyMbmB1ZUcBFVUUx4VVOSTR9ZGVSokUAq3KbZA4IPIII68UR5wSR+VNhkne1hke142YVXYggYZsAkDj7mPUHGOKsABelbxk5QRx8sovXcZB5bTbi2CvcrmvP/2opb1P2fvEwsvHNn4flk02FxqV9qEltCuZlLW7TxgvF5wzF5iAuhfIBK4PosSrksUBzwOQOa8o/bdsNa1n9k7xtpnhWWNbqbTUeF5NQsbcIi3MJ3ia+ZbaFxtZ1klOEKhsNtCmKybhob4f+IkeN/8ABMfUdcv9P8Rav/wnGlSaTpXh/TtK0rwvpfiq51NLfyJrqT7WZp4o9kbx3EMMYCvmOFfmGDEnY+NPhp8K/wBpbV/EXin4fftSPp2keKtLi0r4gaRpX2G+Oq2qRyQxKPtETPZuyO6EqpDFkyCF2tqfsQfFSL4paD4hkk8XeOtUks9VgWVPG3iXQ9Qa3EitLGsf9jvIUGdwxMWJMZYHBDP4n+1b8HtN0z4y+Nrrwz+zVYSXN7p+mP4QtLD4JWuq2nim4wiT2+o3DWrfZhuURsyyJtjZZfMBVhHxXcaSuj0pU3KuknY+1dIjtbayitbQDyo40ihbezM21O5IznAzz2Iq3UdpAkFlFbpbpGqjcI0UBVOMEDAUEDkZAGfSpK9CDahY8mpdVHqFNLujsxjcokfmbkJU5VkOAx4Gc465p1NlhEsEj75FCrhniGSoyM9x7dfXPShtJamkXzHyh431r4i65+1lrnhor8S7zSNI8RaYlo3hj4gaPpmn2yvawOym2mYT3WHWTdtyXEpXc+GEf1ZqQXbcSzxxeVE5adWSNlZQSz5JUBRwcEkfe5GBmvj34o6h4Bj/AG1bzT/HXw3+COv6g2t2R0fxH4q067t9X02XyLUfZGuYNOlt2mTY0iFriNkJgB6bh9c316YIjeTs6mFGkIATeuHYsVVhwwIUkYB+UjPauagrykzqxFnCK6nyn+x1rGs+FvFXh7wzrWv+L4fCPjHRb+78CaTq/jS01ZIrNGBCXMItEltXCXAcbbiUkGLcSwlJ9r/am0Hw74l+B+tad4gaVorm2tolhg8M3GsSTBrqL92ttbbZ23gIpZXTy1PmblVGYcx+zjefC/WPGd38R/hd+xfrnghfEWjRTN43u/COn6b/AGhbMAYk/dSmZVBDsEljGSynHULD+3vr1vpvwE1bwxbasLS5cW14lpc2Wpm0u7e2v4A8MsmmxSybG3IrBFyoJcqyqVKhzKjJLUzkksRFvQt/sQ+ENV8O/Da9l8S/B2+8JXN/rSAXmp6teXVxrsEdsiJdlb2SS4tYwU8uO2lYmNEXIDM2PZI0kCo3l7WKKxUkcZzx+leF/sC33hDUvhBqzeEfA2gaDbRawI57TQNa1i7jeVIVJJOpW8MiEMVQYTawUsG2kY9ySSTziZBhy2SBjqee3FdNC6pJGFezqtjpy28L5dMIyMGpZZSWy5Gcdqp6lq2k6PZT6treq2tjaW0TS3N3eTrFFEijJZmYgKAO5ra6SuzGzbsiQKxbaoJPYAV49+1JpfhnxTD4e0c/tBWfgHXYLi8udDv5NPhndw8ElpOqRy4US7Lr5GBzvjXcsi5U9B4X/aE8D+OdU07Q9GvdEv7m/v76CSDTPGmm3htYrdZf9JZIJjIyuYzhEBZMfPsOVGd+154Ls/HvwM1XTB8JdD8balYvBc6PousaSmpiGQXVszSQwMvmPIir5gjBBZowu5RlhjNxnFtdDaCnCSRU/Z7+APw1+Adx4ig+EN1DBo+pxaVDDo1kQkEEtraGJpCY8ASyhIpHwMH5Dg9vTJrjDNII9u9yzc5JJOSc45Oe9eE/sR+H/wDhFfCvibTdC8GQW2k2mt266frMfwqfwnNqUfk5bNmkSq4iVlRJRjJeQEcBU9zMoZRFJGQ4zuB784yPUU6CvT5iarlz2YyVy65AyDVWUOsZKmrhxjBqreKAhANamZnTqxTMnWs2+LlcLWhM7kEEfnVC6YEHAo3AxNVmYLtY5ArEvZVIOOcjpW7f2wlctnj0rJu7ZFYlxWE5W0LjG+pz98AwOBg1kKrPeKF5Xd81bmooqMWVeKzI7Yy3LFSFCqWJPtWRqYGr+VJOxUjLSN0XFZxjQk5FW7yRkkIMm7JJHtzVYnJyaACONQM0rg5zTwysuOmKYXOcCgcdyKTyw4Z8gd8LnNWNFhF9OLd7m2jZYmZnl+U/eGBg+lRSRh1yB+FTaSzi4xLuZQjYLEHBJHqRSkpKk2aQcXVSPrz97JGks9x5jFIw8gGQSUBzu/iJ5PbNOUbelNhilhdYkidTGyLKrIAw2RhSXB6HPHanxRsygMeccmt8PpQgvJHJXs68vUsQliuSKeM54pI1ZUwe1SwIc5YcGtiErD4AQ24rTmnUNgjntUgwgwtQTxkndnmgb2EdizZNcp8bviNofwo+Dfi74na/pC6nY+GvDV9qWoabvU/aYoIHd4WGCcOBsPynh+hFdVzjmqXiXw3ovjLQLzwt4p0eHUtN1K0ntL+xu0Vo7iGWMxvE2edpUnvWNeLqUJKL1NabjSrw5nofnl+y1qv7Culf8EovHvxxuf2Qbew0XxPbtJ41+G2heMn1K5vooLhIYI0uptkw5+fC7VUbzlvmau9+CX/BMj/gmF+0j8BtB+Nuhfs26hpMPirR4tROn33jnUDd2jSx7fKd0utqPhPM+XucrwST4Z+1X/wQB0TwH4F8RfEf9lbxt4m1/VLWOOTRvh/qWlW8kkymVmWMXLuhkCnDgux3GPpnrV+HP/Bvl4p8Z/DPR/E/iT9py88PatqemwXF34en8MeadJmKI+xil6qsySY+6qjurfLlvmpVMWpckqN0up9Hy4SUeaFazfQ+0vg5/wAEsf2JPgf8WdE+Onws+Ft/puveH5Hk0iaTxTfzQxtJCULiOSZg2VZmUNwM8DaSK+hljSA+WiBV4wAPwr4J/ZE/4IxeKP2Vf2nvD/x7P7U8viKx0CO4kn0p9Cktnu2e2lhRCftTJtVn37WVh+8DDkYr73WVZlDj0Br2sI24P3OS+tjwsWkpr3+a3UVJpEkKxjBx1IyKpeIdV/sfTrnXJLGW8NpBNcLZifLXHlRGTyUVR8rOQF9eQMHgVowhhlwoOBxk1neJNbsPC+hXvibXrkw2enWct3euq5xFGpd8jBJG1SMCumtLkpSlFXdtDnow560It2V9T8hfgX4f/wCCrP8AwVJg8R/tA+E/2l77wvoVnq720cDeKLnS4YCURmtbeCx3BiFlKmRsjIGOgCeg2H/BNL/gsfptxYXVt+3fGwW6j+1C1+J+suyKJlMjfvogHYpztbkknO0gMfGv2Zf2k/217f4qfEL4j/8ABNT9mXVP+EK8X63/AGhJ4dXR21XTbWYqoWeN3ljCTOpLMA+CGXcAdu32/wANftz/APBcw6/o9t4g/Y1T7LJqEEOpXE3wvuNyxyTxhgW+2/ugoZsttJUDBwdrV8zh5YeEXzc835aL0Ppq8a85Ll5ILpfV27n6bqJguycMz7l3vKcMcoOcnGckEgAd/wAn7G2nDYNSTReXKyvAFIkPQHGcY4J9On50m1sbscV9TH4UfLvd63Io5RGG3kDapLZPYDn6/TvXgv8AwUA8J+N/GPhbQ9N8GeAdKuzpbXusT63e6bqV22mpbQBGS3XTJ4bqOaaK5ZPlLhkEish3Hb78WlCssTj5sfKx+XqOfrjI/Gvnj9ta01y1+KvgvWfBXif4nf8ACQ3lpqVtpOheB/GOm6NbSqohlkaV9QUxCUxIyrgmQhm2hVV5Exr7WOjCSlGre2x3X7HVhNF+zN4TW58F2+istpKzWUOl3tt925kEVwYtQkkuY5HAWVhM7Sbn+di24V6bzgDsOAPT2rj/ANn7wzF4U+DHh3RbnTtVt5orNjdQa9riateRzPK8rF7pCY5SWkY5jIQZ2KkaqFHZQxl+uM960pJ+zM67TqtofHFjluvpTnZVHzd+1LjbxmmTqNpkJxgc1rGTSsZN2Rxfx6+IOn/C/wCE9/4m1TwfFr1r8to+i3F3DFDdLLIsflSyTqY44trszNICgCckZJGR+y98U/h58VPCc0fw18DQeHtL0o2fmQaZawJZpJeadBfOsXkr5TOn2kRyDaj7wcgYG7n/ANs/x34k034fD4beEfBHinUbnxDc28N/f6H8O28QQ2mnmeNbk+WytD53lM5RZA2QrkJJt2k/YMtte0/4aaj4f1HwnJpOl6V4luLbw3Nd+A4vDcl/YCCHFw1hDtSMCTfEjAZZEVsYYCuJTn9aUUj0LQeDvIs/tVftffDz9muxsLTWvGXguLxVq2pW0el6N4n1j7IrQSSos90y7XkCRqJCAOMRliQFfG7+zF8XtS+Nfw/k8T3virwDrbR6hLCLn4da7Pf2aqmw7WeSNX3fMW5GD5igE43tiftf/FOT4ceDY9W8O+Kjomt6Pe6brP2ibR9Vnt7u2W9Eb20r6fbTuiyfMvyhuXBZGHBl/ZB8V+KfiX8Pdb8e+LNS0wvqviKeW30TS4bmS10NTBBm1ie8ghd8OGl8wRhT5wKqqlRSipQxOgcsKmFbTsS/tkaxqeh/BG71Cw8Qw6UP7S02LUZ21iDTp57J76J7q1tpriRAJ3iVVUb03HC5HUc/+xh4s1OWy8UeANc1zWYLiDVIr/R/D3jfXrHUPElnYywRM0l81rK7EeaWCsxY7GTDOpV23P22NP8AD+r/AAWGneJ9L1fUUuPFOlJp1hpWi2motLeeeBCHtrzEEiB2DEOVGUB3AA1wP7FP7OvxF8E6rb+NvH8vii1Nnp91pGl6R4s0DTre/wBu22j8/wAzS5pITGIrbbFHjAUkgJkipbnHF8yNoSi8HqdR+1r8LP2gvilZHwj4K8MfDvxP4M1VbCPWPDni7U7ywliaG5kne5S4ghkaRSixLsAVhhj84wtdH+yz8MNR+DvgnU/DWpfDnRfDEdzrkl5Z2Gi+M9R1zdFJHEN0st9FG8bKw8vYoKbUUggHavOftaw/8Ijolr8WL7xz8RI5g1npWheE/BHiNNLS8vZHcK0kkm5GZgzINzKpCH5WcrU/7L19D4w8Rap4o0f4v/EjULbSoI9L1Lwv411K3uIPtE1rZ6hHcRNHArSGGOcRlkdkbcwcO4ylU+ZYpyZlaX1Ndj2ykd1Qc/lTWzCpVF+VThCSCSo6E445qPlj6k12HHKKtoDuznk1zXxj8BeCfin8JNf+H3xE1270rRNR0m5i1LVLHWpdPltIDE4kmFxGwMIRGkYtnAIBPSuoWEhTk8kemcVxn7SWpW2l/AvxZqGofDzXvFVtNokltP4d8NwJLe3cb/uzHGrMvXcckHIAJAOMUqsXGOoqEvfujzX9j7Tv2QdT8Tan4j/Z/wDin4o8Ta3p2hpZyyeLdf1a4ubbTp5GaOWKHUAoNvIY3ZZYgUbdwQMAfQDojSM6qACRtAHAUdBjp2/Gvnf9k7QvFmofFe/8V+NtP+Ld9cWHh2DS7TxJ8TbSwsYbaHzkLWNvFbbGuGZoVme4kQbhhS3ARfoaBpHhR5XJYou4t1LbRuJ9ec1jhXKMW2jbF8jklcz/ABKfEEfh26HhC3019Zlj/wCJbFf74oGlEnO/ac42AnK5OAfqPB/hh+zZ8a/C3xzuPiBqkOmaToVz4wutYvLez+L/AIinSaSSKcNKNNmVLN8+fHwcqvlg7S8atXuvjj4f+Hvij4Yu/Afi6C7m0zUlSO9gstRntHdVdXGJYHSRMFedrDIypyCRXx/8ApvEHgH9p7wf4Pm+GepaNY+IdS1Oez0zV/GXiq6ubK2hfUbdR/pcr2TlEt42Il2v++UIgR0kXLESgqiUka4RTVCTPtNZRHMriPC+aCqLIpxlgMZbCjrn6etfIPwQg8T63+1tf2niFZfEGo6Z4y1uddYn+O+owz2dlLLcy28Y8PeTBBKI1SPasYKIhdmkkkVxL9g3JXdi6xGzThnQEcKMk9PQA5PtXxh8HobXxr+33dXg8feFtVu9E1/Vr5tA8b+N18Q6/pivBFGzaNHbqi2KOfKEiEuyRo38BUO601GUeXZmuFSdKTl0Pss7LOMRRyxosJ2xwg/dC/Ki5AweG7jI9RXxNZXvw48Qf8FCdN8OeELv4YeH9R0/x5dXGoavYalr8l9q8myVmsIvMgXT/tTxLmaITSmIQbvLIkVk+y/FehXnibwtqHh2313U9KkubYxQ6jo06Jc24BUhoSylexOGHQYrxDSP2afh58DtV8L3XxJ/a88ZXGnW/jU6poejeMfEGmR2j6tNNcLEkeLSJ8+ZdSFY0YB3CMQzdXiE/aJ20IwkqME+7Pet/mqJQQRjaMFcDHYbSRj0x2pTGwXdilCACOYLkiIKu5VLBcDC7gOcYHPfrUgIYZFdUX7ljiVO0pN9SOJiGwBnNEkhb5R0qRUVOgpkseWBBxk8mglJ3H6CTNrLNI2BGuFBWrusXDwadcFBj93gHNVNCiCavPBJtyFyrA1oajEbjS7hMAgx7lzxWc73OtLmgYI40mKHzFBkwG455ro4IYbCIEZKRxjBFYTLG1pBcRx48tgWB54rdlMV3CYwpzMnyFelCk1EVO6TMQR/2pcyX87uynIQN2Ht715r+19fBvgbq6L4ek1SO4urWG507/hIG0m2uI/MLGO5nTL/AGfy1IkVR865Uqyllb0q0mjsbeS2MZ3QuQyHPTr25/Ac81x3xL+JWs+BdTk8PSfDCHUdAuLAyaprmqa/a2NjaymdYhbSLcDdIz/eB2FNituKkpvyqSlyM0pWdVNnl/7Bd94Pu/CniLw54F8FDwvBpWo6fOmjWWs/a9KgkuNKtbtorPaPkWN3EboGePdHlHbcduTf3vgLTfjJrNhpyATWPju3hn8Jap4r1T7fqMzC1mW9jhNyY5Id8yyruTyzhGxu+/7V4N8U+I9V1DTdG/4U3Homkm3nl/tbR9btLqzhlXyWMbJCEwW3Ng7eWx6nHMx/tWado3xz1X4X614VGpjSXUx3fhjWItTurLesW77XZiNZLLCuSxDEY2ActtGXuypJrc6YqpCvytj/ANt/W/EPw7+D15418I+OdI8OGx8SaXfXd/rmqJZ215bxX6CS0MxgnOZNuQqR+Y5zGjIzLIr/ANllfEF98LbrWtb8e6dr9tJdWVxp+p2+sG8kVJLOF52defJDTBnSEMdqFBnPAw/2820rxd+zzpPizQ7TxDqOjLrFteJqnhGwWa806FldEv0ikSRJ/J3l2gkjYOTsbGTif9iay8H6X8C7fTfB914pu3861t7i98V+HI9MmnFtZW8MPlRQosPlCBIwvl/LtwByDUJp1bW1L5YRpSsz2dTl/LJG7AOAexGQfxBB/GvI/wBt+6ks/wBni/lh8KxazNd+IdFt4rW48R3OlhZH1OBVlNxaq1wFj3GQpFhnVCpZELOPXo3iiIDD58cV5d+2Rqmt6b8B79tA1W8syNY0l9Vm07X7bTblLH+0bbzvJnuHjRJGTeq7mXcflUliAe2sl7Np6nm4efNWUWjyv/gmN8UvEfxM8N+LLXxReanLcW11pV0bXUfHdx4gks3uNPBlieaYAxSCRZFMagptCOHkMjufqZVCqEXoqgAegHAr5e/YK+J2u+LdZ8Y6Jofg7W5/Bk2sQXXhnWrzxXoutx2MAsIQ63F7ZahcSzPLIE8onLGARngB2r6giYupcn7zEqMAYGemBUYVJ07GuYRl7blRz3xU0IeNfhj4k8HG81azOpaNcWq3mhpG97EXRwWgSVWRpAoJUONpOAQQTXyL8Ibf4xWXxes9E8Qa/wCO9VsLHxRZhL6/+CGgmzto2SGOOx+1rcebFIsEiqzBAyEcDKmJvtqZ4AA1wqlYzuIdGbH0AIOa+FdWn0e9/aK8QeGJvE/jE+BLL4s6XqNxothpmnvHf682vW8Mp8zeLuC3huGgkZZMjamSCQDJnXtzq5WC5p05R6n3LlVIWGWGRV5Z7cZUsxYscgY6gjr2+lWIlZlBYU1LSO1LRpuHCowZtwwowOSMnoep71KDld2OldcbqFjleu45DtdX/unIxXlP7Z2n+Gbn9mvXpPGl3qq2kNxp2JtH0pby4e4XUIWtQLdmRJFM7Qo4YhWRnG5Thl9VRZCm9sYzxiuP+Puj/D/XvhDrOmfFLwVqPiHQJY4jqWlaXaXE00iJPG29VgZZGEbbXbZk7VPBBIPPiE1Tvc1oNe1seRfsJfATXvgzrnjvVdQ+Gur+Hk1Oe3jtbPVPD1nZPKkEt5LuJsruaK5bN15QkVYv3NvCW8x8stP4zftX+KfB37SGtfB+6+MPw+8I6dpX2CWzsvFfhTVLi41eOdFZpFnSVLcIxaWFSAxWRMEEqyHtf2W9Q/ZKuNH1fw3+zJ4rjvYnmzrGiS+Jrm/u7KXyd22W3vZXntZNnlgqVXhFGCRivBf2ofiFFqX7RN9p1t8WLa41bX7/AESXwBqn/C07jSl8MwKIDM82mBDHcIZHV2V4nEpeOOUogDripJUkmzqipyqylY+3DE4DSSW6ozMWfDk/NgZzkfXocU2pHukuslSoJ/hDDPQc46j6fqetIkS5C5ruVuVHnzjzSGVm+NJ/EVp4S1bUPCGi2upatDpdxJpunXUhijurkJ+5jd1HyqW4LHhc5J4rYkVANuMkVBe3EGn2NxqVzFI8VtbPJOIU8zIBzgIeTUyV42KioxZ8djQfiR8YfiNPda/+z78cvBmhan8TLO98S+G4G8PTaXf3NqljJHfu0krXcUJNu2YUZwTG23JKkfU/izTfEup6O0eh6xZ2FxHf27XFxc2PmRiFXUy8CUDJEj4PqT0JDD5E1zQ/DV7+23J4otvhHo2vXGq+JdK1G18QeLPAXi1rzTIFtbfyxBdmCWxhZf3jIpMcK75eGbzFk+tfif41u/BPheTxHb/DXxD4qmjCR/2T4UtYbu6Ys5I+WWWAFCyIGUMPvc8BiOajJWk30OivCUZRS6ni37Ln7IF38DviG3xDOq/Dqe1udPltRH4S8MXtgW+aHy1Bl1KaHYCkisEi3MdrFgyNv9S+MfxB8RfC34fv4z8OeDrnXBbT2Z1TT9PimeVbMMwmMUauAXVeRyORkAnCn59/ZP8AhX4luPiDJq9prHxH8FzW0ENzc6dpfhO20TwpdKrDfD9ka5uxLcFpnLbWUoU2u2RmX1j9s/wpofj34R2ngPXJ9LNzq/ijSrXSbLxFoh1HTZ74yt5CXVuJo90KuhcneuPLGMsFpxTVLmJnJe15Wa/7P3j740+N9Dvh8dfh/beG9YsJ7ZbSHTb6eW2eOazguXEbyHe7RPM8EjMIyzIzCNFKlu+jCJ1jVeScIMDkk/1rxP8AYk8HXfgLw14s8F678RrbXdY0jxDbWOsQ6dZy2+n6c0OlWKw21vFK8rqPKWJmkdy8hO7CqVQe3xwsYgZCA20bgpyAcc88Z5rpov8AdLU5a/KqzSIdyO5fBx2qvcWFnqEEunalbRXcF0jxPa3Fossbq6lXjdXG1kZSQQQQQSD3q1IjAk46dcVGjzJsmiYOd+8CJsFVAzg5IGD0Oe1VOPMhQnys+Mv2b9L+H11+0pFaWepxw6XonijVbXwdo7+CdNhvLiW6gup5ZJbq3fz2tII3kjKNGjGRFMyuDE5+l/j9rnxM0P4Xa5rHwi01bjX4bP8A0QyiF2gjM0YldIZTFFK6wpIVV3jEj4Acbs18/wD7N1oYP2iNX+KXjXw9f6XqeravdaHNrlt4e8JWWkX7iWZLe2S6tZWvZJVKPt3tuLTOMFHHl+s/tneGtT8T/s3eKfDWneFr7U1uorYXFhp2gSas4i+1WzSlbIyRi5AjVm8p5BE+MPldynlotShK5014yU42K37IPxR+LXxO8A3msfFbRWt5LX7BaK2oW0VpdT3ItEa8M0UMzxKTM2R5ZC8dMgk+ha34ptNC1CHTrjQdQlabS53s7i2eMJPJHhhaorEZlPDgEgFRIQflIHm37HnhqDRPh/rEUHh2w0921ySVraz+FT+EzEzRRAiSB5HNxIHZsy8Hkj5iC7+dftnW3hXxJ8c9K0yO88c6frPh7Rp5YrvTPgtfeIbG9WYXIWOCeBQlvcsFkXJbaxMQIyBv3hL/AGVKJnJRVfc+m9Pul1XSbXVUsri2W6to50gu0CSxq6hlDqCdrYIyMnFQ3OMkHms/4e29pofw58O6LFHfRpaaDZQqmpAC6AEKqBONzESqRh/mbnucGrs7rLhkfII4IrWN+XUwlbm0KF4c9KzLoAA5rUuoyWJzWbdoCcq1DuIoXIAXeOaxNUcbTkc1uTKQpXtWbfW6plmXJ9xWUo3RUZWZyupTeXCzSRlsdAKzGJRJ7mQTAJbYHOcVra5CwdmUgY65bFYmo/aIdJumBYlmC/K1Ymxz9zIrMfmYjGBuqqzBRnr6VJL1yS+c9GFMIyMUAQpOxb5vyqcncAcc1AIy0m4DpVuCMNgdzTSbdkUpJLUi+YjCnrSQsGm+zSFlJj3gqRn7xHTn0qeWEhTGiYb1qJi1patNJOUJkVSCrHPBP07/AK1hVadGT6msYz9rFLY+x50ke7luJFc5LFy6AMAAuCRk9j2JqZEVR60tyWNzIrx7cSvhQoC8nBxgY/h7celEZydtdNGM4UIRl5HJXpReIk76koxjipoiGGe/eoAMDFSxRsDuPFdE2k9DNEgBJwKimDbualoOCc4pJ6ARRxE/M3T0qQqpXaRwR0paRgM7+4FQ73ug0a1PAf8Ago7+0p4q/ZI/ZO8R/GjwBaQS63FdWWm6W99ZCeC1muZ1hSV1J5C7icEbQcbsjIr4Z+Ff7Ov/AAXS+OfgTSvjNYftX6ho9r4gsxqVjFf+NTbkW8irJE4gggby1KvuGMnBByTnP25/wU5v7A/sWeK9H1P9n3UviXbald6fZ3PhnSZJEuAklyn+mRvHHIyPAQsqttOGVe+Afgv9nH/got/wU1/Z9+Evhz4KT/sb6r4pt9KtFstFv9e8Ja4b14A4EEchijG9VVGTO0HcoBIf73hZnVarPmcku0ep7mWUk6K5eW76vp/wT6M/Yf8A2bP+Ctnwy/aW0fxR+1J+0hJr3gKyguo9Q0ZvGI1JZ3eIhH8trZGyshC8PhQwIHLbfuiFUiQIDIwAC/ORggdCB2r4a/YS/wCCmH7V37TX7Rdl8Hfi7+yPbeF9Em03UJbjW/7N1O2MLxRLLFGGukEbZYnPGfkAHRsfcyYcDaCp6bSOmOOvIPOelehg/ei1S0XVvc4MZK0lG33E+VK57YrnfiTqGh6b4H1vUfFECHS4dIuW1BGZf3kAhdpU/eEJkxI/LZX5uQQDXTxQ5i+UVSvbm3sopbu4mEcUCM00jA7I0CMWdz0VVXJJ5+hrslquWLs7bnGtHeSur7dz8X/2Df8AgrV8Jv2GNI8Y/CnQfh3q3ij4fXviOTVfBv2q+s7HVbESJ5bw3ILyJMNhREOcgRjO4MGX6W8Ff8HDvwF8W+ONH8Gy/ArxTayavrVrp0TDxLp/7oyTRpubOzcoLISMjOcHs1Y3xl/4LnfspeE/FeoaT8Kf2Qbfxno+mziG5126FpYWkoEhiDxhreUsh2vtYlc7l25ywH018afjZ+y38Cfif8KPh/8AE39nWxtj8Ub5ItB1pfCumtb6VepGjrHdPtDxEO8Wx1GCeMqFIr5mk8Q3zKtdbbH0tVYe3LKjZ2vufRYgWCf7PEV8sNlcKRxknoScHnJx3qcgfdNQlDNO+6Q71PzjdkjtyfqD27ipgMCvplL92pSlc+asvaOMY2I1jeMs3BUjGK+eP29PDWh+Nr7wF4X8YaTAfDb3l8t7rcXw3PiW40+9ZInggEIikNslwqygzjZ8yRqXAYK30XgHgjt+XvXzD4v+PafDH4o+PI/hD8Vfgzq+p6pqEc+taH448f8A9hX+j6hHafZES4RIpfNtSLVGVjGrkyv/AK3A3Z4mDdK50YSfLWPVv2VE1RP2cfBceseCbDw5cJoESnQ9L037Db2kaZWMR2zHdbqYhG/lc7PNCAkKCfRYkZPmJ/CvOP2U7vwVD8DtE8H+Cfi3ovjZPDNlFp2r67ot8k8El15aylQVdwABIuBuOAAOCNo9JUYAHmbv9rFaUIyjS1M68oyqaC0hBwW8vPOFyeh9aWhcb1JYjDA5ABP68VRnGLkzwv8Aar+Lnx7+HPi3T7H4QwaumlPpzyXU+m/Ci611mutrrGRLDqNqqBXjUFGDBvMwWBZK639lPxh8R/G3w0Ot/FBY/t6386RSHwVPoO2AFSq+RPcTbgoYJvVhkqwIVgwHMftxeBtA1r4N3/iO5+Gd74j1MXNpaxpovguDX7sobhiVNvcbE8o+btdwwKq7FiFViLX7BY8O237PENz4a8JeBdJi/tjUIWh+Gt95+nl4ZzEzOzEmGYKvlvCSSGVicE7V5IrkxV77nfNXwluxgft2+O/iz4V8E2y+G/D8dv4XgvrK617xDD8TRoMtyhudjab5yRNJbCVefOV1HzIpZQzFO4/ZR0m9tPgxaDUNP1W0SW7naKDVPiQfFbMokba66i+WfcyqzLn5SWXnGS39qvwh498dfCmbQfhlqviy31R9Ws3jn8G67aabdQRJIpczTXIK+TtVd6j5iuQqsflKfsg/B7WvgZ8F7f4e+JfBnhjQdQ/te7u3sPCc0r2u24mklQu8zEyXJTBldSweTewJyWI4tYi9zOUrYOyMf9uuPS7v4Giy8U+E9D1LR7rxHpkWtX/iPQ5tStNIt1kL/b3tYfmmZZFRVXIAZkJJA2nO/wCCfR0O3+CF9pnh/wAO6LBplj4mntrDVdCsby0s9eCwQZv47a8nmljV2d1GXK4T5Mptdur/AGq/jtqnwB+Fy+NtEl8PWzy6xbWU+r+L7q5ttL0tJS4+03DwRO5UOoUBcBmIUumdwvfs7/FPWPjB8O28X6x4o8J6s41W5gW88EX9xdaeSjBWQSTBX8xTvDgjuh4O5Rdqc8Rdl8s1l9rbnK/t5+JLvw7+z/LYmy065ttZ8QWWkXdreeC5/ECyJI44TT4PmmdSFK5KheWLxgGRZ/2MPDuneDPglHpWhu1vYDUnuYI5/hhceEPKWSGMlZLKcAs+8OGn7ttU8pgVP26dL8Sa98HY9D8LeCJdZuL7XINkttr2pae+niGC4na5MumslxnMSINp2gyhmOFxVX/gnp4sv/GHwAW9v7O9ha31+/gtmvNY1PUC0KssgKTakBcqv+kD5H+QNu8sGMIaxjaGIsupXI3g3Z2se6M6gc856CiNQFyBz3pQi5Ge3elcArtXj3rvkrM46cnKOu4m/LhVGfWsH4pa14t0D4YeJNf8B6R/aOs6fotzcaXpxgMouJ1jYqvljJc9cAAsc4UEkA76Rqgyf0rzz9qa+07RP2d/G+qah4j1HRLa38LXs15rukxu91p0Kxky3EaxSpKdqnP7r95xhCGINTV5nTuaUYw9skcT+yf+0X8Tfi74g1Tw54x8O3QTRYLldV1a48B6h4dik1A6ndxx28Ed62JFW1iLuNzyZAckeYEr3lPn5HqQa+bP+Cf/AMPPFPhyHUNV1v4u+C9Y02HRjZaV4e8F+K7jV4rNJNRu7syyTXO2QALNHAibAdsAZ3dmAT6TgXaCqkY7CsaDlyalY6Hs6t1sY/xC8NL4o8F6nokmn314Lq2dEsrHV2sJJ2EZdY1uVwYGZkK79y7Qx5Jxj5h/Z5l8X6h+0JoVxrPwv1Pw7q80Fw/im31T9oqbVIxayDzT5OkJeSmVmLWrb5EVR5kh+UMEl+ukWGSYIX3YZSfKmUOo3cnBI7A4659DXxn+yZHofg/9omz0m3tfDxtbnWL/AEbRLu++EENvr+qSfZ57+O4/tSPUJZPK8kSrukjEj7YmcpuKvhXqL2ijY7MLKLw7Z9kx+bMBEkib9x5VPvEsOFbIPGBkA9+cgV8cfs7+Dde1/wCLmhavonhzx6/w28PeMNc1nQH1PwbottaW1+TdW8kkt4byS8mjMl1cNGVhU4dRvCpiT6r+Ini+PwF4Tn8ZTeEdV12C1CKNF0LSVvLmd2ZAoSIuo6MCfmHAY/X5S/Za8GXa/tX2etf8Miap4KktptTvZfGNz4O1C2GstdzSS5kjN09tYTp9pbznbzHlbd5SiNw6vE3dWKROGcY0ZSZ9mSSJDciMRMzCTaEBAJOecZIBxyfoDXyJo+v+M/i58YrbQviB+0BoWtaNpPjX+x/+EbOkmS01mKf+0XWaRbm0WKacNatbxSQv5aeRMh8yQh6+n/Hl940sPB93ffDLQ7G918wj+ytP1m/aztZ5VcbUlmWGZkVhuy4jYgHp6/EXwB1vwlfftZ6B4s17w7o8VvqXirUoND8OWXx5k1b+xL6FNSnju205rOM7Gia8SJXf92Jf3Y28RmJUueEZPcWFhCMJTitT72KblkMMA2Ix2FCcEZ44IGBTULYxLwewAp8pniYr5meTuxUaMHJYj5u9dzSTsjjT5lcdRS7TjNJSAZayfYdXW5JwkwCOD2refaQYmAOVKt7j/GsGaP7RAQjEHsR1BrT0m/8A7Rh8uYgTx/LIP73uKTSZpStcyEtjp8z6bO4KlSYX6B19PqKt6JqX2eL+zbuUrhs28vp7Vb1LSor+IRyNtZW3RyDsT1rNe3aD/QdVhKjJ2zL0/wDrUNpLUTjKnUutmaupaYuoyfal/dy4GZVHU/TvXmH7TXgGHxX4BtNK1nWrqWY+JLMaTZQ6a9zDd3ZzEkE8LTRpNDtZpGV2VB5QJzjae9Ms0agWmrFsdFJ5rwb/AIKNXHh8fs/2Nz468aaZDYW3jCxuZLHXI7p4tTSMtLJa7bFJLkuUR5EMSnBiy2E3kctTl5TajOKrJW3Os/Z58I3Xhjw5qq65oeo6dfXeqxyTtq2gfYY5/s1raWcU0cW+bAZYlDfPliPlUIENea+C9O+Ml3+0zr11ovxN1W+eTxeCdD0fxTpyWNvYfa4ZY3urXcsoBtTcgqAWaSNvuMXV+r/YI1DT/H3wKl1fw1oFjolrNr03mWdjc6uytuSJlfGqxxzK0kYR8eUF2smCSCTrav8ABXxjr/x4tvGt3olrfaNpWurd2cnizUEl/s6MQ7WbTorbBTliv77qocYw37zKSioJLqdUnbFSv0Rlf8FFtM0y++FOlXlxrWiafaeH/Gmi6rqEnirw1PqOkmCGVz/pscO0iMkqqt91ZPKz8uQed/4J86P47tdP8UeIrTU/BNx4H13xFcX+lJ4JtL+zsIZjFbwvFp/mqqy2m+GWQSRsU3yuq4A2je/4KD+INW0H9nu88ZaN4RsNYaO+a6t7jV9NnvINKWG1up4ppba3dTMzXCxwhHkihLXCeY4Aw1r9h/xFY+JPAXiXUPDHgyDSPD3/AAmdyNFa1sXt476IWtoTcRxPjbG0zSRoYwI2SFWUKoG5uDlWSRnKcFhW1ue1ABx82NxHJ9a8S/b60HXtQ+BlvJoGg3dxcWXi7R72W7s9HS/l02GK6WR7tbWUiO42BclJGCbclsgEH2+JAI/PkX5ewPevD/2t7PRfi3daF+zBoWvadF4q1K5h8S2uh6xotxf6ZqFnY3GXivo4mX/R2ZwACWBkVNwwK2rRapXTOLCqSxCujR/ZFfVH8HakdV1jWNRiF+pik1T4YR+GnWNY8/6uFAs4DMwL5GMKADuLt6+sXkuSMZPT6V4P+wdofhzStI8b65ocumWup6h44mfW/Cfhnw1LpVn4flgtLe3jtY7adFdTLAtvOZ2AE6SJIgCBce8RxrEDEsSKFwqmN2OcDB69Pwow0WoblYx8te6GmJcHzEaXLZIHXrXwl498QzeHv2yrz4t+I/hab/WNB8aN9rsdO/ZovtQ8nTbeVIRqI1uKBpFnWyPmI8bTf6w4VghSL7wwuQ7oGCnOCuelfPMf7N/hGX4x2+qXX7TiXmrWHi1dS8LeHJJoBNYh7uW9v4FginXdJKFEe8R/JHBnaxGVxxUJSknFmmClFOTa3PePDuox+IdCstctLSaCG9tIriKG7idJo1eNTtkWQKyODkFWAIPHGMVdKgjbTbWQ3Fms8n3mZlcDoGBwR69fXqOe9SxKrMFAx6ZrujflVzmbfO10HOIQoTdnI5FeT/tnahe6V8ANbvNO8hFnvbG3uLm4udQiW1ikuIkeUvYOtzhFy4WIk7lB29x6zMkGQv8AF0z6V5H+2abx/gnJFb+Kk0uyPiLRhrMi63Np8lzprX8SXkENza/vo5ZIcgBSm/7m9A5cTUV4M0p2U0cp+yJ8JPhZcafbeO7K5+GXiPxDoETJZa74E8LXWlyJHcwCNln+0XU0j7o0hcGVmKlGUAEAjzH9qSf4qD4939q37RFho2if8JJawaLKfEN9Emn3pTTI0s7q2jgktvISFrmVmaSNWa/RXJ2uw9D/AOCe1n4kt/h74kdfiTca7bXWpW8VjqOqeNbvXpWmgto4rieVrl45bdZnTf5EkcTLncVZnaSTzH4vaINW/aou5R4ZOqT32oaXa+L10nS/FMtrC5ewmmQSwQfYld8W4JZmAj254EqrxTgp01oejGfJNq59vyGYxRhp9pYMG3KcYUBQBnkcj61H06kfhTmZPJjG/A8vIDMTn5ypwTz1A4PT8KVYWI3EYFd0HeKPNmrSYyqPiW31650G8j8KPaLqxtz/AGXJfQGSFLgENGzqrKxUMASAwOBxzWrsXbtxxVHVv7RSwnTSkgFy0MgtpbzeIEk8tipkKDIUEDJHQZPtV2TTdyHZpLrc+TYv2xvjV4O+Peh/Bjxn478FXsx1u20bVrbRvhd4oXbKSol8u9EstvExmDIskhw7FYyCxQv9KfGLxP4R8C/CfxH4q+IXiBtH0LTtEuTqero8he2RkKeZ8nzkKCTxjpntXx1f+OPgZ8Tvjz4V1Kw+M/wQ1t7X4jwJJp3hv+2INbudZknjE0i20F2xZfNhD/vFZGW3kLEIC6fXvxR8RWGgeANTvV13S7K41DTLqLSZNRlBiM0kUmxThiXUbc7V5xzwATXFTbUZJ9Ttrx/eQa3R8rf8E/dH+EGi/GWW0+Ff7RXgrxLYJ4cvL3RtB+H3hu7s4bW2mnso3l1FzNNbfaGa1QCICJfOa7dVJ3Knsv7dOn6jqP7P02hyeELPVrfUtX0/TtV/tTwXc69Ha2rylHu/sEJ3XBjYlvkIwrMcrmvNv2I/iD4w1749eI/D7ftU2/j3S10K4kuIrXx9puqwm58+3DC2t7eGG6thC7XCsZMqRLGGDMI3b0v9s7XvhbbeD/DPhn4n/Hux8CWGs+MbSINdeIP7POoBUl326TRzwvhX8uTDFkZ440I+ZSJpVE6DuZVYNYqLIv2GvDuheGfgZHpHhpI0tbjVrm7jWH4aXfhTz5JXXzJHsbsCUuX+VpTkuysTzXs6yRxxEN6eleDf8E/bPRNG+DGp6JpfxM8NeLGtPFk6XWoeFtQvL+xRmtbYiKOe9lmkbClHKhv3ZYJyFVj7zGqtbvtXO0/lXRQfPSTaM6i5azaIw4cbwax/Gnimw8B+ENQ8ZXLWJh0+3MtydTvltYNhZQd0zfKvBOM9SAOpFa7xhoygGPpWX4r8I+HvHnhHUfA/iu0kn07U7cwXcMcpRnQkHAYcqcgHI5HUVvNOVPQwjaFTU+GvBv7PWi+N/wBo3WvgVqfijR9F1DT57h7rR7a58P3csar/AKT5kkVvBFKbuRLpsy+ZI8YkaRo8S4H0x+17q1mvw6tNM1nwP4g1fSNS8SW0utXWjy2RtrS2t5BcSfbXvb2BYYpBAELgttLh2UorkbPgv9mn4d+ALjRNS0W8126vdH1G/v8A7drGrS3s9/f3MUiT3V08mPOfZKqrxsjyRGqDq74+/s3fC/8AaSsNHs/iYurj/hHr5rvTP7P12WxUStlWaRYt0cw2FQFlRl79enEqc6cLdzonXhUle2x5d/wTe8MeEtC+EOt+IPA+harpmmap4iLWMF74abSC8NrbR28c0SNczmUyLGHZxKAWZVjRY1QVxP7d13oPjbX9Rg0fxN4uRPCNtbwapd2Wm64ugaJcETSTS6hNpk8Rfy7eYs8blkRUxIsfmK5+nfh18N7b4eeHm8P2njfxP4gg+0eatz4t159SmQYRGVJXQMqgIMc5JZicnJPIeLf2VdP8Qarr9/pPxt+I+ixeJbm5/tPTNG8RiOxaWWLZNIiOjFNy46ZIKqw+bJPQoS5VFKxj7Vc12jsdAtZrDwtpmmza6NRuLbSbWCfUBMZGuMQpmXcxLNvIL72JZs8sadKJSxHJJOc+tSaXotpoWi2mi6VcBraxtY7e1BfewiVERAX4LEIi9gCSfxlCgdBW60VjJ6u5mXSu6FM49ao3NuQODiti7hXdle/aqM8XtTEZNzETwx+lZ98o2FW9K2LhQnJArM1BDIpZRxUNWA5DXokfKMgPPesbWbSJdNjWKHBebJCtnp9a6bU7cFGO3Nc/4gQLBC6x4xkkEH86ynHqi4S6HL3lvkZ2kH0Iqm6FDzWlcn5tuM8
[...]
