{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_20395798-2b60-43c5-99fc-774247479067",
            "value": "✓"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "53aa5082e4b0a9b1348da681",
        "apiId": "53aa5082e4b0a798dbd1a5f6"
    },
    "info": {
        "title": "Visual Context Graph",
        "description": "Build a graph with words connected to other words. Diagram information for visualizing concepts or mind maps.",
        "version": "v1",
        "x-category": "Text Analysis",
        "x-long-description": "Build a graph with words connected to other words. Diagram information for visualizing concepts or mind maps.",
        "x-website": "https://www.twinword.com",
        "x-public": true,
        "x-thumbnail": "https://s3.amazonaws.com/mashape-production-logos/apis/53aa5082e4b0a9b1348da681_medium",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://twinword-visual-context-graph.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [
        {
            "name": "Visual Context Graph"
        }
    ],
    "paths": {
        "/visualize/": {
            "post": {
                "tags": [
                    "Visual Context Graph"
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Visualize (post)",
                "description": "Diagram information for visualizing concepts or mind maps.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Response": {
                                        "description": "",
                                        "summary": "Response",
                                        "value": {
                                            "author": "twinword inc.",
                                            "context": [
                                                "audio",
                                                "echo",
                                                "music",
                                                "recording",
                                                "voice"
                                            ],
                                            "email": "help@twinword.com",
                                            "entry": "sound",
                                            "relation": [
                                                {
                                                    "acoustic": "guitar"
                                                },
                                                {
                                                    "acoustic": "hearing"
                                                },
                                                {
                                                    "acoustic": "music"
                                                },
                                                {
                                                    "acoustic": "musical"
                                                },
                                                {
                                                    "acoustic": "performance"
                                                },
                                                {
                                                    "acoustic": "sound"
                                                },
                                                {
                                                    "acoustics": "acoustic"
                                                },
                                                {
                                                    "acoustics": "musical"
                                                },
                                                {
                                                    "acoustics": "noise"
                                                },
                                                {
                                                    "acoustics": "radio"
                                                },
                                                {
                                                    "acoustics": "sound"
                                                },
                                                {
                                                    "alarm": "dismay"
                                                },
                                                {
                                                    "alarm": "bell"
                                                },
                                                {
                                                    "alarm": "fright"
                                                },
                                                {
                                                    "alarm": "horror"
                                                },
                                                {
                                                    "alarm": "sound"
                                                },
                                                {
                                                    "alarm": "terror"
                                                },
                                                {
                                                    "alert": "attentive"
                                                },
                                                {
                                                    "alert": "clear"
                                                },
                                                {
                                                    "alert": "noise"
                                                },
                                                {
                                                    "alert": "sound"
                                                },
                                                {
                                                    "alert": "vigilant"
                                                },
                                                {
                                                    "alert": "watchful"
                                                },
                                                {
                                                    "amplifier": "loud"
                                                },
                                                {
                                                    "amplifier": "machine"
                                                },
                                                {
                                                    "amplifier": "noise"
                                                },
                                                {
                                                    "amplifier": "sound"
                                                },
                                                {
                                                    "amplifier": "transistor"
                                                },
                                                {
                                                    "amplitude": "ample"
                                                },
                                                {
                                                    "amplitude": "frequency"
                                                },
                                                {
                                                    "amplitude": "peak"
                                                },
                                                {
                                                    "amplitude": "sound"
                                                },
                                                {
                                                    "amplitude": "wave"
                                                },
                                                {
                                                    "attune": "accustom"
                                                },
                                                {
                                                    "attune": "adjust"
                                                },
                                                {
                                                    "attune": "sound"
                                                },
                                                {
                                                    "audio": "cassette"
                                                },
                                                {
                                                    "audio": "digital"
                                                },
                                                {
                                                    "audio": "recording"
                                                },
                                                {
                                                    "audio": "sound"
                                                },
                                                {
                                                    "audio": "video"
                                                },
                                                {
                                                    "auditory": "audition"
                                                },
                                                {
                                                    "auditory": "ear"
                                                },
                                                {
                                                    "auditory": "hearing"
                                                },
                                                {
                                                    "auditory": "sound"
                                                },
                                                {
                                                    "auditory": "stimulus"
                                                },
                                                {
                                                    "auditory": "voice"
                                                },
                                                {
                                                    "beep": "honk"
                                                },
                                                {
                                                    "beep": "noise"
                                                },
                                                {
                                                    "beep": "sound"
                                                },
                                                {
                                                    "beep": "toot"
                                                },
                                                {
                                                    "beep": "whistle"
                                                },
                                                {
                                                    "bell": "doorbell"
                                                },
                                                {
                                                    "bell": "chime"
                                                },
                                                {
                                                    "bell": "hear"
                                                },
                                                {
                                                    "bell": "jingle"
                                                },
                                                {
                                                    "bell": "sound"
                                                },
                                                {
                                                    "bell": "telephone"
                                                },
                                                {
                                                    "blare": "din"
                                                },
                                                {
                                                    "blare": "honk"
                                                },
                                                {
                                                    "blare": "sound"
                                                },
                                                {
                                                    "blare": "toot"
                                                },
                                                {
                                                    "blare": "warning"
                                                },
                                                {
                                                    "blowing": "blast"
                                                },
                                                {
                                                    "blowing": "conch"
                                                },
                                                {
                                                    "blowing": "gale"
                                                },
                                                {
                                                    "blowing": "noise"
                                                },
                                                {
                                                    "blowing": "sound"
                                                },
                                                {
                                                    "blowing": "whistle"
                                                },
                                                {
                                                    "brassy": "brass"
                                                },
                                                {
                                                    "brassy": "annoying"
                                                },
                                                {
                                                    "brassy": "din"
                                                },
                                                {
                                                    "brassy": "loud"
                                                },
                                                {
                                                    "brassy": "racket"
                                                },
                                                {
                                                    "brassy": "sound"
                                                },
                                                {
                                                    "brassy": "voice"
                                                },
                                                {
                                                    "bray": "cry"
                                                },
                                                {
                                                    "bray": "laughter"
                                                },
                                                {
                                                    "bray": "sound"
                                                },
                                                {
                                                    "bray": "sing"
                                                },
                                                {
                                                    "breaking": "cipher"
                                                },
                                                {
                                                    "breaking": "code"
                                                },
                                                {
                                                    "breaking": "destroy"
                                                },
                                                {
                                                    "breaking": "news"
                                                },
                                                {
                                                    "breaking": "sound"
                                                },
                                                {
                                                    "breaking": "tone"
                                                },
                                                {
                                                    "cacophonous": "inharmonious"
                                                },
                                                {
                                                    "cacophonous": "cacophony"
                                                },
                                                {
                                                    "cacophonous": "raucous"
                                                },
                                                {
                                                    "cacophonous": "rough"
                                                },
                                                {
                                                    "cacophonous": "sound"
                                                },
                                                {
                                                    "cacophonous": "strident"
                                                },
                                                {
                                                    "cacophonous": "tool"
                                                },
                                                {
                                                    "chirp": "buzz"
                                                },
                                                {
                                                    "chirp": "sound"
                                                },
                                                {
                                                    "chirp": "squeak"
                                                },
                                                {
                                                    "chirp": "twitter"
                                                },
                                                {
                                                    "chirp": "warble"
                                                },
                                                {
                                                    "chord": "guitar"
                                                },
                                                {
                                                    "chord": "harmonize"
                                                },
                                                {
                                                    "chord": "melody"
                                                },
                                                {
                                                    "chord": "music"
                                                },
                                                {
                                                    "chord": "playing"
                                                },
                                                {
                                                    "chord": "sound"
                                                },
                                                {
                                                    "click": "button"
                                                },
                                                {
                                                    "click": "camera"
                                                },
                                                {
                                                    "click": "penetrate"
                                                },
                                                {
                                                    "click": "snap"
                                                },
                                                {
                                                    "click": "sound"
                                                },
                                                {
                                                    "click": "understand"
                                                },
                                                {
                                                    "cassette": "tape"
                                                },
                                                {
                                                    "cassette": "audio"
                                                },
                                                {
                                                    "cassette": "recorder"
                                                },
                                                {
                                                    "cassette": "vcr"
                                                },
                                                {
                                                    "commentary": "audio"
                                                },
                                                {
                                                    "commentary": "broadcast"
                                                },
                                                {
                                                    "commentary": "television"
                                                },
                                                {
                                                    "commentary": "text"
                                                },
                                                {
                                                    "converter": "audio"
                                                },
                                                {
                                                    "converter": "change"
                                                },
                                                {
                                                    "converter": "currency"
                                                },
                                                {
                                                    "converter": "digital"
                                                },
                                                {
                                                    "converter": "plug"
                                                },
                                                {
                                                    "dubbing": "audio"
                                                },
                                                {
                                                    "dubbing": "language"
                                                },
                                                {
                                                    "dubbing": "subtitle"
                                                },
                                                {
                                                    "dubbing": "voice"
                                                },
                                                {
                                                    "playback": "audio"
                                                },
                                                {
                                                    "playback": "recording"
                                                },
                                                {
                                                    "playback": "video"
                                                },
                                                {
                                                    "recorder": "audio"
                                                },
                                                {
                                                    "recorder": "sound"
                                                },
                                                {
                                                    "recorder": "tape"
                                                },
                                                {
                                                    "recorder": "video"
                                                },
                                                {
                                                    "recorder": "voice"
                                                },
                                                {
                                                    "recording": "audio"
                                                },
                                                {
                                                    "recording": "sound"
                                                },
                                                {
                                                    "recording": "studio"
                                                },
                                                {
                                                    "recording": "transcription"
                                                },
                                                {
                                                    "sonic": "audio"
                                                },
                                                {
                                                    "sonic": "hear"
                                                },
                                                {
                                                    "sonic": "noise"
                                                },
                                                {
                                                    "sonic": "physics"
                                                },
                                                {
                                                    "sonic": "sound"
                                                },
                                                {
                                                    "studio": "art"
                                                },
                                                {
                                                    "studio": "audio"
                                                },
                                                {
                                                    "studio": "musician"
                                                },
                                                {
                                                    "studio": "recording"
                                                },
                                                {
                                                    "studio": "school"
                                                },
                                                {
                                                    "studio": "video"
                                                },
                                                {
                                                    "subtitle": "audio"
                                                },
                                                {
                                                    "subtitle": "dubbing"
                                                },
                                                {
                                                    "subtitle": "english"
                                                },
                                                {
                                                    "subtitle": "language"
                                                },
                                                {
                                                    "subtitle": "learning"
                                                },
                                                {
                                                    "tape": "audio"
                                                },
                                                {
                                                    "tape": "recorder"
                                                },
                                                {
                                                    "tape": "video"
                                                },
                                                {
                                                    "tape": "voice"
                                                },
                                                {
                                                    "transcription": "audio"
                                                },
                                                {
                                                    "transcription": "document"
                                                },
                                                {
                                                    "transcription": "record"
                                                },
                                                {
                                                    "transcription": "recording"
                                                },
                                                {
                                                    "transcription": "studio"
                                                },
                                                {
                                                    "transcription": "text"
                                                },
                                                {
                                                    "video": "audio"
                                                },
                                                {
                                                    "video": "camera"
                                                },
                                                {
                                                    "video": "clip"
                                                },
                                                {
                                                    "video": "film"
                                                },
                                                {
                                                    "video": "tv"
                                                },
                                                {
                                                    "video": "watch"
                                                },
                                                {
                                                    "voice": "audio"
                                                },
                                                {
                                                    "voice": "hear"
                                                },
                                                {
                                                    "voice": "music"
                                                },
                                                {
                                                    "voice": "radio"
                                                },
                                                {
                                                    "voice": "recorder"
                                                },
                                                {
                                                    "voice": "sound"
                                                },
                                                {
                                                    "ditto": "ape"
                                                },
                                                {
                                                    "ditto": "echo"
                                                },
                                                {
                                                    "ditto": "equal"
                                                },
                                                {
                                                    "ditto": "same"
                                                },
                                                {
                                                    "ditto": "say"
                                                },
                                                {
                                                    "ditto": "similar"
                                                },
                                                {
                                                    "earshot": "acoustic"
                                                },
                                                {
                                                    "earshot": "echo"
                                                },
                                                {
                                                    "earshot": "hearing"
                                                },
                                                {
                                                    "echo": "imitate"
                                                },
                                                {
                                                    "echo": "reverberation"
                                                },
                                                {
                                                    "echo": "noise"
                                                },
                                                {
                                                    "echo": "reflect"
                                                },
                                                {
                                                    "echo": "resonate"
                                                },
                                                {
                                                    "echo": "resound"
                                                },
                                                {
                                                    "echo": "sound"
                                                },
                                                {
                                                    "echo": "voice"
                                                },
                                                {
                                                    "hearing": "audience"
                                                },
                                                {
                                                    "hearing": "deaf"
                                                },
                                                {
                                                    "hearing": "echo"
                                                },
                                                {
                                                    "hearing": "listening"
                                                },
                                                {
                                                    "hearing": "speaking"
                                                },
                                                {
                                                    "iterate": "reiterate"
                                                },
                                                {
                                                    "iterate": "echo"
                                                },
                                                {
                                                    "iterate": "repeat"
                                                },
                                                {
                                                    "iterate": "restate"
                                                },
                                                {
                                                    "iterate": "say"
                                                },
                                                {
                                                    "mimic": "imitate"
                                                },
                                                {
                                                    "mimic": "mime"
                                                },
                                                {
                                                    "mimic": "copy"
                                                },
                                                {
                                                    "mimic": "echo"
                                                },
                                                {
                                                    "mimic": "imitation"
                                                },
                                                {
                                                    "repeat": "repeatedly"
                                                },
                                                {
                                                    "repeat": "duplicate"
                                                },
                                                {
                                                    "repeat": "again"
                                                },
                                                {
                                                    "repeat": "echo"
                                                },
                                                {
                                                    "repeat": "reiterate"
                                                },
                                                {
                                                    "repeat": "repetition"
                                                },
                                                {
                                                    "repeat": "restate"
                                                },
                                                {
                                                    "repeat": "say"
                                                },
                                                {
                                                    "repeatedly": "repeat"
                                                },
                                                {
                                                    "repeatedly": "again"
                                                },
                                                {
                                                    "repeatedly": "deny"
                                                },
                                                {
                                                    "repeatedly": "echo"
                                                },
                                                {
                                                    "repeatedly": "restate"
                                                },
                                                {
                                                    "repeatedly": "speak"
                                                },
                                                {
                                                    "repeatedly": "warn"
                                                },
                                                {
                                                    "resonance": "resonate"
                                                },
                                                {
                                                    "resonance": "echo"
                                                },
                                                {
                                                    "resonance": "ringing"
                                                },
                                                {
                                                    "resonance": "sonority"
                                                },
                                                {
                                                    "resonance": "sound"
                                                },
                                                {
                                                    "resonate": "digress"
                                                },
                                                {
                                                    "resonate": "echo"
                                                },
                                                {
                                                    "resonate": "reflect"
                                                },
                                                {
                                                    "resonate": "resounding"
                                                },
                                                {
                                                    "resonate": "sound"
                                                },
                                                {
                                                    "resound": "echo"
                                                },
                                                {
                                                    "resound": "noise"
                                                },
                                                {
                                                    "resound": "reverberate"
                                                },
                                                {
                                                    "resound": "spread"
                                                },
                                                {
                                                    "reverberate": "reverberation"
                                                },
                                                {
                                                    "reverberate": "echo"
                                                },
                                                {
                                                    "reverberate": "noise"
                                                },
                                                {
                                                    "reverberate": "resound"
                                                },
                                                {
                                                    "reverberate": "ring"
                                                },
                                                {
                                                    "reverberation": "acoustic"
                                                },
                                                {
                                                    "reverberation": "echo"
                                                },
                                                {
                                                    "reverberation": "hearing"
                                                },
                                                {
                                                    "reverberation": "ring"
                                                },
                                                {
                                                    "sonar": "data"
                                                },
                                                {
                                                    "sonar": "echo"
                                                },
                                                {
                                                    "sonar": "equipment"
                                                },
                                                {
                                                    "accompaniment": "complement"
                                                },
                                                {
                                                    "accompaniment": "escort"
                                                },
                                                {
                                                    "accompaniment": "music"
                                                },
                                                {
                                                    "accompaniment": "piano"
                                                },
                                                {
                                                    "accompaniment": "playing"
                                                },
                                                {
                                                    "accompaniment": "support"
                                                },
                                                {
                                                    "album": "copyright"
                                                },
                                                {
                                                    "album": "debut"
                                                },
                                                {
                                                    "album": "download"
                                                },
                                                {
                                                    "album": "music"
                                                },
                                                {
                                                    "album": "photo"
                                                },
                                                {
                                                    "aria": "cantata"
                                                },
                                                {
                                                    "aria": "choral"
                                                },
                                                {
                                                    "aria": "chorus"
                                                },
                                                {
                                                    "aria": "music"
                                                },
                                                {
                                                    "artist": "artistic"
                                                },
                                                {
                                                    "artist": "draw"
                                                },
                                                {
                                                    "artist": "gallery"
                                                },
                                                {
                                                    "artist": "music"
                                                },
                                                {
                                                    "artist": "musician"
                                                },
                                                {
                                                    "artist": "photography"
                                                },
                                                {
                                                    "artist": "writer"
                                                },
                                                {
                                                    "artistic": "aesthetic"
                                                },
                                                {
                                                    "artistic": "esthetic"
                                                },
                                                {
                                                    "artistic": "music"
                                                },
                                                {
                                                    "artistic": "painting"
                                                },
                                                {
                                                    "artistic": "photography"
                                                },
                                                {
                                                    "artistic": "tasteful"
                                                },
                                                {
                                                    "atonal": "composition"
                                                },
                                                {
                                                    "atonal": "music"
                                                },
                                                {
                                                    "atonal": "tonality"
                                                },
                                                {
                                                    "atonal": "undistinguished"
                                                },
                                                {
                                                    "ballroom": "ballet"
                                                },
                                                {
                                                    "ballroom": "choreographer"
                                                },
                                                {
                                                    "ballroom": "dance"
                                                },
                                                {
                                                    "ballroom": "dancing"
                                                },
                                                {
                                                    "ballroom": "music"
                                                },
                                                {
                                                    "ballroom": "party"
                                                },
                                                {
                                                    "blandness": "appropriate"
                                                },
                                                {
                                                    "blandness": "general"
                                                },
                                                {
                                                    "blandness": "music"
                                                },
                                                {
                                                    "blues": "guitar"
                                                },
                                                {
                                                    "blues": "music"
                                                },
                                                {
                                                    "blues": "singer"
                                                },
                                                {
                                                    "cantata": "aria"
                                                },
                                                {
                                                    "cantata": "choir"
                                                },
                                                {
                                                    "cantata": "music"
                                                },
                                                {
                                                    "cantata": "oratorio"
                                                },
                                                {
                                                    "cantata": "singing"
                                                },
                                                {
                                                    "cantata": "sonata"
                                                },
                                                {
                                                    "cello": "violoncello"
                                                },
                                                {
                                                    "cello": "harp"
                                                },
                                                {
                                                    "cello": "music"
                                                },
                                                {
                                                    "cello": "violin"
                                                },
                                                {
                                                    "choreograph": "choreographer"
                                                },
                                                {
                                                    "choreograph": "art"
                                                },
                                                {
                                                    "choreograph": "ballet"
                                                },
                                                {
                                                    "choreograph": "dance"
                                                },
                                                {
                                                    "choreograph": "music"
                                                },
                                                {
                                                    "choreography": "artistic"
                                                },
                                                {
                                                    "choreography": "ballet"
                                                },
                                                {
                                                    "choreography": "dance"
                                                },
                                                {
                                                    "choreography": "dancer"
                                                },
                                                {
                                                    "choreography": "music"
                                                },
                                                {
                                                    "chorus": "choir"
                                                },
                                                {
                                                    "chorus": "music"
                                                },
                                                {
                                                    "chorus": "sing"
                                                },
                                                {
                                                    "chorus": "vocal"
                                                },
                                                {
                                                    "chromatic": "diatonic"
                                                },
                                                {
                                                    "chromatic": "harmony"
                                                },
                                                {
                                                    "chromatic": "octave"
                                                },
                                                {
                                                    "chromatic": "music"
                                                },
                                                {
                                                    "chromatic": "tune"
                                                },
                                                {
                                                    "classical": "ancient"
                                                },
                                                {
                                                    "classical": "antiquity"
                                                },
                                                {
                                                    "classical": "architecture"
                                                },
                                                {
                                                    "classical": "indian"
                                                },
                                                {
                                                    "classical": "literature"
                                                },
                                                {
                                                    "classical": "music"
                                                },
                                                {
                                                    "compose": "composer"
                                                },
                                                {
                                                    "compose": "compound"
                                                },
                                                {
                                                    "compose": "compile"
                                                },
                                                {
                                                    "compose": "indite"
                                                },
                                                {
                                                    "compose": "makeup"
                                                },
                                                {
                                                    "compose": "music"
                                                },
                                                {
                                                    "compose": "write"
                                                },
                                                {
                                                    "composer": "lyricist"
                                                },
                                                {
                                                    "composer": "music"
                                                },
                                                {
                                                    "composer": "musician"
                                                },
                                                {
                                                    "composer": "piano"
                                                },
                                                {
                                                    "composer": "singer"
                                                },
                                                {
                                                    "barograph": "pressure"
                                                },
                                                {
                                                    "barograph": "record"
                                                },
                                                {
                                                    "barograph": "recording"
                                                },
                                                {
                                                    "barometer": "air"
                                                },
                                                {
                                                    "barometer": "pressure"
                                                },
                                                {
                                                    "barometer": "record"
                                                },
                                                {
                                                    "barometer": "recording"
                                                },
                                                {
                                                    "barometer": "weather"
                                                },
                                                {
                                                    "gramophone": "phonograph"
                                                },
                                                {
                                                    "gramophone": "hear"
                                                },
                                                {
                                                    "gramophone": "recording"
                                                },
                                                {
                                                    "gramophone": "sound"
                                                },
                                                {
                                                    "phonograph": "gramophone"
                                                },
                                                {
                                                    "phonograph": "machine"
                                                },
                                                {
                                                    "phonograph": "record"
                                                },
                                                {
                                                    "phonograph": "recording"
                                                },
                                                {
                                                    "phonograph": "show"
                                                },
                                                {
                                                    "subliminal": "advertising"
                                                },
                                                {
                                                    "subliminal": "message"
                                                },
                                                {
                                                    "subliminal": "recording"
                                                },
                                                {
                                                    "accent": "dialect"
                                                },
                                                {
                                                    "accent": "highlight"
                                                },
                                                {
                                                    "accent": "pronunciation"
                                                },
                                                {
                                                    "accent": "stress"
                                                },
                                                {
                                                    "accent": "voice"
                                                },
                                                {
                                                    "aloud": "read"
                                                },
                                                {
                                                    "aloud": "recite"
                                                },
                                                {
                                                    "aloud": "spoken"
                                                },
                                                {
                                                    "aloud": "speak"
                                                },
                                                {
                                                    "aloud": "voice"
                                                },
                                                {
                                                    "alto": "baritone"
                                                },
                                                {
                                                    "alto": "choir"
                                                },
                                                {
                                                    "alto": "low"
                                                },
                                                {
                                                    "alto": "tenor"
                                                },
                                                {
                                                    "alto": "voice"
                                                },
                                                {
                                                    "audible": "audio"
                                                },
                                                {
                                                    "audible": "hear"
                                                },
                                                {
                                                    "audible": "hearing"
                                                },
                                                {
                                                    "audible": "listen"
                                                },
                                                {
                                                    "audible": "sonic"
                                                },
                                                {
                                                    "audible": "voice"
                                                },
                                                {
                                                    "baritone": "alto"
                                                },
                                                {
                                                    "baritone": "low"
                                                },
                                                {
                                                    "baritone": "tenor"
                                                },
                                                {
                                                    "baritone": "voice"
                                                },
                                                {
                                                    "cackle": "laugh"
                                                },
                                                {
                                                    "cackle": "loud"
                                                },
                                                {
                                                    "cackle": "scream"
                                                },
                                                {
                                                    "cackle": "voice"
                                                },
                                                {
                                                    "dupe": "bogus"
                                                },
                                                {
                                                    "dupe": "charlatan"
                                                },
                                                {
                                                    "dupe": "fool"
                                                },
                                                {
                                                    "dupe": "hack"
                                                },
                                                {
                                                    "dupe": "voice"
                                                },
                                                {
                                                    "dysphonia": "disease"
                                                },
                                                {
                                                    "dysphonia": "muscle"
                                                },
                                                {
                                                    "dysphonia": "syndrome"
                                                },
                                                {
                                                    "dysphonia": "vocal"
                                                },
                                                {
                                                    "dysphonia": "voice"
                                                },
                                                {
                                                    "effeminate": "camp"
                                                },
                                                {
                                                    "effeminate": "effeminacy"
                                                },
                                                {
                                                    "effeminate": "female"
                                                },
                                                {
                                                    "effeminate": "feminine"
                                                },
                                                {
                                                    "effeminate": "gesture"
                                                },
                                                {
                                                    "effeminate": "girl"
                                                },
                                                {
                                                    "effeminate": "voice"
                                                },
                                                {
                                                    "effeminate": "woman"
                                                },
                                                {
                                                    "emotionless": "cold"
                                                },
                                                {
                                                    "emotionless": "impassive"
                                                },
                                                {
                                                    "emotionless": "indifferent"
                                                },
                                                {
                                                    "emotionless": "phlegmatic"
                                                },
                                                {
                                                    "emotionless": "tone"
                                                },
                                                {
                                                    "emotionless": "voice"
                                                },
                                                {
                                                    "gruff": "cacophonous"
                                                },
                                                {
                                                    "gruff": "hoarse"
                                                },
                                                {
                                                    "gruff": "husky"
                                                },
                                                {
                                                    "gruff": "voice"
                                                },
                                                {
                                                    "hoarse": "gruff"
                                                },
                                                {
                                                    "hoarse": "husky"
                                                },
                                                {
                                                    "hoarse": "sound"
                                                },
                                                {
                                                    "hoarse": "voice"
                                                },
                                                {
                                                    "homophonic": "harmony"
                                                },
                                                {
                                                    "homophonic": "polyphony"
                                                },
                                                {
                                                    "homophonic": "same"
                                                },
                                                {
                                                    "homophonic": "sound"
                                                },
                                                {
                                                    "homophonic": "voice"
                                                },
                                                {
                                                    "husky": "cacophonous"
                                                },
                                                {
                                                    "husky": "gruff"
                                                },
                                                {
                                                    "husky": "hoarse"
                                                },
                                                {
                                                    "husky": "robust"
                                                },
                                                {
                                                    "husky": "tough"
                                                },
                                                {
                                                    "husky": "voice"
                                                },
                                                {
                                                    "impersonate": "embody"
                                                },
                                                {
                                                    "impersonate": "accent"
                                                },
                                                {
                                                    "impersonate": "assume"
                                                },
                                                {
                                                    "impersonate": "dupe"
                                                },
                                                {
                                                    "impersonate": "simulate"
                                                },
                                                {
                                                    "impersonate": "voice"
                                                },
                                                {
                                                    "intrusive": "intrusion"
                                                },
                                                {
                                                    "intrusive": "interfering"
                                                },
                                                {
                                                    "intrusive": "invade"
                                                },
                                                {
                                                    "intrusive": "invasive"
                                                },
                                                {
                                                    "intrusive": "meddling"
                                                },
                                                {
                                                    "intrusive": "voice"
                                                }
                                            ],
                                            "request": "sound",
                                            "response": "sound",
                                            "result_code": "200",
                                            "result_msg": "Success",
                                            "version": "4.0.0"
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                },
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "entry": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "sound"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Visual Context Graph"
                ],
                "parameters": [
                    {
                        "name": "entry",
                        "in": "query",
                        "required": true,
                        "description": "Type a word to see the words connected to it",
                        "schema": {
                            "type": "string",
                            "example": "sound"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Visualize (get)",
                "description": "Diagram information for visualizing concepts or mind maps.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "context": [
                                        "audio",
                                        "echo",
                                        "music",
                                        "recording",
                                        "voice"
                                    ],
                                    "entry": "sound",
                                    "relation": [
                                        {
                                            "acoustic": "guitar"
                                        },
                                        {
                                            "acoustic": "hearing"
                                        },
                                        {
                                            "acoustic": "music"
                                        },
                                        {
                                            "acoustic": "musical"
                                        },
                                        {
                                            "acoustic": "performance"
                                        },
                                        {
                                            "acoustic": "sound"
                                        },
                                        {
                                            "acoustics": "acoustic"
                                        },
                                        {
                                            "acoustics": "musical"
                                        },
                                        {
                                            "acoustics": "noise"
                                        },
                                        {
                                            "acoustics": "radio"
                                        },
                                        {
                                            "acoustics": "sound"
                                        },
                                        {
                                            "alarm": "dismay"
                                        },
                                        {
                                            "alarm": "fright"
                                        },
                                        {
                                            "alarm": "horror"
                                        },
                                        {
                                            "alarm": "terror"
                                        },
                                        {
                                            "alarm": "bell"
                                        },
                                        {
                                            "alarm": "sound"
                                        },
                                        {
                                            "alert": "attentive"
                                        },
                                        {
                                            "alert": "vigilant"
                                        },
                                        {
                                            "alert": "watchful"
                                        },
                                        {
                                            "alert": "clear"
                                        },
                                        {
                                            "alert": "noise"
                                        },
                                        {
                                            "alert": "sound"
                                        },
                                        {
                                            "amplifier": "machine"
                                        },
                                        {
                                            "amplifier": "sound"
                                        },
                                        {
                                            "amplifier": "transistor"
                                        },
                                        {
                                            "amplifier": "loud"
                                        },
                                        {
                                            "amplifier": "noise"
                                        },
                                        {
                                            "amplitude": "ample"
                                        },
                                        {
                                            "amplitude": "peak"
                                        },
                                        {
                                            "amplitude": "sound"
                                        },
                                        {
                                            "amplitude": "wave"
                                        },
                                        {
                                            "amplitude": "frequency"
                                        },
                                        {
                                            "attune": "accustom"
                                        },
                                        {
                                            "attune": "adjust"
                                        },
                                        {
                                            "attune": "sound"
                                        },
                                        {
                                            "audio": "cassette"
                                        },
                                        {
                                            "audio": "digital"
                                        },
                                        {
                                            "audio": "recording"
                                        },
                                        {
                                            "audio": "sound"
                                        },
                                        {
                                            "audio": "video"
                                        },
                                        {
                                            "auditory": "audition"
                                        },
                                        {
                                            "auditory": "ear"
                                        },
                                        {
                                            "auditory": "hearing"
                                        },
                                        {
                                            "auditory": "sound"
                                        },
                                        {
                                            "auditory": "stimulus"
                                        },
                                        {
                                            "auditory": "voice"
                                        },
                                        {
                                            "beep": "honk"
                                        },
                                        {
                                            "beep": "noise"
                                        },
                                        {
                                            "beep": "sound"
                                        },
                                        {
                                            "beep": "toot"
                                        },
                                        {
                                            "beep": "whistle"
                                        },
                                        {
                                            "bell": "doorbell"
                                        },
                                        {
                                            "bell": "chime"
                                        },
                                        {
                                            "bell": "hear"
                                        },
                                        {
                                            "bell": "jingle"
                                        },
                                        {
                                            "bell": "sound"
                                        },
                                        {
                                            "bell": "telephone"
                                        },
                                        {
                                            "blare": "din"
                                        },
                                        {
                                            "blare": "honk"
                                        },
                                        {
                                            "blare": "sound"
                                        },
                                        {
                                            "blare": "toot"
                                        },
                                        {
                                            "blare": "warning"
                                        },
                                        {
                                            "blowing": "blast"
                                        },
                                        {
                                            "blowing": "conch"
                                        },
                                        {
                                            "blowing": "gale"
                                        },
                                        {
                                            "blowing": "noise"
                                        },
                                        {
                                            "blowing": "sound"
                                        },
                                        {
                                            "blowing": "whistle"
                                        },
                                        {
                                            "brassy": "brass"
                                        },
                                        {
                                            "brassy": "loud"
                                        },
                                        {
                                            "brassy": "sound"
                                        },
                                        {
                                            "brassy": "voice"
                                        },
                                        {
                                            "brassy": "annoying"
                                        },
                                        {
                                            "brassy": "din"
                                        },
                                        {
                                            "brassy": "racket"
                                        },
                                        {
                                            "bray": "cry"
                                        },
                                        {
                                            "bray": "laughter"
                                        },
                                        {
                                            "bray": "sing"
                                        },
                                        {
                                            "bray": "sound"
                                        },
                                        {
                                            "breaking": "cipher"
                                        },
                                        {
                                            "breaking": "code"
                                        },
                                        {
                                            "breaking": "destroy"
                                        },
                                        {
                                            "breaking": "news"
                                        },
                                        {
                                            "breaking": "sound"
                                        },
                                        {
                                            "breaking": "tone"
                                        },
                                        {
                                            "cacophonous": "inharmonious"
                                        },
                                        {
                                            "cacophonous": "cacophony"
                                        },
                                        {
                                            "cacophonous": "raucous"
                                        },
                                        {
                                            "cacophonous": "rough"
                                        },
                                        {
                                            "cacophonous": "sound"
                                        },
                                        {
                                            "cacophonous": "strident"
                                        },
                                        {
                                            "cacophonous": "tool"
                                        },
                                        {
                                            "chirp": "buzz"
                                        },
                                        {
                                            "chirp": "sound"
                                        },
                                        {
                                            "chirp": "squeak"
                                        },
                                        {
                                            "chirp": "twitter"
                                        },
                                        {
                                            "chirp": "warble"
                                        },
                                        {
                                            "chord": "guitar"
                                        },
                                        {
                                            "chord": "harmonize"
                                        },
                                        {
                                            "chord": "melody"
                                        },
                                        {
                                            "chord": "music"
                                        },
                                        {
                                            "chord": "playing"
                                        },
                                        {
                                            "chord": "sound"
                                        },
                                        {
                                            "click": "penetrate"
                                        },
                                        {
                                            "click": "snap"
                                        },
                                        {
                                            "click": "understand"
                                        },
                                        {
                                            "click": "button"
                                        },
                                        {
                                            "click": "camera"
                                        },
                                        {
                                            "click": "sound"
                                        },
                                        {
                                            "cassette": "tape"
                                        },
                                        {
                                            "cassette": "audio"
                                        },
                                        {
                                            "cassette": "recorder"
                                        },
                                        {
                                            "cassette": "vcr"
                                        },
                                        {
                                            "commentary": "audio"
                                        },
                                        {
                                            "commentary": "television"
                                        },
                                        {
[...]
