{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_73c8f895-dfec-47e6-9954-e4daca3eafeb",
            "value": "✓"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "apiversion_7a258577-9372-4b16-8358-c8ba62afee6b",
        "apiId": "api_ac4b327c-4707-47d1-bfc2-4635dea3393c"
    },
    "info": {
        "title": "Promity Age and Gender Recognition",
        "description": "API for age and gender recognition",
        "version": "v1",
        "x-category": "Visual Recognition",
        "x-long-description": "Check out this endpoint for age and gender prediction. Send us an image, and we return a position of detected faces with predicted age and gender.",
        "x-website": "https://promity.com/what-we-do/ai/",
        "x-public": true,
        "x-thumbnail": "https://rapidapi-prod-apis.s3.amazonaws.com/abf05188-33a1-4dd6-be6d-8f9dac55c984.png",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://promity-age-and-gender-recognition.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [],
    "paths": {
        "/age_gender/process_file": {
            "post": {
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Age and gender by file",
                "description": "Endpoint for age and gender prediction. Send us image, we return position of detected faces and predicted age and gender.\nCheck out our tutorials for example of usage in Python.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "detections": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "crop": {
                                                        "type": "object",
                                                        "properties": {
                                                            "x1": {
                                                                "type": "number"
                                                            },
                                                            "y1": {
                                                                "type": "number"
                                                            },
                                                            "x2": {
                                                                "type": "number"
                                                            },
                                                            "y2": {
                                                                "type": "number"
                                                            },
                                                            "score": {
                                                                "type": "number"
                                                            }
                                                        }
                                                    },
                                                    "age": {
                                                        "type": "integer"
                                                    },
                                                    "gender": {
                                                        "type": "object",
                                                        "properties": {
                                                            "F": {
                                                                "type": "number"
                                                            },
                                                            "M": {
                                                                "type": "number"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "New Example": {
                                        "description": "",
                                        "summary": "New Example",
                                        "value": {
                                            "detections": [
                                                {
                                                    "crop": {
                                                        "x1": 0.49029475450515747,
                                                        "y1": 0.5199255347251892,
                                                        "x2": 0.5589765906333923,
                                                        "y2": 0.38276559114456177,
                                                        "score": 0.9992923736572266
                                                    },
                                                    "age": 23,
                                                    "gender": {
                                                        "F": 0.999700665473938,
                                                        "M": 0.0002993345260620117
                                                    }
                                                },
                                                {
                                                    "crop": {
                                                        "x1": 0.11643223464488983,
                                                        "y1": 0.5169875025749207,
                                                        "x2": 0.1809975504875183,
                                                        "y2": 0.39529597759246826,
                                                        "score": 0.998594343662262
                                                    },
                                                    "age": 22,
                                                    "gender": {
                                                        "F": 0.002291440963745117,
                                                        "M": 0.9977085590362549
                                                    }
                                                },
                                                {
                                                    "crop": {
                                                        "x1": 0.8563294410705566,
                                                        "y1": 0.24784332513809204,
                                                        "x2": 0.917901873588562,
                                                        "y2": 0.12237813323736191,
                                                        "score": 0.9980091452598572
                                                    },
                                                    "age": 33,
                                                    "gender": {
                                                        "F": 0.9146032929420471,
                                                        "M": 0.08539670705795288
                                                    }
                                                },
                                                {
                                                    "crop": {
                                                        "x1": 0.1482899785041809,
                                                        "y1": 0.3003842234611511,
                                                        "x2": 0.20176897943019867,
                                                        "y2": 0.20043990015983582,
                                                        "score": 0.9973342418670654
                                                    },
                                                    "age": 19,
                                                    "gender": {
                                                        "F": 0.9946532249450684,
                                                        "M": 0.005346775054931641
                                                    }
                                                },
                                                {
                                                    "crop": {
                                                        "x1": 0.598613440990448,
                                                        "y1": 0.3124071955680847,
                                                        "x2": 0.6528789401054382,
                                                        "y2": 0.20392273366451263,
                                                        "score": 0.9954931735992432
                                                    },
                                                    "age": 24,
                                                    "gender": {
                                                        "F": 0.005447328090667725,
                                                        "M": 0.9945526719093323
                                                    }
                                                },
                                                {
                                                    "crop": {
                                                        "x1": 0.7280519008636475,
                                                        "y1": 0.5563205480575562,
                                                        "x2": 0.7874197363853455,
                                                        "y2": 0.4102036952972412,
                                                        "score": 0.7963488101959229
                                                    },
                                                    "age": 39,
                                                    "gender": {
                                                        "F": 0.8345146179199219,
                                                        "M": 0.16548538208007812
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                },
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "image_file": {
                                        "type": "string",
                                        "format": "binary",
                                        "example": ""
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/age_gender/process_url": {
            "post": {
                "parameters": [
                    {
                        "name": "img_url",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "externalDocs": {},
                            "default": "https://promity.com/wp-content/uploads/2021/05/image-0111a.jpg"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "externalDocs": {},
                            "default": "application/json"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Age and gender by URL",
                "description": "Endpoint for age and gender prediction. Send us link to image, we return  position of detected faces and predicted age and gender.\nCheck out our tutorials for example of usage in Python.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "detections": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "crop": {
                                                        "type": "object",
                                                        "properties": {
                                                            "x1": {
                                                                "type": "number"
                                                            },
                                                            "y1": {
                                                                "type": "number"
                                                            },
                                                            "x2": {
                                                                "type": "number"
                                                            },
                                                            "y2": {
                                                                "type": "number"
                                                            },
                                                            "score": {
                                                                "type": "number"
                                                            }
                                                        }
                                                    },
                                                    "age": {
                                                        "type": "integer"
                                                    },
                                                    "gender": {
                                                        "type": "object",
                                                        "properties": {
                                                            "F": {
                                                                "type": "number"
                                                            },
                                                            "M": {
                                                                "type": "number"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "New Example": {
                                        "description": "",
                                        "summary": "New Example",
                                        "value": {
                                            "detections": [
                                                {
                                                    "crop": {
                                                        "x1": 0.49029475450515747,
                                                        "y1": 0.5199255347251892,
                                                        "x2": 0.5589765906333923,
                                                        "y2": 0.38276559114456177,
                                                        "score": 0.9992923736572266
                                                    },
                                                    "age": 23,
                                                    "gender": {
                                                        "F": 0.999700665473938,
                                                        "M": 0.0002993345260620117
                                                    }
                                                },
                                                {
                                                    "crop": {
                                                        "x1": 0.11643223464488983,
                                                        "y1": 0.5169875025749207,
                                                        "x2": 0.1809975504875183,
                                                        "y2": 0.39529597759246826,
                                                        "score": 0.998594343662262
                                                    },
                                                    "age": 22,
                                                    "gender": {
                                                        "F": 0.002291440963745117,
                                                        "M": 0.9977085590362549
                                                    }
                                                },
                                                {
                                                    "crop": {
                                                        "x1": 0.8563294410705566,
                                                        "y1": 0.24784332513809204,
                                                        "x2": 0.917901873588562,
                                                        "y2": 0.12237813323736191,
                                                        "score": 0.9980091452598572
                                                    },
                                                    "age": 33,
                                                    "gender": {
                                                        "F": 0.9146032929420471,
                                                        "M": 0.08539670705795288
                                                    }
                                                },
                                                {
                                                    "crop": {
                                                        "x1": 0.1482899785041809,
                                                        "y1": 0.3003842234611511,
                                                        "x2": 0.20176897943019867,
                                                        "y2": 0.20043990015983582,
                                                        "score": 0.9973342418670654
                                                    },
                                                    "age": 19,
                                                    "gender": {
                                                        "F": 0.9946532249450684,
                                                        "M": 0.005346775054931641
                                                    }
                                                },
                                                {
                                                    "crop": {
                                                        "x1": 0.598613440990448,
                                                        "y1": 0.3124071955680847,
                                                        "x2": 0.6528789401054382,
                                                        "y2": 0.20392273366451263,
                                                        "score": 0.9954931735992432
                                                    },
                                                    "age": 24,
                                                    "gender": {
                                                        "F": 0.005447328090667725,
                                                        "M": 0.9945526719093323
                                                    }
                                                },
                                                {
                                                    "crop": {
                                                        "x1": 0.7280519008636475,
                                                        "y1": 0.5563205480575562,
                                                        "x2": 0.7874197363853455,
                                                        "y2": 0.4102036952972412,
                                                        "score": 0.7963488101959229
                                                    },
                                                    "age": 39,
                                                    "gender": {
                                                        "F": 0.8345146179199219,
                                                        "M": 0.16548538208007812
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                },
                "requestBody": {
                    "content": {},
                    "description": ""
                }
            }
        }
    }
}