{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_6c60e221-a2e0-499a-bc7f-a3cb3cf4c4fc",
            "value": "✓"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "apiversion_ccfb1f4e-f51d-4bb1-ac9c-049ecf9e3998",
        "apiId": "api_0f09123a-eccd-447d-9dec-65625dff2363"
    },
    "info": {
        "title": "Hacker Noon",
        "description": "An unofficial API for Hacker Noon",
        "version": "v1",
        "x-category": "News, Media",
        "x-long-description": "Hacker Noon does not provide an official API, even though it's a much requested feature: https://community.hackernoon.com/t/hackernoon-api/3089\n\nYou can use this API to e.g. display your latest articles on your website.",
        "x-website": "",
        "x-public": true,
        "x-thumbnail": "https://rapidapi-prod-apis.s3.amazonaws.com/3f2c6ca1-cc02-4459-81ce-cefb4450ad5c.jpg",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://hacker-noon.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [],
    "paths": {
        "/api/0.0/hackernoon/stories": {
            "post": {
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "stories",
                "description": "Get featured stories.",
                "responses": {
                    "200": {
                        "content": {
                            "text/plain": {
                                "schema": {},
                                "examples": {
                                    "Response": {
                                        "description": "",
                                        "summary": "Response",
                                        "value": "{\"response\":\"OK\",\"result\":{\"buildId\":\"FCxc3hEgbDbnFPPUV7m7e\",\"gsp\":true,\"isFallback\":false,\"nextExport\":false,\"page\":\"/\",\"props\":{\"__N_SSG\":true,\"pageProps\":{\"data\":{\"curatedTagsStories\":[{\"stories\":[{\"createdAt\":1592359856,\"editor\":{\"displayName\":\"Utsav Jaiswal\",\"handle\":\"Hackerhodl\",\"id\":\"JTw2M3rQabaxNg3EFoNIxjmC1ZB3\"},\"estimatedTime\":6,\"excerpt\":\"We’re going to write a new smart contract in Michelson using a string passed in the parameter by the user that we'll concatenate to the string already present in the storage before saving the new string into the storage.\",\"firstSeenAt\":false,\"id\":\"pmWoQV1IGZZNzR2vQj5K\",\"mainImage\":\"https://cdn.filestackcontent.com/cEBUtWoPRcy8tBoZ159J\",\"mainImageAttributionLink\":null,\"mainImageAttributionName\":null,\"mainImageLink\":null,\"markup\":\"\\u003cdiv class=\\\"paragraph\\\"\\u003eWe’re going to write a new smart contract in Michelson using a string passed in the parameter by the user that we\\u0026#x27;ll concatenate to the string already present in the storage before saving the new string into the storage.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003cem\\u003e(Part 1 is available \\u003c/em\\u003e\\u003ca href=\\\"https://hackernoon.com/how-to-use-the-michelson-programming-language-to-write-smart-contracts-on-tezoss-y78f30e4\\\"\\u003e\\u003cem\\u003ehere\\u003c/em\\u003e\\u003c/a\\u003e\\u003cem\\u003e.)\\u003c/em\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eAfter introducing the basics of Michelson in the previous article, we’re going to continue our exploration of this programming language.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIn this new installment, we’re introducing an amazing tool that’ll help us write, debug, and examine our Michelson code: the \\u003ca href=\\\"https://github.com/baking-bad/michelson-kernel\\\"\\u003eJupyter notebook with the Michelson kernel\\u003c/a\\u003e developed by the \\u003ca href=\\\"https://baking-bad.org/docs\\\"\\u003eBaking Bad team\\u003c/a\\u003e.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eWe’re going to write a new smart contract in Michelson using a string passed in the parameter by the user that we\\u0026#x27;ll concatenate to the string already present in the storage before saving the new string into the storage.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIt’s highly recommended to read \\u003ca href=\\\"https://medium.com/better-programming/introduction-to-michelson-the-language-of-tezos-part-1-374c03394cc3\\\"\\u003ePart 1\\u003c/a\\u003e first, as it introduces concepts about smart contracts in Michelson we’re going to use here.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eBut first, let’s have a look at what’s probably the best tool around to code: Michelson!\\u003c/div\\u003e\\u003ch2\\u003eBaking Bad’s Jupyter Notebook\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eBaking Bad developed an online Michelson compiler that goes beyond compiling your Michelson code.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIt offers syntax highlighting, debugging, and a step-by-step visualization of the stack. You can open the notebook we’re going to use for this lesson using \\u003ca href=\\\"https://mybinder.org/v2/gh/claudebarde/michelson-kernel/binder\\\"\\u003ethis link\\u003c/a\\u003e (bear in mind the kernel needs a minute or two to load) before selecting the \\u003cpre\\u003e\\u003ccode\\u003eMichelsonTutorial-Demo3.ipynb\\u003c/code\\u003e\\u003c/pre\\u003e file.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThe file is divided into two parts:\\u003c/div\\u003e\\u003ch2\\u003eThe inline code\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIn the first part, the whole smart contract is dropped into a single cell. You can compile and run it by writing \\u003cpre\\u003e\\u003ccode\\u003e\\u003cstrong\\u003eRUN\\u003c/strong\\u003e\\u003c/code\\u003e\\u003c/pre\\u003e\\u003cpre\\u003e\\u003ccode\\u003e%default\\u003c/code\\u003e\\u003c/pre\\u003e\\u003cpre\\u003e\\u003ccode\\u003e\\u003cem\\u003eparameter storage\\u003c/em\\u003e\\u003c/code\\u003e\\u003c/pre\\u003e in the following cell.\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/mQU6SDxQCbfInNVd2wDklqKZtwy1-g1423zpj\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eAfter running the smart contract, there’s a detailed description of each step and what each instruction did to modify the stack (in \\u003cpre\\u003e\\u003ccode\\u003eIn [10]\\u003c/code\\u003e\\u003c/pre\\u003e on the picture). At the end of the runtime (in \\u003cpre\\u003e\\u003ccode\\u003eOut [10]\\u003c/code\\u003e\\u003c/pre\\u003e on the picture), you’re left with your new storage.\\u003c/div\\u003e\\u003ch2\\u003eThe step-by-step code\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eWhere this compiler shines is you can enter the instructions to modify the stack one by one and examine their effect after each step.\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/mQU6SDxQCbfInNVd2wDklqKZtwy1-g66f3znf\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eAs in every Michelson smart contract, you start by specifying the parameter and the storage. Then, you type \\u003cpre\\u003e\\u003ccode\\u003e\\u003cstrong\\u003eBEGIN\\u003c/strong\\u003e\\u003c/code\\u003e\\u003c/pre\\u003e\\u003cpre\\u003e\\u003ccode\\u003e\\u003cem\\u003eparameter storage\\u003c/em\\u003e\\u003c/code\\u003e\\u003c/pre\\u003e to start the execution.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eAfter this configuration step, you can enter the instructions one by one and run them by hitting \\u003cpre\\u003e\\u003ccode\\u003eCMD/CTRL + SHIFT\\u003c/code\\u003e\\u003c/pre\\u003e to see how they modify the stack. In the \\u003cpre\\u003e\\u003ccode\\u003eOut [...]\\u003c/code\\u003e\\u003c/pre\\u003e cell, you’re presented with the current value at the top of the stack.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003cstrong\\u003eNote:\\u003c/strong\\u003e you can see a \\u003cpre\\u003e\\u003ccode\\u003eDUMP\\u003c/code\\u003e\\u003c/pre\\u003e instruction in the step-by-step code. This is \\u003cem\\u003enot\\u003c/em\\u003e Michelson — this is just an instruction used in the Jupyter notebooks to print the current state of the stack.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eWhen you want to end the execution of the smart contract, you enter \\u003cpre\\u003e\\u003ccode\\u003eCOMMIT\\u003c/code\\u003e\\u003c/pre\\u003e, and it’ll return the new storage, provided there’s no error in your code. If there’s one at any step of the execution, you’ll see a message and be able to fix it right away without having to review your code line by line.\\u003c/div\\u003e\\u003cdiv class=\\\"Divider\\\"\\u003e\\u003ci\\u003e\\u003c/i\\u003e\\u003ci\\u003e\\u003c/i\\u003e\\u003ci\\u003e\\u003c/i\\u003e\\u003ci\\u003e\\u003c/i\\u003e\\u003ci\\u003e\\u003c/i\\u003e\\u003ci\\u003e\\u003c/i\\u003e\\u003c/div\\u003e\\u003ch2\\u003eHandling Parameters in a Michelson Smart Contract\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIn the last lesson, we introduced a few instructions that manipulated data either already in the stack or that we pushed ourselves. But what about handling users’ input? This is actually pretty easy!\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eWe’re going to work with the contract present in the Jupyter notebook introduced above. You’re welcome to follow along in the notebook and run the instructions one by one to get a better understanding of how the stack looks like after each instruction. Here’s the full smart contract:\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/mQU6SDxQCbfInNVd2wDklqKZtwy1-bd853zwk\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIf you remember, a pair containing the parameter and the storage is automatically pushed at the top of the stack when the contract is called. We can then get the left part of the pair (the parameter) and use it. Here’s how it works.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eFirst, let’s initialize our stack:\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/mQU6SDxQCbfInNVd2wDklqKZtwy1-eu923za6\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIn this step, we get a fresh stack with a pair containing a parameter of type \\u003cpre\\u003e\\u003ccode\\u003estring\\u003c/code\\u003e\\u003c/pre\\u003e (\\u003cpre\\u003e\\u003ccode\\u003eworld\\u003c/code\\u003e\\u003c/pre\\u003e) and the storage of type \\u003cpre\\u003e\\u003ccode\\u003estring\\u003c/code\\u003e\\u003c/pre\\u003e, too (\\u003cpre\\u003e\\u003ccode\\u003eHello\\u003c/code\\u003e\\u003c/pre\\u003e). Our final goal is to concatenate these two strings and return them.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIn the next step, we duplicate the top element of the stack because we need the parameter and the storage in two separate elements of the stack to be able to put them together in one single string.\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/mQU6SDxQCbfInNVd2wDklqKZtwy1-ria73zkn\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eMichelson doesn’t have variables and is immutable by nature. New elements of the stack can be created with different methods — for example, by pushing them (with the \\u003cpre\\u003e\\u003ccode\\u003ePUSH\\u003c/code\\u003e\\u003c/pre\\u003e instruction) or by duplicating them (with the \\u003cpre\\u003e\\u003ccode\\u003eDUP\\u003c/code\\u003e\\u003c/pre\\u003e instruction). Remember at every step of the execution, you’re dealing with the top element of the stack. It’s the only one you can work with.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eLet’s start with the first element of the stack, and let’s get the parameter out of the pair. We use the \\u003cpre\\u003e\\u003ccode\\u003eCAR\\u003c/code\\u003e\\u003c/pre\\u003e instruction, whose purpose is to break an element of type \\u003cpre\\u003e\\u003ccode\\u003epair\\u003c/code\\u003e\\u003c/pre\\u003e and to return the left side of the pair (in this case, the parameter passed to the smart contract). After running \\u003cpre\\u003e\\u003ccode\\u003eCAR\\u003c/code\\u003e\\u003c/pre\\u003e, we’re left with the string \\u003cpre\\u003e\\u003ccode\\u003eworld\\u003c/code\\u003e\\u003c/pre\\u003e on top of the stack.\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/mQU6SDxQCbfInNVd2wDklqKZtwy1-tvbb3z5e\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eNow you may be wondering: How can I work with the second element of the stack if Michelson only deals with the first one? It’s very easy! Bring the second element to the top with the \\u003cpre\\u003e\\u003ccode\\u003eSWAP\\u003c/code\\u003e\\u003c/pre\\u003e instruction, and keep the other one for later.\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/mQU6SDxQCbfInNVd2wDklqKZtwy1-zbc83zjo\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eWhen using the \\u003cpre\\u003e\\u003ccode\\u003eSWAP\\u003c/code\\u003e\\u003c/pre\\u003e instruction, you tell Michelson: “I don’t need the first element for now, but I’d like to work on the second one.” Michelson will bring down the first element to the second position and the second element up to the first position.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eNow that the second pair we duplicated at the beginning is at the top, we can use a reverse \\u003cpre\\u003e\\u003ccode\\u003eCAR\\u003c/code\\u003e\\u003c/pre\\u003e to get the right part of the pair with the \\u003cpre\\u003e\\u003ccode\\u003eCDR\\u003c/code\\u003e\\u003c/pre\\u003e instruction.\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/mQU6SDxQCbfInNVd2wDklqKZtwy1-ahd53zh6\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThe \\u003cpre\\u003e\\u003ccode\\u003eCDR\\u003c/code\\u003e\\u003c/pre\\u003e instruction works like the \\u003cpre\\u003e\\u003ccode\\u003eCAR\\u003c/code\\u003e\\u003c/pre\\u003e instruction, but you’ll keep the right side of the pair you’re manipulating (a pair always contains only two elements, so \\u003cpre\\u003e\\u003ccode\\u003eCDR\\u003c/code\\u003e\\u003c/pre\\u003e and \\u003cpre\\u003e\\u003ccode\\u003eCAR\\u003c/code\\u003e\\u003c/pre\\u003e are the only possible operations). After that, you can see our stack is made of two elements: in the first position, the string \\u003cpre\\u003e\\u003ccode\\u003eHello\\u003c/code\\u003e\\u003c/pre\\u003e and in the second position, the string \\u003cpre\\u003e\\u003ccode\\u003eworld\\u003c/code\\u003e\\u003c/pre\\u003e.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eNow let’s put them together!\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/mQU6SDxQCbfInNVd2wDklqKZtwy1-38e23zac\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIn computer programming, the operation of putting two strings together is called \\u003ca href=\\\"https://en.wikipedia.org/wiki/Concatenation\\\"\\u003e\\u003cem\\u003econcatenation\\u003c/em\\u003e\\u003c/a\\u003e\\u003cem\\u003e.\\u003c/em\\u003e It’s only logical that the instruction to put two strings together in Michelson is called \\u003cpre\\u003e\\u003ccode\\u003eCONCAT\\u003c/code\\u003e\\u003c/pre\\u003e. The operation takes the two strings currently at the top of the stack and returns a single string. For the operation to be successful, two conditions must be true:\\u003c/div\\u003e\\u003col\\u003e\\u003cli\\u003eYou do have two elements on top of the stack (it’ll generate an error if there’s only one element left). If more elements are present, it’ll only deal with the two elements at the top.\\u003c/li\\u003e\\u003cli\\u003eThe two elements on top of the stack are strings (Michelson is strictly typed — it knows what kind of values it has in its stack, so don’t even try to fool it)\\u003c/li\\u003e\\u003c/ol\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eNow if you remember what we talked about in Part 1, you know what’s going to happen. We must create a pair with a list and the new storage to end the execution of the smart contract (it’s like saying goodbye in Michelson).\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eFirst, let’s push an empty list on the top of the stack:\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/mQU6SDxQCbfInNVd2wDklqKZtwy1-chez3z52\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eOnce the empty list is there, we can create a pair with the empty list and the string:\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/mQU6SDxQCbfInNVd2wDklqKZtwy1-wigb3z6j\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eOnce again, be very wary of the order of your elements and their type: Michelson will take the first element to put it on the left side of the pair and the second element to put it on the right side of the pair. Returning a pair of type (Pair string list (operation)) will generate an error.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eNow our stack is clean and contains a pair with a list of operations and a string, the execution of the smart contract comes to an end.\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/mQU6SDxQCbfInNVd2wDklqKZtwy1-syh83zrh\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eYou can see the full execution and the transformations of the stack in the video below:\\u003c/div\\u003e\\u003cdiv class=\\\"youtube-container\\\"\\u003e\\u003ciframe title=\\\"ytcontainer\\\" width=\\\"700\\\" height=\\\"394\\\" src=\\\"https://www.youtube.com/embed/FAlE7RDK8d4\\\" frameBorder=\\\"0\\\"\\u003e\\u003c/iframe\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"Divider\\\"\\u003e\\u003ci\\u003e\\u003c/i\\u003e\\u003ci\\u003e\\u003c/i\\u003e\\u003ci\\u003e\\u003c/i\\u003e\\u003ci\\u003e\\u003c/i\\u003e\\u003ci\\u003e\\u003c/i\\u003e\\u003ci\\u003e\\u003c/i\\u003e\\u003c/div\\u003e\\u003ch2\\u003eConclusion\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIn this new part of the Michelson tutorial for beginners, we had a look at a Jupyter notebook with a Michelson kernel that we’ll use heavily in the following parts of this tutorial to write, debug, and execute code.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eNew operation codes in Michelson were introduced: \\u003cpre\\u003e\\u003ccode\\u003eCAR\\u003c/code\\u003e\\u003c/pre\\u003e, which extracts the left part of a pair; \\u003cpre\\u003e\\u003ccode\\u003eDUP\\u003c/code\\u003e\\u003c/pre\\u003e, which duplicates the top element of the stack; \\u003cpre\\u003e\\u003ccode\\u003eCDR\\u003c/code\\u003e\\u003c/pre\\u003e, which extracts the right part of a pair; \\u003cpre\\u003e\\u003ccode\\u003eSWAP\\u003c/code\\u003e\\u003c/pre\\u003e, which swaps the positions of the two elements on the top of the stack; and \\u003cpre\\u003e\\u003ccode\\u003eCONCAT\\u003c/code\\u003e\\u003c/pre\\u003e, which takes two strings and returns a single string made of the two previous strings put together.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eAnimations that represent the operations in the stack were also added to help you better visualize and follow what happens at every step. This will become even more useful when the operations in the stack become more complicated and intricate.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eStay tuned!\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e(Previously published behind a paywall here: https://medium.com/better-programming/an-introduction-to-michelson-the-scripting-language-of-tezos-part-2-4cc972c8237c )\\u003c/div\\u003e\",\"owner\":\"mQU6SDxQCbfInNVd2wDklqKZtwy1\",\"profile\":{\"adIcon\":\"fab fa-bitcoin\",\"adLink\":\"https://decentradev.netlify.app/\",\"adText\":\"Decentralized developer\",\"avatar\":\"https://hackernoon.com/avatars/mQU6SDxQCbfInNVd2wDklqKZtwy1.png\",\"bio\":\"Tezos smart contract developer in the making 🌮\",\"displayName\":\"Claude Barde\",\"email\":\"cldbrd84@gmail.com\",\"facebook\":null,\"github\":\"claudebarde\",\"handle\":\"claudebarde\",\"id\":\"mQU6SDxQCbfInNVd2wDklqKZtwy1\",\"linkedin\":null,\"medium\":\"\",\"paymentPointer\":\"$ilp.uphold.com/h2wRXyhN2zk7\",\"preferredCharity\":null,\"pub\":\"IPPJqW76r_jFm2WoOve9ae2brQqVguJVEOWzI9Yn1mQ.0e_1AKaItZO4BR3ZE7Y8FCxVD0ERtQxL8BwuQyyPO6o\",\"showStatsPublicly\":\"\",\"twitter\":\"claudebarde\"},\"published\":true,\"publishedAt\":1592359857,\"slug\":\"using-the-michelson-programming-language-to-write-smart-contracts-on-tezos-a-how-to-guide-part-2-gq233y8e\",\"tags\":[\"tezos\",\"michelson\",\"smart-contracts\",\"programming\",\"latest-tech-stories\",\"how-to-write-smart-contracts\",\"tezos-smart-contracts-guide\",\"writing-smart-contract-tezos\"],\"title\":\"Using the Michelson Programming Language to Write Smart Contracts on Tezos [A How-To Guide] - Part 2\",\"wordCount\":1443},{\"createdAt\":1592358974,\"editor\":{\"displayName\":\"Utsav Jaiswal\",\"handle\":\"Hackerhodl\",\"id\":\"JTw2M3rQabaxNg3EFoNIxjmC1ZB3\"},\"estimatedTime\":6,\"excerpt\":\"As a developer, Ethereum keeps you on your toes. On the plus side, you constantly learn something new and the thrill of the “aha” moments is undeniable.\",\"firstSeenAt\":\"https://tryroll.com/beware-of-transaction-failures-in-old-gnosis-multisig/\",\"id\":\"Ju7WofT4852bLEfP6hjJ\",\"mainImage\":\"https://firebasestorage.googleapis.com/v0/b/hackernoon-app.appspot.com/o/images%2FYeFG2EVymcfdpVYEQEe4sdYJhxn2-jik3yni.webp?alt=media\\u0026token=6a87c6c1-9797-49d9-b2e9-f83d36a91526\",\"mainImageAttributionLink\":null,\"mainImageAttributionName\":null,\"mainImageLink\":null,\"markup\":\"\\u003cdiv class=\\\"paragraph\\\"\\u003eAs a developer, Ethereum keeps you on your toes. On the plus side, you constantly learn something new and the thrill of the “aha” moments is undeniable.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eToday, I want to talk about an interesting scenario that we ran into at Roll with the \\u003ca href=\\\"https://github.com/gnosis/MultiSigWallet/blob/master/contracts/MultiSigWallet.sol\\\"\\u003eold Gnosis multisig wallet\\u003c/a\\u003e. This is a story with a happy ending but also a warning to other developers to handle this scenario gracefully.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003cem\\u003eNote: This is \\u003c/em\\u003e\\u003cem\\u003e\\u003cstrong\\u003enot\\u003c/strong\\u003e\\u003c/em\\u003e\\u003cem\\u003e a vulnerability in the old Gnosis multisig. Rather, developers using this contract need to put in some extra work.\\u003c/em\\u003e\\u003c/div\\u003e\\u003ch2\\u003eTransaction Failure on Ethereum\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eTransaction failures are not uncommon on Ethereum. There could be a number of reasons for it – from hitting an assertion to trying to take actions that the smart contract explicitly forbids (say, trying to run an admin or owner function without being the admin or owner). However, for most regular users, the most common transaction failure is the gas limit.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eBecause Ethereum is \\u003ca href=\\\"https://en.wikipedia.org/wiki/Turing_completeness\\\"\\u003eTuring Complete\\u003c/a\\u003e, it needs to address the \\u003ca href=\\\"https://en.wikipedia.org/wiki/Halting_problem\\\"\\u003ehalting problem\\u003c/a\\u003e, i.e. make sure every program on Ethereum finishes running. Gas is a workaround to address this. Every transaction has a gas limit. If the gas limit is hit, the transaction is reverted.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIt is not hard to find these transactions on Ethereum. Here is an example and how it looks like on Etherscan.\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://firebasestorage.googleapis.com/v0/b/hackernoon-app.appspot.com/o/images%2FYeFG2EVymcfdpVYEQEe4sdYJhxn2-aoy3ye2.webp?alt=media\\u0026amp;token=a29a0f14-8867-40f9-8dec-7eb7e2530d03\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eYou’ll notice two things –\\u003c/div\\u003e\\u003cul\\u003e\\u003cli\\u003eThe “Status” is “Fail”In the “To” field has the error description – “Warning! Error encountered during contract execution [Out of gas]”\\u003c/li\\u003e\\u003cli\\u003eIf you’ve been developing on Ethereum, you’ll notice this is a common occurrence. The solution here is to resubmit the transaction with a higher gas limit and move on.\\u003c/li\\u003e\\u003c/ul\\u003e\\u003ch2\\u003eStatus Success but Out of Gas?\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eWhat we encountered was a transaction where the “Status” is “Success” but the transaction still ran out of gas. Huh?\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eHere’s what that looked like on Etherscan.\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://firebasestorage.googleapis.com/v0/b/hackernoon-app.appspot.com/o/images%2FYeFG2EVymcfdpVYEQEe4sdYJhxn2-hi1e3y0u.webp?alt=media\\u0026amp;token=c4269dad-41e1-4416-a306-bf1a8df1fe26\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003ch2\\u003econfirmTransaction on old Gnosis Multisig\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eLet’s dig in here and see what’s happening behind the scenes.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThe main call we make when confirming a transaction on the old Gnosis multisig wallet is \\u003ca href=\\\"https://github.com/gnosis/MultiSigWallet/blob/master/contracts/MultiSigWallet.sol#L199\\\"\\u003e\\u003cem\\u003econfirmTransaction\\u003c/em\\u003e\\u003c/a\\u003e. This is how it looks –\\u003c/div\\u003e\\u003cdiv class=\\\"code-container\\\"\\u003e\\u003cpre style=\\\"display:block;overflow-x:auto;background:black;color:#eaeaea;padding:30px\\\"\\u003e\\u003ccode\\u003e\\u003cspan style=\\\"color:#c397d8\\\"\\u003efunction\\u003c/span\\u003e confirm\\u003cspan class=\\\"hljs-constructor\\\"\\u003eTransaction(\\u003cspan style=\\\"color:#e78c45\\\"\\u003euint\\u003c/span\\u003e \\u003cspan style=\\\"color:#e78c45\\\"\\u003etransactionId\\u003c/span\\u003e)\\u003c/span\\u003e\\n        public\\n        owner\\u003cspan class=\\\"hljs-constructor\\\"\\u003eExists(\\u003cspan style=\\\"color:#e78c45\\\"\\u003emsg\\u003c/span\\u003e.\\u003cspan style=\\\"color:#e78c45\\\"\\u003esender\\u003c/span\\u003e)\\u003c/span\\u003e\\n        transaction\\u003cspan class=\\\"hljs-constructor\\\"\\u003eExists(\\u003cspan style=\\\"color:#e78c45\\\"\\u003etransactionId\\u003c/span\\u003e)\\u003c/span\\u003e\\n        not\\u003cspan class=\\\"hljs-constructor\\\"\\u003eConfirmed(\\u003cspan style=\\\"color:#e78c45\\\"\\u003etransactionId\\u003c/span\\u003e, \\u003cspan style=\\\"color:#e78c45\\\"\\u003emsg\\u003c/span\\u003e.\\u003cspan style=\\\"color:#e78c45\\\"\\u003esender\\u003c/span\\u003e)\\u003c/span\\u003e\\n    {\\n        confirmations\\u003cspan style=\\\"color:#e78c45\\\"\\u003e[\\u003cspan class=\\\"hljs-identifier\\\"\\u003etransactionId\\u003c/span\\u003e]\\u003c/span\\u003e\\u003cspan style=\\\"color:#e78c45\\\"\\u003e[\\u003cspan class=\\\"hljs-identifier\\\"\\u003emsg\\u003c/span\\u003e.\\u003cspan class=\\\"hljs-identifier\\\"\\u003esender\\u003c/span\\u003e]\\u003c/span\\u003e = \\u003cspan style=\\\"color:#e78c45\\\"\\u003etrue\\u003c/span\\u003e;\\n        \\u003cspan class=\\\"hljs-constructor\\\"\\u003eConfirmation(\\u003cspan style=\\\"color:#e78c45\\\"\\u003emsg\\u003c/span\\u003e.\\u003cspan style=\\\"color:#e78c45\\\"\\u003esender\\u003c/span\\u003e, \\u003cspan style=\\\"color:#e78c45\\\"\\u003etransactionId\\u003c/span\\u003e)\\u003c/span\\u003e;\\n        execute\\u003cspan class=\\\"hljs-constructor\\\"\\u003eTransaction(\\u003cspan style=\\\"color:#e78c45\\\"\\u003etransactionId\\u003c/span\\u003e)\\u003c/span\\u003e;\\n    }\\n\\u003c/code\\u003e\\u003c/pre\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eAs you’ll see, this function is doing two things –\\u003c/div\\u003e\\u003cul\\u003e\\u003cli\\u003eAdd a confirmation to the transaction (e.g. if you set up a 3-of-5 multisig and this was the second confirmation, the status would go from 1-of-5 to 2-of-5)\\u003c/li\\u003e\\u003cli\\u003eExecute the transaction (for the same 3-of-5 multisig, this would execute the transaction during the third confirmation i.e. when the status goes from 2-of-5 to 3-of-5)\\u003c/li\\u003e\\u003c/ul\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThese are not handled atomically, which means \\u003cstrong\\u003eit is possible for the confirmation to succeed and the execute to fail\\u003c/strong\\u003e. This is exactly what happened in our case.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThis is important to note for a few reasons. Firstly, \\u003cstrong\\u003eyou cannot get out of this situation by resubmitting the transaction with a higher gas limit\\u003c/strong\\u003e. If you try, it will just end up failing. The reason is that the transaction is trying to add a confirmation first. If the transaction is already confirmed, then it will simply fail. See the function \\u003cem\\u003eisConfirmed\\u003c/em\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"code-container\\\"\\u003e\\u003cpre style=\\\"display:block;overflow-x:auto;background:black;color:#eaeaea;padding:30px\\\"\\u003e\\u003ccode\\u003e\\u003cspan class=\\\"hljs-function\\\"\\u003e\\u003cspan style=\\\"color:#c397d8\\\"\\u003efunction\\u003c/span\\u003e \\u003cspan style=\\\"color:#7aa6da\\\"\\u003eisConfirmed\\u003c/span\\u003e\\u003cspan style=\\\"color:#e78c45\\\"\\u003e(uint transactionId)\\u003c/span\\u003e\\u003c/span\\u003e\\n        public\\n        constant\\n        returns (bool)\\n    {\\n        uint count = \\u003cspan style=\\\"color:#e78c45\\\"\\u003e0\\u003c/span\\u003e;\\n        \\u003cspan style=\\\"color:#c397d8\\\"\\u003efor\\u003c/span\\u003e (uint \\u003cspan style=\\\"color:#e78c45\\\"\\u003ei\\u003c/span\\u003e=\\u003cspan style=\\\"color:#e78c45\\\"\\u003e0\\u003c/span\\u003e; \\u003cspan style=\\\"color:#e78c45\\\"\\u003ei\\u003c/span\\u003e\\u0026lt;owners.\\u003cspan style=\\\"color:#e78c45\\\"\\u003elength\\u003c/span\\u003e; \\u003cspan style=\\\"color:#e78c45\\\"\\u003ei\\u003c/span\\u003e++) {\\n            \\u003cspan style=\\\"color:#c397d8\\\"\\u003eif\\u003c/span\\u003e (confirmations[transactionId][owners[\\u003cspan style=\\\"color:#e78c45\\\"\\u003ei\\u003c/span\\u003e]])\\n                count += \\u003cspan style=\\\"color:#e78c45\\\"\\u003e1\\u003c/span\\u003e;\\n            \\u003cspan style=\\\"color:#c397d8\\\"\\u003eif\\u003c/span\\u003e (count == required)\\n                \\u003cspan style=\\\"color:#c397d8\\\"\\u003ereturn\\u003c/span\\u003e \\u003cspan style=\\\"color:#e78c45\\\"\\u003etrue\\u003c/span\\u003e;\\n        }\\n    }\\n\\u003c/code\\u003e\\u003c/pre\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eSecond and most importantly, \\u003cstrong\\u003edo not try to submit a new multisig transaction. This could result in a double-spend!\\u003c/strong\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eA naive and tempting way to handle this situation would be to say, “Well, I guess the transaction didn’t go through and I cannot resubmit it. Let me send a new transaction”. Don’t do this.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eTo understand why, here’s a hypothetical. Say you have a contract with a call \\u003cem\\u003epaySalary\\u003c/em\\u003e that does some computation and pays out someone’s salary. This is controlled by an old Gnosis multisig wallet as 2-of-3, so both CEO and CFO need to sign off.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eSay you run into the above situation and the transaction doesn’t seem to go through (you check on the blockchain that indeed the Ether or DAI have not been transferred) and naively submit a new transaction with a different transaction id.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIn the above scenario, the older transaction will be in confirmed state but not executed state, while the new transaction will be both confirmed and executed. This means the recipient can then call \\u003cem\\u003eexecuteTransaction\\u003c/em\\u003e on the contract and be paid twice – essentially a double-spend. So this is a bad way to handle things.\\u003c/div\\u003e\\u003ch2\\u003eThe Schrödinger State\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIn the scenario outlined above, the transaction ended up in a confirmed state, but not executed. Essentially, the transaction is in the following state\\u003c/div\\u003e\\u003cul\\u003e\\u003cli\\u003eisConfirmed: true\\u003c/li\\u003e\\u003cli\\u003eexecuted: false\\u003c/li\\u003e\\u003c/ul\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eYour application needs to be able to handle this “intermediate” state the right way.\\u003c/div\\u003e\\u003ch2\\u003eHandling this Failure the Right Way\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eSo how should this failure case be handled? You should explicitly call the \\u003cem\\u003eexecuteTransaction\\u003c/em\\u003e function on the contract with the transaction id of the original transaction. Here is the function\\u003c/div\\u003e\\u003cdiv class=\\\"code-container\\\"\\u003e\\u003cpre style=\\\"display:block;overflow-x:auto;background:black;color:#eaeaea;padding:30px\\\"\\u003e\\u003ccode\\u003e\\u003cspan style=\\\"color:#c397d8\\\"\\u003efunction\\u003c/span\\u003e execute\\u003cspan class=\\\"hljs-constructor\\\"\\u003eTransaction(\\u003cspan style=\\\"color:#e78c45\\\"\\u003euint\\u003c/span\\u003e \\u003cspan style=\\\"color:#e78c45\\\"\\u003etransactionId\\u003c/span\\u003e)\\u003c/span\\u003e\\n        public\\n        owner\\u003cspan class=\\\"hljs-constructor\\\"\\u003eExists(\\u003cspan style=\\\"color:#e78c45\\\"\\u003emsg\\u003c/span\\u003e.\\u003cspan style=\\\"color:#e78c45\\\"\\u003esender\\u003c/span\\u003e)\\u003c/span\\u003e\\n        confirmed(transactionId, msg.sender)\\n        not\\u003cspan class=\\\"hljs-constructor\\\"\\u003eExecuted(\\u003cspan style=\\\"color:#e78c45\\\"\\u003etransactionId\\u003c/span\\u003e)\\u003c/span\\u003e\\n    {\\n        \\u003cspan style=\\\"color:#c397d8\\\"\\u003eif\\u003c/span\\u003e (is\\u003cspan class=\\\"hljs-constructor\\\"\\u003eConfirmed(\\u003cspan style=\\\"color:#e78c45\\\"\\u003etransactionId\\u003c/span\\u003e)\\u003c/span\\u003e) {\\n            Transaction storage txn = transactions\\u003cspan style=\\\"color:#e78c45\\\"\\u003e[\\u003cspan class=\\\"hljs-identifier\\\"\\u003etransactionId\\u003c/span\\u003e]\\u003c/span\\u003e;\\n            txn.executed = \\u003cspan style=\\\"color:#e78c45\\\"\\u003etrue\\u003c/span\\u003e;\\n            \\u003cspan style=\\\"color:#c397d8\\\"\\u003eif\\u003c/span\\u003e (external\\u003cspan class=\\\"hljs-constructor\\\"\\u003e_call(\\u003cspan style=\\\"color:#e78c45\\\"\\u003etxn\\u003c/span\\u003e.\\u003cspan style=\\\"color:#e78c45\\\"\\u003edestination\\u003c/span\\u003e, \\u003cspan style=\\\"color:#e78c45\\\"\\u003etxn\\u003c/span\\u003e.\\u003cspan style=\\\"color:#e78c45\\\"\\u003evalue\\u003c/span\\u003e, \\u003cspan style=\\\"color:#e78c45\\\"\\u003etxn\\u003c/span\\u003e.\\u003cspan style=\\\"color:#e78c45\\\"\\u003edata\\u003c/span\\u003e.\\u003cspan style=\\\"color:#e78c45\\\"\\u003elength\\u003c/span\\u003e, \\u003cspan style=\\\"color:#e78c45\\\"\\u003etxn\\u003c/span\\u003e.\\u003cspan style=\\\"color:#e78c45\\\"\\u003edata\\u003c/span\\u003e)\\u003c/span\\u003e)\\n                \\u003cspan class=\\\"hljs-constructor\\\"\\u003eExecution(\\u003cspan style=\\\"color:#e78c45\\\"\\u003etransactionId\\u003c/span\\u003e)\\u003c/span\\u003e;\\n            \\u003cspan style=\\\"color:#c397d8\\\"\\u003eelse\\u003c/span\\u003e {\\n                \\u003cspan class=\\\"hljs-constructor\\\"\\u003eExecutionFailure(\\u003cspan style=\\\"color:#e78c45\\\"\\u003etransactionId\\u003c/span\\u003e)\\u003c/span\\u003e;\\n                txn.executed = \\u003cspan style=\\\"color:#e78c45\\\"\\u003efalse\\u003c/span\\u003e;\\n            }\\n        }\\n    }\\n\\u003c/code\\u003e\\u003c/pre\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eCalling the function above will ensure that the original transaction is executed. Be sure to provide sufficient gas for this call.\\u003c/div\\u003e\\u003ch2\\u003eCheck your Data\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIf you use the old Gnosis multisig wallet in your application, it would be wise to check the data on your contract. You can loop through all the transaction ids and look at the following values: \\u003cem\\u003eisConfirmed\\u003c/em\\u003e and \\u003cem\\u003eexecuted\\u003c/em\\u003e. Unfortunately, you cannot get the \\u003cem\\u003eexecuted\\u003c/em\\u003e value via a Web3 call (there is no \\u003cem\\u003eisExecuted\\u003c/em\\u003e function provided).\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIf you come across any transaction that is in the state \\u003cem\\u003eisConfirmed: true executed: false\\u003c/em\\u003e, that’s where you need to pay attention.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIf you find such a transaction, you can make a call to revoke a confirmation that is not yet executed by calling \\u003cem\\u003erevokeConfirmation\\u003c/em\\u003e. This is the function\\u003c/div\\u003e\\u003cdiv class=\\\"code-container\\\"\\u003e\\u003cpre style=\\\"display:block;overflow-x:auto;background:black;color:#eaeaea;padding:30px\\\"\\u003e\\u003ccode\\u003e\\u003cspan style=\\\"color:#c397d8\\\"\\u003efunction\\u003c/span\\u003e revoke\\u003cspan class=\\\"hljs-constructor\\\"\\u003eConfirmation(\\u003cspan style=\\\"color:#e78c45\\\"\\u003euint\\u003c/span\\u003e \\u003cspan style=\\\"color:#e78c45\\\"\\u003etransactionId\\u003c/span\\u003e)\\u003c/span\\u003e\\n        public\\n        owner\\u003cspan class=\\\"hljs-constructor\\\"\\u003eExists(\\u003cspan style=\\\"color:#e78c45\\\"\\u003emsg\\u003c/span\\u003e.\\u003cspan style=\\\"color:#e78c45\\\"\\u003esender\\u003c/span\\u003e)\\u003c/span\\u003e\\n        confirmed(transactionId, msg.sender)\\n        not\\u003cspan class=\\\"hljs-constructor\\\"\\u003eExecuted(\\u003cspan style=\\\"color:#e78c45\\\"\\u003etransactionId\\u003c/span\\u003e)\\u003c/span\\u003e\\n    {\\n        confirmations\\u003cspan style=\\\"color:#e78c45\\\"\\u003e[\\u003cspan class=\\\"hljs-identifier\\\"\\u003etransactionId\\u003c/span\\u003e]\\u003c/span\\u003e\\u003cspan style=\\\"color:#e78c45\\\"\\u003e[\\u003cspan class=\\\"hljs-identifier\\\"\\u003emsg\\u003c/span\\u003e.\\u003cspan class=\\\"hljs-identifier\\\"\\u003esender\\u003c/span\\u003e]\\u003c/span\\u003e = \\u003cspan style=\\\"color:#e78c45\\\"\\u003efalse\\u003c/span\\u003e;\\n        \\u003cspan class=\\\"hljs-constructor\\\"\\u003eRevocation(\\u003cspan style=\\\"color:#e78c45\\\"\\u003emsg\\u003c/span\\u003e.\\u003cspan style=\\\"color:#e78c45\\\"\\u003esender\\u003c/span\\u003e, \\u003cspan style=\\\"color:#e78c45\\\"\\u003etransactionId\\u003c/span\\u003e)\\u003c/span\\u003e;\\n    }\\n\\u003c/code\\u003e\\u003c/pre\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003c/div\\u003e\",\"owner\":\"YeFG2EVymcfdpVYEQEe4sdYJhxn2\",\"profile\":{\"adIcon\":\"fal fa-stars\",\"adLink\":\"https://roll010551.typeform.com/to/QP4IKl\",\"adText\":\"Issue your social money with Roll\",\"avatar\":\"https://hackernoon.com/avatars/YeFG2EVymcfdpVYEQEe4sdYJhxn2.png\",\"bio\":\"Social Money@Roll. Bitcoin and Ethereum believer. Breathing economic life into communities.\",\"displayName\":\"Sid Kalla\",\"facebook\":null,\"github\":null,\"handle\":\"sid\",\"id\":\"YeFG2EVymcfdpVYEQEe4sdYJhxn2\",\"linkedin\":\"https://www.linkedin.com/in/siddharthkalla/\",\"medium\":\"sidko\",\"pub\":\"o0aQOIe13fHS8WdXnjTEw1vJII5jMw7dNDJyYDoTyhg.ELKpxe0CSrB0mqoYkEsxGiHE_6UrD2o52xKoFCevwLw\",\"twitter\":\"sidkal\"},\"published\":true,\"publishedAt\":1592358976,\"slug\":\"transaction-failures-in-the-old-gnosis-multisig-wallets-how-to-fix-it-e41a3yco\",\"tags\":[\"blockchain\",\"ethereum\",\"solidity\",\"smart-contracts\",\"programming\",\"smart-contract-development\",\"multisig-wallets\",\"gnosis\"],\"title\":\"Transaction Failures in The Old Gnosis Multisig Wallets [How To Fix It]\",\"wordCount\":1362},{\"createdAt\":1592383545,\"editor\":{\"displayName\":\"Utsav Jaiswal\",\"handle\":\"Hackerhodl\",\"id\":\"JTw2M3rQabaxNg3EFoNIxjmC1ZB3\"},\"estimatedTime\":3,\"excerpt\":\"I always find it troublesome for me to deploy and interact with Tezos’s Smart Contract at my job as a Software Engineer in my company. So, I decided to build a tool (web app) to solve my problem.\",\"firstSeenAt\":false,\"id\":\"bWvKa4NV1HtMb4hjK2DG\",\"mainImage\":\"https://firebasestorage.googleapis.com/v0/b/hackernoon-app.appspot.com/o/images%2FxIDSZmbOYwcFaYqLMYTkmiRcb5i1-5p532ls.webp?alt=media\\u0026token=54a0b529-1fbf-4613-bb2c-2d2cedef6303\",\"mainImageAttributionLink\":null,\"mainImageAttributionName\":null,\"mainImageLink\":null,\"markup\":\"\\u003cdiv class=\\\"paragraph\\\"\\u003eI always find it troublesome for me to deploy and interact with Tezos’s Smart Contract at my job as a Software Engineer in my company. So, I decided to build a tool (web app) to solve my problem.\\u003c/div\\u003e\\u003ch2\\u003eIdeation\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThe idea to solve my problem is to build a web app so that I can access it anywhere easily and allow me to securely deploy and interact with my Tezos‘s Smart Contract. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eAs I don\\u0026#x27;t want to spend too much time, effort or $$ building a full fledged solution, I decided to just build the features that I need. Therefore, my solution will be a minimum viable product (MVP).\\u003c/div\\u003e\\u003ch2\\u003eMarket Research\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eBefore I even start building my solution, I decided to perform some market research to find out if there are any existing solutions to my problem. It turns out, there are a few solutions available. There are\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003ca href=\\\"https://www.smartpy.io/demo/explore.html\\\"\\u003eSmartPy Contract Explorer\\u003c/a\\u003e - A web app that only allows me to interact with Tezos\\u0026#x27; Smart Contract\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003ca href=\\\"https://github.com/Tezsure/Tezster-GUI\\\"\\u003eTezsure-GUI\\u003c/a\\u003e - A desktop app that allows me to deploy and interact with Tezos\\u0026#x27;s Smart Contract\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003cstrong\\u003eFeature Table\\u003c/strong\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eA feature table is a comparison table that I use to compare my product to my competitor\\u0026#x27;s product on a list of dimensions that I care about. (Based on total points\\u0026#x27; count of 10 with 10 being the best and 1 being the worst).\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://firebasestorage.googleapis.com/v0/b/hackernoon-app.appspot.com/o/images%2FxIDSZmbOYwcFaYqLMYTkmiRcb5i1-3fg32d2.webp?alt=media\\u0026amp;token=93444d8f-c01c-4680-bdb4-fd222ec7bfe2\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003ca href=\\\"https://tezoskt.netlify.app/\\\"\\u003eTezosKT\\u003c/a\\u003e is the name that I have given to my product. There are a total of 4 dimensions that I\\u0026#x27;m concern about my product. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003cstrong\\u003eSecurity \\u003c/strong\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eI gave my product a score of 8 as my Tezos\\u0026#x27;s account is handled by \\u003ca href=\\\"https://docs.tezbridge.com/\\\"\\u003eTezBridge\\u003c/a\\u003e, a Tezos\\u0026#x27;s DApp wallet. The score is lower than Tezsure-GUI as I think that my Tezos\\u0026#x27;s account locally on my PC is more secure as compared to storing it on my browser. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eAs of SmartPy Contract Explorer, it requires me to paste my Tezoz\\u0026#x27;s account private key into their explorer, which is totally not secure. It also does not support interaction with a mainnet Smart Contract. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003cstrong\\u003eEase Of Use\\u003c/strong\\u003e\\u003cbr/\\u003e\\u003cbr/\\u003eI gave my product a score of 7, which is slightly lower than SmartPy Contract Explorer as my product will not be providing auto generating of Smart Contract operation code. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThis feature will require more time and effort for me to build. I feel that is not worth it for me to do that as I can rely on \\u003ca href=\\\"https://better-call.dev/\\\"\\u003eBetter Call Dev\\u003c/a\\u003e, a Tezos\\u0026#x27;s Smart Contract Explorer to generate it for me.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eAs for Tezsure-GUI, I am required to install and build the desktop application locally myself which I think is troublesome. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003cstrong\\u003eContract Origination and Operation\\u003c/strong\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eBoth TezosKT and Tezsure-GUI supports these two types of transaction. SmartPy Smart Contract Explorer doesn\\u0026#x27;t support deployment of external Smart Contract Code.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003cstrong\\u003eFindings and Conclusion\\u003c/strong\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eSo based on the analysis above, I think that my product achieve the best of both worlds in terms of security and ease of use. It also supports my needs which are being able to easily and securely deploy and interact with Tezos\\u0026#x27;s Smart Contract.\\u003c/div\\u003e\\u003ch2\\u003eDevelopment\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThese are the key features for my MVP.\\u003c/div\\u003e\\u003cul\\u003e\\u003cli\\u003eOrigination of Tezos\\u0026#x27;s Smart Contract\\r\\u003c/li\\u003e\\u003cli\\u003eInteraction with Tezos\\u0026#x27;s Smart Contract\\r\\u003c/li\\u003e\\u003cli\\u003ePerform Smart Contract Operation on both mainnet and testnet\\u003c/li\\u003e\\u003cli\\u003eTezBridge DApp wallet integration\\u003c/li\\u003e\\u003c/ul\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThere will be a landing page that explains what my product does to my users as well.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThese are the technology that I used to develop my product.\\u003c/div\\u003e\\u003cul\\u003e\\u003cli\\u003e\\u003ca href=\\\"https://reactjs.org/\\\"\\u003eReactJS\\u003c/a\\u003e (Website)\\u003c/li\\u003e\\u003cli\\u003e\\u003ca href=\\\"https://docs.tezbridge.com/\\\"\\u003eTezBridge\\u003c/a\\u003e (Tezos\\u0026#x27;s DApp Wallet)\\u003c/li\\u003e\\u003cli\\u003e\\u003ca href=\\\"https://www.netlify.com/\\\"\\u003eNetlify\\u003c/a\\u003e (Web Hosting)\\u003c/li\\u003e\\u003c/ul\\u003e\\u003ch2\\u003eResults\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThe information below are screenshots and explanation to my solution.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e(1) Landing Page\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://firebasestorage.googleapis.com/v0/b/hackernoon-app.appspot.com/o/images%2FxIDSZmbOYwcFaYqLMYTkmiRcb5i1-i5a321a.webp?alt=media\\u0026amp;token=5bf9b53b-573a-4e8d-b12d-ac6e21e396ed\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e(2) Dashboard (Select Host)\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://firebasestorage.googleapis.com/v0/b/hackernoon-app.appspot.com/o/images%2FxIDSZmbOYwcFaYqLMYTkmiRcb5i1-f2u32uv.webp?alt=media\\u0026amp;token=f9b091fc-42d6-45cf-80a4-4069f95b3996\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThis feature allows me to select the Tezos\\u0026#x27;s network host that I would like to use.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e(3) Dashboard (Origination)\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://firebasestorage.googleapis.com/v0/b/hackernoon-app.appspot.com/o/images%2FxIDSZmbOYwcFaYqLMYTkmiRcb5i1-3e1032hn.webp?alt=media\\u0026amp;token=2f95fa8b-3db5-4d05-a143-897611f5220d\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThe feature allows me to originate (deploy) my Smart Contract. I am able to set the amount of tez (Tezos coin), \\u003ca href=\\\"https://tezos.gitlab.io/whitedoc/micheline.html\\\"\\u003eMicheline Code\\u003c/a\\u003e and storage\\u0026#x27;s Micheline code of my Smart Contract\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e(4) Dashboard (Transaction)\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://firebasestorage.googleapis.com/v0/b/hackernoon-app.appspot.com/o/images%2FxIDSZmbOYwcFaYqLMYTkmiRcb5i1-o11632ii.webp?alt=media\\u0026amp;token=9ac668fe-f85a-42e2-a5a5-ac97fc52a146\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThe feature allows me to make a transaction to (interact with) my Smart Contract. I am able to set the amount of tez (Tezos coin), Smart Contract address and Micheline parameters of my transaction.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e(5) TezBridge\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://firebasestorage.googleapis.com/v0/b/hackernoon-app.appspot.com/o/images%2FxIDSZmbOYwcFaYqLMYTkmiRcb5i1-0n1832e8.webp?alt=media\\u0026amp;token=93b9d650-493e-467e-bf50-7a1ce879b6cc\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThis feature allows me to manage my Tezos\\u0026#x27;s network host, perform origination and transaction to my Smart Contract. Learn more about it \\u003ca href=\\\"https://docs.tezbridge.com/user.html#dapp-interaction\\\"\\u003ehere\\u003c/a\\u003e.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003cstrong\\u003e👉 \\u003c/strong\\u003eTry TezosKT (1) \\u003ca href=\\\"https://tezoskt.netlify.app/\\\"\\u003eWebsite \\u003c/a\\u003e| (2) \\u003ca href=\\\"https://github.com/luazhizhan/tezos-kt\\\"\\u003eGitHub\\u003c/a\\u003e\\u003c/div\\u003e\",\"owner\":\"xIDSZmbOYwcFaYqLMYTkmiRcb5i1\",\"profile\":{\"adIcon\":\"\",\"adLink\":\"\",\"adText\":\"\",\"avatar\":\"https://hackernoon.com/avatars/xIDSZmbOYwcFaYqLMYTkmiRcb5i1.png\",\"bio\":\"Software Engineer / Product Builder\",\"displayName\":\"Zhi Zhan\",\"email\":\"zhizhanlua@gmail.com\",\"facebook\":null,\"github\":\"luazhizhan\",\"handle\":\"zhizhan\",\"id\":\"xIDSZmbOYwcFaYqLMYTkmiRcb5i1\",\"linkedin\":\"https://www.linkedin.com/in/luazhizhan/\",\"medium\":\"\",\"paymentPointer\":null,\"preferredCharity\":null,\"showStatsPublicly\":\"\",\"twitter\":null},\"published\":true,\"publishedAt\":1592358717,\"slug\":\"building-a-tezoss-smart-contract-dashboard-using-reactjs-tezbridge-and-netlify-a-how-to-guide-z1233yv4\",\"tags\":[\"tezos\",\"product-development\",\"blockchain\",\"smart-contract\",\"programming\",\"dapp\",\"mvp\",\"we-building\"],\"title\":\"Building A Tezos's Smart Contract Dashboard Using ReactJS, TezBridge and Netlify [A How-To Guide]\",\"wordCount\":675}],\"tag\":\"programming\"},{\"stories\":[{\"createdAt\":1592318214,\"editor\":{\"displayName\":\"Utsav Jaiswal\",\"handle\":\"Hackerhodl\",\"id\":\"JTw2M3rQabaxNg3EFoNIxjmC1ZB3\"},\"estimatedTime\":7,\"excerpt\":\"It is fun to speculate on the price of Bitcoin or whatever your favorite asset is, but the real question for our industry is what value are we delivering to our customers. How are we making their lives better, saving them time or money? If a crypto exchange needs a major bull run in Bitcoin to survive, then they have the wrong business model.\",\"firstSeenAt\":false,\"id\":\"5g1OXuWXLUgYYYoAInCC\",\"mainImage\":\"drafts/vf2y30hw.png\",\"mainImageAttributionLink\":null,\"mainImageAttributionName\":null,\"mainImageLink\":null,\"markup\":\"\\u003cdiv class=\\\"paragraph\\\"\\u003eIt is fun to speculate on the price of Bitcoin or whatever your favorite asset is, but the real question for our industry is what value are we delivering to our customers. How are we making their lives better, saving them time or money? If a crypto exchange needs a major bull run in Bitcoin to survive, then they have the wrong business model.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eI sat down with Mr Joel Edgerton for an exclusive “Behind the startup” interview to talk about the story of bitFlyer, its journey into the international stage and the future of the cryptocurrency industry. In this interview, we talk about the tech scene in Japan and how bitFlyer is disrupting the US market.\\u003c/div\\u003e\\u003ch2\\u003e\\u003cstrong\\u003e1. Hi Joel, welcome to our series “Behind the Startup”. Tell us about the story behind bitFlyer and your journey into the blockchain industry?  \\u003c/strong\\u003e\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThanks for having me. I appreciate it. The stereotype of startups in the US is that they are founded in garages. bitFlyer began in 2014 in a bakery in Japan. The founders, Yuzo Kano and Takafumi Komiyama, both previously worked at Goldman Sachs and saw the opportunity in Bitcoin and Blockchain early. The vision they have is to simplify the world with blockchain. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eSince then, we have entered the US and Europe and are the only exchange licensed in all three areas. We also have a separate blockchain company with a next-generation enterprise blockchain platform called “Miyabi”.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eMy background is IT and finance. I have worked in London and Tokyo in capital markets, trust banking, custody, asset management and insurance. In 2006, I started my own company using algorithms based on behavioral economics to help individuals make better-investing decisions. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIt was not as successful as bitFlyer, but it was a great experience. I became interested in Bitcoin around 2012, so I was excited to join bitFlyer to bring their technology and a Japanese level of customer service to the US.\\u003c/div\\u003e\\u003ch2\\u003e\\u003cstrong\\u003e2. bitFlyer is the largest and the most trusted exchange in Japan. What’s the story behind bitcoin in Japan, and how is it different from others? \\u003c/strong\\u003e\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eJapan has been one of the leading countries in Bitcoin for a while now. You can walk into a major electronics store and make a purchase in Bitcoin using your bitFlyer account.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThe government acted early to create a national legal framework to encourage the industry and protect customers. This makes it much easier to innovate and grow the business than here in the US, where we need to work with all 50 states and the federal government to do the same things. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThere is a strong Bitcoin community that has grown through the dark days of the Mt. Gox failure to wide acceptance today. bitFlyer even runs TV commercials in Japan, which you do not see in the US.\\u003c/div\\u003e\\u003ch2\\u003e\\u003cstrong\\u003e3. What experience and working culture does the Japanese powerhouse bitFlyer possess which it’s competitors don’t?\\u003c/strong\\u003e\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIn the US, we have the expression that the customer is king. In Japan, the expression is that the customer is god. This highlights the difference in how customers are treated.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIt is this dedication to our customers, coupled with our technology and passion for the business that sets us apart. Obviously, that is a very high standard to live up to, and sometimes we do not live up to it, but it is that standard that we must pursue.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThe $500 Million Coincheck hacks occurred in 2018 and that made regulators more strict about committing to the security of the exchanges to protect the interests of investors. \\u003c/div\\u003e\\u003ch2\\u003e\\u003cstrong\\u003e4. What commitments has bitFlyer put in place for the security of funds, and do you feel that security is now among one of the unique selling points for bitFlyer to its global customer base? \\u003c/strong\\u003e\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eSecurity is absolutely critical, and we spend significant resources and effort to protect our customers. We implemented multi-sig, 2FA, and store almost all customer assets in cold wallets. We have neutral 3rd parties review our systems and processes so we can continuously improve our security. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eI think it is important to note that bitFlyer does not try to take shortcuts like many of our competitors. Our 2.5 million customers trust us with their money for a reason. We protect customer money, we do not go offline when the market is volatile, and we do not abandon our customers to avoid regulation. \\u003c/div\\u003e\\u003ch2\\u003e\\u003cstrong\\u003e5. Regulation is the way going forward for the blockchain industry. How has bitFlyer invested its time into strengthening its relationship with state and federal regulators? What are its benefits and indicators? \\u003c/strong\\u003e\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003ebitFlyer was a founding member of the Japan Blockchain Association (JBA) and the Japan Virtual and Crypto Assets Exchange Association (JVCEA) which is the Self-Regulatory Organization (SRO) for crypto exchanges in Japan. In the US, we joined together with Gemini Trust to create the Virtual Commodities Association (VCA) with the goal of developing the first crypto SRO in the US. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eWe were also the first non-US company to receive the New York BitLicense (fourth overall) in 2017 and currently holds licenses to operate in 47 US states and territories. We have a very respected Chief Compliance Officer in David Zacks, who has experience on both the business side and regulatory side of the industry. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eObviously, we take regulations and protecting our customers very seriously. While regulation in the US is difficult to navigate due to the lack of clarity between states and federal authority, we think it is essential to work with regulators to have common-sense rules that allow for innovation while still protecting customers. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eWe need to work together to expand the benefits of blockchain technology beyond the core community.\\u003c/div\\u003e\\u003ch2\\u003e\\u003cstrong\\u003e6. From a pure product perspective, what does bitFlyer US offer to retail investors that separates itself from the rest of its competitors? \\u003c/strong\\u003e\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eI think the primary differentiation is that we care about our customers and doing right by them. There are competitors with fancy interfaces, offer 125X leverage and have more coins. However, those are not necessarily in the best interests of the customers. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eWe focus on a simple interface that allows customers to buy coins easily without wasting their time. We minimize leverage to protect customers from taking on too much risk. We only list coins that solve real problems. There are many things that we can do better, and we love it when our customers work with us to make bitFlyer better. \\u003c/div\\u003e\\u003ch2\\u003e\\u003cstrong\\u003e7. What products does bitFlyer offer to its institutional clients, and what’s the value proposition for them? \\u003c/strong\\u003e\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eOur founders came from Goldman Sachs so our trading exchange, called Lightning, was built for professional traders and institutional clients. We have low fees compared to other exchanges and APIs made for institutional trading. Institutional clients can use the same APIs and tap liquidity in our US, EU and Japan markets. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eWe also have account managers assigned to our institutional clients to quickly handle any issues and make sure we listen to them and continually deliver value to them. Lastly, we work with institutional clients that want to use entities in the Cayman Islands or Hong Kong to make sure their on-boarding process is smooth and meets all US KYC and regulator requirements with minimal hassle.\\u003c/div\\u003e\\u003ch2\\u003e\\u003cstrong\\u003e8. Do you believe that quantitative easing is going to have an effect on the cryptocurrency market and its curve of adoption?\\u003c/strong\\u003e\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eAn excellent question. I have always been more of a fundamental investor rather than a technical trader. I can understand the value of scarcity on the supply side, but what drives cryptocurrency on the demand side, other than psychology? \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThe logic is that massive increases in money supply will devalue fiat currency relative to scarce assets like Bitcoin and increase their demand. I agree with that logic, but when? Japan has been printing money for decades and is still on the brink of deflation. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eI saw a chart the other day comparing US interest rates to the monetary base as a percentage of GDP. The time frame for interest rates rising after\\u003cbr/\\u003emassive currency printing was measured in decades.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIt is fun to speculate on the price of Bitcoin or whatever your favorite asset is, but the real question for our industry is what value are we delivering to our customers. How are we making their lives better, saving them time or money? If a crypto exchange needs a major bull run in Bitcoin to survive, then they have the wrong business model.\\u003c/div\\u003e\\u003ch2\\u003e\\u003cstrong\\u003e9. The Coronavirus pandemic has led to a financial crisis worldwide. How is bitFlyer approaching this problem and what opportunities do you see ahead amidst this coronavirus pandemic? \\u003c/strong\\u003e\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eWe moved very early to fully remote working, and it has gone well so far. Digitally native companies like bitFlyer already have significant advantages, and the decentralization mantra of the crypto world is another strength. The pandemic has highlighted those advantages even further. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eI think remote working will expand significantly, with companies that have cultures that embrace decentralization thriving and companies that don’t revert back to centralized offices. The commercial real estate industry will be hurting for years to come.\\u003c/div\\u003e\\u003ch2\\u003e\\u003cstrong\\u003e10. What trends and challenges do you use for the cryptocurrency and blockchain industry in the year 2020 going forward? \\u003c/strong\\u003e\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eJust like necessity is the mother of invention; the invention is the mother of necessity. Satoshi’s blockchain / Bitcoin invention to address the failures of the 2008 financial crisis has created new industries that did not previously exist. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eWe are still in the early days of this Cambrian explosion of innovation. I do not know how it will look in the end, but the companies that are solving real problems and are passionate about their mission should thrive, and the scams that are leeching off of that innovation should die off. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThe one thing I know for sure is that this is a fun time to be in the industry, and I am going to enjoy the journey.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003cem\\u003eThe purpose of this article is to remove informational asymmetry existing today in our digital markets by performing due diligence by asking the right questions and equipping readers with better opinions to make informed decisions. The writer does not have any vested interest in the company. The views in these articles are purely personal and educational; the material does not constitute any investment, financial or legal advice. Please do your research before investing in any digital assets or tokens, etc. Interviewer - Ishan Pandey, Founder Blockchain Research.\\u003c/em\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e                                                            ******\\u003c/div\\u003e\",\"owner\":\"7rEmNIeHNFOBfZZtUMQerOZIGGH3\",\"profile\":{\"adIcon\":\"fab fa-bitcoin\",\"adText\":\"In war, truth is the first casualty.\",\"avatar\":\"https://hackernoon.com/avatars/7rEmNIeHNFOBfZZtUMQerOZIGGH3.png\",\"bio\":\"Technology Lawyer working on code and everything law. \\nFounder : Blockchain Paper\",\"displayName\":\"Ishan Pandey\",\"facebook\":null,\"github\":null,\"handle\":\"Ishan Pandey\",\"id\":\"7rEmNIeHNFOBfZZtUMQerOZIGGH3\",\"linkedin\":\"https://www.linkedin.com/in/ishanpandey11/\",\"medium\":\"blockchainpaper\",\"pub\":\"FWVHFEHWaHsxG37nOw219YMSAtVtpZgpmC1o4Rcj_Qg.gJvZs2M07A_ImKLz2hdDMIMDGDO83xYaGzdTh6aTIIE\",\"twitter\":null},\"published\":true,\"publishedAt\":1592318215,\"slug\":\"in-the-us-customer-is-king-in-japan-customer-is-god-an-interview-with-joel-edgerton-ds2o3y2g\",\"tags\":[\"cryptocurrency\",\"decentralization\",\"entrepreneurship\",\"startups\",\"interview\",\"innovation\",\"interview-transcript\",\"cryptocurrency-exchange\"],\"title\":\"\\\"In the US, Customer is King. In Japan, Customer is God\\\": An Interview with  Joel Edgerton\",\"wordCount\":1780},{\"createdAt\":1592279212,\"editor\":{\"displayName\":\"Arthur\",\"handle\":\"arthur.tkachenko\",\"id\":\"3nhao37bBEfHA9RTQ0WNVWfXPD02\"},\"estimatedTime\":3,\"excerpt\":\"Companion advertising is exceptionally successful for those who understand what you are performing. As soon as you have become successful and are making a really good salary from this, look at inquiring your plan for a higher quantity of loan.\",\"firstSeenAt\":false,\"id\":\"PVNeDFmqWUbWURqxM7Ly\",\"mainImage\":\"drafts/71ls3v9c.png\",\"mainImageAttributionLink\":null,\"mainImageAttributionName\":null,\"mainImageLink\":null,\"markup\":\"\\u003cdiv class=\\\"paragraph\\\"\\u003eCompanion advertising is exceptionally successful for those who understand what you are performing. As soon as you have become successful and are making a really good salary from this, look at inquiring your plan for a higher quantity of loan.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eBunches of partner advertising simply do each one of all of them a prejudice via bearing down also hard to develop into \\u0026quot;surprisingly\\u0026quot; affiliates. They attempt to take as well as extreme industry products as well\\u003cbr/\\u003eas also they expanded incredibly slim and likewise, they find yourself say\\u003cbr/\\u003egoodbye to handling to accomplish in the marketplace. Max result you can\\u003cbr/\\u003eaccomplish. You need to have to need to be a person and also find a steady approach for you.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eTop secret links may also trigger an on the internet search engine to review your internet web site as questionable consequently utilize each one of all of them with the procedure. There are a variety of techniques to feature internet links within your notification without every one of them being entirely detectable. If you use links and make the most of their use, be\\u003cbr/\\u003esincere regarding them. Make certain your audiences understanding the context of the content link so you will not startle them.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThere are tons of associate systems to pick from. Each one possesses a various assortment of items and adaptability.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eDo not choose a partner course without very first determining that your audience. This will certainly assist you in accord along with their requirements and also a better understanding of that your viewers are.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eMake sure you on a personal level. Audiences assist writers that provide them and are much more probably to hit your links.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003ePartner advertising and marketing courses may help to industry\\u003cbr/\\u003eyour online business. Affiliate courses have been revealed to produce much more internet site web traffic than easy methods, including ensign ads and also media. When picking a partner program, take into consideration the amount of you will certainly get for recommendations, as well as the credibility and style of the vendor\\u0026#x27;s web site.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003ePrevious post: \\u003ca href=\\\"https://hackernoon.com/tips-for-green-energy-technology-9v5m3y4m\\\"\\u003eTips for Green Energy Technology\\u003c/a\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIt is critical to see live statistics. These types of numbers help you to know how many individuals have produced purchases versus the number of true guests your site has had.\\u003cbr/\\u003e\\u003cbr/\\u003eSee to it that your advertising and marketing is appropriate for the items you sell with partner companions. You ought to opt for focused marketing if you are marketing a quite pricey product. Attempt creating transcribed details or add that you may place and also check up on your internet site.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eAn excellent associate marketing ti [is actually to make your newsletter so well it will encourage folks to join your mailing roster. Today with the increase of spam, you need to engage individuals to acquire them to review your emails.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIt is necessary to be open and also straightforward along with any person reading your customers in partner advertising job. Being genuine is crucial to building a good way to develop a steady reader core that is dedicated to you.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eOne of the best means to advertise any product as a partner marketing expert is to have evident pleasure in the items yourself. You can easily write discourse or maybe informational product on your items to be\\u003cbr/\\u003eaccepted listings and customer reviews. Online forums will certainly likewise be a wonderful way to discuss your adventures with the items you sell.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eDon\\u0026#x27;t pull the final thought right away that all 100% compensation is a fraud. Some companies can use this system because they obtain the benefit from registrations on their own. Because it may be a successful endeavor for you, take the opportunity to take into consideration all the terms before creating a near look at such a deal.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eLevel and determine your website visitors by making it clear that you carry out get remittance from the associates your web site links to. Your viewers can easily inform exactly how associate links seem like and hiding this reality will simply make them not rely on you. Being sincere will enhance the chances of site visitors to make their purchases in a fashion that benefits you.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003ePartner markets who have started to create some serious cash must always make every effort to enhance their marketing project. Your goal is actually to regularly carry out more than you are performing at the moment as well as advancement. The best significant factor is actually to keep from being obsequious as well as constantly work towards your company.\\u003c/div\\u003e\\u003cdiv class=\\\"Divider\\\"\\u003e\\u003ci\\u003e\\u003c/i\\u003e\\u003ci\\u003e\\u003c/i\\u003e\\u003ci\\u003e\\u003c/i\\u003e\\u003ci\\u003e\\u003c/i\\u003e\\u003ci\\u003e\\u003c/i\\u003e\\u003ci\\u003e\\u003c/i\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eAs appears by the information in this particular post through \\u003ca href=\\\"http://richardbishara.com/\\\"\\u003eRichard Bishara\\u003c/a\\u003e, associate advertising isn\\u0026#x27;t very as complex as it seems to be\\u003cbr/\\u003eat first look. The initiative invested in study or even networking will pay off\\u003cbr/\\u003eover time. Look at which of the ideas you find to become the best benefits as you create a meaningful approach to partner advertising.\\u003c/div\\u003e\",\"owner\":\"3EhUDxblxdU3ZTVEQG00wCBBEHn2\",\"profile\":{\"adIcon\":\"\",\"adLink\":\"\",\"adText\":\"\",\"avatar\":\"https://hackernoon.com/avatars/3EhUDxblxdU3ZTVEQG00wCBBEHn2.png\",\"bio\":\"I am digital marketing professional. I love to read \\u0026 share new marketing technologies, trends, etc.\",\"displayName\":\"Richard Bishara\",\"email\":\"richardbisharaa@gmail.com\",\"facebook\":\"RichardBisharaa\",\"github\":null,\"handle\":\"richard-bishara\",\"id\":\"3EhUDxblxdU3ZTVEQG00wCBBEHn2\",\"isReader\":true,\"linkedin\":\"https://www.linkedin.com/in/richard-bishara-76833658\",\"medium\":\"\",\"name\":null,\"pub\":\"yJxGbY-qnsorfYcL1kEcINCaKRCRnHQaaWkXshYTSGY._97Q9XS4lBximheO7h1uKyzEtrEeWL_etrAmFesdGs8\",\"twitter\":\"Richard Bishara\"},\"published\":true,\"publishedAt\":1592279225,\"slug\":\"affiliate-marketing-tips-for-beginners-zlv3uk1\",\"tags\":[\"affiliate-marketing\",\"trends-in-affiliate-marketing\",\"good-affiliate-marketing\",\"marketing\",\"growth\",\"growth-hacking\",\"business\",\"startups\"],\"title\":\"Affiliate Marketing Tips for Beginners\",\"wordCount\":790},{\"createdAt\":1589325023,\"editor\":{\"displayName\":\"Arthur\",\"handle\":\"arthur.tkachenko\",\"id\":\"3nhao37bBEfHA9RTQ0WNVWfXPD02\"},\"estimatedTime\":28,\"excerpt\":\"In the world of podcasting, the flywheel is spinning: new technologies including AirPods, connected cars, and smart speakers have made it much easier for consumers to listen to audio content, which in turn creates more revenue and financial opportunity for creators, which further encourages high-quality audio content to flow into the space. There are now over 700K free podcasts available and thousands more launching each week.\",\"firstSeenAt\":false,\"id\":\"beJW45i6cEx2yFIJpZQt\",\"mainImage\":\"https://images.unsplash.com/photo-1554200876-907f9286c2a1?ixlib=rb-1.2.1\\u0026q=80\\u0026fm=jpg\\u0026crop=entropy\\u0026cs=tinysrgb\\u0026w=1080\\u0026fit=max\\u0026ixid=eyJhcHBfaWQiOjEwMDk2Mn0\",\"mainImageAttributionLink\":\"https://unsplash.com/@cowomen\",\"mainImageAttributionName\":\"CoWomen\",\"mainImageLink\":\"https://unsplash.com/photos/UUPpu2sYV6E\",\"markup\":\"\\u003cdiv class=\\\"paragraph\\\"\\u003eIn the world of podcasting, the flywheel is spinning: new technologies including AirPods, connected cars, and smart speakers have made it much easier for consumers to listen to audio content, which in turn creates more revenue and financial opportunity for creators, which further encourages high-quality audio content to flow into the space. There are now over \\u003ca href=\\\"https://www.podcastinsights.com/podcast-statistics/\\\"\\u003e700K\\u003c/a\\u003e free podcasts available and thousands more launching each week.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eAs new tech platforms hit scale, we on the consumer team have been closely watching the future of media and the technology driving it — in \\u003cbr/\\u003eall forms. We’re interested in investing in the \\u003ca href=\\\"https://a16z.com/2018/12/08/consumer-startups-tech-platforms-scale-behavior-growth-summit-2018/\\\"\\u003enext wave of consumer products\\u003c/a\\u003e and startups coming into the ecosystem, and that includes the audio ecosystem.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eOur investment philosophy is to not be too prescriptive, so we do the kind of “market map” overview below to help us have a “prepared mind” when we see new startups in the space. The below deck and commentary (with some sections redacted, of course) was presented to the extended consumer team, including general partners \\u003ca href=\\\"https://a16z.com/author/connie-chan/\\\"\\u003eConnie Chan\\u003c/a\\u003e and \\u003ca href=\\\"https://a16z.com/author/andrew-chen/\\\"\\u003eAndrew Chen\\u003c/a\\u003e, who are investing in this space. If you’re working on anything interesting in this area, we’d love to hear from you!\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e(P.S.: If you’re interested in getting a PDF version of the 68-page deck itself, \\u003ca href=\\\"https://pages.a16z.com/Podcasting-Ecosystem-Slides.html\\\"\\u003eyou can sign up for our newsletter to get a copy\\u003c/a\\u003e.)\\u003c/div\\u003e\\u003ch2\\u003eFrom niche internet community to one-third of Americans\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eOver the course of the last 10 years, podcasts have steadily grown from a niche community of audiobloggers distributing files over the internet, to one-third of Americans now listening monthly and a quarter listening weekly.\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/Vz02PsfCbQga1SxmztxgUiidpS33-7w25z2ebd\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003cem\\u003eAmericans listening weekly to podcasts grew from 7% in 2013 to 22% in 2019. 65% of monthly podcast listeners have been listening for less than 3 years.\\u003c/em\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003ePeople are already spending a lot of time on podcasts, and it’s growing: listeners are consuming 6+ hours per week and consuming more content every year.\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/Vz02PsfCbQga1SxmztxgUiidpS33-zs2by2ep6\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003cem\\u003eAmong weekly podcast listeners, there’s high consumption: 7 episodes per week and nearly 1 hour per day.\\u003c/em\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThe demographic of podcast listeners is not your average American. Roughly half of podcast listeners make $75,000 or more in annual income; a majority have a post-secondary degree; and almost one-third have a graduate degree [\\u003ca href=\\\"https://www.edisonresearch.com/the-podcast-consumer-2017/\\\"\\u003esource\\u003c/a\\u003e]. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThere’s also a gender gap with podcast listeners skewing mostly male, mirroring the gap among podcast creators as well. However, the gender gap has narrowed from a \\u003ca href=\\\"https://www.edisonresearch.com/women-podcast-listeners-closing-the-listening-gender-gap/\\\"\\u003e25% gap in 2008 to 9% today\\u003c/a\\u003e.\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/Vz02PsfCbQga1SxmztxgUiidpS33-vp2do2efp\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003cem\\u003ePodcast listeners are not your typical American: they’re affluent, highly educated, and skew male.\\u003c/em\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIn the years following the release of Apple’s podcast app in 2012, smartphones pulled ahead of computers for podcast consumption and have grown to become the dominant way that consumers listen to podcasts. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThe green line includes smart speakers, which have grown 70% year over year in terms of listening.\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/Vz02PsfCbQga1SxmztxgUiidpS33-672fs2eav\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003cem\\u003eSince Apple launched its Podcasts app in 2012, smartphones have quickly grown to become the most common device for podcast consumption.\\u003c/em\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eWhat may surprise people living in heavy commuter markets is that listening primarily happens at \\u003cem\\u003ehome\\u003c/em\\u003e, which represents almost half of all podcast consumption.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eWe would also anticipate that more recent technologies like Bluetooth-enabled cars and smart speakers — now owned by 53M Americans or \\u003ca href=\\\"https://www.npr.org/about-npr/682946406/npr-report-smart-speakers-see-78-increase-yoy\\\"\\u003e21% of the population\\u003c/a\\u003e — could change the mix of where podcast listening happens.\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/Vz02PsfCbQga1SxmztxgUiidpS33-0w2id2eyc\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003cem\\u003eThe lion’s share of podcast listening happens at home, followed by taking place in a vehicle.\\u003c/em\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/Vz02PsfCbQga1SxmztxgUiidpS33-xb2la2eaq\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cul\\u003e\\u003cli\\u003e\\u003ca href=\\\"https://pages.a16z.com/Podcasting-Ecosystem-Slides.html\\\"\\u003ehttps://pages.a16z.com/Podcasting-Ecosystem-Slides.html\\u003c/a\\u003e\\u003c/li\\u003e\\u003c/ul\\u003e\\u003ch2\\u003e\\u003c/h2\\u003e\\u003ch2\\u003eA brief history of podcasting\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eSimply put, podcasts are digital audio files that users can download — or in some applications, stream — and listen to. While podcasts differ widely in terms of content, format, production value, style, and length, they’re all distributed through RSS, or Really Simple Syndication, a standardized web feed format that is used to publish content. For podcasts, the RSS feed contains all the metadata, artwork, and content of a show.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eTo listen to a podcast, a user adds the RSS feed to their podcast client (such as Apple Podcasts, Spotify, etc.), and the client then accesses this feed, checks for updates, and downloads any new files. Podcasts can be accessed from computers, mobile apps, or other media players. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eOn the podcast creator side, creators host the RSS feed as well as the show’s content and media on a hosting provider, and submit the shows to various directories, such as Apple’s podcast directory.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003ePodcast content is typically available for free, though creators can choose to set up private RSS feeds that require payment to access.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eCurrent headlines about podcasts today hail them as the next major content medium, describing them as “suddenly hot”, as the next battlefield for content, and as an “antidote” for our current news environment:\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/Vz02PsfCbQga1SxmztxgUiidpS33-fa2md2ezt\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/Vz02PsfCbQga1SxmztxgUiidpS33-g92pn2eey\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/Vz02PsfCbQga1SxmztxgUiidpS33-fg2qj2ewn\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/Vz02PsfCbQga1SxmztxgUiidpS33-v72r22eok\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eHow did this “suddenly” happen? As with all tech trends, it had a longer and slower start before going more mainstream. Let’s time travel back 15 years ago, when there were no smartphones and the internet was accessed only through desktop computers.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIn February 2004, journalist Ben Hammersley wrote about the emergent \\u003cbr/\\u003ebehavior of automatically downloading audio content in a February \\u003ca href=\\\"https://www.theguardian.com/media/2004/feb/12/broadcasting.digitalmedia\\\"\\u003earticle\\u003c/a\\u003e in \\u003cem\\u003eThe Guardian\\u003c/em\\u003e:\\u003c/div\\u003e\\u003cblockquote\\u003e“MP3 players, like Apple’s iPod, in many pockets, audio production software cheap or free, and weblogging an established part of the internet; all the ingredients are there for a new boom in amateur radio. But what to call it? Audioblogging? Podcasting? GuerillaMedia?”\\u003c/blockquote\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIn doing so, Hammersley accidentally invented the term we still use today, “podcasting” — a portmanteau of “iPod” and “broadcast” — for this kind of content. The word was added to the Oxford English Library later that year.\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/Vz02PsfCbQga1SxmztxgUiidpS33-uf2ry2e09\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIn 2005, podcasts were added to the iTunes store, with Steve Jobs saying, “Podcasting is the next generation of radio, and users can now subscribe to over 3,000 free Podcasts and have each new episode automatically delivered over the Internet to their computer and iPod.”\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIn 2007, the first iPhone was introduced, but it wouldn’t be until 2012 that Apple created the Podcasts app. The release of this app is widely considered an inflection point for the industry, as it put podcasts a single tap away for hundreds of millions of users around the world. Ironically, a few months later, Google discontinued its own podcast app called Google Listen.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIn 2014, the first season of Serial aired, considered to be the first breakout podcast, with its narrative audio journalism drawing in 5M downloads in the first month.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIn the past 5 years, there’s been an explosion of listening behavior and innovative content. New devices made it easier to listen: Alexa launched in 2015, Google Home and AirPods in 2016. And an explosion of new content — ranging from daily news to narrative to talks shows — met the growing listener appetite. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIn tandem, ad spend has been growing steadily each year, from $69 to $220M in 2017 [\\u003ca href=\\\"https://ksmmedia.com/intel/tuning-in-to-podcasting/\\\"\\u003esource\\u003c/a\\u003e].\\u003c/div\\u003e\\u003ch2\\u003eThe app landscape\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003cstrong\\u003eMany apps for listening to podcasts, but little differentiation or loyalty\\u003c/strong\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eApple Podcasts played a pivotal role in the development of the industry and remains the dominant app for listening. However, its market share has fallen in the last few years, from over 80% to 63%. The corollary to this stat is that historically, podcasting has been predominantly an iOS user behavior, given that Google didn’t have its own native application, something that changed last summer with the launch of Google Podcasts.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIn 2005, podcasts were added to the iTunes store, with Steve Jobs \\u003cbr/\\u003esaying, “Podcasting is the next generation of radio, and users can now \\u003cbr/\\u003esubscribe to over 3,000 free Podcasts and have each new episode \\u003cbr/\\u003eautomatically delivered over the Internet to their computer and iPod.”\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIn 2007, the first iPhone was introduced, but it wouldn’t be until \\u003cbr/\\u003e2012 that Apple created the Podcasts app. The release of this app is \\u003cbr/\\u003ewidely considered an inflection point for the industry, as it put \\u003cbr/\\u003epodcasts a single tap away for hundreds of millions of users around the \\u003cbr/\\u003eworld. Ironically, a few months later, Google discontinued its own \\u003cbr/\\u003epodcast app called Google Listen.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIn 2014, the first season of Serial aired, considered to be \\u003cbr/\\u003ethe first breakout podcast, with its narrative audio journalism drawing \\u003cbr/\\u003ein 5M downloads in the first month.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIn the past 5 years, there’s been an explosion of listening behavior \\u003cbr/\\u003eand innovative content. New devices made it easier to listen: Alexa \\u003cbr/\\u003elaunched in 2015, Google Home and AirPods in 2016. And an explosion of \\u003cbr/\\u003enew content — ranging from daily news to narrative to talks shows — met \\u003cbr/\\u003ethe growing listener appetite. In tandem, ad spend has been growing \\u003cbr/\\u003esteadily each year, from $69 to $220M in 2017 [\\u003ca href=\\\"https://ksmmedia.com/intel/tuning-in-to-podcasting/\\\"\\u003esource\\u003c/a\\u003e].\\u003c/div\\u003e\\u003ch2\\u003eThe app landscape\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eMany apps for listening to podcasts, but little differentiation or loyalty\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eApple Podcasts played a pivotal role in the development of the \\u003cbr/\\u003eindustry and remains the dominant app for listening. However, its market\\u003cbr/\\u003e share has fallen in the last few years, from over 80% to 63%. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThe corollary to this stat is that historically, podcasting has been \\u003cbr/\\u003epredominantly an iOS user behavior, given that Google didn’t have its \\u003cbr/\\u003eown native application, something that changed last summer with the \\u003cbr/\\u003elaunch of Google Podcasts.\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/Vz02PsfCbQga1SxmztxgUiidpS33-r52yf2emp\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003cem\\u003eApple’s share of the podcasting market has slipped from over 80% to 63%, while Spotify has quickly grown to almost 10% of the market.\\u003c/em\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eSpotify — which has made a big push into podcasts in just the past couple years — now accounts for almost 10% of listening.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eBeyond these two large companies, there’s a long tail of listening apps from smaller companies. Most of these apps all have roughly the same content, given widely open directories of podcast RSS feeds. And there’s hundreds more listening apps out there. The barriers to entry for creating a new podcast app are quite low, since content is all distributed via RSS feeds and anyone can access them. There are also tools for creators to create their own podcast app from their own RSS feed.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eA note on comparing listening apps: metrics between apps are not entirely an apples-to-apple comparison, as some apps (like Apple Podcasts, Overcast, and Stitcher) auto-download shows that users subscribe to, whereas others (e.g. Spotify, Castbox) don’t continuously download new episodes. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThis affects comparisons between apps and may overstate the traction of listening apps that auto-download shows. The industry has not standardized around what defines a download or listen.\\u003c/div\\u003e\\u003ch2\\u003eA taxonomy of consumer podcast apps\\u003c/h2\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eFrom our research, users seldom feel passionately — either positively or negatively — about the podcast app they’re using. This suggests that the audio content itself is the core element users are engaging with, and since the content is the same on all apps, users don’t feel particular affinity to any one listening app.\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/Vz02PsfCbQga1SxmztxgUiidpS33-en3442ei8\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003cem\\u003eThree major categories of consumer podcast listening apps: the incumbent, large existing audience and new podcast focus, and long tail listening apps.\\u003c/em\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eI categorized consumer podcast listening apps into three major categories:\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThe incumbent: Apple PodcastsCompanies with large, existing audiences who are newly focusing on podcastsLong-tail listening apps\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThe major feature of Apple Podcasts is that — despite its shortcomings in user-facing features and monetization — it’s pre-installed on all iPhones, making it a tap away for 900M people worldwide. We estimate that Apple Podcasts has 27M monthly active users in the U.S., based on App Annie, so a sizeable absolute number but relatively small compared to the total install base. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eThough Apple accounts for the majority of podcast listening, the company currently doesn’t monetize podcasting at all — all ads that you hear on podcasts are a result of advertisers and podcasters connecting off-platform.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eFor some users, the app is a basic, functional listening app, as compared to other media apps and products, with rudimentary categorization and discovery features. For some creators, the features it currently lacks include native monetization capabilities, in-depth analytics, demographic information for listeners, or any attribution for where listeners come from. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eSince Apple Podcasts launched in 2012, the app itself has changed very little. The \\u003cem\\u003eNew York Times \\u003c/em\\u003e\\u003ca href=\\\"https://www.nytimes.com/2016/05/08/business/media/podcasts-surge-apple.html\\\"\\u003ewrote\\u003c/a\\u003e in 2016 that “the iTunes podcasting hub that Mr. Jobs introduced remains strikingly unchanged,” and beyond adding more analytics features in 2017, the same still holds true today.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eIn the second category, there’s a number of media and technology companies that have large existing audiences making a big push into \\u003cbr/\\u003epodcasts, including Spotify, Pandora, and iHeartRadio. The strategies for these companies are mostly centered around leveraging their existing audiences to cross-promote podcasts; using listener data to personalize listening experiences or to help surface relevant podcasts; and leveraging their reach and existing monetization mechanisms to help creators earn more revenue. \\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eGoogle, which launched a standalone Podcasts app last year, has \\u003ca href=\\\"https://blog.pacific-content.com/exclusive-inside-the-new-google-podcasts-strategy-that-could-double-audiences-worldwide-b556cdc26e43\\\"\\u003etalked\\u003c/a\\u003e about making podcasts a first-class citizen in terms of surfacing podcast content in search results, as well as the growth opportunity that Google users worldwide represent in terms of potential podcast listeners.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eFinally, there’s the long tail of podcast apps. These are comprised of startups and a fair number of non-VC funded companies. These apps are\\u003cbr/\\u003epredominantly competing on the basis of better user-facing features such as improved discovery, search, and social capabilities, as well as creator monetization including their own ad networks or direct user monetization features. Increasingly, startups in this last category are also looking for other ways to distinguish themselves outside of listening experience — including experiments with exclusive, sometimes paid, content.\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eA discussion about shifting user behavior around consuming podcasts \\u003cbr/\\u003ewould be incomplete without calling out Spotify. In just the past few years, Spotify has burst onto the podcast landscape, moving from being music-centered to “audio-first”, and becoming the second largest platform for listening after Apple Podcasts.\\u003c/div\\u003e\\u003cdiv class=\\\"image-container\\\"\\u003e\\u003cimg src=\\\"https://hackernoon.com/photos/Vz02PsfCbQga1SxmztxgUiidpS33-m53992eer\\\" alt=\\\"\\\"/\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003e\\u003cem\\u003eSpotify’s market share in podcasting has grown to 9% in a few short years based on data from Libsyn, a podcast hosting provider, and the company has laid out plans to become a destination for all types of audio content.\\u003c/em\\u003e\\u003c/div\\u003e\\u003cdiv class=\\\"paragraph\\\"\\u003eInterestingly, Spotify may be gr
[...]
