{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_934340e9-24a2-46fc-bc4f-a7370ea7e676",
            "value": "✓"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "apiversion_4686ba1b-1077-4b67-ac55-50e98da372ac",
        "apiId": "api_656631bd-6847-4a50-9522-a47ff8cc0c08"
    },
    "info": {
        "title": "QRCode",
        "description": "Customisable QR Codes. Support for styles, images and more! Bare metal engine gives it incredible speed.",
        "version": "v1",
        "x-category": "Tools",
        "x-long-description": "This is fast and customisable QR Code generator. It gives possibility for obtain QR code image dynamically in your solution through API interface. Detailed description of usage in available in the Docs section. As this API is at the early stage of development, feel free to ask questions or share your ideas for further directions of its growth.",
        "x-website": "",
        "x-public": true,
        "x-thumbnail": "https://rapidapi-prod-apis.s3.amazonaws.com/09/58916842c845c7915cf94558d93dd6/879bf4e011cfa6fea093526e0ad023ae.png",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://qrcode3.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [
        {
            "name": "Upload image file"
        },
        {
            "name": "Generate QR Code"
        }
    ],
    "paths": {
        "/generateQR": {
            "get": {
                "tags": [
                    "Generate QR Code"
                ],
                "parameters": [
                    {
                        "name": "bg_color",
                        "in": "query",
                        "required": false,
                        "description": "Background color. Transparent/#FFFFFF if not specified.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "style_color",
                        "in": "query",
                        "required": false,
                        "description": "Modules' color. #000000 is not specified.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Format of the generated QR. 'svg' if not specified.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gradient_stop_color",
                        "in": "query",
                        "required": false,
                        "description": "Second color for gradient fill style. #000000 if not specified.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "outer_eye_color",
                        "in": "query",
                        "required": false,
                        "description": "Outer eyes' color. Inherited if not specified.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gradient_angle",
                        "in": "query",
                        "required": false,
                        "description": "Rotation of linearGradient fill style. 0 if not specified.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "outer_eye_style",
                        "in": "query",
                        "required": false,
                        "description": "Outer eyes' style. 'default' if not specified.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "inner_eye_style",
                        "in": "query",
                        "required": false,
                        "description": "Inner eyes' style. 'default' if not specified.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "style",
                        "in": "query",
                        "required": false,
                        "description": "Modules' style. 'default' if not specified.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "image",
                        "in": "query",
                        "required": false,
                        "description": "External image to place on the QR. Not used if not specified.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "description": "Size of the generated QR code image. 150px if not specified.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "remove_background",
                        "in": "query",
                        "required": false,
                        "description": "Clearance area under external image. 'false' if not specified.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "quiet_zone",
                        "in": "query",
                        "required": false,
                        "description": "Size of the quiet zone around QR. 4 modules size if not specified.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "fill_style",
                        "in": "query",
                        "required": false,
                        "description": "Fill style for the QR Code. 'solid' if not specified.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ec_level",
                        "in": "query",
                        "required": false,
                        "description": "Error correction level. 'M' if not specified.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "inner_eye_color",
                        "in": "query",
                        "required": false,
                        "description": "Inner eyes' color. Inherited if not specified.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "text",
                        "in": "query",
                        "required": true,
                        "description": "Text to be encoded in QR.",
                        "schema": {
                            "type": "string",
                            "example": "Test QR Code"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "QR Code",
                "description": "Generates and returns QR Code. See more in Docs.",
                "responses": {
                    "200": {
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                },
                                "examples": {
                                    "Response": {
                                        "description": "",
                                        "summary": "Response",
                                        "value": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIgoiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGlkPSJRUkNvZGUiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDE1MCAxNTAiPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIwLjY4OTY1NSAyMC42ODk2NTUpIHNjYWxlKDAuNTE3MjQxIDAuNTE3MjQxKSI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwKSI+PHJlY3QgZmlsbD0ibm9uZSIgaGVpZ2h0PSI2MCIgc3Ryb2tlPSIjMDAwMDAwIiBzdHJva2Utd2lkdGg9IjEwIiB3aWR0aD0iNjAiIHg9IjUiIHk9IjUiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5MCAwKSByb3RhdGUoOTAsIDUuMCwgNS4wKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAwIDApIHJvdGF0ZSgyNzAsIDUuMCwgNS4wKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTQwIDApIj48cmVjdCBmaWxsPSJub25lIiBoZWlnaHQ9IjYwIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMTAiIHdpZHRoPSI2MCIgeD0iNSIgeT0iNSIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCAxMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEyMCAxMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIwIDIwKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIzMCIgd2lkdGg9IjMwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOTAgMjApIHJvdGF0ZSg5MCwgNS4wLCA1LjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMDAgMjApIHJvdGF0ZSgyNzAsIDUuMCwgNS4wKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTYwIDIwKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIzMCIgd2lkdGg9IjMwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAwIDMwKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAwIDQwKSByb3RhdGUoOTAsIDUuMCwgNS4wKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTEwIDQwKSByb3RhdGUoOTAsIDUuMCwgNS4wKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTIwIDQwKSByb3RhdGUoMjcwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDgwIDUwKSByb3RhdGUoMTgwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDkwIDUwKSByb3RhdGUoOTAsIDUuMCwgNS4wKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAwIDUwKSByb3RhdGUoMjcwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDgwIDYwKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAwIDYwKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTIwIDYwKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCA4MCkgcm90YXRlKDE4MCwgNS4wLCA1LjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMCA4MCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUwIDgwKSByb3RhdGUoMTgwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDYwIDgwKSByb3RhdGUoMjcwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDgwIDgwKSByb3RhdGUoMTgwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDkwIDgwKSByb3RhdGUoMTgwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCA4MCkgcm90YXRlKDkwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDExMCA4MCkgcm90YXRlKDE4MCwgNS4wLCA1LjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMjAgODApIHJvdGF0ZSg5MCwgNS4wLCA1LjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMzAgODApIHJvdGF0ZSgyNzAsIDUuMCwgNS4wKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTUwIDgwKSByb3RhdGUoMTgwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgOTApIHJvdGF0ZSg5MCwgNS4wLCA1LjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMCA5MCkgcm90YXRlKDI3MCwgNS4wLCA1LjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0MCA5MCkgcm90YXRlKDkwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUwIDkwKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzAgOTApIHJvdGF0ZSgxODAsIDUuMCwgNS4wKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODAgOTApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5MCA5MCkgcm90YXRlKDI3MCwgNS4wLCA1LjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMTAgOTApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMzAgOTApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNTAgOTApIHJvdGF0ZSg5MCwgNS4wLCA1LjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNjAgOTApIHJvdGF0ZSgyNzAsIDUuMCwgNS4wKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTkwIDkwKSByb3RhdGUoOTAsIDUuMCwgNS4wKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjAwIDkwKSByb3RhdGUoMjcwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgMTAwKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzAgMTAwKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjAgMTAwKSByb3RhdGUoOTAsIDUuMCwgNS4wKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzAgMTAwKSByb3RhdGUoMjcwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDkwIDEwMCkgcm90YXRlKDkwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCAxMDApIHJvdGF0ZSgxODAsIDUuMCwgNS4wKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTEwIDEwMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEzMCAxMDApIHJvdGF0ZSg5MCwgNS4wLCA1LjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNDAgMTAwKSByb3RhdGUoMjcwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE3MCAxMDApIHJvdGF0ZSgxODAsIDUuMCwgNS4wKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTgwIDEwMCkgcm90YXRlKDI3MCwgNS4wLCA1LjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMDAgMTAwKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAxMTApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0MCAxMTApIHJvdGF0ZSgxODAsIDUuMCwgNS4wKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzAgMTEwKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAwIDExMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEyMCAxMTApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNDAgMTEwKSByb3RhdGUoOTAsIDUuMCwgNS4wKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTUwIDExMCkgcm90YXRlKDkwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE2MCAxMTApIHJvdGF0ZSgxODAsIDUuMCwgNS4wKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTcwIDExMCkgcm90YXRlKDI3MCwgNS4wLCA1LjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxOTAgMTEwKSByb3RhdGUoMTgwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIwMCAxMTApIHJvdGF0ZSgyNzAsIDUuMCwgNS4wKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAxMjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMCAxMjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0MCAxMjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2MCAxMjApIHJvdGF0ZSg5MCwgNS4wLCA1LjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3MCAxMjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4MCAxMjApIHJvdGF0ZSgxODAsIDUuMCwgNS4wKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOTAgMTIwKSByb3RhdGUoMTgwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCAxMjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMTAgMTIwKSByb3RhdGUoMjcwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE0MCAxMjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNjAgMTIwKSByb3RhdGUoOTAsIDUuMCwgNS4wKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTcwIDEyMCkgcm90YXRlKDI3MCwgNS4wLCA1LjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxOTAgMTIwKSByb3RhdGUoOTAsIDUuMCwgNS4wKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjAwIDEyMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDgwIDEzMCkgcm90YXRlKDkwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDkwIDEzMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDExMCAxMzApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNjAgMTMwKSByb3RhdGUoOTAsIDUuMCwgNS4wKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTcwIDEzMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE5MCAxMzApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIDE0MCkiPjxyZWN0IGZpbGw9Im5vbmUiIGhlaWdodD0iNjAiIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLXdpZHRoPSIxMCIgd2lkdGg9IjYwIiB4PSI1IiB5PSI1IiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTEwIDE0MCkgcm90YXRlKDkwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEyMCAxNDApIHJvdGF0ZSg5MCwgNS4wLCA1LjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMzAgMTQwKSByb3RhdGUoOTAsIDUuMCwgNS4wKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTQwIDE0MCkgcm90YXRlKDkwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE1MCAxNDApIHJvdGF0ZSg5MCwgNS4wLCA1LjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNjAgMTQwKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTkwIDE0MCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDgwIDE1MCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE5MCAxNTApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMCAxNjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjMwIiB3aWR0aD0iMzAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMDAgMTYwKSByb3RhdGUoMTgwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDExMCAxNjApIHJvdGF0ZSg5MCwgNS4wLCA1LjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMjAgMTYwKSByb3RhdGUoMTgwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEzMCAxNjApIHJvdGF0ZSgyNzAsIDUuMCwgNS4wKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTcwIDE2MCkgcm90YXRlKDE4MCwgNS4wLCA1LjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4MCAxNzApIHJvdGF0ZSg5MCwgNS4wLCA1LjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5MCAxNzApIHJvdGF0ZSgxODAsIDUuMCwgNS4wKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAwIDE3MCkgcm90YXRlKDI3MCwgNS4wLCA1LjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMjAgMTcwKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTcwIDE3MCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE5MCAxNzApIHJvdGF0ZSg5MCwgNS4wLCA1LjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMDAgMTcwKSByb3RhdGUoMjcwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDkwIDE4MCkgcm90YXRlKDkwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCAxODApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMTAgMTgwKSByb3RhdGUoMTgwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEyMCAxODApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMzAgMTgwKSByb3RhdGUoMjcwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE1MCAxODApIHJvdGF0ZSgxODAsIDUuMCwgNS4wKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTYwIDE4MCkgcm90YXRlKDI3MCwgNS4wLCA1LjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxODAgMTgwKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjAwIDE4MCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDExMCAxOTApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMzAgMTkwKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTUwIDE5MCkgcm90YXRlKDkwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE2MCAxOTApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNzAgMTkwKSByb3RhdGUoMjcwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDgwIDIwMCkgcm90YXRlKDkwLCA1LjAsIDUuMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDkwIDIwMCkgcm90YXRlKDI3MCwgNS4wLCA1LjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMjAgMjAwKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTQwIDIwMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE2MCAyMDApIHJvdGF0ZSg5MCwgNS4wLCA1LjApIj48cmVjdCBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIC8+CjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNzAgMjAwKSI+PHJlY3QgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSIxMCIgd2lkdGg9IjEwIiAvPgo8L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTkwIDIwMCkiPjxyZWN0IGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgLz4KPC9nPjwvZz48L3N2Zz4="
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                }
            }
        },
        "/generateQRwithLogo": {
            "post": {
                "tags": [
                    "Generate QR Code"
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "QR Code with Custom Image",
                "description": "Generates and returns QR Code with custom image supplied in multipart request. See more in Docs.",
                "responses": {
                    "200": {
                        "content": {
                            "application/octet-stream": {
                                "schema": {},
                                "examples": {
                                    "QR Code generation": {
                                        "description": "",
                                        "summary": "QR Code generation",
                                        "value": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<!DOCTYPE svg PUBLIC \"-//W3C//DTD SVG 1.1//EN\"\n\"http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd\">\n<svg xmlns=\"http://www.w3.org/2000/svg\" id=\"QRCode\" version=\"1.1\" viewBox=\"0 0 150 150\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"><g transform=\"translate(20.689655 20.689655) scale(0.517241 0.517241)\"><g transform=\"translate(0 0)\"><rect fill=\"none\" height=\"60\" stroke=\"#f0f0f0\" stroke-width=\"10\" width=\"60\" x=\"5\" y=\"5\" />\n</g><g transform=\"translate(80 0) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(90 0) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(100 0) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(110 0) rotate(270, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(140 0)\"><rect fill=\"none\" height=\"60\" stroke=\"#f0f0f0\" stroke-width=\"10\" width=\"60\" x=\"5\" y=\"5\" />\n</g><g transform=\"translate(110 10) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(120 10) rotate(270, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(20 20)\"><rect fill=\"#f0f0f0\" height=\"30\" width=\"30\" />\n</g><g transform=\"translate(80 20) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(90 20) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(100 20) rotate(270, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(160 20)\"><rect fill=\"#f0f0f0\" height=\"30\" width=\"30\" />\n</g><g transform=\"translate(100 30) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(110 30) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(120 30) rotate(270, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(80 40) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(90 40) rotate(270, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(120 40)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(80 60) rotate(180, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(100 60) rotate(180, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(120 60)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(80 70)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(100 70) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(110 70) rotate(270, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(50 80) rotate(180, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(60 80) rotate(270, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(90 80)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(140 80) rotate(180, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(160 80) rotate(180, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(180 80) rotate(180, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(200 80)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(20 90) rotate(180, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(30 90) rotate(270, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(50 90)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(70 90) rotate(180, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(80 90) rotate(270, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(100 90) rotate(180, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(130 90) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(140 90) rotate(270, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(160 90)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(180 90)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(20 100) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(30 100)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(40 100) rotate(180, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(50 100)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(60 100) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(70 100)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(80 100)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(100 100) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(110 100) rotate(180, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(120 100) rotate(270, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(140 100)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(160 100)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(180 100)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(200 100)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(30 110) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(40 110)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(70 110)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(100 110) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(110 110)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(120 110)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(130 110) rotate(180, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(140 110) rotate(270, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(160 110)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(180 110) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(190 110) rotate(270, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(20 120)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(60 120) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(70 120)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(90 120) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(100 120)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(110 120)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(120 120)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(130 120)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(140 120)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(170 120) rotate(180, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(180 120)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(80 130)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(130 130)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(150 130) rotate(180, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(170 130)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(190 130) rotate(180, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(0 140)\"><rect fill=\"none\" height=\"60\" stroke=\"#f0f0f0\" stroke-width=\"10\" width=\"60\" x=\"5\" y=\"5\" />\n</g><g transform=\"translate(90 140) rotate(180, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(150 140)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(190 140)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(80 150) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(90 150)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(100 150) rotate(180, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(110 150) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(120 150) rotate(270, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(150 150) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(160 150) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(170 150) rotate(270, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(190 150) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(200 150) rotate(270, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(20 160)\"><rect fill=\"#f0f0f0\" height=\"30\" width=\"30\" />\n</g><g transform=\"translate(100 160)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(120 160)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(150 160)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(180 160) rotate(180, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(90 170) rotate(180, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(140 170) rotate(180, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(180 170)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(90 180)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(120 180)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(140 180)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(180 180) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(190 180) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(200 180) rotate(270, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(90 190) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(100 190) rotate(270, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(140 190)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(160 190) rotate(180, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(180 190)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(200 190)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(100 200)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(160 200) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(170 200) rotate(90, 5.0, 5.0)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><g transform=\"translate(180 200)\"><rect fill=\"#f0f0f0\" height=\"10\" width=\"10\" />\n</g><image height=\"70\" width=\"70\" x=\"70.0\" xlink:href=\"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD//gA7Q1JFQVRPUjogZ2QtanBlZyB2MS4wICh1c2luZyBJSkcgSlBFRyB2NjIpLCBxdWFsaXR5ID0gOTAK/9sAQwADAgIDAgIDAwMDBAMDBAUIBQUEBAUKBwcGCAwKDAwLCgsLDQ4SEA0OEQ4LCxAWEBETFBUVFQwPFxgWFBgSFBUU/9sAQwEDBAQFBAUJBQUJFA0LDRQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQU/8AAEQgBlwKAAwEiAAIRAQMRAf/EAB8AAAEFAQEBAQEBAAAAAAAAAAABAgMEBQYHCAkKC//EALUQAAIBAwMCBAMFBQQEAAABfQECAwAEEQUSITFBBhNRYQcicRQygZGhCCNCscEVUtHwJDNicoIJChYXGBkaJSYnKCkqNDU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6g4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2drh4uPk5ebn6Onq8fLz9PX29/j5+v/EAB8BAAMBAQEBAQEBAQEAAAAAAAABAgMEBQYHCAkKC//EALURAAIBAgQEAwQHBQQEAAECdwABAgMRBAUhMQYSQVEHYXETIjKBCBRCkaGxwQkjM1LwFWJy0QoWJDThJfEXGBkaJicoKSo1Njc4OTpDREVGR0hJSlNUVVZXWFlaY2RlZmdoaWpzdHV2d3h5eoKDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uLj5OXm5+jp6vLz9PX29/j5+v/aAAwDAQACEQMRAD8A8SQhXKqGG0chqUsCjFc5x0HIxUULyOzs53Dpz2HpVq0tJL66gtrfdLNM6wpGvUsT0r8TnaEnqf1hGV4czPoDxJEIPhBoNuVYT2mnmd26EBgRj9K+dgSImZfm2hS2Oua+jvixLPo/gnVo8bRFDbWKnv8Ad5U/ka+dlnNu7YCqAm1zIcAdOf0r5Phq86FSe/NK6+ev/txxYdpQb8xhLsA2xc54xxilLh3OWwzDGBSqoWUsJEkilRZEdDkYxyKRY9zNlgq4G1R2Pevq5K11I7Yz5kpR6hwLl1yACvWlVSVK7hu9OxpAq70PA4Iy3TrUyuEb78Uqo4XaOv1qfNF7aEcsax3FzJ8oUIHBB7k9KWZmInOMsGySfQCm3jbbK4fA4K5H41MLkoC6QRzI42urybSAeDg8090n/XQl+62vn+f+Q3YfOlWTEhGCwX5scZHSiY+ZbPhucg5HGeaqzQ41PzImCZBBVT17fyJqZR8m3G3nv0qpRSalF+ZMZOSakrbokuplaKJEYK8agsMcVEXLMdpzt4yakuMPvwq42gcCmkKWkIBbgkD2xRHVIp6N6jVx5oYnPykmool3WsXT5gMDHsM1MXiMQljhkiC2/wA3nDPzH6UWm1YolkXLRnG09xgVT938CIrmfr/wCJ2jgvokyCzKAqgcnkHrU7s7TuJYW3q3zKwwcVHeLujtzgFVY89x6CpPMM8jN8zNxnJ5NDd4q24JNSeun/AILq4uYref7E8SXfmAoJxlQM5pst1qF1qqG9CuWiLPdRjG9ixIz6YFPZVDrJsFwquS0ZJXJz6kVIAGdgcAP1G7OK1UlCFrLU53CVSfM5PTz0HQhrholB+foPM6ZzxUEDebCM5DK5BHsK0NOQxXVtLNHBPEjq22QkxnH97HIqpBGQWwyg4OT6nNZO0YvudKvOSutBUH2mXaiAe2cUTyEX7l8hlIBU9eBUg2PIjfePJx0yagdUll3Y25BOM5qYu7KleyFuj/AMegVgcbwVPUZ9DTps4jyOI0cgDvn1qBw6NbBj8o3HPfOKsXEx8kMhxIu7cSCQRTs1ZL+tWTu5Nrt+SEvIUYWi/Kq+WiAA4A6k1X4dLqORVZFdGA65wc1Ymy0KMUwcgjHP41XBTe+WQDBP3sdK1i5Nf13MZwhF66L/gF5J7mC2OnzTvJbSzC5KysGG/GMqeo4x0qEOsi+UAcK/pwMVTt7y1ihh3TwxKANu+VflHpyaZJrmmW15KDqloEZQ2GuEAB796manNu6baCnOlSgldJP+vzNNgz7mDZUHkGgx7mYqQOKyD4p0KEsG1nTgevN2n+NRSeN/DgLltc09SAeBdJz+tZKhXe0H9zNni8NHR1I/ev8zWnk/fFfut5agqe9O2sPlOR3weBXM3HxD8NRytnXtOI+XkTA9qbL8TvC6nD+IrN8dPnzgfgK6nhMQ1dU5f+Av8AyOFZjgk9a0f/AAJf5nVAjy3U8sAOB2NRuoV2kyyhj0rlZPi14Qy+7xBbrn+6GP8ASqtz8XfBr2L416MzCRcBY5OV7/w1UMFipOypS1/uv/IipmuAim/bw0/vR/zO2MITdt+9tI6c9qnWRY9Q85G2O42nPTp3rg2+NPgpJCya13yP3Uh/9lqT/hc/gxssNci3FTyYnzn/AL5o+o4v/n1L/wABf+QLNcuX/MRD/wACX+Z1nlNLJbwgKqxKXgkx8yAk5GewJ7VLcpv1i1ch03bQ24k52jr+WK5CP4weDpXiJ1yFcYB3q/49qmk+K/hSS+hePxDbFVJOWJAA/KtPquK5rOlJaPo/8jH69lyirYiD1X2o9PmbytFp3nDBbzJWZI1H3s/yqzZvOIb68uSkZdPIWKI/cUnnI9cVzx+I/hJjlfEFmzZzuMgGKmfx74WubZo18QWCtI4ywnUfjSVKv0pSu93Z7fcaLFYXrXg0tlzRtfz1NESObqaBUMamFmQO3H3hgj04NTatsk8N6nHIATNK6sSSANsXH61lR+KvDi6ldGPxFYTxi2VIna5j4PGR19qtz+KNFm0hLZNZsGWeV2dUuI+fl46mj2c4zjaD6dH5Mz9tTnCadRO91uttV3LmllTo9qI0YxrCuVkOduKnglaNg27DocgrwPqKxdG13TjpVtFFqVm0ioVY/aUGfwzWmk8E7sReQSrtUYWReuPrXNVpuNSV9NX0PSw9eE6NNRaei6rsic3/AJA8lWMm8n92oyfXOe1NAlkkiG0RK0Tuyk5IJ4XmnROqIAigocj5SDTli/fQAxuu2EjPTrWKcb6L5v8AyNrSnu9NNERQhjbhSoBUH6/lQiSLaBRlhsGSR1qRIyFcHJZo/YnimRSNHAwBJGAvWk58xahy25vQljHkpGoIJIycGnKRvZx1ANRuqJMDHwSBkD0qQJjcMcscg+gpNtu7KWyQ0HIXuoHGeuaFBMkhPOSOv0pNpU7hz2qRs43A/Ke/vWVuxrfYduUzxHH3lI+tNvGkaynmkBYKQCykZUcUxJMbWbnBIGO1SpIdkkWVdGGCp6Ghe61cGueMl3v+QscxWRkLhlSXKnOcggHn8Kmmxb6gJYpFYqmzcvRe+KgkbeWdVCE9VA4yABn9KBg7ipAGMjirlPW6FCOiT3Q6V97M7qSW5JAwD71t+CJYrfxhoNwkTGaO4ICoeSpQgn8KwskFfMUNkD5exro/hvHE3jrRw+SpmYBR/e2k/wBa4MU7YarJ/wAr/JhWtyNNaHpXifQYLzx7ol9BbzIAVNxno7BHw36gVD8Xbw23h+0XDeXPeKh2SFWCqM8YrpvtMZuSxRg4kEI3fwnqD+lcH8bZJBp+jq6hkkMsmcY5+7ivh8HUliMbh4y+z/wWeZTWsUeZNawuyqHV4Z5SGHePk9frxWz8K9F1C+1+2FovmXun+dcu6j/lmgOR7gnArENwrsrnCsPlAx1IHFdJ8MvH1z8O9bn1q0hW7la0mtRE4+UkgEFh3G6v0DGOtPCVKdFXlbS/9ebNq6lGLnTV5JbfcaPxL8Tx3fjG0itVW5SytjHcYHyy7uXX2wK8+mX7Jp85VDtgJICtnAycZzV17qXWbozX2yCScyTNJCdoLNyce2ccVDEHh0q4jLGdmgwUzksfXpW+Dw8cNSp0O1lb89fW5ktIN+W/YiWQLaW04xtmKkDB5yO9T3NqN9hcxwkRkSo7Z6Nx+mBVW3hEcUcLyl1RAEKnA5UHpV6EeZZhOS27POccV0zag3bz+57G1JOrFOS7fha5XkZvs7NJ0HWnMVMYX7mACOOB3p0zCRRHJ+8ilQOdowAc8gUOqpmMnMTxgBTyQahWWhtrLVehYU+TIJVOfLHJQZyCDSIY2imdZmZRF93gHHek/eAjyV+XAAUcbiO1VoJWksLOaYJaJKSku1cnfnGGFJQck7Mbqezmk1ruXb64Z/DkFpHbR+XFKZAyxgSMrN3PerKXFvLaC3aElfLbypNwznOcEY+tZss8rxIrOTGoCqBUcTujFiRkfzocpdQhyxlePYtW88i2somjEkgXBGcg+hP0q1e27w2kgV90SShT5bZRueo45NZaTFSQgLZjIfDcjPFFvI0MezduUkAM5+6e49KmKa1e5V1pFbbF3UIk+ypIh2FVypJ5OWH9KW8u5HNrsjcW5ttpBjHUEnJI5quJz9mgfeEVMgZ54yMD+dOe5AmlIdlmgkDcHhuMgmtFN2RnKKb5u9iOSZjMiMA4ZSyMBgAjtSQh1eB0eNM5OCeB1zkflS3OCbeQBkUM23PI5pFiF2pVQBLFuypOM529KhN/EkW1fSWv9f8AAKa28myQRLuKjJ3GpdFuZ49RsryJQJo5onUdDnIp8DIpLj5kAI2D7xrqvg/4XTxT8RdGsXYCIN54SQ43lRnZ+Nc+Jrxo0alWpsk2/RIwrKMYOXSzO/8A2iYJIobUxu0UU9yWmhXkFvLXGfpyfxrwHUbKPVY9StZt+3crBw2CVA6ce9e9ftDzXNjqOnaNPALd5pDeknncAABg+g5GPYV4mShS8lAX59xwowP88V43Dk5U8upyW/R/Pf8ACxyUacatCKfwu/zVmETpI0JjjjhWONYwirgYApfm3uWC7mYdBUMKFkG3PCdfTFSxklQdwfJ4x1r6OotW2dsL8qQ9ztdUUZxnGPemTRkSKyOE45GOp96dI21gXTZ6DuaCrHKDav8AFk9x3pK6sy7J3QmpDzNPuWAKsVyB/WnWl/KqlyUYuFzlBngDBBqV1V43DElDGeR2qtBLJ9iihnkDhWJRgoBAOOD7cU4SfI11M5q1VSXb9f8Agi3LK17LPt/5ZZDgY578U5GVyrLyQOB/epkf+kXEqgZbBTcOmNpqC3M0MJLbmjLgRtjGFJqnD3bt7WJ9paemzv8AgXJhwzKDycc9uKakhSS3EsD+VIkiiYA7VYDgE0rsTt/eIsaOMnrj/Gj7S0byfv5FtpnYiHcdgfHylV6c45qIRurFTk+ZW8r/AHhaYbzI3nJRuJBj07++KjWQiN2J3BWKbm4LD1pLLUJzbXEE9mISl02yXj94mPvcUsxMYa4GxEC7nMv3fTn860krSce9jONS9NVO1/61/qxMzqWVFCsMqck8dM/40koUGLa4ZnTcxx9056VXmDW+nTs21jA6EbDncPXIpykTWiyiQpuGeh5qOVR272NFJt8vW1/0C4ASylfbvdQMc+poRlVDCQzlsrhh0/GkkxJaeWcu2FYFO9SX0IFiXUhn2bgMnIq/7su7M2re9Hay/wCCT6TIEjlRIGSVCTvkwUKAHdx61b0zwtqGsLDcW0AS2yS0shxwfQVu/C/wBe/EHXBDBbyTpEQZGhjzluMLn09696vfh/La3o0qygN29ttVhbRFlDnqo9cV4WY5hUwz/dRu72fZN9PN/l8zw8bmEaH7ik/e39P0+8+fYvAV80sTLKCEySSOCauWvwsY7TLdO3+4uO+a+ndF/Z58Y6wEK6HJbqSGElyQgrttK/ZM1hgDqGqWGnr1IGZD/Suaks9xS/c4eVu9rL73Y+ZrZ7GH8TEJelv0PkGH4W2jsHdHlYd2bFQeKPg7JrmhS6fpeqyeHpZWHm3UCB2ZP7oz057ivum0/Zy8I6WuNR8R3Nw3dYAqg/oTWpb/AA5+GOkjDWc96QP+W1wcH8ARXfSyvPYTjUq1YU7fzST/AAV/yPJq51SrJrmnO/bmX+R+Xr/sXtetm+8dazNgfwoP6mrNp+w34dLAza7rt0c85Krmv1EQeAtO4t/DWnNjvOA5/M09fG2j2Rxa6VpVqo6bYY/8K9f2mZx0q5rCP+GKf6I8fnw8n7uFk/V/8Fn5sWP7Dng18Zs9aumHQNcuM/kK6Ox/YQ8HyKu3wfqcvu88rZr9BX+LHlcRz2sA/wBjaB+lV5fi7Ix/5Ccan2euaVV3/e5xP5aflId/5cHH5/8ADHxHY/sD+H8r5Xw5uZ/d1kat60/YI0zqvwthOf8AnpbE/wA6+tZfiwzDDauP+/lV2+KaEfNq4/7+Vi3hJv38zqv0f/BZSnVW2GgvkfM0H7BNivT4YacPd7Za0Iv2DLZduPhvpKY6HyEr6Fb4nWzHnV4/xkqM/E60H3tXT8JaPYYGW+Mrv/t7/gB7eutqUPuPCk/YYjjA/wCKA0lQP+mMdTL+xHCh/wCRE0nPvHHXtx+JtgeusxfQvQPibpo/5jEX/fdCwWXy/wCYjEf+Bf8A2ovrOI/kp/d/wTw6X9ieEdPAWkk/9c46gf8AYmhYYb4f6QfrFHXvS/FLTQf+Q1Cv1enn4qaah/5DkBz6PW0cBgH/AMv8R/4F/wDah9axH8kPu/4J8+N+w7Zt9/4d6Of+2UdRN+wpp7jn4b6S30gQ/wBa+i0+KunE8a3D/wB91MvxWsOMa3D/AN91p9RwK/5icQv+3/8A7Uh4mv8A8+6f3f8ABPmZ/wBgvSTyfhnpn4W61Ul/YI0Xv8MbI/7tvX1XF8U7JiMazCfq9WV+Klv90azb8/8ATSqWCwK2xtdf9v8A/AJeJrJ/waf3Hx5c/sF+HwPn+GKLj+5AwrEvP2DPCTMd/wAP7uLP9xZFr7ki+KcC/wDMUt2/7aircfxVQnm+tifdwaaw2HXw5nWj6yE8RUe+Gg/l/wABn563v7BXgnkt4V1a2Pqs8i1gXf7B3gkEhIdbsz6rdM2Pzr9NI/ilCww0lq/0cVYX4hafcAeZa2z/AFYVtGjJfw86n/28r/nIl1u+Dj8tP0Pyluv2DPD24mDxFrlv6D5Tj86zpv2H5LM/8S/x5q8B7ebGP5g1+tb+JPDt2oWbTLZx6bVNUptN8Dag2ZtEtue4jX+Y5roVPM5fwc3hL/FBf8EFXoR+LCSXo3/wD8n0/ZN8aWRxb/Eu52AYAkiZh+Ir0mw+E01rpdtDezG6vUjCS3Ea7FkI77a/Qmf4a/DrUMkWRt29Y3cfyNZdz+z34N1Dd9m1W4gY/wC0Dj8xXBist4hxKSVelUt/LaL/APSV+Z6eGzehhn7vtI+vM1+bPgGf4YuuNkrKR0JFZtz8O9RjJMbq2OPmr7z1D9laNxnTtfgkB6CeP+oNcrq37L/iezBaCO1v17GCXDH8CK8WrhOIcKr1cK5L+7aX5Ns92jxFCT9zEff/AMFHxbD4N1dXKtDGxPQZxmsu9sbrSplS8gaM7uUYYyPavrXVPhB4g0okXmjXkYHX91kfmM1k3/wdn8aaHeRC3c3FsoO3yyJMdmHHY9RXl081rusqNWhJPtZp/dY+goZ5NNSrSUod1b9D5XIG1lHyqMvgU1SANiL85G7noPetLXdHvfDWszaZd2xF1E5Ul/lyp781iyJJJvjMnkqOAyfxLnpmvp4JVEpKWjPrlXTSlT1T/UuFlYum8EgnnOM1EbiELIEn3kJkqnJAFKdPhjIkGWycAscgA1E9zbWhlTzo0K8bAvI/LvW0acXpBOQpVJw96do+v9IVLr7Q3EU4UgFWcYyCK6/4S+c3jzT3azDkJLIpLDIwuAf51xFxqEhmiW3ja4hc9QhAXiut+Fr3v/CdaOIwyS+a25GXGE2Nn9a5sfQawdZ2S917vsjhqYiM4ySk3bstPvPaAk93DDBdRxLNnzd7uRuI3YH16V5p8ZdQa41uDT5763il02xLsiAkeY3IQjscV6Nq+taNoEyvrc6oWVpIImUuJHUfd9ucV87aleyz3V3qFyxea4YyuuF+Xnge+BXynDuFdav9YktIrTTdvt5LW/yONOaak7pLqFxL5UqDzoSGRWVs4wdo/rms+bXHtnyywsqkDdvxu7HFNTUoJMlpzJv54j5QntirMUUs8cZnAkmUnCKBxnoa/SPZU4L97ETr1KztRnr8mRy6kl4zeTHnkFfmGGP/ANarEeswxGPY8iTA7/XAIGRUsaOXVlXbszklB19PxpluZg+1ooMtw2RjAx2qXKk1a34/5mqVe97t3/u6fhYJLq1MrZbarLt3HluRxgVpRXZuPKkjZmkCABGTbyOAay7SF2nw1jFuB2h0fDDjrmkkaRpIXeKcbMqGSTdk+9SsPGdlB6rzT/I0WKlTfNNfcpL80aAYooYSDzIZGRo39CeKS5la3VnTErcFYgMZPcZqi17JEgc7ACOsqnj0q7LdhLQS3DRx7JQSpO4kYHIArKWHmmm1fobwxVNxcVK3X+tS3I6ldpDBCQVBOSvTPP1p8kKi1uGJwTGdoX+9jr9agZkMrKsokQgfKmMqTyBip4TCkgK3K/aCT5tu0ZIC9Ac+tcbi6ctdLHoKUase62M2G1EkEhFxgQEKEyT/AN9HsafGG+YmM5kU4JPy8dTmqVzE9tqjSu+2OSdkZUXA+6P8as2ERTTltnne4ijRhmRsk5BP9a2qRTSnfe34/wBI5KU5KTha1r/pYWMt9n3iBFLJhj3/AANLADKwHy46stMsx5VnBF5pzj5cHIx6VYtI3luUjZoY2dDw54Y88cVi1rZG0X7sZMrQQeVEqHciPkqjcjqcc0+5jUNDdF8I6+XIoHBYdDUNvma1jhZidigrjnnJqywkURjZhWXdk9M1Tk+YmnFciT6WIhc5ZkLkIMHGOAaSWM29+7IQwnjXcFOTnkZ9ulOtztlkE2CCeGXpT9SUxXMjqNqjZiRfqaUX73LFdAabipN7Mpws9sUVmDrJkeYO1b/gzxNP4N8VaPrsCCWawmWTZnhl6EZ9cVhsSIY8JlSeCBnDe9OiBnyIxgry6bfaorU414yhUWjun6PQTjFxdKWqat8j3X9oP4reE/iP4d0KPRUmk1aCZ5XMsW14Y2UbkJ784/KvDgPNjlGfvAA4FMtXkkZgkOAibgzHkHJ4+neiCLYy7WJQrnI7c15uAy+lluHWGot8q1V3d6u/3djPCUY4an7OndrXfzFtocSSIoDbycLuwfpVNn8iwafy2jUMpyOcZ7Zq7EhWcMG24JJY9SKZFbuLC8topMhlDLu7n0r1YyV9fI0nCVrJdxfKF1DhSWbPQ8n1pIXEsUcpUqgGcA9PaqugajELi1mlt/tDRzASwlsM3VTirSRCBr9Eh8sRPu8vk4Gc960qU3C8fP8Ar9DOjVVRqS2a/wCD+jHLLGEuoGLM3klkYDrWdYsxeEeWWWa2JVl+Ybs47VpRMvls6q2fKJwBk4zWekf+kxywM8qoxAT7vB5rWnblehjWcueOv9aE+mzIsipLuCx7gXTkBsHrUsKu9tBAAvmhAOG4fvn2+lJALeFbiad47aMyZLOOOePzpImgivENpcrc2kjFi2CGUZwKmTcr8q0RUUouKk97+utv8iO1cssoZNrKxADc9CasuqSxKjBW2tuD+nv9apXKPY3d3Py1tkShhklRkKTVhLiNlckF1RwHC8H/ADyKmcGmnHqVTqKzhPdfirvX8B5UgDnLAYA9aZ5MV7ZXazLvSWMBkY8Edv1qSRF+0wOhITeRz6YxUaNsSaFsbtwjU+1Zr3dU9TaXvaSWm34BYKiaR9mbrjaWx6HP8qhhc232y2BLxo+VBOTtI9asjesZAGRuwR9Rg1VuHKRSTJgklYyO554rSPvyd9m/x0MZx5Ixf8qt8rMksx5du3JUrIFDA9RVrStNn1jU0sIUZpJmMQ2988D+dRxJttyeMEliD2r6R/ZZ+GCy6mPEF/Bvjt8SBXHRjyi/1rnnVafu7y0X6v5b/I4swxUcBhud79PU9q8GaVpv7Pvw00+0FujaxdKJLh/usTjO3PYU2f8Aai1W1Xy9M0nTLJgMboYSW/OvJP2h/iZ5/i/+zIZspaLiQg9W6n/CuEtPEpsrSMs372QZ+lfo2S5XTxeFjWqykov4VGTj7q6txs7yd29drH895njpxrNJJy6tq+r9dNPQ911H9ovxxqQIF40S+kaBa5i8+LPiu9m2zajPlvV8D9K8sm8YO0ZJkbn34rKufFMsiEiTaPr0r33kmW3vKnzf4pSl/wClNnjrMMV9mVvRJfkj1abxtrEpJfUmz/10NU5fF9+/39TbPqGJryGfxTLg/vce2azpfEsjH/XN+daU8sy2j/Dw0F/25H/IUsVi5/FVf3s9nk8VSMBv1Bjj0B/xqu/ieNjj7bIT9f8A69eLP4jlGf3x596rv4hcdZCfxrqjRw9P4KUV6JL8jFzrS+KbfzZ7d/wk0K9biVh6Zpp8U2oPMsg/GvDz4iYfxn86Y/iI93J/Gt1NR2RPJJ7s9xbxPZkf6yQ/8Dpn/CTWXeRz/wBtP/rV4d/wkRHQn86afETf3j+dV7ZoPZN9T2y48RW7xsYJAjjorHrWI/jtY5CknDjtXl//AAkT/wB/PuarX2rteoAW2sOjCk68u5pGlZ6nrK+O4GH8P40v/CbwE5yteK/b7wNxhhnrnrS/2heegH1Io9vN9S/ZRPZz42gbj5MUi+MoAeNleMm/u2GMjP1pEur7JyAB7mj27F7KJ7UnjaFM/cqQeOITjO38K8TOoXY9B+NH9p3g7D86ft5B7KJ7hH47gU9VxVm28cJcuI49hb+VeDpqN27YbCg9TmtW0182UYWP8WPWn9Yn3JdJdD6Ag8QWQCiWXc3cKBxU48R6f2kkH5V8/f8ACUyk8OR9DSr4pkB++3/fVNYhmbpM+hYvE1ip/wCPiQfSrK+KbdT8l3KPxr50/wCEpk/56MPxp6eKpMf6xvzpSqqXxK5Ps5LqfRieLUzxqMqn6n/GrMXjGVcFNVkB9CSP6183p4rkHSVgasR+L5T/AMtWrJxoT0lTT+SKTqx2m/vPpOPxvqAwU1Zx/wBtKvxfELW0XEWquSP9sf4V80R+MJQQPOP41pW/jKVf+W2foayeDwM96EP/AAFf5Fe2xEdpv72fSdt8U/FNvgRahn34rXsvjt4ytP8AlqkgHcr/APXr5rtPGkhK/vAR9a3LPxo6n/W4pxwGBXw0lH0uvysH1vEp6yv66/mfT2m/tO+IrfAuLOCVe+c10Ft+0tBeIUvNIRGOAJoW+ZTnr0r5ai8ZBlTL53DrxS6l4mVbYXUbLhTtfbVyy2g17k5L/t5v/wBK5hxxdS+sU/lb8rHrH7VPwvsviN4PtfHGjwot/bKBdbFA3oejHHWvhm9uL2OVrZLRoXV9ksk/BTj0r78/Z68fQ+KtC1DQ7wLNFEpjeJuQ0bf4V83ftDfDiTwX4jup0yYo5AjtjHmRn/VyfljPvX41jksPipKpFOV7S7cy15l5Tj7y87n7XwxmEqkFg5VOWMlePfzV39x4p/Y6t801zNIpI+UNgA1bjtYYJJGCqTuJ3svJ9zRuL/JhlKYG9uhNK6+aD5zMxA5Cj5T9K8+daq178vlp+h+lUqFCL5oQu+//AA+pPHFc3JZ4o/MQKVZQwzkegroPhi15fePdGEDmCRJy5ZxksgQk/QdK5lNsNwsixDrkANjBI5rsPhc81l45huYEWVba3ldxux8uABz9T+lcGYuKwlTlV/de/oFVVPZy5mdD8elWV9DE8okkJmJSPABBKkZxXkzWsfmqRGocj73XFdn8Rb/UdW1qE3VtHEiIxieI/eHGee/auUx5YJ25UHaT74rPKYywuCp05PWz221dzCjS9pTTtp/wRkEWx5DlS7DbuI7UpjLGP5MHOd4PX60ssXYEbepJ7+1ORHM7ruIUDKDFem5SlLmudahGK5bDdrncwZlOfujr9cU0JIxDIvmyngqxAJptq8kuGZDlcoy9s+tS+S8bAyOpweCRyK0bab5rGaipL3BiztviIdlzlTwOw6ZxU4ZIseYQVIPAOMHHWmTDzYFQYKI5KsvJJI5FRSxuUIG1xgqN/HNNRjKyWgOc4X5tRdrSWhfygUXDLk8Ee9PkiWVyyAxuG56FcH2x2qvaOkqfZ/LZFxlgx4XB6Vcf5nZcCINwB7dq0nKVPReZMFCtHXrYjeztpHmM8A3E/fRipLDvVicvFqTJkiNbQYhAwXbqFB7k0jsxWSMqPrt64HXNSPCg1qK4MiAGJAgkbO1h3NL2/Mmp7Lp/W3yD2HL71Na332/4czdQuo1ti6I8kLXDMVbqDxlceozTUjSGSYJlVLPgH/dHFWPKNtLKoQbS8sjt67j0+vvVG686KyIt1kG6Rn24yRkAcn8KtKE0lB2OWbnTblUV/Qnija3MceNq7FcZ55qcOTAzBSVjXnZg4zVWO5fzozLCzCNADMvI+lTR3PlyLLErMWyrLGOoz71nOlNS95f5HRCvCUW4/juCMiRvJjKnABzjZj+dELOERXk8zdyvOABTL6QLZiRbd5LVzsjz94jPPTvUi7EUKqhlKYz3Ws3GSXvdWaQnGUrLoh8kSo8pIOAvAHrS3ZM2jylfm/eR/N0I5HagMQ0zgtwvf1p7oZ9KlA+Qlo2yOpGen6VlB2ab6WNpq6kl1TKkqJiJECpCwI3Dse1Q3Mq2d9HFNHKjyRN5cwk+QNninzv5kcbFuVyQAMjHvSy3Ud7YskgXCHB3jlTntW8G46tXWxy1EpbOz3Xy6EkUdwwkkVTtXG917nHORTUG7Csxj2sQAw4H1FPaxle4mmiUyK0BLxqeRt4yB3PPb0qEbljQvvkUuq5Yg8YqGo6NamkW78sug64eaGBpWjLtGfvx8qAR1xVmIeYHyBvyhyO/PP8AKoIZmLSwxDlh5bI546cYpMyQjeh2Tg7jF1DDHI/Ok1dWtqUnb3rtoYsVqb+9hgB3ifcPNOOpBP5Ui3b22t31nMVeYIrAA/fUjgg96fqUd3FrmlSiYf2fqGZJLbylGZgpAbf1HpimeI7QmLTNURWM1nhH45MWPmXjrjtXT7spKMnfmX3Pt96/E4lzxjKUI29nL749/W0vwJXlWG4hdAu0o0ZC5zimmJQzrhowdoDsON2On1p89tG8sNxbMDDKm5oz1AqCa2mgvSElM1lclSkbOf3bDjp6VlDlcbX1t/SOibkpXtdX/Pr/AFsPNuksEsciCQuQdsnKjHpTreGGO7EgjWM/KgxwMd6ahge3d9kiSRybZiTke22nRldn7zJQ8f0zSlzJOIQcJtSSVyYW0d491amNGkaCTY0hOWGQePpWTY6jJe6ZLNcFWngjMbOoxkKcAn3rT0yUW2rRxswYxxYjZzyRnBH6VV0S2WO/vVY/uJ2ZlIPAyeQR+FbJpQaeySZz8spVYuL35l+F/wANfvHGXyYFLsrxHBVl7ZGacW3yRsVwcbs9jUESvb215BcRg+XLy4OcDPBpbi7aK7ghaMhZYi8e7uM9vyzUOHvaf0ivbJQTk7bfff8AzLcTIZsGQAdSBVW6t2msLkRg+dEVdVXqSGBpZbqKNcZXdxx6VMrCJ3KttL7R8x6nNRFSg07G0+WrBxv3Rs+B9EbxTrVkBGZLTLNcA8MB/CPxNfclgsHwy+G7Sy4iljgNzMewYrkL/wABHFeEfsw+BkvLtb24iCwFjdyj/YU4VfxNbH7ZHj5tI8IJpEUpS41F9rhTztGC34YwPxrxnzY7GwwlJ/E1FeS3k/l+jPzbPMd7SpKUneMPxf8AwT5t1PxQ/iXxJeX87Em4laViT1GeKkuvEbyNuz14FcPp9x5cLPn5mIUewqdLolyxPyqM/wCFf0TTjCjTjTgrJJJei2PxipepJyfU6e61whtm/wCUYH41VfXS2fmrlZL4uTuJBOW/GmG8GDQ5XEoG9Nq2WPNVpNT4znisN7sknB7Zqeys7nUZQkK7j3z0ArGdRQTlJ2SN6dOVSShBXbNA6jk9eKjbUMcZqc6XZ2BzfXgQYyAvf1qGXUdDiOEhnm/2ugrj+uxl/Di5ei0/E9N5bOmv304wfZvX7kmyFtQweTSNe4PWrEOs6JghrKcfr/WtKwl0K7kAiEbORgK4IOfxOKwnjnDWVKR0UsrVZ2hXhf1d/wAUjE+3ZFH2xs9DXYxabarwIImz0BSlextRblWto1JUnIQdfyrj/tiF7cj/AAPUXDda13URx/2p/wC6SPUU0XLlsZNdh5FvmPEMYJXn5OM0DT47uf7OYFMY4Y4xk46Cqjm8G/ehZET4erJe5NN9rWOQF0+QDwfepVkdupUVR1dxBqk8UYKquAAfeqouiCe47GvbhUjUipx2Z8vUpypScJbo20V+MSqB1xUIvvOZV3A5O0Gs9b8KcnpVaNljm3BxgHOCau66GaudAUfGPNHB7imsXUf6xWxWUb8ydW5z2qNrok9arRC1NRrht2MjI9KT7RIBzn8ad4WiS+v5Uk6CPcD+NdiLSAt80KdOjDrXkYrMIYafI1dn0GByetjoe1UlGP8AXQ4z7Uw/hpPtr56frXZy2lqi/NBGFPT5B/hSrYWcsDO0SGNU3Hai5AFciziD+wzvfDdbX94jjPtp9aPtzL1rrF06wMJd4YNmCdzcCsS8u/D8N3Ksm3y8Lt8oE5PcDmuinmaqX5YSfoctbI50IpzqxV+91+hQGocjnrT11EjjPNPlvfDkjEKs6DsSv/16fb2mgXrFY9QaF8cB8jJ/Gun66kryhJfI4P7Nk3ywqwb/AMX+aGx6qw78e9WYtWI/iNR3PhWdIfMtp1mXrjjn8awGkkhOGGCDiuqjiaVdXpyuceIwdbCtKtC1/wAfRnY22tlSDuPFaVv4lKMctkGvP0vD61Mt6QRzXUpWOBwuenweJyYWCscrz+FX7XxN5ySQM2I5RtIHY9jXldnqRSYEnhzg89KspfyQzMucc9c9K2VRoz9nY9u+CfxJPg/4k6e88mLe4kFpMCeOfuk19X/G/wAK2/jHwgt8EEzQKYZsc7oX6H/gJ79q/ODUdRKzxzqxUtg5B6MOhr9Ff2fvHcHxL+F2nzXJWV5YDZXik/xAYb9ea/JuM6Hsa9PGR0jUXJJ9pLWD/wA/JWPsckryjGydnF8y9Ov9eZ8O6zpVxpF7JZvLie3fY7Y+8Ox/Ec1CTh8AsysODXrXx68DXGg66bpYwWhlNrcYHB4Jif6EDH4V5DAdsEYOenJr5SnVdWkpJWfVdn1XyaP6BwVeOLoxrd1rq9/+Dv8AcNltQYZAXPBXksQa7D4SafDcapeSjzjNaWrweTHIQ0vmNgNjuBzXKApL8rEhsE4/lXp3wS0ae91Oa8MbRWsbArNjHmnGNoHcck1yZniXTwNXmelv12+f/BIxdKm1zHKfEDw8fDfiO30n7bPcvHAjNJJIRtdiTtx2xx+lc1dJITKGdnfd2OQfpXQ+O9UTWPGmsXMPMLzlUL9cKAv8wa524k5VSwXJwjL6966cHOs8PT9o7ysr7b9TalSjCklawbfmfBycZVfekjWRWZyuDkYJOMCjJDLkYHQY65qV1jUoTIz5PI9K7b30sbKC6NiCWMEgI8bZy3OQ4NJDP+85DYI7jvQqbSpk5A54+tSWz/vN3G3n71O8d2ikp3WpEFEblEO2J23c9AfwpqzKQ25gzeg6ZpZkHmEY24Xjb0psbm1ZZDHFMkg5VuMe9bRgpq6epzubi7dCSJZVSVVIX5t2COSPSpIZGmWQbcOU4DDO3p0PanzhItiMy5ZN+FOccdM1HG7Da6giMH7x75rKUpR1mjoUYtJRZJho0TKE7kOGznJPrS+fy6iUhXUKwCA/kaQ3KrEQ6MQSfl7Ajk/oP1qK9kE0Uk0cbQptwEH8Hsahxu7opTcVZoVbhfswREXzCeZQckjPAIqq8RdwZCB8xwORgH29atXEzXcschEEBihSP9ym3O0AA47k1CWd23sQcjJL9RTT5Je6zNr2kfeQx4k8uZUl5T/lkeCfpVWWRtPsmKBi7NuCZ689KtDb+8k48wN364omkAxE8mTIdvTgHGa7KNVXtJHn1qLs5xev5XAWcEEgCEjcu8DJK5OCfoeagic+ZG7cO2VKryAPUmpUTdL5bo7GMBwBjaeOP5/pUtyH+zmaBAJCpV/TPpSlC7st2OFTkjd7Lsvz8yNZPLdlwzK2G6djVyGRYUmUfNGrKV4wcDJqsq74kA3RuGDOo6H2q7aruDME+QRkkenA/wAa5GraI9GGu/8AVzOtLiW32o6AxP1AXHamTeH7bV9N1VodVSzmigDpbzsQ058wnCcYyPT0qzDNZmymhuLK+/tRrmMw3OB5Ai53KP8AaziqVgItSuyqXPlzHmMFecg8iu2MZUp86/A8uU416ShL0138/wCvMeLsyIr/AGiSKXGRMvBRv7wH4EenWp7nWRqN1NcXBTJcMyrHsUhcAkDoPX8ajt3N0JSWVZYgCqydCemBSm7sLmZrW/ikDyh5A8K/7BBB9Ox/CueMVK8bHVOTg1K6vtrco62g0zxNYuXZbXUy8Ykz9yYDIX2yKuzM0K2ryLkNlCQeSR6057Sx1nQ30DUpGF1aTCeG7lyCrdVwexPSmreXlnZKjW3mFGRiAwHT+L36mrqWkoLdpWfS+9mvlYxo81OVSW0Xqutn1i/mnb1HtJ57RRSqWKHKZPQZ6irumoJ457eWUqWx5RbgFv7pzVfxH8OzrVwmseHb8QXNtAupXOkwzZSaKM5lwD919oJ2+gzUWoIUvFuLIrPZzRLOgQ/PGepJ+lVLD+7CUJXv+emn43Kji37ScasbWts73Tvr8mrP5EGn2tzFYNbMw82F2jL+oB6g9xTTcmKSGBsyKG2s34dabZaxHexM8bed6oeCDmrlwFvJlMUYXLfLnnFZyTjJ86tcqDU4R9lK9kvmv6SFdbWbzCW8p3dCrg/L8vXIpBblo5FWRc4KiMjuO9RQq10H3GJ45YmcGI7hnBBqLTbkzxGSFgjcDaw6VDi1F+X/AAP8jSM4uS87/wBfiTTaO13dTmN45Lh7IrG+8ArIMEcfiRVa3tZ7W40902z21yoQKrDcrjk5H14/Gor95dO0eKcMyyPcFVdhkGTqAPbHFT6tfxw3NmZNkFw0KyEABTksMkCu7lk48q1jqvu/yueZzUlPnvyyVnv36f5/8Akinki1y4jnhCySQDzEc8NjjI96bNGTpUJRsSWhJAc7jt3cgfmK0LlotXvLSfKvOIjGX4Ctnpn3rLg8yDS7tGBWRN+Q3oH5rkTvbl6WX5r8julC11LVPms/uf5j7i2t1eQRxqrZ8xd/bOOM1oaLpp1zxDZ6YOZJXDSAL1TuRVeeFp7eYhv3e1TvA5HcV6t+z54SfxbrFrcmI+dIwtUfHQZ+Y1yYqu6VCVRayWi/xPb8ThzCssJRly6X2/X7tz6c+F+gR+GPBsbbVSW6/eHjGIlGFH44z+NfDf7T/jtvFvxRvrdHJt9OAtVAORvPzE/qB+FfdXxU8TWng3wVql+G8m1srdtg9EUYH64r8tX1SbWtVmvbly89xI88jHuzHOPwrfgjCqvj6uL3jSSgn5vd/r/28fjWcVmqKh1lq/Toa6z+XEsYIzjNRz3IACKxHODVQ3HzZ9KrzyDf941+2uSR8Wi2bj3ppuOKpeafWjzD6ipbKLqSjIJA9M1oW3iJtK051gbN3OT85/5ZKP61h7ztJ9KqtMSSSetc9SEaitLY3o1p0JOVN2drX7ehclnMzFpG3OTksT1oM3qc+2apiTPrSM/FUtFZEbu7LnnDH+Bo84EjJ3e54Iqj5ntR5ntTuFjs/DPi2S0uIrS8k3W5O1JCeYyenPpXcqN0Sbn3YBYkjtXie/PBH5V6f4K1J9T0WLe2ZoD5LZ/iA6fnXzmZYaMf30Fbufb5Hj51H9Wqu9tr/ijYuD8iMhMhxtwoxnmpI2CScEs56L3z61CrrkzqflGQR6n2pbeJlLPI2TKOCOq14nqfVc3vafmYmqeE49Sne6kumjkcgsqgEL+tVB4EjV9pv3BAzjYP8a6gw+dDLCTwy7go68U+JA8KjA4AUMetdUcbXjFRU3ZHnzyzCVZ3nTV35/f1OWTwIrqwXUnUjt5QP9aE8DK6c6g529cwj/GulcjO0feXsOpqYRvs25H+73Ip/X8Svtv8P8iFk+Bk9aS+9/5nJHwIo5OoPgekI/xpzeAo85/tFgR6wj/GumQF42x1EjfKfTNTnBicqMgfLn+tP69if5/y/wAgjlGBav7Jfe/8zG8P+HYtFkeRZXupJF2nK449q2Q+UDHCkH5Se9R+Y29FxtRMcjvT0VmLADJBJA9BXJUnKpLmm7s9PD0qdCmqdFWSFkY5RC3zHJ5FU73WovD+lPdttMjDy0hYZDnNWhKWuIuAXCEsD9a848eaobrWWtkfENsu3b6t1P6V04Sh9YqKD23Zw5ni/qdCVSPxbL/P5FDUNYn1MkzSZjB4iXhRVTzcDAxVbf3pplGe9fZJKKtHRH5dKUqknKbuy2ZeetHmKRycn0xVPzR70eaPequyGjd0fxLcaRKcMZbZuJIj3Ht71d17yUlintiDbXCCRcHOD3B9xXK+ZnpVmG6LqsZYlF+6PTPWsVSSqe0jp38zqeJlKh7CeqvdeT6/eXRcYGaU3PvVKSQK1N80e9ddzhNAXJA4IzVkXhlVWLc4yaxvOA9afBOShU9V/lTUmFjWuJvOtHGSWHK19LfsH/ED7J4o1jwrcS5gvIhdQA/3xw+PwxXyuLorxWv8LvGkvw/+J+g60GAS0vUEoJwPLY4IP4EGvn+IcD/aWWVqEVeVrx9Vqvvtb5noZfV9hiIz6dfRn6UfHLwlF4g0tbpkytzE1nPg/dccxv8AoPyNfDkljLp2+znB3wyGJ1IwdwPSv0fktYfFnh6e2TDrdweZA46bwMqR9Rmvh74z6G2ieJEvUQRJeg70xwJkOG/MYr8LyzFe1SfSav8A9vL4vvTUv+3j9q4exHsqssNL5f1+HyPP4tq3arLlI+FcZyWU/eA98V734u+MeieGvBmn6b4MjhlubhSZJZIyPsceNqp7v3NeAsxGoSoo4Q5JLcipsspdR8x4+9/Ou/MMuoY2dKVe7UNbX0enX0PsJ4aOJmpS2i9iHe5nY/eycsT3J60/YrRks3IPcdKCeiu25dxyUpjMEZ0XfsY8bh2r1VrsdT00YRxMrYw2M9DyT9KnCgQ5QgqFJHrnNRRFZD5m8h1YY2nBxSbWwQpUemRzzRa4bDs4f5eAxxuBzninhAORwcdG71GisymMkHb8wA4yBT0wIxFljtXLbW5FNK41o7kbMJVYgFSV/ip01tHJEEmIdSgYlGxg+lOC4ZmP3aEl8tGySeMZI4xQpfyi5VJ2kr3JmnWR5WdEEjN2XgA+3pTlMaCNShkdSWcE4BXtioruKO2lYK/nQ7QwmAwc+lG/zBydzHGG/DpRzyTuUoJrQb5ixRyeaqlJFKwktzGcg5/HpTvKeRJmyqrGoLKrY3jP6mmMsbSLu2nfwVbt9KiX5HRAoBdtgBPam2p6rSxk06e+qHtEnmkxgjamRnqB61X8oeWmGLZOSe+asA7LiVXJMajZn19qimRhNFGjmNi2AijJIrSKk5W2ZlNxir20CAG4cqGA3PjPoKWMJMY2YBgWf5c4YGpVi8kyPvVQX2j16UydYoNPQuI9s0wRTn5lftQrSeiuOXuq7JII1eQ5LODhTtHTAyefpRBA8gUL+63S4E/8L5+6CPWtu201m2+a4RwNwwMLjGB07npXs/wi+A2oePJ08qNtOstOjN1NeScqr4JXaO5617OBwFTEz107PqcOPxNLA0XUqOyW/meLaJ4U1TxLq8FhplhLeXVwhkSC3GS3OAR7V774R/Y21qe1vJPEeoQ6YJbdttpa/vrhG3qPmA4HHv8AhX0z8OPhrofg7SksNItvLme0CXF6/wA1xOc5yT2H+yK7e2gT7EgYeYgXAY/eHuT+FfY4fIsPC06y5n+B+XY7i+u24YL3Y93q/l29D8kZ4L25iE9nIsF/A4b96f8AWr/dplvaRXet208gfT7i5t3BkjyPmHVcUPJEwSQRlQcrjP6inx3LwwIHlKndvQ9cY4+tfmsZyitPT7+npfU/W504TleWuzt006+TtoVNBsrgXl7p95cwmUAGCZTgSbuRn+VV11kadaSpehYJIpzC/nDbjg9G9+ladwsN/vd4gkhVcSRLzkHIP0q5Glv4h07VNI1SOOe11KEK74AKyL91gT0PXkVrCdOpO9VaPf5b/eZSoVqcOXDy1V7X1ve9k+unfzM6x1VtZtkt5mE7225QxUI6L1CtgZOPegTHHA4YdRWLefDG88P6zNqegXzXBV1drG4feJeNpB7nit2XwqmsxQX1hfzeHdUV2S4tUxNAxXjO0nI7VvVjhpvnjU0fdap+a7eZyUKmNhH2dWj7y7Ne8u6b0v5Np9QhuXhug0cjGXGCPUY6f0q9pc8Vve2gil+x3cUjKJmHyLG3UGuRh03xL4a163TW2i1DTJt+y8tlKFT/ALQNdDNabJp0bZLC37yCQHk+1YVKaoyXvJprdPR/18jqo1p143lTcZRe0lZq1mvKz7q4al4a/sjX7i6QQy2l4m+OWBwV3d+OtJbBnuo1fIKkhRu9R0NQyiWyihjK7UxySN3HtipfN8q7dyPkK7vxxioqTdSz8rfca04RpaJW1v8AfqQ6FDDp5uI0Xy4y5ZEP8OetESC0vYEVtqSL8xZujg4IAqeMMikHBJUHHXvUF3EksAk2qJojuXI55pKfPNt/a3E6fJSioL4dvTqNu2OpaBqOnNv2DaxTOGDdmX06Vz3iS9WwtNCf+zv7QMmmXUTFx+9eQdDv65Bwfwrqbq9vIPIuLXbOLgiOaBUHmoAOuehqS11aO31bSBd2pFvbymUTRpyh771PYg16eFqyoSTcbxeujX8tn+J4+Mw8cXFpStLRXa/vXT69L/0zP0Fd/hHSb+J1ubOS3CtKT8xkH3gR6571eRILm2cFtzhduFGAQRUen6XB4avtQ0yJfOsDcPNER90o5ycfiaihQWGrTW+8rGTvi3DIwO1edU5XVlKD8189T1KPNGjTjVtquV+TWn3Mlht5rpJIYRI909v5KqDnJ7GvtH9nDwb/AMI54fubtjte1gFrE/rK4+Y/gM18ufDjTvtXigXY2hYkKsi85YkEGvuvw9pg8P8AgnR7I/LK0ZvZt3q33c/QZr57N63sKSd/hTl82+SPzu3L5Hxud4j2lf6vHpp/7c/wsvmfNH7dHjQaZ4Ag0aKTbJqdwsWzuYl+Zv54/Cvh+wc+UZP4j0r2r9tjxeNc+KcOnI26PTbVQcHo7ncf0IFeHRN+4UZwTX6XwVg/qeS0pPepeb/7e2/8lSPyzN6ntMTKK2joX2mOzH8RpUlRLS8J+8oUR/XPNU5JtjrjnFRM49a+5ueHYsiXdT1+9VSBsE+5q2qmkJ6CzvsjJqmJMAVNfHEa1UJzUsqJL5n1o8z61FuxRu+lTcsl8z60eZ9ai3ZpM4pATGTPrXX/AA7viLi9ttzKZI/MU/3ccVxYfBrd8DziLxDAhfAeN1PHtXNioqVCafb8j0cBN08VTku9vv0PTbbJmEi/LCq7VT+tW5EZrORg33BvNMjYIzYIxtGPxqYNIuAhRmKkEP06dP1r46VnI/T6acY2IIZUeFWTGQOSKcgRyVB3cg89fwoRUyHj2jd/AvapE3waiA67UCg9MZ6/40m97BFSVkyKCVbtQVG1kJTn2qWLYVOTJuTvjjNQ+Q0DzOCAhkBH5U+Z2VSwPBwP1odnsODaXvbjRtiDNGmWOCT71JJhULKdoYjd9aI8mPnt6fWnbf3RD4K5yBSb1NI7eo1VAkJUY4zT4wCuOhJycelRypKCXVgFBAx+FPhRlf8A1gB65IqX3Kho9RlxHHCBOWGxIsHHXqTXil7dtdXs8z/eeUt+vH6V7LqZEWiXLtgs0TZP/Af/AK9eHq/yjPPHevocpjpOT9D4riKTbpQXmyYyc96aZeaZu+lNLc179z45kvmUeZUW6jdRcLEvmU+KbbKpqvupVfByaYmarn9eagPBqcjcFPtUEgwCauxhsQvOynjrUrMAAV+7tGKpSN+8zng05ZNgxnIPFI0LbzfdNV9T+ZIJc/eUqW/ukdP6UgkzCR3HrTZ287TphjJjIkA9uh/kKd9LDjoz9Sf2U/Hp8Z/Bjw7fhw95aQrBKB2eI7cfiADXN/tQeD1SS8mhT905TUrfnr/eHTsN1eQf8E6vGvyeI/DUr/6qWO8hXP8AC42t+RVfzr61+LmjDWfASXSqrz6dK0LA85icHr+I/Wv5oxNL+zc0xeEW0Je0j/h3aX/bkn/4AfpGCxMoqjiY77fP/h1+J+et5GU12RZDkGEfMh455FOGGPAxuGCGPU1peJLRINduViVU8sggd8emKzZIzHJuEYHBwWPOf8mvrqtk7Lp/V/u/M/YMLUVakqsNpa/f0+T0+Q2ZBthdSh5IIPSllQuGQEZ4I9RxUdxEjSo6uxAQKUI43d6kCssM4LqyoQcHrzx1rPZLU2TvJ6AzlZ/KIKRFRhyOppHyWAPzJ1FK8GbFnHDKRndyD7CjfGSCf3YC5G3k5qlboNtrRgg2lpGY7CcZPYVI5D2y7HDpuPRfm/OolmAjkjjO9Qu5t/5f1qVFK5ULhSPXpRK17ig21YCCsUh2/NkMKVyysWC88ZpuMhcseDyjUSMXEnY9FA9Kl7miJGYEjKlxG2NgzyPQen1oiCMkx3snzfKnqKluI4DdO1q8ssbr5hU/Lhj1UH0FEc8T4EqnOCMxuAd2ML19MUmlrG4K7XNYrnC4ZI2kAPIx0FOggWS2ikDkyIzAxPx17j2FWIknuYdo8pSoYyRj72VHp71UVZIpbZnVcFd3ytzz6jtWiTiiLpu42aPzLScDiVmAV0O3aRj+f9a2Y7y507Wku7GF4zFZuhVlDbHYAE5+hP51khVksbrJHMgU7j3/AP1YqaCWQQTLHI0bFQ/ykk8cfiK1pScNF/WnQyqU1PX+tyIWxk8tlAYt8gZW557kfWtG0soZn0+3ZG3yTgEZ5JAHOe1JDAZpDcAKsg2hVXg59fxrtPAXhs+JtZis41JZZFnUjIJAbls46f7Ne1gsKq0u/wDw5xV6saMHOWh6p8PPgxdeN9WQLttdPhmjMrLyohbA8vPqdh57V9faJax2VjDZ29ubaGGPAjzycZUZ9TjvWF4O8P23hzQxZBIoxcFGnC5BaUDsfT2rqbZTAoLNtKZjUnnAJGK/SqFCNCNktT8JznNKmY1nd+6noiWODJGAodlwCOOCfarcVsZomjAyGU/MWwBwaU26ncVHygDGPaooWzqBj3EeXEJiMcEMSMfpXS9T5u93c/IvYl/AR5YWZNxADdRj1qK5tNmkNcQruEfyyoeoNNjtmSbasioxGRvHBOOlWrVWElyjDKTxnaqk43Y71+Gv3JXvomf1TrJW5dXdf5FWNRLZW8qljC4BD9xnsaU+WBufG0EgYPAHrTtPbyIbdZCVj8sRSKp4HHXFO3NF51re2yeWp2iZP4o/X61Oib9QV7R06dtL+YyJMSKUZ1kAyMnr3oguntijxuI33hiOxHce31pLW3FnfXlpJHLLa+X51pdpJnt9xgenrTRC8doJARIOW2qM5Hoa0lFRau00yIylJOyaev8AXmvPYs3d75kqENJ5Ei5NvMd2CSQcH0qGBzFbylIwVUYIZuQM8GnQ8omUzExG3HOz256dailjaBW3QO0TA5kA54rPRvl7F6rVF6C5zaeWRkKOAewrPmQrkFsqScZXBx7etbfgzw1qnjbxHaaJpsSm7u2EYeThEUcs7H0A/OvpPw18O/BngyJIbbTotfvF4k1TUU3iZu5jjPyqnpxn3rixWMpZdTdWu9G9F1fojzsbmNKg1SacpW2Xbu79D5YjiJb5GJBGMhSRT5LMfZ3icshJyGUEZH419tQaokaqI7a3iX0igVB+QFWH1CG4yJbaCUejxKf6V8hPi2hF+5Tl82jzlm7b96l/5N/wD4TlhkWzjaNmLLIQzqeVGBj+tM1C/gunWZjiUoYLopnrjKnA9ga+55NK0W8jZZdE06QN94PaxnP14rmtR+BHgnWPtLQaZ/Y1xMv7yWxYqucHkx/dP5V0UOMsC5WqwlHs9Px/4Yh5jGTScWl16+nZ+vkfILBbWKEG9LbCMKIzjB5FT/2kYb+zTbHcLceYu2Ve2BnHvzW/8Q/h3ffDnxPfeHzKlzEAt1bTj5co3ovse3SvP9XuxH4dvpJLgQ3tnOk9oXjOWD/L9OpGRX3+HjHFqNSk7qWz73Vk/v3O6eMjSo8/2d/K0dWv/Advlse//s2eGE8RazBHDEywXd8I13Doi4BP05J/CvsDxnfKF1CRfljB8lMdAgG38u9eK/sceFpNE06O4upFe407T3eR8ceYwIyPxc/lXcfGHXP+Ec+H+r356W9rPcE567UJr4DiOq60/ZU/tz5V6QtCL+cpSZ+cwqSq1nVn5t+snzP7rJH5dfFTxGfFvxN8R6nvLrc6hLsJOfkViq/oBWUpztx0ArHtXMtyrk/NyxB9+a0kchTzjmv6Ww1GOGoQow2ikl8lY/Nq03Um5vrqOdst1oA3d81GxC8qc0+HgEt8o7V0WMB8b7GXPY1qJEWIwefQ1i52nHfOcmtuHXnjRQMYAwAOtNWJlfdFbVIJIoo2YfKWwSO1Z+8HpW3c6uL22MM5G1jncByDWGy7WbkMM8EdxUtdioN21F3e9GRTaQnFQaJD93vRu96j3UbqCiTPp1rU8K38Vjr1rcSBjChbfhc8YrH3VLb3DQTKyMVGMHmplFTi4vZlwm6c1OO61PUF8b6ZHgMk/wAqqCfKPOKmPxB0wtkRz/e3fMlecf2krDHykdaU6kpH3QeMVwf2fh+qf3nqrPMctE19x6OPHemSAAhzjsVqynjPTrjbvaUbejbScV5edTGfu/lQNTQdQCfek8twz6P7yln2OXVfd/wx6mfFGlz5R7kqzHOSCKjttcg1I3MSMUEKh1ZmHz815idTTacAYPUUxtSRuCBj2qf7Noq9m/8AIv8At3FSackvO19fxPZYZkblZlCBSTlh1qQyx7QfOgLY5CvyK8Y/tCJs/Ipz14FL/aEf/PNT36Cuf+y0/t/gd64jktqX4v8AyPZHuEMRYSrncDgN+FSC6iJmOVIUZOW614sL6PI/drx7CnrfR/8APNfwFH9lR6z/AA/4I1xJK9/Zfj/wD1bWporjRbxAw4RwBuz/AAj/AArxRT+7Q+orRu7/AMyBkVdpPBx6Vmg5GK9DDYZYZNJ3ueJjcfLHyjKUbWVt7jqKM0oySBgV2o8wAtITg1IlvLITsVm9sc042UwGWjYfUEVViOZENI3JA9Txj1p3lSDohx6mp7BEE4knZVWMhgrcEntRa4X0uascTeUuUIyKrXSiOJjzV2bxESTzH+QrN1XVftUBQKoyRyBWuljBXuUD84x7ZphO0YohOZgM4BGDTZ32ktjC5wPeoNfIkibB56VLaHzZWgxxJGyZ/DNVkG6Nj0ZefrToJTHexP8AdAcfN+NAHr37Fni0+G/jrpULMUi1O3ls25/ix5i/qh/Ov1ShtV1nT9Q05uUv7R0UH++BuH6ivxe+H+tf8It8VNA1BH2C21eNs+iGQKf0av2Z8Paj5Y0+7Q/cdXP0z/8AXr8I40jDB59hsVL4akbS9E2pL5xnY+zy2TqYOUVundfdf80fnv8AF20Ph/4jxrIrLHfo65PQOvJ4+lc04M7GRXDKDgrjpXr/AO3X4Wm8P6jc6raphtMvBfAbSd0OcsB9VNeOwTIxjlgfMLhWUcHKnnP5H9a7KKf1SlKfxRvTfrB2/GPKfqHD+IdanOi3pFqS9Ja/nzCtK3dVZXIJUdiM80HbgxNGVQsCW7/hXVfD34Zap8TfEcmn6QVihi/eXF1L/q4EJ6n1brgfWvpLRP2avBGhwL9ugudfuB1nupmRT7hEIx+NeLmOc4LLGliJ69krs9rEY+hhpck7t9kfIsZEUoTIOGJ2+tNEwKSBEXBPUvg59K+2rf4W+B7FcQ+FdNwDnMsPmHP1bNSv4F8H8L/wiehnBzzYxn+leAuMsuX2Zv5L/M4nm8Ps03958RCILbxSecgjctC4z8wOMjj608KGwpYE9B/CDX2Zf/DvwRex4n8J6Vx/FHF5X6rg1554y+APhzVUZ/DFxJoOpH7lrdSM9rKf7uSSyH0Oce1exhOI8vx01ThLlk/5la/z1X3tCp5tSTtOLiu+6X6/gfOkgEjH7MGLIu1i3qO1JbyZI8z/AFhFWdQ0+fR9SurOZXgnilaCSNh8ysvX6j3qoqNGShOBzsY9a+k921me/FyTUlrft+hNG4U7pBjZ1x1AqQW5vOHICgMyseoAqDypBOQhXBUD5jyW9AKmV5Ldw0Y+aMMxjPOMHms4waaZq6iacWDFmVZwQCzAefnk4HcU7aWnYj95G4Cs6DIHPX2pJZY5DH8gLO2QVTGSfbp/+qmwOIZLhFLR4ZQxzxuB54prqHW3n+hAoX7CwdSVkuA8mB0JGB/KrF4/2cL1aSGM5UDG7OcCiYr5DxlipWQMQO+Rx+ua0ZbRor/HDMkIYjG4j5Qe/wDvV10lzNc23U5nFpPl3NZdMgNxfLbuXitII8ptw0sxwfLRfb19q9z+DejDTpo/FDOkL+H5o1LPG4jMbgbjJGBkqSTz2NeO+EoJJ76zvFmIu5/MWRtudmY2AIPrX2P8CNFi0rwvpax/6qK38prwjLs+45J/xr7/ACqhH40fDcSYt0aDg+p6fp15Y3cnmWtzBf2quzobdw2cYDA+hBOcmtSSFm8qJbcSwygs8m/DKQQVGKgsrSJby3mkjHmMPLEka/eGOc/kKuaYuIHkJ84LJIUyoDADoK+qPxSbXQ0IWMhk2HKIcZHNee/Hf416J8CvC6arc24vdcuwLfT9PBw0hBJ8x/SNSefyr0Wzg8hysZAjbEjewxkmvzL/AGg/ifc/GD4oaxqsjg6bBK+n6dEfui3jcjd/wI5b8a8HNse8BRTj8UnZf5n0vDuUf2vi+WfwQV5fovn+R5cHVSDGT5RGNvfPqKQEgg53YP8AnNN3kjOACBxikV1wWHXoR6+9flErts/oWGmw5lZIgiDJ3ZGTTt/nJ83DK2CBSByLdoyVbaSwLDnnt9KHITCbs56YqHvoUn1F3qhOfu8DA71FCTCNiMVTJIHalIDZyfu449aOAQCDhsgH0prS5LbTHx4jRotwVeoHvnNPS5OdrOdvQKOlRCPb9/GRxSvliuGCj1xU6MtXWh6p8F9MRZHup5HVmJRGT5SFHbNe9WWipKmYZ1bPXdxXyR4b/aK8KeB9VTQ/ET3mkzJgrdtAXgkVuc5XJ/SvevB/xr8DeJVQaX4t0i6Y8CP7Wiv/AN8sQa/OeIcszT2rryoy5Hs7Nq3qtD82r4ylUxVWPOuZNq3XQ9LTRLheAQfxqZdJuVP3M/SorS8M0Ykik3of4kbIq9FeSAgByT79K/Np+0W5SldXRGmnTL1jIz3q5bwOgwynjv8A0FSQ6nKuMOfpjNN1vxlZeGtCvdX1i4itNOsYmnnuJOiIByfr7d+lYpVKslTirt6Jd32JlOyu9jzr4/fB208f6Zba5Nrll4am0iNg9/fuViEZOdpYd89ua+RtS0qLxp8R9BstHaLVdNnvcSXNqWMUqxgcqpwQN3PPpXl/7Sv7V+sfHnxJJBFJJpng+zkIstLRsBxniWX+8x646CvUP2ErN9X8bQ3LS4S3gcoD9ef5mv6tyPJsTw1kM8TmM7zpwlKMekW1om+rv8l5nxlfOq2MqrBYf4JOz01eutu39dD9BPg7pb6L4J1to0Vo3uYrZrlzjOMsQB35P6V5R+2j4rtdA+EWs2D3SxX97YssMJ4aRS4Rtvr1z9K948Dyonw9mgjwD/ash2+oCcf1rwP9tz4L6r8W/hnaXXhu3kvde0K5M6WkSktcQuMOg9cD5se1fnmGpYetmWBjiJ2ilF38+Zy+5t2fZHfVnOEKzitdV8rWPzXspP3xA/hQkscAdfrUkms20KDiSY91hTd/PA/Wub8TaPe2skljdwTabeRPh4rlDG6HurKeQa5yTRr+DiOVZE/2Hr+mk09Uz4CULOzO1u/GUNs2P7PuX9Msif1NNk8Y3flsY9FlKYyhMwJ/EAV57NZXkWC6Sk+4yKRZp4QB86YOc81ehFl2O2Hju5Z0A0qXHR8ZJznjHFRTeO9WhVlGkiNt2Q7xPuArjPtsqtlZGU+oYjnPWiXULidy0kzu56sXOaLINDrE+I97G+JbSIZ69Qanj+JK5IayBx3WTH9K4xb6ZMkFsngnOac2p3TIUMjFOmDiiwXR6BD46tbgqPJ2k9vMHH5gVoR68kpAFvOQe8e1/wCTV5kmplE2mztn7ZaPJ/nTba/jhk3mBwc5/dyFMfSpaHdHqR1qBOHW4jI7SQsD+macNasyT/pKJjvJlcfnXD2/i1o2AjuLmMf3Zz5qn+ta1p4utrqImdYllBAwF4fntkVHK+wzp476CfaYriKVW6bZB/jUrP8ALnp7GsiTX/CFppMy39lqR10nMTQRx/Ziue+WDeval8Oz+E9YJQ61qGiyqflllCKhPoMMf1qlBsV0tzVE5ToxJ7jFIZySTzipZ9E0gW4iHjvSnZfvSMwBP0K5qKTU4NGhKpr1lqUCfeMM4d2/4CwBq3Ra6gnccDI/Cxux9ApP9KkVJyP9U2R1Ughvy61LY+M/Dl7Gn2jXtUtGHAWO2RAPxzWyNW8KLEry+J9Ymz02FK0VC/2kJyt0MSG1uLkkR2lxJjGdsTHFWV8P6oFLf2ZeYzw32dxu+gxVwXPgXzSTqPiGXceSHPzflU32nwGRta68Reqh5HGPpmq+rx/mX3k83kznL2S5sNSNjPp1/DOv3w9q+EPpnHNRSX/ksQ8c684/1En8ttdY58ByHJuNdYnq0krMT+NKtt4Fblb3WkP/AAKn7CP8y+8fN/dZyS6ijRGXbcCIHBdrWUKD9dtDavDDIqyO0THoZUZM/TcBmuolt/BSHb/bGtIOvQkZ+lJLN4aliKjxLrLJjGJLcNgfiKPYR/mX3gpf3Wc2dUhmkKLMhOOGB4pyXkTNgSoT6Fhn+dXng8NKhSPXbmQHOfOsMn9KxrzR/DUm3ZekY7pbtGT+PNZOil1X3lXXU1oEWQbmdQv+8M/lVlNQhtsCG3Mjj+OQZFcZqVmFfOl38cZHQujbvzNZcMvigCR7af7bsJDKjbz+VTypbMlxuelHXr8rhZhAP9lQP6ZqM6vevybxzXm9r4t1oXIgunt7U7SczpsFTr4+u4FJuYInGcK8bBs0nfuLk8jvpNQnf7zeafcc1H9sTJV0Abrhu9cfF8RbUgF0cAjoVx/KryeOdPu4jG6xn0ZmKkUWYrdjqPsyXKkwYZjyYWPP4GqTqqkdeuCMcr9ayItbhIBjkYn1Ujge3NW7rXUuApIbfjDvjAb60rD5ZJltXG7IPNJK4ICnkDtWWNT3PtWMu/8AdU5JH0qB9XVmIKsGB6VNmVyu5rBwCOtDON6Ak9c1kf2wCTkEfWmvrEfLAEjtj+tIOV9i/rc/2fVZpUGGVkkBHrgN/PFfsZ8JvEVt4l8F2z2solltljhuB2WTylLLn24r8XJLqXVL4JFG809xtSOCNSzyNgKAq9a/Xr9lz4b6l8Kfgto2ja5N5mu3LPqN6GOTG8gGEJ9gAK/IvEajRlh6FaUvfi5JLraVrv0XL+J9Pk0pRlKCWjt+BF+1R4VPjOzhj8nbLeaVko54lCrtO0jqa+Mvgt4Jv/EkOl6HPqWnaRfRM+nodXn8gSmNtvBwecY64z2r9DfiiizWfgxztEgEsQ9huOBX5RftVz3fhz4kalatcOtubp5k25Xax54/Tn2p8PKnmNfE5fVdm1CrF+coLmv31aueo8xxOURp4rD26waavonp+R+mPwf+FR+Evhm8027nhutQurgzXEsIO1hj5APYc8+9dRcptJwCSeT6/ia+Af2R/wBu280a+0/wP4/vDf6TM6w2etzn97bMeFjlY9U6Ybt9DX6BjUo0VSoDKedw5B9MV+EcYZNjsqzCX17Vz1jJXs15emzXT7m/YwmPWPi6y36mWyMc4DY9KhkhlbojflWnNrJycRKg9SKqzavIQduB7ivhlzX01PTUjNk0+6k+7E2PQ8Vj6joNyRliiEc5ZgCDWzPqVw4++3PoeK4jxp440bw5bM2q6zY6eP715cqn8zXqYSniKlRQpq78ldjcuVXbPDPjLoQ0zW1vRIrmf5JWHc+v1rgEKgb8+YcEBT2rY8Z/GTwn431f+xtC1VdWvuZv9GRmRVXr8+MdfesVRDPCjuDujODnjFfv2X0cRh8JCOLi4y89GfW5NiFicNaDuotr+vQduWJVbo/DbwealkuXezmhVU4ZpfNx+8YkAYJ/u+1QhPnjD9zjcO9SbSgckjKgA/SvQimranutRa1QaaZ73UbYiWK2jt4Wzv5V2CkgZ7dD0Bx16UtzZT295qlvqPlQXtuSzJBIrqfRgQSGBHcVNDLbuWS6QRW0wKNIvRFKkHH1BINM8PaUlxf60IEQRQ23yFwR5iH+77CvUpcs6bvp9x5NWM4VYuGqfR33tv8AJfixdLWO8kLgxuBGctISFPIq7p6fbbzyUZ5Zd23O0kuewA9D0rK0FHsNJsBJEJFkW5jLp1jZXIBYHr0/nW74cvhCLO5uVVppGMa7jtKqFJ3D09jVwpJVOTfX+tDanWU4KVrM6zwDctDcQxmKGC1uNS8tmIO4BVLEHByDkY/GvtTwRaNp/hLRLmD5ZRA0kioSY33SH5Rnqa+NPA0hjvrWOFCY2naWXcdwZmGFcL7Z5r7P0LVYP7J0vT1W1k08QrHAYJC7lk+8W/l+tfouXcqp6O5+YcUOTcYrzPRbT/j9XCOpiyypJwCSPQVo20Z8mNsqI2fcy/3T3rGGqxI5cumF2grg5yeAAcVrQXMkSfZ3Bc4JXKY6167kfmEk2znvjJrbeD/hR481mBik1rpcpidOqsVwMV+VUKmKGGPngDdv5PSv0L/bW1e40j9nHUohIySX99bWzKvB2b8t9civz6Zd1w+WyrLkn0NfnPEs3LEQgui/M/ZuBKKhhKtXrKVvuRnHaFBU5IHWk++pGQO/So4+rbsg9akVH2sRgD+lfKyVm7H6AncASwBOGHf/AApRy6g4AHU0JtY7QSO/zU9jhmYMo4xk81ndLRmlr6jVUlGXKkluKa8TbDubZt7daCpwpVlUHqB3NCqQSpPBzxTd0To+g1+2M5x+dSI2VBHB7U9iwZNse4AYAFQqfMV9wKFecGjdA9GYfifwtY+JI0W4hTzUyFdlB/A+1ec6x8Do5i0lpEgbJyEP9a9eizMgkUEo2MFuKm3I0hUL/wAs+eO9fR4LOcTgYeyS5oro/wBH+h8dmnDOCzWo8RK8Jvqra+qZ4HBofjjwTMH0bXNY00ryDbXLqP0NdFo37Uvxo8JXUlqnieXUliUOy6rCs/B92BNessvyhS+84zhhn9DVG88Oabdys9xZQSSOoViyYzjp0r0KuaZXj9MbhU/VRl+ep8nPg/MKDvhsSn63X5cyKui/8FCfiBphjGs+F9I1VR99og8Tn8FOB+VcT+0f+2Br3xx8N2vh+30T/hH9FEgmuokkLtcOPuqx/ug849QPSumvPhrolwGJhaJj/wA82wB9OtYV38GrOQSeRdum042sgb9c1hg8v4Vo4qOMw9JQqRd1pJJPyV+X07dDzMTk3EMaboyXPF9mn/kz5mIJdRt5PA45JzX6N/sMeG/7K0ye4ZRuEIQHbghif8ivj/xV8Nm8Pa3o0UskTrPMzBozyVXqcV+hv7KulrpWlPDMu1oAssyEd8Zx9ck1HHWPjDInGlJP2jSv5J3Z5OUYKrRxzVePLKC2fRtaH0n8PtMQ6NeWaKWnt7nMpznlsnj6YxXYLo8zZG0rjnAPSuF+B+srY+OtT0y5fMd/nAb+/ncP0Jr3+XTYxwq4PTJ7ivk8jyTD5tgliH8UW4tej/yaOrH4ueFrcnR2f3/8E8W8V/CLw342iMfiHw5pmtDbtDXtqsrAegJHH4V5hrP7DHwc1py0/ge3gJOf9CleAfkhFfWZ0yNh82M09NFhYdB+Ne5/YdXD6UKso+ja/U4Pryl8cU/kfEl9/wAE5Pg7dnKaNqdqPSHUpsfq1Ztx/wAEz/hPKP3a65D/ALt8x/ma+720GIjoKYdCjUYIFQ8JmsPgxMv/AAJgsTh3vBfcfAFz/wAEu/hnOPk1LxDFn/purfzFZNz/AMEo/h1cZ2+IvEMYPTAhP67a/RJtDjPGBUbaLGPSs+TOY7YiX3r/ACH7XDP7CPzkf/gkl8PyPl8XeIk+qQ//ABNVn/4JH+Bz93xt4gX6xQn/ANlr9Izo8WMYFNGjw56DNRz54tsRL/yX/IObCP8A5do/NaT/AIJG+EcfL471wfWCL/CoG/4JF+Gz9zx7q3/A7WP/AAr9MDpEOKP7Jixzg01Wzxf8xD+6P+Qv9j/59n5kyf8ABIvRB9zx9qH/AAK0SoP+HRlgpBj8fXGQc5azBr9Pf7Ih9B+NPXRYAONtCr59/wBBH4R/yF/sf/Ps/Md/+CUTtg/8LBOQAMtYAnFUJ/8AgkgJmGPiAqn20/GTX6krokWQcCpBocOegq1Xz/piP/JY/wCRLeE25D8qz/wSEc9PiGPxsD/jSH/gkHedYPiLGrHru09v6Gv1ZXRYvQVMmjQj+EVsq/EH/QR/5LH/ACMm8Gtofmfk23/BH3VXPPxGtf8AwXv/APFU8f8ABHzVM/8AJRbUgdP+Jc/+NfrH/Y8Oe1PGkQ46CrVfiB6fWF/4DH/Iz5sL/Ifk2f8AgkDrOEC/EOw46n+zWBP61FJ/wR/8RD7nxFsh9bGT/wCKr9ahpUOOFUn3FL/ZcR6jH0FaKrxB/wBBC/8AAY/5E8+G/kPyP/4c+eJe/wARtPz/ANeMn/xVKv8AwR+8TKcj4kWA/wC3CX/4qv1wXS4h0/kKX+you4H41aq8QP8A5fr/AMBj/kHPhv5PxZ+TEX/BIzxTHgD4m2qj2spP/iqef+CR/i3bhfihag+9lL/8VX6yjSYuyrj6U4aVF/dXP0q4zz9711/4DH/IPaYbpD8Wfkwn/BJXxvCP3fxTsR9bCX/4qnN/wSW8dv1+K2nn/twm/wDiq/WQaXEDnYv5U7+yof7o/KtFPPn/AMv1/wCAx/yI9ph/5fxPyW/4dHeNjgH4qaecf9OE3/xVSWn/AASO8X2cxmj+KdkspPzEadKQfw3V+sv9jw/3R+VL/ZMWPuj8q2TzzrXX/gMf8g9phnvE/Kyb/gkxrd/JG138RbYD/loLewkQN+tUpP8AgjhO8rsvxFjSMnhfsDEj8c1+sX9kw4HApw0yLj5RitUs6/5//hH/ACJc8M/sH5TJ/wAEfrqKNY/+FiwsoHG7TST/ADpo/wCCO3mt+9+IiKP9jTyK/Vz+zY+wH5Uf2bH6D8q1UM3e9f8ABf5C9rQtbkPyth/4I4WAPz/Ea6x/sWI/rWja/wDBHrR4mGfiTqy/9c7RBX6hjTYuwH5UHTY/QflWyoZrLes/w/yF7WgvsH5o2X/BI/RLKdZl+JOu+ahyGFrF/UVvXX/BKXwVqTI9x4s1zzgMNJDFCm76jbX6JjTY8dAfwpP7Mj67cGt1hMx61n+H+RP1iivsH54W3/BJj4eRsPP8T+Jp1H8AaJR+i10ek/8ABLj4R2MiPcW+takV6rcag6hvrtIr7t/s2P0pTp8Q7Vay7Fz0nXf32/If1qmtor7j5y8Afso+APhfIk3hnwdpunXadLvyhJcfXzGy36121z4VmTduTf1OCOleqPboi4C1TkjySAoPb8//AK1ebiOE8PjNasm33bbOinmlSn8K0Pm/4p25g1LRrYyMz2YErRt0UO2c1+bn/BQTw55fic3aKd7osvT25/z7V+iXizWU8SfFTVJwwa0jX7MMdCB8o/UV8f8A7d/h06loq3CgmeyjJk290BKk/mR+dflWQ46nhOLIwpP3Jc1O/krKL/8AJUfWYuhKrljUt0lL/P8AM/N9eTwu4e1fbnwV/wCChT+DPh5p+geK/Dmoa9qNgnkQ6hbTKhliH3Fk3ckgcZr568EfC+613R7a5g8kxuWUux6EHnt713Vn8D1wHuLxOBn9xHuyPqcV+zZ7gsmzWksNmtmou61aafk4tP1R8/lmDzW/tcFSk0+ttH9+h6rr/wDwUl8QXUhXQfAllbRnhX1C4d3H4KQK4DVP23vjJ4kEotL7T9GAbaUtLBCy/RmBNT2Xwp0SyOZY57lAM53Befyrf0rwbouml5YrGMGX5jkZr5ill3CWBt7LCKTXePN/6W2fUxyPiLE/xJqHrJf+2pnk2qePPiv45LJqHjDXbxJDjy0uHRDn/ZBxiq1h8F9W1qUXGoC4nZgS0lxIWP617xDGixjEcaRL0CIF4q4kIG1Y3IABBBJ5+nFems8oYaPJgcOo/cvwijvo8E1Kr5sbiG12X+bf6HLeBfh3p3geGSa3UvfOoEsqrgKuPug/zrrVKoyi4nISSMnIGQT2pwZ/3EqCZCmUKpgowPGSPbNR3k0McdrCw3bmK8LjBAOK+ZxFaeLqOrUd2/6/A/RsJhqOXUVQoR5Yx2877v1IlYszAngfIQf0NFwcrIwBzkKvpxUqpGlvG8TTE8+arcjcDxj8KY8YayTcpVhJlE7Ae5/GuFRs9T1Of3SyshW0hgkn3QsS3lc4Rjgbv8+lOspJ7GO73ylorq12q55GO5x+n0plmiZKznyysgLHr8uD0/GmhsIsYQsyRHhiQCCeK2hdPTfYzaWjfcteassUMEyKjFhKko4GW68e/X610Gmaej6FqVpA8E0l5GiRxzHGWV1JIJ/ixuA+tYccML+YkkUgKAMit3YDp9K6Hwvam8it1WKNJVdbhWVfmTEqEkg8bSA35V7GBp89TTqtfvsc+JX7t+Wx6V8O9H/szxF4o0+CIf2xp90lqrMAD5bhcDHrzxX1ppGmwwarpq2sQzFKkG24+8oZcyD0Br5x+FenRXHxe8RXyLmw1S/iZZZcGTAXB2+4PQ+9fRfgW4/tvzpJXDi31SWGOVyd2+MlCSe+SPSv0jCQUIWjtr+Z+M5/UnKact0tfn/wzOvtlbyIMRF99zl8Y+UDJGf0roY2XflmGWGc+nNcvbzGbXJrRHO+Fl3oGALn5u2fYV0wcpCXAKgdfb9K7tz4Kd+p81f8FAL9h8KfDdjvVHutWYgE8OEjLV8MHHmLsOCQMjsK+vf+Cgmp5j8AacXD/Lc3DRleP7u72NfIrRqCx5xzj0r8oz+opY+S7JH7/wAHU/Z5RCS6uT/H/gGWVwoJBP8AhQmcFSeOoqvaXHmQI8hbqQQfSrDYdBsBwBkmvEnG0mfURkpR5kKOFUlN2eje1LsjKsT0I6e9CszoMDaccqaSSJ5Mc/OAeazvruatK2wjxuIV4xEOCR1U01AFQsG+VSAdx5JNO3ZyXy3zDoe+KWaEOjrnLAjoK2Mt2/IcyzYbZ0X371GzsWnDNh0bIVR2Iqd4mZQBkNk4OahlikiuVbGVKjJHes4S1cS5prUUII41UnzE2nA6YNPwpYN9zKY/3jmmxnciAcgnOac5XbggrsOMVLbZdla4hjDyZAIxjnB6U1JFZpOdxQ4bd61LuEs1rvjeMMvMinjr6VA8QQzzKxZGOQT1Jq1FJaszu29F6jgDKWOCVXnaOgNNlViGkVgisfmHbHf8qeg2KQWOD2HGK0/DulDUb1QTvijP3SPvH+6fbv8AhSckrvojGvVjh6Tq1On9WPNPCPhu7+J/xpuLyWAromgbYmDA7XYHIQe5PJ9q+3/hJps1npF1MUKNqNyEX/dXuPqSR+FY3gL4eJeTeTDAkJncyzGNQMk9z6mvYfE2nweENPjgtABNDEIIEH8PXc1fD8QZ0s0awlJWpwSXour9Xr+B+Y0qbhOdao7zqNt/ovRGHNqxtfG097aMEkt5UwVPVlCg/wBRX1rpGuxa7otlqEJGy4jDY9D3H518VaXC8MoZuHPzHPcnnP8AOvon4Gaw13ouo6YWJ+zkXEKk8gHgivT4MziVHM6mEfw1k2v8Ubv8VdfceVnOEU6EavWH5P8A4J6i13jknoaF1LZ3rAuLxjyDioBfFepr9Jr5pGLep8vDDuR1B1Y+351G+rnGMiuYa+HrTGvvc15NTOUup0Rwh0Tatj+KmNquejVzjXOe+ab9o9zXBLOV/MbLC+R0R1M465/GmnUs9TiufNxnuaUTDHJrn/tpdZF/VTf/ALRH96lF9u6GsBZxnrUi3QHesnncb/EH1U3Re7epzT1v/Tg1gC6z3qQXfv8AhS/t2P8AMT9VN5b8+tPGoe9YK3gzT/tg9q1We0/5jN4Y6AagR/FThqXq1c6bwD1o+3H2q/7epLqT9VudN/aBxndxSjUjjqK5gX+fUU77b71a4gp9yfqh0w1THel/tX/armBfqOppftynpxWseIIP7QvqfkdN/avvml/tU+tcyL1fWnfbFz/9etFn8V9on6n5HULqueppy6kCRzXMC7XHXH409bxRj5/wzW8c/j/MQ8J5HUDUVz96nf2gvrXMC+XPX9aP7QH94/nW/wDb1PrIz+qeR1P2/wD2hR9uH94Vy39of7VH9pgd62WfUushfU2dWt8uByKcL1f71cmNSz/Fij+08fxZ+hrVZ9S/mE8Gzrftin+OnJdDs2a5Earjv+dOGrE9/wAq6I55T6Mh4OR14uwD1pftSnvXIf2qe5zThq59a6YZ3Tf2iHg2dgtyuOop4uFPcVyCayQR81SLrQGOa74Z1DuZPCSOv85T3oyrdDXMDWRkH0qeLWV9eK9OlmlORhLDSRuSKCpxzXBfFnxQfCPhK7njYC7mHk24HXc3Gfwrp49T3sACDmvnv4++In1XxT9gBJtrFAm3tvP3j/KvD4qz1ZblFSvSfvy92Pq+vyV36no5VgXiMXGM9lq/kea+GpRLcX8bH5y6tuPUgd/zrifjv4fXWZ7V7mISWV9atDLkdSMq39DW3BcyabqiTgkg/JJ6EV6G3hmHxX4fmtZwGkjPnwN16jBx7dPyr+XqWIeGxFPFR6K3zV2j9OnFaxl/X9fkfmB4D0y++HnjTXvA+o7iFkN3YydpI+5H1BH5V6VsaIq2GVDG209hXr/xX+FdtPqUN69uDqen7kguFGCARyp9QcV5DI0kJkikU/uxsMfcGv2qGaU83isVBatLm7X7r1/zPoeH5unQeEnL4H7v+F9Plt6WGNKVn2MpLjDbexGKcign7xUEEhf7tLKv2mQycrImFcd+AKaFYY2ybQc8MOo71q7PyPqI33bJrIbRtZuj/LjBzSiKW6vIobi7IjZl2McLjjkE9qjsyBMo8xRHvIBYcL7mk1iOS6a4tQgt1ePbuZA21vUCuilypq7+djmrKUoNwV2tkWorlmik1CycMih4YYt4MUhGASD9QahsLuHULG2S4vY5LiNnYnGCV74+hOM1lw6Xf6bBFFBfyzRW8axx7wNqgks529OTVux02e1uFaS4WaYQtCkcahUAY5P41vJ0VF8sr9u+xy03ipzjz07d9rXb3Wv+fQ14w00F1dJIvyS/PGeMqRjI9eajnd4rCASxtszwFxuKnGSO34VXWJpYMxBmJYKqjqxq41rKbFZ5EcNby+U/HA+UYH14P5V56avzJbHryWnL3G6mEgmjMTmSHcxEjcHbxjOOvepomRUZGU/IiBuclc1WlQyvBDn6KBkDPOKuiKX+zLiU4aRwCAg5+U9fpW6XPK6QRXIrX2DUEIRjK4iWV1wztwSeAM9q7bTLN9D8R3Vo0cizDSTbz7CGGHK/OpyQw+Y4wexrjNUE8PhzTbsEn7XdSwsGHyMABjHr1ruPDumNd67pdk8x3P5DTyHO+JVONmT0UBs19FgKThN330PLxNRVU7PRL+vke7fAm1lvZ7dIC0Mgc2LTIVkMcZQky4PJYY6V7X8OxJFoiy3FqbS9e5Zn3jYXkLku4HIIbOcivGfgfaS38Vpb3CzKkt7MZriF9syIuQr8cgZxz3zivdPDMTR+HbCNibnkbZpnLF9zE7fYAYr9Cor3UfiueVL15JeX6nRpDBd6/NeJGqXAZbcyeuF3DPofmPNbC3E0VpGLhhuyclM4696y7ArBql7GSIo5ikiLJ3YAqf5CtVg62jDcrAc4b09a3Pj5a6HxF+3zqMdz8TPCdsD+9s9ELOnoXkz/ACr5mfy4EaViY/lOD1B4r2j9tDWhqH7Qmo27KAbGwtYGYHdnEYJ6e9eIXyiVorbzPLaRC6jH3vXFfj+ar2uY1G9r/gv+GP6N4eSo5NRS1dl971X5lcKCQQBkDG31pFTG4k/QfzpWAZlY8MBxtpwYlchRjrkV5Utz30k1tqJHhyiI+Gz39KTe2ZEGA6nqT14NOGycNEo+bBGRj604SRzFZRGqN5agrjgsM0KyTcgd7pRK8LbpCsg4KgkDvU8IwvDbs/pTVYtINwAJ6qOx9KeYwwUjgjjGcVEpczKhG2oIisYxISccnBqJEVLaUoSzIdyg+hPSpvLKggtkemKI2CxnC5XuR2oTa2CSXUZHmNGzhdvFErK3yEYB5ytCggkD7p55qOX75PbA+lNbib0HNhIU5JZeu7734UskuyOF5A6xsdwzyM+9OKhgrKScd2747VJdQ3drZQ3A8v7JcmSEx8ckH9MHPNawSm9fUym3TjdERIKg7gxLbsV6j8LfC2IVkZctI27mvN7DTo9Qv9OgTezBueMjt3r6b8A6PDbCHzI2MKFSwXqQK+czvFLDYX2cXrL8j5nOazlONHtq/wBD1TwJp9v4d0sXk5w7AuE9QBWfNp82s3O/y3muJeQqrkk98VNcTPfWt/MA0SpCwRF6IvQCvfPh14Nh0HTo7t1El/cKJM4+4DzgenWvjMh4brcQ4lUaM7QTk5y8lZbeeyXzPisbjo4GDqT1k9Ej5u1Pw3d6PKouraS37jzUx+tei/ASUxeMmhP+rltZAR9Oa91v7Sz1KD7PfW8V3CeCkwB/Wsbwz8OtF8MatLf6fFIkroU2u+VQHstfqeB8P8Rleb4fF4Wup04Su76SS7aXTvt03Pna+eQxGEnSqwak1ZdjJ8SQPp+onHEUnzLWQ1wa7HxtbiTS/N/jiOR9DXAmcEjH8XX6153FtCWW5hJR+CfvLy7o0y6SrUU3utC40p9ab51V/MpvnV+ezxtup66plrzvcUvm5qkZqBcYrz55h5lqmXPOwaPOqn9opDPk1xyzB73H7Mu+dUiy1Q8/GKUz5FY/X33B0y/51KLg5rO8/FH2n60lj33J9kaYuDmnfaKy/tNO+1n1o+vN9SfYml9oA6mgXPHWs37RR9op/Xpdx+xND7Rk9aUTAjrWaLjmnrPmj69LuJ0jQEoPelE2Ohz9aoifI64oM4HVqax0u5Hsy/8AaCPSj7TjuKzjcDsc0n2iq+vS7jVI0/tPvQLk5+9WWbjj0pVuenOaPr8u4ex8jW+04A+ak+0H+8fzrO+0f5zR9q9qPr8u5PsS+1xn+I0n2rA+8azPtJ9aRroY9av6/JdSlQ8jT+189c/jR9r9z+dZX2ml+1cU/wC0JfzFew8jU+2YGNxo+24A+askXPtQbnI6VazKd9x+wXY1ft3+1S/byDkNWP8AaADS/ah2rWOa1F9oX1dPobA1BvWnrqRUH2rE+1UG6rqjnVaL+IX1WPY3V1VgvWpk1hieTgegrmvtFJJfeWue/SvVw+f17pKRlLBw7Ho/huQ3j+cc7MgCvnD4is1z4z1l2ySblh+WK+i/C0ijTLcKeRzg+/WsXUvhPoGr6/Nqlz57+exd7fd+7Zv51+v8QcN43OcnwtDCNOSlzSbdlqnr8rnhYHH0cFiqk6t7PRfej5lh0lrpyRGX9dozXSeFtQbw9eIXY/ZnYI4PJAPH88V9N2eh6fpcAhtNPt7dANu0Rjn6nrXjnxk8EJoEE2saeuy2dlLxqP8AVvvX9Divz3NeA8dk1CGNjVVSKa50layutVrqu+i7nvYfO6OMqOjKPLfa/U81+J3h6C7SS6gO8N8rfWvkrx/ox0vVmmX5EkyDx3r7E1q6WJ7y2lUtGx3LkY2kgH+tfP8A8UNMju7Sddg3gE5NfMcPV5YHEvDSd43t6a/5n0+HrOjOFZbr8V1PGBteQyR43nkg9DjrSK8QLA7cLyMepqFQ24nA2LhCR1zUiAWpLhwQxAPGeAa/VmraXP0BT5ldbAbcG4EgbkgAqDxVqBmmvDGiRyzRxM8iSvgtj0qCYYnk8tw0LDgYxU1syQ6rYTyQNc24dkkROGAI9T71dNKUuWQqjcFKUO42J97jaSS8YOD3xTXiZckIFZhuRj6fhUtqyCBWXCl4iAx5K4OCPxoKlEIiJcLgox/UVi0kzeEnJaPclRftFvbkbbeYyEny5CeR0IB6GmSyOwjMjHaFJYA87txyT74/nUgeLzBu3IpOTtAyOO3tmmzuspeU/KTtXkYzxjk9ulVzdinBJall5AZbeVB5iBsnJwTwcVtaOqXvgrxNaPFEJ3SOeCVjukV158te+COoFYLqpghaMqUU7fmPUjrg1ct9NuNU0yVLRJZ2tYJrqf7NzLbx4wHx1wOuR0rroNxlt0OfEawbv2/NF6KEax4Ju9PEbk2eqwXVusbFQnmLtkbnsdoH4V3fg23XUtesnjjMUj4ijdmLb3Ur0PHJ2nt61ympWUmlWmiy3lhcW3iFnSfUJhIHtp1f5oZYsccxshI7Emu58Ow/ZbqW4jkkuFt7hVVQArKdpYsAfTceR/WvscJT9/XoeBOSdB1Ifa2+Z7z8E1s5vnukezMdsBG80Wd0hk+bJ9PevUvCUs7eGvDzTrlwY9wXAAGOvSuA+G0Umm+ENckCTTWUwit445WPmhXVgSOPlyTnGe1er2kEEH2W3jZlkggXakhAYrjGSM8/Wvs6aXKrH4tmdTmrzfn+RtBhK0D7NzKSDjqwA/qatxFppok8tEkkKoRLk5GeRVVIS0ts+cMxLZXpjFaNmpi1O0BJbMgOatnzzPzN+Pkz6x+0V44MLxB21aW1UyttTC/KAT0FeVRRNLq5mMkbbVa32dAhViGAPcEnrW58QdW/tjxr4lmkG6fUdRuZfLbnI3nms2LCCFBkCIZBUAg+xFfjOIq81SpOS+Jv7up/TWCouFCjTT+CMf8AwK2n9ehSk8wRgkfN6U9QCqjB5OP936VU+0TNMVaCRIHUbXJwc1eVmDghQrdODXFVi4OzXc76U41NUwYwyBJYVkR2XEgkx94E9PbGKQ8x534JprNsBAPzA8A9hTVTcuRhiOqiobctzRe77qH5Xghdvv60x8CIn1OKVRvKnhsHlBwcU91QgrtbaG4Jx+FRs0y9GmkMUlk2g/d5p5GxFLH5VUk4phJVNwwEzg+pp+NoGTwegq17qJvdWI44iY5RvIVsEU/duPPzfWkIcRsxfGegzTYtwiVJWWSTGckY59KLNpsV0nyiSt5UYZgGVBkIvXA6inEQvtNrFKls2JVikPKOeopzg/L8u7PAWk0xnnKCWILKrtlXPUA8VpzNU2zLlTqpPf8AL5nW/C+1gvtYBSSR54WZGRk4AGMc/ia+mtCthDbRrjtXgfwe09IdSusJtwoyM55JPevo3RofljUAnkAD1Pavzbi6qniPZwWiS++2p+durKtUnUm76v7r6fcjrdB04y6TqNyynyIfJVyeh3OBivpK+nSzRwDtwSoX0AOK811Pwwnhn4O3qTKBcOI7qY45yGBA/AVsa74jF5dS7D+73HHPWv1HIqcOE8pUMRpVmoyfe7cnb5LT1ufA4yTzLEc0Phi2vyLGoaqWYgPj3zUFl4yksW2TqZYgfv8AcVz73hYnJ/Gq8km/rXzNTirE0K3tqErfqd8cDTlDlmjsvEPiWyvdJcRS5ZudtefWt0pJjJ6nNRXm6ENjOPQdKyDemOXPIIr5/iHiCWeclSaUXFW0O3B4OOGTjF3udPvFQtMKqQXgkiDBs+tBkr82rYhnqqBZM3FN80VTeY0zzs98V4c8VrZG6gXjMBQk4Ge1UfN/2qPO/Gud4lj5DQ88UfaAO9Z3nGjzfwqXiGHsy+bjPQ0nnH1zVHzeOuaPNz7UvrEg9maAmwP8aX7S3qKzhIfU0eYPWn9ZkJ00aXnj0pBcVS83/OaBL701iWLkNATHHWj7Rjis4y+/60ebT+ssXs0aP2nHSg3JNZ3nEUvnn3qliQ9mi/5/vR5/vVDz/XikNwB0qvrQezNH7R70C4561m/aTSC4OaPrIezNbz/emfaPc1nfaR6UjXGP/wBdH1oPZmibmm/aR61n+eaabg56UvrRXskaDXPvR9oz3rNMxJ70eY3al9akP2aNA3GO9H2nHSs/zWFIZWNL6yx+yNBrnPWk+0j0rPMjdzQXYUfWpFeyRofaRQbkEVQDcdaMn1NV9bmL2aNAz/L1FZNzqYecL/COlRajfC2iwD8xrHgczTAda9DB4mUZqcthOloekeGvFz2ce3O8Y6Guns/FM12ykjYp5xXm+nR+WoJFb0Nx5QGDj2FfsOX8ZY1U4UXP3EfPV8uotuXLqz02x1NLgbS3NYnxNPl/D7X2ID4tsgHoPmXmuctdaaA5BIxT/HPiaK/+Hms2/BmkjijVf72Zoxj9TX67lnEuHx+GnQqyXM4v8j5urgZ0asZxWia/M8l8c6U+m6pLFKuHMccinsVZFP8AjXjnjfTVmjfd3BHvX1t8ZvC63Wg2upQRgzWSJDNtHWPAAP4ECvmXxXArRNx83Q/WvwrOstqZFndSnL4ZPmi+6lr+Duvkfc5diY4zDRl12fqj5V1WIC6vLSKdPOVy0kSjAQFjj+VMkiJVkPHHG72x0rQ8UWy23jO+ZhywAyOuMA1VIPkLIAMEnaf71fqUppwhNLRqL+dlf8T73JpuvhU6krtXXyW34EcB8wlSuMlRz3qfDBmGASU+Zc8AimMjAE8HIyB6YpZDh2OwjOSFbndWLd9Ue9FWVmyIQ/ZomkBYxb+QP4c4JxVq5RrS/RFYyW7oXR2GAcEcUQNIIUQHEbDLZ7H2pTv8lIh/q48lDxwO4q+eN3dXD2dldOw6SHZp1zcukvlJIiBkPyAt3zUse5BcQwypJA4BdtuC+3/9dRKsVwkZJ3FmClO546mlC7YplIIGAu4nnGf/AKwovZJLcvlbk29hbeMzKkUJzIGZjER8vSr+kOun3rXySvb3CxTW6Oh27o3Qh1I7+lU1Qz3yfPmRRuweMjH/ANerkQgmtsStskSRWADHLgsAVz2rsoO0uZbmE4RlD3ldGroVtG83lXTyrbtbIbQqd4R8DBb0AHavQ/D88lsHW4mN2JbhYFSVRuAZSoIHv/KuC0qJZ9Ruoo/IiuI5me33udiAEgJ74GOPevRPD9hFLf6HI7taXKl7mSV0GFZSAvI7HJA9K+0y6N0t2eDj2owsz6e0DS57TR9O0SKObc06vPLHzFGIxuVTnn5sY/GvR4AJ9TE+1V2HIkPJxgfL7VyXgZmv7GG4ubdIpJ4S8rxklZAPu7fUetdrp8ZmgRZIioLYOPbpX2aWh+C42o5VJf1qzVjXfsOeR93FY/ijUY9H8N6/qTM8RstMupywP3NkTMGHvxWxHGDMVyE2jKjsK5T4iI178OfGsMMRV5NEvYkIHLfuH5rKd+SVuz/I8+lrUivNH5S2Ra6C3Uhx5oJj8zlgM561fKoSHHQrj9aq6fCYNPtog3meWoB9TU8cexcnIUtjk8AV+HVpxnOTT0P6soU+SEbrWyv621/r5FWRy7qSzPx0anK2VGRt64pMAuOentTkfBfBBAHGRUyerFFDWPy5fjau4e9NBWQRSQAs4Q8r3P8AnFF5uFu8gVW2ptAY4yTxUYX7Am0ZYAgja3Q4HQ/WtEvd5r6mUm1Nxtouvn0JrjTJrG5tZZVVobu385HVuh3YIIHSkBAOFbD9AMUu4knfwwc/L2p7HzmXzFA5x8gwaicuaSbVioxUVo79SJo2LxqRtV2B6dB0NJDGY5ZFb97tchc9xUNlffaC0YwssbMpSXI47GpgGlt0PCu3U5xVSUoLlkiYyjUfPBjTJFJ+6Jy2A34etIskVyZVgkEkiHkelPit4xe+c3zbmCqV6BPQ0Nb28d/M0K53nBOOtXaCvZ9PkJOcrNpb/Ow6JwQwY5yO3rVvR7I3VwqhSyRrlifaqigFSowCBnpiu30TRzp3hiW7lGJbk8Z7L2rkq1VStfqzgzLEfVcM5R+Jqy+f+R1XwmUJeXb4ADBTgc45PavoXwh4t8K+FdXhvvEus2tja237wxsd0khAOAqjk8/yr5u8J3MdlATNqaaRBJxLeyIX8lfUKASSegHqa+wfgB8ONB8J+BYvF2saLatc3jmS0m1FBJcCLkBnJyNzckKOnHNd2C4Pq5rjlmeIly04u8U1fmttfbS6+Z+M5hm1PDQeGgm5dddv+CZfxJ/ax8F39lc6Yo1V7aaIqWTTZSpBHXOOK5xP2ofBEFvbyahd3mnyyRhnS4spMoe4OBxXRfF7492V7pUtvodhZ5jbynupwogLn7qKoGXb2HSvnf4x6N4j0LwwmpXfjrT7zXJsSy6JpUSSeRF5gQ+bJ2fcSNvbFfb5jwjQzWTqYuvNyfblSXklZnzlHNZUVy06at8/8z3Sx/aW+GmplVj8X2COTwJt0f8A6EBXY6V458P6+F/s7W9Nu89BFdI2f1zXxtJ8JLLWL3wXp32y4v7vWY1+1yblxDKbsw7QNvBC4J/GvOfhn8PdQ+Iuq69p0dvFLdaZcCzQ28bQt5m8gl2yMYAx9TXylfw1oy/gYqS/xRT/ACcT0IZ5Jaypr5P/ADP0inHmRtkZ9xyPwNc3qMTRNuA6d8cfzr869M8eeNvCVjHqmj6/ruj6c1yLJLiO4NxbGfy1cxYYcnDDuPavYfh5+2Hr8SrF46srfWNHQhZdb0xNk1uMkBpYe445YHjFfBZv4e5xg6bq4ZxrJdI6S+57+idz2cLnWFqSUZ3jfufWGm3+1jGTjdWoZeevHrXG2t/bX9pb39ldRXVpdIJIJ4W3JIh6MD/Suis70TwdVLfWvwzE813F6WPqlHS6LxfPekLVCsyjOTwO+aXzE65P4V5biy0u5ITRn3podSODx79aDIAcf0qbMY7JoyfWmhx7fnS7wOSQPoaOWwxwPNKeaRQOu4YpwAz1H0qbEsbikyfSpQFHJ7elL8vbP5VSi2T6kOT6UZPpUuM+o+ooADdCM0lFt2Q7oj3NS9akxjAx+OaDGB1I556/5/WmoN6CuMBNBJFSJGSV+ViG5yQaebdgpIUk+4xVqm2roXMluVmNJ1q0YSGIwODj0phjwDnn9Kr2UkrhzogAweaQk0rSBc/4imb8jr+oqOVlofk0E5pnm+38qN59KmzKsPyaQnmmmQVH53sPzp2bAkJ5ozio/MP9049RzQHzVWGkPL470bs96YWBP+RQcDoc0WGPyKMioy4A68+hFAbOKfK+wEm89M4pHmCpuzjFR5Oe35is3VbsCPylzn271cKbm7ICre3QuJj3I6VoaTahRvIJPv1rifFXjbSPAmjyavq8zCFRiGCEbpbhv7iAdT7nAA5NfLfij9sDx7441SXT/CMlt4bsASB9kj+0T8c5aU/KD7Jur9ByTg/NeIV/scEqa0c5O0fRbtv0T8zy8dmWHwVo1Hr26n35CpSPewKIBksx2j8zWVqfxC8M6ECdR8R6TYkdp72NT/6FXwz4U+Gni74q+M9H07xH4n1rU7bUrdLpboXjYG8sqr5YweCMsT0FbQ/Zetpf2pbz4ZjfLoNlZtqMmqvzP5KwsxPJP8a4+lfsGB8K6tKK+s4xf9uxb/FtfkfJ1eIYt2hT+9n1Df8A7SXwzspPLk8a6bI57QF5T/46prP1n9oHwTJp9uYdaZ4ZbmINILSZl2g7uye1fMvir4V3/gzxJ4b0zS9UjiuNXf8A491QSTW8JlMascqAxOM4zmux8N3PjP4dT/2hNLpviXw2kyxrexvHGoySAJdu4wtlSMkdvcV9bQ8OsDQaksTUuv8AD/l+pwSz2q/+Xa+9n1pof7WXwo8VW0ulXfi20tZ5kaAx3iNFkHp1A9ua8R8WyW+2X7Ncw3sSsQJbaQSI2PQivaPht8Vfhx8QtLNprGk2C3kJMM8GpW0ckqE+jhRuU9j7V47+01B4S8F6pYQ+H9Kg0a5mAa31DTD/AKFdqTgxSpn92+ejfhWvEnCGIzelS9nVTqUr2bVnJPo3+Wi/UvLc4pYScuaLSl53SPmTxjGG8XXDDJORj8qyGJKYZWDAkcdBW5rrifWxMylSXyVPVT3U/wCNM8Rac+n3ayoD5VzGPlzxnrXzLUqEKWHqq00rW81oz9XyDFxVWUE7xnqv68zGX53w3AXge/rSBiYlUgsFJxk9Kfa27XFxtV1jXYzZl4HA5pEWJpE8ohoyxyuckDPFK2h93onZlm2tki05rmWVHYS7Ftlc+ZkgEPjGNvXvUD/utwZlI2kguPlY+nFS/Y5cyI0atLGu8rkbgD04zTG3Kh4AVRjJH6YpJtbodlbRi+cHll2osAljVjsBPzKOce1OAkktbwNhisQkJPUj/wCt/WohdTEoSRGwQqAg4wTU8c8Ysp4i7SIw2ggZKkEZB9uo/CtnK71IStG1ydPNjmEsqFbhI1Xa3RhxjP4VIgxA8f2fcWdV3q2H9z9KgkdXDJl3k6EM3BG0457f/WqeC4S3ga6ZgRFGT+96hugx6iumEtXFbf8AAE0rXNjS7iFdEeUjEtwzQrcK20eZtUgn/wCtivVPCto2u2/iFpy0IgsrdAInCncXQO2TnkgEjjFeOWCLJp9rNC6qsRSZrbI5+UKD9c9q9N0LUJV0y/vVctfQJAGWRSq3KrKNwKj03AfjX2WXVOVKyPncwhKpB2Z9i/D69a28I2j3Uojs4bbjDhvLCjLfN0IwMniu70yV3MZZ1fe+4FOhBGc/livLvhtqVrq3w+jZbAvbajOsX2OFeVWQ4fPpkZ4r061tvsFtHHbylIo0CoGXOwAADP0r7SLvFH4Pj4clacWtbs17ZTvYk7+FzEO/Jzg1i6XJMkEUdw41i2V54LzzF8uVVP8ACB0cbSRx61tRIItzHKsAcHrgGqGtWSXWmtJKASiMFkVsMhPUijc8uLV0j8u/ih4EuPhr8QtZ8Pzr8ltMzW79A8LcxuPUEHFcrIpzhjuGMECvvj9o34Fy/GLwlYahpMIHjLS4d1urjC3kPUwMezD+E18G3ttcWFxcWk9s9vdQSNFLC/Do4OGDDqCCD19a/I81y6eCrysrxbun69Pkf0hkGb08zwkbv95FWkvPv89yhE+8HDYzxwO9RXZdLaWRR86ENt9cVLvXcyZVcKWG32PNOaNTBLDMW2tyMdTx6149lGfvHvPWOn9dhskYubRCAQS4fa3bA/8Ar/pS7iVKDjIHOOh9qbFuaJUOQVAHPcCnKxyAeT2rN9il0l5Ic8rzOXcg8k4xjmmrKIp0cknHzZoI+Ugrn5ux6VFdJiHG1l3ZwcUR1eoSfKnYklla58yRlAmYAbsYyKFPlYICke/OKQL5dpCDlnwMkHrSou0Y7HtVfkHy/rcBtGFAwKYxwzKXxjkHGNxpcYHBz3ozgxyAq+fmIdc4FNIlvQv6Dpra1q9rbgHBb94cdAK9L8WqlppEMK/KgYDaPQVhfDOy3zX14eVMmxNw6cc1q+PpxsjRcZUYAPAz2rx3fF5rSwsdro/P87xfvSfSC/Hr+Jo/DnSbX4g+IvDugXNmI7G2kk1TULiIYZoYx8it/e+bNezfGH48yy/Dm3tdKC2kwJsLW2HO1znLkf7ozn2rgv2fNNQQeMNYcSukUUGm5iYBSCCzc44+7+tJp3hqLxX8a9D0iO3lk060AnvDI42Kr5JPAznYrD8a/pSFONKCpxWkdPuPwSU3OTk+pB4X+GXinxFp+j2d9ADYw3Ecl08jALGR8/Q9XJ4yOlZf7QlhoHg4+J9M0i4gnnuNNWZdcSLb9ukZImMhcdW81XwP619Ga/4r+xX9/a6fYpqkFrPCcXfzJHbyR4LoRj51bnBPWviLxlf6z4k1uzsr2YHTbF4LOaQgRJDAk0vkKwHb74z3xyTSvcuKKXw/+MfiAaHfP4haC61B4WS2JXy5mlZQqPkDIC4Zmx3INfUf7Iunz6J4Zj1WPQl1u0vY5m1Q6Uu51bqJDn+JSOB19K8zt/h19n8Oanq+vrb6VoVsd8F/dk+W5WN2EcIVhkygqoGMDBJ61s/slfGFvAXxI0u0nupRZ6rEmmwaVZIpS4uWbEbsvBDDOCR9aTKG+JfhvpGkfCbxH4MTQrTQNVWNtbGrz3RkFyxAMYQjq6vvj8s9lFfJOgX81te3zNFNDJCBKVwchWIDAjspztYHsP8AZFfqn411P7V4ei1GKxje00nUd2lrxcG6dkCsyE8Fd25tx6jBr4q1bRfAfw9+KOpeINS1C91dbWZGfTYnjcB/vMsoOfO8xyx2jbgNt5xmolONNXk0l5s0pxlUfLBNvyM39nzUvE9xfXnhbQ/GEGhWTIb/AE+zvYDMrL/y1SNv9jgkDsa99tfDPxZtE3W/jPw/OhPJfTiOPWvGPEEvh7Vo4dZ8K3cmg6xY3L6na2l3EscSSY3+VGV5CPt8vB7sM8V9E/DnxvaeN/C+ma7YsGhu4gxQnOxujKfcHIr+aPETA1MuxEcxwtOnKjV3vCErS821f3t/W/kfomS4hzpvD1k1OHfsZ/8AwjnxjHEfi7w0zYyu7Tjgnt/Svif4ofttfHj4UeOdU8N65Hpdre2kpXEmmph0/hcHHII71+j9tODEVA+VBxn+6elfLX7f3wEi+JXhGw8Y2cJ/tPRSI73yh8z2rHr77Tj9a+P4NzLLsRmkcFm+GpShU0i/ZxVpdNls9vmjrzaFdUOehJpx7dT5dT/gpR8XVPzf2K+PWwQVZj/4KY/FVBhrTQ3+tn/9evBx4K0lmbN7Ip3EHLD/AAq3D8NNNuRlNSAz0zIP8K/pV8HcPy/5gaf/AICj4L+08av+XrPdE/4KbfE5PvaZoLfS2I/rU6/8FPfiTxnRNAP/AGwYf1rw6L4Nxzcrfrj2lX/CrcXwIlnXMd5v9hKlS+CeH3/zAw+4f9q43/n6z2xP+CoPxFHXw/4fP0jkH/s1SL/wVH+IOMN4Z0Bh/uyf/FV4mP2d9Qf7sjN9JEpT+zZrjYKBj7bl/wAay/1G4ef/ADBQ/H/MP7Wxv/P1/h/ke3D/AIKjePO/hTQD/wB/f/iqlX/gqX44UAf8IhoBx6tL/wDFV4lF+zPrrfeWX8CtSj9l/Xm6RXBH0WofAfDr1+pR/H/MpZvjf+fr/D/I9q/4eoeNiefBvh8/8Dl/+Kp6/wDBVPxsvTwboOP+uk3/AMVXi6/ssa63SG6P4Cmv+yzrqdYbj/vkU/8AUPh+9/qcfvl/8kH9rY3/AJ+/gv8AI9wi/wCCq/jKP73gnQW/7bTD+tTTf8FQPiHrtpLa6T4N0KyvZBtju8yS+WTwDtY4P418z+M/gnf+B9ITUbtZREZViw+Op9q+s/2O/wBmXTYPhxr3xm8c6Pc6t4V0BC9tpFmp8zUZxgEZ4xCpKhiOSdw/hOSPBHD1KSf1OP3yf5sP7UxklrUf4f5HB6b4Z/aH/aJae6l1fxX4gRn3Pb6dvS2jB9ACFAHPSrupfsU/G/w/EL2DT/FKSxjc89rM8rxH3CtkV9x/Av4jy/td/B7x58NdXitPCmsqhudItNBY2kVvb5BjRNmM7JFAc9/MPpXmX7FvwfbSPGnijx34r1jWLbQ/BcM8Vwt5qErxvcBGDl1ZsN5ahm+u2vrqOEw1CPs6VNRj2SS/I86VWbd23f1Z8n6B+0t8dvgRqcttca7P4isoH2zadrwM5AB6bm+ZPwNdnN/wVT8UgbW8DaOM9V+0ynn1HPSvYPD3xCtP21vHGq+CPGvhiCyvtSNxdeFfFWmwgXWmxpysF2f+WkO0gc8e2a+Cvi18JdT8A/Ee98LatafYdStb02UsYOVD5GGUnqjqyOpPZxnnNfO4zhLIsfU9rXwsXLyvG/rytX+Z20sxxVJWhUa/E+jW/wCCp3iTn/ihdI59biX/ABpp/wCCpniU/wDMjaP/AOBEv+NeG/8ADLXiMIGa3kK+qMpH8qYf2YNezjyLgn/gP+FecuAOHH/zBL75f5mv9s46/wDF/I91/wCHpnif/oRtG/8AAiX/ABpD/wAFTvE/bwNo3/gRL/jXhJ/Zh18Hm2uPrlaR/wBmLX0/5YzD8Vp/6gcOf9AS++X+Yv7Yx3/P38v8j3Y/8FT/ABUf+ZI0X/v/AC/41FJ/wVN8Wt93wVog/wC20v8AjXhh/Zp1eHmcsn/A1qJ/2e7yI/NNx/12QU/9QeHOmCj98v8A5If9sY7/AJ+/l/ke5N/wVJ8ZH7vgzQh7l5T/AFqF/wDgqJ46b7vhTQU/7+n/ANmrwx/gVJEcNcY9czJ/hVSb4QQQ/evQCO3nKf6VX+ofDv8A0Bx++X+Yf2vjn/y9/Bf5Hu0n/BT74hMPk8O6Cn1Rz/Wq7/8ABTf4lnOzSdBT/t3J/ma8Dl+G9lCfmvf/ACID/SqzeCtLj+9duPdXB/pWseCOHo6LBQ+65P8Aa2Of/L1/ge+n/gph8U2PFnoa49LT/wCvX0V+zV8W/jp+0Hot9rLy6JoOjQuEivJ7DImb/ZHUj3r4X+HvwX/4WN4z0zw9pEs0t3eTpHkEEKufmY8dlya/Yfwv4XsPAvhfTPD+kwrBp+mwLbxqgwCQOT9TX5Vx/TyPh3D08PgsHS9vU1vyp8sV1t3b0V/PsfS5LVxeLqOpWqNxX4v+vxOFl8PfFyJlB8aeH8scBRph/Gud8QaN8RtPtLu+1L4gaNaWdrE088yab9yNRkt+VevXV7jc5OScqpz1UcE/nn8q+Yf2nfiPp0+taP8AD+a9a0tbu4huNanj+byoN3yRtz0YjcRnopGOa/NeG6eLzvMKeDpUqavu/ZQ0it38P9OyPp8XXhhaMqsum3m+iPnX4ofFnxJ4qu1tNVvbi6uLqAhTbYh2WZPyjA6Fxye+OO9ejfAXwNa2OmyXiRTJqEmI0ZGA8sFWChj054zWFpfhX4b6BcX9y+v6nJqkkzPb380MckL7TnawA+VRgHAHOBXtPwI8PPc63pzWV/a6jYySxwsdwXZKvADDPJbk+g7mv7HwKwmHpxw2E5VGKskrWXfRfifleJhiG3Vrxav1dz1z4OaDd6V8X9G1mDTZ7XSl8L29hFqVxAWhgvTGRLux1X93KQfRa8D+Omv6l8PP2iIddW5k1OW2EcVzdQTMizweW/70MDyp3YC+1fa+sKvgX4fXd9bIdNt0WJpbsP5Rg/fzgnngqfmXtw1fFer3+mePPELW3i+KS20G0e4j1C+sSHnXeP3MibiAQHMalRjAYnpmvS8zzVuecJ8WrrxX+0xo2vRypPpkV2GguHTaxRBhSD9K+k9EtfB/iH4KfEZbG4Oma3JcrcxzSIdt8iQxq0fTBfdvx9RivGPiR8O9V0Yw6Xevp0xu3hmsf7OuVaSKNjuyuzHyhTkjAx0r3j4D/EDxB8KbiTTdUk0fxJ4ZTcFWdFt7i3GB5cgbBzkbSck9PU0XZT8jxS48R6r8LfFOnatpcluLF7aL7fCkvnjynUDy2J5DLycHkfSvojw9aaR8aPht4h8O3t1JIJImexCjLxzKNykE9B3rD+Pnw1h8rVrCDUYdTvbzR5NcS2iO+Zx95m3ZxjbnHX7prlP2TfEFqsOlQ2t/PJO9v5EpmhA8uVGwe5zkd+PxrRamcl1PMPEWp/2lFpsjWSWc8Mf2W58scvPGdrsx9SRXQ6tpw1fwqmMmRE3qe4IrV+OHgdvCHxF8R6a0z3JWWO7WZkUb/MX5jgAAfMDUXhw+foSpjJAwR9RX4vxzD6tiaOJj11/T9D9C4ert0Gk9YPT80eWSIGh59tw96dG6SypDFFvmBKhgOTntVvXLU2GtsiAbc7wD0PtVO6t1aGcFgfMQMnHO729K8qEoySfR6n7jSqOvRVaPVJjI7W8smgjvEa11GJ382F4djxDcpTLDrx3qTUFM8TyRTEzyuB831wc09ftE8a3rq2Bti3E5OcY5ycnFLPtmsbaDekIRgpkPGec8jvXROqp1drBCkqVFq9xskTfu0EpW4WdY8nk4Ht3psepTzxxGby5WUuxRk8sH943XFSafOJtQjtVYI5u+WXk8DOQayoBPOLwuWkhgkkh5HLcsc+3Wtop8lp+TOeo7VLxd3Zr8TRikMwlSPDNIrNyMg4HHP41ZguFe1i3YLdCSnWqmlpH5axoVDLD8gHfjn+VQ21w0Ombdjl1Uj5R75qWukdDojLVOfVf5HQmNSiqdiHKvleMYAwfwPauz0K7kube4jhWWW7uApt5e7sWCHA6feIP4Vw1pIEvbcDFxGS3EgAIXv6+1b+m6rLZXFlIb1rdEuIzFLKSscJEisuCOxPH419BltS8jLFJOm2fRXwZ8ex6Z4lhtZJLe1e0vP7O1FASQSpDK7gdDxwa+rpreS3i2q7RySTRx7pSSCCT2+lfnZpHlDxt45tdQsJPDmpwXsMuoPaXJaC5LY5wx3bslSMHHbHNfdXwb8W2/irQktHuZLm4tcSxSXAHmMuOV9SVr7/DzThY/Ds9wspJYtLTr/md/teMfKyupUbj6kVR1pZG0q9jQhJHhkWNtucsRgfrV99qqgBUgt1HU1n+JLJ77RZo0+SVZoijE4OPMXI4Peuk+MXxJkUlvIkFvCWJeEKyyA4G4DqfWvHfiP+zv4S+Lk11fahZDQ9Tl2vHremY81pmBDiVT94ZUcnmvci4nmJUA84ywwQfSsWzHmG/tftCSyw3DBkUbSgI3KPyNRVo068HTqxumd2GxVbCzVWjJxkux+Q0FkrXVtPlg8YdDjoQwq/cFXZyfmLcA55GKit4jbIoyX5zzUysAFIUMRkFCMYHavxCq3Une+iP6eo0404WS1f8AwERhlWNQXwcE5JyakBJTI4wfxqIFI1YkbWYAKO4PGak38Mow2ejetZPR7Gyeg5crGAMZbJz3pZ5GaIJuLFQB7U2RA0imNiVGBg0j7VkYtnAPQVFveH0sNJXr93aPujvRvYEEcg80Nkncozzjb+PNNllGwEcA849quKYm92PRQEDnjBpFUiRVC4TIJbtz2pzgn92OQMHimoFeV2WQlT049PanFaCk02ken/DdSvh8StgM8rtjtjIx/KqnjaQG8Qs3KyKAvHNaPgg7fDln2+Uk/nWR4ktZL9jIjqvluWbI5wRjIrzMgnT/ANYY1a0kopvV+mn4n5DnvO6NdQV229vU9f8AgiskPw0nCwun2zUJJWlO0I5VVAA59z1qj4cvJfDvxu1WRESUSSRWcsb5IaOTahPB/hVmNUfAHxC0ex8EaZoc1zHbX9rcOWjmcKHBC7WXPc4ORVX4p+G9b8KabYeIxZSDT9R1OHULi4XK/uo2BC7/AFbGAO9f0kpKSvF3TPyJxcXZqxveN/H+n+Mfij4k0+HV4fAWhRzIqRsztJdCNNpiEaq2GJ5J7dOa4i60fUvE8fhPSIVS1iZc2sWoxhAYnbH75mA3Y2Oct03AjrS+M5NA+JWuX+saegs9eLFgzxloJIB/Ay9ASf4utbfibXX8b6Tb6rc2E9vYzaZZaTZF1KW++3iCyBpTwMkHPqQMVNuxSueI+OnvrNILOWG4hsftVzFYrAjyW4jDsiyAFzxu3Y4yMqe9esWNhZfCD4dfDLX4LKK98ca3rMJsZZ186ZkAKyyooI+Vc9Tg7sdua8g+IHx3gtW07SLXwdevaeFYGMl2Zmk+2MzqdxPQRjzAB3JAB4rf8X+Nov7F0qSYDUNY1+3+yx3Eg8uKzWUZfyz2C8EnpkYqWVrdHq3xU/aMuk8dXfhWa6snTRLHyY4NCbba6e4jTzzu6OwXChQccdQa+aJ/Dyy6xPrdyktjYy3RxdbdyAMcqN2cBiCOT71neE/Dt94d8R6e9g2nm2jdxLNDdJIH8wFSpOfmbHOO1VfiTqfiG4tbXSdV1Ga60myTyrWG4cmPYnygkDoQM9OOK+SzylVquGtoWf3/APDH3PDk6UVOKtz3+dvL5lyO4WfUn0q3uGv7W9kMO9Jt0kXP3uMkYz1x/KvTP2Pvi6dP8XXng69nQW+oSObcjhUux99Fzjh+orzv4d6bo2k+Fr3Vr65gg1e3kaODzJCm6Lb/AKyQdQqZ3AdWIAHJrxnwh4kaz8W6nqOmvLEbUnUbZy/zAwnKn2yODXjSyZZpltfA1fhmvdb/AJls/vOnM8ZTw2Kpzpv3k9fTsfsHZ3JAU5zs6+61qlLa9gktrtEntLhTFLE4yHRhg/px+Ncb4S15fEWgaRrKpsTUbSG62Yx8skYbH6108EuxDHkYU4PuvY1/F9enOhUaekov8j652nHTZn5N/tlfAzUPgf8AFa8jtjI3h/VCbuwlAwoU8sh9xXgIv7iEjErDj1zX7T/tBfBXT/2gfhtdaBPtj1m2Bn0y6YZKSgcD6HpX5Z6p8NbHwtdSWGvWYstShlaGeKUEFXB5/wAR7Gv7N4J4kjxFl6VSX76FlLu+0vn17P1R+XZrgnhKzcV7r2/yPKk1y+UcXLfnU8finVIVwl26/jXpFv4H8MXTA/abZVPq5FX1+E2gXBBju7Zh6LORX6Ioy6M8O55cnjbWkOVvpQf981ZT4jeIIyCuozA+zmvUo/gjosowLi3z/wBfNPPwD02ThJ4yT0xc1XLMV0eYp8VfFEf3dWuB/wADNWE+MHixBxrE/wD32f8AGvSo/wBnKCXG18j1+0Cp0/ZlWUfIHb6TCnyzFeJ5gvxo8Xp01m4/77P+NPPxr8YMcnWbg/8AbQ/416V/wzP5hIQSMR/01FQv+zS44Al/CQUctQV4nmyeNdW8W6lptpq17NcW5uFJUsTznrX7OfCj4p6d8ONQ+GHwZ1G2to/DOveBYJiSAC1/LuaVdx4w4Y49wa/HHxp8NtT+F+sWF7dQb9NklDxSg5AIPKN6Gvofx/8AG9/iPdeDUitl06/0PRbaKx1GGYsbpIjnOP4SjhunUNUfa9801cbI9VjudU/Zc/aT2aUZrp9H1FYYIk4e8tJiMRgfxMVYD/eT8a9b/bQ+PGoXPw8tPCGleEtS8J6b4o1FrnV7i8tvIE4UB3iDAnLuVGR/dDV8keKf25pdd+Iei+KvEHgSyl8SaCnlKqXcnk37D7jy55XYSzLt/vU74pft6az8WPC/9g+LfB1jBYXNyL21vba5kM9rg8bAeDxlST1DGtnKnZ6/gZqE7p2/E+lvgPqtj+zt+z94x+L2oQrJrGqQ/YtHglBAdQSEUcZ/ePk8fw4rwf8A4KLD+2Lr4e+Npkjj1nxB4bs59QkiUqJLuMZaT8RKgHoEUdq4X4h/tOaj+0DYeHNIl0W08KeEfCwMkdrazPICqqFDOT0IUAADua579pv44X3xg03wpDcaNHoSadp8VlbWFvI0mFySCxbncUMJwKiU4tWXl/wTSMJL3n5nlY+L3iqJBGurXCqABjzG7D600/F/xaemtXI/7aGu+8Ofs16re6ZBc6jGY551DiEOAUBGQD747Vs/8Ms3AALAhfeYUrVGRdJnkjfFjxW/B1q5/wC/h/xqN/ih4pf/AJjN3/38Neuj9l19xy4A/wCuwpkn7MDp/wAtYh9bkCjlmF4njsnxB1+T72p3B/3pCagfxnrUn3r+Y/8AAq9iP7OUFv8A627t/wALoGoZPgTpMIO++tgR1/0inyzHdHjzeKNUcjN7N/31UMmvXzklrpyfevX3+D+g2/37+3OO3m5qnP4B8L2pG67hY+zZqeWQ7nkzardt/wAvD/hRFd3UrYErscZr06bw34WhHDwkjpnJ3emK9u/Zc/ZWg+LHxCgvruzMHhPSCs144XH2iQciMH8ia83MMbQyvDTxmKlaEFd932S7tvRLub0KE8RUVKnuz6B/YE+A7fD3wB/wmmtwEa3rK5s1lHzRQH+PnoTjj8a+oLy52qEDAO3yrjt6n8qWedFEUUEaRW0CCOKJBgKo4AFZM84eaaXdwv7qM+3c/wBK/h7Os0rZ/mVTHYjeWy6JLZL0P1zB4aGEoxpx6GJ438VWnhDw5qGt3ZIs7GEyBehY8BF+rHH5mvzW1HVp/E3i7VvE2tSpfyyyzy3VksvSQABRgZ4RWwPcN+P1R+234uGl+E7LRjcLbrLFNqJRgf8ASHj2qkX5sT/wEV8j/AW203VZjHqgMl5bO801s77ZLq2Zd7mMngsjKp29SGPpX7/wBkjoZLVx6j+8rXS78sXsvNu/3I+bzDHQWPp0anww1fq9vuNbSLnQtZs55tR1R7aVEQwJa9WbOAkiHqfpxXqnwju28KeIdOvZbm4t9Nu45hPJCCGjZUBWVo8Z25xu6deoxXl/xA8K6INdhsNE1KwvFXGLlVKlmfqCw4whwB+tdl4e0DxDbeFNYsNAneG+vLcW1xd/aREQjdY1Lfe3ADI9Md6+1wtKbxVL2Ld09V2XU9HMa1JYOftHo1ofZkvjDwpffscXOsyXC3viDRb23n1uO8uTI7n7TvbCFsNHiT5cDHyY7V5H+0BoE+heO9P8ReG7k3Hhy+sPPsbaKBZXPmgAuV+6HO4kbz/CK8w8DXl54Phk1TWoNOutKtRHNcJLOrSIYg6mLywfnJLk+mAK6XxV48Gq6P4d0fw9ok99DqN0ba3e1O+4ty6M8cZ9QMED1DHHSv0RWR+WJPZGfBPDq6ag8k1vFrNm6JZXDReTeXDbB8mwMQcHPK8HHNeqXenaJd6H4V8QJI5t9SX7PdRyg3DK8Eux5GjADCNwhIABPPSvKvCXxIHxIvPDcQ0Wbw7e6Iwh1SZ48vPGj+YshzyAM4bFfQVz4O07xH8Ubvw1FE2jadLd3GoWviFp/LtobaSGCUNGemRM87D1D4PShhqtyHx74mjsNLvPFfhLSLSw0bw9pE9mkUV0LgSvKyqfmPzbCkjYQ9Dxjg48g/ZYur6z1Iz/AGSeO1GpIWm8htimRclS2MD2Br1L4s6n4U8MfBT4peB/B+rW2rarfXllHaTrKN9yF+eeQEcKuVzgcZOO9eEfs8RalFpvim6W2unt7Ka1n81AQAqrhmJPQdvTNNPWxL+E+kP2tH+0/ELSr5LW6iS70dYmlniMSTyKdxZN2CQA2M4rzTwtKVt5Ys/KDuUd8Yr0L9ojx7o/xKufBFrpVx597pNoVvJww8lQ6jag7kj1rzTRB9kuZITtYAbdwPBr8r4+VOeGpxuuZX0620/4J9hw5zxlUutNDm/HkKR6lJK77AsPAwc5zzWEG+fPJVgNpHQV0Xj2RlvolVS/mRkEHpjIrmVDsyb9qqBgiMYNfFYPXCQfkfu2VP8A2WnbXT9SQyIiybj8oywXvnHWp4LUanBbQoQs/ngo0hwjYGcH3NVbdY1jZACvORKwy3TpVi2VWaCOV9i+ZliR0GO1ehFxpyutbdz02pVItPS6F0u2FnrLbwIrg3RJDdj0I44qpG2f7ZjOB/pO9ecZG3mrwmlkvIllh+4+5MrtOMcH3qtLbxgXIZ1aUzfKoGRt2g8mtOd2d+36ozdOyjbu/wAmMUSLbWx2EPtVWfbjAw/T9KdazNNp7pvAGwurdOnrTZ5RHborvuKEYWQ8nhsY/Wo5kYfYYpkXY9s2UXgKc9WP9a2Xvu/T/h2Yfw3yrX+kiaN5POjaIFkQOZcHlkwM4NbbrNd6VDJBCNR8PgBbgryqORmNQ3Y7lz+Fc1cNFP8AIZntrGFcSzKMBz2Ue3rirFpfTaVdpbwxstvPCHIVgu/GdrAd8ZOK9Gg3BK/9ff18uhxTmk2n8Ol/y0t06PudR4r+KVtovipPF9zoI1+KW/trjVdOlJ3S20RUucgj5ht4NfU+jeG9W+Etvo3ivRtZh1nwpqziexldtl1bK53LE2ThjtIXPt0r48j0y21C3kkLG5MsDJP5g+faT0Irufgp8arr4P2cngvxO76/8M9TYLEt026bTJegZH6gA4PtXvZbmdNzdCq7S6Pv/X6nzmbZbXi1XpLmpNJSjpZJbNdt9+613uv0g8EeOLPx3p7TQQvFcwlftMJGfLyDjB6ZOCa3ruEpDLH5e0h4zuJyfvA18L2XxK8TfDW6e4v725ubVpYLFLu3ZGe4iaWRoLhV6NgMAT+de5fCb9poeKvEFwNe1OMaNeZt40urbyJrO6VsFN3SRHHzBh0NfX08RGbsfmGYZHWw0nUpK8d9NT3aRMbsEKpIzms+eL7Nq5ljEf8ApbHzCi8llRAD+VaOm39pq0UdxpshuLeQZW6jIIB9CDU62n2mFIp5DNPDIcyOm0jP/wBbFdPMfMa3sz8b2wQDsnbPQrGxH54oYyKFOyU4PeJun5V+z8Hg7QbaCOGLQ9OSKNQiItpGAoAwABipD4S0RuTounn62sf+FfALhpt39r+B+tf6/Q6Yd/8AgX/2p+LqR+dJGclBzuLxN+XSkYFyQsUwPAwIm/wr9ov+ER0Mf8wTTvwtI/8A4mhfCeiDpounj6Wsf+FH+rUv+fv4f8EP9fYf9Az/APAv/tT8XQJAVPlTZHB/dNx+lGCpG6OXaD1MTc/pX7RnwponfRrD/wABI/8ACmt4T0Qj/kC6efb7JH/hU/6sv/n7+H/BD/X2C/5hn/4F/wDan4qXd7JaXNsPInKu/lnETcZB56VeNxKtr9m+yLtZ/MaV4GLg4wADjpX7OHwjohPOiac3cf6JHx+lO/4RTRj10XTz/wBuif4Vp/q21a1T8DNcdwbblQb1v8X/ANqfi/C8LXLxtbzhgF8lzG42nnOeKrwFxvRo5XbecfumGeevSv2n/wCET0TOf7F0/Pr9kj/wp3/CJ6ID/wAgWw/8BY/8KT4bdre1/AceO4J3eHf/AIF/9qflX4ZlMfhy2Cg5C9CMHrSoM3HUr6kda9J+L+nw6V8UPFqGFM/2g4igjAREXAwcD69K4E4E7EgD3WvxbFRVDE1oJ/aa+52NFVeI/
[...]
