{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_d0472a5c-041e-407b-a676-4097fcda8fea",
            "value": "✓"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "55e3134ae4b0b74f06703ede",
        "apiId": "55e3134ae4b0fd0fcdcd15b2"
    },
    "info": {
        "title": "La Liga Live Scores",
        "description": "La Liga Live Scores API allows to retrieve historical data as well as current season results, scorers, lineups, substitutes, events, statistics, odds and much more all with live updates, for the top professional Spanish football league. And more features are coming...",
        "version": "v1",
        "x-category": "Sports",
        "x-long-description": "La Liga Live Scores API allows to retrieve historical data as well as current season results, scorers, lineups, substitutes, events, statistics, odds and much more all with live updates, for the top professional Spanish football league. And more features are coming...",
        "x-website": "",
        "x-public": true,
        "x-thumbnail": "https://s3.amazonaws.com/mashape-production-logos/apis/55e3134ae4b0b74f06703ede_medium",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://heisenbug-la-liga-live-scores-v1.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [
        {
            "name": "La Liga"
        },
        {
            "name": "Webhooks"
        },
        {
            "name": "Betting"
        },
        {
            "name": "La Liga Live"
        }
    ],
    "paths": {
        "/api/laliga/predict": {
            "get": {
                "tags": [
                    "Betting"
                ],
                "parameters": [
                    {
                        "name": "team2",
                        "in": "query",
                        "required": true,
                        "description": "Away team name",
                        "schema": {
                            "type": "string",
                            "example": "Valencia"
                        }
                    },
                    {
                        "name": "team1",
                        "in": "query",
                        "required": true,
                        "description": "Home team name",
                        "schema": {
                            "type": "string",
                            "example": "Barcelona"
                        }
                    }
                ],
                "operationId": "Prediction",
                "description": "Returns match result perdiction (use an AI deep learning engine)",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/api/laliga/table/betting": {
            "get": {
                "tags": [
                    "Betting"
                ],
                "parameters": [
                    {
                        "name": "fromdate",
                        "in": "query",
                        "required": false,
                        "description": "Only matches fromdate (format mmddyyyy)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "handicap",
                        "in": "query",
                        "required": false,
                        "description": "Handicap values (only for 1x2 bet)",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "mode",
                        "in": "query",
                        "required": false,
                        "description": "Together with team parameter, let you to select only games where team has played home, away or all (default)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "team",
                        "in": "query",
                        "required": false,
                        "description": "Team name",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "time",
                        "in": "query",
                        "required": false,
                        "description": "Let you to select only first half (FH) result, second half (SH) or full time (FT) default",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "todate",
                        "in": "query",
                        "required": false,
                        "description": "Only matches todate (format mmddyyyy)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "when",
                        "in": "query",
                        "required": false,
                        "description": "Let you to select only games with win, loss, draw or all (default)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "over",
                        "in": "query",
                        "required": false,
                        "description": "Over values limit, mandatory for underover bet",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "bet",
                        "in": "query",
                        "required": true,
                        "description": "Type of data required, result, totalgoals,underover,1x2,goalnogoal",
                        "schema": {
                            "type": "string",
                            "example": "1x2"
                        }
                    }
                ],
                "operationId": "Bet Stats",
                "description": "Returns aggregate data about results, goal-nogoal, underover, 1x2 and totalgoals to support your bet activities",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/api/laliga/odds": {
            "get": {
                "tags": [
                    "Betting"
                ],
                "parameters": [
                    {
                        "name": "team2",
                        "in": "query",
                        "required": true,
                        "description": "Away team",
                        "schema": {
                            "type": "string",
                            "example": "Villarreal"
                        }
                    },
                    {
                        "name": "team1",
                        "in": "query",
                        "required": true,
                        "description": "Home team",
                        "schema": {
                            "type": "string",
                            "example": "Getafe"
                        }
                    },
                    {
                        "name": "odd",
                        "in": "query",
                        "required": true,
                        "description": "Odd name",
                        "schema": {
                            "type": "string",
                            "example": "1x2-FT"
                        }
                    },
                    {
                        "name": "bookmaker",
                        "in": "query",
                        "required": true,
                        "description": "Bookmaker name",
                        "schema": {
                            "type": "string",
                            "example": "Bet365"
                        }
                    }
                ],
                "operationId": "Odd quotas",
                "description": "Returns quotas for an odd a match and a bookmaker",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/api/laliga/match/missing": {
            "get": {
                "tags": [
                    "La Liga"
                ],
                "parameters": [
                    {
                        "name": "team1",
                        "in": "query",
                        "required": true,
                        "description": "Home team name",
                        "schema": {
                            "type": "string",
                            "example": "Granada"
                        }
                    },
                    {
                        "name": "team2",
                        "in": "query",
                        "required": true,
                        "description": "Away team name",
                        "schema": {
                            "type": "string",
                            "example": "Leganes"
                        }
                    }
                ],
                "operationId": "Missing players for a match",
                "description": "Return missing players for a match",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/api/laliga/players": {
            "get": {
                "tags": [
                    "La Liga"
                ],
                "parameters": [
                    {
                        "name": "team",
                        "in": "query",
                        "required": true,
                        "description": "Team name",
                        "schema": {
                            "type": "string",
                            "example": "Barcelona"
                        }
                    }
                ],
                "operationId": "League Players",
                "description": "Returns all players for a team",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/api/laliga": {
            "get": {
                "tags": [
                    "La Liga"
                ],
                "parameters": [
                    {
                        "name": "date",
                        "in": "query",
                        "required": false,
                        "description": "Returns all matches for the date (format mmddyyyy)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "team1",
                        "in": "query",
                        "required": false,
                        "description": "Returns all matches with team1",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "team2",
                        "in": "query",
                        "required": false,
                        "description": "Return all matches with team2",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "season",
                        "in": "query",
                        "required": false,
                        "description": "Season code (default 2016-17)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "matchday",
                        "in": "query",
                        "required": false,
                        "description": "Return all the games results for the match day specified.",
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    },
                    {
                        "name": "live",
                        "in": "query",
                        "required": false,
                        "description": "Returns results for playing matches (live) (default false). Overwrite all the others parameters.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "operationId": "Season matches results",
                "description": "Return Season matches results",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/api/laliga/match/events": {
            "get": {
                "tags": [
                    "La Liga"
                ],
                "parameters": [
                    {
                        "name": "live",
                        "in": "query",
                        "required": false,
                        "description": "Returns data for a playing match (default false)",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "team1",
                        "in": "query",
                        "required": true,
                        "description": "Home team name",
                        "schema": {
                            "type": "string",
                            "example": "Real Madrid"
                        }
                    },
                    {
                        "name": "team2",
                        "in": "query",
                        "required": true,
                        "description": "Away team name",
                        "schema": {
                            "type": "string",
                            "example": "Barcelona"
                        }
                    }
                ],
                "operationId": "Match events",
                "description": "Returns events l(yellow and red cards, substitutions, missing penalties and formation module...) for a match",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/api/laliga/listodds": {
            "get": {
                "tags": [
                    "Betting"
                ],
                "parameters": [
                    {
                        "name": "team2",
                        "in": "query",
                        "required": true,
                        "description": "Away team",
                        "schema": {
                            "type": "string",
                            "example": "Villarreal"
                        }
                    },
                    {
                        "name": "team1",
                        "in": "query",
                        "required": true,
                        "description": "Home team",
                        "schema": {
                            "type": "string",
                            "example": "Getafe"
                        }
                    },
                    {
                        "name": "bookmaker",
                        "in": "query",
                        "required": true,
                        "description": "Bookmaker name",
                        "schema": {
                            "type": "string",
                            "example": "Bet365"
                        }
                    }
                ],
                "operationId": "Odds List",
                "description": "Returns the available odds for a match and a bookmaker",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/api/laliga/listbookmakers": {
            "get": {
                "tags": [
                    "Betting"
                ],
                "parameters": [
                    {
                        "name": "team2",
                        "in": "query",
                        "required": true,
                        "description": "Away Team",
                        "schema": {
                            "type": "string",
                            "example": "Villarreal"
                        }
                    },
                    {
                        "name": "team1",
                        "in": "query",
                        "required": true,
                        "description": "Home team",
                        "schema": {
                            "type": "string",
                            "example": "Getafe"
                        }
                    }
                ],
                "operationId": "Bookmakers List",
                "description": "Return the list of the available bookmakers for a match",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/api/laliga/formations": {
            "get": {
                "tags": [
                    "La Liga"
                ],
                "parameters": [
                    {
                        "name": "live",
                        "in": "query",
                        "required": false,
                        "description": "Returns data for a playing match (default false)",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "team1",
                        "in": "query",
                        "required": true,
                        "description": "Home team name",
                        "schema": {
                            "type": "string",
                            "example": "Barcelona"
                        }
                    },
                    {
                        "name": "team2",
                        "in": "query",
                        "required": true,
                        "description": "Away team name",
                        "schema": {
                            "type": "string",
                            "example": "Real Madrid"
                        }
                    }
                ],
                "operationId": "Lineups and substitutes for a game",
                "description": "Return lineups, substitutes and coaches for a game.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/api/laliga/playerdetails": {
            "get": {
                "tags": [
                    "La Liga"
                ],
                "parameters": [
                    {
                        "name": "honours",
                        "in": "query",
                        "required": false,
                        "description": "Return only the honours for the player (default false)",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "player",
                        "in": "query",
                        "required": true,
                        "description": "Player name",
                        "schema": {
                            "type": "string",
                            "example": "Luka Modric"
                        }
                    },
                    {
                        "name": "team",
                        "in": "query",
                        "required": true,
                        "description": "Team name",
                        "schema": {
                            "type": "string",
                            "example": "Real Madrid"
                        }
                    }
                ],
                "operationId": "Player details",
                "description": "Returns all data about a player. Available only with ULTRA and MEGA plans!",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/api/laliga/match/player": {
            "get": {
                "tags": [
                    "La Liga"
                ],
                "parameters": [
                    {
                        "name": "live",
                        "in": "query",
                        "required": false,
                        "description": "Returns data for a playing match (default false)",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "player",
                        "in": "query",
                        "required": true,
                        "description": "Player name",
                        "schema": {
                            "type": "string",
                            "example": "Cristiano Ronaldo"
                        }
                    },
                    {
                        "name": "team1",
                        "in": "query",
                        "required": true,
                        "description": "Home team name",
                        "schema": {
                            "type": "string",
                            "example": "Real Madrid"
                        }
                    },
                    {
                        "name": "team2",
                        "in": "query",
                        "required": true,
                        "description": "Away team name",
                        "schema": {
                            "type": "string",
                            "example": "Getafe"
                        }
                    }
                ],
                "operationId": "Player stats for a match",
                "description": "Return the player's statistics for a match",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/api/laliga/table/scorers": {
            "get": {
                "tags": [
                    "La Liga"
                ],
                "parameters": [
                    {
                        "name": "to",
                        "in": "query",
                        "required": false,
                        "description": "Optional parameter to specify the last match number to consider to compute the result (default last match number played registered on system)",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "mode",
                        "in": "query",
                        "required": false,
                        "description": "Optional parameter to restrict the table compute on home or away games (default all)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "player",
                        "in": "query",
                        "required": false,
                        "description": "Optional parameter to get goals number only for the player name specified",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "team",
                        "in": "query",
                        "required": false,
                        "description": "Team name",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "how",
                        "in": "query",
                        "required": false,
                        "description": "Return only goals scored according the how parameter. Its value can be: left, right, head or any, that is the default.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fromdate",
                        "in": "query",
                        "required": false,
                        "description": "Compute the table only with matches played fromdate (format mmddyyyy)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "todate",
                        "in": "query",
                        "required": false,
                        "description": "Compute the table only with matches played todate (format mmddyyyy)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Page result to return. Default is 1 that are results from 1 to 5 (max. value is 20).",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "required": false,
                        "description": "Optional parameter to specify the first match number to use to compute the result (default 1)",
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "operationId": "Top scorers",
                "description": "Returns top scorers for the league",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/api/laliga/table": {
            "get": {
                "tags": [
                    "La Liga"
                ],
                "parameters": [
                    {
                        "name": "to",
                        "in": "query",
                        "required": false,
                        "description": "Optional parameter to specify the last match number to consider to compute the table (default last match number played registered on system)",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "fromdate",
                        "in": "query",
                        "required": false,
                        "description": "Compute the table only with matches played fromdate (format mmddyyyy)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "todate",
                        "in": "query",
                        "required": false,
                        "description": "Compute the tables only with matches played todate (format mmddyyyy)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "required": false,
                        "description": "Optional parameter to specify the first match number to use to compute the table (default 1)",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "time",
                        "in": "query",
                        "required": false,
                        "description": "Let to compute the table considering only the first half (FH) or the second time (SH) results. Default is full time (FT).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "season",
                        "in": "query",
                        "required": false,
                        "description": "Season code (default 2016-17)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mode",
                        "in": "query",
                        "required": false,
                        "description": "Optional parameter to restrict the table compute on home or away games (default all)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "League Table",
                "description": "Return current league table",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/api/laliga/scorers": {
            "get": {
                "tags": [
                    "La Liga"
                ],
                "parameters": [
                    {
                        "name": "live",
                        "in": "query",
                        "required": false,
                        "description": "Returns data for a playing match (default false)",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "team1",
                        "in": "query",
                        "required": true,
                        "description": "Home team name",
                        "schema": {
                            "type": "string",
                            "example": "Sevilla"
                        }
                    },
                    {
                        "name": "team2",
                        "in": "query",
                        "required": true,
                        "description": "Away team name",
                        "schema": {
                            "type": "string",
                            "example": "Barcelona"
                        }
                    }
                ],
                "operationId": "Match scorers",
                "description": "Return scorers for a match",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/api/laliga/match/stats": {
            "get": {
                "tags": [
                    "La Liga"
                ],
                "parameters": [
                    {
                        "name": "live",
                        "in": "query",
                        "required": false,
                        "description": "Returns data for a playing match (default false)",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "team1",
                        "in": "query",
                        "required": true,
                        "description": "Home team name",
                        "schema": {
                            "type": "string",
                            "example": "Real Madrid"
                        }
                    },
                    {
                        "name": "team2",
                        "in": "query",
                        "required": true,
                        "description": "Away team name",
                        "schema": {
                            "type": "string",
                            "example": "Barcelona"
                        }
                    }
                ],
                "operationId": "Match statistics",
                "description": "Returns match statistics",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/api/laliga/table/referee": {
            "get": {
                "tags": [
                    "La Liga"
                ],
                "operationId": "Referees Statistics",
                "description": "Referees statistics",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/api/laliga/push/subscribe": {
            "post": {
                "tags": [
                    "Webhooks"
                ],
                "parameters": [
                    {
                        "name": "team1",
                        "in": "query",
                        "required": true,
                        "description": "Home team",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "team2",
                        "in": "query",
                        "required": true,
                        "description": "Away team",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "url",
                        "in": "query",
                        "required": true,
                        "description": "The wekhook where to receive the notifications",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Subscribe",
                "description": "Register to an event for push notifications. Not available for BASIC plan.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/api/laliga/push/lis": {
            "get": {
                "tags": [
                    "Webhooks"
                ],
                "operationId": "Events subscribed",
                "description": "Returns all the events subscribed. Not available for BASIC plan.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/api/laliga/push/activate": {
            "get": {
                "tags": [
                    "Webhooks"
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "required": true,
                        "description": "Token",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Activate webhook",
                "description": "Activate a webhook registered with the subscribe endpoint. Not available for BASIC plan.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        }
    }
}