{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_31f201c0-0530-4c5d-ad9e-6d977a31d0c2",
            "value": "✓"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "apiversion_c472cb54-6a07-400b-a64c-b5991b398d67",
        "apiId": "api_91d89c2a-4bc7-4bf3-8f23-5dc9b476744b"
    },
    "info": {
        "title": "API-RUGBY",
        "description": "Rugby Leagues & Cups with Livescore, Odds, Bookmakers, Statistics, Standings, Historical Data...",
        "version": "v1",
        "x-category": "Sports",
        "x-long-description": "Rugby Leagues & Cups with Livescore, Odds, Bookmakers, Statistics, Standings, Historical Data, Countries, Seasons. Documentation : https://api-sports.io/documentation/rugby/v1",
        "x-website": "www.api-football.com/sports",
        "x-public": true,
        "x-thumbnail": "https://rapidapi-prod-apis.s3.amazonaws.com/47a6a2e2-c8c6-4d23-8526-03d61fcdd3bd.png",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://api-rugby.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [
        {
            "name": "Standings",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Odds",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Teams",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Leagues",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Games",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Seasons",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Countries",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Search",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        }
    ],
    "paths": {
        "/teams": {
            "get": {
                "tags": [
                    "Teams"
                ],
                "parameters": [
                    {
                        "name": "country_id",
                        "in": "query",
                        "required": false,
                        "description": "The id of the country",
                        "schema": {
                            "externalDocs": {},
                            "type": "number"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "description": "The name of the country",
                        "schema": {
                            "externalDocs": {},
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "required": false,
                        "description": "The id of the team",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "119"
                        }
                    },
                    {
                        "name": "season",
                        "in": "query",
                        "required": false,
                        "description": "The season of the league",
                        "schema": {
                            "externalDocs": {},
                            "type": "number"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "description": "The name of the team",
                        "schema": {
                            "externalDocs": {},
                            "type": "string"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "externalDocs": {}
                        }
                    },
                    {
                        "name": "league",
                        "in": "query",
                        "required": false,
                        "description": "The id of the league",
                        "schema": {
                            "externalDocs": {},
                            "type": "number"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Teams",
                "description": "Get data about teams.\n\nThe team `id` are **unique** in the API and teams keep it among all the leagues/cups in which they participate.\n\n> **This endpoint requires at least one parameter.**",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Response": {
                                        "description": "",
                                        "summary": "Response",
                                        "value": {
                                            "errors": [],
                                            "get": "teams",
                                            "parameters": {
                                                "id": "119"
                                            },
                                            "response": [
                                                {
                                                    "arena": {
                                                        "capacity": 3000,
                                                        "location": "Rouen, France",
                                                        "name": "Stade Jean-mermoz"
                                                    },
                                                    "country": {
                                                        "code": "FR",
                                                        "flag": "https://media.api-sports.io/flags/fr.svg",
                                                        "id": 7,
                                                        "name": "France"
                                                    },
                                                    "founded": 2009,
                                                    "id": 119,
                                                    "logo": "https://media.api-sports.io/rugby/teams/119.png",
                                                    "name": "Rouen Normandie",
                                                    "national": false
                                                }
                                            ],
                                            "results": 1
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                }
            }
        },
        "/odds/bets": {
            "get": {
                "tags": [
                    "Odds"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": false,
                        "description": "The id of the bet",
                        "schema": {
                            "externalDocs": {},
                            "type": "number"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "description": "The name of the bet",
                        "schema": {
                            "externalDocs": {},
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Bets",
                "description": "Get all available bets.\n\nAll bets `id` can be used in endpoint odds as filters",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Response": {
                                        "description": "",
                                        "summary": "Response",
                                        "value": {
                                            "errors": [],
                                            "get": "odds",
                                            "parameters": [],
                                            "response": [
                                                {
                                                    "id": 1,
                                                    "name": "3Way Result"
                                                },
                                                {
                                                    "id": 2,
                                                    "name": "Home/Away"
                                                },
                                                {
                                                    "id": 3,
                                                    "name": "2nd Half 3Way Result"
                                                },
                                                {
                                                    "id": 4,
                                                    "name": "Asian Handicap"
                                                },
                                                {
                                                    "id": 5,
                                                    "name": "HT/FT Double"
                                                },
                                                {
                                                    "id": 6,
                                                    "name": "Handicap Result"
                                                },
                                                {
                                                    "id": 7,
                                                    "name": "Highest Scoring Half"
                                                },
                                                {
                                                    "id": 8,
                                                    "name": "1st Half 3Way Result"
                                                },
                                                {
                                                    "id": 9,
                                                    "name": "Handicap Result 1st Half"
                                                },
                                                {
                                                    "id": 10,
                                                    "name": "Asian Handicap First Half"
                                                },
                                                {
                                                    "id": 11,
                                                    "name": "Odd/Even"
                                                },
                                                {
                                                    "id": 12,
                                                    "name": "Home win both halves"
                                                },
                                                {
                                                    "id": 13,
                                                    "name": "Away win both halves"
                                                },
                                                {
                                                    "id": 14,
                                                    "name": "First Team to Score"
                                                },
                                                {
                                                    "id": 15,
                                                    "name": "Last Team to Score"
                                                },
                                                {
                                                    "id": 16,
                                                    "name": "Asian Handicap (2nd Half)"
                                                },
                                                {
                                                    "id": 17,
                                                    "name": "Home/Away - 1st Half"
                                                },
                                                {
                                                    "id": 18,
                                                    "name": "Home/Away - 2nd Half"
                                                },
                                                {
                                                    "id": 19,
                                                    "name": "European Handicap (2nd Half)"
                                                },
                                                {
                                                    "id": 20,
                                                    "name": "Draw No Bet (1st Half)"
                                                },
                                                {
                                                    "id": 21,
                                                    "name": "Home Trail in Match"
                                                },
                                                {
                                                    "id": 22,
                                                    "name": "Away Trail in Match"
                                                },
                                                {
                                                    "id": 23,
                                                    "name": "Over/Under 1st Half"
                                                },
                                                {
                                                    "id": 24,
                                                    "name": "Over/Under"
                                                },
                                                {
                                                    "id": 25,
                                                    "name": "Over/Under 2nd Half"
                                                },
                                                {
                                                    "id": 26,
                                                    "name": "Total - Home"
                                                },
                                                {
                                                    "id": 27,
                                                    "name": "Total - Away"
                                                },
                                                {
                                                    "id": 28,
                                                    "name": "Number of Tries"
                                                },
                                                {
                                                    "id": 29,
                                                    "name": "Home Team Total Tries"
                                                },
                                                {
                                                    "id": 30,
                                                    "name": "Away Team Total Tries"
                                                },
                                                {
                                                    "id": 31,
                                                    "name": "Home Team Total Goals(1st Half)"
                                                },
                                                {
                                                    "id": 32,
                                                    "name": "Away Team Total Goals(1st Half)"
                                                },
                                                {
                                                    "id": 33,
                                                    "name": "Home Team Total Goals(2nd Half)"
                                                },
                                                {
                                                    "id": 34,
                                                    "name": "Away Team Total Goals(2nd Half)"
                                                },
                                                {
                                                    "id": 35,
                                                    "name": "Number of Tries 1st Half"
                                                },
                                                {
                                                    "id": 36,
                                                    "name": "Number of Tries 2nd Half"
                                                }
                                            ],
                                            "results": 36
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                }
            }
        },
        "/odds/bookmakers": {
            "get": {
                "tags": [
                    "Odds"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": false,
                        "description": "The id of the bookmaker",
                        "schema": {
                            "externalDocs": {},
                            "type": "number"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "description": "The name of the bookmaker",
                        "schema": {
                            "externalDocs": {},
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Bookmakers",
                "description": "Get all available bookmakers.\n\nAll bookmakers `id` can be used in endpoint odds as filters.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Response": {
                                        "description": "",
                                        "summary": "Response",
                                        "value": {
                                            "errors": [],
                                            "get": "odds",
                                            "parameters": [],
                                            "response": [
                                                {
                                                    "id": 1,
                                                    "name": "Expekt"
                                                },
                                                {
                                                    "id": 2,
                                                    "name": "NordicBet"
                                                },
                                                {
                                                    "id": 3,
                                                    "name": "10Bet"
                                                },
                                                {
                                                    "id": 4,
                                                    "name": "Bet365"
                                                },
                                                {
                                                    "id": 5,
                                                    "name": "Marathon"
                                                },
                                                {
                                                    "id": 6,
                                                    "name": "Unibet"
                                                },
                                                {
                                                    "id": 7,
                                                    "name": "Betsson"
                                                },
                                                {
                                                    "id": 8,
                                                    "name": "888Sport"
                                                },
                                                {
                                                    "id": 9,
                                                    "name": "Pinnacle"
                                                },
                                                {
                                                    "id": 10,
                                                    "name": "Sbo"
                                                },
                                                {
                                                    "id": 11,
                                                    "name": "Dafabet"
                                                },
                                                {
                                                    "id": 12,
                                                    "name": "Betway"
                                                },
                                                {
                                                    "id": 13,
                                                    "name": "Betcris"
                                                },
                                                {
                                                    "id": 14,
                                                    "name": "Bwin"
                                                },
                                                {
                                                    "id": 15,
                                                    "name": "Sportingbet"
                                                }
                                            ],
                                            "results": 15
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                }
            }
        },
        "/countries": {
            "get": {
                "tags": [
                    "Countries"
                ],
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "externalDocs": {}
                        }
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "required": false,
                        "description": "The code of the country",
                        "schema": {
                            "externalDocs": {},
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "description": "The name of the country",
                        "schema": {
                            "externalDocs": {},
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "required": false,
                        "description": "The id of the country",
                        "schema": {
                            "externalDocs": {},
                            "type": "number"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Countries",
                "description": "Get the list of available countries.\n\nThe `name`, `id` and `code` fields can be used in other endpoints as filters.\n\n> All the parameters of this endpoint can be used together.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Response": {
                                        "description": "",
                                        "summary": "Response",
                                        "value": {
                                            "errors": [],
                                            "get": "countries",
                                            "parameters": [],
                                            "response": [
                                                {
                                                    "code": "AR",
                                                    "flag": "https://media.api-sports.io/flags/ar.svg",
                                                    "id": 1,
                                                    "name": "Argentina"
                                                },
                                                {
                                                    "code": "AU",
                                                    "flag": "https://media.api-sports.io/flags/au.svg",
                                                    "id": 2,
                                                    "name": "Australia"
                                                },
                                                {
                                                    "code": "AT",
                                                    "flag": "https://media.api-sports.io/flags/at.svg",
                                                    "id": 3,
                                                    "name": "Austria"
                                                },
                                                {
                                                    "code": "CA",
                                                    "flag": "https://media.api-sports.io/flags/ca.svg",
                                                    "id": 4,
                                                    "name": "Canada"
                                                },
                                                {
                                                    "code": "CZ",
                                                    "flag": "https://media.api-sports.io/flags/cz.svg",
                                                    "id": 5,
                                                    "name": "Czech-Republic"
                                                },
                                                {
                                                    "code": "GB",
                                                    "flag": "https://media.api-sports.io/flags/gb.svg",
                                                    "id": 6,
                                                    "name": "England"
                                                },
                                                {
                                                    "code": "FR",
                                                    "flag": "https://media.api-sports.io/flags/fr.svg",
                                                    "id": 7,
                                                    "name": "France"
                                                },
                                                {
                                                    "code": "GE",
                                                    "flag": "https://media.api-sports.io/flags/ge.svg",
                                                    "id": 8,
                                                    "name": "Georgia"
                                                },
                                                {
                                                    "code": "DE",
                                                    "flag": "https://media.api-sports.io/flags/de.svg",
                                                    "id": 9,
                                                    "name": "Germany"
                                                },
                                                {
                                                    "code": "IR",
                                                    "flag": "https://media.api-sports.io/flags/ir.svg",
                                                    "id": 10,
                                                    "name": "Ireland"
                                                },
                                                {
                                                    "code": "IT",
                                                    "flag": "https://media.api-sports.io/flags/it.svg",
                                                    "id": 11,
                                                    "name": "Italy"
                                                },
                                                {
                                                    "code": "JP",
                                                    "flag": "https://media.api-sports.io/flags/jp.svg",
                                                    "id": 12,
                                                    "name": "Japan"
                                                },
                                                {
                                                    "code": "NL",
                                                    "flag": "https://media.api-sports.io/flags/nl.svg",
                                                    "id": 13,
                                                    "name": "Netherlands"
                                                },
                                                {
                                                    "code": "NZ",
                                                    "flag": "https://media.api-sports.io/flags/nz.svg",
                                                    "id": 14,
                                                    "name": "New-Zealand"
                                                },
                                                {
                                                    "code": "PL",
                                                    "flag": "https://media.api-sports.io/flags/pl.svg",
                                                    "id": 15,
                                                    "name": "Poland"
                                                },
                                                {
                                                    "code": "PT",
                                                    "flag": "https://media.api-sports.io/flags/pt.svg",
                                                    "id": 16,
                                                    "name": "Portugal"
                                                },
                                                {
                                                    "code": "RO",
                                                    "flag": "https://media.api-sports.io/flags/ro.svg",
                                                    "id": 17,
                                                    "name": "Romania"
                                                },
                                                {
                                                    "code": "RU",
                                                    "flag": "https://media.api-sports.io/flags/ru.svg",
                                                    "id": 18,
                                                    "name": "Russia"
                                                },
                                                {
                                                    "code": "GB",
                                                    "flag": "https://media.api-sports.io/flags/gb.svg",
                                                    "id": 19,
                                                    "name": "Scotland"
                                                },
                                                {
                                                    "code": "ZA",
                                                    "flag": "https://media.api-sports.io/flags/za.svg",
                                                    "id": 20,
                                                    "name": "South-Africa"
                                                },
                                                {
                                                    "code": "ES",
                                                    "flag": "https://media.api-sports.io/flags/es.svg",
                                                    "id": 21,
                                                    "name": "Spain"
                                                },
                                                {
                                                    "code": "US",
                                                    "flag": "https://media.api-sports.io/flags/us.svg",
                                                    "id": 22,
                                                    "name": "USA"
                                                },
                                                {
                                                    "code": "GB",
                                                    "flag": "https://media.api-sports.io/flags/gb.svg",
                                                    "id": 23,
                                                    "name": "Wales"
                                                },
                                                {
                                                    "code": "AU",
                                                    "flag": "https://media.api-sports.io/flags/au.svg",
                                                    "id": 24,
                                                    "name": "Australia-Oceania"
                                                },
                                                {
                                                    "code": null,
                                                    "flag": null,
                                                    "id": 25,
                                                    "name": "Europe"
                                                },
                                                {
                                                    "code": null,
                                                    "flag": null,
                                                    "id": 26,
                                                    "name": "World"
                                                }
                                            ],
                                            "results": 26
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                }
            }
        },
        "/leagues": {
            "get": {
                "tags": [
                    "Leagues"
                ],
                "parameters": [
                    {
                        "name": "country_id",
                        "in": "query",
                        "required": false,
                        "description": "The id of the country",
                        "schema": {
                            "externalDocs": {},
                            "type": "number"
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "required": false,
                        "description": "The id of the league",
                        "schema": {
                            "externalDocs": {},
                            "type": "number"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "description": "The name of the league",
                        "schema": {
                            "externalDocs": {},
                            "type": "string"
                        }
                    },
                    {
                        "name": "season",
                        "in": "query",
                        "required": false,
                        "description": "The season of the league",
                        "schema": {
                            "externalDocs": {},
                            "type": "number"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "description": "The name of the country",
                        "schema": {
                            "externalDocs": {},
                            "type": "string"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "externalDocs": {}
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "description": "The type of the league [league, cup]",
                        "schema": {
                            "externalDocs": {},
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Leagues",
                "description": "Get the list of available leagues and cups.\n\nThe league `id` are **unique** in the API and leagues keep it across all `seasons`\n\n> Most of the parameters of this endpoint can be used together.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Response": {
                                        "description": "",
                                        "summary": "Response",
                                        "value": {
                                            "errors": [],
                                            "get": "leagues",
                                            "parameters": [],
                                            "response": [
                                                {
                                                    "country": {
                                                        "code": "AR",
                                                        "flag": "https://media.api-sports.io/flags/ar.svg",
                                                        "id": 1,
                                                        "name": "Argentina"
                                                    },
                                                    "id": 1,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/1.png",
                                                    "name": "Top 12",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2021-10-16",
                                                            "season": 2021,
                                                            "start": "2021-04-17"
                                                        }
                                                    ],
                                                    "type": "League"
                                                },
                                                {
                                                    "country": {
                                                        "code": "AU",
                                                        "flag": "https://media.api-sports.io/flags/au.svg",
                                                        "id": 2,
                                                        "name": "Australia"
                                                    },
                                                    "id": 3,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/3.png",
                                                    "name": "NRC",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2019-10-26",
                                                            "season": 2019,
                                                            "start": "2019-08-31"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2018-10-27",
                                                            "season": 2018,
                                                            "start": "2018-09-01"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2017-11-11",
                                                            "season": 2017,
                                                            "start": "2017-09-02"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2016-10-22",
                                                            "season": 2016,
                                                            "start": "2016-08-27"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2015-10-31",
                                                            "season": 2015,
                                                            "start": "2015-08-20"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2014-11-01",
                                                            "season": 2014,
                                                            "start": "2014-08-21"
                                                        }
                                                    ],
                                                    "type": "League"
                                                },
                                                {
                                                    "country": {
                                                        "code": "AU",
                                                        "flag": "https://media.api-sports.io/flags/au.svg",
                                                        "id": 2,
                                                        "name": "Australia"
                                                    },
                                                    "id": 2,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/2.png",
                                                    "name": "Shute Shield",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2020-10-31",
                                                            "season": 2020,
                                                            "start": "2020-07-18"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2019-08-03",
                                                            "season": 2019,
                                                            "start": "2019-04-06"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2018-09-01",
                                                            "season": 2018,
                                                            "start": "2018-04-07"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2017-08-26",
                                                            "season": 2017,
                                                            "start": "2017-03-31"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2016-08-06",
                                                            "season": 2016,
                                                            "start": "2016-03-19"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2015-08-15",
                                                            "season": 2015,
                                                            "start": "2015-03-21"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2014-08-16",
                                                            "season": 2014,
                                                            "start": "2014-03-29"
                                                        }
                                                    ],
                                                    "type": "League"
                                                },
                                                {
                                                    "country": {
                                                        "code": "AU",
                                                        "flag": "https://media.api-sports.io/flags/au.svg",
                                                        "id": 2,
                                                        "name": "Australia"
                                                    },
                                                    "id": 4,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/4.png",
                                                    "name": "Super W Women",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2020-03-15",
                                                            "season": 2020,
                                                            "start": "2020-02-14"
                                                        }
                                                    ],
                                                    "type": "League"
                                                },
                                                {
                                                    "country": {
                                                        "code": "AU",
                                                        "flag": "https://media.api-sports.io/flags/au.svg",
                                                        "id": 24,
                                                        "name": "Australia-Oceania"
                                                    },
                                                    "id": 49,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/49.png",
                                                    "name": "Oceania Cup",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2019-08-31",
                                                            "season": 2019,
                                                            "start": "2019-08-23"
                                                        }
                                                    ],
                                                    "type": "Cup"
                                                },
                                                {
                                                    "country": {
                                                        "code": "AU",
                                                        "flag": "https://media.api-sports.io/flags/au.svg",
                                                        "id": 24,
                                                        "name": "Australia-Oceania"
                                                    },
                                                    "id": 50,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/50.png",
                                                    "name": "Oceania Sevens Championships",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2019-11-09",
                                                            "season": 2019,
                                                            "start": "2019-11-06"
                                                        }
                                                    ],
                                                    "type": "Cup"
                                                },
                                                {
                                                    "country": {
                                                        "code": "AT",
                                                        "flag": "https://media.api-sports.io/flags/at.svg",
                                                        "id": 3,
                                                        "name": "Austria"
                                                    },
                                                    "id": 5,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/5.png",
                                                    "name": "Premiership",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2019-11-23",
                                                            "season": 2019,
                                                            "start": "2019-09-21"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2019-06-15",
                                                            "season": 2018,
                                                            "start": "2018-09-29"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2017-06-17",
                                                            "season": 2017,
                                                            "start": "2017-03-25"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2016-11-26",
                                                            "season": 2016,
                                                            "start": "2016-10-01"
                                                        }
                                                    ],
                                                    "type": "League"
                                                },
                                                {
                                                    "country": {
                                                        "code": "CA",
                                                        "flag": "https://media.api-sports.io/flags/ca.svg",
                                                        "id": 4,
                                                        "name": "Canada"
                                                    },
                                                    "id": 6,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/6.png",
                                                    "name": "CRC",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2018-08-26",
                                                            "season": 2018,
                                                            "start": "2018-07-27"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2017-08-20",
                                                            "season": 2017,
                                                            "start": "2017-07-15"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2016-07-24",
                                                            "season": 2016,
                                                            "start": "2016-06-04"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2015-07-01",
                                                            "season": 2015,
                                                            "start": "2015-06-28"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2014-09-27",
                                                            "season": 2014,
                                                            "start": "2014-08-10"
                                                        }
                                                    ],
                                                    "type": "Cup"
                                                },
                                                {
                                                    "country": {
                                                        "code": "CZ",
                                                        "flag": "https://media.api-sports.io/flags/cz.svg",
                                                        "id": 5,
                                                        "name": "Czech-Republic"
                                                    },
                                                    "id": 9,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/9.png",
                                                    "name": "1. Liga",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2020-10-10",
                                                            "season": 2020,
                                                            "start": "2020-08-22"
                                                        }
                                                    ],
                                                    "type": "League"
                                                },
                                                {
                                                    "country": {
                                                        "code": "CZ",
                                                        "flag": "https://media.api-sports.io/flags/cz.svg",
                                                        "id": 5,
                                                        "name": "Czech-Republic"
                                                    },
                                                    "id": 8,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/8.png",
                                                    "name": "CSRU Cup",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2017-11-04",
                                                            "season": 2017,
                                                            "start": "2017-08-26"
                                                        }
                                                    ],
                                                    "type": "League"
                                                },
                                                {
                                                    "country": {
                                                        "code": "CZ",
                                                        "flag": "https://media.api-sports.io/flags/cz.svg",
                                                        "id": 5,
                                                        "name": "Czech-Republic"
                                                    },
                                                    "id": 7,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/7.png",
                                                    "name": "Extraliga",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2019-10-12",
                                                            "season": 2019,
                                                            "start": "2019-03-30"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2018-11-10",
                                                            "season": 2018,
                                                            "start": "2018-03-24"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2017-06-24",
                                                            "season": 2016,
                                                            "start": "2016-08-27"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2016-06-04",
                                                            "season": 2015,
                                                            "start": "2015-08-30"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2015-05-30",
                                                            "season": 2014,
                                                            "start": "2014-08-31"
                                                        }
                                                    ],
                                                    "type": "League"
                                                },
                                                {
                                                    "country": {
                                                        "code": "GB",
                                                        "flag": "https://media.api-sports.io/flags/gb.svg",
                                                        "id": 6,
                                                        "name": "England"
                                                    },
                                                    "id": 14,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/14.png",
                                                    "name": "Championship Cup",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2020-02-23",
                                                            "season": 2019,
                                                            "start": "2019-09-20"
                                                        }
                                                    ],
                                                    "type": "Cup"
                                                },
                                                {
                                                    "country": {
                                                        "code": "GB",
                                                        "flag": "https://media.api-sports.io/flags/gb.svg",
                                                        "id": 6,
                                                        "name": "England"
                                                    },
                                                    "id": 12,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/12.png",
                                                    "name": "Greene King IPA Championship",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2020-03-14",
                                                            "season": 2019,
                                                            "start": "2019-10-12"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2019-04-27",
                                                            "season": 2018,
                                                            "start": "2018-08-31"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2018-04-28",
                                                            "season": 2017,
                                                            "start": "2017-09-02"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2017-05-24",
                                                            "season": 2016,
                                                            "start": "2016-09-03"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2016-05-25",
                                                            "season": 2015,
                                                            "start": "2015-09-04"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2015-05-27",
                                                            "season": 2014,
                                                            "start": "2014-09-05"
                                                        }
                                                    ],
                                                    "type": "League"
                                                },
                                                {
                                                    "country": {
                                                        "code": "GB",
                                                        "flag": "https://media.api-sports.io/flags/gb.svg",
                                                        "id": 6,
                                                        "name": "England"
                                                    },
                                                    "id": 15,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/15.png",
                                                    "name": "Premier 15s Women",
                                                    "seasons": [
                                                        {
                                                            "current": true,
                                                            "end": "2021-04-10",
                                                            "season": 2020,
                                                            "start": "2020-10-10"
                                                        }
                                                    ],
                                                    "type": "League"
                                                },
                                                {
                                                    "country": {
                                                        "code": "GB",
                                                        "flag": "https://media.api-sports.io/flags/gb.svg",
                                                        "id": 6,
                                                        "name": "England"
                                                    },
                                                    "id": 13,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/13.png",
                                                    "name": "Premiership Rugby",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2019-05-18",
                                                            "season": 2018,
                                                            "start": "2018-08-31"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2018-05-26",
                                                            "season": 2017,
                                                            "start": "2017-09-01"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2017-05-27",
                                                            "season": 2016,
                                                            "start": "2016-09-02"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2016-05-28",
                                                            "season": 2015,
                                                            "start": "2015-10-16"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2015-05-30",
                                                            "season": 2014,
                                                            "start": "2014-09-05"
                                                        }
                                                    ],
                                                    "type": "League"
                                                },
                                                {
                                                    "country": {
                                                        "code": "GB",
                                                        "flag": "https://media.api-sports.io/flags/gb.svg",
                                                        "id": 6,
                                                        "name": "England"
                                                    },
                                                    "id": 10,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/10.png",
                                                    "name": "Premiership Rugby Cup",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2020-09-21",
                                                            "season": 2019,
                                                            "start": "2019-09-20"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2019-03-17",
                                                            "season": 2018,
                                                            "start": "2018-10-26"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2018-05-26",
                                                            "season": 2017,
                                                            "start": "2017-09-01"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2017-05-27",
                                                            "season": 2016,
                                                            "start": "2016-09-02"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2016-05-28",
                                                            "season": 2015,
                                                            "start": "2015-10-16"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2015-05-30",
                                                            "season": 2014,
                                                            "start": "2014-09-05"
                                                        }
                                                    ],
                                                    "type": "Cup"
                                                },
                                                {
                                                    "country": {
                                                        "code": "GB",
                                                        "flag": "https://media.api-sports.io/flags/gb.svg",
                                                        "id": 6,
                                                        "name": "England"
                                                    },
                                                    "id": 11,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/11.png",
                                                    "name": "Varsity Match",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2018-12-06",
                                                            "season": 2018,
                                                            "start": "2018-12-06"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2017-12-07",
                                                            "season": 2017,
                                                            "start": "2017-12-07"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2016-12-08",
                                                            "season": 2016,
                                                            "start": "2016-12-08"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2015-12-10",
                                                            "season": 2015,
                                                            "start": "2015-12-10"
                                                        },
                                                        {
                                                            "current": false,
                                                            "end": "2014-12-11",
                                                            "season": 2014,
                                                            "start": "2014-12-11"
                                                        }
                                                    ],
                                                    "type": "Cup"
                                                },
                                                {
                                                    "country": {
                                                        "code": null,
                                                        "flag": null,
                                                        "id": 25,
                                                        "name": "Europe"
                                                    },
                                                    "id": 59,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/59.png",
                                                    "name": "Anglo-Welsh Cup",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2018-03-30",
                                                            "season": 2017,
                                                            "start": "2017-11-03"
                                                        }
                                                    ],
                                                    "type": "Cup"
                                                },
                                                {
                                                    "country": {
                                                        "code": null,
                                                        "flag": null,
                                                        "id": 25,
                                                        "name": "Europe"
                                                    },
                                                    "id": 53,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/53.png",
                                                    "name": "British and Irish Cup",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2018-05-12",
                                                            "season": 2017,
                                                            "start": "2017-10-13"
                                                        }
                                                    ],
                                                    "type": "Cup"
                                                },
                                                {
                                                    "country": {
                                                        "code": null,
                                                        "flag": null,
                                                        "id": 25,
                                                        "name": "Europe"
                                                    },
                                                    "id": 66,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/66.png",
                                                    "name": "Celtic Cup",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2019-10-13",
                                                            "season": 2019,
                                                            "start": "2019-08-23"
                                                        }
                                                    ],
                                                    "type": "Cup"
                                                },
                                                {
                                                    "country": {
                                                        "code": null,
                                                        "flag": null,
                                                        "id": 25,
                                                        "name": "Europe"
                                                    },
                                                    "id": 52,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/52.png",
                                                    "name": "Challenge Cup",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2020-12-20",
                                                            "season": 2020,
                                                            "start": "2020-12-11"
                                                        }
                                                    ],
                                                    "type": "Cup"
                                                },
                                                {
                                                    "country": {
                                                        "code": null,
                                                        "flag": null,
                                                        "id": 25,
                                                        "name": "Europe"
                                                    },
                                                    "id": 67,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/67.png",
                                                    "name": "Continental Shield",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2019-04-20",
                                                            "season": 2018,
                                                            "start": "2018-10-13"
                                                        }
                                                    ],
                                                    "type": "Cup"
                                                },
                                                {
                                                    "country": {
                                                        "code": null,
                                                        "flag": null,
                                                        "id": 25,
                                                        "name": "Europe"
                                                    },
                                                    "id": 54,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/54.png",
                                                    "name": "European Rugby Champions Cup",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2020-12-20",
                                                            "season": 2020,
                                                            "start": "2020-12-11"
                                                        }
                                                    ],
                                                    "type": "Cup"
                                                },
                                                {
                                                    "country": {
                                                        "code": null,
                                                        "flag": null,
                                                        "id": 25,
                                                        "name": "Europe"
                                                    },
                                                    "id": 58,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/58.png",
                                                    "name": "Rugby Europe Championship",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2021-03-14",
                                                            "season": 2021,
                                                            "start": "2021-03-06"
                                                        }
                                                    ],
                                                    "type": "Cup"
                                                },
                                                {
                                                    "country": {
                                                        "code": null,
                                                        "flag": null,
                                                        "id": 25,
                                                        "name": "Europe"
                                                    },
                                                    "id": 57,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/57.png",
                                                    "name": "Rugby Europe Trophy",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2020-03-07",
                                                            "season": 2019,
                                                            "start": "2019-10-26"
                                                        }
                                                    ],
                                                    "type": "Cup"
                                                },
                                                {
                                                    "country": {
                                                        "code": null,
                                                        "flag": null,
                                                        "id": 25,
                                                        "name": "Europe"
                                                    },
                                                    "id": 63,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/63.png",
                                                    "name": "Sevens Europe Series - England",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2018-07-08",
                                                            "season": 2018,
                                                            "start": "2018-07-07"
                                                        }
                                                    ],
                                                    "type": "Cup"
                                                },
                                                {
                                                    "country": {
                                                        "code": null,
                                                        "flag": null,
                                                        "id": 25,
                                                        "name": "Europe"
                                                    },
                                                    "id": 62,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/62.png",
                                                    "name": "Sevens Europe Series - France",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2018-07-01",
                                                            "season": 2018,
                                                            "start": "2018-06-30"
                                                        }
                                                    ],
                                                    "type": "Cup"
                                                },
                                                {
                                                    "country": {
                                                        "code": null,
                                                        "flag": null,
                                                        "id": 25,
                                                        "name": "Europe"
                                                    },
                                                    "id": 64,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/64.png",
                                                    "name": "Sevens Europe Series - Poland",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2019-07-21",
                                                            "season": 2019,
                                                            "start": "2019-07-20"
                                                        }
                                                    ],
                                                    "type": "Cup"
                                                },
                                                {
                                                    "country": {
                                                        "code": null,
                                                        "flag": null,
                                                        "id": 25,
                                                        "name": "Europe"
                                                    },
                                                    "id": 60,
                                                    "logo": "https://media.api-sports.io/rugby/leagues/60.png",
                                                    "name": "Sevens Europe Series - Russia",
                                                    "seasons": [
                                                        {
                                                            "current": false,
                                                            "end": "2019-06-23",
[...]
