{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_539d81b7-e886-469f-ac43-2a75ba00064c",
            "value": "✓"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "5b47481de4b0f4ef751df3de",
        "apiId": "5b47481de4b0a5b0626ea635"
    },
    "info": {
        "title": "WHOIS v2",
        "description": "WHOIS API (v2) returns well-parsed WHOIS records with fields in XML and JSON formats for any IPv4, IPv6 address, domain name, or email.",
        "version": "v1",
        "x-category": "Database",
        "x-long-description": "WHOIS API (v2) is powered by a WHOIS database containing 10.1 billion+ WHOIS records spanning 2,864+ TLDs for over 582M domains tracked. Use it to track domain registrations, check domain name availability, and learn more about registrants. \n\nThe first 500 Whois API calls are complimentary when you register for a free developer account.",
        "x-website": "https://whois.whoisxmlapi.com/?mc=rapidapi",
        "x-public": true,
        "x-thumbnail": "https://rapidapi-prod-apis.s3.amazonaws.com/5b47481de4b0f4ef751df3de_medium.png",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://whoisapi-whois-v2-v1.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [],
    "paths": {
        "/whoisserver/WhoisService": {
            "get": {
                "parameters": [
                    {
                        "name": "registrarRawText",
                        "in": "query",
                        "required": false,
                        "description": "A string containing the registrar WHOIS raw text to be parsed; works only when the _parse parameter is equal to 1.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip",
                        "in": "query",
                        "required": false,
                        "description": "Return IPs for the domain name. Accepted values are 0 and 1. Defaults to 0: no IPs are returned. 1 results in returning IPs.",
                        "schema": {
                            "type": "string",
                            "example": "0"
                        }
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "description": "A JAVAscript function used when outputFormat is JSON; this is an implementation known as JSONP which invokes the callback on the returned response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "checkproxydata",
                        "in": "query",
                        "required": false,
                        "description": "1 results in fetching proxy/whois guard data, if found, they are returned in the WhoisRecord → privateWhoisProxy schema element. Accepted values are 0 and 1, the default is 0.",
                        "schema": {
                            "type": "string",
                            "example": "0"
                        }
                    },
                    {
                        "name": "preferfresh",
                        "in": "query",
                        "required": false,
                        "description": "Can be 0 or 1. 1 results in getting the latest Whois record even if it is incomplete. Defaults to 0.",
                        "schema": {
                            "type": "string",
                            "example": "0"
                        }
                    },
                    {
                        "name": "registryrawtext",
                        "in": "query",
                        "required": false,
                        "description": "The string containing the registry WHOIS raw text to be parsed; works only when the _parse parameter is equal to 1.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "_parse",
                        "in": "query",
                        "required": false,
                        "description": "This parameter enables the use of the API for parsing WHOIS raw text provided in the query.1 provides parsing for input WHOIS raw texts described at the parameters registryRawText and registrarRawText. Accepted values are 0 and 1, the default is 0.",
                        "schema": {
                            "type": "string",
                            "example": "0"
                        }
                    },
                    {
                        "name": "thinWhois",
                        "in": "query",
                        "required": false,
                        "description": "1 results in returning whois data from the registry only, without fetching data from the registrar. Returned registry data are to be found in the WhoisRecord → registryData schema element. Accepted values are 0 and 1, the default is 0.",
                        "schema": {
                            "type": "string",
                            "example": "0"
                        }
                    },
                    {
                        "name": "ipwhois",
                        "in": "query",
                        "required": false,
                        "description": "1 results in returning the WHOIS record for the hosting IP if the WHOIS record for the domain is not supported. For unsupported TLDs, domain NameServers are returned if the ipWhois flag is activated, a WHOIS record for the hosting IP is added to the result.  Accepted values are 0 and 1, the default is 0.",
                        "schema": {
                            "type": "string",
                            "example": "0"
                        }
                    },
                    {
                        "name": "da",
                        "in": "query",
                        "required": false,
                        "description": "Perform domain availability check. Accepted values are 0, 1 and 2. Defaults to 0: no domain availability check is performed. When set to 1 the result contains a quick check on domain availability, 2 is slower but more accurate. Results are returned under WhoisRecord → domainAvailability (AVAILABLE | UNAVAILABLE | UNDETERMINED).",
                        "schema": {
                            "type": "string",
                            "example": "0"
                        }
                    },
                    {
                        "name": "outputFormat",
                        "in": "query",
                        "required": false,
                        "description": "Response output format.  Acceptable values: XML or JSON. Defaults to XML.",
                        "schema": {
                            "type": "string",
                            "example": "XML"
                        }
                    },
                    {
                        "name": "domainName",
                        "in": "query",
                        "required": true,
                        "description": "The name of the domain looked up.",
                        "schema": {
                            "type": "string",
                            "example": "whoisxmlapi.com"
                        }
                    }
                ],
                "operationId": "WHOIS lookup v2",
                "description": "WHOIS lookup in JSON or XML, ver. 2",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "query_auth": {
                "name": "apiKey",
                "type": "apiKey",
                "in": "query",
                "description": "The API key, freely available from https://whoisapi.whoisxmlapi.com/pricing"
            }
        }
    },
    "security": [
        {
            "query_auth": []
        }
    ]
}