{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_51c07e35-c65c-487a-bb6a-be7d24453644",
            "value": "✓"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "apiversion_b091f2aa-fb94-4157-9fc5-5eb2d25fc904",
        "apiId": "api_ee5f5da4-b261-4ac1-ae2b-ec84b0677762"
    },
    "info": {
        "title": "Extract Table - DocumentDev",
        "description": "Extract information from PDF Tables instantly. Using the power of Artificial Intelligence and NLP.",
        "version": "v1",
        "x-category": "Text Analysis",
        "x-long-description": "At Document.dev we are passionate about teaching computers how to read. We use the latest in open source technologies coupled with proprietary algorithms and data sets to provide the best in the world data extraction capabilities. Use this api to  extract information from PDF Tables instantly. Using the power of Artificial Intelligence and NLP.",
        "x-website": "https://document.dev/",
        "x-public": true,
        "x-thumbnail": "https://rapidapi-prod-apis.s3.amazonaws.com/b6132d67-09bf-4cd9-a557-5cc592da3128.png",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://extract-table-documentdev.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [],
    "paths": {
        "/extracttable": {
            "post": {
                "parameters": [
                    {
                        "name": "Pages",
                        "in": "header",
                        "required": false,
                        "description": "By default only the first page of the PDF is processed. To process multiple pages pass the desired page count in as a parameter.\n\nNotes:\n\n- Maximum 10 pages can be processed per request\n\n- Accepted input is a number greater than 1 and less than or equal to 10\n- Accepted input is the string \"all\" representing all pages in the PDF up to 10",
                        "schema": {
                            "externalDocs": {},
                            "type": "string",
                            "default": "1"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "ExtractTable",
                "description": "This endpoint accepts a pdf file as a binary payload and returns a JSON containing all tables found within the PDF. By default only the first page is processed. If you would like to process multiple pages pass the \"Pages\" header to indicate how many.\n\nNotes:\n- The table should have unique keys for each row otherwise they will be overwritten in order as per JSON standard\n- Currently processes each page independently. Multi page tables will be supported soon.\n- Max PDF size is 10MB",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "tables": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "stats": {
                                                        "type": "object",
                                                        "properties": {
                                                            "accuracy": {
                                                                "type": "number"
                                                            },
                                                            "whitespace": {
                                                                "type": "number"
                                                            },
                                                            "order": {
                                                                "type": "integer"
                                                            },
                                                            "page": {
                                                                "type": "integer"
                                                            }
                                                        }
                                                    },
                                                    "titleEstimate": {
                                                        "type": "string"
                                                    },
                                                    "data": {
                                                        "type": "object"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Pages header example": {
                                        "description": "Example of how to use the Pages head",
                                        "summary": "Pages header example",
                                        "value": {
                                            "tables": [
                                                {
                                                    "stats": {
                                                        "accuracy": 99.18,
                                                        "whitespace": 4.44,
                                                        "order": 1,
                                                        "page": 2
                                                    },
                                                    "titleEstimate": " Table 2: NNI Budget, by Agency, 2009–2011\n(dollars in millions)",
                                                    "data": {
                                                        "Agency": {
                                                            "DOE**": {
                                                                "2009 Actual": "332.6",
                                                                "2009 Recovery*": "293.2",
                                                                "2010 Estimated": "372.9",
                                                                "2011 Proposed": "423.9"
                                                            },
                                                            "NSF": {
                                                                "2009 Actual": "408.6",
                                                                "2009 Recovery*": "101.2",
                                                                "2010 Estimated": "417.7",
                                                                "2011 Proposed": "401.3"
                                                            },
                                                            "HHS/NIH": {
                                                                "2009 Actual": "342.8",
                                                                "2009 Recovery*": "73.4",
                                                                "2010 Estimated": "360.6",
                                                                "2011 Proposed": "382.4"
                                                            },
                                                            "DOD***": {
                                                                "2009 Actual": "459.0",
                                                                "2009 Recovery*": "0.0",
                                                                "2010 Estimated": "436.4",
                                                                "2011 Proposed": "348.5"
                                                            },
                                                            "DOC/NIST": {
                                                                "2009 Actual": "93.4",
                                                                "2009 Recovery*": "43.4",
                                                                "2010 Estimated": "114.4",
                                                                "2011 Proposed": "108.0"
                                                            },
                                                            "EPA": {
                                                                "2009 Actual": "11.6",
                                                                "2009 Recovery*": "0.0",
                                                                "2010 Estimated": "17.7",
                                                                "2011 Proposed": "20.0"
                                                            },
                                                            "HHS/NIOSH": {
                                                                "2009 Actual": "6.7",
                                                                "2009 Recovery*": "0.0",
                                                                "2010 Estimated": "9.5",
                                                                "2011 Proposed": "16.5"
                                                            },
                                                            "NASA": {
                                                                "2009 Actual": "13.7",
                                                                "2009 Recovery*": "0.0",
                                                                "2010 Estimated": "13.7",
                                                                "2011 Proposed": "15.8"
                                                            },
                                                            "HHS/FDA": {
                                                                "2009 Actual": "6.5",
                                                                "2009 Recovery*": "0.0",
                                                                "2010 Estimated": "7.3",
                                                                "2011 Proposed": "15.0"
                                                            },
                                                            "DHS": {
                                                                "2009 Actual": "9.1",
                                                                "2009 Recovery*": "0.0",
                                                                "2010 Estimated": "11.7",
                                                                "2011 Proposed": "11.7"
                                                            },
                                                            "USDA/NIFA": {
                                                                "2009 Actual": "9.9",
                                                                "2009 Recovery*": "0.0",
                                                                "2010 Estimated": "10.4",
                                                                "2011 Proposed": "8.9"
                                                            },
                                                            "USDA/FS": {
                                                                "2009 Actual": "5.4",
                                                                "2009 Recovery*": "0.0",
                                                                "2010 Estimated": "5.4",
                                                                "2011 Proposed": "5.4"
                                                            },
                                                            "CPSC": {
                                                                "2009 Actual": "0.2",
                                                                "2009 Recovery*": "0.0",
                                                                "2010 Estimated": "0.2",
                                                                "2011 Proposed": "2.2"
                                                            },
                                                            "DOT/FHWA": {
                                                                "2009 Actual": "0.9",
                                                                "2009 Recovery*": "0.0",
                                                                "2010 Estimated": "3.2",
                                                                "2011 Proposed": "2.0"
                                                            },
                                                            "DOJ": {
                                                                "2009 Actual": "1.2",
                                                                "2009 Recovery*": "0.0",
                                                                "2010 Estimated": "0.0",
                                                                "2011 Proposed": "0.0"
                                                            },
                                                            "TOTAL****": {
                                                                "2009 Actual": "1,701.5",
                                                                "2009 Recovery*": "511.3",
                                                                "2010 Estimated": "1,781.1",
                                                                "2011 Proposed": "1,761.6"
                                                            }
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                },
                "requestBody": {
                    "content": {
                        "text/plain": {
                            "schema": {},
                            "examples": {
                                "Extract Table from PDF": {
                                    "description": "Sending a PDF as a base64 encoded string and receiving a JSON of the tables",
                                    "summary": "Extract Table from PDF",
                                    "value": "JVBERi0xLjYNJeLjz9MNCjYzIDAgb2JqDTw8L0ZpbHRlci9GbGF0ZURlY29kZS9GaXJzdCAxMC9MZW5ndGggMTQ5L04gMi9UeXBlL09ialN0bT4+c3RyZWFtDQpo3jyOywqDMBBFf2X+YJIISkGysAUXpVCiO3ER4lDcJCGPUv++MYVu75x7z3BgwDtoWuh7vLpsE3C871tcSspArTgfnvCpXxSlrIxNZFME3px3HIPL/swnvNF7N6TGASecg7bR60DWHL+JCkqJD9p2PbjPwkq/5QK6i1iLoKDFXTcVRZeDoSIRNfj/IOVXgAEAS8s1vQ0KZW5kc3RyZWFtDWVuZG9iag02NCAwIG9iag08PC9GaWx0ZXIvRmxhdGVEZWNvZGUvRmlyc3QgNS9MZW5ndGggODYvTiAxL1R5cGUvT2JqU3RtPj5zdHJlYW0NCmjeMjRSMFCwsdF3rShxDy5JLEkFshMNgISzo4KhfnKigqEdEOi75eeVAAXTdA10DRRMgVqCgGxDINsMyjYGsi2gbDMg2xCmyBzEAasCGQQQYADxYxmQDQplbmRzdHJlYW0NZW5kb2JqDTY1IDAgb2JqDTw8L0ZpbHRlci9GbGF0ZURlY29kZS9GaXJzdCAzMS9MZW5ndGggNjEyL04gNS9UeXBlL09ialN0bT4+c3RyZWFtDQpo3oRU224aMRD9lXlHaH2Z8UWKIrUhlLQ0UQo0ElEeSEDNSu0SwfaBv+8Zk1BAInmYtXfsGY/POWMhQ4GcJEoUQiQrFFMiG8haY+nsrPo8Wy/6y6at+pej3tebzsWsXi3V0TVdU/Xr1bq9eJ6tCHM4e4v106p+aZcrcg65f1TD2esGb6vR38d287KoxvjYarycNPXTcr4gZ8pWdZcs1V09b5/X92IMcY4kIiQox1lHAbVycuQ9/j2TcC7rzgdiTphn4qhrGJMla0oSjwVLEjIlDfJI4CL5HOBjFIBDrP9v7NT3cH6+j0Bv/GU6vt5DwH6AQDxEIOTTCMhpBNRCwAhytGAnW99uzQAdICMGN+ZAXi8D87gkJ6CC0Qn+HS6Gg9jgwhzhTyV+P5/LBgLw2GMQnxBjiukerSGmiLmnwELJJvwjDvsi8ikTAWcErdEL5fDKXmJKJpQ8nHI5R2vS0ce4PRs532qJGSLUe7Ds6lKySpwyn/mImLvh9PrboDMcfJoOB53R5s/j8vf3caVULJr5rGl11/oedQLkh+qyAeZ186u6mi+atm433cEBMWaPGH9EzOHBk6v+7e1wTxHhfUUIHyqC5aQixJ1WhKLP7IuMXUQ/KEMMpHRUltAHHj0QUL2wyh1sx1wUoOsclCn4gTaj1zWumNmOXnPBrzk8+s1BRYVBVhUwykY+VR3aKqAvBbXosyFJdjXscm7tiLHJ9GY6/bkHXPwAuHwInHOngYvvtBJaiCE1ZjwMkJK2g+Chcg6yxLvg0fs++uLbroXi5+x2pv6gwHvkwcOTTMLl/gkwADK9VfENCmVuZHN0cmVhbQ1lbmRvYmoNMTMgMCBvYmoNPDwvRmlsdGVyL0ZsYXRlRGVjb2RlL0xlbmd0aCA3MzcwPj5zdHJlYW0NCnicrT3JivRMcvd6ijobqka5aIOmDgZffBv4wAfjQ3dX94DBhhm/PzgzdqUUWYs9P1NftyoUGfuWauXfT8O5/vePv53/8jmc//Y/p3/+c1qv6wRX4Yc4rtdpOc95uo7x/Oe/Tn/5vQyX4RzOf35P//4Rvm6X8SP83uLHkOuPw2g+f28XuY4/f97CRxhul/AxJLhzgcvzbfoI4y3RVQDDi8vtP/786+lf/lRKr2kt/8v6Q6F7R3CI4ZrzGKZzWgrJKU17qodQl4o3pmJD+gQLD8ut/LwqNdPwtQc94XcFbEJ6Cd934XCgFRiiXEYM+PP9dpk/hp/6ZSsgXHsGpPBjWUd/24gvhFh/C+W3UH7NhS/4oKUQaKza2Qj2EmMiglfDFS7SyiVM5f4wCxLSGdCywo+t0j7rDYsqn6zkGz7v/BljAf05VdoTY7rfmOqCiTT/1/PfT3M85+U8Xoe0ni8hXuewnv/xc/63838/NuFyb7kLjSCwEVQi//wno3eMizDO63WYiw+E9RqXUKnI6XyJE/xbqPj9p9MY0jVvQCqhG5AlX4ttCkiO6zWNlZvxGnMkoHCu/6Fdh1DuBjbwp7AWdGWNYVZXnDZGnavyLuhFwZhquT6R4sG6igTpCkp9JdO7rHT566ZGfK/mBHaKmIqdhgxWGPOASxUDDDdAWe+oJjnZW6qGMxlnhYN7x4yGWM1TPyew5vmkX4VEpvQwFLCAhwzSVwEP12UIBwJe0UbOcYrXeJ7WaS/UapZzlUGuBlPZz2zWsQo7gW1HsO0qgGLXU+U31Z9/6s/1gr0JIT5JLnxniaDKHJrzvAD5c6zsVnu/DGz2hY8H35LFlm9zWks8DNvvx1Bjo3d3/1temeyYIBpvQAQdkOG6DuOyZFYHUTytsd5JLlacql4kzS0RsCkIxAILQhZAEOtyLVlgCyHS3UUJuPc8lUXGIzuIoMEf8C40VTbqYuvFqll7DVthWYDODtFxGh+yviYLUgLas1zF4gwlA3psDTWqQ37Aj+J+Ma3ELfJGeen7Fjm4ZI/ZOBdPyz1eU56vy7z2eI3zaEFe4bXY0GusjuEjDhSmmN/qmvEjBgiVeB09PMToMZ7GdJ2yGF66xrQ0ZOcUa4LoQKRx2jA+XqfheeZTiWFTfob7hX+CcJ0+Yo1WNQol0nXNzeXKD0gg6nWURomFjhRymiDSdPRPabIDURAYiBe0n7FCfVYAC1p6zJBwUMOfkNniWGvUT47qacc3BcBpRS364ZchwrBAit/AhGW+ptjDorEDQQpnw9JgqS6HIc9FI17pY0ljvK6xS4yauKIpLG5gchrhN4MmphaEbcRHQ9mjJ1/WABgJATTJgqTrQqjkXBAViwuiLDNIbAOasOMT2ybBwl+FSmg1BXZSvvIjkCLSyjkBhCFc53HZgkBFvV1LbFTgnqqtabFp0ZI0qNPFpfpPuqdQap4MtWD5NGW9cE74xeR99uJEYbIjpDVgpUAgJZSO64EI2tXYNV4TQSwF/Dy5MsihZhX8rBF3gpqySOWrJwh2WqJMI+W0S6UKQrl02qVSlkPcy6BZ6D0RpGGAKsMRAbKdVhUEiqBc74hAIo4qOjVK5KTqQ0hSVVPgrLoRQ7sYx6UX5bCEnhzICPamsPbkICGTSMuVog0DNasaHe4BalKFWCeGIFFoI4V2qfekkEtB6wshjcq+NYatENpFOOLP2MxoTojcUEg8QwibcwWGs4KPRUMCgphsKTCSOXw04lU+FkkuPhY1SkVDyVJgJAEpGsq5BoS16qPhJNWRL2sATWPYW5BI14VQybkgKhYXRFkWkJhajyB2XCRe/znlyoMmFTM54NTrg3A2BACbeRWk04DizSP0oTu3CfcE45y4Pmw1ffokd3a45NyJICZ1PsMD50KHCfL9mfusfS70WkqkRtOgEiN5UEAoDRq2OQ8STy3Pna6KEpvDTx2lTTqpPUhsbqcoGkitdDmp+RCS1ERHnNOe4omSVF9Hi6Yq4smdcUh8QXIk/SgxnKBcAElQrCFx2Gc4ooTzhNFZJeXQNnQT2lenoSOIbkPnY1EPRZBuQ+ejEZ/wsUgU9bGoJSoat6FTNG5D10HD0bgjX9YAqH840L5I14VQybkgKhYXRFlmkNiGE2HHReLF9lQHVHsDhS0c+oQgn2MdUdzD7w2vr0NaqFiy5RPacQmk1Y5jWWKdy4J/7rgZ0NZXdctqmQLj+TKh2AbhUDcZMuMhDJ+7knVsnWccTHt75DsI0HUdF4d4DkJ0HcdFwn7j4xD7cHGI1ygS12kEieszPhK2MV+qJPa8gt11yjEfQkTmg4hEfBDhV0G8csxH4pVjBXcq9YdWKnOx8aYe68Cw3yGErcgU5mFFFsdrZ7aB/8pwYzPicEu0DslSo/VY5yKNYEyV9gxfXKUdM4YRJs3as1MBMD8q0ogardKUGKnSFIbKNMM5l2nMVct2p6YJQ/EojyMb5XwuxLVV8KmVKddmHRApzlQ3XJ09xQlVZz3d2AjehmO3OCNypPhSYrg68yGkPBPNiAc/wxPVZ8cs2bS26QnmNsMUTioRnd6fILq9v49FvRNBur2/j0a8wcciUdXHotaoaNzeX9G4vX8HDUfnjnxZA6j+4UD7Il4fRGXnw6hkfBhlW2BiG0uEJx+NF+5LKCkO4Md72B3bVGiZHpspdVqcD+ac5J1QoS1cWVlXbio0ar4W4xgWz7ZCsz2o9Z9h5z8xQCTq+A9BdP3HxyL+QyBd//HRsP90sIiV+FjEfwwa138Ujes/HTRsax35sgYGSA2dYs2HUMm5ICoWF0RZFhCvWPOReMXaMNXk2J2d+SDkfQjw3uxsXKdSFh1kzbr9FOEZtPj9sDbzSZTSrMMoV2YI8ur4rMrcZcOGhWfnZkhGd24mIP7cjJh5YcaE9ZjLyWsFmYjbnZX5EFKOiUJem5WVux4p5LUhGdLRGZK5AFKFsTpeG5IVi5g6vEztPGCfQIb5GtbufIwguk2+j0VdEEG6bb6PRmzfxyKR0sei1qdo3FZf0bi9fgcNR9yOfFkDoPnefMyHUMm5ICoWF0RZZhB3PtYhtskcY4ma6xR6Dzx0QDj4I8DhAw8PM0fpuubXR3O0J5PkwbDQZpMO2ZxNesxTNmGQowcZetlkrH7g8vZ1FLdCk0F46c4TCAbEewJBGIjPEs8ZxCH+OFCFNnUY2TrPDnQgOHUY6e+eHegwsIYeA3aykvYMcNjgtd1Nfx+A04XK/qCSe5guPPkvuxFEmy7GNdaF/GxBAL1k4eNQBwOIXqrwkYiNuzg4Ivo41NQEiZcmFImXJTpIKKp2pMpiR3X7TUYHQkXmgqhEXBDlV0CcJqODxGkyxnm+juPanQj3YCjeE8R7E+Fxmq/pwCnCPcIDo7RT/7DV6NEp2aHHL6cHgnl1DIzdhsMMenh+qrhlPyI6egNgA+MOgIWflwfALjMvNRxG5t4EuAcieUPV8toEGHqO/we1SFQhQvzZbwdC0ogo5bXZL+WRLjvJqIe2M00eKf+avyI5mFsxRG9u1cGi7oggvblVB404gY9FYqePRW1Q0XhzK4PGm1v10HAM7siXNYCq78x9eyAqOx9GJePDKNsC4819uxS3GWVKoP5e8+GDcEZI9GDIO81H4b0YzrPNR1zrJiOOozXH7DsPn2bJLR3OObUQyHudh8fYYdm46zxo6V7noSBu58EMvNx5OMQ/23mobL3Ow4eQDKLSf6Pz8BgwuSPv+z6JHLS233m4AJIyRPbvdB4e+buMsRtU1XXnqbfTwRDdjOFjsT5WQboZw0djDN3DInHRx2ItjtG4GUPRuBmjg4aja0e+qgHzqNdRE+JDWMk5IFYsDohl2Ty7dtSE+Ei8JiQvIPLeVkcPhuI+Qby52ZGW6uXePiVnjUctSIdKSRM9bjlPEMzLGx6YKBxeNo+fLI+6DyKht9lhYNzdDmHl9e0Oh40Xuw8Vt7ff0QOR3KEaeWPHw+NktwX1RPdBhPhbHh0ISSWilLc2Pd5ghyNZxrcIdMZYBNGdY/lY1BMRpDvJ8tGIE/hYJGj6WNQGFY07zVI07jirg4aDb0e+rAFUfWfXoweisvNhVDI+jLItMN7OR5fiNpUkfGdBr/vwQTgVZHru6Z3uI6bC+0Hs/dG+Q5qN5skXakU6TYhPumSXjgA4uRDIe02Ix58dwK9uE0JL95oQBXGbEGbg5SbEIf7ZJkRl6zUhPoQkEpX+K00I5hGP/qXdbdYnGPedCBHgdyIugKQPUcBrnchYwTwmNk8rrm3eKCvWh7T8tIEA3azh4rD+VSC6OcNFYkzcwSFx0cVhLY2QuPlCkLjpwkfCkdWXqordPMR41Hj4EFZkDoiViANi+TVPZR41Hj4Sr/EIK8B2dz86MBTyCeLN3Y9hLcSXhPZaysBc8URH0iFfckZPDJw0COblTRHMGj6Th0HL60mIiO6OiML4OyLMzOs7Ii4jL3YlKnJ3T6QDIslEtfLSngiNtP6PWpFAQ1R0NkR8CMkpopMXN0QwqbzICse3ODz4A3iG6I62fCzihgTSHW35aNj+O1gklPpYxPgMGne0pWjc0VYHDYfkjnxJA6T23mZIB0Rk14ERyXRghG2FcTdDehS3CWYY4Rm0Xjvig3CCGOkpwDfakbyOBzMteOYen+Cl9HL3ew6fPskfHS45fRDIWz3HIRObeDu5DQet22s4FMRtOJj6VxuOx5R3ug2Vqtdt+BCSIFTur295vCN3CQ60sN9luACSEUTqb3QZx7RPR7RzJCrL1TDRyQUE0c0FPhbrURWkmwt8NMayPSwS8Xws1soYjZsLFI2bCzpoOG525KsaME/sHnUbPoSVnANixeKAWJbNI8hH3YaPxOk28opvTu1tc/RgOKIjxHvbHHkZjv5mnv8aC99PaBsM2PiIv9vBlNds9KjnZNGVAmULhnlv+8PhcTMecV/7Qt7FFPR2PwyMu/shnLy8+/EEF4/bDCNsb/OjB8JZxOjjpc0PSiPHnBy/uszrMZgEf9ujA8EZRbXx4rYHphRHI1Nn7zwXEXTf40AAvbmVj0P9Ljx6j4OPRCzexcFx08eh9iZIvLmVIvHmVh0kFHs7UmWxD82rEXabHD0QFZoPo0LxYZRngfE2OXpovFg+wQvM/ddE4kuwQ77WDsz+eas43aXQMx7FlDBdp6ivP9kCXAqJa/+Pm/I894y+fNu1+OO7xdzL111bP76dDd25WxR6fLeYON3u2jfe7hq3czubgSM3lupkny08KJA6ECodF0RF4IIom5N9WPKgQOog8QqkKUC64dIAnlhq6iMfhJ0CAbQ8MiDmRa0KtzSoXnhRax6DbmVszw645FJCTfC2e/wFXwIe51sq9VStqub9P/aNjY2Imje6duQghVZHmlxnEYjUWY2s2tXkdaYvySoOM2RRR1hhueEBCHONXPBW6fr7gjVoufj5hFzYt4lQPdlC+JGqTUGgarOS46KNxRL3ImkWek8i9T14MbsSKRyzBFA4KIevJ+QgUUqVnxrFct3nQ0jZp+aBZV8ji3Yxeb/pa8KYU33F+LPmUbqQjXnoORYdsUj0JUqpRjT8cBHpAkgNKcZBca0RSrvUe0LJY7HW52Vyb1zmvpFJsxgnk/qK++4LLBiiN+/oYNHoER++wKKDRjzOxyJ5y8eithofvsDCoPHmHT00nP868mUNhM07IYwlMUReH7zjrwdBWiSIbsHlU8IQ/jqiZwLplmb+QgLir8Sm0FlITcFdSED8hcRazEpuwacrxdSGWgLRldy6sLOSGJTLEkP4HD2GMCf4lMqtRuRUDeZoT62+mC0OtQdYb3AgVqZDejKc6fN1w9MtUg1RUz0IZOTfARQbZvwEgJ8TfFEP8arnE8UbBDc4gOuyEGqDT46RKJ93PVor07W6S15yZj7RxV84kwKQ/twCE6FElTKNEYQfXCHIFbp75hM7NrfXcy6mcYMg4pFho8WBDNxPRZiZTrmpJ5ZZasMPMe/xiaXkfJuxAasTrJnpH06xipxGW5836cpGetJ3hr4PP8PwkVIVQwI8MRiuBjyk5OdEXFcqhh8rQFQTa6jcj7zCmSf12KtxIoaGbzqoiditOq53WYkg9RkFih1kKU3WXGwbXqoBrecvn71VyUOK8NLdEg4mB0KIxxSq4eEhWmQkVXP48a0GRIL/RAscBTGcxpXxLK9pA4srEWEj/9FqJv/45UUODChu4SPggU9zB+lFlRLHExts4dX4BzoVaskacO0xYobTaeYP6zLGD4qNsXWBoSU8rMtnJ8PJZEL5jnDSC5FDPo50fgFq63PsHFZGQTQXNW7A73A/6ROx4ET3Ug0ogQFNM71zFd8MVs8+m4ehFkjjVrdw4FoUnRjdWvzGnZEOI3V0YWObaNngcwkO6EtBHVLXqk6Ba3yKNRghDFDWFW0tm8uIkQzvWzH+VJtYvQiSWNjGC5EGdrAVraS4sCxsI2sNHL2Vi33ldllgvIo3NwEVpGyjKgroCPWeYDcah4OIrisX269Gc2Q/lfRHlI4gHk08p33mKfJZjnigM752wW2nJDBOvAohFT7iJnSJqDoiPSB0es6EehZUD7LK5DqYSK1/gHPbAPgSlYcx0cp42SR3jCsaHtAuduWHtQOtTwyp1XITH+sIj0TEbZg9jLJ+hoPgmSEZPOb/mZBFgSuVwAVxV8I15wovHBK19cTJiYmC1x/OB9Yxb8NOJw8c68ncsNCPMc+bABgXqVeMwaEMIfiZPG9Dqx8rw4boWM/V5HKzFI2IuUVqHIprg1pg7qpSE2BMVWGxFcO5i71dYlrcqqHNK1mKVk6MltVUS0pOJsDpHU6jHYgGTFfbLKGBCEIwuCl9/poa4mQTaBuR2PTiEKRUZHWGStNQKzUKRWxrLMltjf8t0cPGA6lgJ61gof487f1gOXSDGX5cgw2TcJTeOL7uDMjW0joDIr1bizgqVTX9ZKHkuB6VlApXPm9joztaEX8zVbdXfJLPBN3APnsHOZcGkUZK+FM9uDfn68JbRvN2YA1HONNRyBgqTfPBp8sOsLckJ9wK3BcShsBQuehBuJlvSXziZ2RHAp4ry6cSzIH1oBgTrRaiIeiXwcoNVc31YMmFz36Fj3yTNQ3JdaqMCw9E+IqF30QncYaWN9gGa84MriKMuXTxJMIk5x8PQ5EhnoBsN5JbBOtwHYYp5i0au5u80rG4Y7Uz7CzsIdR5pCOEE1VFYz1gdBmWYhE1MEA7F1cosbGupYoVPhe+wFgvY4TzSWdagm4e7rI0/shnfI4ZzuCtmIvp/tblI+OkA4lRV9AU8u0x35infGOUNWgl9OARv6zWAbQtfPV+I2TI+0QnnrM0QNGBcORlJ5lFsYeJCfpRAf/QSZQhMw9MPt4Mpjzjx1gDFktooiM/v0/KFWKjPvZS9RwgmFUtQ7EHd+DqP7eZSENuf6hAmJgOgL1jsrL6CpnYiJGjSF7oTHLRYF4HwoAywuM48QbLbF0aSWf10v3LCid6ho80n4ZiW3wR9CgmtdAtrUnNcYRam/HWsjvHhukL2ArboygTNT2nQZsqUSJTphTnrZVapaZbtt8TpYDt+wSexfiMAYak1jtSKbjBKDTQ8gFIrwofMIsG0rXxCDkKFpCGZB2D1gajZmOEGiLEjWPUMJw6fpb7fpZ2GELmSxsjT2rk20Bj1IYH03+fRCApbR1P6C11sqWJkCAJP3QgeUgUsemW6bZxTrEU5paQsAKTNQWyoh2md8KTZcGqhi7D1guwN91ordoV1HrG6GugekgNhIPBMA3zMKc1rBU2BD1pXhxM9FaDLcwAwEy+SKeTjcyqbQ4fwfhzQcC0wsgrjPg7L62cp1u2rvUjXhkzlVOtjOr9nCziPB5ZAiWL+jeuBSRYfTAGSMJ7G4xbm//hM+3FRbZhI8py7yYkFTgIAfnXOI0gB4CTxhi+Xi1Eu2cWE0vmIGTcUUK5VLP0cu07Wh/FexDIMNfQumg0B5TlJk4tErcmMYiZGfkUq0DHq2B5CqLhzIlIzSCZAA/rrCbQ5xFa5tIn30/QE1cqJqRzwqPAOVhfVhuNMY9IjttHB7VfzXYkyDVRcjFGxpGyUBDk8aeCXaduVXAUbTgTSFlF9+0szSYGFYZYWx6XbVJNB37+duzJiVx9pnJuwXoYXjKU8EDtNdTb08OMXJ8gqD3csrTBch03kqDgRtZ3kiCR4d3oBUGsWrX6i6Om4F9c4iifhukwoQIL1C+icn60VDHlqgltgjeWsieCcOImrR1n10OH94osYjpLFFg/kqY+9CjjGMbPFEMReOZHekwxyN7umvAoa/NpGJgZ0P9zas27LnJig2mUO+ExlwHfLKDqN9GKKOZsvHHIrYFsU3BcFygRU20dawBnGtwS0Uin3D3UhTi9061YWGAE+j5JxWTCfOFhRRq2+rhw5Op5097y2fCi2t288aBDu5Pi3yK/Q+cOLZFT/iOtaSPFquw3zb8ufWp4ykHtKB8Vs9O2lpX8HiYrLxON0cqfmTW0jXK4rvO8xnMcluuyrvKyypc75mW9rksO0w6TfeJVa71nKvhlbn19mXV8t+kvIRO5wUMz/jIf9yUkQfUvuoUdvdxncq5pJjVPmosjFcrLfFj1KrLf27hxbSMbK6FkyI91w91kcxFVSTojbRMvsw1UmgVslrM4D4rBZdYSRFLs9z4zlkSEA4GRDBcdfhMXCgEBsB7kXdM9cGUzN1m/DRIxbogiGwocYMvXEVqtbe2V5d4ljeEzjQy7CYQacJs8QdBmTRPa2mKhqXTrot+CTrvkim/iARhUDQHUGGCPPjBMhOGjlGNfti7fLXRQdQrntmDISgF/S/NhdY46cn+pDly0DCSCynfLKcOOXZH4BKMvsoNd5H1BE4HTu21ODjuaRsAk5lW+3uhzOVYn9Ipa2tr51VEP+MWJYtLyQ2p7WXZ6KhAGbc22nhLMGE6qR8wnbd8n7a3T4+y6v6B0/rRmiyW0PEyRmmnlshNsHfvpRGnH81FbR+WqzcS2jYWWcjtbBHPc92qmQZq2Mohh3smlXjsQjFw+mrMabFV4UF380v42XN1kq5A3Qz7k4VsWeSK24CMiTNjGfkkpmrd0bLpd73TIbJiUaDE1a00WhxBmYk+9MWpxd2A5m7TL+a50tpG69tqazmIJjfbbBKb93cwPixiCsg7DSFUHuee4kmhUE4Kauxlx0uWQ3yhFYo6NOyy9UohHyKeyIItdWW3o3RmwzflUsSzUJRw0VhJSTxRdTNGOJBp31/y80pD79foznkPK13XKefk/79W0mOx2jY7t1LEjNWl2U8MUFr22P6Z9+Ij6LMG2dzCD7LipOmMyN7fTHL58EJHiUW122lUhdj1nDp8fzeGxmNvQ/+6ohOs2zPMmoX+f+rze28DKBeD3blenbb5ixMUPJrtPVXK7QB2Glady9NuD3LAuHEm/6ckKQLGcaj2UYJIzv1T61Ls31eSkpBwVO7GWkycB2TjCJeWD0e1mM66dqDEJEaKUpaoOF+ZaXdUtWoHTcLNpp4XgCl3uKv8nYWlFNYYa41abbszquVmd/TdsMs6RlhgJ+WnhMqYHm0NvTKfjYiMsXzky8QX2L2QDUGMzTcrqYKvNtkt6vpu+jGGh4t/0aFhjbQqFlnwcLOrmaZANoRoP8oCDrX2803CxJGpYdV+DD6SsCKAvAH6bGjsug5ge1pTFcTleUh7SakelHTYszLFj3IfT4jerBKvnnYZhBijP8MnWsTb8NbUP8kRiuSGDyiWY8dhnc8t+sLBb+LRdWcZlWnvFlE0eq3WJl8Lo6XrYjzw1D4HOinfdhODNdns6JPpkrFgWtbvSMFyfZFerSCfwdvhBjtUZ2F9P/wvaPwrnDQplbmRzdHJlYW0NZW5kb2JqDTE4IDAgb2JqDTw8L0ZpbHRlci9GbGF0ZURlY29kZS9MZW5ndGggNDEyNi9MZW5ndGgxIDgxOC9MZW5ndGgyIDM2MTcvTGVuZ3RoMyA1MzI+PnN0cmVhbQ0KeJzt0nk8VP+/wHGSMmNfs2ZCyDoztuz7EtJUdgYTI8RgjAyDsS+lkhD6ytj3vSyTLMmaLVuyRSJZsmUL4/L93W9zf/ef+8f97z7uOf/M6zOf8z7Pcx7n8iU9TxTG1N8LCZGESEFA2ghXtOfpkiRYEgyCSIGBEAjIydURA7qDvOuKAkqf/meC8ECCpP99qxPSGSgNQ7j+axjoPxf+GQ6CkPs6AoN2xYJswFJgMORk48n5zy84CI1EOHmi3P3J27W0PLEgnCQEJAmFgkGKCmCQAgQM+p+PoP82Sxfl6OnkiroLgsrJgxBoNMIfePKAJyUHwkFArignJBaExDq6gKSlUJ6Yk0tAXr6YIJCzJxro5Ot1slP6LuR06e+CnhT0T8mclMyfkj0p2T8ld1Jyf0r+pOT/lMJJKfypqyd19U8pnpTinzp54pPbg8n9N4fsgZyCIGQR5JQEIZsgpygIWQU5ZUHILsgpDEKWQU5pELINcoqDkHWQUx6E7IOe+qBkH/TUB/0v7+vvF0b2QU99ULIPeuqDkn3QUx+U7IOe+qBkH/TUByX7oKc+KNkHPfVByT6ZU58M2Sdz6pP5l+/fPhNHXzQaicL8/cUjUU7/tLOrOxKERGKRjsD98DWK5ysL8geGyR3XhYsjOO09fhty5Ge+wzWqM5uX5aV8kfEAvbpbyYCXiXA2R6pYtyeLWA1Ru7+t5qItQRilGG1nQic1QxN0wGxEx+kQekVxz6UzSMyby3JHuNcyT+Sa2AseZ4seFV27S4e9NTfgsNU2WoGX2hnYFNZr+/iYK6tMbRakyOjx2fP+5MasyLRdQur5AIqWQHrvOZRNul3bk75xC580Ny224dp0d4NBrJFDKwiqEtA79UV2IlylhG4DsJvq+pEtGzyEnu/C5rn1RMyRzCx2hGjMCazHRZSpOia2MPld3+Wc3La4aed+B6O07ktYbWaRuszj4FGZPNuzDsDtbR8DCMtl3jKKTZG7PztemTnIlq+sTN3J73Gu3RJx4TXL8YuKd2REwD+L+SwzdK56ViUvZ5QhqEpXnt04BycpXKSJ057Gfc+K5+/N6Fqiu2DV5aoXyTn2PJR3LoZbLF1nKXN+lnMiMe+5ITg+1aWgqsj/HHzhiulgLLe9ia7GmN9EwndCOPP4YuoKn3OmKVJ9/+23QwRj9w0DRE2ioWb93ssPfMahuOI+SX5gp0iECOeR2Oj46DoTO8HraBZoSFgKNHrKCDJ2XLWS+J0HrPTau6yB8NN8WkXJUZ0Ip8fFztQb5i9z8sc4Vstxp5iuDJvc4jiaeuxK4EbmEkyTHfSOMUDuGU0XD8e4gk9XWi0q/bbR0gbSW+eeifdC5IbTbY5mde1YiYUwOBVN8nYVoVr0m1OC8fAR7wvU60/jofsFWviBsN7m4KU0QaeEi+y+X5pX2Xy7YZngglGCqQWRvZk0+PVc4DrMLfnS9KIUtUg3Ysv2zaumGjY7GSr6wEyq/hW/Lq3QpQogJ+njUnVd6XAdlb7Bbe7KtYpp+LfQvNnPhK/ZUQKNu5k7meW6rGZP9BpaNI9ITsIwZQalIPg4KKmxQjA6N8jmNzjclIFFt+EMRFVFz0C4wsenIz4rqqt+ObZzGdDwODW7vtGYwktCTul5UMZ52JbAVe+7Qbs67No7ln32DhQ5VyZ5NNv0Foz2eN8D4nnae7le5GkuVh9ns/tce2GG0ydlRSl0cHAUu241UftuqzqZ19G2Go319usf+adO7EW2P1NK0GUZu9iReGFi9ayvi3P3JO9obuNNRKy4AartqKycHjjONmx2WznL/kecgCGAfeH+MNQwwkW8k2bpY+r+V5/LoyiKowv5liwxb4I+0E4JsriVJ9xt75Jr/12Vx/N2rDYNxchFq6KVZldDmpEwyHzJFEVR/lzwTV9QtsbGiGrigawgFerxu/ibD0YEi3U/gHfOToUiqL81Dl+5vvfkGS7pJjaHNcczTiJwrcuPgV4VZRkzN68tx6i0r0XnJhCsg18cLMTfueZfShJTuZQ/L5Lw3bO4z99CBDa9cX9dPcCQdrntWZ1ObaCsLxOa52vzS2uQYVI8dceqyZokiFUzckFOUaIq94XrRogmPyIYRvPgIcQZIXWjjycHJ9t2daGdpzO5Rn+KvUErAM+eKaD3VaDbgJFfgAaUHsCudHstUkJ07fh47KdAbRbXKhjGPY+jbLgXbj98LrBUWjx6I49+uvQWDzEM/iInUYxKb7BGwIXDypZKdoxV2K6W7+CtelINFtx/Vca1Z5I1ymX68+DWFawEtgv5gXiO8rVQdo5Wxzz9mnktVdV439Yv6g51keF4otNkPEXJjklPEk1g/bCj5DsFKtJGQZaCacIjROCT697Rfc1qTNS95qrn84+ZhfFqL7vGUghCEh7maizRV0da9tCWFRpNLayX0L5ikzb+ojEiFzW3DBQCHMQkw2P92UgTQBvePTb/bZq0lVlFEnaYmjtBU2wgyZMSdEM4RsiqTKGh9n4ujd7HRT411raSx1gUf9Ht61Bru88PGm49HggoOOwdeqCydh4wYL0o+nzg6suBwlX5ix2TTDSHPZaVm694LRzttqwdCjAIKQCVCGQhxMtMDD2upoz10pMYTiuzkOTql0SVXHqt+jXLO1fka/MDsO3xGZq3F5T+IpYY7dzbwDQXpfJB00vDtMUWQanFCZD9gOpWSqto6pLfv6jF0gJ62w+s5j+AfK0ydDvdXM6c1ViY7yFa/U7gFIb473dx0PIeGfXho8B8nV7qpiqvg4f39yPMi28CHlrp1OIAv8qfDrZcSqR4uochiE4XSKMOpy1VB1VcZmuiKYUuTzMBIg1mw/iV3ZYbFB7ylNX/GpzsA0kHmt1iC9noy8Chvh7mh1n/impN+ebfwjcS63WvR8rGwUzD7cfDoRjrzLz+K4jPUtFLVyeJs5tvdW64K05b6k9X6myXq3soMwtouomCkjGFWsBqv2B2NUnxUNhPIgesjzcHsF9hoMPJYWAS58Yb/os4aXctlRgia/tT/L2CFMCqOj0/tIqK1ZvIn91mhipFFjaJH7QHPQwu2ZMQEvxO6krQCKcSOCf1zG2uItlZbOelBVbpJleI6LHESBKYxD5Yygivv2u3QWN32G88HR2R8RI91l8LeC5OHArJtXf/C6DACZUMt8pbY+Jvac6YURrs/Z3VMTQSaWZdeqmFZ081u2lZgag5savFbNw9IWNpaL7mI3GnXbh5XJgrv9dbe7ddlTom+xlgJ+SWXdEBAmnS8cXey0uQ58Mn3fB9ufIp/Eve9CADeNNUEqZyY9S7ZccjP9BAVYjKUP0o6V0AYzzpr5uPDDMZzH5sDY7Dlqy8LM6+ug9B6XI/aXoF5biQUTyw0URgfkqXh4VrzOp+0U6kwJM+9aXdyStesJKoNXmLaW8QNjtwG05hHld9H/z42xpeCLZDoPOYpmeSZs3ZNbxPfyEYSZhHuoPjVeyGVL5Kc53RnGw+9D7wS31jej1HJ4NaosZSpLNUP6UMJxDb2tTNuu1vsT/5u1KGx/qbMXCuzoQwaa611VpB+6Qf3cwa8IbTYfbaI/UriaL6R3NmEyqKJkfS8byHQ/y1Y7eYqm1X9O0AVtPh5X3b7Rj8cQq8m2/E/gu8Xqr3o1ZH9o+/aDjE1r/VBQiWu7Rt6N82/CXWMrW8PfDFnljGvsnUGz61C9OiN1SuKjSXtZ1I/OpUcweoDYcnC4PjKfUvoOMaA2zy1ps9/NXW66XXLApijGOyGTnFaM5eVzMZ8+VYcFaVm7RyrNlX+tAWycTjxVftu4bI6hBuNnnU+g4xtoR7YPtik07wkQ0gbqqlVDwPuN99YJezFnpwOTaf7buogO52EVAloiFT2liSuGFMGB0jyi+9W9C64jasLcwRvlsdQW2w7qEzAzrMlSWGDm+yZMdoTInfHn4ir2/bEVWw7ebtHiVaddxAZ/ohpBlvHIfn4T9cfYvJutlXuEPCGi9CLYm3mMtdt1reb3JQvJIVYEg0SrPkDWyrSbV/3msTMAfwJz1Ngjc0H13jqJLcZEzITH0zclgrM8n4ml7Ae/4aJRTsUcEdbbgGfa69irLmur/cKIV6xqvVD+As4kfOrlNzmBIWE2+3pl/MzsUUa6zCiqswg82gAJLYe7nIVcImg+S7b9ZJjvdg+v1qaYPiP0UYanVmQiO3cL8ZDGTnNOd1NvsyivL79gwoqT8171NfbB0+bz8af245gjHtXudMt8tl51cC+nBN9K8XGR9KwnZjeJSXAwk0dLr3KZ08cervRJsUd9ILeymF+xL8jKwLfITv70/4C9eI5MqVfFfPkB6wB619zzv7hPFm8YUGCzTqQk8czspHCz8YcqAUCgdv6pR1b4f/uLW5Wh/D18xzpqAje9cpoPWgXSKgEpPiqr8v5e1V9iCre8biGh9bN84gjG4b3Qn4a+r11ojq8kxU7CFJ77d5s9aHPP5t2k5FORluXWs20UFjQ78jQwg0eqeukOAiyCq7jJd415jAoj+/vXLrnNN7PsCzkCdDHV4r7jitnyzRPbQ5QgrW11MELe/w/ox/euON8uuEVpb8LiyMSs8bth1ZNjx6e5+WiWbZFw1D0IUeVhY2BrZN8D11RE+hUMGlkxmiIsSWGMrpkisrlcML+NVOuGeYi8aXQP0Z9sbrsxSfHL8Y9T+qDIqum7exNC7S2XHSd6+m3PqlUVuyq4Pnrj7OnPvYZI2yDZuHCwbdeCiUJjZGgqTpCSbWYX+GeVaR9A6UiwuZnaz3eD6yXMJ5/yXPQ4eJ2gt/fU1umce24tkO/ieYpNM0KMstxGN/40K3e3aKH5eUEA3cJDLKivqGCE+nPS5frxrb3pmiNIQNBLS693PK1Hi+rL3JtOfCdiOMEBqkLrlN/NRY3Pxe1FaWt84vvTjUE+BfkTf+RmGOZPDiXv3j5SAu9khTfOVTm8qWF606dlLXps3ravpKx7FHMfrFVrfPct0cCZEIfZzr8mShzR10p7movjt9nLccppuC6Ul+5ZA7ifN7NDPsV067PscpQPQvzknSzBzKkWIVyP1xvfremdgH8wN5S0WOGIp7hMzZnOyJ4LMESpczD0ntfZW0SoBLn3VjRjUX3/g3oLTFZ+WdcupULsJjq35UzyjSSx5IpWbnsHepvJxk7yntFt9+Xhgwx87b2xXHkxiO30TyqqUee3A8xa/DX9k+s6CmMvko3etL7QQZTVhPKOs8uy11tkEwrusuOldpvlmseFG5pUrZfZmY+Lp7VsL3s/4U8p0PSNhZer0GqyaH0wt+0UXLEnGwd+TvfChtIX9+TW+dIbLgfuSIoG/t7eT6pSZlLitRwmYkaYzJGsmskIPpo+rZDIDF7mDG5a8wP2p1MlMHA4kXQ/hCsrlnOuIoQuaqDwGLEi0W1AxtX/A/00XflB2HXWft36YvtPk+uy839FCP6CWkR7i9WLfq9f3CuYlUibd6o/yULdJJ1xSPhO0+gf+XB/D/B/yfGODojkSgMZ4eCPQ94H8AeflfNQ0KZW5kc3RyZWFtDWVuZG9iag0yMCAwIG9iag08PC9GaWx0ZXIvRmxhdGVEZWNvZGUvTGVuZ3RoIDM1OD4+c3RyZWFtDQp4nF2SzW6DMAyA7zxFjt2hIuF3lRDS1F047Efr9gCQOB3SCFGgB95+sY06aQfQF8d2PsVJz91z58ZVpO9h1hdYhR2dCbDMt6BBDHAdXaIyYUa97iv666n3SRqLL9uywtQ5OydNI9KPuLmsYROHJzMP8JAIIdK3YCCM7ioOX+cLhy43739gArcKmbStMGBju5fev/YTiJSKj52J++O6HWPZX8bn5kFktFaspGcDi+81hN5dIWmkbEVjbZuAM//28r1ksPq7DzFVxVQpy6KNnBFXj8g5c4lcEGcSuSQuALniHIVcE9fU55HjJ+QTs0Xumal2YNbImjlHNsw1MnBP6mP5XGQlOV4ho38mFZ6r2L/EPor9a/RX7F+jv2L/yiCzf0nx3T9DZv+a+uz+1L/ns8iB/XPKZ/+c+rB/jnei2L+gHPbPgIay3z6OB9/Rfe76FkIcOT02mjVOeXRwf49+9lhF3y89urdeDQplbmRzdHJlYW0NZW5kb2JqDTIyIDAgb2JqDTw8L0FzY2VudCA3MTAvQ2FwSGVpZ2h0IDcxMC9EZXNjZW50IC0yMjAvRmxhZ3MgNC9Gb250QkJveFstMSAtMjIwIDk3MCA3MTBdL0ZvbnRGaWxlIDE4IDAgUi9Gb250TmFtZS9GRVNESk8rQ2Fpcm9Gb250LTAtMC9JdGFsaWNBbmdsZSAwL1N0ZW1IIDgwL1N0ZW1WIDgwL1R5cGUvRm9udERlc2NyaXB0b3I+Pg1lbmRvYmoNMjMgMCBvYmoNPDwvRmlsdGVyL0ZsYXRlRGVjb2RlL0xlbmd0aCAxMzU5Mi9MZW5ndGgxIDE0MjYvTGVuZ3RoMiAxMjg0Mi9MZW5ndGgzIDUzMj4+c3RyZWFtDQp4nO3WVVwbX8Pgcdzd3a14SHC3okWKQ7Hi7u5eKO7uxaG4u0Nxd3d3iu+f59334dm92Yu9289ObvKbnJx8MzNnEmryzzbWjsputkYAJgAzgExU38ze5n0XE4CJlQzAzIoAAJAZmhk4kn03MjGzRmB5f01O38qIjOV/HWpoZIzAoqBv9l+Tkf3PHf89ORngo7/oO9qbuZJpsTKzsgL+GfjP47+faZPZG+kb2lhbun0MFxGxcSXzYAJykTGxcXCTcXNzkHGygcj+j5vX/zaXuLWBjaGZtQkZGzsHmb69vb4bwj9f8J9iJ/MAkJlZGxq5khm5GpiSsTBb2zj+8xYyWydHLzJjG3sEQyfbf0aymADed/2r2P4ptn8X8J8C/rtA/xTo38X+T7H/uzj+KY5/F+c/xfnv4vqnuP5d3P8U978LwPr+8awf/S/OhwfwDgJ8iADvJMCHCfCOAnyoAO8swIcL8A4DfMgA7zTAhw3wjgN86ADvPMCHj+3dx/bhY3v3sf3H8frXAfvwsb372D58bO8+tg8f27uP7cPH9u5j+/CxvfvYPnxs7z62Dx/bu4/twwd89wE/fMB3H/DDB3z3Af/jjP7rlH74gO8+4IcP+O4DfviA7z7ghw/47gN++IDvPuCHD/juA374QO8+0IcP9O4DffhA7z7Qhw/07gP9xzX3r4vuwwd694E+fKB3H+jDB3r3gT58oHcf6MMHeveBPnzs7z72Dx/7u4/9w8f+7mP/8LG/+9g/fOzvPvb/WBX/WhYfPvZ3H/uHj/3dx/7hY3/3sX/42N997B8+jncfx4eP493H8eHjePdxfPg43n0cHz6Odx/Hh4/j3cfxH+v2Xwv3w8fx7uP48HG8+zg+fBzvPo7/8v0vtyEDJ3t7I2vHf91RjawN/7uNzSyNyIyMXI0MEB4CzsGSTvY4nqQTB77QlAbi6Vo9SuMU5nR7tAuiq1YUJK8DrchqTapQfICBxqpGfJr9ibQa09CWbTX4iGX6MskytzlsK8J+sWKsWM0Ga77I3Aw2RxBGji3U7C8edcAo9g7sosg8upcSKRMk16/bE3rXfXOVPsx3E1c0n/smI/FzKwQ2ybhRrRZtnFcuN2nXdGJTYN3BujyR7battTJ0+qLGltQcUs1FsGYaMiwlp1xl9HrI2PjcR1fXQcsBfGVIl/D3KWaTWHms0/a7Q64F5iOB268qandUcKrZmG8l4Clict8UOO6djvN/9YWvGY/ryaQOk7uKotM25rx5zwELvkHpIdzeOkgCMKiJSgYjGVB6RmtyQFt9NlQ5OQdgklM/EcVreXFfRLwQPrm1zH1G5a4ZUFGq5lJt50jL/9bkLu+VfffplGwvKhE5NaGQX50CgOCSCCMEJoAXMRFt4DZx4PKpox5j77vFYmEOdCooFLcPt7ylNgs5gPZt19rcfbMj3YFu+0Vtgl3wYpRYSg8TXI4qQ35cUTMizCuIkIHik6wxlWvatubgNfu1nz3MqCKUMLxCfHC0MKUjsbHnUrThkLhA39Pnb+D+ItPE1coeC/vjZ8QSAfRDzQXPxOUbOJWDHdGPxf3tLoVwHHIWWBxJ2N9RMrcMuGjlwP5ekDPvDsLg1nySsQHjK0BoxtaVhuRrTR2o+MyX2emKiL9iva/gg5E3mFKUtc34reY2fVxV7zXtoBQLF7KvazQoigKTMT2Vk3SXsnlDScqezbHcPcxSZeNEAreSdik2wa3DRSQvY7IZjBofGvX3WSM5zu79uBgCHenOfRP3PTwQ9rGqqeROvG6YN/KGUvQbgX4/HjYuU3vu+gSUHFUVdhHUGV6bZwtUmKfG/Wcvw/jysEn66GyrAW2Tbx2zUp6JzrhRA1d9zXbN5gOCWJJ64JAqVTjSs7+8u4nugWx3SYXdIaoq6pbdBJIeEiWgqGXmGBAYg/rebowg9lXf5EG5wULS6Lae65s5L0c5RnhF/rErfWcXKRoFlxDCr/od1brEmCUgIUXVoqUPatmaImqwGJF4G00iJbk7K3v9KYRGQrihHi6miALu76oFc9l6znoqwUtXsKbVnrXDKVHfaundDXPve+KeHpaootkL+WL4qvMfJXD2yTxu5YgL7a3gkfZDyBKmr2gBMA6Cn689TVi4jceZ07t6EUOaosLmXNaV1NXVHnLyaiZIZKZmk7DnQwiSzl1jkQCHWjURPEP2QyQSLV0NzDgRrA4uPV7Jx+62fIeopzJkvmg9LL6V7JiAJJpY/KVuu+sujWRDId6bCJi5BFfmMh+HMX+rERnMRY6XBu8ii0qfLN+B4ue3UCzK3JJtl7zQpDtUl4rEZe91Yuzt4eeJc4fbUjNZTyhyAsImhApp2DSbH3+lUZnPz9km2ORr2KR6r/ITelkSueYkn2cvqfvlSSngdApFH6Rm4hxdH+xXpZOIl9K2ubXq4W0WIvuYaBKadMhMNhaX/tBUi79YudS6CuebX1TyXJjD2h5hTRb8FcWp6Wkost2Sw4SDgJ4iFZ1502AzceBW5ApK8DGcTydyEv9JHjy/RbpjDhYCLzwyvByc0xUkyHYSL55w8Q39lwQXoZU+RrbZTEsvfICh6eZP8597aekFujM6igGCBWMH3/Gdc1CXAeg9337aRhEtCMzm2Sf55YrXzYLDd8mbzmmPidIOJbrZjJRJLn6NmOtct+7sfxDaDMHy9Gv8BRlQTBUjYyY6y/GtexXs02mHy3dKiN8wFDRdhd+eVVcLHjE8E6LWnNpWNhYeLz0rUUjCIU4tfjv7z7CgSy36iXoKqrfuszJ2tYYM5HAHcY1pTsZCw6Ab8t+kP+tYQk9s05BdH+ROxDmjchTpFaTr5plD4mVDfrEJvPcWx3/UUoPseJ46NA2FveMshPnWSMSxak3nzmSA4yj9rdpsQc9qavUbIUWq/KmbnXeZwKDVHHkrXwhsWSzY1+R4rVymPZfsv8Xs+U8NCK/4TwZt/GBkihmOVLLww9Vw2W7NaS0H3s7xmFT7B4Iru+Orfkn9nCApLEhaoWoTopxyOQJa3Kl6/7zwakPPfldYsDgDhdbZp0YlZnwJCsfx6YNsxknHNr/bUpeREr5JZVcaEUlTO5bqrrRO/yTUYVc660Qc/7rJr512WPdvYRShj4uGgWa3fQ36TdxfKY+HHnJaFJfUmZxIt6Fc81LyQxgs6MCbK2IVviquTIduWMs7apLmN0EdsD+7kIkZpiT0IsDXRuene/EB+1kfPL7bDeHUF4u4q9z9NG94u+J0TJ5vqZVkkMlnJyCQkcIErvFhfr8qKkl0O0FHEbmYh1vWi/wRDuvGhqVXo/hWE9cVXuciDf4lgmUTP4qNaMcWHPIInLtvjva2Ey9YZknrRZ8goX9PPGWPMm6f0qc2jrBt3lFwbnAQhzIRAEu2mk2FG+1gPgbpscYCQezsvjWrVf+nnIYouGPYMgoGptGdcRn7izddNEVQCRewKkO+bwZKrL4Nu7wAGpPivt8jiAJBRGnJdR8xXO3zo6hqzbnis8UkYygNr8TAjKDx3DDThGLD7kEvufhvMKSZiYZZ6YbElyaWnWmDgU9mgbnJ+SlB095IZ5JSgjk0s3C/tcftOk4zkfaS2Ot05Q9L2WMvvzgWf5OPoENgLkqttPichIbWc6ef/kj9UK+tktmPb60V99hSLOqrzwuTzNlTJT0h/My4lKPqMSe3a7baglIMwIYjsjzVdbbUx4SNZOEPi0IYuPK5/DQ36bwQjJcCODydy0dEyxKa/6QqELZNoKGcqGqAyUKSB9gegMMfNn7bR3mDrH5ixYA/5Netob3rGfmdoKtCy6LI4Yqb1UfcxVcx1x7Cxw/44150cVZj+qtJK4sYAkJ1xVA93V4tX5WtW0WdKIhPYzfR8wshdktQCvuqcxBUf4pBaF9D6QwabEMudRdJcI7dJEEaU30bfXTgZkpSzvBrj/164JZfRoiWNlJ7n1sGusiy4ydRm9aMICWzZqqYxZJGpjUgOfhBjw8Wlo1/m1sIaNszpso1OTI+svs71i2qh+yCEa51g9YTAJmThW6Ht73ikBKcrwAlqKUsoMRYAjVGXPdUN35unxu6jnDQYq/O2BV5BF9HRrBGwgGtYEf+6TXNMgPD+kG/t7E1F67h1ZyCHl61UoTwj9suPNxhEnhuukncphFFk1JOqosh2OWUJrTc6eEoI2V37mpAdnnuq3O98eBCbonnNobrqgST4KOKKfuaYN1jBUO7ia2OgBBjdErNj8Z4jY1nmI1lCeSz6CQMH9mIkr4ZqrV2ErYn9ei7XAjThSqigl41yJWNhl8srNRsu5ZJXxuGJeCPVnElLrLjaoks6e9guqa7Xl/DOYcVTMAxqDrNnXBehGMtxk7IY/nSd3srf9L5Ye2Wi/MVSQKxh0RmREHzCFKBAcG6tRdcgi6JCUPFZjLZz9pRtKeZ7Y4MelePQgBq2oZtxzqqSjZtsejyVRKmMQJaMM2fusliKfzps39Xo2AJ76k8lqOYiMFUVaKX+inVi3p3xK0kHxNC204e9X04kllsEy4L31LgmO8p8JTrPvPubJ7l8MERWOTopR6lbnAXTs9tPwd5bBhFb5k39FJbxX3P6X/u23VQSs0naWxLGaMVEjCAcEYmaIWvc5yec1dqO4W8SXtVNDvbgefLjNvKpwPdPFSEGYy65LvQYxISKD6CV+2jpaLHumdXevlRKVMf5a21V/olyurfzeNWpfJGMNj5S9bLw8z1Bbxx/wKtRyzN0hvrdurd68ajT2873HImIUQnQIn6uZdASki9oXxv5Vlvn50pEJxajqMZ/mJPpp7AXoYdgp5EhA3/bSBmUuWuVXHIeXizJW6UA4eCJs+tBPHcPC7Lm6lNdP9zRDqwGyV2j0aXmiU/4prg08O2y8jPx+pQ8WsTTGaLgHp1R+9b86qjMLPzJEa/k7vrMoHaU18qbVBKouDTRhouS6ii1o5+9+eeMyov6ua6QkALt+bSM+ZclINGWQv6IF8dVC5ZKX0kMXEWf0YG6WKNyYI+pR/bRumPsSnJKWuC8l8rf7aElZWQCviNyr+qfzm5Ijb/fVGNiIZV+iUPeujRlYane1bVYZQLjMu/wFzWEUE4Wso8pi/S8qBUWEbk79M8yJZa8l4yO9eI/dHFUr2MCTYVxg2bV4CMzV/6M12bHUQ6b1RQMUs3GedTHU48pYSwDcPmBuctTkbhrvvvT26mI2xiiurwwiRgmy33sjUbFkmU7kUIAai73EVyn3QKsYoWxMljPZyNeaKCzXbk01wKtOocFK4PslEUfu8eyIAqiCTCHbHb65es38yGUaG3t2thOnxO/maJxPdEYAzP3dtM2s4QHS3qukgGgrHOonqX4T73zWbf29zUUvUxgJ8U8PnA7ZD2iEKUfsNnKVyR/tkXxi9mb9TsYhu40HdxtPJURWHclrzINZjkyd67cpoelMN29fUCJI8dJ7y+lmyD++v6xDKQoQa5eQZlzekiXP0S7U/b96jcmvJ4/Zmx1YjNXl3njgtzwYZjiUwBOG9K6lWWUrcnW2klAHP3QyYgwnjjzCtL8ehUmdhp3xFQ1LflQ6RN63vgdTB67tyQ9NlhJLWGNtu9rN8tAFdKUlmPVC4O/msGaT78yax/mtK3m5lEdEf9GGqGXz4MRQtcmXeTMERlJm6u7ug+fmRK841zRNUV2E/7CCJYCDp4e3blUiAZKfnHh6PB0gkpkU3SW2x/869JVzK9C/sR17aHxPxnfzAigDDG/J3nYNHFUlH4k48Zr5FjUz0alHhi2Ue/Y0K2kv+4l0ILcTgmOTyZLX6rKS0Q2WJiZpDc6F0W/qyhP6vV9XVRyZDGzLP1PgtLS3jka9UfVAe2y1/7HSM/XmOTAHk6GeASVNu81Og1gbJHskIsfKgyOAgPl5j4rKjYSiUQA0P6GXdryGUWUoRc7HDa+dDaE9bG49r24g1mqwK8szeD8BHLAMYle+FxJHMgZI9u6vMafGVK2JZTrwKNwk9oMCTpx0E+W1WK0nsiu7xil2I51VVqTjWo8La1VLKgS4Bnzo3tlRoY+mGQZZq+HIna85hmy/itFdknfZAaRtBOhvy3AZdYpXHbaAgK0JaTCS28RhiJNUTMU9iUBxTPnExsvpEDV3iuk1jSOrGANr3DH3lC/8begQJYmO5Fjg38OerdgorWR8YqwUV+wwip1Xi4uPVqLcBTZAr5Gv8gGsoytt+DtmhrYEqE0kMJJhGQPVcVFBR+Jfk5Qw2z5GWfxnlV5DWvc2v+SuFO3shwLxOTFzLNi4SSTufHEZNL4HQfQVVv2BzlVtmjN2FwUL2ma34p1rWi527wX4PQBDkS+b/Ic4K8eaRTLwbW8f7Y3WsiOfvfC9Nz86IZnmsnfE/qIgh5plLTX7OcWB/dDT5JPZFsrj3qT/2QvVlXIfc/EHyWkURyRaEKv0tbnOQGq7fMRk6VrLtGdiy057VxnKoa5EfbiNSKBz/I0AzyrALqe7+44cqzCjPIX7XoPw2w2pEJyERLY12yYHvslvEVOz8jkbL++HpE0GG81QAFPIMADvKODcYJHupizkWgx7RfZ3dXdJTF4jztjs7PfHUJbrU8xa45wktXI4jhZLjCf2hZ69sxMJ3vYjpsGwxd993J9uGE93TOzeRXWPMcMFrO2BBKly+LpBh+89cqFBKxeMA9pHHM7wb7Hqw4xjfOaWKeIqjBI4ak10M/zm9XijeEeVGR1RiM5RaL/3u9FON7WC96atYqo5maQKW2q/U51qtxsgcXZW+bpFxUw+2fdpkZEKao1O9oXprq+5ViNPKZswqZzWk3fIgT15ISyRThU6XiZJwFcMiw1LOAUqxp55tFMXmJc7dOK5U60Fh62vpxet33O2ebXhaL+uTtn144z0+K00+dVXRXfzMntJ9n3HUwhB88hpyLBqXSQqE4+12Nh9t/9e1OkrTVyaiu9WSzDn5zYUyueNvGjInUaeQbBpptKdRtrfk7wMUsc60gh1sSlsc31iO8Fi8Xr95J678KJuHLw+8LzlaRPIaNX1ZP1s42EXZA5ClXBxg3LlVqgdcVbC6Vm4EVrADzxxmmVefOXr7EuiDFOUuZ+e/HPUmc74u3aMFdy2ZQDz2BDpf5xXFYfnKHv/xwRXNGiY1oiD+F5lAKiWufG2VBOG70aR9LS7sdGYiazJQ5S4EXU9FeIZLyabt8Hdja05g+kWugXooTMphq7vVPZ8DfbpdVgle4G5GmR58u2XKKoROJZcexkfxKvhDS1tik3z3UleKsH0pa0akUW4a1wP397yPs8MqMsv++l8fk3Z9xV7KHbd0AFhH+a1ZbkZ5lqDbu+rD+P8v7OkgKAxFnsMiMn3SJ7aXtCpQUtV9uP090nShLql2Z7OAi0tyLRJEGHWh6Wq2MWCgBzCCSd8L9NWR9FkoV3ILDtveeSsfAaZr16LLJX0vcW0WUdoOV/a7NLV/sAIrMtnS/V1rCZmj1eKCppwS4O4D3sPp8IZgsz8oR8HzaiX268D+Nt7UOFKaOLm15nLiWDXMlcwzJ+xsB99ZX0yReX07/jjCH1vWN/NCzqVPjIWiyQjuUZncEu1qfvHxDixyTp/F6/BRybfdpD7AU9qPjoedXB5dHiLAJjLJGl7Mwh2jmk5vy3l+pN6TgSSMIvKHINUKYdTwCXBOOUKC/i9Q6bkHSy3gjWE7NotvJNTombL8ilpohluBb5cs4gtFVvCS2IUlZtLnOxQP6SIJ7WnUcUAJvwSIWZAC26JAHbYAUW+YTDCLhIdBITylx0C6JQblgl4KAFIt6TkQMDYixlQKL4BtMe8ZEa1qRUgGnH1SZHZnyODNHx3U4cOdx1XHBRgiMHxAupuY8nP1101SDrUzPfHy2ULal9HZ7ah8rF7rf9woN6QgV3jgnSs6ii7oNbSsVqkRqlYK2/fmq1CMkvDu5iL3QuNab7ftKhokpo5hw3tikdIWtLqBO3L24do2hRxFS88I+D2omTgHf0ANRYTpOb8WNP72GWSmePZ91eaWVa4kNp2vY9+yng6ra6CV9iJchJ9yqm48pVM0YPybU0S6eCXlk1s7WUFqv5+DwWUKapzS/x2TcSVT/yUpIcA//6kBGUHJaxujPz6zxZRbf1DzjaFiqX5zxeX3NsaLwMiWRy8mBFY3BFImz7ZIVyctZdSjfht2jpgLtKZISNeSFA4Sy0a6hGMjBHnOAwcg/i3AemG303rg33VxxBZ4LNw7p/bT3i2tsUaVyJRcPG3nOG7lSo9r/luk33WEcfbZbInaJL3aWta9KJU9HsHOazi3atksxX96K0NVg5n+l9pb9jeEmF1Hf8qYevx2djhsWw/Hm7YmzglZ7FnL6BSyFXQ2bqm5JwXlv2RReJkwmD4etVPZM6Wsy6ezMUE4dffOslOT1JQ4JZp8Kw86LGja13LW4lpTYAYKyI4kER6OqYanXnftWdT8JAdSPaVTp3f3cltvw2mgXLQ7z85DJGYxuDTI1n7tRlAZjIS7n9LHHUMXkmvhivv2f19mcVd19xo4Hb2UbTzuXTpKGLbcVVQUPpLBtTlCnss66Cp0jRIhCnYdY5Jl+vjDlI7l+bUlvlhXXuYzPSZm/W1wOGp6m+6eg3iYHKPEX+ihWsRdP6evKJgd7HyKEX2s05NI8s18kVJLW/sg8yXvhkHF/wYuDZBDF+k6tpyJGDfKiKUMHUQrEpxV105NREFv9cRjcbL6+mhscKlFqM7nFMg0J1CK2Q5YAy5L2iCFM7Avh6No7pQlIHTThJ2QbisPSYovyLEm//rt8ivGV033QAMejE1FhJtFY3G8l95NIzQ/lo/1+9EJ47FOfIA8NhgKZuls+fvJ8dtYn88Yj70Dn8WJmdScva9Mp2qzaSgaFI9sDe+A+IYa4dGkkf8pygqx8xrgQ1gLf2hlKlC7JSgB+lvEaSeRQdrImUHLoJlcq58ja0ONrfaSmyHEukD7MyqK1jaK9U9BZpkead9Dl8ZwTHt8UVVgFLSJq4lgZp1vv84RcmhAk78jG8b7jSeR21D8/I4Lz2c6CWFYGdoBM0g2rlEvaZnNafNqCOtcCceMWHmkUGUv8JGTlT24q8XKEM66Y8i+rQIrcyseAGN+wNvJpV2hSn/2HxbS+8GOf7fGIWLZDrVI1M+XnlwBlNSbN/DbNEFaseNcV7CZOiWh827ZdNHvmnSKrHzeHqiYy0BurQlfqafMnN/f5KQQLzywPADQgQFZEM4HVkpv681fRVezAteX9JRyd7B/5u8aKupoYfJ9RaFZVbM9ayrl+xnC8dqXYf+HLHumkuLW6swHksEAq78cM1A2u5s56+q+QHDog7BPBLpCCvWgcmM5KEiW4bbkl/fag4L6bn1XVP0xruJufNiSHrR9gMod3CA+g/n6xECnAlrAm54ZgR66IbA6WjOWS139LjKo1CzK/oQimaCbT6Y+ckiXxdAMxc9PpBVeYkMovtE3Klh5E4SAot3rhbEJ5yzc3zeFOLZSyOOrEUeZt02lTqw9uPKC8DKxTawv0H7kGV92+XG7hIsUUKtE29ohN88+192KhYpnDhCJ4LZHKKxU3/DFPHXXqV4aM9PVycSPs7/MqT/lpk7Ejzj9XG3dByj591J3+RmFsYtAodSUI4ASVM8kznvv4gp37hif++cUkri2h2HnMftqBlka3tatJE9HvXXQkOK751jArBdSvg8rqEtjRm0N0oI3/TPqN/RPXqt8n1jKFExSwFkn8TBILyAZFHbTq49yfctiVmyzjZKTMzJdo8DmCJYTyeVoiinNHhzVtE5mb5Ni+GXvRFj9+FeUxoVgf5WYlnK9DeH8zjqfLkHgaHNZHigZkWYEwU+hVwc7IFkjlqZ47VWkxjlAlB477jANyw+AtfoElzZw42P4pjNH/9dr3u+t0OneescrzdY3EwFXi+HtRAA2q43TmRgHFcnGnj5Hf8paqWt5za6RVCjMDgnFBLA4O+2D5fPQznNK08k75goSZJR7/9xD63O01/C+yb0vrnW5/nZx866Szi6ZQDhY04w/Go4YsaJURoBEdByrv4eNvmCcFHUNKo4wYi4FKn1mcKKqVkB+rHp2AD6gMg/4HmTLBGQjRILGNRTwJ3cDf+LyMoMZgD4NESYOxqalnY9cN8Ujvnyegg7II20+oUIDAxUwPhE4H4OQQzpQg4oy3CfXccOJjGUewzL4JraPgpxG3gW+SBrwlJqOGcirIDwn7ScieuIITF/B5UdVpFGM+m1tIoaVidih1mVoAJe1uuyXxgJT+3KO2jbIkiZOfq+fa1J0gwgCKWciYSr+glF8ikvvgqc8FfPs7kI7eX6DHwILkcqsTWgZDYxhk0pceviCVRaO4rS467H5ZU7wVYTe412pQ6tbZ704KpAaBRSRvAsl+OeBwY9I11cM5Bcv5gDTTPfE99nX8MrgrWOt4GMllpeJKvsJj1cj8KvRBqD0KX78HvCr+FUOg30Om1wgr3h3vDg3Szr1b2WBr+lM5yMoZZ61M9/X8ZS/3BOOLyhYnmBRbNZvy8NRSqWfB6/mb68+Gti8zECPrzqljh8ZKveDu25WLYIi5xmHc7AQ5oYPmOkWJJ0gnQDygxycxrFjaEtROV9oOuyXYrMqJtM6dw6sN9PCR9TUViNf4EIl+1zPWfWhhRogaBSO+vY4TKcx+si8Llo6PqRSDx92rqibOqmJBVMeBoT9W2SYprx7TaHyE8vqOsOroIV6ShMa4OeIBHJb4s8G/UgSDKZ7YOvtqF+fbXbEKcijVfOgvGFRK/aVoXMHMsnHEYTNlFXcUBLtjeraVDajTR4qe1r9efk3uHzjWUPpmYW+bLEk1iESFMTGiSAA8L6r+i9O8ppwF8ltjw9fCgCATJEZDtjDk3NBO5ywhZXQVLSRY7ZQwQgnaxHglnoVMMoE43v9hGInPhTW2dE0dFkaP5VzQsW2gdr1sf+FB9tn3Gu0IxxaP+tgAvoJlXozWDqqsKpb1bhzyepI6rKzrJAWh5AbxjcJMX89D4ijZ4xN03LEJtVYkeJIeF4jRJKv6Di+cutk2tNuiaP5pNWU8hKNoBSiHZ41L2yNmqRJ5A5eNKTe0meajpYx6b256RfeYXXyZkmpeW51CFPTK+qJvJn0EtyS1VVkBIYNwZH0vVgfPfXYvNMwrX2pSD8gaSUB0dTz5q1UvYYJ2i6Stc7087fjdiOWesraSbH3NQ64p0CxK5HL76UlE6hrmx+Pv1oh6y3DP9UJovL1mroN6B/h0CHfNkchfE6yR9Am36z9/Be/KazsT6n5xo3PDwil23jZHMFSADhxeqRa+uHnUdy0geytgclHmwBYyuTludprWrfCT3XcObnTdjDcyg5HKbff8rroU34QBN49uYMjFTqYi8jluqkYPWX+U1/fHq53jK7RIbaxLl1jQjsM0ryBuyWAlTNceLGegzAMcHnO7RhrdLu+kSiExLoOz991Rqgfn/UN7NqWqb8evXJuopVPH8lGaV8T243b7LRh9TE5v8LuV2RrPtyqSo1ECUn4ZPiXjGnSXYDHkdJGOHwhulz4kPNZQzD7Wac+7p1G3BT5FDYKM4Rfqg9vd5YAz7upwyGgWR6FDOOXNwTyrq/yZiFXP35WB6NWBmaGRSS1Agem4ANVdqvAiG4jWN2zzXHR5R0hH2EIY9DaZOJU6kYhRGDAs6Md5tQhKKC1a+i9ueZ59Ueyry6nmD5dM9LfhTLo+d1+zHTAOCh7BPbbmBJQf8C/DSG2OkehK7qKEiNY7M+vdWV8zJFfoF2a0EcxRzCCCBbUQD8CA4isaxqwAoQSXP6HxbZvqOYchkHPUS18WAgG6fRY/nUZ8J/SQ4AKnYScy/xQuwwcGsWR6ojWC31Gbsza6msV/Ju9qZzicHZ/gPHsNTs7Fk+HSRiibv59shdbzSEB1I8hzHZaOQjqivngjHpEM7/bj3JAuHS12Px4ODpkEbz6CbhKlfi0Wgg9nbohJRYQz/T03FGNzk67N9C2uegYihSZf6gA5OiQYDVqoGOmTOaypjyi62+cR1j/NPuPj7RSMJu2yUfjukHWnAZWOdh01Pb/BRHtCZOBx7HjgO0u+XW4nsCioGyO1BuMhFN4MEYAQ7/rHbV/3Jkh9sGG8Rs7HU5IMBO7UyEtVREZbbE+L7dpQcfJs4sCfiJIPIMaTjbrP+MAjb78ptz32cn6pqSm5X6OvX5XHyvIU207dKWdg9QmHOY/FR07uKlJ11+oVolw7m39xy3Q+Do4qXW3Z4rzr8eezfWPjAUabR8JKWOgd4hTDSYhzObiHJOY2jU7/OI/xlEqq/BKhHSC/VP2gsw9lHY3Zg9gm/tMTkmb3Yg6vEuC2sMXSg+sqOb1TyRM8IxDy55aiduuYmswusw9HPvTB43vUraAZJ6pdPg+7rsCl1qwqKLA1pqDbwDeE3B8houH1DhFuVqw1pyHLk/97NW0coMKbLLmTNoyjRIPDZNTLhn6GyZ+OEqDkOna2kSDjrrxl/BQkZfPsuLB1WrxOU675qZdG8RP+yVyGJNVfPzIev/Y7sukICGi17m6kz6SXK/1v+2LE3KukDtcih2nRh9LXfxyCrBK+BD4lYHIg3hDB6jvoU5Yu1YuDQ6xV5IulQHF2odjgO9rFndjABJiOFyFvycQFW0BwvlAdWrR2b46sp/WysgiSMN7pyfera8qluaPUVQDi9/2Gn3Y8yEBiWArd/a6faRruZzXxty0WXr4ilXheSDZr8gE5Yrbb9Fl17RlXShUX/AaX17JHYDIrKk1J0SapCTDLlwmOua+3yi+ZFqW0/K+dy+5QyctiZucVFSplmMuF94yN0FBjpRekYyNbRS5rqskEjPC5QtCWAa2r0oXmOXA9GxUjv8XnxwlL7KxkNKHAddU1tUljZTV/RmP7aM9ZysL+JjP1MOP/O+n02C4yzw1Zqj94hklmQK+lk/AVgHpqUHR9G8Nc823hz3OUb1A1TLD04dpTqEczvLPpRKLzmv36DT9NKd+jY6ntMfy91KSLsWNOsqn+6D77b5l2JiXfv17GQmVn+rC2MxTga6GqVNi5cHtAcC+qTvBGCvRyjm3iv3NQzbUSbcr0tkrMO25qt3VSwmuVJyx/pqTCsMfKRrMHTRHBqkPpeewkS+b27W+kNIe4mKQWDjkf+sXRlwQoOVNIK8pf/J2y8RZf45zgeGqS0Z++yKBPplu3ihRSb6GRNzIE2jyzB3OOk2w42bvxD6B7FRA745Pi0pKpFZVIjv1UeDHEDBKXkkb0k4jmlBJR26rszQcDmCZB5qgF5sCH4tF4ymiRNKQViQ2DHYvLkw14m5ry/nEZiPb+62Fp3uh55oS0aOy4K/qo6846hnCfkZqy+eM6xae2LcvnFxQWotW9uZlrTMXRXiamWlyCQjEGPcqhsLo8Z1E+JgyGya9PyEFSPHThioKUJclM+LZVz90LFhc3vQ1AmpqmNe5wel8bdRNNnh4h6EP+TztFe9kdxI1qTYc/2FrgAtRb+ARQ6tj0ydxLCZj0dhGSeMqmnLoPE6XfyNNgUNMgcIS3gVPqz1T86e5fUK89DJchkgdsZ1qLxmb14UINNeyHgpp57F4fk7OVdOLG55s3JUQDQsFvBo+DdY4fz0XZllDIxm05Ay76RI8FS6Fhy/QXHTCCIbh+nvzYhR0ZUyYmVYwJDADVcY7AdrPo2fCdafBPjHZrJQinE/7Q5Nj6jhSzmlCESdhoFXnUndSX5BvLgMAEz55X5sCzib9CJRgWyJjiwpnKP1Lq8/vTzEk0vTRzDMeSR6LDUvlKESIRtnOt70SgFeziNabdqGOCJ09fqEk5WHDeKMq0t7NEDw0/L1e4QdBwqSQytgUFH2b4/gGWIZcwQqbK6cswCOUsTyUwxRcATwjhTF8arEdsPbfXG33//Iit4YF+kyp7t08q7ztw7Ni8sLPoOmpz1GtMjGNk8ngvvcHJVqXbRFGCX2rISNf3wkU93hTGW3CcLUPvUBvl4MaU23G6n/fsI3JsIHugSd/rMyahaTy+oK4UDTCdNQK7VeugFLtWcLnkyto1BOajpnad57B2iRf3QbFZOvjYWFycY5xLdS9MHXhvrWY78dNkdqo8U8Oe8+wA6i6h+YxMg8hx5NQSnsM3mzAJvsATXyG0NvmrGC2SwhP0FD/fww1qsf/psMLXPRLTo+gwtBtIG6bdXB01Sr7G9Zk6DdCFOA5JO7LJje8O6T2uQ1XAq4UGJ2DaHfOi22fAyAQZ3kv5Ma9qUkXtH1cr1fNOV+BRxVzwlMyKzUaV+4TnAqijoSl/6O74dXChNgVljjDJS4nIXZ1hy4AKEMKSe1TlRabur9bv6bujrd0C6NtF7fW35NEL+9JGBPMFktkq6V2/0COi+9kHgXJzflqZ8tplRjwKPcILNF9O4D2xzSrsiJBOQu4HFDADv0ajVV7B/kbIh75Tx+HL6liAQAhviB14mDlu1jcIFTYkstxnkuNycKQ2sC3ws5CUMhYjUmPQ2hKamimgXg3kBeLyDt5cW2AxEJvFPi1Mq/5WEHEcaXOg69JhrIV8yabB9wu+r100BTXsdzt/U96Tu9y57SX66y00MWtwRLklD6ybHCbcu8e4GHwukfvdZfsFx8Hh5sV+NkxTUnl5ZSbewdM9A356Lwy68avQHlPSpFawghehYxw5602fCHBOvom0rYfRURiv6ZmY4QttxL6hNbrycg/Bk+LJFCLK1ud6NeZxCa6e3avKClx8KVS9SVP/rGIGkegzt+5UZg1GqvtpOuc2YWtlKwrJ41LoVdr2T3RXjX48Kz+IcFbTl0qmYXscxYQAuuWvbTvNbwXJVWcBuip4+wR0paiibt977Hnv9kgKpXoglHJ8iEFzmLgDNufsG2gdX9OohPT1dDpbl8YK0AWXLlp+A7TlqitjVefNhVdE16gbCZ8tugOwZ6FvWo08OxID0yvKg1I0Va1jLvih1w95m9n1vyUaUtLA13zF2e6Yht4P0Nwdf/0bhrGGwM9WmlAutQ6TJ8nx5PoL/dSAjS78U3TPdT6/Bl14OwDfqPuecGFfH4tmWZK26gK6DOCsempHS5MXByKHlJpfzvF4mB49RUa84w7x5naw5vFLuLSRzRZf3XlTPr4tOW/Uf4gGob3+aHLYT1tSGlFe3hsTvIWhaSIwgPyt/6t8QW1HZB/oL5x0LMAavUaZSGTQ0GJcvNuLajBffqmlph6Z//dFq1WXD70xeY/V03HrT/Cn2o0MnfgipLSf6Nm9F4R/CQAOWFOzQmhv92DWHaLSL/SyjtMbfyvw+yNjkba3g1McVS28SDKRugxpH6j83gilT9ByUpTFy/gXVmDZglRW1JHhMEpQUbnjwsDzGqP/hqUPBbQPgi0cD7QtYhX/Bq56L0ZzukyftzkRppgS76mP/q2tk2n1EhLawLpJav0Eir+kk7H58sD7RUPs7LGfVz/eXNaAVpIu1tfALIecC+mms2zRzC1SijSUKbp4y/qNtKcQjxa/MTt4GRIpwb2FD5XKmWfHqaZrJrgekzJUu+hhV0EdgBR8xHuMQuIIESfJpeXKKJNtVDdO9Zh4G256cgZnUydC5Ja+WjGUMN9ZN6hfJDe9q1Ff8+rE1XhRXd4ENUiiEJ9ghTOkp6Aiz9WgsaaaQtNjpmg6X4eszpueuxV331CDdUB7aEGitcYpfTdZwYrHyk7sKKR9zo2ODPKv/smgDr/Fl/k8GmdmYNkVhY8qUNV9h4eAKieqKNDC3vWq9HObZNeYiJKNWSe/fEqqzeJy5Minozo723/U6SgsDs50CJrQSYR0PXoFa5cbnm6/yHT0NxG5G+eRlySu3NspkZdc14FBMqux/4J6ymtFKSpMYMKz8Ndp0706ePIhFFH9q4lEmo6rpuJ4Ai6kcIdOoy2kw9WEPoktTheQD9QY1USwLGDntvHMQxV5HFaV0RvXJsjjLzM9XMTaC08jiSxds1FS2UZpdBKdBy2KcwdN9kHfgXg1nYe0h6+lVUDGCj8DOS/zKN2D9XEbZy4UnakAv1SfkfksdBn3usDGWBKRdolI/44A+t9D4+RrBnwQYUhUetZaKW4h2EG5hVvbYkJ6GnYJzfO3FvyVXlBWIikDsbVdPEIq2kpBs+Jkkw6kkWfrQybPA2GZ02jUDGXA+uWDoHCzVGfvIXcOvfHGIgMxgCIneAHAFv37lCS/ED/ZHyoNRrovL4qaCJpCdjQtZd/5VS4o/spXjqqyg0E9DjBuxMSTRXo6Z+/3Wi9kvSGga1PGZx/SR+LEFbjXjP4ZwWbSCBf8Ci9RvsOMt60g0PuJMow6V/xeTJx+R9+teFtk5uZQHpJBqkaPieVHtrpAs6JhZHab0yKtz2N7Ya268JgZojNfG5Sufv8lRNbSnIT48I/sCqBvfFQp7mtiJNZSZr7aEVcMdlzLcpW4rzYe+4UuvRKEmHekxyj0c3DL+oO5DZdNGaihdnRgcMxDh3YueuE86ZTHbfulgV0Q2CbJ2Z5FGzY9DW+Nwc3hbTa6PgYVInnntI4hSNJPLYoobTWDiyoRDOH/uUs6v37+hhgoJyaBKZ3L6+NtsaoMRiuCiMelmAKzGlevYQRWYvvPHy1Xq55nuRn64bZzV3jVa4Nt+KFgYfo+XjI0kMd3XTyvWSNIdVQ3BeZLqwuG8HmFF97r9T6lIybUgE+kGHGBupVWAqWuC6IenDt5XPGYLOO0RMkns/nf53Zx81xOx267BOYVGfZVtTmuPQKNa4+4KnsT0aiJ91NjipIVLiEWVgydNLUNvArZTO59GNdf2HgyXLS49U2q9Qig5baT/mIbmXxlSAwSFIyMYX4In3IgJ7H+jIyjLZKZHpAwJD+ld700XY/GmVkFOX9JxomvtUpRg1btDe8WXzqO2xdM0nteqIMGV6PE0/0QssC7Uo7Qf5O/x5sfC71XaKwAdlix8DU3ez3fcwpK1o5jAnEiBTY8yvk3ooZYKGWSV/4DBTnVyPiLWvLYadOfHByhaHgjyHV+e5NKfaEHOLH9GnY5EVXZSuKbSJIGyBqBCW7lklu3CoFszcJ18DWjxzXyRItoZ2CUS9pOndCiwVUtuVOYBPJ3eHVdQoGYCSFNaC//yaa9n85PZXayu32lGqyqujUITXO/kHjjbScUoWWXKKs2H2W1NlQQgOHr6cXhbhkRKvCH0xmt5FvwWJRqn1vw3CgryufgTiRUw2ck21m+Vdo+di6RGOpEYgXHJyIT86gEZMmK+vCOF+ULUaOoOHQZr0ZfGeeZmDCsnZWq2e2mNO1aVgM/91q+DU7COO4O68himaLfnkMlCKDSnI/PJHtkzUoy5UBeChpkSER2WBq8RRkUcbSa+rYxIOroBw5taHhQXBBsX2FftfxGtdHt+fTj7/N40gAUlPKDgZHfxFPE46Ko++gfUCVhkGIsGYwMHCeHQVNL3c/KAWcQsZMHfN625YJhvrZa7c+oeHgimwj5KHFZXrOSzseEKHCrPxTsXho411VQDkSfG24whY6TmnNLOI7XiCtyOB7oHe0GIFOVFYIwKU43snGeQozEHovLtkpUK8HiTY1bVNdJ86bov5AgoZutsikpQzPSxHM9ehX9oFkNVbcrCjuHutvMZ4xTLgyERmu6h8BGc8JgJVULWMj5Rr8OlgeOI1v10psfU8l2CPO0TwzY0+EFv51s7wSs52zmmMcGqFB4JkKnBoO51DLyQqSVYj0BqWmDE5yto1RVzgts+xywuSqRExqugp2kC5ekjEccbcLa71a0FfQwyBHW22exFg3h7SR7KnRb+2naJ+YgkrTyPb9VpD3MuowZ0V2GTf5q3K7HUB/ais2ZSfP8FvPlNp1zQcbq3PDvU/GvafDT3q8w7t+vva2Iiw9bqAbF8RfRM0ltNkUwv+ZpEmzKr+3vP1zRU8PAv2hWeuCUVTs/UPounpacIGH4EPevosob2B7ZEv74/Q1lM9seyN1j/OXaeUy/EnNIEhwxGpJjLk3gZx+7nzAjXtcfo8LUqsR6TM09NRcsnfGaEevjlb1YGUTC7RPcrFG3T/YzTLioQC7uNB6O9I0RiN/zIRca6Y7oWMPGjC6+QvD+XFqModeYxiOCghR0uAxh8OupNklS2AVduAPHgbyZKcp1BNFh58pFmgiFUL0EFIrjA+5EmjFPt5TwE69VdvW3dZMCdDFsVwQNPHRUQTCSsLUsklqs/5cbwv+f4P+JCQwsjfTtHW2s9O0tEP4H26/sjQ0KZW5kc3RyZWFtDWVuZG9iag0yNSAwIG9iag08PC9GaWx0ZXIvRmxhdGVEZWNvZGUvTGVuZ3RoIDUxOD4+c3RyZWFtDQp4nF2UTY+bMBCG7/wKH7eHFTA2sJEipGr3kkM/1LQ/AGyTRdoAIuSQf1/eea2t1EOiBzMzeTzxOH89vZ2mcTP5z3X257iZYZzCGm/zffXR9PEyTlkpJox+S0/67a/dkuV78vlx2+L1NA1zdjya/Nf+8ratD/P0Ncx9/JIZY/Ifa4jrOF3M05/XM5fO92X5iNc4babI2taEOOzlvnXL9+4aTa7Jz6ewvx+3x/Oe9i/i92OJRvS5pJKfQ7wtnY9rN11idiyK1hyHoc3iFP57Vx+Y0g/+vVv30HIPLQrbtDuLcuXAVrl+ATtyBa6UpQDXzBVwQ9b1F3IJPig7jemUG63Ts6b+lierQ2CMrkey1hzIqFMWjB/A9G9qMP3rA5j+jQUn/wimfw23kv61B9O/0Vz6CxxK+ovm0t+iJ2XyV5/krw70dxpP/1od6O9QX+gvqCP0F12nv8BHkj96Isk/gJN/B6Z/BQehv8BB6O/gL6n/uk5/pzXpX6G3Qn+Hnkjyh7PAX4pS3ehfIdfSv0G8pb/Df2rp77AvS3+Bs6V/hZqW/hZulv6Nxqfzo3Xo32CPlv4WDjb5oz+W/hb7svS3Gp/8cTYs+19pzdR/xLiC+4KPS+dfOfUfuY7+lXLqfw9O57/T4UpThDHDffA5v/6+rvvo6qWhM4tpHaf4ea8s84Is/fwFpSMTbg0KZW5kc3RyZWFtDWVuZG9iag0yNyAwIG9iag08PC9Bc2NlbnQgNzI0L0NhcEhlaWdodCA3MjQvRGVzY2VudCAtMjY5L0ZsYWdzIDQvRm9udEJCb3hbLTM4IC0yNjkgOTk2IDcyNF0vRm9udEZpbGUgMjMgMCBSL0ZvbnROYW1lL0RUR1pUTitDYWlyb0ZvbnQtMS0wL0l0YWxpY0FuZ2xlIDAvU3RlbUggODAvU3RlbVYgODAvVHlwZS9Gb250RGVzY3JpcHRvcj4+DWVuZG9iag0zMyAwIG9iag08PC9GaWx0ZXIvRmxhdGVEZWNvZGUvTGVuZ3RoIDI4MTcvTGVuZ3RoMSA0MDI0Pj5zdHJlYW0NCnicjRcNdBTF+ZuZ3dvN/yWEkB/w9lySNLn8QEQISUwuyV1ADkIgAe4A9S6XQECRKBihQZonL4qHxKv6iNVWUVGRVN0Lxl6sQlBR36u2Vmten6AFpMizojwrWAq57TebIxLr6+t8NzPf38z3M9/uzgEBgFjoAgaKf52vHSae3QpAvMit8XdsVPLfutiN9B4AUVjVvnrduWlv3QZg2ot00upbNq/a1/3CIdT9LfaX21p9LYdfWNkKEBdGemYbMpIK6WGkzyI9tW3dxk1yJ/wZID4VafmW9X4fLIcSpCcjbVrn29ROnOJzSE9FWmm/vbV9a9Ih3C/eAcBuA8qdFRHQWwnK7VeZJD/yRMHPINYk+hmjmTGS4CeQIeeVptvqzd9VLBipqDefr1hgHqmAqoqRCt6nT7MmW5OzcSAgwCWFDV2yi3ARFGEIuImP6BH2IsSBdRAYedmeGCNBZoIpIz7hGyvf1lZ/0nwKqhacmT6NpJrUq3OunTHzmpI0emS495Hh4Ud6h2n16DwMvFH0lrdUY2+AGWhTwVlAQM5Zous4gq6bIaphgsToSoMj3gDTxflgwT6ZPQxZAPrxaD8Z8ehnxJtBjazVj+Ym8VOI9tHmg2y4EfJgHryBJg6QfGiAIf0D8IOb3gmFyH8AfgdD8Bk4oAXtZZItoOi/hvshB7bBbpgtZOoDMB9Oy0mQBlOhjKxH7ybCanicHIXrwYV7lMMcuA9ux3ER8r8npSghWFM3oPWH4TE4AH+Ev0EG7lgEw0Qi3+u/h1poRB86YRA+E2vEHTABfgnPwfNwCP5Oisge8iX7Wh/Q39P/gavyYDrMhBXQjPAgPIl6z8EfqMqe1jP1Tn2v/i5MRu/7MOpDcBhtnScKWUr89Fm2OfJv/Va9D/MQjz6j9wjVGE09bIRnUHMYLpIYhLupQquoP5KsT8K6suDp2NC/JbAOtsJ22IlRPApPwEtwmlSRNvI++Zom0C56UGyQ6qX6mIMjH+tz9PNoIx6s6O0yuBk24coH4SHYhSufRFtvIZyFETKTlJNKcj1ZTB4g95BnyL+ojR6hF1kiS2IFzMO8bAs7wS7I4sjCSG/kA71B34S5JJjzWDzJWoyzCVZCO2yAO2ELPrXboQchiNnrQ9AwnwcR3oRP4XOEU3AaviKUiBhjLMlHmIZQTuxkHllCbiKryQbSS14hYXKAHCZfku/oDDqTzqYL6WK6mrbTjTRINRqiB+lJ+k/0sow52Qb2C9bH3mDvsg/ZJ1jC8wSfsEa4Q3hY0ISPhbPCd0IEn1AVoUj0ibtHnoq4Iiv0HL1cb9Z36kGE05jjqzCaHMjFeBrwVP2wCiunHeE2hM2Yu26MaBc8jrnj2XsFwvAaVukbeL5vwwfwCcb3KZyA7+ECJofHN5FYSSGZjvm9jsxBWI7n1EG2kC7SQx7FPIfIAMIQOYpRRjDCpdRDb6QddAvdSXvpY3SQDtFhPAmdmfAk0tkc5mLL2Ap2I9vIdrFH2K/Y4+wJFmZD7G2BCmVCg3C7sE0ICk8JLwnvCB8JR8VpYrkYQNDEAfF18ZQpxZRlmmFqNIUlk7xZ/kKOwH54B0IwAD9qZDsxkxC8QL5gAuui71E3jaPD5G7hTyQXT6AC3289cCt8ix5OIR/SWWQZ85PlmL+7ySqyAn7DJrOn2Dx4T7yVNLIG0gKNQi9cEt8Enxig/YyKATZCLtA+aIMeevPI87qHJEIj2UOfxYq5CyogT8iEYTpbGCTZNI8elF4kYaiUTGw2K5OTkNrDPkc3G+Uk8iX42Al8fo7js7WYPovvhFPkqLQQvRthL6HOXVBJ9kSS4XnRQ71kMt1D5o9sG/kre0x/gmTQEwAjySPVtBYrbom+jx6Ab6A3ckE4BgfoEViCbw2/8eR8i8/enfimWQqXaAI+T434Hmm3V1VVXldRXja7dNa1M64pmT6tuKiwwJaf97PcnOyp6tVWxXLVlMlZmRnpk9Impk5ISTYnJSbEx8XGyJJJFBh+JAqcap1X0XK8mpCjzp1byGnVhwzfFQyvpiCrbryOpngNNWW8ph01V/1I0z6qaR/TJGalAioKCxSnqmjvO1QlTJYvciO+06F6FO2MgS8wcCHHIBKQsFpxheJMb3MoGvEqTq2uoy3g9Dpwv1BcbK1a2xpbWACh2DhE4xDTJqntITKpkhgIneQsC1GQE9ArLVN1OLUM1cFd0Fi209eiNSxyOx1ZVqunsEAjtX61WQO1RkuyGSpQa5jRTLWaZJhR1vBwYIcSKhgK3B82Q7PXFt+itvhWujXm83AbyTa069Am/fxk+g8kbp5S6773SmkWCzjT1yicDATuVbTdi9xXSq189HhwD1xLs+u8gTo0fT9m0dWooDXa7XFrpBtNKjwSHtVofK2qk3O8axUtRq1R2wJrvXg2mQENFm+29mdm2gf1Y5DpVAJNbtWqVWWpHp9jcigVAos378+wKxnjJYUFIXPyaGJDiUlRJD7hSqR1TGZghjrHXIvHMku4R+r1WBGa4lfQE7eKMZXyobUUAv5SVMPmIbhKa8ETWaPF1HoD5jLO5+s1MdusKoFzgBWgnvlqPMcX5ZiyzeeAo7xOxmoN5ZdxzWbT8vN5iUi1eKboY6VBX1tY0BGm1Wq7WcEJ0wcNmFufp6wY02+18gPeEbZDMxJa1yL3KK1Ac1Y/2IttHo16uWTosmTiEi7puiwZW+5VsZJfNm41EzU5Z+yXZE6b4Gwr00ja/xC3jspdjapr0XK34gx4o7l1NY2jRuWlY7Iopk2odbMsGsVoFjOkWJQrx5Q54Y7XhGz8mYyibglLMlalwSFKnWb2zh0dPbFW6/+5KKyf5auM6YdlUTe1Mtt4unwcPc69+ABDh4Uc6mpaHgjEXikbvSnSLphXmvTmTUkV5+QpsvE1eXrua+V87p//l+O6HqnEL08cknHRm6WxTo6LVOK4NNJ3qUjeOCa53KjwPqzG++9axEvwfh61hV9oMXorNUMx2BE7I/IbJ1RPhBSai5BDc2A9SUP9m4xxoTFWGWMxH2lxf7HFEqZF/bv5VNA/JQ+nqfa445mW6bkplopcTk+yl9+SZzm2L8NyHHtfbolle0WJZRv2YuwdSHO93H15lvW569etv2f9vcIsSEtDT1KSZXuYfP7KktSY1JhZwTA5aJ8tBV+Xgvul4Gop2CIFl0nBOik4UwoWSUGbFMyWglOlVDlFNsuJcrwcK8uySRZkKoOcGtaP2W08+FSTcTM3CXwUDNxM+Ri9n1MiU7xJaxOYi7oaa7RSmyss6Yu1WTaXJjWscIcI6fEgV6PbwwSa3GGic1Z3Fn9DDgIhevfOrOjs8RCXNuQHV7OinW9UwyQWi0JUa4iW4gJXU006pHVUpVelVCbPrnP8xOCNjrYfWrrtyuZq2PwaWMgd/KJLNu6XLA9JnNuI3KDBDXJu0OCmT9F2uRrd2r4pHq2EI/oUD9lfPWDv5O9cr+psxe7VdnS0pWtdzYoSsg9EX8Y53mZ/G599rdqA2urQ7KpDCVV3/oS4k4urVUcIOp1N7lCnvdXRX22vdqo+h2cQ6klzKL9nnLn7LpsbhHzS/N87hkkz3zKfW6zv+QmLPVxczy32cIs93GK9vd6w6FzTWENcDe6QDDUefNCNeT+Ni8Wj8mZZPTVp5vZK49zKrelbs17Fv3B7IQ7fe/H4DU3AzkWF1YXVXIQFw0WJ/PMaFaVvLbdmvUr2RkVmZCerNWC7w/ajtoE3SHeucfCOngzqQ7SrP8VSYvNg2f0Hd3Ebrg0KZW5kc3RyZWFtDWVuZG9iag0zNSAwIG9iag08PC9GaWx0ZXIvRmxhdGVEZWNvZGUvTGVuZ3RoIDIyMT4+c3RyZWFtDQp4nF2QwWrDMAyG734KHbtDcdNzCIz2kkO7sWwP4FhyamhkoziHvP0cJ3QwgQ3S/3/mt/SlvbbsE+hPCbajBM4zCk1hFkvQ0+BZVWdAb9PelduOJiqd4W6ZEo0tu6DqGvRXFqckCxzeMfT0pgBAfwiSeB7g8HPptlE3x/ikkTjBSTUNILn83M3EuxkJdIGPLWbdp+WYsT/H9xIJzqWvtkg2IE3RWBLDA6n6lKuB2uVqFDH+03eqd/ZhpLirzY3Fvc9Xbv3kK5SdRXKesokSZI3gmV7LiiGuVDm/c75xNQ0KZW5kc3RyZWFtDWVuZG9iag0zNyAwIG9iag08PC9Bc2NlbnQgMTAwNS9DYXBIZWlnaHQgMTAwNS9EZXNjZW50IC0yMTkvRmxhZ3MgNC9Gb250QkJveFswIC0yMTkgMTExMiAxMDA1XS9Gb250RmFtaWx5KExIQVpMSCtTeW1ib2xNVCkvRm9udEZpbGUyIDMzIDAgUi9Gb250TmFtZS9XTFpOS0grTEhBWkxIK1N5bWJvbE1UL0l0YWxpY0FuZ2xlIDAvU3RlbUggODAvU3RlbVYgODAvVHlwZS9Gb250RGVzY3JpcHRvcj4+DWVuZG9iag0zOCAwIG9iag08PC9CYXNlRm9udC9XTFpOS0grTEhBWkxIK1N5bWJvbE1UL0NJRFN5c3RlbUluZm88PC9PcmRlcmluZyhJZGVudGl0eSkvUmVnaXN0cnkoQWRvYmUpL1N1cHBsZW1lbnQgMD4+L0ZvbnREZXNjcmlwdG9yIDM3IDAgUi9TdWJ0eXBlL0NJREZvbnRUeXBlMi9UeXBlL0ZvbnQvV1swWzYwMCA0NTldXT4+DWVuZG9iag01MCAwIG9iag08PC9GaWx0ZXIvRmxhdGVEZWNvZGUvTGVuZ3RoIDg1MTAvTGVuZ3RoMSAxMDQyL0xlbmd0aDIgNzkxMC9MZW5ndGgzIDUzMj4+c3RyZWFtDQp4nO3TVVgc3aKgYdzdpQkEJ0Bowd3dJWgILsEbd3d3CRKCuwR3D+6W4AkOgeAOJ+wz+2efuZmLuZtnqm76W7169Vu1quheS9rZOqm725uCWEFvQVRihpZQu+chVk5WIBXoLRANBKIysTR2ojIyNbe0RWN7/k7R0MaUiu1/TjUxNUNjUza0/O/FqP7XwL8XpwK9tIKhE9TSjUoX+BYIBP2d+Pf896f3VFBTQxM7W2v3l+mionZuVJ6sEDAVK5iTh4qLh4OKC8RB9X88vP+3tSRsje1MLG3NqcAcnFSGUKihO9rfC/xbHFSeICpLWxNTNypTN2MLKra3tnZOf39CZe/s5E1lZgdFM3G2/zuTzRz0PPSvAv8t8D8F+VuQf4r9b7H/Uxx/i+Of4vxbnP8U19/i+qe4/xb3P8Xzt3j+KRDw+e+BL/0vzosH9AwCvYhAzyTQiwn0jAK9qEDPLNCLC/QMA73IQM800IsN9IwDvehAzzzQiw/87AO/+MDPPvB/3K9/3bAXH/jZB37xgZ994Bcf+NkHfvGBn33gFx/42Qd+8YGffeAXH/jZB37xQZ59kBcf5NkHefFBnn2Q/9jRf23piw/y7IO8+CDPPsiLD/Lsg7z4IM8+yIsP8uyDvPggzz7Ii4/92cf+4mN/9rG/+NiffewvPvZnH/t/PHP/euhefOzPPvb/9v2P18DYGQo1tXX61xttamvy7zaztDalMjV1MzVGuwk8hkk93Oa8k035pkBfFkTyweZWlqgot8ezQwj3XWVh2hrEhqrOvAbLFxJk9s6UX2cghUF7BtG6/SspermhXJrcRS54WcQ/QRxI0GK86ofJw2y3D2fq1ErH8eBZD4nl6CQsjsljfCiVMcdwU/01aXDWP1/t+/Zy8pResn8qhvRLpeAGFQ+2zXc7l+WTDYZV/YR0ZA+Ybi9Mh1+2uln6/bHjPzQdMz6KEsw2ZllLT7vJGfRSgfk9xlbW2JcC+csxTlCv0i2nCPKAM9CtIbfCj6NBvx41NC9pUd59xn8qhU0XV9RT5rxyPsgv6I9aNZswkMsYfu0mhsvQlPvkMw8p1EMwQLu4cJQG4dEBSgCiFrjDPslGQvpM85IXRGoVrNk47XStuM60x0PFcmtSDmW1ePW1llojAj86DJSEtJV0IHNx8pRvr28E+T9CaTPMjfP70KR0vtPXrv3W+4S2bA/sMwF+4NpYLRlQV75uGw/ZrMQdxhG1NdMTWCw87d3b4qvTnP3gpmzrTzwo7Z1+PkiCiDIDvuJiXirwLnT48vF0PyhhnmLo1W/H61LTzm8xHAGeGDXTjsSnuVb3o63tfpTQ9P3EQR9z5p9c7sL4DsbMN8Lc2W6rHRGdW7NZGP0MnFZMNAs+jGGGRnBdd/6JJ6+MzA6Xtd+5iC/gNR9lqIjOHPEDRtaoRrqLo3AqUOemfHsSVYQwHCSyeO/mgm2MyZVRypkdXF3fb09A5OdLz58QsL9TzhgBlT83f5cf+Dic4OadyOV2QZ3I83iPXeJWAoi0a/qgaUcuUgYI042QkuWR4MCeDlR29hqL4PthOZqvD+XpWw8R+rmjOLd+RMkOBlW2VixC2ZgaIFCQT0Pf5xqTLJ24Ku7UunyFvJZMVIpSdwYeZsuT2xpMwo39kzDb3o9MCSw5R+j0Wx/3mYgGVGaxUV7vOxKsAVe+699G9/iSNI7iuBRZQwo04eD1cIviLPyv43pH8o8MQ6ECPCI+Wj2UiTHz2jSomX+w9BUW+gyVhHeCsqeN0mSDrS/50OF5aKT45EhugjjMDsj3xny3J2kjfIl/UbSlI9bjhorscDvWDdiZNZs2fBZzSpOLkO0MDzl6PU/e1DfEPaI9pd5Xxkff0Hm1ULRyInuDSgsfHanrRYcYRicjlvzTifWS/6dub4O9Xxy6XOb1ZsEAazy5TAR8HhU3OrunFw7quU5WjBrtYYcLHJcK0/e9E+obtoFmqD6MdT0WrkcnUlhUMOFFaktx29M6sTiCPInIIyZpJ+oFlOdE6UdrRU1cOX0dGozSLnTmE2fqxscxiT+pk0I5js0+UQy2fmwTwmDbYQaONEvCFES6SlUVt1UGMzddS567wPOCoCmOprWVWmO3YrI5f1VWpN2Ci89RYSP1O5kAzyeSCfcMTrT58BL4ekm/X/Zt2Slxcqx05/ZhgpJKROnp8pmmHEQpfmyDzq9yruEHxG3UngyJvlS7xxVtt0jv+i2nc3969bPcsvuDR9tUf6qD6MFxOfpowlsjgXyyOz/LTwFdcnUG+PK/G1I+NagkP9VCwneLDYesfXl2CEi7AabhmVmNmKkD6BXwQUrdEj2y22qTiFnz27pG7DIIs7dNeVzeRyuxr2LAPj5J9wqU8k7U+hwRJJ2K+rWQT2oEdmE+NSZfI5jrvMtKh8fvDaZIF7fGvmGgUscgdEqRt2701mWPOsgRCS0Ly0Y8kiJHS8rgyTZnR11qURxJnQo+MnnUcWJ7JZ4SX6uU/PyW96e5svxymnZCQj6yOuSbMyGGaMVeBENrJamOR1G1/T7+b7cThAzrzIVIs3dApFEbweujyylhjylMnr6ynieettxb1frYsy8r615yHF3W6fYWVpRtY7VJD0oOrj0ioS783J7VWDibWyl7OhjFEmi/rwZPeGCRQ8LaYFnxpRtEa4/UDoqVokU6UIJNGmttOAE0JX5PxocHhhPMl/C6bNsBOnfwtTkEjHWXdMGXxC6TPdMW7PskYQdzzCqY3cJuB92kiCrh97FRnxZdQwAirwwSF5i2AuucFdy89T8y/tpclYFl95JHSTfNxLXnEvYDpqDAh54OL3u8nRq1/aO/zfnFZYpsuXgZCzUYTxmlVypyIdgvJbgwfr4He6k+6yK+il9x2iQYbGWV6+z+A3TPLiqHysREkF6ft26vkzEvyakRZc9WTihs43oUuDpB6YvC8Cl2SbBNjFACyZ1T5zgPit3oSShLm9EhgBzl8ZlKh2Xup+XRDjtzcxMkK2kiMVSM+eZIgxX+jsS8xJuZgJHnmx3BsE0Q05UxJBmHNIFWCKTouP2aPEtAHKc+Om+b3WC2Dv8umfXYVNB3RYUJ+tW/awjjIVsT0JttGZlcYFQKf46b0GUf2QHU3H391bc6aUIm2jUa5ErvGh67lvAz4F0CA2dP9wWMjBAC9q5u6vjxmhLjH1mn+aDDnp+F5SFcHtHC5JHzLf18K4NVKMOWR2/beOfSelKZHkxbvt1I5rOUjRMmLUXsPH0KxtXWzq4JoUzsw/j1OfoiE6DmQjxDtq9aREczvlSQJzQdvxsioyFTHibahUVy/+6gjWFrLrlQ51S1386/kBAScviUHvyDYSDOUs3FpMjkPYuCbols7hALiOPQJv++DxjzWJKPC51a9MMzaV6UXDWjGU4iNZWP5iJwIlYg5V1GibT0N8/MoExAbcmc2fPQsQ+BhLtc2rN8iqtOxNZixUzAGI2L/sp1ie2PVYWGzu/IGGGvh/IDLzlV2ucg/jcpfS0mH1wiQ6xqjmqtveyUkRkC/FpjTE9Jxbcvn9JKvX/TCsgPSroZkSAea0rfKD+WI8AjbNgyiCzIoOlQmK6tNWM5+0pEpnh0ql+/wsSU3jEhglaNMbBX/04g9kLuyeQf0V8w0RNCbpnJu+28bJ4mPxBthsJiMlRhy8sKkmgJVYfHfqq09KD+UOFoKT0W3LNUlVyZe6Oky0nYSGCmFmvnr9GSIeiHMixxVj3lyPLhSW9wZkx2NWEanqHXp0wK9VSZdz4i4DR8rnsn4je9Q/hTm93k+KENn5AqL2XfzesSXn4MJN3ESrJvDm2//ZwMV1sAH3IJVhfgOs/9GW+VAvyEStDE3nPby1YG6r/jgoeZGz4oVkDPp/QIG5i/zs7DP3WIA476sym6vqrDm7e69NYEziUye+l6rtfbDZqk6oomB84+klRhct2ioAf/oqWGJX9106OjluYNWDVZA8duDCRoBf12tJU6ns0T3vhCzBA9oYOAlAqrZ3XuhdhaHRd2HhyOEIy878OGCODAascKi4PIAk+rXcOjQdz+JQ0TyN/FsSq3iAOXmBd+hRqOnES4oy39QAy6aQAiwrZGeH0LhHUY3IoArvCMcJVgLqocq3E2Kx5kSS3bSAyzSvbY8AcCM71DFeQ1XR8/qI51uMTqWX/V5RfHxTeI5nnjZokosl9FCfNH4uNEHVQiPinHBC3tjY8P/XzDlxEmEhfNWOgey6WBwamatTN+Tt9mjoxjaRFqupZMpeI40YpMq3xMi+efCEkx5CSrzHmzvYIBy32Ckc37BHNF8nIB3bWpLyk+0coyAOw8Zd6t8E+NJaBNJi6e+IiQ0PwRv8/1nrCzdJHxJv1BdX0sUNsdUhuiPlwfc4Fb7hniuZ962H5DZYIzF16Zj9SoOnt2pJeW8ZIF7EwIJ3QBKfnzief6xLqtYto4JYcTI2VRjOc2xjbdA9aaGYLuh2nvV1BgjfUhSGiURkFjBd4GRymiK+OsWv5gGPcLvMlPr9dNunKDYI4MI96INRAu30nqEpMkv+4oRb9AdCjvax/4eNXei3iAtaWh2llV7OccEK5RGrjCybDOQcoSE4GBrM1gTDZmFazhHCOpcinobmoo/H0/YiCSPV+NYwLvvTKDD1mEvH4NDidXwxKOClPC8vApzfW8Y7nT93lc5RsFc9JrI2LqPmd9LIar97SdjoCcNY1HUZVY9eLeZBi4A9nKS+p0t8eh7qQDrfYkqeXP7OvDWZjl2Laiozb+/NWfUa8egd1I108+D37MkC2C+tVHErmt76/lMgMcygewsw/IcfHMQ3rtFi6+b/gN0nnwjuIGq8VXR1E6fdzgNFqLrSTeEPiWH4foIXLmcv9GjZveNvvhHJmVxeKoxtzaY9jH6eaay/GqJvc+c6xnpNZ77cTagTR8Kjn9aYX/ZK35eq7UBjNSxGbGxjV7ui3EZKOdDx2rgwre+7WQZ2RgfcQUcOjLZoiWSt/ep262vquzvXYC5DPNvCM6GmNOyz8hdphZbm/CAXJbdqn1Sx0LtuGikftjOD9dOLiRGnBsGdPo+EcrJOVDdENGGCB+cA/jTcwWScRvlU+9S+eI/GkwDmd6z+Cm8y+5c3bup5/sXCqW5fp95ALUP0si7QF7UgcruzNI+OQ2DAq+3gzTABw+v/9JsDqR8loBHHKdVIWmEYD5SsEpOavodoan9GjRQBrnotFUc7FcNC6YZkIAj+SiqXj5yTjAqRzRVrNFxFfcU53aXyMUwyqNdGuTtOV+TMZyaqx+wN8GQYCnmMdXp4s4Od39Xh959g0abqUzvV3wx9p9EQ6WyiubBdamwqwK1mVkg1yCMDFb0yq7paRHmZk/xumWl5pQo2I4Qi5ViXmSVwGM5lJbZ6qpni7HPP3r9Z7mS0aBwr+uaCFNTsdCHi4IC2t7Z/aaYnL8q0239xVhZ4jxHAmzpzHnbJ863XyznNIecB7iEb2OeVtXqYT4bei93+PUhIkrr2a9ruXW0CxswKwBuYHWp9J/9zS+n3KNlZ4ZrDAPvkMis+EbpLMTjsmV6xiZ5QLofk2ofsMxvw2DNWd4Np1nOKFWwPR1qWVTFU+pIiyIAONGxHvrk8ZZ0QYhmSKx5iri3MPGaa/y+YN/ngfhLkXqx7DjQGyyoGVwW0e24DKn4Bt4i2Xat7+qGscNc2tbiydDmMfNvjiGm5HPZ/bnU1TNKri+9lcdxwfUts3pZK/WEa+40w8fktxNNSYWctXSA/I8tbZOT7W2m8k+oyRWpHHkl+Bwjdx9nUFqLSzIbPXUyT0+uhg49ixedYG/2/OSP0JIVPrWB3QxafBRYEt3CvqTYhBcoVx5jSyVnCiLzn/kp67vN1ER+1OGNkmund++Tt/0gU13X8gBvU+BMrhRp+TOeH8G6yJWdGtK4oDYXJ89ReJeTNKm50ILLVuVSf/dCaZoz6h5juubtz9+WV1JJc/0aQtJfwpl2364oKt4xUHz1JYxoqtkEc3Z+Ma9KXMqZtRD3q2ejxrZQcwgIk+x9T1LDOxTTWIwVnb34dqV/HyGYG0M5S/cU92izlDo6IJLsnxXeqU4Ecw2YPOd6oJ4As1DloVL1gdBeKaMsvqcGQaSG1bomjqcIH6/NVxkhEHR5t7uq1cLmmXpBN5byEVM8AdPRRqqgKOHdnwkm9Hb99vlFNsxxIVs283dc5PGDs7gkt8yNAoPF13RhBI9ek9VhDZDaWhtKJI2818ieUAZiZROI/rLpxtrS9JrQbmtknQeBTFt2izRjNXbsIHe6vxwBWBD+lHV+jzveHaqpzxs7f4vjxg6DaxD4w8mWqAhNuVdR6INwOV+1dWuPikiOyUQ/VCwhxy0K1qG4d0lNjp8SkkplrVZmT2ud9zwnXTdp0n62oPjR9tXeyIh67gk84KOkMyD0FUcu7HKAefh6K36DLfY3oze8s6RCAeOsRKM7jcWs7oRc61RMJ7qxWX8UFjsRzsnPoLeIeCqp+5xw/sF/s6jp7VtDAvfz7FeE1+COvM8phQL2/idHFGGING7ctS2sI8cl99eVzLsoia95Z+I8CNJo7JtdJuNRlhHICccjTgnr426zsNgRqXBImuXWefTs4erU/66Yt4vis94hNAriLG0vsCi1SgR7wovVGAIBOkUfym/DFjZiy+PhPOjJtJjBFNdXdqV6bRUCteI53OcJ+0n41iazGJhYwHI4Qcs4L2XBdocN04BI350H6m9c7voa50Vv+KJbWJRKpP72aeKrkS+17sss/aTUro5XPyOdg0IbEb1wpLeLmIW/NleRbnYmE6JRYkgI8JdlszIz6I/VhtrCe8RENNrtGrbsUygWxjOZgUlp4y7mnXxlLE3Gx1Tcy4ZC3WvxhfdPlPoZXhD4pTkzCD7lGyfrbiTtH/bkzbEip3Ky12XG1RUPd72Lr+zHkWrMxOPxav5aERHiiyYX7FcPbmTYjQm/41dWcA73MHCx5ooRrkL+wiyio6M/D9p4V46lyoIQsVk8YTm1ckXeittUZ//pFXES7M3fnxTZ6LRayEijBkF0rgtvpHOXYZllE6MN16N5RgUw0PGPEtVPSTaoVc/W+5ScD64+6Hg7ETRRqgxSNgAjPjxUw1FatJBNRmpjg7OolguTpCa5nUAIGuGCNvP2n4ORfOVUV9qcX+34xIBW5xq+6VKuw4Bph8+vVU1vI1srUoRuuNY5RcBlkVFa5IvJNlFCQEmyEiuHgLpPFSlKdsK63M7MyZPerBkjtUp3F4f9r1jBWXPw45WTqXtZ2OuiJT3yIRnPQjIjSuTSrqkmcerOCk020r/GNmyYUT+WKtLV2gSl1Re7d5QHI8AAAfxP+5+/DpV13NRRlJi67b3gdVE7qbjqd4pFPls/NDAFBQqq1GMCIjMNee6WOM6D6qMGUCDRYmVc4TKxJuqZ/3JSFT7szBgfRpm2OiShoBQUNzznsJHano2dqpUzhC2oZ8V6wfzUB0Z+AHOMTRbh1dLvliabv3x9YOzETyHPVlxcD7ydl/XAj49rbC4R8UkqLMmwqymEfOkmmsYrZ52ePjRAl4cbcTJoeUTBv1Wm0WOx3zD1kn6US178t2mUne3nrUzwG8RNZQ8d9zIm7ZnmVQFDZ2yC2AdYFKbhGd7rr5In9/TjUtYXVI92Mri90UrpIiYA9M5vpSNOOVzHDh0uDX9zv7tyKLD0Ywuyg8aRESA8YKft1LSN9LcIgsyrhnueANnJ0r10BaHw3dWmSM3eev8xdoARgErFji7ulI4n2ALopAfnEdrB8cQ94+8lOUNdQV3pX1g5TeiwwgI7FLKneHacqZq2Hvkk4yav5Do1EjIPLcaj5MQL2K769O2WV8ZS8iz0kRpaFFI4q3pft3tmOI4pnZ/3fZNoNP1Qm+06uuSXcfbB5t3lcQdzhvSsGA5xj8YnsBQO96+IyqwfTNmOHvK+9/YjIGQdYIJw2ZnabY7PA8m9jCd8jF0G/pszh+uqkuTdw60lZ8XR8b6gmQ8eeG+a6j1KNlK6I9kcO7VBTlvtqBOcknIJBPBGZ8cuadstu3h1v30DczKmc8wca3W+NTEuF54x13o+EpiFjcR0b5+rk5X0moSYYAkezAfCH6QcKj/jjfjvCk3oFh5weq3c3v3Bhl+t0jKzzxfXe2oH7FQUdZUVPCHhqwLLEsrS5QONpJu5+AZwtG+Mqo+Bes4tnxk6aJ0VNY580Or4CExnZevHDn/RL6BKgd7jDmFrTAkHeOOGUuyqXCpNbr/FLF+ZjvS7bQAMtj91Hu4og6jT17SR7Y0xqWylJk/bDRdnTHNTdKlVTvNXkn4KkNYt2zoG0ocOUVErDxW84pHGw6fKnbsSCDWfPoQH8ZTTFosTm/hdHp1PZQhFHtmSsNOFFsnzhL5Ipex/UfUVZxndieSJx4OzzCwgD+liLamHwOiD3p/zNnQXyE+HR+8vCORNzPlsyqu4hneCHeV7ljZ7Z7KpTjkhYQ8iRFyIj1AN9MRNN1RWb3xsMm9wGeWHO+LinRRmyhkEKgnUjQ5Gm2mH/Q4Vqkl2mOsXKMBJFDzdIBBjHeRXBUx1ardil8z6T6Vg9HAkmopWMVlxeWAxsagkJ/7TOYqm5/18rS3tZTQ3CMHKYVxts+X8p1K8PErn3v9NuO7ZKo/I9lyHrRv3VdRXGDHe+ezIuu9pXJX1f3T1Si2iLKtn+GiO9Iq2Aq/4vDLF5axyCGSlF12lOLAESrJ3fZLcVa+QPZGALAbUxu6ul41tvpUd0uvzYiT3Cap+4P6rYdOaPDuvowT6xqcDs6O+Z4i9p94DS4zpFn00XZVOiy3QA1Ye64Y9isHXmqLN073Fi1CqxUycfrQbPA53EnargDVd5s9asMjcirEJzhNjKrT24q9cA75m7ScTNSh3XaKoyU90slG5aDWuwIR5jfbg1Go8BD6ljsM9Q/1B5e8upDZjHaxNZZfsEgk6/4JuaimiYMyt2Hh4U1QWUp3FqOQFu0P3Z3dv3/VoLeICPpcBGkRCuDpcaNR3N/kMKKJWPed5mLcEh11dW4oOMifX7e6yW3Ccc9H3LXKpoROvfdi8UyUB4oymH8T8p7/vTmyM63ka4wZD9YBbQTTXkdxFNuiwHOz1P7IQUXpyN8PYNsRKjjGt7WYbbrwqQY+jGAjWw3kxIveDDQiIoV1Xpdd2I/0MB0nFRDTUcE241JVzBYNBLE4QEOVft5o5Q1626H4GuL6pjgQfi1450VUYV/jmfH4Nn8yG3t7lKDlHbdFrwfFFVPg3MJa+NDmfDVc1LbfQ7RCEr12ekqLLcAMFtxMJucgKrg+P3gr+F3c9zjIK/zvrpjm2uhuSL+dihzag28Dc1FVa9GiysAgWJhfY5kUPUw3mHfdJmPXtW9LwPNOqeOrN3Q6oSCiHUOXKVw29GFQdg/8X2FaFUNfrQ/4i4/CXuKe5fcDqJT36OEgPuZIIyO/c820Ne1tjL4GbuTuWXvvKKHEw7REa78rtrotAzCqxOw0ve6daIMNUTlFaMZGZahEhucXzUTJK6Hfr+5HKwWXqBxVBjV9cnxbopdTVyWIRZynC0R8qCL6xR+sGh+LzUeQmVKty0FakM6TF1lOGIB4ZpifWWCLloLq0in6kf+3WK/FT4mFsXEtvZrJaJWRld0ATGoU45DZT3YMU0Y5m3mko5unVw+X8TsOWDRwoV8XyGwPxIr29oipwfc5tvbHuwVpFLQ3thhBgVeZReQhKbHDZofTcNkSqsFNq4RRzWFzftPBG/Cn+pSiT0Yws7T6eBMtUN4COmnkkwsYdBIcnpGEg311XXkX4VsTIuXdpvaqnBFnSy/6QRvKgPImaWyaGaFWlyvdGMDJPq/rV2spD7TiHFM2hm+o6FTlOHxlly6LCPyDxlgCHTuSDfYXPQ4ksbCmPu+WD37/wFc9OKf+Op+Ftr0H9AVJLUQv0h71GCeatRJKamhdT1mxRBoQNjB8Ngtb5aVPZsNA/e4IyOeMW+2GBiQ7EL1PWiuopsdKpPfYadtg1PLhIDYF9aIpwEcrdjU3N2g66/GVZ+dHAFzjM0ZyRosUL6BQT3Tr13YSSlVJ84bUflLD6JF8sa5OCysURwHDumwD4akq339RGN/+Geucm/c3BnjzdE3RQvvticUkD3EzpQeFSBqC86YnaAplE8MwvDu1+1oePLcNnuw+cNocjCAhHXNu8sHUjNkwJ/6++qMg+iooIYbfty/YitX2nYoNL/f52cQUzy8xt9Idl2wY2fUjlAHzsR5gyxMsQ2RFQcSZLR/QNb/sNQwG+6noRFVQtwMt4YjZdC4HAfNapV962nqDa6eQvrS4Tn7Kx0XCJj7BKRaFFvcgg6B71yTY9DZZaSQ4h/WbxTT1lNvAReGTZa1cSIIzewMratAHN4mSL5xyvpUHe/Y0yzBJACu6QBi3YYuEYpKJgBjeyFjJa8bhRhBj3Z0jtad91VadfHdKGWqlZ2+FQYm41EeAQUgjyMBaGTb+lMphLTdm9ly4QPTHiOOHK2vfMfjXAQzdlMy+Vy1h27NM7jnOMbYXPeyz9MstqEU4NkMZ3D3wC9B1kY0Qi9Xp3wpW7S1GjkvfeCb99pZAadyud90DA4AuAdJ6HjJmH3cGRJlpn5r8Udtbigcjnw8dzaK7bAnyfacTrg6qfFq+SHHq5jg1xdIApwiskQrVjrbEEk9UAmlK4WOuxg7xcileIuOAVZPc2oizNdRfsdKhm40NMyP+/Ec9Cehn/GSdGQWVjId+2TlTPXXaMWIInjnQ+5+wKF3J6apJGVN++IVvhek1nCdL/ihoyWg6dvhgF0OQxvIStWC0hyfsibt/aW6+wda/0R5Mzwp11fFLUTiqZrqJ/xX0OdX0DxDgC49xBEegBMvoKCpBmPTwtP8FfnWCksPAxhPXSDLn9jFN3FlphzkUD4fj41s7W82He4XvMkzzw9ZnAr6Ye1Nv1ntw3mRdSg2SitKwjtO3mvjiLo0FmJgEXFYhHjmlqbbkLiMsO1oh2Hyoaasc2100c4cxQzg7K5lwtg7ptfZ6uuASxG9E1ZfCJeAK5hmQNSiJCefdEELXuuSdwBeGwQ6VRLBizUWigtP2EfGRf8QSt+j3G9hVxgINbS0eG2boaiHMiM5h2zfX2XeMY3TNpXRkSzhlpYUIMM1chW/Johl38Sh+ZQkaI+/JAnLWvIcd2OS3a6FH5NaPV5V479UDTD7sGZ1dwXlc9rAbepWwhF14SHKeZCnQvK2AOvvZv228y2CunB8DIYu2A66F33Si2PZLTewS/rnjZ6ugnrMVQ+LOT2p698OhU6N/ToxqDpmUOMJKfdqWrSa2Ddv6Td7NeqcMnGJtGGAsv/FNux/eq8CLAGZI3F0ToUUA/y8PtP+/wP8TCxhbmxpCnexsDKFWaP8F8qrtbw0KZW5kc3RyZWFtDWVuZG9iag01MiAwIG9iag08PC9GaWx0ZXIvRmxhdGVEZWNvZGUvTGVuZ3RoIDQyMT4+c3RyZWFtDQp4nF2Ty47bMAxF9/4KLaeLgS3KjxkgMFBMN1n0gab9AEeiMwYa2VCcRf6+uqQwBbqwcSSR1DFB12/HL8e47Kb+kVZ/4t3MSwyJb+s9eTZnviyxsmTC4veykre/TltV5+TT47bz9RjntTocTP0zH9729DBPn8N65k+VMab+ngKnJV7M0++3k26d7tv2h68cd9NU42gCz7nc12n7Nl3Z1JL8fAz5fNkfzzntX8Svx8aGZG1Vya+Bb9vkOU3xwtWhaUZzmOex4hj+O2s7TTnP/n1KOdTm0Kbp2jEzCfcW7JQJ3Cp7cKfcgXthasCDsJP4F+UJ/CrcMnhSfgWflSXeCw9SM2h98WHlATxrDPZto/fCx6r/gJpW/Vv42+KPe23xd2D1d3C26u8kF/7UWIkp/lJH/ekFrP79DFb/Af62+Etu8ZeaxT+A1Z+wT+rfIZeKfw9Wf0LfSP1b9ITUv4Mzqf8grP4tfEj736InVPzRNyr+6AOpv5Oa6u/gTOrv8I2k/q6X4SlTgjHCvH/Mp7+nlEdTfgqZSUzjEvnjv9nWDVny/AU1idkuDQplbmRzdHJlYW0NZW5kb2JqDTU0IDAgb2JqDTw8L0FzY2VudCA3MTUvQ2FwSGVpZ2h0IDcxNS9EZXNjZW50IC0yNjkvRmxhZ3MgNC9Gb250QkJveFstMzIgLTI2OSA3OTUgNzE1XS9Gb250RmlsZSA1MCAwIFIvRm9udE5hbWUvVUlGUVFMK0NhaXJvRm9udC02LTAvSXRhbGljQW5nbGUgMC9TdGVtSCA4MC9TdGVtViA4MC9UeXBlL0ZvbnREZXNjcmlwdG9yPj4NZW5kb2JqDTU1IDAgb2JqDTw8L0ZpbHRlci9GbGF0ZURlY29kZS9MZW5ndGggMzI0NS9MZW5ndGgxIDY3NC9MZW5ndGgyIDI3OTMvTGVuZ3RoMyA1MzI+PnN0cmVhbQ0KeJztkmk8lG3fx20jTBSJbHVSdsOcDEaWrGVvbIUwZMYWM4x9KbtCMbiQLVt2l4QiO2VJ2fd9r0iDsoY8XPdz5bmfN/eL+939uY/zzfH9n//jd36P4zx4ua/jcW6G3s5YEAaKgoCKlT0Bf1yCScPgACgKpwNBAGNv7Qbcxdra4+jEjt/pWjlhAbF/bsVgbejEUFb2/wgD/rfwdzgAnrCOlRvB3gu4AxeFw8GjxqPn75k5QMBaYfA4R++TdmVlvBfgC0PAAZi4OAhIS0oB0iAc+Jfj/v/LUsNZ4zH2OFtA/CjBikCw8qY72uARSQK+IGCPw2C9AKyXtR0gJorDux0tAZzd3e4DNngCHcbd+ahTzBY8Lv1F4kck/pskjkjiNyGOCPGbJI9I8jdJHZHUb5I+IunfhDwi5G+SOSKZ33S04aPPw0/4L50TH/BYCDwxAo+VwBMn8FgKPLECj7XAEy/wWAw8MQOP1cATN/BYDjyxA4/1wBM/8WM/8RM/8WM/8f9zXn8d2D/8/um3WLsTCFic2183DIvD/M029o5YAIv1wlrT7QavkiWufJLa00xo0+ErCrmAdvqpyZKX2exbf43xVknu02kJJ6DC9iWDv0SIzS2snGlrAr9JP8SxrpwNWmyl9VRrM1N8QikwVhXOXG09FUAvI4xfpsC61fBKHvi+koiWbDifH5UtcFCoYXvaS3++x/JHy1Cpv+hWz3e+6y29UWxZJQqzgMwZp1G8x8T6LP+URWzSKR+yJj96l3ncnTSLluiusduuyQ7KzAOVaY7qfV5alm8BcTmfzslpxHiwXPHpddrtJPte5mx4P2HxvVeuw8eQ+V9Gt7eu0NzKOHdYSJ6kqmuGktp2//o8p+XxlE23pVZyB7eXCiN/VebhgyGJXDMqS7rNTVd1kImX84Uk7XcRnlQt1EL+9jsohJhXfpdthMJ0pohbMHQBh91oIZ+jCfUbU4+hHzfe+KTiSFUtCl6jZUJFqH/6tcQlW6VmUwjnYtLhcNlWuJ5WxrLPVlrnUXuO7iJ5gYdGBj//97qXhPv8QNfjmvcj89juNPZR1lHVGzfaHyqmRzVIjnmGam7WKzPQsbY5udpGT3kszt0Me/TBXzi9jAszvrKJ2/awVxNSoUIbk74sWw51Vq16vXKnUJsSTX/7y6p1knx11uRNuOfN+q08fKMRy75YqLxuYDpYD+GOPOf2UgJ9iyqL1CWSp2X+Iu80Uo4qbYLZ0onKzzJy38F7wS8r7e7o9MNaJ5UlxlEluLQm9F0IX37oxjN+Dl/HruFMKmQ0Hgg7J9N9s7F3w2jEUGtLrOLrwzKfbLufD3cN1A2dzjc+CLCs+LD3xLQ0zTawhcsVlzEUHdjiXeRAXRPpAfnC/X1sIvBb3mI/vMw6cTZs/QXR1U7CZ+/sBZ1UluDK9DioaCKuYekr8zzygeylB7VUMJovy0tQQ96mlumCCvO0pD5ikYvweuUXF31WBTa9WbV7rt13S+GPm0v72NSpnVciOqQ7ikMuy4amqJvX95UxfM7gdpo69A2Xe3vJWwM274X9NWoQ52afdOqpU/rBa27Te8mipFttqtNJbEE26NCEfgsW117GjcInb2kgjCvO8rv1W1vCMCjz2Z66QSk0wrCr6QUVBfGzuhRRoJU2PkqFOgL9pwiBdcZ6V88UoVBIHbyhJ+FK8Khc4PIsgIdJmyJR4AVBfoHVzZ/yiDA66si4iQibHSSmbHlF8A0ySZ57tZqUKqkyb8IT3OpZEli2XCgH5tZn9SKVtxcFxpO62d7pO1inOjdkPc/2dfVUF1XpZOCZMGzc6YG0fe5dvFP3oStQcULe914qK8e1wTrVdQ2SaqzZVfOuLGjSN3R6ZLio63Yf/rLWthlbFxNffIzgkIlmHVHH+ULGmY+rjyobGGYpzvQH8tpwDo+JjYsb92jDiPyspT9MminJ7nws0FwL6mJJMa9sXCBOc1365fE1IvUihT9x7nv7A6iX0Gn+ETbqVvIoQuh7F7GxGWkZStk64w6mmJ+dxvm6aVQDTSHCnUwzcwODDyBnLQJrldcKpcLKSXEGXdxcVnfgGVzOpYuUgslIbuENAhSbNMhlTfTyxgtAz5PncWSidj8TC91ozVBbJVSL+naoA58deGn1j2Vk8hM74sbc0pqFFi8Hrrs4ILxdcgYtqZQwQrv0Zigj91RogZrthL0z84Ii4Veke6T2hrEdX4XP9+nsNsVqH1O+GwGDPiF9q72vlpTRrcDKF/bmM9PD7q68vEzLIi/63D74tDrkbT2Wiou+eLiHtVFlWQWuNi1YBsEk4H8eEKYkb689GzxNzm9+kInUCjVidjiUvJYzQD857PnzioXp9e4iuab2LmsdQeJkQzhu4HztC6+0RS7G7fcrtVLGNNqF7CY+mLUvMV/wba4qGZ9HSw5MUPk49qjpWOH35YbukLD28gOcCOqZ5+TKZ+rpbEIVUHyegZdMurnyYm4en+Aex4UPr1prenTOWmZS7HtJY+KpA5rPLciFBfs9esU8TFRLZYZrjVs9mKshpy6BSIuZAlsHQ0wJ3k5Ut1916Vsw5jDF+T1DxyikkBR1HsQbFoYbDQeG/fFwvVvOn35lPMdVEZGpYhJVa96wRXf+V6m45lmpEUxTj9hQR4X3Z53Q1DcA559TMnH4elOD98Q8wEj08uUXIqgnLfHDfbzhP7RTc2NtufgdqSPu6NZxePRL5SjFDJZIMNGxVxPqvyozB/XLyg7Oy54NLu9A6taa92AYIu2+BM7VixUUawbbJLtUdFDvhbdu5m/8eJX/uukWW7YoTyJZ99QBOlngttBH+fiWRl3MuaBlbUjPeT0h7M47eZA09j4p/TZgHHl18vRofdqnBM7EzXuuZBVBDE8L990EipTdufMN1p5rpBhebF4pTdT7HsstgKpMPSWspyXJzsnMn+ogtBBPSj98aYeK+RQa1fkoU/ScG/kupe1sQKaS8x1Lb7tg0tCpwtX4Dsk9jbBJ+e1vcBTwaFqIfP9ZZtjrbOFUlpkZtBX1qDxsAqO1ef8GTbuFemcONJR6p4+3x2qoZItgoCNhufEyK7cpTQZWiJVNm4IdXum9gk2J+sCU3noDukRfO1IkQ+hyn9Rjo2VDwHX71CDhto7+4Yjtq0i9BJTfR8FEyeSGWBtX+YGUeLigRixl5TRluxHXt4aCLWm1gUzx9khmzd7+LNcUtLL+4uUgy1x5H3l34zNr8ODBK/JULaLZf4jkdMLA1vaNJGgGFBLBaRau8MeN8suxMDOBAG3vEKTLV8BGwQbf0KGvbbeDkFDxv5/Puay9TxmP+Lj48/lAmSF10PnHb7R5oNmjVwPs4N2MJpRrnte/1Y6oJ/L5WZsjHPnG55KHYliy1e3J7ztz8Z49fchoHY2uKJHds+ipqdlSKtuIOFetCBsma5L3oGCrfFpArkIM025zN9opl6F9KNPybHKagt1DwPn00gzqsejIZckZxohmQf3MR33RptFqb1QoTTCZhwrifPZxU8l3qaYLfBkXZCtICY8hOwIcldcsV7t4GJeWZ6cyjR/TSDvRjfX5CrmvBBUuifpT6O0WjwnuLmP6DOJ3d3AF4UYUb6uCB7clHukWc/DcZFpmWX4vF70aV+yGC999lxhJMkt8LfsnjNbkOam6qjjcyrO9bWjSmkdhf3ukKp2Z20O7cMwZEV7jfn9HQqLnidqIND1hrRLZDoGuNFNeekpgy3F/Z2mvoNgM3RFTikQwbK4nvY3V5cuyQLbRJfb+4JkvTx1weX5oxge5Nj5ZXFkyUUNkWX9rZJfJeQlXEotXcaQho5uGxqlBQh5QVcegN915RhaKnHivZ8wbqN1k2n7NtD0FSYyskL85ZwqRTuXjvVCvSFtLfIryFVMltTRoMqqqiUTo2HlcNLySUKQ9kebkv5YQwBhDIW/1dNu7elQA/wltkBFDW6fi/0Hg1UV0V1Kk7VBKP5TPWO4XEbHoSqnhzR6y0rmWpo8AOscXGnFMZ1Ckn40BCOrtR91qhbUvL0TrNyFUur1xwV0BO0/WP2nSP0sn+gQZHnDaDmhPG5FEWFm5Bjgc91+jK0beCafIaXBS2G9qBpRBh7Mq9/xYnXyyJ9hqWpyQZQmoUeTPTCVzSByf+MODjeHIxKX+1y2geRMeXagrhH+taK8qlENPqyMbms8m9iE2Qc+b/VJKtE77EwdkPXmwPLdGNP2TFyv74JXd5IKwqFIC5jBp9GNZo50B7LYpUzTNLA2W+jvZ3Z2isQAO4rVbDBS9Si4JMW/zrp45WB7ztUggzazXlPft95OqqrTh/+ag+2/Af0SAtSPWiuCGd7Ii3KP7H//NiqINCmVuZHN0cmVhbQ1lbmRvYmoNNTcgMCBvYmoNPDwvRmlsdGVyL0ZsYXRlRGVjb2RlL0xlbmd0aCAzMjI+PnN0cmVhbQ0KeJxdks9ugzAMxu88hY/doYIE2q4SQpq6C4f90dgeABKnQxohCumBt18co07aIdEv9ufkk5380j63dgyQv/tZdRjAjFZ7XOabVwgDXkebCQl6VGE7pV1NvcvyWNytS8CptWbO6hryj5hcgl9h96TnAR8yAMjfvEY/2ivsvi4dh7qbcz84oQ1QZE0DGk287qV3r/2EkKfifatjfgzrPpb9KT5XhyDTWbAlNWtcXK/Q9/aKWV0UDdTGNBla/S8nJZcMRn33PkpFlBZFNTSRZeLjgbhMfDoTV4llQXzgeOIj6w3xiTnpH5mR+Mz6irhnLokH1ghixSyJNWuSB+T4I7FJXJJGFMzkQbD/ku4Rm396S7D/ijwI9l+RN7H5PxJv/nVq1NYRahnN9j4LdfM+jiF9gNR/6vxo8f5H3OyoKq1fLhqhWg0KZW5kc3RyZWFtDWVuZG9iag01OSAwIG9iag08PC9Bc2NlbnQgNzEwL0NhcEhlaWdodCA3MTAvRGVzY2VudCAtMjIxL0ZsYWdzIDQvRm9udEJCb3hbLTQwIC0yMjEgNzU2IDcxMF0vRm9udEZpbGUgNTUgMCBSL0ZvbnROYW1lL1VaT1paVitDYWlyb0ZvbnQtNy0wL0l0YWxpY0FuZ2xlIDAvU3RlbUggODAvU3RlbVYgODAvVHlwZS9Gb250RGVzY3JpcHRvcj4+DWVuZG9iag02MCAwIG9iag08PC9DcmVhdGlvbkRhdGUoRDoyMDIxMDUyNzAwNTUzMy0wNCcwMCcpL0NyZWF0b3IoY2Fpcm8gMS4xMC4yIFwoaHR0cDovL2NhaXJvZ3JhcGhpY3Mub3JnXCkpL01vZERhdGUoRDoyMDIxMDUyNzAwNTUzMy0wNCcwMCcpL1Byb2R1Y2VyKGNhaXJvIDEuMTAuMiBcKGh0dHA6Ly9jYWlyb2dyYXBoaWNzLm9yZ1wpKT4+DWVuZG9iag02MSAwIG9iag08PC9NZXRhZGF0YSA2MiAwIFIvUGFnZXMgMSAwIFIvVHlwZS9DYXRhbG9nPj4NZW5kb2JqDTYyIDAgb2JqDTw8L0xlbmd0aCAzMjAzL1N1YnR5cGUvWE1ML1R5cGUvTWV0YWRhdGE+PnN0cmVhbQ0KPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMwMTcgOTEuMTY0NDY0LCAyMDIwLzA2LzE1LTEwOjIwOjA1ICAgICAgICAiPgogICA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iCiAgICAgICAgICAgIHhtbG5zOnBkZj0iaHR0cDovL25zLmFkb2JlLmNvbS9wZGYvMS4zLyIKICAgICAgICAgICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICAgICAgICAgICB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyI+CiAgICAgICAgIDx4bXA6Q3JlYXRvclRvb2w+Y2Fpcm8gMS4xMC4yIChodHRwOi8vY2Fpcm9ncmFwaGljcy5vcmcpPC94bXA6Q3JlYXRvclRvb2w+CiAgICAgICAgIDx4bXA6TW9kaWZ5RGF0ZT4yMDIxLTA1LTI3VDAwOjU1OjMzLTA0OjAwPC94bXA6TW9kaWZ5RGF0ZT4KICAgICAgICAgPHhtcDpDcmVhdGVEYXRlPjIwMjEtMDUtMjdUMDA6NTU6MzMtMDQ6MDA8L3htcDpDcmVhdGVEYXRlPgogICAgICAgICA8eG1wOk1ldGFkYXRhRGF0ZT4yMDIxLTA1LTI3VDAwOjU1OjMzLTA0OjAwPC94bXA6TWV0YWRhdGFEYXRlPgogICAgICAgICA8cGRmOlByb2R1Y2VyPmNhaXJvIDEuMTAuMiAoaHR0cDovL2NhaXJvZ3JhcGhpY3Mub3JnKTwvcGRmOlByb2R1Y2VyPgogICAgICAgICA8ZGM6Zm9ybWF0PmFwcGxpY2F0aW9uL3BkZjwvZGM6Zm9ybWF0PgogICAgICAgICA8eG1wTU06RG9jdW1lbnRJRD51dWlkOmQ4ZWE4YjZmLTNiNTItNGU5Yi04ZTVmLWUxZTRiNjc1ZjNjYzwveG1wTU06RG9jdW1lbnRJRD4KICAgICAgICAgPHhtcE1NOkluc3RhbmNlSUQ+dXVpZDo5ZDg4MDI2Ny05YzBlLTQ3OTAtYTFjOS0wYmI2MDA4M2Q1MTI8L3htcE1NOkluc3RhbmNlSUQ+CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgCjw/eHBhY2tldCBlbmQ9InciPz4NCmVuZHN0cmVhbQ1lbmRvYmoNNjYgMCBvYmoNPDwvRGVjb2RlUGFybXM8PC9Db2x1bW5zIDQvUHJlZGljdG9yIDEyPj4vRmlsdGVyL0ZsYXRlRGVjb2RlL0lEWzwyQjA0QzA4NUQ1NUZDNzQxQkQ2NUJBNjJFRDcwNjlFNz48MkIwNEMwODVENTVGQzc0MUJENjVCQTYyRUQ3MDY5RTc+XS9JbmZvIDYwIDAgUi9MZW5ndGggMjA3L1Jvb3QgNjEgMCBSL1NpemUgNjcvVHlwZS9YUmVmL1dbMSAyIDFdPj5zdHJlYW0NCmjeYmJg4GZgYmIwYWD6x3CQgYkBCCAEE4MjmMUIlNj/H8RlArH+oShxYGD6z2IFJP60gXUwQ3QwMPz7y/Rf0ec/0//7pQxMjEaiQCXnXgNZxiA7GPcDuWcagNwsdiBr2k8gKycYyJqyFtkFCIIxVxgoO/ktkFWRAWR1zACyKrtBRj0EctumYNeGn2CsVgPqbb0FZM25CGSl6ANZ8/aADD0A5Ca2ALlrpgJZIdlA1jpZkLYDINnDIJYdkAg0AnG/gLibgcTuHwwAAQYAzSc98w0KZW5kc3RyZWFtDWVuZG9iag1zdGFydHhyZWYNCjQ4MzAzDQolJUVPRg0K"
                                }
                            }
                        }
                    },
                    "description": ""
                }
            }
        }
    }
}