{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_239b7cdb-9360-45bb-89b1-3cb37e3992ed",
            "value": "✓"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "apiversion_8abbb400-2190-46db-9fc7-593e9b4e1ce1",
        "apiId": "api_b7a4e806-115e-4cc5-bd4b-2b1551bc4762"
    },
    "info": {
        "title": "Job Search",
        "description": "The comprehensive job search API, powered by Indeed, Simply Hired and Lawjobs.",
        "version": "v1",
        "x-category": "Data",
        "x-long-description": "",
        "x-website": "https://lattice.dev/products/job-search",
        "x-public": true,
        "x-thumbnail": "https://rapidapi-prod-apis.s3.amazonaws.com/ddd1f736-d374-40fa-a953-4d1e6ee7d5d6.png",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://job-search4.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [
        {
            "name": "Metadata",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Job Postings",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        }
    ],
    "paths": {
        "/lawjobs/search": {
            "get": {
                "tags": [
                    "Job Postings"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "The page of results to return.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "1"
                        }
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "required": true,
                        "description": "The text query to search for jobs with.",
                        "schema": {
                            "externalDocs": {},
                            "type": "string",
                            "default": "Attorney"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Lawjobs",
                "description": "Conducts a comprehensive search of jobs posted in Lawjobs based on a text query.",
                "responses": {
                    "200": {
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "properties": {
                                        "key1": {
                                            "type": "string"
                                        },
                                        "key2": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "examples": {
                                    "Response": {
                                        "description": "",
                                        "summary": "Response",
                                        "value": "{\"date\": \"2021-04-18T16:41:32.282893\", \"status\": \"success\", \"results\": [{\"date_posted\": \"2021-03-24T00:00:00\", \"title\": \"In House Counsel- Transactional Real Estate\", \"source\": \"lawjobs.com\", \"company_name\": null, \"detail_url\": \"https://lawjobs.com/job/in-house-counsel-transactional-real-estate-south-florida-florida-184781\", \"location\": \"South Florida, Florida\", \"country\": \"United States\", \"state\": \"Florida\", \"city\": \"South Florida\", \"description\": \"In House Counsel - Transactional Real Estate Attorney\"}, {\"date_posted\": \"2021-03-22T00:00:00\", \"title\": \"Seeking NYC Trusts and Estates Attorneys\", \"source\": \"lawjobs.com\", \"company_name\": null, \"detail_url\": \"https://lawjobs.com/job/seeking-nyc-trusts-and-estates-attorneys-new-york-new-york-184755\", \"location\": \"New York, New York\", \"country\": \"United States\", \"state\": \"New York\", \"city\": \"New York\", \"description\": \"Trusts and Estates Attorney\"}, {\"title\": \"Staff Attorney\", \"date_posted\": \"2021-04-18T00:00:00\", \"location\": \"New York, New York\", \"country\": \"United States\", \"state\": \"New York\", \"city\": \"New York\", \"description\": \"NAPW seeks a Staff Attorney with criminal or family defense work.\", \"detail_url\": \"https://lawjobs.com/job/staff-attorney-new-york-new-york-184977\", \"source\": \"lawjobs.com\", \"company_name\": \"National Advocates for Pregnant Women\"}, {\"title\": \"Probate Attorney\", \"date_posted\": \"2021-04-17T00:00:00\", \"location\": \"Staten Island, New York\", \"country\": \"United States\", \"state\": \"New York\", \"city\": \"Staten Island\", \"description\": \"Seeking NY licensed attorney with 5 years of PROBATE experience\", \"detail_url\": \"https://lawjobs.com/job/probate-attorney-staten-island-new-york-184976\", \"source\": \"lawjobs.com\", \"company_name\": \"Assigned Counsel, Inc.\"}, {\"date_posted\": \"2021-03-10T00:00:00\", \"title\": \"Life Sciences Attorney\", \"source\": \"lawjobs.com\", \"company_name\": \"New England Legal Search\", \"detail_url\": \"https://lawjobs.com/job/life-sciences-attorney-boston-massachusetts-184643\", \"location\": \"Boston, Massachusetts\", \"country\": \"United States\", \"state\": \"Massachusetts\", \"city\": \"Boston\", \"description\": \"Rapidly growing publicly traded life sciences company is seeking 5+ year transactional attorney with industry experience in structuring, drafting and negotiating complex...\"}, {\"date_posted\": \"2021-04-16T00:00:00\", \"title\": \"Assistant Municipal Attorney\", \"source\": \"lawjobs.com\", \"company_name\": \"City of Trenton\", \"detail_url\": \"https://lawjobs.com/job/assistant-municipal-attorney-trenton-new-jersey-184970\", \"location\": \"Trenton, New Jersey\", \"country\": \"United States\", \"state\": \"New Jersey\", \"city\": \"Trenton\", \"description\": \"Assistant Municipal Attorney\"}, {\"date_posted\": \"2021-04-16T00:00:00\", \"title\": \"Coverage Associate\", \"source\": \"lawjobs.com\", \"company_name\": \"Wade Clark Mulcahy\", \"detail_url\": \"https://lawjobs.com/job/coverage-associate-new-york-new-york-184967\", \"location\": \"New York, New York\", \"country\": \"United States\", \"state\": \"New York\", \"city\": \"New York\", \"description\": \"2-4 years of insurance coverage experience\"}, {\"date_posted\": \"2021-04-16T00:00:00\", \"title\": \"Litigation Associate\", \"source\": \"lawjobs.com\", \"company_name\": \"Wade Clark Mulcahy\", \"detail_url\": \"https://lawjobs.com/job/litigation-associate-new-york-new-york-184968\", \"location\": \"New York, New York\", \"country\": \"United States\", \"state\": \"New York\", \"city\": \"New York\", \"description\": \"2-4 years of civil defense experience\"}, {\"date_posted\": \"2021-04-15T00:00:00\", \"title\": \"Attorney\", \"source\": \"lawjobs.com\", \"company_name\": \"The Bongiorno Law Firm\", \"detail_url\": \"https://lawjobs.com/job/attorney-garden-city-new-york-184962\", \"location\": \"GARDEN CITY, New York\", \"country\": \"United States\", \"state\": \"New York\", \"city\": \"GARDEN CITY\", \"description\": \"BUSY PERSONAL INJURY FIRM LOOKING FOR FULL TIME ATTORNEY\"}, {\"date_posted\": \"2021-04-15T00:00:00\", \"title\": \"Paralegal II - Mergers & Acquisitions/Private Equity\", \"source\": \"lawjobs.com\", \"company_name\": \"Kirkland & Ellis, LLP\", \"detail_url\": \"https://lawjobs.com/job/paralegal-ii-mergers-amp-acquisitions-private-equity-chicago-illinois-184960\", \"location\": \"Chicago, Illinois\", \"country\": \"United States\", \"state\": \"Illinois\", \"city\": \"Chicago\", \"description\": \"Kirkland & Ellis is seeking an experienced corporate paralegal wh\"}, {\"date_posted\": \"2021-04-14T00:00:00\", \"title\": \"Associate Attorney\", \"source\": \"lawjobs.com\", \"company_name\": \"Schell Cooley Ryan Campbell LLP\", \"detail_url\": \"https://lawjobs.com/job/associate-attorney-addison-texas-184958\", \"location\": \"Addison, Texas\", \"country\": \"United States\", \"state\": \"Texas\", \"city\": \"Addison\", \"description\": \"North Dallas boutique law firm seeks Litigation Attorney\"}, {\"date_posted\": \"2021-04-14T00:00:00\", \"title\": \"Deputy Ethics Counsel\", \"source\": \"lawjobs.com\", \"company_name\": null, \"detail_url\": \"https://lawjobs.com/job/deputy-ethics-counsel-ewing-new-jersey-184955\", \"location\": \"Ewing, New Jersey\", \"country\": \"United States\", \"state\": \"New Jersey\", \"city\": \"Ewing\", \"description\": \"Attorney to act as Deputy Ethics Counsel\"}, {\"date_posted\": \"2021-04-14T00:00:00\", \"title\": \"Statewide Fee Arbitration Coordinator\", \"source\": \"lawjobs.com\", \"company_name\": null, \"detail_url\": \"https://lawjobs.com/job/statewide-fee-arbitration-coordinator-ewing-new-jersey-184952\", \"location\": \"Ewing, New Jersey\", \"country\": \"United States\", \"state\": \"New Jersey\", \"city\": \"Ewing\", \"description\": \"professional with strong experience managing attorneys\"}, {\"date_posted\": \"2021-03-12T00:00:00\", \"title\": \"Corporate Counsel\", \"source\": \"lawjobs.com\", \"company_name\": \"New England Legal Search\", \"detail_url\": \"https://lawjobs.com/job/corporate-counsel-boston-massachusetts-184677\", \"location\": \"Boston, Massachusetts\", \"country\": \"United States\", \"state\": \"Massachusetts\", \"city\": \"Boston\", \"description\": \"NASDAQ biopharma company seeks 4 plus year attorney with major law firm corporate training to join the legal team. Public company securities and biotech experience required....\"}, {\"date_posted\": \"2021-04-13T00:00:00\", \"title\": \"IN-HOUSE/BIOTECH/CORPORATE COUNSEL\", \"source\": \"lawjobs.com\", \"company_name\": \"New England Legal Search\", \"detail_url\": \"https://lawjobs.com/job/in-house-biotech-corporate-counsel-boston-massachusetts-184945\", \"location\": \"Boston, Massachusetts\", \"country\": \"United States\", \"state\": \"Massachusetts\", \"city\": \"Boston\", \"description\": \"Premier publicly traded biotechnology company is seeking a 3+ year attorney for a new Director/Corporate Counsel role. This attorney will be responsible for a wide array of...\"}, {\"date_posted\": \"2021-01-27T00:00:00\", \"title\": \"In-House/Biotech/Contracts Attorney\", \"source\": \"lawjobs.com\", \"company_name\": \"New England Legal Search\", \"detail_url\": \"https://lawjobs.com/job/in-house-biotech-contracts-attorney-boston-massachusetts-184195\", \"location\": \"Boston, Massachusetts\", \"country\": \"United States\", \"state\": \"Massachusetts\", \"city\": \"Boston\", \"description\": \"Outstanding opportunity for 3+ year attorney to join a premier biotech company in contracts counsel role. Prior experience drafting and negotiating biotech agreements...\"}, {\"date_posted\": \"2021-01-27T00:00:00\", \"title\": \"ASSOCIATE / IP (EE CS)\", \"source\": \"lawjobs.com\", \"company_name\": \"New England Legal Search\", \"detail_url\": \"https://lawjobs.com/job/associate-ip-ee-cs-boston-massachusetts-183284\", \"location\": \"Boston, Massachusetts\", \"country\": \"United States\", \"state\": \"Massachusetts\", \"city\": \"Boston\", \"description\": \"National IP firm is seeking a patent prosecution attorney to join their Electrical and Computer Technologies Group. Qualified applicants will have a degree...\"}, {\"date_posted\": \"2021-01-27T00:00:00\", \"title\": \"ASSOCIATE / IP (Mechanical Tech.)\", \"source\": \"lawjobs.com\", \"company_name\": \"New England Legal Search\", \"detail_url\": \"https://lawjobs.com/job/associate-ip-mechanical-tech-boston-massachusetts-183285\", \"location\": \"Boston, Massachusetts\", \"country\": \"United States\", \"state\": \"Massachusetts\", \"city\": \"Boston\", \"description\": \"Large IP firm is seeking a patent prosecution attorney to join their Mechanical Technologies Group. Qualified applicants will have an advanced degree...\"}, {\"date_posted\": \"2021-01-27T00:00:00\", \"title\": \"ASSOCIATE / IP (Organ. Chem.)\", \"source\": \"lawjobs.com\", \"company_name\": \"New England Legal Search\", \"detail_url\": \"https://lawjobs.com/job/associate-ip-organ-chem-boston-massachusetts-183287\", \"location\": \"Boston, Massachusetts\", \"country\": \"United States\", \"state\": \"Massachusetts\", \"city\": \"Boston\", \"description\": \"IP powerhouse firm is seeking a patent prosecution attorney to join their Pharmaceutical Group. Qualified applicants will have a Ph.D. in organic...\"}, {\"date_posted\": \"2021-01-27T00:00:00\", \"title\": \"ASSOCIATE/COUNSEL/REAL ESTATE\", \"source\": \"lawjobs.com\", \"company_name\": \"New England Legal Search\", \"detail_url\": \"https://lawjobs.com/job/associate-counsel-real-estate-183313\", \"location\": null, \"country\": \"United States\", \"state\": null, \"city\": null, \"description\": \"Superb real estate boutique seeks 6+ year associate or counsel level attorney with sophisticated real estate transactional experience to join collegial group. Meaningful...\"}, {\"date_posted\": \"2021-01-27T00:00:00\", \"title\": \"PARTNER/COUNSEL/SENIOR ASSOCIATE/LITIGATION BOUTIQUE\", \"source\": \"lawjobs.com\", \"company_name\": \"New England Legal Search\", \"detail_url\": \"https://lawjobs.com/job/partner-counsel-senior-associate-litigation-boutique-boston-massachusetts-183334\", \"location\": \"Boston, Massachusetts\", \"country\": \"United States\", \"state\": \"Massachusetts\", \"city\": \"Boston\", \"description\": \"Superb business litigation boutique seeks 8+ year attorney with modest practice and entrepreneurial spirit to join well-established firm....\"}, {\"date_posted\": \"2021-01-27T00:00:00\", \"title\": \"IN-HOUSE/VC/INVESTMENT COUNSEL\", \"source\": \"lawjobs.com\", \"company_name\": \"New England Legal Search\", \"detail_url\": \"https://lawjobs.com/job/in-house-vc-investment-counsel-boston-massachusetts-183481\", \"location\": \"Boston, Massachusetts\", \"country\": \"United States\", \"state\": \"Massachusetts\", \"city\": \"Boston\", \"description\": \"Highly regarded private investment company seeks 3+ year corporate attorney with major law firm training to work on corporate matters surrounding investments in and support...\"}, {\"date_posted\": \"2021-01-27T00:00:00\", \"title\": \"UNIVERSITY/ LIFE SCIENCES/TECHNOLOGY TRANSACTIONS\", \"source\": \"lawjobs.com\", \"company_name\": \"New England Legal Search\", \"detail_url\": \"https://lawjobs.com/job/university-life-sciences-technology-transactions-boston-massachusetts-183816\", \"location\": \"Boston, Massachusetts\", \"country\": \"United States\", \"state\": \"Massachusetts\", \"city\": \"Boston\", \"description\": \"Premier research university seeks 7+ year attorney with strong background drafting and negotiating complex contracts to partner with business development team members to...\"}, {\"date_posted\": \"2021-01-27T00:00:00\", \"title\": \"IN-HOUSE/CORPORATE/COMPLIANCE COUNSEL\", \"source\": \"lawjobs.com\", \"company_name\": \"New England Legal Search\", \"detail_url\": \"https://lawjobs.com/job/in-house-corporate-compliance-counsel-boston-massachusetts-184315\", \"location\": \"Boston, Massachusetts\", \"country\": \"United States\", \"state\": \"Massachusetts\", \"city\": \"Boston\", \"description\": \"Global healthcare diagnostics technology leader seeks 4th \\u2013 7th year corporate attorney for broad-based corporate and compliance role. Responsibilities include: supporting...\"}, {\"date_posted\": \"2021-02-11T00:00:00\", \"title\": \"Senior Corporate Counsel, Transactions and Commercial\", \"source\": \"lawjobs.com\", \"company_name\": \"New England Legal Search\", \"detail_url\": \"https://lawjobs.com/job/senior-corporate-counsel-transactions-and-commercial-boston-massachusetts-184450\", \"location\": \"Boston, Massachusetts\", \"country\": \"United States\", \"state\": \"Massachusetts\", \"city\": \"Boston\", \"description\": \"Premier NYSE biotechnology company seeks 8+ year attorney for a new combined transactional/commercial role. This attorney will be responsible for providing expert analysis...\"}, {\"date_posted\": \"2021-02-23T00:00:00\", \"title\": \"IN-HOUSE/ASSOCIATE GENERAL COUNSEL\", \"source\": \"lawjobs.com\", \"company_name\": \"New England Legal Search\", \"detail_url\": \"https://lawjobs.com/job/in-house-associate-general-counsel-boston-massachusetts-184520\", \"location\": \"Boston, Massachusetts\", \"country\": \"United States\", \"state\": \"Massachusetts\", \"city\": \"Boston\", \"description\": \"Global nonprofit industry support organization seeks 4+ year attorney to provide support to business clients and functions across the organization on a broad range of...\"}, {\"date_posted\": \"2021-03-02T00:00:00\", \"title\": \"IN-HOUSE/SENIOR CORPORATE AND GLOBAL COMPLIANCE COUNSEL\", \"source\": \"lawjobs.com\", \"company_name\": \"New England Legal Search\", \"detail_url\": \"https://lawjobs.com/job/in-house-senior-corporate-and-global-compliance-counsel-boston-massachusetts-184586\", \"location\": \"Boston, Massachusetts\", \"country\": \"United States\", \"state\": \"Massachusetts\", \"city\": \"Boston\", \"description\": \"NASDAQ life science technology leader seeks 8+ year attorney for broad-based senior corporate and compliance role. Responsibilities include implementation of policies and...\"}, {\"title\": \"Attorney\", \"date_posted\": \"2021-04-12T00:00:00\", \"location\": \"Florham Park, New Jersey\", \"country\": \"United States\", \"state\": \"New Jersey\", \"city\": \"Florham Park\", \"description\": \"Dynamic Florham Park law firm is seeking a litigation attorney with 5+ years of experience to work with existing clients.  NJ & NY Bar Admission is strongly preferred.  Experience with construction...\", \"detail_url\": \"https://lawjobs.com/job/attorney-florham-park-new-jersey-184930\", \"source\": \"lawjobs.com\", \"company_name\": null}, {\"date_posted\": \"2021-04-09T00:00:00\", \"title\": \"Attorney - Manhattan\", \"source\": \"lawjobs.com\", \"company_name\": null, \"detail_url\": \"https://lawjobs.com/job/attorney-manhattan-new-york-new-york-184908\", \"location\": \"New York, New York\", \"country\": \"United States\", \"state\": \"New York\", \"city\": \"New York\", \"description\": \"Litigator-3-10 years\"}]}"
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                }
            }
        },
        "/simplyhired/search": {
            "get": {
                "tags": [
                    "Job Postings"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "The page of results to return.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "1"
                        }
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "externalDocs": {},
                            "default": "Software Engineer"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "SimplyHired",
                "description": "Search for job postings on SimplyHired based on a text query.",
                "responses": {
                    "200": {
                        "content": {
                            "text/plain": {
                                "schema": {},
                                "examples": {
                                    "Response": {
                                        "description": "",
                                        "summary": "Response",
                                        "value": "{\"date\": \"2021-04-18T16:57:52.684019\", \"status\": \"success\", \"results\": [{\"date_posted\": \"2021-04-16T00:00:00\", \"title\": \"Jr. Software Engineer\", \"source\": \"lawjobs.com\", \"company_name\": \"Boone Software, LLC\", \"detail_url\": \"https://www.simplyhired.com/job/wk7Ynnxu68HcoxhOaWoaobyTZvDgIoH-Conm9qITikNGiixQXbgWqQ?q=Software+Engineer\", \"location\": \"Remote\", \"country\": \"United States\", \"state\": null, \"city\": null, \"description\": \"Ability to learn new software and technologies quickly. Assist Mid- and Senior-level developers with all aspects of software design and coding.\"}, {\"date_posted\": \"2021-04-06T00:00:00\", \"title\": \"Senior Embedded Linux Engineer\", \"source\": \"lawjobs.com\", \"company_name\": \"The Sapling Company, Inc.\", \"detail_url\": \"https://www.simplyhired.com/job/C74OHHdHZUl149MoQk0HHr37qyhGJZudZDBoZHMnymuqLyXyh6TrXA?q=Software+Engineer\", \"location\": \"Warminster, PA\", \"country\": \"United States\", \"state\": \"Pennsylvania\", \"city\": \"Warminster\", \"description\": \"Candidate will work with our Systems Engineering team, dealing with Linux BSP, drivers, embedded firmware development and manufacturing test software.\"}, {\"date_posted\": \"2021-04-02T00:00:00\", \"title\": \"Multidisciplinary Engineering Primarily Software\", \"source\": \"lawjobs.com\", \"company_name\": \"G3 Technologies, Inc\", \"detail_url\": \"https://www.simplyhired.com/job/zNzgXHGrqNbzFNQLRRwPQ_Tq8jv_Oc4o8IkNye2tUyJDxf3TrG_zQg?q=Software+Engineer\", \"location\": \"Mount Airy, MD\", \"country\": \"United States\", \"state\": \"Maryland\", \"city\": \"Mount Airy\", \"description\": \"Support product development teams by contributing to embedded software development or customization. Support electrical and environmental testing activities\\u2026\"}, {\"date_posted\": \"2020-11-11T00:00:00\", \"title\": \"Manufacturing Software Engineer\", \"source\": \"lawjobs.com\", \"company_name\": \"Midwest Sterilization Corporation\", \"detail_url\": \"https://www.simplyhired.com/job/9QwF4Jf8BW9b2JuEIJvs6ZrVbOYQWL_j9PVPDHgQJfzF4wnKYcJl7w?q=Software+Engineer\", \"location\": \"Jackson, MO\", \"country\": \"United States\", \"state\": \"Missouri\", \"city\": \"Jackson\", \"description\": \"Working with maintenance and quality control departments to update and improve existing software systems. Design and develop in house software solutions.\"}, {\"date_posted\": \"2021-02-22T00:00:00\", \"title\": \"Frontend Software Engineering Intern (Summer 2021)\", \"source\": \"lawjobs.com\", \"company_name\": \"Attentive Mobile\", \"detail_url\": \"https://www.simplyhired.com/job/FkTlzBa1ixW9gsymlQvF65UyyXWlbf8uYvF1YID_hR4GnoRXRljv1w?q=Software+Engineer\", \"location\": \"Remote\", \"country\": \"United States\", \"state\": null, \"city\": null, \"description\": \"Our team is 200+ engineers, product managers and designers from top tech companies including Google, Microsoft, Twitter, Moat, Oscar and AppNexus.\"}, {\"date_posted\": \"2021-04-16T00:00:00\", \"title\": \"Engineer 2, Software Dev & Engineering\", \"source\": \"lawjobs.com\", \"company_name\": \"Comcast\", \"detail_url\": \"https://www.simplyhired.com/job/TujThgcvKAg9MeQIrF22k1VR-SmqNvvnEhHVktT3c9TSbfk_QOm5Qg?q=Software+Engineer\", \"location\": \"Philadelphia, PA\", \"country\": \"United States\", \"state\": \"Pennsylvania\", \"city\": \"Philadelphia\", \"description\": \"Implements, testing and debugging defined software components. Responsible for planning and designing new software and web applications.\"}, {\"date_posted\": \"2021-03-10T00:00:00\", \"title\": \"Software Engineer Intern\", \"source\": \"lawjobs.com\", \"company_name\": \"Vouch Insurance\", \"detail_url\": \"https://www.simplyhired.com/job/oDJ5IB1NijjbBMIGwKaWSUV6-jr_tQojINBVeFiAHao8hP82zDSpcw?q=Software+Engineer\", \"location\": \"Remote\", \"country\": \"United States\", \"state\": null, \"city\": null, \"description\": \"Enthusiasm and passion for new technologies and interest in learning new skills. This will be a full-time, paid 10-week internship program beginning June 14th.\"}, {\"date_posted\": \"2021-04-12T00:00:00\", \"title\": \"Frontend Team associates\", \"source\": \"lawjobs.com\", \"company_name\": \"Walmart\", \"detail_url\": \"https://www.simplyhired.com/job/eakrC98MmvW82yPO3DG9U-yuVsT_4DYjlJutHe7A_NyIkW-JLbdS4Q?q=Software+Engineer\", \"location\": \"Wyncote, PA\", \"country\": \"United States\", \"state\": \"Pennsylvania\", \"city\": \"Wyncote\", \"description\": \"Sanitizing, disinfecting, or cleaning procedures in place. Shows care and concern when serving the customers. Job Types: Full-time, Part-time.\"}, {\"date_posted\": \"2021-04-15T00:00:00\", \"title\": \"Software Developer Internship- Summer 2021\", \"source\": \"lawjobs.com\", \"company_name\": \"Deacom, Inc.\", \"detail_url\": \"https://www.simplyhired.com/job/1AJNqp3OAqXPEhwYCA5rnMKFYa-2CjxdxQJ1OXYjLLNyEC9Zfcv8DA?q=Software+Engineer\", \"location\": \"King of Prussia, PA\", \"country\": \"United States\", \"state\": \"Pennsylvania\", \"city\": \"King of Prussia\", \"description\": \"Excellent oral and written communication skills. Knowledge of object-oriented programming. Document bugs with the software in a clear and concise manner; follow\\u2026\"}, {\"date_posted\": \"2021-02-26T00:00:00\", \"title\": \"Senior Developer\", \"source\": \"lawjobs.com\", \"company_name\": \"Alliant Cooperative Data Solutions\", \"detail_url\": \"https://www.simplyhired.com/job/EEF7MQ3Ya1AK0kpZNU-AQs3me_48jMRilK_4wY0mZDmSR6Dq0djCjg?q=Software+Engineer\", \"location\": \"Brewster, NY\", \"country\": \"United States\", \"state\": \"New York\", \"city\": \"Brewster\", \"description\": \"5-7 years\\u2019 experience designing/developing enterprise software within a fast-paced environment. Additional responsibilities include providing consultation on\\u2026\"}, {\"date_posted\": \"2021-04-09T00:00:00\", \"title\": \"Sr. Applications Engineer (Material Handling Automation)\", \"source\": \"lawjobs.com\", \"company_name\": \"Scott Automation + Robotics\", \"detail_url\": \"https://www.simplyhired.com/job/I87vMR3D6iMf5yWrF-qY3hQPhsubU2A_rTZRlHm-Rc9uLfLy7bAE_w?q=Software+Engineer\", \"location\": \"Charlotte, NC\", \"country\": \"United States\", \"state\": \"North Carolina\", \"city\": \"Charlotte\", \"description\": \"5-10 years experience with AGV application engineering. Application engineering: 5 years (Required). Utilize other software tools as requested to effectively\\u2026\"}, {\"date_posted\": \"2021-03-09T00:00:00\", \"title\": \"Principal ML/Backend Software Engineering Manager (10+ years exp. req.)\", \"source\": \"lawjobs.com\", \"company_name\": \"Audere\", \"detail_url\": \"https://www.simplyhired.com/job/QFedSdAdqzqcayM2LeW9OyCHmCTTYfjxMv02kwnsRj5gW3oJSp21eQ?q=Software+Engineer\", \"location\": \"Seattle, WA\", \"country\": \"United States\", \"state\": \"Washington\", \"city\": \"Seattle\", \"description\": \"Your day-to-day job will include technical design, collaborating with our team, coding, and meeting with customers & partners. A great sense of humor.\"}, {\"date_posted\": \"2021-03-30T00:00:00\", \"title\": \"Junior Software Engineer\", \"source\": \"lawjobs.com\", \"company_name\": \"OSOM Products Inc.\", \"detail_url\": \"https://www.simplyhired.com/job/N62SwnkIxOfan1e1DhAEj6_J2PfrsYiJEpqMEJY60Gzu5wOJSTwwKQ?q=Software+Engineer\", \"location\": \"Remote\", \"country\": \"United States\", \"state\": null, \"city\": null, \"description\": \"1-2 years of professional software development or relevant project or design experience. We are looking for a Junior Software Engineer to design, develop and\\u2026\"}, {\"date_posted\": \"2021-04-14T00:00:00\", \"title\": \"Software Engineer Intern\", \"source\": \"lawjobs.com\", \"company_name\": \"Saga Education\", \"detail_url\": \"https://www.simplyhired.com/job/1SIWEPdIbh5o5DEuakxTzClTcAc1z5xpZxxF3tDDjAcgSBcxXsaoSQ?q=Software+Engineer\", \"location\": \"Illinois\", \"country\": \"United States\", \"state\": null, \"city\": null, \"description\": \"Experience with software debugging and critical thinking skills. Passionate about developing software products that make an impact in education.\"}, {\"date_posted\": \"2021-02-27T00:00:00\", \"title\": \"Software Engineer Intern (Remote)\", \"source\": \"lawjobs.com\", \"company_name\": \"Storj Labs\", \"detail_url\": \"https://www.simplyhired.com/job/0rwsBbejBL_pT_9WZNAn6_kd14et-9qY_lNvF0P10z8AFGrr6sK8UQ?q=Software+Engineer\", \"location\": \"Atlanta, GA\", \"country\": \"United States\", \"state\": \"Georgia\", \"city\": \"Atlanta\", \"description\": \"Attending weekly meetings with your team of engineers. Knowledge of computer science with experience building meaningful software applications in a class, as a\\u2026\"}, {\"date_posted\": \"2021-04-15T00:00:00\", \"title\": \"Software Engineer\", \"source\": \"lawjobs.com\", \"company_name\": \"Spectra Media Group\", \"detail_url\": \"https://www.simplyhired.com/job/WddMoSMHuHetWgi4VWdKeAHkbi6Cviv1ur56_97-FwGpp1hRb53Shg?q=Software+Engineer\", \"location\": \"Philadelphia, PA\", \"country\": \"United States\", \"state\": \"Pennsylvania\", \"city\": \"Philadelphia\", \"description\": \"Continual learning of internal systems and technologies. Sanitizing, disinfecting, or cleaning procedures in place. Support and maintain existing applications.\"}, {\"date_posted\": \"2021-03-04T00:00:00\", \"title\": \"Software Engineer II\", \"source\": \"lawjobs.com\", \"company_name\": \"Indeed\", \"detail_url\": \"https://www.simplyhired.com/job/CahATeMoE-LmjMOL_rkN7YZR4UwjwkiGLVwsYI11hYNDHhwbYYaTUQ?q=Software+Engineer\", \"location\": \"Remote\", \"country\": \"United States\", \"state\": null, \"city\": null, \"description\": \"Other rewards may include quarterly bonuses, Restricted Stock Units (RSUs), an open Paid Time Off policy, and many region-specific benefits.\"}, {\"date_posted\": \"2021-04-01T00:00:00\", \"title\": \"Lead iOS R&D Engineer\", \"source\": \"lawjobs.com\", \"company_name\": \"Kryptowire\", \"detail_url\": \"https://www.simplyhired.com/job/9xSaX3TSqfjEql44Zj9oPNV4QwpD5KBD4x_nYS68GoOC4h1_XS_BaA?q=Software+Engineer\", \"location\": \"Remote\", \"country\": \"United States\", \"state\": null, \"city\": null, \"description\": \"MacOS/iOS Development: 5 years (Required). Automated static/dynamic binary code analysis: 5 years (Required). We are seeking a Lead iOS R&D Engineer position to\\u2026\"}, {\"date_posted\": \"2020-07-21T00:00:00\", \"title\": \"Embedded Software Artisan\", \"source\": \"lawjobs.com\", \"company_name\": \"Barn Owl Robotics, LLC\", \"detail_url\": \"https://www.simplyhired.com/job/bKmZSu92O_ctmV2CBa87jLiEV573Qq7j9iJ6ZJeFIVJN8Xlr_JuRNg?q=Software+Engineer\", \"location\": \"Huntsville, AL\", \"country\": \"United States\", \"state\": \"Alabama\", \"city\": \"Huntsville\", \"description\": \"Good oral and written communication skills. Support quality assurance and configuration management teams through software builds. Design and execute unit tests.\"}]}"
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                }
            }
        },
        "/craigslist/search": {
            "get": {
                "tags": [
                    "Job Postings"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "The page of results to return.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "1"
                        }
                    },
                    {
                        "name": "region_id",
                        "in": "query",
                        "required": true,
                        "description": "The id of the Craigslist region to search within.",
                        "schema": {
                            "externalDocs": {},
                            "type": "string",
                            "default": "sfbay"
                        }
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "required": true,
                        "description": "The text query to search for jobs with.",
                        "schema": {
                            "externalDocs": {},
                            "type": "string",
                            "default": "Software Engineer"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Craigslist",
                "description": "Search for jobs postings on Craigslist based on a text query.",
                "responses": {
                    "200": {
                        "content": {
                            "text/plain": {
                                "schema": {},
                                "examples": {
                                    "Response": {
                                        "description": "",
                                        "summary": "Response",
                                        "value": "{\"date\": \"2021-04-28T06:24:45.906222\", \"status\": \"success\", \"jobs\": [{\"date_posted\": \"2021-04-27T09:06:00\", \"title\": \"REMOTE CHINESE/KOREN SPEAKING Visual Researcher for Media Agency\", \"source\": \"craigslist.com\", \"company_name\": null, \"detail_url\": \"https://sfbay.craigslist.org/eby/med/d/alameda-remote-chinese-koren-speaking/7313358835.html\", \"location\": \"SF bay area / Remote\", \"country\": \"United States\", \"state\": \"California\", \"city\": \"SF bay area\", \"description\": \"QR Code Link to This Post\\n\\n\\nAs the advertising and media landscape continues to globalize, our STALKR team is looking to add a team member who is fluent in Chinese and/or Korean. If you are interested in media production and are fluent in either Chinese or Korean languages, please consider applying to our Visual Researcher position. \\n\\n\\n\\nSTALKR is the world leader in creative footage sourcing, licensing and clearing existing content for commercials, movies and more. We primarily work with advertising agencies, editorial houses and production companies to make their visions come true. We are currently looking to add a remote visual researcher to our growing team. \\n\\n\\n\\nThe role of the Visual Researcher consists of searching for, visually filtering, and delivering video content consistent with creative briefs on commercial projects. This may include scrolling through digital libraries, vimeo, youtube, social media and beyond. We are specifically looking for tenacious, thorough, insatiably curious, and creative individuals with a general passion for and knowledge of visual media, creative researching, artistic interpretation, and resourceful problem solving. \\n\\n\\n\\nThe Visual Researcher often doubles as a clearance manager and assists the Producer in determining licensing release status, as well as tracking down and gaining talent and property releases. We are looking for candidates with excellent interpersonal skills who have the ability to multi-task and manage time responsibly across multiple concurrent projects, all while communicating cohesively within team environments.\\n\\n\\n\\nRequirements:\\n\\nFor this particular position, fluency in either Chinese or Korean is highly recommended \\nMust have at least two years of experience working in a creative field of a visual nature: TV, Film, Commercials, Video Production, Advertising, or other similarly imaginative field\\nMust possess strong organizational and communication skills\\nMust be comfortable in an online environment. Members of your team may be spread across the country - willingness to work different time zones is hugely beneficial!\\nComputer/Web fluency: typing, browsing, search engines, spreadsheet and social media familiarity, technical proficiency and problem solving \\nKnowledge of Google Docs, Google Sheets, Basecamp, Wiredrive and Final Cut Pro\\nSports familiarity, Fluency in multiple languages and Research experience a plus\\n\\n\\nThe Details:\\n\\nTraining period is Monday- Friday, 9am - 5:30pm. If you are outside of the PDT timezone, please keep in mind that your first 2 weeks of training may be from 9 am - 5:30 pm PDT\\nFollowing training, Researchers are booked on an \\u201cas needed\\u201d project basis\\nMust be flexible with scheduling as bookings will vary based on project needs\\nMust be available to work Monday - Friday, 9 - 5:30pm in your timezone. Willingness to work different timezones is a huge plus!\\nMust be willing to work occasional late nights and weekends\\n\\n\\nThe Perks:\\n\\n$20/hr to start\\nHealthcare and other benefits begin after 90 day trial period\"}, {\"date_posted\": \"2021-04-27T09:06:00\", \"title\": \"REMOTE CHINESE/KOREN SPEAKING Visual Researcher for Media Agency\", \"source\": \"craigslist.com\", \"company_name\": null, \"detail_url\": \"https://sfbay.craigslist.org/eby/tfr/d/alameda-remote-chinese-koren-speaking/7313358836.html\", \"location\": \"SF bay area / Remote\", \"country\": \"United States\", \"state\": \"California\", \"city\": \"SF bay area\", \"description\": \"QR Code Link to This Post\\n\\n\\nAs the advertising and media landscape continues to globalize, our STALKR team is looking to add a team member who is fluent in Chinese and/or Korean. If you are interested in media production and are fluent in either Chinese or Korean languages, please consider applying to our Visual Researcher position. \\n\\n\\n\\nSTALKR is the world leader in creative footage sourcing, licensing and clearing existing content for commercials, movies and more. We primarily work with advertising agencies, editorial houses and production companies to make their visions come true. We are currently looking to add a remote visual researcher to our growing team. \\n\\n\\n\\nThe role of the Visual Researcher consists of searching for, visually filtering, and delivering video content consistent with creative briefs on commercial projects. This may include scrolling through digital libraries, vimeo, youtube, social media and beyond. We are specifically looking for tenacious, thorough, insatiably curious, and creative individuals with a general passion for and knowledge of visual media, creative researching, artistic interpretation, and resourceful problem solving. \\n\\n\\n\\nThe Visual Researcher often doubles as a clearance manager and assists the Producer in determining licensing release status, as well as tracking down and gaining talent and property releases. We are looking for candidates with excellent interpersonal skills who have the ability to multi-task and manage time responsibly across multiple concurrent projects, all while communicating cohesively within team environments.\\n\\n\\n\\nRequirements:\\n\\nFor this particular position, fluency in either Chinese or Korean is highly recommended \\nMust have at least two years of experience working in a creative field of a visual nature: TV, Film, Commercials, Video Production, Advertising, or other similarly imaginative field\\nMust possess strong organizational and communication skills\\nMust be comfortable in an online environment. Members of your team may be spread across the country - willingness to work different time zones is hugely beneficial!\\nComputer/Web fluency: typing, browsing, search engines, spreadsheet and social media familiarity, technical proficiency and problem solving \\nKnowledge of Google Docs, Google Sheets, Basecamp, Wiredrive and Final Cut Pro\\nSports familiarity, Fluency in multiple languages and Research experience a plus\\n\\n\\nThe Details:\\n\\nTraining period is Monday- Friday, 9am - 5:30pm. If you are outside of the PDT timezone, please keep in mind that your first 2 weeks of training may be from 9 am - 5:30 pm PDT\\nFollowing training, Researchers are booked on an \\u201cas needed\\u201d project basis\\nMust be flexible with scheduling as bookings will vary based on project needs\\nMust be available to work Monday - Friday, 9 - 5:30pm in your timezone. Willingness to work different timezones is a huge plus!\\nMust be willing to work occasional late nights and weekends\\n\\n\\nThe Perks:\\n\\n$20/hr to start\\nHealthcare and other benefits begin after 90 day trial period\"}, {\"date_posted\": \"2021-04-22T11:34:00\", \"title\": \"Health I.T. Market Researcher\", \"source\": \"craigslist.com\", \"company_name\": null, \"detail_url\": \"https://sfbay.craigslist.org/pen/mar/d/menlo-park-health-it-market-researcher/7310970446.html\", \"location\": \"SF bay area / Menlo Park\", \"country\": \"United States\", \"state\": \"California\", \"city\": \"SF bay area\", \"description\": \"QR Code Link to This Post\\n\\n\\nSujansky & Associates, LLC (www.sujansky.com) is seeking a part-time researcher to collect market data for specific technologies.  The project would begin in mid-May, last approximately one month, and be do-able remotely.  \\n\\nThe project will entail researching clinical decision support, population health, consumer engagement, and other healthcare applications that require access to data from patients\\u2019 EHR records.  Such 3rd-party applications, distinct from and auxiliary to EHRs themselves, are rapidly proliferating given recent advancements in standardized APIs and federal regulations that mandate the electronic sharing of clinical data with patients.  The goal of the researcher's work will be to identify and characterize such applications, whether developed in research environments or commercial settings, and to identify the relevant developers for each application who can be contacted to collect additional data during a subsequent phase of the project.  The result of the project will be a structured directory of such applications.\\n\\nDesired qualifications include some understanding of the health care system, general familiarity with techniques for health data interoperability, resourcefulness, dogged perseverance, and attention to detail.  No specific technical skills are required, other than facility with spreadsheet and desktop database software.\\n\\nCollege graduates and suitably qualified college students may apply.\\n\\nThe position will pay $65/hour and the project will require approximately 100 hours of work.  \\n\\nThank you.\"}, {\"date_posted\": \"2021-04-22T11:34:00\", \"title\": \"Health I.T. Market Researcher\", \"source\": \"craigslist.com\", \"company_name\": null, \"detail_url\": \"https://sfbay.craigslist.org/pen/sci/d/menlo-park-health-it-market-researcher/7310970447.html\", \"location\": \"SF bay area / Menlo Park\", \"country\": \"United States\", \"state\": \"California\", \"city\": \"SF bay area\", \"description\": \"QR Code Link to This Post\\n\\n\\nSujansky & Associates, LLC (www.sujansky.com) is seeking a part-time researcher to collect market data for specific technologies.  The project would begin in mid-May, last approximately one month, and be do-able remotely.  \\n\\nThe project will entail researching clinical decision support, population health, consumer engagement, and other healthcare applications that require access to data from patients\\u2019 EHR records.  Such 3rd-party applications, distinct from and auxiliary to EHRs themselves, are rapidly proliferating given recent advancements in standardized APIs and federal regulations that mandate the electronic sharing of clinical data with patients.  The goal of the researcher's work will be to identify and characterize such applications, whether developed in research environments or commercial settings, and to identify the relevant developers for each application who can be contacted to collect additional data during a subsequent phase of the project.  The result of the project will be a structured directory of such applications.\\n\\nDesired qualifications include some understanding of the health care system, general familiarity with techniques for health data interoperability, resourcefulness, dogged perseverance, and attention to detail.  No specific technical skills are required, other than facility with spreadsheet and desktop database software.\\n\\nCollege graduates and suitably qualified college students may apply.\\n\\nThe position will pay $65/hour and the project will require approximately 100 hours of work.  \\n\\nThank you.\"}, {\"date_posted\": \"2021-04-07T13:15:00\", \"title\": \"Part Time Courier, Court Runner, Researcher, Process Server\", \"source\": \"craigslist.com\", \"company_name\": null, \"detail_url\": \"https://sfbay.craigslist.org/sby/lgl/d/san-jose-part-time-courier-court-runner/7303312775.html\", \"location\": \"SF bay area / San Jose Downtown\", \"country\": \"United States\", \"state\": \"California\", \"city\": \"SF bay area\", \"description\": \"QR Code Link to This Post\\n\\n\\nThis is an part time - entry level position.\\n\\nOur office is looking for a courier to deliver court documents to the various court houses in Santa Clara County.  We will also register the new hire with the county as a Process Server.  \\n\\nThis is a part time job from 9 AM to 1 PM Monday through Friday.\\n\\nRequirements:\\n\\n1:  Have lived in California for 1 year\\n2:  Have a vehicle, insurance, and a valid driver's license\\n3:  Be able to pass a background check through the FBI and DOJ\\n\\nMinimum wage plus $0.35 per mile.\\n\\nThe job is basically to pick up documents at our office and various offices in San Jose, and deliver them to the various courts in the county.  The job is also for a researcher to make copies of documents at the court already.\"}, {\"date_posted\": \"2021-04-23T15:41:00\", \"title\": \"Lifelong Learning Research with Marin Seniors\", \"source\": \"craigslist.com\", \"company_name\": null, \"detail_url\": \"https://sfbay.craigslist.org/nby/etc/d/mill-valley-lifelong-learning-research/7311622659.html\", \"location\": \"SF bay area\", \"country\": \"United States\", \"state\": \"California\", \"city\": \"SF bay area\", \"description\": \"QR Code Link to This Post\\n\\n\\nWe are seeking Marin County residents age 60-90 to share their views about continuing education.\\n\\nParticipants will receive a stipend of $75 for a 60-minute interview scheduled on May 3-5 or $125 for a 90-minute focus group on May 13 or 14.\\n\\nUsing your phone or your computer or tablet with webcam and internet, you will meet with our researcher to discuss lifelong learning options, including class or seminar topics that would interest you.\\n\\nIf this sounds interesting, please click the link below and answer our prequalifying questions. We will call you to schedule the interview or focus group if you meet the research requirements.\\n\\nhttps://www.surveymonkey.com/r/QPTXSN6\\n\\nMany thanks!\\n\\nHagen/Sinclair Research Recruiting Inc.\"}, {\"date_posted\": \"2021-04-21T10:53:00\", \"title\": \"Writer for Cannabis Consultancy\", \"source\": \"craigslist.com\", \"company_name\": null, \"detail_url\": \"https://sfbay.craigslist.org/nby/wri/d/sebastopol-writer-for-cannabis/7310436291.html\", \"location\": \"SF bay area / Sebastopol\", \"country\": \"United States\", \"state\": \"California\", \"city\": \"SF bay area\", \"description\": \"QR Code Link to This Post\\n\\n\\nPOSITION:\\u00a0Copy Writer\\nCOMPANY:\\u00a0421 Group, a California consultancy that offers strategic public affairs and operational support services to help cannabis businesses navigate the legal market.\\nSTATUS:\\u00a0Hourly, non-exempt. 32-40 hours per week\\u00a0\\nCOMPENSATION:\\u00a0$24-$29/hr, DOE. Eligible after a probationary period for 50% company-paid health benefits for employee and dependents, plus annual accrual of up to two weeks vacation and 6 sick days.\\nGENERAL SUMMARY OF DUTIES:\\u00a0The Researcher & Technical Writer\\u2019s main job function is to draft, refine, and finalize documents for public, private, and professional use. They also act as a research lead for 421 Group and our affiliates, gathering and organizing information both for reports and informed internal decision making. Additionally, as with all team roles, this person is an important administrator and representative to our Clients and to the community as a whole.\\nSUPERVISION RECEIVED:\\u00a0Reports to and receives primary direction from the Client Services Manager, with additional direction from the Executive Team.\\nSUPERVISION EXERCISED:\\u00a0None.\\u00a0\\nEXAMPLES OF DUTIES\\nWriting\\n\\n\\nTake the primary role in writing and refining a broad spectrum of document types, including\\n\\n\\nProject narratives for conditional use permit applications\\n\\n\\nStatus reports\\n\\n\\nCommunity Benefits reports\\n\\n\\nOpportunity assessments and feasibility reports\\n\\n\\nSurvey analyses\\n\\n\\nPress releases\\n\\n\\nTalking points for business owners and community leaders\\n\\n\\nPromotional materials\\n\\n\\nBios and public-facing profiles\\n\\n\\nEmployee communications\\n\\n\\nPublic newsletters\\n\\n\\nInvestor reports\\n\\n\\n\\n\\nIdentify optimal positioning and context for public affairs content to support 421 Group and Client goals in the context of dynamic, real-time influences and events.\\n\\n\\nTrack and assemble large-scale, collaborative documents such as applications and major reports.\\n\\n\\nOrganize material and complete writing assignments according to set standards regarding order, clarity, conciseness, style, and terminology.\\n\\n\\nEdit, standardize, and incorporate material prepared by others.\\n\\n\\nPrepare documents for print and web layout, including selection of images, infographics, and brand elements.\\u00a0\\n\\n\\nCoordinate design, duplication, and distribution of materials.\\n\\n\\nReview published materials and recommend revisions or changes in scope, format, content, and methods of reproduction and binding as needed.\\n\\n\\nCommunicate and collaborate directly with Clients and public officials on writing assignments.\\n\\n\\nRecommend changes and general improvements to Style Guide as well as methods of creative collaboration.\\n\\n\\nResearch\\n\\n\\nPrepare weekly Jurisdiction Report outlining relevant Planning Commission, Council, Board, and other meetings of governmental agencies.\\n\\n\\nCollect and organize data pertaining to private and public endeavors through surveys, internet research, and interviews.\\n\\n\\nDevelop and maintain spreadsheets for a variety of uses, utilizing formulas and statistical analysis methods to clearly and efficiently convey data.\\n\\n\\nResearching market conditions and competitive activities, political climate in new jurisdictions, conducting property and location searches, and extracting regulatory details and prepared reports.\\n\\n\\nInterview appropriate outside personnel, read journals and other material to become familiar with relevant local and state regulations, product technologies and production methods, follow industry trends, and to refine copy-writing.\\n\\n\\nAdministration\\n\\n\\nCommunicate with Clients and other stakeholders in a professional and effective manner.\\n\\n\\nMaintain orderly records and workflow documents in Google Drive, including files that are highly confidential in nature.\\u00a0\\n\\n\\nContribute to and observe a team calendar that will be utilized daily by teammates, Clients, and contractors.\\u00a0\\n\\n\\nEstablish and maintain cooperative relationships with representatives of community, consumer, employee, and public interest groups.\\n\\n\\nSupport Clients in meetings to review their projects; tracking goals, actions, ideas, questions, decisions, and deliverables.\\u00a0\\n\\n\\nConvey assignments to team members and follow up on deadlines.\\n\\n\\nPerform other duties as assigned.\\u00a0\\n\\n\\nPERFORMANCE REQUIREMENTS\\nCommunication:\\u00a0Excellent command of English, spoken and written. Ability to proofread, draft new correspondence and procedural writing from scratch; adapt language to various speakers, styles, settings, and tone. Get to know several teams and their interdependencies, quickly understand relationships and appropriate interaction for each group/individual.\\u00a0\\nProfessional Demeanor:\\u00a0Take on work in a collegial, collaborative, open, and friendly way. Ability to establish rapport and form great relationships with internal and external team members across multiple organizations and communities.Arrives on time, ready to work, every day. Communicates frequently and clearly. Meets deadlines or informs in advance of delays. Performs consistently well. Strive for extraordinary accuracy in correspondence, data management; paying careful attention to detail from initial planning to execution and follow-up. Positive energy and creative thinking. Easy going, confident, comfortable. Approaches problem-solving with an open mind, not with drama. Be willing to learn new skills.\\u00a0\\nWorkflow Management:\\u00a0Be functionally organized, toggling comfortably between digital and physical file systems. Recognize what\\u2019s most important to tackle, in what order, and be prepared to make informed, independent decisions. Able to take direction from multiple sources. Able to anticipate what should happen next, and be proactive in planning for it. What might someone need? What\\u2019s the contingency plan? Are there additional steps that can be taken to ensure completion of the greater objective? This role requires a tenacious spirit and a self-starting attitude. Able to see the whole system, understand the complexity of a situation and the magnitude of the inter-dependencies. Use good judgment in escalating issues.\\nConfidentiality:\\u00a0Maintain strictest confidentiality at all times - avoiding direct and indirect disclosure. Discretion is key due to exposure to financial data and executive-level conversations.\\u00a0\\nTECHNOLOGY & OTHER REQUIREMENTS\\n\\n\\nComputer & Devices: Highly functional on modern computers, smart phones, and other connected devices.\\n\\n\\nTyping: 60 WPM or faster, accurately.\\n\\n\\nGoogle Apps: \\u201cPower User\\u201d of Google Apps, including Drive, Docs, Sheets, Slides, and security and sharing knowledge. Able to manage multiple Google Apps email accounts.\\n\\n\\nSpreadsheets & Databases: High level of proficiency using spreadsheets for both data management and process management, exhibiting comfort and efficiency in building from scratch and elaborating to perfection.\\n\\n\\nProject Management Software: Comfortable communicating on projects using all manner of tools available.\\u00a0\\n\\n\\nAdobe Acrobat: Able to edit PDFs, combine PDFs, print as PDF, troubleshoot quality issues.\\n\\n\\nSmart phone: Must be smart-phone fluent.\\u00a0\\n\\n\\nInternet Research: Must be an internet-research expert, savvy at finding all manner of information efficiently and able to validate the reliability of the source.\\u00a0\\n\\n\\nCulture match: Support the mission and spirit of the organization.\\u00a0\\n\\n\\nUtility Access: Must have a fast and reliable internet and phone connection from your home or office. We work remote, and plan to for the foreseeable future.\\n\\n\\nEDUCATION & EXPERIENCE\\n\\n\\nFour-year degree preferred.\\n\\n\\n4 years of relevant experience required.\\n\\n\\nMust be at least 21 years old, and pass a criminal background check.\\n\\n\\nTYPICAL PHYSICAL DEMANDS\\n\\n\\nWork may require prolonged standing, sitting, some bending, stooping, and stretching.\\n\\n\\nRequires eye-hand coordination and manual dexterity sufficient to operate a computer, telephone, calculator, and other office equipment.\\n\\n\\nRequires normal range of hearing.\\n\\n\\nRequires close vision, with the ability to see color and adjust focus.\\n\\n\\nTYPICAL WORKING CONDITIONS\\n\\n\\nWork is conducted remotely for the foreseeable future. A company issued laptop is provided. Cell phone and home internet stipends are provided, as well as any materials and supplies required to conduct work. You must have access to reliable internet and cell phone service during normal business hours. This stipend shall cease should we determine the need to create a centralized work-office environment.\\n\\n\\nSome in-person meetings may occur in private and public settings. All Covid safety protocols will be followed and enforced.\\n\\n\\nWork is high energy and fast-paced, and, due to the nature of the work and the regulatory landscape, is often either very exciting or highly stressful, depending on one's perspective.\\n\\n\\nPosition requires regular availability to be scheduled for work during normal office hours which are Monday through Friday from 8:30am to 5pm, plus occasional nights, weekends, holidays, and/or events. Shifts of 6 hours or more will include a 30-60 minute unpaid meal break and duty free ten minute breaks per labor law recommendations.\\u00a0\\n\\n\\nMay require some travel.\\n\\n\\n421 Group is proud to be an equal opportunity employer.\"}, {\"date_posted\": \"2021-04-14T16:22:00\", \"title\": \"1 Full 2 Part/ paid/unpaid Volunteer for office asst, Writing/Research\", \"source\": \"craigslist.com\", \"company_name\": null, \"detail_url\": \"https://sfbay.craigslist.org/eby/wri/d/berkeley-full-part-paid-unpaid/7306960839.html\", \"location\": \"SF bay area / Berkeley\", \"country\": \"United States\", \"state\": \"California\", \"city\": \"SF bay area\", \"description\": \"QR Code Link to This Post\\n\\n\\nHello,\\n\\nWe are the International Institute of Bengal and Himalayan Basins (IIBHB), which focuses on water preservation and groundwater depletion in vulnerable areas across the globe. We have small  (office) action centers in England, India, and Bangladesh in addition to our main headquarters in Berkeley, California. We need a grant writer, editor  and computer  researcher, experience is an asset not required.\\n\\nWe are seeking paid or unpaid volunteers to assist in our work, which revolves around conducting research and assisting in writing articles/papers on topics surrounding climate change and water resources in collaboration with international coworkers. There are many opportunities for growth including for those with existing non-profit or research experience or those seeking to begin their careers without such. We have additional need for those with technical and IT skills especially related to website design. Experience is not required. \\n\\nWe also provide opportunities for housing include parking in South Berkeley that may be worked into your compensation  (worth $1100 to $1500 dollars/month on negotiation. For full time intern  position an additional monthly stipend and for part time position only Stipend  will be provided.\\n\\nPlease check out our website (iibhb.org) and submit a resume with your application.\\n\\nWe look forward to hearing from you soon, thank you.\"}, {\"date_posted\": \"2021-04-06T13:00:00\", \"title\": \"Legal Researchers, Para-legals (East Bay)\", \"source\": \"craigslist.com\", \"company_name\": null, \"detail_url\": \"https://sfbay.craigslist.org/eby/lgl/d/oakland-legal-researchers-para-legals/7302782617.html\", \"location\": \"SF bay area / Oakland Rockridge / Claremont\", \"country\": \"United States\", \"state\": \"California\", \"city\": \"SF bay area\", \"description\": \"QR Code Link to This Post\\n\\n\\nSeeking a licensed legal researcher experienced in administrative, \\nfamily and appellate law legal research 3-5 years minimum experience required!\\n\\nPay $70 - $110 hourly\\nSalary commensurate with experience\"}, {\"date_posted\": \"2021-04-05T12:53:00\", \"title\": \"Experience Management Analyst (Temporary)\", \"source\": \"craigslist.com\", \"company_name\": null, \"detail_url\": \"https://sfbay.craigslist.org/sfc/sad/d/san-francisco-experience-management/7302250488.html\", \"location\": \"SF bay area / Financial District\", \"country\": \"United States\", \"state\": \"California\", \"city\": \"SF bay area\", \"description\": \"QR Code Link to This Post\\n\\n\\nFenwick & West is a top-tier law firm with an open and inclusive culture. With more than 400 lawyers and 400 employees in  Silicon Valley, San Francisco, Santa Monica, Seattle and New York, we work with companies on the cutting edge of technology, life sciences and cleantech. For more than four decades, our firm has helped some of the world's most recognized companies become and remain market leaders. We are proud to have been named one of the Best Places to Work in the Bay Area for the twelfth year.\\n\\nFenwick is seeking for a Temporary Experience Management Analyst (approximately 12 months) who, as a detail-oriented data wrangler, will support the firm\\u2019s robust experience management system in reconciling legal experience records and conducting basic research into corporate entities and institutional investors. This position reports to the Manager of Competitive Intelligence and is a member of the Research & Intelligence team who works closely with Knowledge & Innovation and Business Development teams to support high quality reporting and analytics on the firm\\u2019s experience for the benefit of cutting edge clients in the technology and life science space. This position can be based in our Bay Area/Santa Monica (CA) or Seattle (WA) office.\\nResponsibilities Include:\\nReconcile legal experience records from a variety of internal and external sources.\\nConduct basic research into corporate entities and institutional investors.\\nDesired Skills and Qualifications:\\nImmaculate attention to detail and consistency.\\nSelf-motivated, highly organized and is able to balance multiple priorities.\\nExcellent data entry skills and relational database experience.\\nStrong communication skills, both written and verbal.\\nBasic understanding of venture capital and capital markets financings.\\nWorking knowledge of Foundation Software Group experience platform.\\nPrior experience as a researcher utilizing third party and internal databases such at Pitchbook, Lexis, Westlaw, Bloomberg and CapIQ.\\nTo be fully considered for this position, please apply directly online: https://fenwick.wd1.myworkdayjobs.com/en-US/Fenwick_External_Careers/job/Mountain-View/Temporary-Experience-Management-Analyst_R1184\"}, {\"date_posted\": \"2021-04-05T12:15:00\", \"title\": \"Experience Management Analyst (Temporary)\", \"source\": \"craigslist.com\", \"company_name\": null, \"detail_url\": \"https://sfbay.craigslist.org/pen/sad/d/mountain-view-experience-management/7302226828.html\", \"location\": \"SF bay area / Mountain View\", \"country\": \"United States\", \"state\": \"California\", \"city\": \"SF bay area\", \"description\": \"QR Code Link to This Post\\n\\n\\nFenwick & West is a top-tier law firm with an open and inclusive culture. With more than 400 lawyers and 400 employees in  Silicon Valley, San Francisco, Santa Monica, Seattle and New York, we work with companies on the cutting edge of technology, life sciences and cleantech. For more than four decades, our firm has helped some of the world's most recognized companies become and remain market leaders. We are proud to have been named one of the Best Places to Work in the Bay Area for the twelfth year.\\n\\nFenwick is seeking for a Temporary Experience Management Analyst (approximately 12 months) who, as a detail-oriented data wrangler, will support the firm\\u2019s robust experience management system in reconciling legal experience records and conducting basic research into corporate entities and institutional investors. This position reports to the Manager of Competitive Intelligence and is a member of the Research & Intelligence team who works closely with Knowledge & Innovation and Business Development teams to support high quality reporting and analytics on the firm\\u2019s experience for the benefit of cutting edge clients in the technology and life science space. This position can be based in our Bay Area/Santa Monica (CA) or Seattle (WA) office.\\nResponsibilities Include:\\nReconcile legal experience records from a variety of internal and external sources.\\nConduct basic research into corporate entities and institutional investors.\\nDesired Skills and Qualifications:\\nImmaculate attention to detail and consistency.\\nSelf-motivated, highly organized and is able to balance multiple priorities.\\nExcellent data entry skills and relational database experience.\\nStrong communication skills, both written and verbal.\\nBasic understanding of venture capital and capital markets financings.\\nWorking knowledge of Foundation Software Group experience platform.\\nPrior experience as a researcher utilizing third party and internal databases such at Pitchbook, Lexis, Westlaw, Bloomberg and CapIQ.\\nTo be fully considered for this position, please apply directly online: https://fenwick.wd1.myworkdayjobs.com/en-US/Fenwick_External_Careers/job/Mountain-View/Temporary-Experience-Management-Analyst_R1184\"}, {\"date_posted\": \"2021-04-25T17:07:00\", \"title\": \"Top SF PR Firm Seeks Junior AE's and AE's Now\", \"source\": \"craigslist.com\", \"company_name\": null, \"detail_url\": \"https://sfbay.craigslist.org/sfc/mar/d/san-francisco-top-sf-pr-firm-seeks/7312600403.html\", \"location\": \"SF bay area / Financial District\", \"country\": \"United States\", \"state\": \"California\", \"city\": \"SF bay area\", \"description\": \"QR Code Link to This Post\\n\\n\\nSinger Associates Public Relations: One of California\\u2019s leading public relations and public affairs firms is seeking Junior AEs and Account Executives in San Francisco. \\n\\nAccount Executives work across client accounts and are experienced researchers, editors, writers, and pitchers, along with being skilled and agile project managers. They are experienced enough to step up on accounts, teach teammates basic PR skills, and drive initiatives in areas where their talents stand out. \\n\\nEssential Responsibilities/Duties:\\n\\n\\u2022\\tPossess excellent writing and editing skills. Ability to contact media and write marketing materials, including press releases, pitches, source sheets, social media publishing calendars, program reports, and memos\\n\\u2022\\tDemonstrate excellent judgment and problem-solving abilities. \\n\\u2022\\tAble to develop public relations, marketing, and social media strategies with guidance and coordinate team efforts to implement them\\n\\u2022\\tManage projects using organizational skills, working with colleagues, vendors, and others while keeping project leaders apprised of status. Must be detail-oriented without losing sight of the big picture and be able to multi-task\\n\\u2022\\tUnderstand key client information, including business strategy, industry issues, products and services, key customers, and competitors. Provide client service and administrative support. Attend meetings. Handle scheduling logistics. And draft agendas and recaps \\n\\u2022\\tDevelop and maintain productive relationships with clients, editors, reporters, vendors, bloggers, and influencers \\n\\u2022\\tDemonstrate understanding of how to use \\u2013 and apply to client objectives \\u2013social media and online research tools \\n\\u2022\\tConduct research and provide reports measuring results, which includes compiling press clips and writing media placement and digital analytics reports\\n\\u2022\\tParticipate in the new business process, including research, audits, preparation of proposals, and support for new business pitches and by helping to identify new business opportunities and leads \\n\\nRequirements: \\n\\u2022\\t2-4 years of communications, PR, or transferable work experience, preferably at an agency \\n\\u2022\\tStrong social media and digital knowledge and application of skills\\n\\u2022\\tStrong research, writing, editing, and content generation skills across mediums. Ability to develop media contacts/relationships \\n\\u2022\\tImpeccable client management, customer service, interpersonal, and communication skills \\n\\u2022\\tAbility to work concurrently across multiple, diverse clients. Skilled at prioritizing workload and deliverables to meet client and team deadlines in a fast-paced environment \\n\\u2022\\tSolutions-oriented, proactive attitude, excellent organizational skills, consistent follow-through, and an eye for details\\n\\u2022\\tAbility to work independently and multi-task in a team-oriented environment \\n\\u2022\\tA sense of humor, desire to learn, and the ability to stay calm under pressure \\n\\u2022\\tBA/BS in Communications, Marketing, Public Affairs or related course of study \\n\\nWe offer competitive salaries, merit-based bonuses and promotions, commuter benefits, medical and dental benefits, profit sharing, vacation and sick leave, and a dynamic and rewarding environment with ample opportunity for professional development and growth.\"}, {\"date_posted\": \"2021-04-22T10:06:00\", \"title\": \"Tech Innovation Editor/Writer\", \"source\": \"craigslist.com\", \"company_name\": null, \"detail_url\": \"https://sfbay.craigslist.org/sfc/wri/d/san-francisco-tech-innovation-editor/7310915424.html\", \"location\": \"SF bay area / Financial District\", \"country\": \"United States\", \"state\": \"California\", \"city\": \"SF bay area\", \"description\": \"QR Code Link to This Post\\n\\n\\n\\nIf you're interested in applying for the role, you can check it out here:\\nhttps://www.hireart.com/jobs/d372fc7c/apply\\n\\n\\nHireArt is helping our client find a Tech Innovation Editor/Writer to help lead content development each month, from concept to publication.\\u00a0You\\u2019ll be a part of the technology communications editorial team, which manages a bundle of digital content channels focused on AR/VR, artificial intelligence, engineering, and other aspects of innovation that collectively reach nearly 18 million people. This is a team of storytellers \\u2014 a mix of trained journalists, video producers, and marketers.\\u00a0The ideal candidate will have 5+ years of editorial experience, preferably at a traditional media company or branded content studio. You should have a diverse portfolio of content that showcases your ability to convey complicated and nuanced topics in clear, elegant prose to targeted expert and non-expert audiences.\\u00a0This is a full-time (40 hours per week), 1-year contract position through HireArt and will be fully remote.As Tech Innovation Editor/Writer, you will:\\u00a0Help lead the development of up to 10 pieces of content each month, from concept to publication, often under tight deadlines.Manage projects across the client\\u2019s public relations, marketing, creative, product, legal, and engineering teams to outline and develop a variety of content including articles, scripts, talking points, and other materials.Research, package, write, and edit content from internal and external sources to develop insightful and engaging company and brand narratives.Help develop content beyond text-based stories including infographics, charts, videos, etc.Interview AI researchers, engineers, executives, and other people working in tech innovation.\\u00a0Use data to inform content recommendations and decisions.Work effectively with the client\\u2019s distribution lead to help content reach target audiences.\\n\\nIf you're interested in applying for the role, you can check it out here:\\nhttps://www.hireart.com/jobs/d372fc7c/apply\\n\\n\\nRequirements\\nBachelors degree in english, journalism, communications, or a related field, or equivalent experience5+ years of editorial experience, preferably at a traditional media company or branded content studioProven ability to quickly identify, research, and package story ideas that stand out in a crowded marketplace for technology contentProven ability to spot trends and themes, preferably in technology\\u00a0Proven ability to translate dense, technical information into clear, widely accessible proseExperience writing short- to long-form content under tight deadlinesExperience developing visual- and social-driven contentProven ability to work independently and as part of a highly cross-functional teamExcellent project management and organizational skills\\u00a0Proven ability to anticipate and mitigate riskStrong attention to detailMust include a portfolio link on resume showcasing relevant workCommitment: This is a full-time (40 hours per week), 1-year contract position through HireArt and will be fully remote.HireArt values diversity and is an Equal Opportunity Employer. We are interested in every qualified candidate who is eligible to work in the United States. Unfortunately, we are not able to sponsor visas.\\n\\nIf you're interested in applying for the role, you can check it out here:\\nhttps://www.hireart.com/jobs/d372fc7c/apply\"}, {\"date_posted\": \"2021-04-21T13:19:00\", \"title\": \"Mobile Research Study: Compensation available!\", \"source\": \"craigslist.com\", \"company_name\": null, \"detail_url\": \"https://sfbay.craigslist.org/sby/etc/d/los-angeles-mobile-research-study/7310526193.html\", \"location\": \"SF bay area / N/a\", \"country\": \"United States\", \"state\": \"California\", \"city\": \"SF bay area\", \"description\": \"QR Code Link to This Post\\n\\n\\nAre you overwhelmed by emotion or feeling down? Are you a cigarette smoker with a smartphone?\\n\\nResearchers at USC are seeking cigarette smokers over 21, and currently reside in California to participate in a research study. Participation involves completing questions and surveys on a smart device.\\n\\nIf you are interested in participating, call (213) 394-9320 or complete our confidential online survey at https://pmredcap.usc.edu/surveys/?s=4FEPJ8T4MM\\n\\nQualifying participants can earn up to $315 in compensation!\"}, {\"date_posted\": \"2021-04-20T13:20:00\", \"title\": \"Mobile Research Study: Compensation available!\", \"source\": \"craigslist.com\", \"company_name\": null, \"detail_url\": \"https://sfbay.craigslist.org/sfc/etc/d/los-angeles-mobile-research-study/7310010722.html\", \"location\": \"SF bay area / N/a\", \"country\": \"United States\", \"state\": \"California\", \"city\": \"SF bay area\", \"description\": \"QR Code Link to This Post\\n\\n\\nAre you a cigarette smoker with a smartphone? Do you currently live in California?\\nResearchers at USC are seeking cigarette smokers over 21 to participate in a research study. Participation involves completing questions and surveys on a smart device.\\n\\nIf you are interested in participating, call (213) 394-9320 or complete our confidential online survey at https://pmredcap.usc.edu/surveys/?s=4FEPJ8T4MM\\n\\nQualifying participants can earn up to $315 in compensation!\\nPrincipals only. Recruiters, please don't contact this job poster.\\ndo NOT contact us with unsolicited services or offers\"}, {\"date_posted\": \"2021-04-16T17:20:00\", \"title\": \"Material Handler -Temp\", \"source\": \"craigslist.com\", \"company_name\": null, \"detail_url\": \"https://sfbay.craigslist.org/eby/lab/d/richmond-material-handler-temp/7308035594.html\", \"location\": \"SF bay area\", \"country\": \"United States\", \"state\": \"California\", \"city\": \"SF bay area\", \"description\": \"QR Code Link to This Post\\n\\n\\n\\n\\nMaterial Handler -Temp\\n\\nBio-Rad Laboratories\\n\\n Perform a variety of routine, repetitive, physical and administrative tasks involving one or more of the following:\\u00a0 receiving, putting away, storing, staging, kitting, picking, packing, shipping and distribution of materials, parts, supplies, equipment, finished goods, label control, lot control or serial control.Responsibilities Perform various routine physical tasks involved in one or more areas including but not limited to receiving, storing, packing, shipping or distributing of materials, parts, supplies, equipment, finished goods, label, lot or serial control; Unpack , check goods received against work orders, purchase orders, invoices, return authorizations, or other job completion documentation; Complete or maintain records; Quarantine items if needed; Package materials including but not limited to labeling of products/packages; counting, sorting, putting printed materials in packages,; forming or breaking down boxes for final products; Operate packaging, sealing and other equipment including motorized/non motorized material handling machines, parts, supplies as needed; may operate forklift or related equipment; Examine, stock, distribute materials in inventory; Prepare kitting packages for assembly, pick/pack orders; Maintain work area neat, clean and in order; Adhere to all rules, standards, processes, instructions\\u00a0\\u00a0  Qualifications Up to 2 years related experience; HS diploma or equivalent;  Ability to read, comprehend and follow instructions;  Basic computer skills in applicable programs;  Basic arithmetic proficiency;   Experience and ability to operate forklifts, pallet jacks or applicable equipment utilized in the workplace;  Flexible, adaptable;  Basic problem solving skills;  Ability to prioritize work;   Ability to lift 50 lb items;  Communication skills  Use of radio frequency equipment,  Where applicable, knowledge of GMP, ISO, IPC, FDA, DOT, and/or IATA requirements Demonstrated knowledge of all safety policies and procedures, and handling of dangerous goods and/or hazardous materials. About Bio-Rad:Bio-Rad is a global leader\\u00a0providing\\u00a0a broad array of clinical\\u00a0diagnostics and\\u00a0life\\u00a0science\\u00a0research\\u00a0products. With a team of more than 8,000 employees and a global network of operations serving our customers, we help people live longer, healthier lives.Bio-Rad was founded over six decades ago and has continued to provide the healthcare industry with innovative and useful products that help life science researchers accelerate the discovery process and medical diagnostic labs obtain faster, better results.EEO/AA Employer/Veterans/Disabled/Race/Ethnicity/Gender/Age\\u00a0Agency Non-Solicitation:\\u00a0Bio-Rad does not accept agency resumes, unless the agency has been authorized by a Bio-Rad Recruiting Representative. Please do not submit resumes unless authorized to do so. Bio-Rad will not pay for any fees related to unsolicited resumes. \\n\\nTo apply, please visit: https://careers.bio-rad.com/jobs/material-handler-temp-richmond-california-united-states-5db4c5c6-0379-4ac1-9fc7-ff42c440f262\\n\\n\\n\\n\\n\\n\\nCopyright 2017 Jobelephant.com Inc. All rights reserved.\\n\\nPosted by the FREE value-added recruitment advertising agency \\njeid-4f6dd383a12ee34c82d1dce59436670d\"}, {\"date_posted\": \"2021-03-30T16:21:00\", \"title\": \"UCSF Pediatric Hemorrhagic Stroke Postdoctoral Research Fellowship\", \"source\": \"craigslist.com\", \"company_name\": null, \"detail_url\": \"https://sfbay.craigslist.org/sfc/sci/d/san-francisco-ucsf-pediatric/7299518458.html\", \"location\": \"SF bay area / San Francisco\", \"country\": \"United States\", \"state\": \"California\", \"city\": \"SF bay area\", \"description\": \"QR Code Link to This Post\\n\\n\\nUCSF Pediatric Hemorrhagic Stroke Postdoctoral Research Fellowship\\n\\nOpportunity:  The Center of Excellence in Pediatric Hemorrhagic Stroke Research at UCSF Benioff Children\\u2019s Hospital is seeking applicants for a two-year funded postdoctoral research fellowship.  Fellow 1 (of three funded fellowship positions) will participate in one of the Center\\u2019s three projects:\\n\\n1.\\t\\u201cPredictors of Growth, Recurrence, and High-risk Features in Pediatric Brain Arteriovenous Malformation \\n          (bAVM).\\u201d  Project 1 will investigate advanced imaging features and molecular factors associated with \\n          bAVM dynamic changes and hemorrhage.  \\n2.\\t\\u201cPredicting Outcomes in Pediatric Hemorrhagic Stroke with Personalized Connectomics.\\u201d  Project 2 will \\n          assess the utility of advanced structural and functional imaging to predict outcomes.\\n3.\\t\\u201cEpidemiology of Pediatric Hemorrhagic Stroke and bAVMs in a Multicenter International Cohort.\\u201d   \\n          Project 3 seeks to expand knowledge of pediatric HS and bAVM at a population level with an emphasis on \\n          understanding barriers to care in resource-limited settings \\n\\nDesired experience:   imaging post-processing and analysis, computational bioinformatics, and/or experience working with large-scale sequencing or expression datasets (Projects 1 & 2), or clinical research experience (Project 3). The Fellow will have the opportunity to interact and work closely with multiple teams involved in clinical, imaging, sequencing, and plasma biomarker analyses.  https://pediatricstroke.ucsf.edu/hemorrhagic-stroke-center-exellence \\n\\nThe selected fellows will develop Individual Development Plans (IDP) under the guidance of the Center Training Director.   The fellows will also benefit from the broader ASA/Bugher Foundation Network of Centers of Excellence in Hemorrhagic Stroke Research.  This includes annual Network retreats, opportunities to visit other Centers for training experiences, and a curriculum specifically designed for Hemorrhagic Stroke postdoctoral fellows by the Network Training Center.   More information about the network is on the AHA/ASA website:  https://newsroom.heart.org/news/11-12m-gift-supporting-hemorrhagic-stroke-treatment-launches-innovative-research-network \\n\\nCenter Training Director:  Heather J. Fullerton, MD, MAS, Chief of the UCSF Division of Child Neurology; vascular neurologist and NIH-funded pediatric stroke investigator \\n\\nProject PIs:  Helen Kim, PhD, Director, UCSF Center for Cerebrovascular Research, genetic epidemiologist; Jarod Roland, MD, pediatric neurosurgeon and imaging researcher; Christine Fox, MD, MAS, Director, UCSF Pediatric Stroke & Cerebrovascular Disease Center; Noma Dlamini, MD, PhD, Scientific Director, International Pediatric Stroke Study\\n\\nDuration:  2-years \\n\\nFellow 1:  July 1, 2021 through June 30, 2023\\nFellow 2:  July 1, 2022 through June 30, 2024\\nFellow 3:   July 1, 2023 through June 30, 2025\\n\\nEligibility criteria:\\n\\n\\u2022\\tDoctorate degree (MD, PhD, or equivalent)\\n\\u2022\\tUS citizen, permanent resident, or visa holder (E-3, H1-B, O-1, TN, J-1, F-1, or G-4; in place by the start \\n        date)\\n\\u2022\\tMay not hold another comparable fellowship award\\n\\u2022\\tMay not hold a faculty or staff appointment, with the exception of MDs or MD/PhDs with clinical \\n        responsibilities (may hold a title of instructor for the purpose of clinical duties)\\n\\nDiversity Statement:  Our Center is committed to promoting diversity, broadly defined as including, but not limited to, gender, race, ethnicity, disability, and sexual orientation.  \\n\\nHow to Apply:  Applicants should send their CV with a letter of interest (LOI) to Dr. Fullerton, Heather.Fullerton@ucsf.edu .  The LOI should state why the applicant is interested in the fellowship, goals for the fellowship period, how this fellowship would fit into the applicant\\u2019s overall career trajectory, and a statement about the candidate\\u2019s contributions to diversity.\"}, {\"date_posted\": \"2021-04-15T16:00:00\", \"title\": \"Do you want to help improve the lives of people with diabetes?\", \"source\": \"craigslist.com\", \"company_name\": null, \"detail_url\": \"https://sfbay.craigslist.org/sfc/etc/d/san-francisco-do-you-want-to-help/7307465479.html\", \"location\": \"SF bay area / Mission District\", \"country\": \"United States\", \"state\": \"California\", \"city\": \"SF bay area\", \"description\": \"QR Code Link to This Post\\n\\n\\nAre you 18 or older? Have you been diagnosed with diabetes? Have you been feeling down lately? \\n\\nContribute to research that will help improve the lives of people with diabetes! \\n\\nYou may be eligible for DIAMANTE, a study developed by researchers in UCSF and UC Berkeley to help people get and stay active to improve well-being and mood. Participants are encouraged to walk and receive motivational text messages as part the study.  \\n\\nEnrolling is easy! Just click on the link below to find out if you are eligible. \\n\\nLink to website: https://diamante.healthysms.org \\n\\nStudy participation is also available in Spanish.  \\n\\nParticipaci\\u00f3n en el estudio tambi\\u00e9n est\\u00e1 disponible en espa\\u00f1ol.\"}, {\"date_posted\": \"2021-04-14T09:05:00\", \"title\": \"Tech Innovation Editor/Writer\", \"source\": \"craigslist.com\", \"company_name\": null, \"detail_url\": \"https://sfbay.craigslist.org/sfc/wri/d/san-francisco-tech-innovation-editor/7306704323.html\", \"location\": \"SF bay area / Financial District\", \"country\": \"United States\", \"state\": \"California\", \"city\": \"SF bay area\", \"description\": \"QR Code Link to This Post\\n\\n\\n\\nIf you're interested in applying for the role, you can check it out here:\\nhttps://www.hireart.com/jobs/d372fc7c/apply\\n\\n\\nHireArt is helping our client find a Tech Innovation Editor/Writer to help lead content development each month, from concept to publication.\\u00a0You\\u2019ll be a part of the technology communications editorial team, which manages a bundle of digital content channels focused on AR/VR, artificial intelligence, engineering, and other aspects of innovation that collectively reach nearly 18 million people. This is a team of storytellers \\u2014 a mix of trained journalists, video producers, and marketers.\\u00a0The ideal candidate will have 5+ years of editorial experience, preferably at a traditional media company or branded content studio. You should have a diverse portfolio of content that showcases your ability to convey complicated and nuanced topics in clear, elegant prose to targeted expert and non-expert audiences.\\u00a0This is a full-time (40 hours per week), 1-year contract position through HireArt and will be fully remote.As Tech Innovation Editor/Writer, you will:\\u00a0Help lead the development of up to 10 pieces of content each month, from concept to publication, often under tight deadlines.Manage projects across the client\\u2019s public relations, marketing, creative, product, legal, and engineering teams to outline and develop a variety of content including articles, scripts, talking points, and other materials.Research, package, write, and edit content from internal and external sources to develop insightful and engaging company and brand narratives.Help develop content beyond text-based stories including infographics, charts, videos, etc.Interview AI researchers, engineers, executives, and other people working in tech innovation.\\u00a0Use data to inform content recommendations and decisions.Work effectively with the client\\u2019s distribution lead to help content reach target audiences.\\n\\nIf you're interested in applying for the role, you can check it out here:\\nhttps://www.hireart.com/jobs/d372fc7c/apply\\n\\n\\nRequirements\\nBachelors degree in english, journalism, communications, or a related field, or equivalent experience5+ years of editorial experience, preferably at a traditional media company or branded content studioProven ability to quickly identify, research, and package story ideas that stand out in a crowded marketplace for technology contentProven ability to spot trends and themes, preferably in technology\\u00a0Proven ability to translate dense, technical information into clear, widely accessible proseExperience writing short- to long-form content under tight deadlinesExperience developing visual- and social-driven contentProven ability to work independently and as part of a highly cross-functional teamExcellent project management and organizational skills\\u00a0Proven ability to anticipate and mitigate riskStrong attention to detailMust include a portfolio link on resume showcasing relevant workCommitment: This is a full-time (40 hours per week), 1-year contract position through HireArt and will be fully remote.HireArt values diversity and is an Equal Opportunity Employer. We are interested in every qualified candidate who is eligible to work in the United States. Unfortunately, we are not able to sponsor visas.\\n\\nIf you're interested in applying for the role, you can check it out here:\\nhttps://www.hireart.com/jobs/d372fc7c/apply\"}, {\"date_posted\": \"2021-04-13T19:53:00\", \"title\": \"Donor Communications Manager\", \"source\": \"craigslist.com\", \"company_name\": null, \"detail_url\": \"https://sfbay.craigslist.org/sfc/mar/d/san-francisco-donor-communications/7306514484.html\", \"location\": \"SF bay area / Financial District\", \"country\": \"United States\", \"state\": \"California\", \"city\": \"SF bay area\", \"description\": \"QR Code Link to This Post\\n\\n\\nAbout the Organization\\n\\nClimateWorks Foundation is a global organization committed to our mission: to end the climate crisis by amplifying the power of philanthropy. Since our founding in 2008, we have awarded over $1 billion in grants to more than 500 organizations advancing climate solutions around the world. We helped grow the field of climate philanthropy to where it stands today, establishing infrastructure, global networks, and momentum for continued growth. Through our Global Programs and Services, we equip philanthropy with global knowledge, networks, and solutions to drive climate progress.\\n\\n\\u2022\\tScaling solutions: Our collaborative Global Programs \\u2014 focused on solution areas including carbon dioxide removal, cooling, industry, transportation, and more \\u2014 produce results that are bending the greenhouse gas emissions curve. From the U.S. to Europe, China, Brazil, and beyond, we collaborate with a diverse community of funders, NGOs, and climate leaders to accelerate just and equitable climate solutions.\\n\\n\\u2022\\tGuiding and supporting funders: Our Global Services provide funders with comprehensive resources to assess, build, evolve, and execute high-impact climate-giving strategies. Our Global Intelligence service equips funders and the climate community with climate insights to pinpoint opportunities for impact and philanthropic insights to help identify investment priorities. We facilitate Global Collaborations that enable funders to increase individual and collective impact. Our Global Grantmaking services enable funders to invest in climate solutions around the world. \\n\\n\\u2022\\tFostering collaboration, exploration, and growth: Our collaborative approach and commitment to learning ensures that we continuously explore innovative ideas and emerging opportunities \\u2014 all with the aim of scaling philanthropy-supported initiatives to help end the climate crisis.\\n\\nAs experts in climate science, public policy, economic and social analysis, and strategic philanthropy, ClimateWorks\\u2019 staff understands the multi-faceted challenges and opportunities of climate change. We are researchers, strategists, collaborators, and grantmakers who care passionately about our mission. For more information, please visit https://www.climateworks.org. \\n\\nAbout our Team\\nClimate change is one of the defining issues of our time \\u2013 impacting our health, our safety, and our livelihoods now and for generations to come. Despite growing awareness and increased public mobilization on this issue, we are not yet on track to contain this threat. But we can be. Humanity has the solutions and the pathways to end this crisis, and collectively we can make this decade the one for climate action. \\n\\nSound compelling? We think so too. The communications and marketing team at ClimateWorks Foundation plays a key role in building awareness, generating donor interest, and promoting philanthropic collaborations that can help end the climate crisis. We\\u2019re a quickly growing team, working to expand the organization\\u2019s impact, outreach, and engagement to donors, partners, and grantees globally. \\n\\nAbout the Job\\n\\nIf you\\u2019re seeking a position where the work you do makes a difference in the world and where you can put your fingerprints on the development of something new, this job could be for you. We\\u2019re looking for an experienced manager of donor communications who can apply their strategic thinking and creativity to help build this new function at ClimateWorks. Working with our development team, you\\u2019ll help map out the development process and identify and develop materials, events, and outreach campaigns to engage and build our donor community.  \\n\\nThis is a highly collaborative role where you\\u2019ll also partner with our programs and services teams, external partners and vendors, and your teammates in our communications team to deliver on projects. Your superb ability to tell a story in words, slides, or video will come in handy as you communicate the extraordinary impact that philanthropy can have on climate change mitigation and the benefits to donors of working with ClimateWorks.\\n\\n\\nEssential Duties & Responsibilities \\n\\n\\u2022\\tCollaborate with the development team to create a communications strategy and materials to achieve annual fundraising goals.\\n\\u2022\\tSupport the development process for new climate donors by assisting with proposal development and presentations.\\n\\u2022\\tIdentify and develop succinct and compelling materials to support ClimateWorks-wide and program/service-specific fundraising, including case statements, concept notes, pitch decks, etc.\\n\\u2022\\tPartner with the development team to create targeted outreach to build donor engagement, from first contact through stewardship, across channels \\u2013 email, web, events, etc.\\n\\u2022\\tInterview donors to create stories of impact that highlight the value of the ClimateWorks platform and publish as articles, blogs, videos, etc. \\n\\u2022\\tBe a liaison between the development team and the communications and marketing team. \\n\\u2022\\tWork with in-house communications and external vendors to produce materials and execute communications plans.\\n\\u2022\\tDevelop & publish the ClimateWorks annual report.\\n\\nRequired Qualifications \\n\\n\\u2022\\t7-9 years of experience leading donor communications strategies at an organization focused on climate, environment, social justice, or research\\n\\u2022\\tDeep understanding of the development process for cultivating and stewarding major donors \\u2013 ideally foundations, family offices, and high net worth individuals\\n\\u2022\\tSuperb writing and editing skills with proven ability to translate complex concepts into crisp, clear, accessible language, especially suitable for donor communications\\n\\u2022\\tStrong storytelling ability \\u2013 communicated via words, presentations, proposals, video, and more\\n\\u2022\\tDemonstrated understanding of current trends in fundraising and communications\\n\\u2022\\tStrong project management skills, attention to detail, and ability to set priorities and complete projects in a timely manner\\n\\u2022\\tEnthusiastic and natural team player with strong communications skills and the ability to work with cross-functional, virtual, and diverse teams to develop plans and drive results\\n\\u2022\\tProficiency working with PowerPoint, Excel, and InDesign\\n\\u2022\\tA commitment to a diverse, inclusive, and equitable work environment\\n\\nPreferred Qualifications\\n\\n\\u2022\\tBachelor\\u2019s degree in communications, journalism, or related field (or equivalent relevant experience) \\n\\u2022\\tSignificant knowledge and interest in climate change, climate policy, and other relevant fields \\n\\u2022\\tPassionate about working to end the climate crisis and create a safe, equitable, and sustainable future\\n\\u2022\\tExperience working in an organization that is quickly scaling\\n\\u2022\\tFamiliarity working with marketing systems such as Word Press, Salesforce, Pardot, and Google Analytics\\n\\nLocation \\n\\nClimateWorks Foundation is based in the San Francisco Financial District. In light of COVID-19, we expect for this position to commence initially as a remote work opportunity as state and local health guidelines evolve.\\n\\nTo Apply \\n\\nClimateWorks Foundation is an equal opportunity employer and welcomes a diverse candidate pool. The Foundation recognizes diversity as an asset essential to accomplishing its work and views diversity as encompassing differences in race and gender/gender identity, as well as age, national origin, disability, sexual orientation, job skills, education, and geographic location. All qualified candidates are encouraged to apply as soon as possible.\\n\\nTo be considered for this position, interested candidates must follow the link below to submit a resume and cover letter. This position will remain open until filled.\\n\\nhttps://app.smartsheet.com/b/form/af274792b8fb4ccd81b248e19de65259\"}, {\"date_posted\": \"2021-04-13T19:53:00\", \"title\": \"Donor Communications Manager\", \"source\": \"craigslist.com\", \"company_name\": null, \"detail_url\": \"https://sfbay.craigslist.org/sfc/wri/d/san-francisco-donor-communications/7306514485.html\", \"location\": \"SF bay area / Financial District\", \"country\": \"United States\", \"state\": \"California\", \"city\": \"SF bay area\", \"description\": \"QR Code Link to This Post\\n\\n\\nAbout the Organization\\n\\nClimateWorks Foundation is a global organization committed to our mission: to end the climate crisis by amplifying the power of philanthropy. Since our founding in 2008, we have awarded over $1 billion in grants to more than 500 organizations advancing climate solutions around the world. We helped grow the field of climate philanthropy to where it stands today, establishing infrastructure, global networks, and momentum for continued growth. Through our Global Programs and Services, we equip philanthropy with global knowledge, networks, and solutions to drive climate progress.\\n\\n\\u2022\\tScaling solutions: Our collaborative Global Programs \\u2014 focused on solution areas including carbon dioxide removal, cooling, industry, transportation, and more \\u2014 produce results that are bending the greenhouse gas emissions curve. From the U.S. to Europe, China, Brazil, and beyond, we collaborate with a diverse community of funders, NGOs, and climate leaders to accelerate just and equitable climate solutions.\\n\\n\\u2022\\tGuiding and supporting funders: Our Global Services provide funders with comprehensive resources to assess, build, evolve, and execute high-impact climate-giving strategies. Our Global Intelligence service equips funders and the climate community with climate insights to pinpoint opportunities for impact and philanthropic insights to help identify investment priorities. We facilitate Global Collaborations
[...]
