{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_8146ca69-dac0-4a34-b39c-0babc14a34f0",
            "value": "✓"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "apiversion_85a89301-0025-4aca-bb90-71da6ac5ffcb",
        "apiId": "api_7ae93f98-0a38-4c69-baa9-6cc9ecc0211b"
    },
    "info": {
        "title": "Promity Face Detection",
        "description": "API for face detection in images in real time",
        "version": "v1",
        "x-category": "Visual Recognition",
        "x-long-description": "This API detect faces in images in real time from various angles. Check out our other APIs for age, gender, emotions and other attributes.\n\nVisit our website to check out what we do  more!",
        "x-website": "https://promity.com/what-we-do/ai/",
        "x-public": true,
        "x-thumbnail": "https://rapidapi-prod-apis.s3.amazonaws.com/f2204292-5a87-4895-9f4c-3e9b0efc59cc.png",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://promity-face-detection.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [],
    "paths": {
        "/face_detection/process_url": {
            "post": {
                "parameters": [
                    {
                        "name": "img_url",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "externalDocs": {},
                            "default": "https://promity.com/wp-content/uploads/2021/05/image-0111a.jpg"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "externalDocs": {},
                            "default": "application/json"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Face Detection by URL",
                "description": "Endpoint for face detection. Send us link to image, we return position of detected faces.\nCheck out our tutorials for example of usage in Python.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "detections": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "crop": {
                                                        "type": "object",
                                                        "properties": {
                                                            "x1": {
                                                                "type": "number"
                                                            },
                                                            "y1": {
                                                                "type": "number"
                                                            },
                                                            "x2": {
                                                                "type": "number"
                                                            },
                                                            "y2": {
                                                                "type": "number"
                                                            },
                                                            "score": {
                                                                "type": "number"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "New Example": {
                                        "description": "",
                                        "summary": "New Example",
                                        "value": {
                                            "detections": [
                                                {
                                                    "crop": {
                                                        "x1": 0.49029475450515747,
                                                        "y1": 0.5199255347251892,
                                                        "x2": 0.5589765906333923,
                                                        "y2": 0.38276559114456177,
                                                        "score": 0.9992923736572266
                                                    }
                                                },
                                                {
                                                    "crop": {
                                                        "x1": 0.11643223464488983,
                                                        "y1": 0.5169875025749207,
                                                        "x2": 0.18099753558635712,
                                                        "y2": 0.39529597759246826,
                                                        "score": 0.998594343662262
                                                    }
                                                },
                                                {
                                                    "crop": {
                                                        "x1": 0.8563294410705566,
                                                        "y1": 0.24784332513809204,
                                                        "x2": 0.917901873588562,
                                                        "y2": 0.12237813323736191,
                                                        "score": 0.9980091452598572
                                                    }
                                                },
                                                {
                                                    "crop": {
                                                        "x1": 0.1482899785041809,
                                                        "y1": 0.3003842234611511,
                                                        "x2": 0.20176897943019867,
                                                        "y2": 0.20043990015983582,
                                                        "score": 0.9973342418670654
                                                    }
                                                },
                                                {
                                                    "crop": {
                                                        "x1": 0.598613440990448,
                                                        "y1": 0.3124071955680847,
                                                        "x2": 0.6528789401054382,
                                                        "y2": 0.20392271876335144,
                                                        "score": 0.9954931735992432
                                                    }
                                                },
                                                {
                                                    "crop": {
                                                        "x1": 0.7280519604682922,
                                                        "y1": 0.5563205480575562,
                                                        "x2": 0.7874197959899902,
                                                        "y2": 0.4102036952972412,
                                                        "score": 0.7963487505912781
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                },
                "requestBody": {
                    "content": {},
                    "description": ""
                }
            }
        },
        "/face_detection/process_file": {
            "post": {
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Face Detection by file",
                "description": "Endpoint for face detection. Send us image, we return position of detected faces.\nCheck out our tutorials for example of usage in Python.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "detections": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "crop": {
                                                        "type": "object",
                                                        "properties": {
                                                            "x1": {
                                                                "type": "number"
                                                            },
                                                            "y1": {
                                                                "type": "number"
                                                            },
                                                            "x2": {
                                                                "type": "number"
                                                            },
                                                            "y2": {
                                                                "type": "number"
                                                            },
                                                            "score": {
                                                                "type": "number"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "New Example": {
                                        "description": "",
                                        "summary": "New Example",
                                        "value": {
                                            "detections": [
                                                {
                                                    "crop": {
                                                        "x1": 0.49029475450515747,
                                                        "y1": 0.5199255347251892,
                                                        "x2": 0.5589765906333923,
                                                        "y2": 0.38276559114456177,
                                                        "score": 0.9992923736572266
                                                    }
                                                },
                                                {
                                                    "crop": {
                                                        "x1": 0.11643223464488983,
                                                        "y1": 0.5169875025749207,
                                                        "x2": 0.18099753558635712,
                                                        "y2": 0.39529597759246826,
                                                        "score": 0.998594343662262
                                                    }
                                                },
                                                {
                                                    "crop": {
                                                        "x1": 0.8563294410705566,
                                                        "y1": 0.24784332513809204,
                                                        "x2": 0.917901873588562,
                                                        "y2": 0.12237813323736191,
                                                        "score": 0.9980091452598572
                                                    }
                                                },
                                                {
                                                    "crop": {
                                                        "x1": 0.1482899785041809,
                                                        "y1": 0.3003842234611511,
                                                        "x2": 0.20176897943019867,
                                                        "y2": 0.20043990015983582,
                                                        "score": 0.9973342418670654
                                                    }
                                                },
                                                {
                                                    "crop": {
                                                        "x1": 0.598613440990448,
                                                        "y1": 0.3124071955680847,
                                                        "x2": 0.6528789401054382,
                                                        "y2": 0.20392271876335144,
                                                        "score": 0.9954931735992432
                                                    }
                                                },
                                                {
                                                    "crop": {
                                                        "x1": 0.7280519604682922,
                                                        "y1": 0.5563205480575562,
                                                        "x2": 0.7874197959899902,
                                                        "y2": 0.4102036952972412,
                                                        "score": 0.7963487505912781
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                },
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "image_file": {
                                        "type": "string",
                                        "format": "binary",
                                        "example": ""
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}