{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_d7aff334-4c11-4be5-a0ec-c3519a5b6cb9",
            "value": "✓"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "apiversion_b40f426f-0934-4a9b-8bec-448160f7e002",
        "apiId": "api_a9051e40-fe79-4f52-9c44-1081a82ef929"
    },
    "info": {
        "title": "Forecast",
        "description": "Get 16 days weather forecast data - worldwide - geographical coordinates...",
        "version": "v1",
        "x-category": "Weather",
        "x-long-description": "---- For the past 15 years we have been collecting and analyzing weather data with our own meteorological unit, to provide the most accurate forecast possible for any given location in the world. We believe that weather is still an under-valued key business component. With this API  you can enrich and improve your website or trigger any event based on high accurate weather forecast ---\n\n--- This API provides weather forecasts worldwide: for a given location (latitude/longitude), you can get weather forecasts on daily (free) or hourly level for the next 16 days and weather stations historical data: up to 1 year--- \n\n--- Looking for ZIPCODE weather data? We offer lat/lon weather data but you can do an easy match with open data here: https://public.opendatasoft.com/explore/dataset/geonames-postal-code/table/?refine.country_code=DE (available for all countries) ---\n\n--- Looking for historical data? Check-out our History API: https://rapidapi.com/wettercom-wettercom-default/api/history3---\n\n--- But that is not all! We also collect and analyze a lot of other data not available via the API. Just shoot us a short email (info@meteonomiqs.com) to get the full catalog and pricing.---\n\nList of all available info:\n\nHourly data: Up to 16 days\n - prec sum[mm]: Total precipitation\n - prec sumAsRain[mm]: Total rainfall (In future version)\n - prec class: Precipitation class\n - prec probability[%]: Precipitation probability\n - snow line [m]: (In future version)\n - clouds high [%]: High clouds cover\n - clouds middle [%]: Middle clouds cover\n - clouds low [%]: Low clouds cover\n - weather state: Description of the weather (in German)\n - freshSnow [mm]: Snow fall (In future version)\n - sun hours [h]: Sun hours (In summary)\n  - rain hours [h]: Rain hours (In future version)\n  - wind direction: Wind direction\n  - avg wind [km/h]: Average wind speed\n  - min wind [km/h]: Minimal wind speed (In summary)\n  - max wind [km/h]: Maximal wind speed (In summary)\n  - wind gusts [km/h]: Maximal wind gust speed\n  - pressure [hPa]: Air pressure\n  - average temperature [C]: Average temperature\n  - min windchill [C]: Minimum windchill (In summary)\n  - max windchill [C]: Maximum windchill (In summary)\n  - avg windchill [C]: Average windchill\n  - relativeHumidity [%]: Relative humidity\n  - isNight: Wheater the hour is during night or not\n\nsummary: One day\n  - date: Date of the start time of the day in UTC\n  - dateWithTimezone: Start time of the day in UTC\n  - prec sum[mm]: Total precipitation\n  - prec sumAsRain[mm]: Total rainfall (In future version)\n  - prec class: Precipitation class\n  - prec probability[%]: Precipitation probability\n  - snow line avg [m]: (In future version)\n  - snow line min [m]: (In future version)\n  - snow line max [m]: (In future version)\n  - weather state: Description of the weather (in German)\n  - freshSnow [mm]: Snow fall (In future version)\n  - snowHeight [mm]: Snow height (In future version)\n  - sunHours [h]: Sun hours\n  - rain hours [h]: Rain hours (In future version)\n  - wind direction: Wind direction\n  - avg wind [km/h]: Average wind speed (In hourly)\n  - min wind [km/h]: Minimal wind speed\n  - max wind [km/h]: Maximal wind speed\n  - wind gusts [km/h]: Maximal wind gust speed (In hourly)\n  - avg temperature [C]: Average temperature (In hourly)\n  - min temperature [C]: Minimum temperature\n  - max temperature [C]: Maximum temperature\n  - min windchill [C]: Minimum windchill\n  - max windchill [C]: Maximum windchill\n  - avg windchill [C]: Average windchill (In hourly)\n  - dawn: Time of dawn\n  - sunrise: Time of sunrise\n  - suntransit: Time of suntransit\n  - sunset: Time of sunset\n  - dusk: Time of dusk\n  - moonrise: Time of moonrise\n  - moontransit: Time of moontransit\n  - moonset: Time of moonset\n  - moonphase: Moonphase (1: New Moon, 2: Waxing crescent, 3: First Quarter, 4: Waxing gibbous, 5: Full Moon, 6: Waning gibbous, 7: Last Quarter, 8: Waning crescent)\n  - moonzodiac: Moonzodiac (1: Aries, 2: Taurus, 3: Gemini, 4: Cancer, 5: Leo, 6: Virgo, 7: Libra, 8: Scorpio, 9: Sagittarius, 10: Capricorn, 11: Aquarius, 12: Pisces)\n\n# Response Codes\n\nList of response codes returned by wetter.com API\n\n### 2xx Success\nStatus Code | Status Message\n------------|----------------\n200 | OK\n204 | No Content\n\n### 3xx Redirection\nStatus Code | Status Message\n------------|----------------\n301 | Moved Permanently\n304 | Not Modified\n\n### 4xx Client errors\nStatus Code | Status Message\n------------|----------------\n400 | Bad Request\n401 | Unauthorized\n403 | Forbidden\n404 | Not Found\n405 | Method Not Allowed\n406 | Not Acceptable\n409 | Conflict\n429 | Too Many Requests\n\n### 5xx Server errors\nStatus Code | Status Message\n------------|----------------\n500 | Internal Server Error",
        "x-website": "https://www.wetter.com/apps_und_mehr/website/api/",
        "x-public": true,
        "x-thumbnail": "https://rapidapi-prod-apis.s3.amazonaws.com/3f56bbc9-744b-44be-9777-1f6821f7a5b9.png",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://forecast9.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [
        {
            "name": "RapidApi",
            "description": "All endpoints for RapidApi"
        },
        {
            "name": "API Information",
            "description": "Base API endpoints."
        }
    ],
    "paths": {
        "/rapidapi/forecast/{locationName}/hourly/": {
            "get": {
                "tags": [
                    "RapidApi"
                ],
                "summary": "Get Hourly Forecast by Location Name",
                "parameters": [
                    {
                        "name": "locationName",
                        "in": "path",
                        "required": true,
                        "description": "Location Name",
                        "schema": {
                            "type": "string",
                            "default": "Berlin"
                        }
                    }
                ],
                "operationId": "RapidApiGetHourlyForecastByLocationName",
                "description": " ",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "forecast": {
                                            "description": "Weather Information Hourly Entity",
                                            "properties": {
                                                "forecastDate": {
                                                    "description": "Date of last update format YYYY-mm-ddTHH:MM:SS",
                                                    "format": "datetime",
                                                    "type": "string"
                                                },
                                                "items": {
                                                    "description": "Forecast details",
                                                    "items": {
                                                        "description": "Forecast Detail Entity",
                                                        "properties": {
                                                            "clouds": {
                                                                "description": "Cloudage in % (high clouds, low clouds, middle clouds)",
                                                                "properties": {
                                                                    "high": {
                                                                        "description": "high clouds (%)",
                                                                        "type": [
                                                                            "integer",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "low": {
                                                                        "description": "low clouds (%)",
                                                                        "type": [
                                                                            "integer",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "middle": {
                                                                        "description": "middle clouds (%)",
                                                                        "type": [
                                                                            "integer",
                                                                            "null"
                                                                        ]
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "date": {
                                                                "description": "Date, beginning of timespan, format YYYY-mm-ddTHH:MM:SSZ",
                                                                "format": "datetime",
                                                                "type": "string"
                                                            },
                                                            "freshSnow": {
                                                                "description": "Fresh snow (m)",
                                                                "format": "float",
                                                                "maximum": 3.402823669209385e+38,
                                                                "minimum": -3.402823669209385e+38,
                                                                "type": [
                                                                    "number",
                                                                    "null"
                                                                ]
                                                            },
                                                            "isNight": {
                                                                "description": "Is night ?",
                                                                "type": "boolean"
                                                            },
                                                            "period": {
                                                                "description": "Period (h)",
                                                                "type": [
                                                                    "integer",
                                                                    "null"
                                                                ]
                                                            },
                                                            "prec": {
                                                                "description": "Precipitation",
                                                                "properties": {
                                                                    "class": {
                                                                        "description": "Precipitation class (0: no, 1: light, 2: mid, 3: heavy)",
                                                                        "type": [
                                                                            "integer",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "probability": {
                                                                        "description": "Propability of precipitation (%)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "sum": {
                                                                        "description": "Total precipitation (l/m^2)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "sumAsRain": {
                                                                        "description": "Total precipitation (l/m^2)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "pressure": {
                                                                "description": "Air Pressure in NN (hPa)",
                                                                "format": "float",
                                                                "maximum": 3.402823669209385e+38,
                                                                "minimum": -3.402823669209385e+38,
                                                                "type": [
                                                                    "number",
                                                                    "null"
                                                                ]
                                                            },
                                                            "rainHours": {
                                                                "description": "Rain duratiom (h)",
                                                                "format": "float",
                                                                "maximum": 3.402823669209385e+38,
                                                                "minimum": -3.402823669209385e+38,
                                                                "type": [
                                                                    "number",
                                                                    "null"
                                                                ]
                                                            },
                                                            "relativeHumidity": {
                                                                "description": "Relative Humidity",
                                                                "type": [
                                                                    "integer",
                                                                    "null"
                                                                ]
                                                            },
                                                            "snowLine": {
                                                                "description": "Snowfall line",
                                                                "properties": {
                                                                    "avg": {
                                                                        "description": "Snowfall line average (m)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "max": {
                                                                        "description": "Snowfall line maximum (m)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "min": {
                                                                        "description": "Snowfall line minimum (m)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "unit": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "sunHours": {
                                                                "description": "Sun duration (h)",
                                                                "format": "float",
                                                                "maximum": 3.402823669209385e+38,
                                                                "minimum": -3.402823669209385e+38,
                                                                "type": [
                                                                    "number",
                                                                    "null"
                                                                ]
                                                            },
                                                            "temperature": {
                                                                "description": "Temperature",
                                                                "properties": {
                                                                    "avg": {
                                                                        "description": "Temperature average  (°C)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "max": {
                                                                        "description": "Temperature maximum  (°C)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "min": {
                                                                        "description": "Temperature minimum  (°C)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "weather": {
                                                                "description": "Weather information (state, text, icon)",
                                                                "properties": {
                                                                    "icon": {
                                                                        "description": "Weather icon for calculated interpretation",
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "state": {
                                                                        "description": "Calculated weather interpretation",
                                                                        "type": [
                                                                            "integer",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "text": {
                                                                        "description": "Short weather text for calculated interpretation",
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "wind": {
                                                                "description": "Wind",
                                                                "properties": {
                                                                    "avg": {
                                                                        "description": "Wind average (km/h)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "direction": {
                                                                        "description": "Wind direction",
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "gusts": {
                                                                        "description": "Gust Information",
                                                                        "properties": {
                                                                            "text": {
                                                                                "type": "string"
                                                                            },
                                                                            "value": {
                                                                                "description": "Wind gust (km/h)",
                                                                                "format": "float",
                                                                                "maximum": 3.402823669209385e+38,
                                                                                "minimum": -3.402823669209385e+38,
                                                                                "type": "number"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "max": {
                                                                        "description": "Wind maximum (km/h)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "min": {
                                                                        "description": "Wind minimum (km/h)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "significationWind": {
                                                                        "default": false,
                                                                        "description": "Is signification ?",
                                                                        "type": "boolean"
                                                                    },
                                                                    "text": {
                                                                        "description": "Wind text",
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "unit": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "windchill": {
                                                                "description": "Wind chill",
                                                                "properties": {
                                                                    "avg": {
                                                                        "description": "Wind chill average (°C)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "max": {
                                                                        "description": "Wind chill maximum (°C)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "min": {
                                                                        "description": "Wind chill minimum (°C)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "title": "Forecast Detail Entity",
                                                        "type": "object"
                                                    },
                                                    "type": [
                                                        "array",
                                                        "null"
                                                    ]
                                                },
                                                "nextUpdate": {
                                                    "description": "Date of next update format YYYY-mm-ddTHH:MM:SS",
                                                    "format": "datetime",
                                                    "type": "string"
                                                },
                                                "point": {
                                                    "default": "global",
                                                    "description": "Named elevation point",
                                                    "enum": [
                                                        "global",
                                                        "lowestPoint",
                                                        "highestPoint",
                                                        null
                                                    ],
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "source": {
                                                    "description": "Weather data provider",
                                                    "type": "string"
                                                }
                                            },
                                            "title": "Weather Information Hourly Entity",
                                            "type": "object"
                                        },
                                        "location": {
                                            "description": "Location Informantion",
                                            "properties": {
                                                "code": {
                                                    "description": "Location code",
                                                    "type": "string"
                                                },
                                                "coordinates": {
                                                    "description": "Coordinates",
                                                    "properties": {
                                                        "latitude": {
                                                            "description": "Value between -90 and 90. Latitude as decimal degrees (up to 5 decimals)",
                                                            "format": "float",
                                                            "maximum": 3.402823669209385e+38,
                                                            "minimum": -3.402823669209385e+38,
                                                            "type": [
                                                                "number",
                                                                "null"
                                                            ]
                                                        },
                                                        "longitude": {
                                                            "description": "Value between -180 and 180. Longitude as decimal degrees (up to 5 decimals)",
                                                            "format": "float",
                                                            "maximum": 3.402823669209385e+38,
                                                            "minimum": -3.402823669209385e+38,
                                                            "type": [
                                                                "number",
                                                                "null"
                                                            ]
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "name": {
                                                    "description": "Name of the Location",
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "timezone": {
                                                    "description": "Time Zone",
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "title": "Base Location",
                                            "type": "object"
                                        }
                                    },
                                    "title": "Forecast Hourly",
                                    "type": "object"
                                },
                                "examples": {}
                            }
                        },
                        "description": ""
                    },
                    "304": {
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {}
                            }
                        },
                        "description": ""
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "items": {
                                                        "properties": {
                                                            "field": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "message": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "format": "uuid",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                },
                                "examples": {}
                            }
                        },
                        "description": ""
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "format": "uuid",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                },
                                "examples": {}
                            }
                        },
                        "description": ""
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "format": "uuid",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                },
                                "examples": {}
                            }
                        },
                        "description": ""
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "format": "uuid",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                },
                                "examples": {}
                            }
                        },
                        "description": ""
                    },
                    "429": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "message": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                },
                                "examples": {}
                            }
                        },
                        "description": ""
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "format": "uuid",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                },
                                "examples": {}
                            }
                        },
                        "description": ""
                    }
                }
            }
        },
        "/rapidapi/forecast/{locationName}/summary/": {
            "get": {
                "tags": [
                    "RapidApi"
                ],
                "summary": "Get Forecast Summary by Location Name",
                "parameters": [
                    {
                        "name": "locationName",
                        "in": "path",
                        "required": true,
                        "description": "Location Name",
                        "schema": {
                            "type": "string",
                            "default": "Berlin"
                        }
                    }
                ],
                "operationId": "RapidApiGetForecastSummaryByLocationName",
                "description": "Get Forecast",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "forecast": {
                                            "description": "Weather Information Summary Entity",
                                            "properties": {
                                                "forecastDate": {
                                                    "description": "Date of last update format YYYY-mm-ddTHH:MM:SS",
                                                    "format": "datetime",
                                                    "type": "string"
                                                },
                                                "items": {
                                                    "description": "Forecast summary per day",
                                                    "items": {
                                                        "description": "Forecast Summary Entity",
                                                        "properties": {
                                                            "astronomy": {
                                                                "description": "Astronomy",
                                                                "properties": {
                                                                    "dawn": {
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "dusk": {
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "moonphase": {
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "moonrise": {
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "moonset": {
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "moontransit": {
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "moonzodiac": {
                                                                        "type": [
                                                                            "integer",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "sunrise": {
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "sunset": {
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "suntransit": {
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "date": {
                                                                "description": "Forecast date format YYYY-mm-dd",
                                                                "format": "date",
                                                                "type": "string"
                                                            },
                                                            "dateWithTimezone": {
                                                                "description": "Date with timezone information",
                                                                "format": "datetime",
                                                                "type": "string"
                                                            },
                                                            "freshSnow": {
                                                                "description": "Fresh snow (m)",
                                                                "format": "float",
                                                                "maximum": 3.402823669209385e+38,
                                                                "minimum": -3.402823669209385e+38,
                                                                "type": [
                                                                    "number",
                                                                    "null"
                                                                ]
                                                            },
                                                            "prec": {
                                                                "description": "Precipitation",
                                                                "properties": {
                                                                    "class": {
                                                                        "description": "Precipitation class (0: no, 1: light, 2: mid, 3: heavy)",
                                                                        "type": [
                                                                            "integer",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "probability": {
                                                                        "description": "Propability of precipitation (%)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "sum": {
                                                                        "description": "Total precipitation (l/m^2)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "sumAsRain": {
                                                                        "description": "Total precipitation (l/m^2)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "rainHours": {
                                                                "description": "Rain duratiom (h)",
                                                                "format": "float",
                                                                "maximum": 3.402823669209385e+38,
                                                                "minimum": -3.402823669209385e+38,
                                                                "type": [
                                                                    "number",
                                                                    "null"
                                                                ]
                                                            },
                                                            "snowHeight": {
                                                                "description": "Snow height (m)",
                                                                "format": "float",
                                                                "maximum": 3.402823669209385e+38,
                                                                "minimum": -3.402823669209385e+38,
                                                                "type": [
                                                                    "number",
                                                                    "null"
                                                                ]
                                                            },
                                                            "snowLine": {
                                                                "description": "Snowfall line",
                                                                "properties": {
                                                                    "avg": {
                                                                        "description": "Snowfall line average (m)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "max": {
                                                                        "description": "Snowfall line maximum (m)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "min": {
                                                                        "description": "Snowfall line minimum (m)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "unit": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "sunHours": {
                                                                "description": "Sun duration (h)",
                                                                "format": "float",
                                                                "maximum": 3.402823669209385e+38,
                                                                "minimum": -3.402823669209385e+38,
                                                                "type": "number"
                                                            },
                                                            "temperature": {
                                                                "description": "Temperature",
                                                                "properties": {
                                                                    "avg": {
                                                                        "description": "Temperature average  (°C)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "max": {
                                                                        "description": "Temperature maximum  (°C)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "min": {
                                                                        "description": "Temperature minimum  (°C)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "weather": {
                                                                "description": "Weather information (state, text, icon)",
                                                                "properties": {
                                                                    "icon": {
                                                                        "description": "Weather icon for calculated interpretation",
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "state": {
                                                                        "description": "Calculated weather interpretation",
                                                                        "type": [
                                                                            "integer",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "text": {
                                                                        "description": "Short weather text for calculated interpretation",
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "wind": {
                                                                "description": "Wind",
                                                                "properties": {
                                                                    "avg": {
                                                                        "description": "Wind average (km/h)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "direction": {
                                                                        "description": "Wind direction",
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "gusts": {
                                                                        "description": "Gust Information",
                                                                        "properties": {
                                                                            "text": {
                                                                                "type": "string"
                                                                            },
                                                                            "value": {
                                                                                "description": "Wind gust (km/h)",
                                                                                "format": "float",
                                                                                "maximum": 3.402823669209385e+38,
                                                                                "minimum": -3.402823669209385e+38,
                                                                                "type": "number"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "max": {
                                                                        "description": "Wind maximum (km/h)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "min": {
                                                                        "description": "Wind minimum (km/h)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "significationWind": {
                                                                        "default": false,
                                                                        "description": "Is signification ?",
                                                                        "type": "boolean"
                                                                    },
                                                                    "text": {
                                                                        "description": "Wind text",
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "unit": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "windchill": {
                                                                "description": "Wind chill",
                                                                "properties": {
                                                                    "avg": {
                                                                        "description": "Wind chill average (°C)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "max": {
                                                                        "description": "Wind chill maximum (°C)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "min": {
                                                                        "description": "Wind chill minimum (°C)",
                                                                        "format": "float",
                                                                        "maximum": 3.402823669209385e+38,
                                                                        "minimum": -3.402823669209385e+38,
                                                                        "type": [
                                                                            "number",
                                                                            "null"
                                                                        ]
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "title": "Forecast Summary Entity",
                                                        "type": "object"
                                                    },
                                                    "type": [
                                                        "array",
                                                        "null"
                                                    ]
                                                },
                                                "nextUpdate": {
                                                    "description": "Date of next update format YYYY-mm-ddTHH:MM:SS",
                                                    "format": "datetime",
                                                    "type": "string"
                                                },
                                                "point": {
                                                    "default": "global",
                                                    "description": "Named elevation point",
                                                    "enum": [
                                                        "global",
                                                        "lowestPoint",
                                                        "highestPoint",
                                                        null
                                                    ],
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "source": {
                                                    "description": "Weather data provider",
                                                    "type": "string"
                                                }
                                            },
                                            "title": "Weather Information summary Entity",
                                            "type": "object"
                                        },
                                        "location": {
                                            "description": "Location Informantion",
                                            "properties": {
                                                "code": {
                                                    "description": "Location code",
                                                    "type": "string"
                                                },
                                                "coordinates": {
                                                    "description": "Coordinates",
                                                    "properties": {
                                                        "latitude": {
                                                            "description": "Value between -90 and 90. Latitude as decimal degrees (up to 5 decimals)",
                                                            "format": "float",
                                                            "maximum": 3.402823669209385e+38,
                                                            "minimum": -3.402823669209385e+38,
                                                            "type": [
                                                                "number",
                                                                "null"
                                                            ]
                                                        },
                                                        "longitude": {
                                                            "description": "Value between -180 and 180. Longitude as decimal degrees (up to 5 decimals)",
                                                            "format": "float",
                                                            "maximum": 3.402823669209385e+38,
                                                            "minimum": -3.402823669209385e+38,
                                                            "type": [
                                                                "number",
                                                                "null"
                                                            ]
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "name": {
                                                    "description": "Name of the Location",
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "timezone": {
                                                    "description": "Time Zone",
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "title": "Base Location",
                                            "type": "object"
                                        }
                                    },
                                    "title": "Forecast Summaty",
                                    "type": "object"
                                },
                                "examples": {}
                            }
                        },
                        "description": ""
                    },
                    "304": {
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {}
                            }
                        },
                        "description": ""
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "items": {
                                                        "properties": {
                                                            "field": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "message": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "format": "uuid",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                },
                                "examples": {}
                            }
                        },
                        "description": ""
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "format": "uuid",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                },
                                "examples": {}
                            }
                        },
                        "description": ""
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "format": "uuid",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                },
                                "examples": {}
                            }
                        },
                        "description": ""
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "properties": {
[...]
