{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_9e46fab5-7bc3-4625-8b4a-07f9d49390f3",
            "value": "✓"
        },
        {
            "name": "tag_10e8a904-7d78-4d2a-a42a-6b2e50ae76d4",
            "value": "Official"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "apiversion_12c87b39-eae1-43fa-aedc-67fcaf962ed4",
        "apiId": "api_a312b43b-5648-4d45-9636-d8a5e35ac697"
    },
    "info": {
        "title": "Twilio SMS",
        "description": "Twilio's Programmable SMS API helps you add robust messaging capabilities to your applications. Please read pricing details carefully.",
        "version": "v1",
        "x-category": "SMS",
        "x-long-description": "",
        "x-website": "https://www.twilio.com/",
        "x-public": true,
        "x-thumbnail": "https://rapidapi-prod-apis.s3.amazonaws.com/da/da41a577d9406fa653e53345fb8617/62fdcd2bdf8cb1ec7cd2ebcbeeb528f4.png",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://twilio-sms.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [
        {
            "name": "Phone Numbers"
        },
        {
            "name": "Pricing"
        },
        {
            "name": "Service Resource"
        },
        {
            "name": "Media Resource"
        },
        {
            "name": "Message Resource"
        }
    ],
    "paths": {
        "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/TollFree.json": {
            "get": {
                "tags": [
                    "Phone Numbers"
                ],
                "parameters": [
                    {
                        "name": "inLata",
                        "in": "query",
                        "required": false,
                        "description": "Limit results to a specific local access and transport area (LATA). Given a phone number, search within the same LATA as that number. Applies to only phone numbers in the US and Canada.",
                        "schema": {
                            "externalDocs": {}
                        }
                    },
                    {
                        "name": "nearLatLong",
                        "in": "query",
                        "required": false,
                        "description": "Given a latitude/longitude pair lat,long find geographically close numbers within distance miles. Applies to only phone numbers in the US and Canada.",
                        "schema": {
                            "externalDocs": {}
                        }
                    },
                    {
                        "name": "contains",
                        "in": "query",
                        "required": false,
                        "description": "The pattern on which to match phone numbers. Valid characters are *, 0-9, a-z, and A-Z. The * character matches any single digit. For examples, see Example 2 and Example 3. If specified, this value must have at least two characters.",
                        "schema": {
                            "externalDocs": {}
                        }
                    },
                    {
                        "name": "inPostalCode",
                        "in": "query",
                        "required": false,
                        "description": "Limit results to a particular postal code. Given a phone number, search within the same postal code as that number. Applies to only phone numbers in the US and Canada.",
                        "schema": {
                            "externalDocs": {}
                        }
                    },
                    {
                        "name": "areaCode",
                        "in": "query",
                        "required": false,
                        "description": "The area code of the phone numbers to read. Applies to only phone numbers in the US and Canada.",
                        "schema": {
                            "externalDocs": {}
                        }
                    },
                    {
                        "name": "inRateCenter",
                        "in": "query",
                        "required": false,
                        "description": "Limit results to a specific rate center, or given a phone number search within the same rate center as that number. Requires in_lata to be set as well. Applies to only phone numbers in the US and Canada.",
                        "schema": {
                            "externalDocs": {}
                        }
                    },
                    {
                        "name": "nearNumber",
                        "in": "query",
                        "required": false,
                        "description": "Given a phone number, find a geographically close number within distance miles. Distance defaults to 25 miles. Applies to only phone numbers in the US and Canada.",
                        "schema": {
                            "externalDocs": {}
                        }
                    },
                    {
                        "name": "inRegion",
                        "in": "query",
                        "required": false,
                        "description": "Limit results to a particular region, state, or province. Given a phone number, search within the same region as that number. Applies to only phone numbers in the US and Canada.",
                        "schema": {
                            "externalDocs": {}
                        }
                    },
                    {
                        "name": "excludeAllAddressRequired",
                        "in": "query",
                        "required": false,
                        "description": "Whether to exclude phone numbers that require an Address. Can be: true or false and the default is false.",
                        "schema": {
                            "externalDocs": {}
                        }
                    },
                    {
                        "name": "smsEnabled",
                        "in": "query",
                        "required": false,
                        "description": "Whether the phone numbers can receive MMS messages. Can be: true or false.",
                        "schema": {
                            "externalDocs": {}
                        }
                    },
                    {
                        "name": "distance",
                        "in": "query",
                        "required": false,
                        "description": "The search radius, in miles, for a near_ query. Can be up to 500 and the default is 25. Applies to only phone numbers in the US and Canada.",
                        "schema": {
                            "externalDocs": {}
                        }
                    },
                    {
                        "name": "inLocality",
                        "in": "query",
                        "required": false,
                        "description": "Limit results to a particular locality or city. Given a phone number, search within the same Locality as that number.",
                        "schema": {
                            "externalDocs": {}
                        }
                    },
                    {
                        "name": "excludeLocalAddressRequired",
                        "in": "query",
                        "required": false,
                        "description": "Whether to exclude phone numbers that require a local Address. Can be: true or false and the default is false.",
                        "schema": {
                            "externalDocs": {}
                        }
                    },
                    {
                        "name": "excludeForeignAddressRequired",
                        "in": "query",
                        "required": false,
                        "description": "Whether to exclude phone numbers that require a foreign Address. Can be: true or false and the default is false.",
                        "schema": {
                            "externalDocs": {}
                        }
                    },
                    {
                        "name": "beta",
                        "in": "query",
                        "required": false,
                        "description": "Whether to read phone numbers that are new to the Twilio platform. Can be:  true or false and the default is true.",
                        "schema": {
                            "externalDocs": {}
                        }
                    },
                    {
                        "name": "CountryCode",
                        "in": "path",
                        "required": true,
                        "description": "The ISO-3166-1 country code of the country from which to read phone numbers.",
                        "schema": {
                            "externalDocs": {}
                        }
                    },
                    {
                        "name": "AccountSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Account requesting the AvailablePhoneNumber resources.",
                        "schema": {
                            "externalDocs": {}
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Available Toll Free Phone Numbers",
                "description": "Returns a list of available toll free phone numbers",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/v1/Messaging/Countries/{IsoCountry}": {
            "get": {
                "tags": [
                    "Pricing"
                ],
                "parameters": [
                    {
                        "name": "IsoCountry",
                        "in": "path",
                        "required": true,
                        "description": "The ISO country code of the pricing information to fetch.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Messaging Pricing by Country",
                "description": " ",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/2010-04-01/Accounts/{AccountSid}/Messages.json": {
            "post": {
                "tags": [
                    "Message Resource"
                ],
                "parameters": [
                    {
                        "name": "smartEncoded",
                        "in": "query",
                        "required": false,
                        "description": "Whether to detect Unicode characters that have a similar GSM-7 character and replace them. Can be: true or false.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "messagingServiceSid",
                        "in": "query",
                        "required": false,
                        "description": "The SID of the Messaging Service you want to associate with the Message. Set this parameter to use the Messaging Service Settings and Copilot Features you have configured and leave the from parameter empty. When only this parameter is set, Twilio will use your enabled Copilot Features to select the from phone number for delivery.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mediaUrl",
                        "in": "query",
                        "required": false,
                        "description": "The URL of the media to send with the message. The media can be of type gif, png, and jpeg and will be formatted correctly on the recipient's device. Other types of media are also accepted. The media size limit is 5MB. To send more than one image in the message body, provide multiple media_url parameters in the POST request. You can include up to 10 media_url parameters per message. You can send images in an SMS message in only the US and Canada.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "forceDelivery",
                        "in": "query",
                        "required": false,
                        "description": "Reserved",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "interactiveData",
                        "in": "query",
                        "required": false,
                        "description": "A JSON string that represents an interactive message. An interactive message is a category of messages that includes a list picker, a time picker, and an Apple Pay request.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "maxPrice",
                        "in": "query",
                        "required": false,
                        "description": "The maximum total price in US dollars that you will pay for the message to be delivered. Can be a decimal value that has up to 4 decimal places. All messages are queued for delivery and the message cost is checked before the message is sent. If the cost exceeds max_price, the message will fail and a status of Failed is sent to the status callback. If MaxPrice is not set, the message cost is not checked.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "statusCallback",
                        "in": "query",
                        "required": false,
                        "description": "The URL we should call using the status_callback_method to send status information to your application. If specified, we POST these message status changes to the URL: queued, failed, sent, delivered, or undelivered. Twilio will POST its standard request parameters as well as some additional parameters including MessageSid, MessageStatus, and ErrorCode. If you include this parameter with the messaging_service_sid, we use this URL instead of the Status Callback URL of the Messaging Service. URLs must contain a valid hostname and underscores are not allowed.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "forceOptIn",
                        "in": "query",
                        "required": false,
                        "description": "Whether to forcefully whitelist a from:to pair. Can be: true or false.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "validityPeriod",
                        "in": "query",
                        "required": false,
                        "description": "How long in seconds the message can remain in our outgoing message queue. After this period elapses, the message fails and we call your status callback. Can be between 1 and the default value of 14,400 seconds. After a message has been accepted by a carrier, however, we cannot guarantee that the message will not be queued after this period. We recommend that this value be at least 5 seconds.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "applicationSid",
                        "in": "query",
                        "required": false,
                        "description": "The SID of the application that should receive message status. We POST a message_sid parameter and a message_status parameter with a value of sent or failed to the application's message_status_callback. If a status_callback parameter is also passed, it will be ignored and the application's message_status_callback parameter will be used.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "provideFeedback",
                        "in": "query",
                        "required": false,
                        "description": "Whether to confirm delivery of the message. Set this value to true if you are sending messages that have a trackable user action and you intend to confirm delivery of the message using the Message Feedback API. This parameter is false by default.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "required": true,
                        "description": "The destination phone number in E.164 format for SMS/MMS or Channel user address for other 3rd-party channels.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "body",
                        "in": "query",
                        "required": true,
                        "description": "The text of the message you want to send. Can be up to 1,600 characters in length.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "required": true,
                        "description": "A Twilio phone number in E.164 format, an alphanumeric sender ID, or a Channel Endpoint address that is enabled for the type of message you want to send. Phone numbers or short codes purchased from Twilio also work here. You cannot, for example, spoof messages from a private cell phone number. If you are using messaging_service_sid, this parameter must be empty.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AccountSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Account that created the Message resources to update. Obtained from the Get AccountSid Endpoint.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Send SMS (Create a Message Resource)",
                "description": "When creating a new message via the API, you must include the To parameter. This value should be either a destination phone number or a Channel address. You also need to pass a Body or MediaUrl containing the message's content.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            },
            "get": {
                "tags": [
                    "Message Resource"
                ],
                "parameters": [
                    {
                        "name": "from",
                        "in": "query",
                        "required": false,
                        "description": "Read messages sent from only this phone number or alphanumeric sender ID.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dateSent",
                        "in": "query",
                        "required": false,
                        "description": "The date of the messages to show. Specify a date as YYYY-MM-DD in GMT to read only messages sent on this date. For example: 2009-07-06. You can also specify an inequality, such as DateSent<=YYYY-MM-DD, to read messages sent on or before midnight on a date, and DateSent>=YYYY-MM-DD to read messages sent on or after midnight on a date.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "required": false,
                        "description": "Read messages sent to only this phone number.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AccountSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Account that created the Message resources to update. Obtained from the Get AccountSid Endpoint.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Fetch Multiple Message Resources",
                "description": "Returns a list of messages associated with your account. The list includes paging information.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/2010-04-01/Accounts/{AccountSid}/Messages/{Sid}.json": {
            "delete": {
                "tags": [
                    "Message Resource"
                ],
                "parameters": [
                    {
                        "name": "AccountSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Account that created the Message resources to update. Obtained from the Get AccountSid Endpoint.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Sid",
                        "in": "path",
                        "required": true,
                        "description": "The Twilio-provided string that uniquely identifies the Message resource to update.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Delete a Message Resource",
                "description": "Deletes a message record from your account. Once the record is deleted, it will no longer appear in the API and Account Portal logs.  If successful, returns HTTP 204 (No Content) with no body.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            },
            "get": {
                "tags": [
                    "Message Resource"
                ],
                "parameters": [
                    {
                        "name": "AccountSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Account that created the Message resources to update. Obtained from the Get AccountSid Endpoint.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Sid",
                        "in": "path",
                        "required": true,
                        "description": "The Twilio-provided string that uniquely identifies the Message resource to update.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Fetch a Message Resource",
                "description": "Returns a single message specified by the provided Message {SID}.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            },
            "post": {
                "tags": [
                    "Message Resource"
                ],
                "parameters": [
                    {
                        "name": "Sid",
                        "in": "path",
                        "required": true,
                        "description": "The Twilio-provided string that uniquely identifies the Message resource to update.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AccountSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Account that will create the resource. Obtained from the Get AccountSide Endpoint",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "body",
                        "in": "query",
                        "required": true,
                        "description": "The text of the message you want to send. Can be up to 1,600 characters long.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Update a Message Resource",
                "description": "Updates the body of a Message resource.  This action is primarily used to redact messages: to do so, POST to the above URI and set the Body parameter as an empty string: \"\". This will allow you to effectively redact the text of a message while keeping the other message resource properties intact.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/2010-04-01/Accounts/{AccountSid}/Messages/{MessageSid}/Media/{Sid}.json": {
            "delete": {
                "tags": [
                    "Media Resource"
                ],
                "parameters": [
                    {
                        "name": "MessageSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Message resource that this Media resource belongs to.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AccountSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Account that created the Message resources to update. Obtained from the Get AccountSid Endpoint.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Sid",
                        "in": "path",
                        "required": true,
                        "description": "The Twilio-provided string that uniquely identifies the Media resource to delete",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Delete a Media Resouce",
                "description": "Deletes Media from your account.  If successful, returns HTTP 204 (No Content) with no body.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            },
            "get": {
                "tags": [
                    "Media Resource"
                ],
                "parameters": [
                    {
                        "name": "MessageSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Message resource that this Media resource belongs to.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AccountSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Account that created the Message resources to update. Obtained from the Get AccountSid Endpoint.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Sid",
                        "in": "path",
                        "required": true,
                        "description": "The Twilio-provided string that uniquely identifies the Media resource to fetch",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Fetch a Media Resource",
                "description": "Returns a single media resource using one of several representations:",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/2010-04-01/Accounts/{AccountSid}/IncomingPhoneNumbers.json": {
            "post": {
                "tags": [
                    "Phone Numbers"
                ],
                "parameters": [
                    {
                        "name": "areaCode",
                        "in": "query",
                        "required": false,
                        "description": "The desired area code for your new incoming phone number. Can be any three-digit, US or Canada area code. We will provision an available phone number within this area code for you. You must provide an area_code or a phone_number. (US and Canada only).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "identitySid",
                        "in": "query",
                        "required": false,
                        "description": "The SID of the Identity resource that we should associate with the new phone number. Some regions require an identity to meet local regulations.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "phoneNumber",
                        "in": "query",
                        "required": false,
                        "description": "The phone number to purchase specified in E.164 format. E.164 phone numbers consist of a + followed by the country code and subscriber number without punctuation characters. For example, +14155551234.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "statusCallbackMethod",
                        "in": "query",
                        "required": false,
                        "description": "The HTTP method we should use to call status_callback. Can be: GET or POST and defaults to POST.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "statusCallback",
                        "in": "query",
                        "required": false,
                        "description": "The URL we should call using the status_callback_method to send status information to your application.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "addressSid",
                        "in": "query",
                        "required": false,
                        "description": "The SID of the Address resource we should associate with the new phone number. Some regions require addresses to meet local regulations.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "friendlyName",
                        "in": "query",
                        "required": false,
                        "description": "A descriptive string that you created to describe the new phone number. It can be up to 64 characters long. By default, this is a formatted version of the new phone number.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "phoneNumberType",
                        "in": "query",
                        "required": true,
                        "description": "Allowed values: `local` `mobile` or `toll free`",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AccountSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Account that will create the resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "countryCode",
                        "in": "query",
                        "required": true,
                        "description": "The ISO-3166-1 country code of the country from which to buy a phone number.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Buy a Phone Number",
                "description": "Purchase a Twilio phone number to send an SMS",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            },
            "get": {
                "tags": [
                    "Phone Numbers"
                ],
                "parameters": [
                    {
                        "name": "beta",
                        "in": "query",
                        "required": false,
                        "description": "Whether to include phone numbers new to the Twilio platform. Can be: true or false and the default is true.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "phoneNumber",
                        "in": "query",
                        "required": false,
                        "description": "The phone numbers of the IncomingPhoneNumber resources to read. You can specify partial numbers and use '*' as a wildcard for any digit.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "friendlyName",
                        "in": "query",
                        "required": false,
                        "description": "A string that identifies the IncomingPhoneNumber resources to read.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "origin",
                        "in": "query",
                        "required": false,
                        "description": "Whether to include phone numbers based on their origin. Can be: twilio or hosted. By default, phone numbers of all origin are included.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AccountSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Account that created the IncomingPhoneNumber resources to read.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Fetch Multiple Phone Numbers",
                "description": "Retrieve a list of phone numbers associated with your account",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/v1/Services": {
            "post": {
                "tags": [
                    "Service Resource"
                ],
                "parameters": [
                    {
                        "name": "inboundRequestUrl",
                        "in": "query",
                        "required": false,
                        "description": "A webhook request is made to the Inbound Request URL when a message is received by any phone number or shortcode associated to your Messaging Service. Set to null to disable inbound messaging.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stickySender",
                        "in": "query",
                        "required": false,
                        "description": "Configuration to enable or disable Sticky Sender on your Service Instance. Possible values are true and false. Default value is true.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "areaCodeGeomatch",
                        "in": "query",
                        "required": false,
                        "description": "Configuration to enable or disable Area Code Geomatch. Possible values are true and false. Default value is false.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "inboundMethod",
                        "in": "query",
                        "required": false,
                        "description": "The HTTP method used when making requests to the Inbound Request URL. Either GET or POST. Default value is POST.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fallbackToLongCode",
                        "in": "query",
                        "required": false,
                        "description": "Configuration to enable or disable Fallback to Long Code. Possible values are true and false. Default value is false.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fallbackUrl",
                        "in": "query",
                        "required": false,
                        "description": "A request is made to the Fallback URL if an error occurs with retrieving or executing the TwiML from you Inbound Request URL.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "statusCallback",
                        "in": "query",
                        "required": false,
                        "description": "A webhook request is made to the Status Callback to pass status updates about your messages. These status updates let you know if your accepted message were successfully sent and delivered or if a delivery related error may have occurred.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "smartEncoding",
                        "in": "query",
                        "required": false,
                        "description": "Configuration to enable or disable Smart Encoding. Possible values are true and false. Default value is true.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "validityPeriod",
                        "in": "query",
                        "required": false,
                        "description": "Configuration to set the validity period of all messages sent from your Service, in seconds. Acceptable integers range from 1 to 14,400. Default value is 14,400.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mmsConverter",
                        "in": "query",
                        "required": false,
                        "description": "Configuration to enable or disable MMS Converter on your Service Instance. Possible values are true and false. Default value is true.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "friendlyName",
                        "in": "query",
                        "required": true,
                        "description": "A human readable descriptive text for this resource, up to 64 characters.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Create a Service Resource",
                "description": "The Services resource of Messaging represents a set of configurable behavior for sending and receiving Messages.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            },
            "get": {
                "tags": [
                    "Service Resource"
                ],
                "operationId": "Read Multiple Service Resources",
                "description": " ",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/v1/Services/{Sid}": {
            "get": {
                "tags": [
                    "Service Resource"
                ],
                "parameters": [
                    {
                        "name": "Sid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Fetch a Service Resource",
                "description": " ",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            },
            "delete": {
                "tags": [
                    "Service Resource"
                ],
                "parameters": [
                    {
                        "name": "Sid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Delete a Service Resource",
                "description": "When a Service is deleted, all phone numbers and short codes in the Service are returned to your Account.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            },
            "post": {
                "tags": [
                    "Service Resource"
                ],
                "parameters": [
                    {
                        "name": "smartEncoding",
                        "in": "query",
                        "required": false,
                        "description": "Configuration to enable or disable Smart Encoding. Possible values are true and false. Default value is true.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fallbackToLongCode",
                        "in": "query",
                        "required": false,
                        "description": "Configuration to enable or disable Fallback to Long Code. Possible values are true and false. Default value is false.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fallbackUrl",
                        "in": "query",
                        "required": false,
                        "description": "A request is made to the Fallback URL if an error occurs with retrieving or executing the TwiML from you Inbound Request URL.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stickySender",
                        "in": "query",
                        "required": false,
                        "description": "Configuration to enable or disable Sticky Sender on your Service Instance. Possible values are true and false. Default value is true.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "areaCodeGeomatch",
                        "in": "query",
                        "required": false,
                        "description": "Configuration to enable or disable Area Code Geomatch. Possible values are true and false. Default value is false.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "statusCallback",
                        "in": "query",
                        "required": false,
                        "description": "A webhook request is made to the Status Callback to pass status updates about your messages. These status updates let you know if your accepted message were successfully sent and delivered or if a delivery related error may have occurred.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "inboundMethod",
                        "in": "query",
                        "required": false,
                        "description": "The HTTP method used when making requests to the Inbound Request URL. Either GET or POST. Default value is POST.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mmsConverter",
                        "in": "query",
                        "required": false,
                        "description": "Configuration to enable or disable MMS Converter on your Service Instance. Possible values are true and false. Default value is true.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "validityPeriod",
                        "in": "query",
                        "required": false,
                        "description": "Configuration to set the validity period of all messages sent from your Service, in seconds. Acceptable integers range from 1 to 14,400. Default value is 14,400.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "inboundRequestUrl",
                        "in": "query",
                        "required": false,
                        "description": "A webhook request is made to the Inbound Request URL when a message is received by any phone number or shortcode associated to your Messaging Service. Set to null to disable inbound messaging.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Sid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "friendlyName",
                        "in": "query",
                        "required": true,
                        "description": "A human readable descriptive text for this resource, up to 64 characters.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Update a Service Resource",
                "description": "You may specify one or more of the optional parameters above to update the Service's respective properties. Parameters not specified in your request are not updated.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/2010-04-01/Accounts/{AccountSid}/IncomingPhoneNumbers/{sid}.json": {
            "delete": {
                "tags": [
                    "Phone Numbers"
                ],
                "parameters": [
                    {
                        "name": "sid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AccountSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Account that will create the resource.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Delete a Phone Number",
                "description": "Delete a Twilio phone number registered to your account",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/2010-04-01/Accounts/{AccountSid}/IncomingPhoneNumbers/{Sid}.json": {
            "post": {
                "tags": [
                    "Phone Numbers"
                ],
                "parameters": [
                    {
                        "name": "statusCallback",
                        "in": "query",
                        "required": false,
                        "description": "The URL we should call using the status_callback_method to send status information to your application.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "addressSid",
                        "in": "query",
                        "required": false,
                        "description": "The SID of the Address resource we should associate with the phone number. Some regions require addresses to meet local regulations.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "emergencyAddressSid",
                        "in": "query",
                        "required": false,
                        "description": "The SID of the emergency address configuration to use for emergency calling from this phone number.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "emergencyStatus",
                        "in": "query",
                        "required": false,
                        "description": "The configuration status parameter that determines whether the phone number is enabled for emergency calling.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "statusCallbackMethod",
                        "in": "query",
                        "required": false,
                        "description": "The HTTP method we should use to call status_callback. Can be: GET or POST and defaults to POST.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "required": false,
                        "description": "The API version to use for incoming calls made to the phone number. The default is 2010-04-01.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "friendlyName",
                        "in": "query",
                        "required": false,
                        "description": "A descriptive string that you created to describe this phone number. It can be up to 64 characters long. By default, this is a formatted version of the phone number.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "smsApplicationSid",
                        "in": "query",
                        "required": false,
                        "description": "The SID of the application that should handle SMS messages sent to the number. If an sms_application_sid is present, we ignore all of the sms_*_url urls and use those set on the application.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "identitySid",
                        "in": "query",
                        "required": false,
                        "description": "The SID of the Identity resource that we should associate with the phone number. Some regions require an identity to meet local regulations.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "voiceApplicationSid",
                        "in": "query",
                        "required": false,
                        "description": "The SID of the application we should use to handle phone calls to the phone number. If a voice_application_sid is present, we ignore all of the voice urls and use only those set on the application. Setting a voice_application_sid will automatically delete your trunk_sid and vice versa.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "trunkSid",
                        "in": "query",
                        "required": false,
                        "description": "The SID of the Trunk we should use to handle phone calls to the phone number. If a trunk_sid is present, we ignore all of the voice urls and voice applications and use only those set on the Trunk. Setting a trunk_sid will automatically delete your voice_application_sid and vice versa.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "voiceCallerIdLookup",
                        "in": "query",
                        "required": false,
                        "description": "Whether to lookup the caller's name from the CNAM database and post it to your app. Can be: true or false and defaults to false.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "Sid",
                        "in": "path",
                        "required": true,
                        "description": "The Twilio-provided string that uniquely identifies the IncomingPhoneNumber resource to update.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AccountSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Account that created the IncomingPhoneNumber resource to update. For more information, see Exchanging Numbers Between Subaccounts.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Update a Phone Number",
                "description": "Update a phone number",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            },
            "get": {
                "tags": [
                    "Phone Numbers"
                ],
                "parameters": [
                    {
                        "name": "AccountSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Account that created the IncomingPhoneNumber resource to fetch.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Sid",
                        "in": "path",
                        "required": true,
                        "description": "The Twilio-provided string that uniquely identifies the IncomingPhoneNumber resource to fetch.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Fetch a Phone Number",
                "description": "Retrieve a Twilio phone number registered to your account",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/Local.json": {
            "get": {
                "tags": [
                    "Phone Numbers"
                ],
                "parameters": [
                    {
                        "name": "areaCode",
                        "in": "query",
                        "required": false,
                        "description": "The area code of the phone numbers to read. Applies to only phone numbers in the US and Canada.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "smsEnabled",
                        "in": "query",
                        "required": false,
                        "description": "Whether the phone numbers can receive text messages. Can be: true or false.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "distance",
                        "in": "query",
                        "required": false,
                        "description": "The search radius, in miles, for a near_ query. Can be up to 500 and the default is 25. Applies to only phone numbers in the US and Canada.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "nearNumber",
                        "in": "query",
                        "required": false,
                        "description": "Given a phone number, find a geographically close number within distance miles. Distance defaults to 25 miles. Applies to only phone numbers in the US and Canada.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "nearLatLong",
                        "in": "query",
                        "required": false,
                        "description": "Given a latitude/longitude pair lat,long find geographically close numbers within distance miles. Applies to only phone numbers in the US and Canada.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "excludeAllAddressRequired",
                        "in": "query",
                        "required": false,
                        "description": "Whether to exclude phone numbers that require an Address. Can be: true or false and the default is false.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "mmsEnabled",
                        "in": "query",
                        "required": false,
                        "description": "Whether the phone numbers can receive MMS messages. Can be: true or false.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "excludeLocalAddressRequired",
                        "in": "query",
                        "required": false,
                        "description": "Whether to exclude phone numbers that require a local Address. Can be: true or false and the default is false.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "inPostalCode",
                        "in": "query",
                        "required": false,
                        "description": "Limit results to a particular postal code. Given a phone number, search within the same postal code as that number. Applies to only phone numbers in the US and Canada.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "inRegion",
                        "in": "query",
                        "required": false,
                        "description": "Limit results to a particular region, state, or province. Given a phone number, search within the same region as that number. Applies to only phone numbers in the US and Canada.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "excludeForeignAddressRequired",
                        "in": "query",
                        "required": false,
                        "description": "Whether to exclude phone numbers that require a foreign Address. Can be: true or false and the default is false.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "inLata",
                        "in": "query",
                        "required": false,
                        "description": "Limit results to a specific local access and transport area (LATA). Given a phone number, search within the same LATA as that number. Applies to only phone numbers in the US and Canada.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "inRateCenter",
                        "in": "query",
                        "required": false,
                        "description": "Limit results to a specific rate center, or given a phone number search within the same rate center as that number. Requires in_lata to be set as well. Applies to only phone numbers in the US and Canada.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "beta",
                        "in": "query",
                        "required": false,
                        "description": "Whether to read phone numbers that are new to the Twilio platform. Can be:  true or false and the default is true.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "contains",
                        "in": "query",
                        "required": false,
                        "description": "The pattern on which to match phone numbers. Valid characters are *, 0-9, a-z, and A-Z. The * character matches any single digit. For examples, see Example 2 and Example 3. If specified, this value must have at least two characters.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "inLocality",
                        "in": "query",
                        "required": false,
                        "description": "Limit results to a particular locality or city. Given a phone number, search within the same Locality as that number.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AccountSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Account requesting the AvailablePhoneNumber resources.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "CountryCode",
                        "in": "path",
                        "required": true,
                        "description": "The ISO-3166-1 country code of the country from which to read phone numbers.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Available Local Phone Numbers",
                "description": "Returns a list of available local phone numbers",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/2010-04-01/Accounts/{AccountSid}/Messages/{MessageSid}/Media.json": {
            "get": {
                "tags": [
                    "Media Resource"
                ],
                "parameters": [
                    {
                        "name": "dateCreated",
                        "in": "query",
                        "required": false,
                        "description": "The date_created value, specified as YYYY-MM-DD, of the resources to read. You can also specify inequality, such as DateCreated<=YYYY-MM-DD for media generated at or before midnight on a date, and DateCreated>=YYYY-MM-DD for media generated at or after midnight on a date.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "MessageSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Message resource that this Media resource belongs to.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AccountSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Account that created the Message resources to update. Obtained from the Get AccountSid Endpoint.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Read Multiple Media Resources",
                "description": "Returns a list of media associated with your message. The list includes paging information.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/Mobile.json": {
            "get": {
                "tags": [
                    "Phone Numbers"
                ],
                "parameters": [
                    {
                        "name": "excludeAllAddressRequired",
                        "in": "query",
                        "required": false,
                        "description": "Whether to exclude phone numbers that require an Address. Can be: true or false and the default is false.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "inLocality",
                        "in": "query",
                        "required": false,
                        "description": "Limit results to a particular locality or city. Given a phone number, search within the same Locality as that number.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "smsEnabled",
                        "in": "query",
                        "required": false,
                        "description": "Whether the phone numbers can receive MMS messages. Can be: true or false.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "distance",
                        "in": "query",
                        "required": false,
                        "description": "The search radius, in miles, for a near_ query. Can be up to 500 and the default is 25. Applies to only phone numbers in the US and Canada.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "excludeForeignAddressRequired",
                        "in": "query",
                        "required": false,
                        "description": "Whether to exclude phone numbers that require a foreign Address. Can be: true or false and the default is false.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "inPostalCode",
                        "in": "query",
                        "required": false,
                        "description": "Limit results to a particular postal code. Given a phone number, search within the same postal code as that number. Applies to only phone numbers in the US and Canada.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "beta",
                        "in": "query",
                        "required": false,
                        "description": "Whether to read phone numbers that are new to the Twilio platform. Can be:  true or false and the default is true.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "contains",
                        "in": "query",
                        "required": false,
                        "description": "The pattern on which to match phone numbers. Valid characters are *, 0-9, a-z, and A-Z. The * character matches any single digit. For examples, see Example 2 and Example 3. If specified, this value must have at least two characters.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "excludeLocalAddressRequired",
                        "in": "query",
                        "required": false,
                        "description": "Whether to exclude phone numbers that require a local Address. Can be: true or false and the default is false.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "nearNumber",
                        "in": "query",
                        "required": false,
                        "description": "Given a phone number, find a geographically close number within distance miles. Distance defaults to 25 miles. Applies to only phone numbers in the US and Canada.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "areaCode",
                        "in": "query",
                        "required": false,
                        "description": "The area code of the phone numbers to read. Applies to only phone numbers in the US and Canada.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "inRegion",
                        "in": "query",
                        "required": false,
                        "description": "Limit results to a particular region, state, or province. Given a phone number, search within the same region as that number. Applies to only phone numbers in the US and Canada.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "nearLatLong",
                        "in": "query",
                        "required": false,
                        "description": "Given a latitude/longitude pair lat,long find geographically close numbers within distance miles. Applies to only phone numbers in the US and Canada.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "inRateCenter",
                        "in": "query",
                        "required": false,
                        "description": "Limit results to a specific rate center, or given a phone number search within the same rate center as that number. Requires in_lata to be set as well. Applies to only phone numbers in the US and Canada.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "inLata",
                        "in": "query",
                        "required": false,
                        "description": "Limit results to a specific local access and transport area (LATA). Given a phone number, search within the same LATA as that number. Applies to only phone numbers in the US and Canada.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "CountryCode",
                        "in": "path",
                        "required": true,
                        "description": "The ISO-3166-1 country code of the country from which to read phone numbers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AccountSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Account requesting the AvailablePhoneNumber resources.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Available Mobile Phone Numbers",
                "description": "Returns a list of available mobile phone numbers",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/2010-04-01/Account": {
            "get": {
                "operationId": "Fetch an Account Resource",
                "description": "Returns a representation of an account, including the properties above.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        }
    }
}