{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_237a01c6-8903-4089-b7f2-f36682c2e0b9",
            "value": "✓"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "apiversion_8eb0bd28-182c-478d-ab63-4bd9b6c9b545",
        "apiId": "api_27ebff1f-cf06-46c0-b458-9ff9f7f0b071"
    },
    "info": {
        "title": "COVID-19",
        "description": "Get statistics for all countries about COVID-19 [FREE TO USE]",
        "version": "v1",
        "x-category": "Health and Fitness",
        "x-long-description": "Get statistics for all countries about COVID-19 [FREE TO USE].  Updated every 15 minutes. Documentation : https://api-sports.io/documentation/covid-19",
        "x-website": "https://api-sports.io/documentation/covid-19",
        "x-public": true,
        "x-thumbnail": "https://rapidapi-prod-collections.s3.amazonaws.com/1934d868-b8b9-40bf-a3a0-a978f007f89d.png",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://covid-193.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [],
    "paths": {
        "/countries": {
            "get": {
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "description": "allows to search for a country",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Countries",
                "description": "Get all available countries",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/history": {
            "get": {
                "parameters": [
                    {
                        "name": "day",
                        "in": "query",
                        "required": false,
                        "description": "Filter by day",
                        "schema": {
                            "type": "string",
                            "example": "2020-06-02"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": true,
                        "description": "Name of the country, [All] For global History",
                        "schema": {
                            "type": "string",
                            "example": "usa"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "History",
                "description": "Get historical statistics for a country",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Response": {
                                        "description": "",
                                        "summary": "Response",
                                        "value": {
                                            "errors": [],
                                            "get": "history",
                                            "parameters": {
                                                "country": "usa",
                                                "day": "2020-06-02"
                                            },
                                            "response": [
                                                {
                                                    "cases": {
                                                        "1M_pop": "5665",
                                                        "active": 1146293,
                                                        "critical": 16939,
                                                        "new": "+14945",
                                                        "recovered": 620129,
                                                        "total": 1874268
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "326",
                                                        "new": "+921",
                                                        "total": 107846
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "55745",
                                                        "total": 18443243
                                                    },
                                                    "time": "2020-06-02T20:45:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5663",
                                                        "active": 1146945,
                                                        "critical": 16939,
                                                        "new": "+14330",
                                                        "recovered": 618867,
                                                        "total": 1873653
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "326",
                                                        "new": "+916",
                                                        "total": 107841
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "55634",
                                                        "total": 18406453
                                                    },
                                                    "time": "2020-06-02T20:30:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5661",
                                                        "active": 1146359,
                                                        "critical": 16949,
                                                        "new": "+13686",
                                                        "recovered": 618867,
                                                        "total": 1873009
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "326",
                                                        "new": "+858",
                                                        "total": 107783
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "55614",
                                                        "total": 18399716
                                                    },
                                                    "time": "2020-06-02T20:15:07+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5659",
                                                        "active": 1145766,
                                                        "critical": 16949,
                                                        "new": "+13073",
                                                        "recovered": 618867,
                                                        "total": 1872396
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "326",
                                                        "new": "+838",
                                                        "total": 107763
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "55382",
                                                        "total": 18323004
                                                    },
                                                    "time": "2020-06-02T20:00:07+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5653",
                                                        "active": 1143751,
                                                        "critical": 16949,
                                                        "new": "+10915",
                                                        "recovered": 618867,
                                                        "total": 1870238
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "325",
                                                        "new": "+695",
                                                        "total": 107620
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "55382",
                                                        "total": 18323004
                                                    },
                                                    "time": "2020-06-02T19:45:07+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5653",
                                                        "active": 1143749,
                                                        "critical": 16949,
                                                        "new": "+10913",
                                                        "recovered": 618867,
                                                        "total": 1870236
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "325",
                                                        "new": "+695",
                                                        "total": 107620
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "55382",
                                                        "total": 18323004
                                                    },
                                                    "time": "2020-06-02T19:30:05+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5650",
                                                        "active": 1142902,
                                                        "critical": 16949,
                                                        "new": "+10066",
                                                        "recovered": 618867,
                                                        "total": 1869389
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "325",
                                                        "new": "+695",
                                                        "total": 107620
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "55382",
                                                        "total": 18323004
                                                    },
                                                    "time": "2020-06-02T19:15:07+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5650",
                                                        "active": 1142740,
                                                        "critical": 16949,
                                                        "new": "+9867",
                                                        "recovered": 618867,
                                                        "total": 1869190
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "325",
                                                        "new": "+658",
                                                        "total": 107583
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "55382",
                                                        "total": 18323004
                                                    },
                                                    "time": "2020-06-02T19:00:07+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5649",
                                                        "active": 1142682,
                                                        "critical": 16949,
                                                        "new": "+9806",
                                                        "recovered": 618867,
                                                        "total": 1869129
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "325",
                                                        "new": "+655",
                                                        "total": 107580
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "55382",
                                                        "total": 18323004
                                                    },
                                                    "time": "2020-06-02T18:30:09+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5648",
                                                        "active": 1142323,
                                                        "critical": 16949,
                                                        "new": "+9398",
                                                        "recovered": 618864,
                                                        "total": 1868721
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "325",
                                                        "new": "+609",
                                                        "total": 107534
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "55347",
                                                        "total": 18311607
                                                    },
                                                    "time": "2020-06-02T18:15:07+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5648",
                                                        "active": 1142106,
                                                        "critical": 16949,
                                                        "new": "+9177",
                                                        "recovered": 618864,
                                                        "total": 1868500
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "325",
                                                        "new": "+605",
                                                        "total": 107530
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "55347",
                                                        "total": 18311607
                                                    },
                                                    "time": "2020-06-02T18:00:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5644",
                                                        "active": 1142554,
                                                        "critical": 16949,
                                                        "new": "+7965",
                                                        "recovered": 617266,
                                                        "total": 1867288
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "325",
                                                        "new": "+543",
                                                        "total": 107468
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "55281",
                                                        "total": 18289496
                                                    },
                                                    "time": "2020-06-02T17:45:07+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5642",
                                                        "active": 1142445,
                                                        "critical": 16949,
                                                        "new": "+7404",
                                                        "recovered": 616856,
                                                        "total": 1866727
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "325",
                                                        "new": "+501",
                                                        "total": 107426
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "55092",
                                                        "total": 18227114
                                                    },
                                                    "time": "2020-06-02T17:30:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5642",
                                                        "active": 1142424,
                                                        "critical": 16949,
                                                        "new": "+7327",
                                                        "recovered": 616856,
                                                        "total": 1866650
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "325",
                                                        "new": "+445",
                                                        "total": 107370
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "55092",
                                                        "total": 18227114
                                                    },
                                                    "time": "2020-06-02T17:15:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5640",
                                                        "active": 1141694,
                                                        "critical": 16949,
                                                        "new": "+6579",
                                                        "recovered": 616856,
                                                        "total": 1865902
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "324",
                                                        "new": "+427",
                                                        "total": 107352
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "55092",
                                                        "total": 18227114
                                                    },
                                                    "time": "2020-06-02T17:00:08+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5640",
                                                        "active": 1141660,
                                                        "critical": 16949,
                                                        "new": "+6543",
                                                        "recovered": 616856,
                                                        "total": 1865866
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "324",
                                                        "new": "+425",
                                                        "total": 107350
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "55092",
                                                        "total": 18227114
                                                    },
                                                    "time": "2020-06-02T16:45:07+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5639",
                                                        "active": 1141394,
                                                        "critical": 16949,
                                                        "new": "+6181",
                                                        "recovered": 616796,
                                                        "total": 1865504
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "324",
                                                        "new": "+389",
                                                        "total": 107314
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "55053",
                                                        "total": 18214101
                                                    },
                                                    "time": "2020-06-02T16:30:07+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5638",
                                                        "active": 1141373,
                                                        "critical": 16949,
                                                        "new": "+6136",
                                                        "recovered": 616796,
                                                        "total": 1865459
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "324",
                                                        "new": "+365",
                                                        "total": 107290
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "55053",
                                                        "total": 18214101
                                                    },
                                                    "time": "2020-06-02T16:15:07+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5631",
                                                        "active": 1140025,
                                                        "critical": 16949,
                                                        "new": "+3556",
                                                        "recovered": 615719,
                                                        "total": 1862879
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "324",
                                                        "new": "+210",
                                                        "total": 107135
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "54988",
                                                        "total": 18192664
                                                    },
                                                    "time": "2020-06-02T16:00:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5629",
                                                        "active": 1139561,
                                                        "critical": 16949,
                                                        "new": "+3024",
                                                        "recovered": 615718,
                                                        "total": 1862347
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "324",
                                                        "new": "+143",
                                                        "total": 107068
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "54957",
                                                        "total": 18182361
                                                    },
                                                    "time": "2020-06-02T15:45:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5628",
                                                        "active": 1139382,
                                                        "critical": 16949,
                                                        "new": "+2774",
                                                        "recovered": 615654,
                                                        "total": 1862097
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "324",
                                                        "new": "+136",
                                                        "total": 107061
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "54957",
                                                        "total": 18182361
                                                    },
                                                    "time": "2020-06-02T15:30:07+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5628",
                                                        "active": 1139381,
                                                        "critical": 16949,
                                                        "new": "+2773",
                                                        "recovered": 615654,
                                                        "total": 1862096
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "324",
                                                        "new": "+136",
                                                        "total": 107061
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "54930",
                                                        "total": 18173575
                                                    },
                                                    "time": "2020-06-02T15:00:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5626",
                                                        "active": 1138828,
                                                        "critical": 16949,
                                                        "new": "+2151",
                                                        "recovered": 615654,
                                                        "total": 1861474
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "323",
                                                        "new": "+67",
                                                        "total": 106992
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "54898",
                                                        "total": 18162929
                                                    },
                                                    "time": "2020-06-02T14:45:07+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5626",
                                                        "active": 1138830,
                                                        "critical": 16949,
                                                        "new": "+2151",
                                                        "recovered": 615654,
                                                        "total": 1861474
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "323",
                                                        "new": "+65",
                                                        "total": 106990
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "54898",
                                                        "total": 18162929
                                                    },
                                                    "time": "2020-06-02T14:30:07+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5624",
                                                        "active": 1138027,
                                                        "critical": 16949,
                                                        "new": "+1303",
                                                        "recovered": 615654,
                                                        "total": 1860626
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "323",
                                                        "new": "+20",
                                                        "total": 106945
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "54898",
                                                        "total": 18162929
                                                    },
                                                    "time": "2020-06-02T14:15:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5624",
                                                        "active": 1138015,
                                                        "critical": 16949,
                                                        "new": "+1290",
                                                        "recovered": 615654,
                                                        "total": 1860613
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "323",
                                                        "new": "+19",
                                                        "total": 106944
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "54875",
                                                        "total": 18155363
                                                    },
                                                    "time": "2020-06-02T13:45:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5621",
                                                        "active": 1137190,
                                                        "critical": 16949,
                                                        "new": "+449",
                                                        "recovered": 615653,
                                                        "total": 1859772
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "323",
                                                        "new": "+4",
                                                        "total": 106929
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "54873",
                                                        "total": 18154510
                                                    },
                                                    "time": "2020-06-02T13:00:07+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5621",
                                                        "active": 1137417,
                                                        "critical": 16949,
                                                        "new": "+449",
                                                        "recovered": 615426,
                                                        "total": 1859772
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "323",
                                                        "new": "+4",
                                                        "total": 106929
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "54873",
                                                        "total": 18154510
                                                    },
                                                    "time": "2020-06-02T12:30:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5621",
                                                        "active": 1137356,
                                                        "critical": 16949,
                                                        "new": "+386",
                                                        "recovered": 615426,
                                                        "total": 1859709
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "323",
                                                        "new": "+2",
                                                        "total": 106927
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "54873",
                                                        "total": 18154510
                                                    },
                                                    "time": "2020-06-02T12:15:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5621",
                                                        "active": 1137340,
                                                        "critical": 16949,
                                                        "new": "+370",
                                                        "recovered": 615426,
                                                        "total": 1859693
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "323",
                                                        "new": "+2",
                                                        "total": 106927
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "54872",
                                                        "total": 18154215
                                                    },
                                                    "time": "2020-06-02T12:00:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5621",
                                                        "active": 1137244,
                                                        "critical": 16949,
                                                        "new": "+274",
                                                        "recovered": 615426,
                                                        "total": 1859597
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "323",
                                                        "new": "+2",
                                                        "total": 106927
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "54872",
                                                        "total": 18154215
                                                    },
                                                    "time": "2020-06-02T10:00:07+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5620",
                                                        "active": 1137020,
                                                        "critical": 16949,
                                                        "new": "+38",
                                                        "recovered": 615416,
                                                        "total": 1859361
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "323",
                                                        "new": null,
                                                        "total": 106925
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "54859",
                                                        "total": 18150053
                                                    },
                                                    "time": "2020-06-02T07:00:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5620",
                                                        "active": 1136982,
                                                        "critical": 16949,
                                                        "new": null,
                                                        "recovered": 615416,
                                                        "total": 1859323
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "323",
                                                        "new": null,
                                                        "total": 106925
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "54859",
                                                        "total": 18150053
                                                    },
                                                    "time": "2020-06-02T06:15:05+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5620",
                                                        "active": 1136979,
                                                        "critical": 16949,
                                                        "new": "+22145",
                                                        "recovered": 615411,
                                                        "total": 1859315
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "323",
                                                        "new": "+730",
                                                        "total": 106925
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "54859",
                                                        "total": 18150053
                                                    },
                                                    "time": "2020-06-02T00:45:05+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5619",
                                                        "active": 1136910,
                                                        "critical": 16949,
                                                        "new": "+22004",
                                                        "recovered": 615341,
                                                        "total": 1859174
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "323",
                                                        "new": "+728",
                                                        "total": 106923
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "54859",
                                                        "total": 18150053
                                                    },
                                                    "time": "2020-06-02T00:30:05+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5620",
                                                        "active": 1137200,
                                                        "critical": 16949,
                                                        "new": "+22281",
                                                        "recovered": 615328,
                                                        "total": 1859451
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "323",
                                                        "new": "+728",
                                                        "total": 106923
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "54859",
                                                        "total": 18150053
                                                    },
                                                    "time": "2020-06-02T00:15:05+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5619",
                                                        "active": 1136777,
                                                        "critical": 16947,
                                                        "new": "+21829",
                                                        "recovered": 615301,
                                                        "total": 1858999
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "323",
                                                        "new": "+726",
                                                        "total": 106921
                                                    },
                                                    "population": 330843477,
                                                    "tests": {
                                                        "1M_pop": "54856",
                                                        "total": 18148683
                                                    },
                                                    "time": "2020-06-02T00:00:05+00:00"
                                                }
                                            ],
                                            "results": 37
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                }
            }
        },
        "/statistics": {
            "get": {
                "parameters": [
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "description": "Name of the country",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Statistics",
                "description": "Get all current statistics for all countries",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "array"
                                        },
                                        "get": {
                                            "type": "string"
                                        },
                                        "parameters": {
                                            "type": "array"
                                        },
                                        "response": {
                                            "items": {
                                                "properties": {
                                                    "cases": {
                                                        "type": "object"
                                                    },
                                                    "country": {
                                                        "type": "string"
                                                    },
                                                    "day": {
                                                        "format": "date",
                                                        "type": "string"
                                                    },
                                                    "deaths": {
                                                        "type": "object"
                                                    },
                                                    "tests": {
                                                        "type": "object"
                                                    },
                                                    "time": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "results": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                },
                                "examples": {
                                    "Response": {
                                        "description": "",
                                        "summary": "Response",
                                        "value": {
                                            "errors": [],
                                            "get": "statistics",
                                            "parameters": [],
                                            "response": [
                                                {
                                                    "cases": {
                                                        "1M_pop": "58",
                                                        "active": 73,
                                                        "critical": 3,
                                                        "new": "+5",
                                                        "recovered": 78315,
                                                        "total": 83022
                                                    },
                                                    "continent": "Asia",
                                                    "country": "China",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "3",
                                                        "new": null,
                                                        "total": 4634
                                                    },
                                                    "population": 1439323776,
                                                    "tests": {
                                                        "1M_pop": null,
                                                        "total": null
                                                    },
                                                    "time": "2020-06-02T20:45:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "3862",
                                                        "active": 39893,
                                                        "critical": 408,
                                                        "new": "+318",
                                                        "recovered": 160092,
                                                        "total": 233515
                                                    },
                                                    "continent": "Europe",
                                                    "country": "Italy",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "555",
                                                        "new": "+55",
                                                        "total": 33530
                                                    },
                                                    "population": 60468537,
                                                    "tests": {
                                                        "1M_pop": "65527",
                                                        "total": 3962292
                                                    },
                                                    "time": "2020-06-02T20:45:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "6139",
                                                        "active": 0,
                                                        "critical": 617,
                                                        "new": "+294",
                                                        "recovered": 0,
                                                        "total": 287012
                                                    },
                                                    "continent": "Europe",
                                                    "country": "Spain",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "580",
                                                        "new": null,
                                                        "total": 27127
                                                    },
                                                    "population": 46753394,
                                                    "tests": {
                                                        "1M_pop": "86921",
                                                        "total": 4063843
                                                    },
                                                    "time": "2020-06-02T20:45:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5665",
                                                        "active": 1146293,
                                                        "critical": 16939,
                                                        "new": "+14945",
                                                        "recovered": 620129,
                                                        "total": 1874268
                                                    },
                                                    "continent": "North-America",
                                                    "country": "USA",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "326",
                                                        "new": "+921",
                                                        "total": 107846
                                                    },
                                                    "population": 330848770,
                                                    "tests": {
                                                        "1M_pop": "55745",
                                                        "total": 18443243
                                                    },
                                                    "time": "2020-06-02T20:45:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "2197",
                                                        "active": 9015,
                                                        "critical": 689,
                                                        "new": "+299",
                                                        "recovered": 166400,
                                                        "total": 184064
                                                    },
                                                    "continent": "Europe",
                                                    "country": "Germany",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "103",
                                                        "new": "+31",
                                                        "total": 8649
                                                    },
                                                    "population": 83763076,
                                                    "tests": {
                                                        "1M_pop": "47192",
                                                        "total": 3952971
                                                    },
                                                    "time": "2020-06-02T20:45:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "1878",
                                                        "active": 26543,
                                                        "critical": 2565,
                                                        "new": "+3117",
                                                        "recovered": 123077,
                                                        "total": 157562
                                                    },
                                                    "continent": "Asia",
                                                    "country": "Iran",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "95",
                                                        "new": "+64",
                                                        "total": 7942
                                                    },
                                                    "population": 83903764,
                                                    "tests": {
                                                        "1M_pop": "11632",
                                                        "total": 975936
                                                    },
                                                    "time": "2020-06-02T20:45:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "2899",
                                                        "active": 91468,
                                                        "critical": 1253,
                                                        "new": null,
                                                        "recovered": 68812,
                                                        "total": 189220
                                                    },
                                                    "continent": "Europe",
                                                    "country": "France",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "443",
                                                        "new": "+107",
                                                        "total": 28940
                                                    },
                                                    "population": 65262335,
                                                    "tests": {
                                                        "1M_pop": "21216",
                                                        "total": 1384633
                                                    },
                                                    "time": "2020-06-02T20:45:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "225",
                                                        "active": 823,
                                                        "critical": 15,
                                                        "new": "+38",
                                                        "recovered": 10446,
                                                        "total": 11541
                                                    },
                                                    "continent": "Asia",
                                                    "country": "S-Korea",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "5",
                                                        "new": "+1",
                                                        "total": 272
                                                    },
                                                    "population": 51265802,
                                                    "tests": {
                                                        "1M_pop": "18333",
                                                        "total": 939851
                                                    },
                                                    "time": "2020-06-02T20:45:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "3569",
                                                        "active": 454,
                                                        "critical": 29,
                                                        "new": "+3",
                                                        "recovered": 28500,
                                                        "total": 30874
                                                    },
                                                    "continent": "Europe",
                                                    "country": "Switzerland",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "222",
                                                        "new": null,
                                                        "total": 1920
                                                    },
                                                    "population": 8649556,
                                                    "tests": {
                                                        "1M_pop": "46337",
                                                        "total": 400793
                                                    },
                                                    "time": "2020-06-02T20:45:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "4097",
                                                        "active": 0,
                                                        "critical": 1559,
                                                        "new": "+1653",
                                                        "recovered": 0,
                                                        "total": 277985
                                                    },
                                                    "continent": "Europe",
                                                    "country": "UK",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "580",
                                                        "new": "+324",
                                                        "total": 39369
                                                    },
                                                    "population": 67857854,
                                                    "tests": {
                                                        "1M_pop": "68012",
                                                        "total": 4615146
                                                    },
                                                    "time": "2020-06-02T20:45:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "2723",
                                                        "active": 0,
                                                        "critical": 154,
                                                        "new": "+102",
                                                        "recovered": 0,
                                                        "total": 46647
                                                    },
                                                    "continent": "Europe",
                                                    "country": "Netherlands",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "348",
                                                        "new": "+5",
                                                        "total": 5967
                                                    },
                                                    "population": 17131938,
                                                    "tests": {
                                                        "1M_pop": "21004",
                                                        "total": 359833
                                                    },
                                                    "time": "2020-06-02T20:45:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "1862",
                                                        "active": 461,
                                                        "critical": 26,
                                                        "new": "+26",
                                                        "recovered": 15629,
                                                        "total": 16759
                                                    },
                                                    "continent": "Europe",
                                                    "country": "Austria",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "74",
                                                        "new": "+1",
                                                        "total": 669
                                                    },
                                                    "population": 9002328,
                                                    "tests": {
                                                        "1M_pop": "50696",
                                                        "total": 456378
                                                    },
                                                    "time": "2020-06-02T20:45:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "5059",
                                                        "active": 33176,
                                                        "critical": 166,
                                                        "new": "+98",
                                                        "recovered": 15934,
                                                        "total": 58615
                                                    },
                                                    "continent": "Europe",
                                                    "country": "Belgium",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "820",
                                                        "new": "+19",
                                                        "total": 9505
                                                    },
                                                    "population": 11585664,
                                                    "tests": {
                                                        "1M_pop": "76335",
                                                        "total": 884386
                                                    },
                                                    "time": "2020-06-02T20:45:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "1560",
                                                        "active": 488,
                                                        "critical": 9,
                                                        "new": "+6",
                                                        "recovered": 7727,
                                                        "total": 8452
                                                    },
                                                    "continent": "Europe",
                                                    "country": "Norway",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "44",
                                                        "new": "+1",
                                                        "total": 237
                                                    },
                                                    "population": 5417837,
                                                    "tests": {
                                                        "1M_pop": "46323",
                                                        "total": 250968
                                                    },
                                                    "time": "2020-06-02T20:45:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "3823",
                                                        "active": 0,
                                                        "critical": 283,
                                                        "new": "+775",
                                                        "recovered": 0,
                                                        "total": 38589
                                                    },
                                                    "continent": "Europe",
                                                    "country": "Sweden",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "443",
                                                        "new": "+65",
                                                        "total": 4468
                                                    },
                                                    "population": 10094260,
                                                    "tests": {
                                                        "1M_pop": "27293",
                                                        "total": 275500
                                                    },
                                                    "time": "2020-06-02T20:45:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "2450",
                                                        "active": 34724,
                                                        "critical": 1648,
                                                        "new": "+685",
                                                        "recovered": 50271,
                                                        "total": 92390
                                                    },
                                                    "continent": "North-America",
                                                    "country": "Canada",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "196",
                                                        "new": "+69",
                                                        "total": 7395
                                                    },
                                                    "population": 37715413,
                                                    "tests": {
                                                        "1M_pop": "44966",
                                                        "total": 1695918
                                                    },
                                                    "time": "2020-06-02T20:45:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "2026",
                                                        "active": 665,
                                                        "critical": 21,
                                                        "new": "+35",
                                                        "recovered": 10489,
                                                        "total": 11734
                                                    },
                                                    "continent": "Europe",
                                                    "country": "Denmark",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "100",
                                                        "new": "+4",
                                                        "total": 580
                                                    },
                                                    "population": 5790610,
                                                    "tests": {
                                                        "1M_pop": "111575",
                                                        "total": 646086
                                                    },
                                                    "time": "2020-06-02T20:45:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "3225",
                                                        "active": 11590,
                                                        "critical": 58,
                                                        "new": "+195",
                                                        "recovered": 19869,
                                                        "total": 32895
                                                    },
                                                    "continent": "Europe",
                                                    "country": "Portugal",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "141",
                                                        "new": "+12",
                                                        "total": 1436
                                                    },
                                                    "population": 10198931,
                                                    "tests": {
                                                        "1M_pop": "83066",
                                                        "total": 847181
                                                    },
                                                    "time": "2020-06-02T20:45:06+00:00"
                                                },
                                                {
                                                    "cases": {
                                                        "1M_pop": "244",
                                                        "active": 1292,
                                                        "critical": 6,
                                                        "new": "+20",
                                                        "recovered": 6470,
                                                        "total": 7877
                                                    },
                                                    "continent": "Asia",
                                                    "country": "Malaysia",
                                                    "day": "2020-06-02",
                                                    "deaths": {
                                                        "1M_pop": "4",
                                                        "new": null,
[...]
