{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_63d930e6-b122-4afc-a8f5-1dd657740e2d",
            "value": "✓"
        },
        {
            "name": "tag_48f4dde3-c00f-4cb3-828b-e754c67beb11",
            "value": "Official"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "apiversion_de940974-d3e8-4d19-8730-b5a364a6b6ee",
        "apiId": "api_bf11c1be-67e9-4977-b7c3-5c0c64796a0d"
    },
    "info": {
        "title": "Twilio Verify Phone Number",
        "description": "As part of Twilio's account security offerings, the Twilio Verify API makes it simple to add phone verification to your web application. It supports codes sent via voice and SMS.",
        "version": "v1",
        "x-category": "Business",
        "x-long-description": "As part of Twilio's account security offerings, the Twilio Verify API makes it simple to add phone verification to your web application. It supports codes sent via voice and SMS. The Verify Phone Number API is used to ensure that a user is the owner of the phone number they provide.",
        "x-website": "https://www.twilio.com/docs/verify",
        "x-public": true,
        "x-thumbnail": "https://rapidapi-prod-apis.s3.amazonaws.com/dc/31ce1de9af4d52bd779f5cf0bfe732/33b38479a74dd2ce1490c8074f7b3df1.png",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://twilio-verify-phone-number.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [
        {
            "name": "Service Rate Limits"
        },
        {
            "name": "Verification Check"
        },
        {
            "name": "Verifications"
        },
        {
            "name": "Service Rate Limit Buckets"
        },
        {
            "name": "Services"
        }
    ],
    "paths": {
        "/Services/{serviceSid}/RateLimits/{rateLimitSid}/Buckets/{sid}": {
            "delete": {
                "tags": [
                    "Service Rate Limit Buckets"
                ],
                "parameters": [
                    {
                        "name": "rateLimitSid",
                        "in": "path",
                        "required": true,
                        "description": "The Twilio-provided string that uniquely identifies the Rate Limit resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "serviceSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Service the resource is associated with.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sid",
                        "in": "path",
                        "required": true,
                        "description": "A 34 character string that uniquely identifies this Bucket.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Delete a Bucket",
                "description": " ",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            },
            "get": {
                "tags": [
                    "Service Rate Limit Buckets"
                ],
                "parameters": [
                    {
                        "name": "sid",
                        "in": "path",
                        "required": true,
                        "description": "A 34 character string that uniquely identifies this Bucket.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "serviceSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Service the resource is associated with.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rateLimitSid",
                        "in": "path",
                        "required": true,
                        "description": "The Twilio-provided string that uniquely identifies the Rate Limit resource.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Fetch a Bucket",
                "description": " ",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            },
            "post": {
                "tags": [
                    "Service Rate Limit Buckets"
                ],
                "parameters": [
                    {
                        "name": "max",
                        "in": "query",
                        "required": true,
                        "description": "Maximum number of requests permitted in during the interval.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "interval",
                        "in": "query",
                        "required": true,
                        "description": "Number of seconds that the rate limit will be enforced over.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "serviceSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Service the resource is associated with.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sid",
                        "in": "path",
                        "required": true,
                        "description": "A 34 character string that uniquely identifies this Bucket.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rateLimitSid",
                        "in": "path",
                        "required": true,
                        "description": "The Twilio-provided string that uniquely identifies the Rate Limit resource.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Update a Bucket",
                "description": " ",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/Services/{serviceSid}/RateLimits/{sid}": {
            "get": {
                "tags": [
                    "Service Rate Limits"
                ],
                "parameters": [
                    {
                        "name": "serviceSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Service the resource is associated with.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sid",
                        "in": "path",
                        "required": true,
                        "description": "The Twilio-provided string that uniquely identifies the Rate Limit resource to fetch.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Fetch a Rate Limit",
                "description": " ",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            },
            "delete": {
                "tags": [
                    "Service Rate Limits"
                ],
                "parameters": [
                    {
                        "name": "sid",
                        "in": "path",
                        "required": true,
                        "description": "The Twilio-provided string that uniquely identifies the Rate Limit resource to fetch.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "serviceSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Service the resource is associated with.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Delete a Rate Limit",
                "description": " ",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            },
            "post": {
                "tags": [
                    "Service Rate Limits"
                ],
                "parameters": [
                    {
                        "name": "description",
                        "in": "query",
                        "required": false,
                        "description": "Description of this Rate Limit",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sid",
                        "in": "path",
                        "required": true,
                        "description": "The Twilio-provided string that uniquely identifies the Rate Limit resource to fetch.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "serviceSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Service the resource is associated with.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Update a Rate Limit",
                "description": " ",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/Services/{serviceSid}/RateLimits": {
            "post": {
                "tags": [
                    "Service Rate Limits"
                ],
                "parameters": [
                    {
                        "name": "description",
                        "in": "query",
                        "required": false,
                        "description": "Description of this Rate Limit",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "uniqueName",
                        "in": "query",
                        "required": true,
                        "description": "Provides a unique and addressable name to be assigned to this Rate Limit, assigned by the developer, to be optionally used in addition to SID. This value should not contain PII.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "serviceSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Service the resource is associated with.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Create a Rate Limit",
                "description": "The Rate Limit represents the key that your application will provide when starting a phone verification request. For example, you may create a rate limit for an end-user IP address to prevent a malicious bot. See the section on Selecting Rate Limit Keys for information on this topic.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            },
            "get": {
                "tags": [
                    "Service Rate Limits"
                ],
                "parameters": [
                    {
                        "name": "serviceSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Service the resource is associated with.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "List all Rate Limits",
                "description": " ",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/Services/{serviceSid}/Verifications/{sid}": {
            "get": {
                "tags": [
                    "Verifications"
                ],
                "parameters": [
                    {
                        "name": "sid",
                        "in": "path",
                        "required": true,
                        "description": "The Twilio-provided string that uniquely identifies the Verification resource to fetch.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "serviceSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the verification Service to fetch the resource from.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Fetch a Verification",
                "description": " ",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            },
            "post": {
                "tags": [
                    "Verifications"
                ],
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "required": true,
                        "description": "The new status of the resource. Can be: pending, approved, denied, or expired.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sid",
                        "in": "path",
                        "required": true,
                        "description": "The Twilio-provided string that uniquely identifies the Verification resource to update.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "serviceSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the verification Service to update the resource from.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Update a Verifications Status",
                "description": "Use this endpoint only if using Custom Verification Codes. You will need to mark the verification as \"approved\" after your application had validated the verification code.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/Services/{sid}": {
            "post": {
                "tags": [
                    "Services"
                ],
                "parameters": [
                    {
                        "name": "codeLength",
                        "in": "query",
                        "required": false,
                        "description": "The length of the verification code to generate. Must be an integer value between 4 and 10, inclusive.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "skipSmsToLandlines",
                        "in": "query",
                        "required": false,
                        "description": "Whether to skip sending SMS verifications to landlines. Requires lookup_enabled.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "lookupEnabled",
                        "in": "query",
                        "required": false,
                        "description": "Whether to perform a lookup with each verification started and return info about the phone number.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "psd2Enabled",
                        "in": "query",
                        "required": false,
                        "description": "Whether to pass PSD2 transaction parameters when starting a verification.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "friendlyName",
                        "in": "query",
                        "required": false,
                        "description": "A descriptive string that you create to describe the verification service. It can be up to 64 characters long. This value should not contain PII.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ttsName",
                        "in": "query",
                        "required": false,
                        "description": "The name of an alternative text-to-speech service to use in phone calls. Applies only to TTS languages.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dtmfInputRequired",
                        "in": "query",
                        "required": false,
                        "description": "Whether to ask the user to press a number before delivering the verify code in a phone call.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "sid",
                        "in": "path",
                        "required": true,
                        "description": "The Twilio-provided string that uniquely identifies the Service resource to update.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Update a Service",
                "description": " ",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            },
            "delete": {
                "tags": [
                    "Services"
                ],
                "parameters": [
                    {
                        "name": "sid",
                        "in": "path",
                        "required": true,
                        "description": "The Twilio-provided string that uniquely identifies the Verification Service resource to delete.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Delete a Service",
                "description": " ",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            },
            "get": {
                "tags": [
                    "Services"
                ],
                "parameters": [
                    {
                        "name": "sid",
                        "in": "path",
                        "required": true,
                        "description": "The Twilio-provided string that uniquely identifies the Verification Service resource to fetch.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Fetch a Service",
                "description": " ",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/Services/{serviceSid}/VerificationCheck": {
            "post": {
                "tags": [
                    "Verification Check"
                ],
                "parameters": [
                    {
                        "name": "amount",
                        "in": "query",
                        "required": false,
                        "description": "The amount of the associated PSD2 compliant transaction. Requires the PSD2 Service flag enabled.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "payee",
                        "in": "query",
                        "required": false,
                        "description": "The payee of the associated PSD2 compliant transaction. Requires the PSD2 Service flag enabled.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "required": false,
                        "description": "The phone number to verify. Either this parameter or the verification_sid must be specified",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "verificationSid",
                        "in": "query",
                        "required": false,
                        "description": "A SID that uniquely identifies the Verification Check. Either this parameter or the to phone number must be specified.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "required": true,
                        "description": "The 4-10 character string being verified.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "serviceSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the verification Service to create the resource under.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Check a Verification",
                "description": " ",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/Services/{serviceSid}/RateLimits/{rateLimitSid}/Buckets": {
            "get": {
                "tags": [
                    "Service Rate Limit Buckets"
                ],
                "parameters": [
                    {
                        "name": "serviceSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Service the resource is associated with.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rateLimitSid",
                        "in": "path",
                        "required": true,
                        "description": "The Twilio-provided string that uniquely identifies the Rate Limit resource.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "List all Buckets",
                "description": " ",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            },
            "post": {
                "tags": [
                    "Service Rate Limit Buckets"
                ],
                "parameters": [
                    {
                        "name": "max",
                        "in": "query",
                        "required": true,
                        "description": "Maximum number of requests permitted in during the interval.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "interval",
                        "in": "query",
                        "required": true,
                        "description": "Number of seconds that the rate limit will be enforced over.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "rateLimitSid",
                        "in": "path",
                        "required": true,
                        "description": "The Twilio-provided string that uniquely identifies the Rate Limit resource.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "serviceSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the Service the resource is associated with.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Create a Bucket",
                "description": " ",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/Services": {
            "get": {
                "tags": [
                    "Services"
                ],
                "operationId": "List all Services",
                "description": " ",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            },
            "post": {
                "tags": [
                    "Services"
                ],
                "parameters": [
                    {
                        "name": "psd2Enabled",
                        "in": "query",
                        "required": false,
                        "description": "Whether to pass PSD2 transaction parameters when starting a verification.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lookupEnabled",
                        "in": "query",
                        "required": false,
                        "description": "Whether to perform a lookup with each verification started and return info about the phone number.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "ttsName",
                        "in": "query",
                        "required": false,
                        "description": "The name of an alternative text-to-speech service to use in phone calls. Applies only to TTS languages.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "skipSmsToLandlines",
                        "in": "query",
                        "required": false,
                        "description": "Whether to skip sending SMS verifications to landlines. Requires lookup_enabled.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "dtmfInputRequired",
                        "in": "query",
                        "required": false,
                        "description": "Whether to ask the user to press a number before delivering the verify code in a phone call.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "codeLength",
                        "in": "query",
                        "required": false,
                        "description": "The length of the verification code to generate. Must be an integer value between 4 and 10, inclusive.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "friendlyName",
                        "in": "query",
                        "required": true,
                        "description": "A descriptive string that you create to describe the verification service. It can be up to 64 characters long. This value should not contain PII.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Create a Verification Service",
                "description": " ",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/Services/{serviceSid}/Verifications": {
            "post": {
                "tags": [
                    "Verifications"
                ],
                "parameters": [
                    {
                        "name": "payee",
                        "in": "query",
                        "required": false,
                        "description": "The payee of the associated PSD2 compliant transaction. Requires the PSD2 Service flag enabled.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sendDigits",
                        "in": "query",
                        "required": false,
                        "description": "The digits to send after a phone call is answered, for example, to dial an extension. For more information, see the Programmable Voice documentation of sendDigits.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "required": false,
                        "description": "The locale to use for the verification SMS or call. Can be: af, ar, ca, cs,  da, de, el, en, es, fi, fr, he, hi, hr, hu, id, it, ja, ko, ms, nb, nl, pl, pt, pr-BR, ro, ru, sv, th, tl, tr, vi, zh,  zh-CN, or zh-HK.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "amount",
                        "in": "query",
                        "required": false,
                        "description": "The amount of the associated PSD2 compliant transaction. Requires the PSD2 Service flag enabled.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "customCode",
                        "in": "query",
                        "required": false,
                        "description": "A pre-generated code to use for verification. The code can be between 4 and 10 characters, inclusive.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rateLimits",
                        "in": "query",
                        "required": false,
                        "description": "The custom key-value pairs of Programmable Rate Limits. Keys should be the unique_name configured while creating you Rate Limit along with the associated values for each particular request. You may include multiple Rate Limit values in each request. Ex/ {\"unique_name\":\"RKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "required": true,
                        "description": "The phone number to verify.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "channel",
                        "in": "query",
                        "required": true,
                        "description": "The verification method to use. Can be: sms or call.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "serviceSid",
                        "in": "path",
                        "required": true,
                        "description": "The SID of the verification Service to create the resource under.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "operationId": "Start a New Verification",
                "description": "To verify a user's phone number, you will start by requesting to send a verification code to their device.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        }
    }
}