{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_b8eeb3af-0212-41cf-88ae-eae62cb998a3",
            "value": "✓"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "apiversion_3aae99ab-28e2-45b8-b708-4065568d111e",
        "apiId": "api_a76852c3-60b5-4525-afeb-6bb263c2b856"
    },
    "info": {
        "title": "API-HOCKEY",
        "description": "Hockey Leagues & Cups with Livescore, Odds, Bookmakers, Statistics, Standings, Historical Data...",
        "version": "v1",
        "x-category": "Sports",
        "x-long-description": "Hockey Leagues & Cups with Livescore, Odds, Bookmakers, Statistics, Standings, Historical Data, Countries, Seasons. Documentation : https://api-sports.io/documentation/hockey/v1",
        "x-website": "www.api-football.com/sports",
        "x-public": true,
        "x-thumbnail": "https://rapidapi-prod-apis.s3.amazonaws.com/b4c85f7a-a6fd-4df7-aba4-1e96ae357c5a.png",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://api-hockey.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [
        {
            "name": "Search",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Odds",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Countries",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Leagues",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Teams",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Standings",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Seasons",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Games",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        }
    ],
    "paths": {
        "/odds/": {
            "get": {
                "tags": [
                    "Odds"
                ],
                "parameters": [
                    {
                        "name": "game",
                        "in": "query",
                        "required": false,
                        "description": "The id of the game",
                        "schema": {
                            "externalDocs": {
                                "url": "undefined"
                            },
                            "type": "number",
                            "default": "11590"
                        }
                    },
                    {
                        "name": "bookmaker",
                        "in": "query",
                        "required": false,
                        "description": "The id of the bookmaker",
                        "schema": {
                            "externalDocs": {
                                "url": "undefined"
                            },
                            "type": "number"
                        }
                    },
                    {
                        "name": "season",
                        "in": "query",
                        "required": false,
                        "description": "The season of the league",
                        "schema": {
                            "externalDocs": {
                                "url": "undefined"
                            },
                            "type": "number"
                        }
                    },
                    {
                        "name": "bet",
                        "in": "query",
                        "required": false,
                        "description": "The id of the bet",
                        "schema": {
                            "externalDocs": {
                                "url": "undefined"
                            },
                            "type": "number"
                        }
                    },
                    {
                        "name": "league",
                        "in": "query",
                        "required": false,
                        "description": "The id of the league",
                        "schema": {
                            "externalDocs": {
                                "url": "undefined"
                            },
                            "type": "number"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Documentation",
                    "url": "https://api-sports.io/documentation/hockey/v1#operation/get-odds"
                },
                "operationId": "Odds",
                "description": "Get odds from games or leagues.\n\nWe provide pre-match odds between 1 and 7 days before the game.\n\nWe keep a 7-day history (The availability of odds may vary according to the leagues, seasons, games and bookmakers)\n\n> Odds are updated once a day",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Response": {
                                        "description": "",
                                        "summary": "Response",
                                        "value": {
                                            "errors": [],
                                            "get": "odds",
                                            "parameters": {
                                                "game": "11590"
                                            },
                                            "response": [
                                                {
                                                    "bookmakers": [
                                                        {
                                                            "bets": [
                                                                {
                                                                    "id": 1,
                                                                    "name": "3Way Result",
                                                                    "values": [
                                                                        {
                                                                            "odd": "1.65",
                                                                            "value": "Home"
                                                                        },
                                                                        {
                                                                            "odd": "4.50",
                                                                            "value": "Draw"
                                                                        },
                                                                        {
                                                                            "odd": "4.00",
                                                                            "value": "Away"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 2,
                                                                    "name": "Home/Away",
                                                                    "values": [
                                                                        {
                                                                            "odd": "1.36",
                                                                            "value": "Home"
                                                                        },
                                                                        {
                                                                            "odd": "2.90",
                                                                            "value": "Away"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 6,
                                                                    "name": "Handicap Result",
                                                                    "values": [
                                                                        {
                                                                            "odd": "2.15",
                                                                            "value": "Home -1"
                                                                        },
                                                                        {
                                                                            "odd": "2.20",
                                                                            "value": "Away -1"
                                                                        },
                                                                        {
                                                                            "odd": "6.25",
                                                                            "value": "Draw -1"
                                                                        },
                                                                        {
                                                                            "odd": "1.25",
                                                                            "value": "Home +1"
                                                                        },
                                                                        {
                                                                            "odd": "6.00",
                                                                            "value": "Away +1"
                                                                        },
                                                                        {
                                                                            "odd": "9.00",
                                                                            "value": "Draw +1"
                                                                        },
                                                                        {
                                                                            "odd": "1.12",
                                                                            "value": "Home +2"
                                                                        },
                                                                        {
                                                                            "odd": "11.00",
                                                                            "value": "Draw +2"
                                                                        },
                                                                        {
                                                                            "odd": "10.50",
                                                                            "value": "Away +2"
                                                                        },
                                                                        {
                                                                            "odd": "3.10",
                                                                            "value": "Home -2"
                                                                        },
                                                                        {
                                                                            "odd": "6.00",
                                                                            "value": "Draw -2"
                                                                        },
                                                                        {
                                                                            "odd": "1.70",
                                                                            "value": "Away -2"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 7,
                                                                    "name": "Correct Score",
                                                                    "values": [
                                                                        {
                                                                            "odd": "67.00",
                                                                            "value": "1:0"
                                                                        },
                                                                        {
                                                                            "odd": "36.00",
                                                                            "value": "2:0"
                                                                        },
                                                                        {
                                                                            "odd": "18.00",
                                                                            "value": "2:1"
                                                                        },
                                                                        {
                                                                            "odd": "21.00",
                                                                            "value": "3:0"
                                                                        },
                                                                        {
                                                                            "odd": "15.00",
                                                                            "value": "3:1"
                                                                        },
                                                                        {
                                                                            "odd": "15.50",
                                                                            "value": "3:2"
                                                                        },
                                                                        {
                                                                            "odd": "26.00",
                                                                            "value": "4:0"
                                                                        },
                                                                        {
                                                                            "odd": "13.00",
                                                                            "value": "4:1"
                                                                        },
                                                                        {
                                                                            "odd": "16.00",
                                                                            "value": "4:2"
                                                                        },
                                                                        {
                                                                            "odd": "26.00",
                                                                            "value": "4:3"
                                                                        },
                                                                        {
                                                                            "odd": "51.00",
                                                                            "value": "5:0"
                                                                        },
                                                                        {
                                                                            "odd": "21.00",
                                                                            "value": "5:1"
                                                                        },
                                                                        {
                                                                            "odd": "17.00",
                                                                            "value": "5:2"
                                                                        },
                                                                        {
                                                                            "odd": "29.00",
                                                                            "value": "5:3"
                                                                        },
                                                                        {
                                                                            "odd": "67.00",
                                                                            "value": "5:4"
                                                                        },
                                                                        {
                                                                            "odd": "81.00",
                                                                            "value": "6:0"
                                                                        },
                                                                        {
                                                                            "odd": "41.00",
                                                                            "value": "6:1"
                                                                        },
                                                                        {
                                                                            "odd": "31.00",
                                                                            "value": "6:2"
                                                                        },
                                                                        {
                                                                            "odd": "51.00",
                                                                            "value": "0:0"
                                                                        },
                                                                        {
                                                                            "odd": "20.00",
                                                                            "value": "1:1"
                                                                        },
                                                                        {
                                                                            "odd": "11.50",
                                                                            "value": "2:2"
                                                                        },
                                                                        {
                                                                            "odd": "13.00",
                                                                            "value": "3:3"
                                                                        },
                                                                        {
                                                                            "odd": "26.00",
                                                                            "value": "4:4"
                                                                        },
                                                                        {
                                                                            "odd": "126.00",
                                                                            "value": "0:1"
                                                                        },
                                                                        {
                                                                            "odd": "81.00",
                                                                            "value": "0:2"
                                                                        },
                                                                        {
                                                                            "odd": "67.00",
                                                                            "value": "0:3"
                                                                        },
                                                                        {
                                                                            "odd": "151.00",
                                                                            "value": "0:4"
                                                                        },
                                                                        {
                                                                            "odd": "251.00",
                                                                            "value": "0:5"
                                                                        },
                                                                        {
                                                                            "odd": "251.00",
                                                                            "value": "0:6"
                                                                        },
                                                                        {
                                                                            "odd": "26.00",
                                                                            "value": "1:2"
                                                                        },
                                                                        {
                                                                            "odd": "29.00",
                                                                            "value": "1:3"
                                                                        },
                                                                        {
                                                                            "odd": "36.00",
                                                                            "value": "1:4"
                                                                        },
                                                                        {
                                                                            "odd": "126.00",
                                                                            "value": "1:5"
                                                                        },
                                                                        {
                                                                            "odd": "251.00",
                                                                            "value": "1:6"
                                                                        },
                                                                        {
                                                                            "odd": "20.00",
                                                                            "value": "2:3"
                                                                        },
                                                                        {
                                                                            "odd": "29.00",
                                                                            "value": "2:4"
                                                                        },
                                                                        {
                                                                            "odd": "51.00",
                                                                            "value": "2:5"
                                                                        },
                                                                        {
                                                                            "odd": "251.00",
                                                                            "value": "2:6"
                                                                        },
                                                                        {
                                                                            "odd": "34.00",
                                                                            "value": "3:4"
                                                                        },
                                                                        {
                                                                            "odd": "51.00",
                                                                            "value": "3:5"
                                                                        },
                                                                        {
                                                                            "odd": "126.00",
                                                                            "value": "4:5"
                                                                        },
                                                                        {
                                                                            "odd": "251.00",
                                                                            "value": "4:6"
                                                                        },
                                                                        {
                                                                            "odd": "151.00",
                                                                            "value": "3:6"
                                                                        },
                                                                        {
                                                                            "odd": "41.00",
                                                                            "value": "6:3"
                                                                        },
                                                                        {
                                                                            "odd": "67.00",
                                                                            "value": "5:5"
                                                                        },
                                                                        {
                                                                            "odd": "251.00",
                                                                            "value": "6:6"
                                                                        },
                                                                        {
                                                                            "odd": "251.00",
                                                                            "value": "6:5"
                                                                        },
                                                                        {
                                                                            "odd": "251.00",
                                                                            "value": "5:6"
                                                                        },
                                                                        {
                                                                            "odd": "81.00",
                                                                            "value": "6:4"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 9,
                                                                    "name": "Double Chance",
                                                                    "values": [
                                                                        {
                                                                            "odd": "1.25",
                                                                            "value": "Home/Draw"
                                                                        },
                                                                        {
                                                                            "odd": "1.06",
                                                                            "value": "Home/Away"
                                                                        },
                                                                        {
                                                                            "odd": "2.20",
                                                                            "value": "Draw/Away"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 10,
                                                                    "name": "Total - Home",
                                                                    "values": [
                                                                        {
                                                                            "odd": "1.44",
                                                                            "value": "Over 2.5"
                                                                        },
                                                                        {
                                                                            "odd": "2.60",
                                                                            "value": "Under 2.5"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 11,
                                                                    "name": "Total - Away",
                                                                    "values": [
                                                                        {
                                                                            "odd": "2.35",
                                                                            "value": "Over 2.5"
                                                                        },
                                                                        {
                                                                            "odd": "1.53",
                                                                            "value": "Under 2.5"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 14,
                                                                    "name": "Over/Under (1st Period)",
                                                                    "values": [
                                                                        {
                                                                            "odd": "1.90",
                                                                            "value": "Over 1.5"
                                                                        },
                                                                        {
                                                                            "odd": "1.80",
                                                                            "value": "Under 1.5"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 16,
                                                                    "name": "3Way Result (2st Period)",
                                                                    "values": [
                                                                        {
                                                                            "odd": "2.05",
                                                                            "value": "Home"
                                                                        },
                                                                        {
                                                                            "odd": "2.90",
                                                                            "value": "Draw"
                                                                        },
                                                                        {
                                                                            "odd": "3.60",
                                                                            "value": "Away"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 17,
                                                                    "name": "3Way Result 3rdPeriod)",
                                                                    "values": [
                                                                        {
                                                                            "odd": "2.00",
                                                                            "value": "Home"
                                                                        },
                                                                        {
                                                                            "odd": "3.10",
                                                                            "value": "Draw"
                                                                        },
                                                                        {
                                                                            "odd": "3.50",
                                                                            "value": "Away"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 19,
                                                                    "name": "Over/Under (2nd Period)",
                                                                    "values": [
                                                                        {
                                                                            "odd": "1.62",
                                                                            "value": "Over 1.5"
                                                                        },
                                                                        {
                                                                            "odd": "2.15",
                                                                            "value": "Under 1.5"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 20,
                                                                    "name": "Over/Under (3rd Period)",
                                                                    "values": [
                                                                        {
                                                                            "odd": "1.57",
                                                                            "value": "Over 1.5"
                                                                        },
                                                                        {
                                                                            "odd": "2.25",
                                                                            "value": "Under 1.5"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 21,
                                                                    "name": "1x2 (1st Period)",
                                                                    "values": [
                                                                        {
                                                                            "odd": "2.15",
                                                                            "value": "Home"
                                                                        },
                                                                        {
                                                                            "odd": "2.65",
                                                                            "value": "Draw"
                                                                        },
                                                                        {
                                                                            "odd": "3.70",
                                                                            "value": "Away"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 22,
                                                                    "name": "Double Chance (3rd Period)",
                                                                    "values": [
                                                                        {
                                                                            "odd": "1.26",
                                                                            "value": "Home/Draw"
                                                                        },
                                                                        {
                                                                            "odd": "1.22",
                                                                            "value": "Home/Away"
                                                                        },
                                                                        {
                                                                            "odd": "1.72",
                                                                            "value": "Draw/Away"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 27,
                                                                    "name": "Double Chance (1st Period)",
                                                                    "values": [
                                                                        {
                                                                            "odd": "1.25",
                                                                            "value": "Home/Draw"
                                                                        },
                                                                        {
                                                                            "odd": "1.28",
                                                                            "value": "Home/Away"
                                                                        },
                                                                        {
                                                                            "odd": "1.62",
                                                                            "value": "Draw/Away"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 28,
                                                                    "name": "Double Chance (2nd Period)",
                                                                    "values": [
                                                                        {
                                                                            "odd": "1.25",
                                                                            "value": "Home/Draw"
                                                                        },
                                                                        {
                                                                            "odd": "1.25",
                                                                            "value": "Home/Away"
                                                                        },
                                                                        {
                                                                            "odd": "1.67",
                                                                            "value": "Draw/Away"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 29,
                                                                    "name": "Home Team Total Goals (1st Period)",
                                                                    "values": [
                                                                        {
                                                                            "odd": "1.50",
                                                                            "value": "Over 0.5"
                                                                        },
                                                                        {
                                                                            "odd": "2.40",
                                                                            "value": "Under 0.5"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 30,
                                                                    "name": "Home Team Total Goals (2nd Period)",
                                                                    "values": [
                                                                        {
                                                                            "odd": "1.91",
                                                                            "value": "Over 0.5"
                                                                        },
                                                                        {
                                                                            "odd": "1.80",
                                                                            "value": "Under 0.5"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 31,
                                                                    "name": "Home Team Total Goals (3rd Period)",
                                                                    "values": [
                                                                        {
                                                                            "odd": "1.36",
                                                                            "value": "Over 0.5"
                                                                        },
                                                                        {
                                                                            "odd": "2.90",
                                                                            "value": "Under 0.5"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 32,
                                                                    "name": "Away Team Total Goals (1st Period)",
                                                                    "values": [
                                                                        {
                                                                            "odd": "1.72",
                                                                            "value": "Over 0.5"
                                                                        },
                                                                        {
                                                                            "odd": "2.00",
                                                                            "value": "Under 0.5"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 33,
                                                                    "name": "Away Team Total Goals (2nd Period)",
                                                                    "values": [
                                                                        {
                                                                            "odd": "1.35",
                                                                            "value": "Over 0.5"
                                                                        },
                                                                        {
                                                                            "odd": "2.95",
                                                                            "value": "Under 0.5"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 34,
                                                                    "name": "Away Team Total Goals (3rd Period)",
                                                                    "values": [
                                                                        {
                                                                            "odd": "1.72",
                                                                            "value": "Over 0.5"
                                                                        },
                                                                        {
                                                                            "odd": "2.00",
                                                                            "value": "Under 0.5"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 35,
                                                                    "name": "Correct Score (1st Period)",
                                                                    "values": [
                                                                        {
                                                                            "odd": "4.50",
                                                                            "value": "1:0"
                                                                        },
                                                                        {
                                                                            "odd": "7.50",
                                                                            "value": "2:0"
                                                                        },
                                                                        {
                                                                            "odd": "11.00",
                                                                            "value": "2:1"
                                                                        },
                                                                        {
                                                                            "odd": "18.00",
                                                                            "value": "3:0"
                                                                        },
                                                                        {
                                                                            "odd": "26.00",
                                                                            "value": "3:1"
                                                                        },
                                                                        {
                                                                            "odd": "81.00",
                                                                            "value": "3:2"
                                                                        },
                                                                        {
                                                                            "odd": "4.50",
                                                                            "value": "0:0"
                                                                        },
                                                                        {
                                                                            "odd": "6.00",
                                                                            "value": "1:1"
                                                                        },
                                                                        {
                                                                            "odd": "26.00",
                                                                            "value": "2:2"
                                                                        },
                                                                        {
                                                                            "odd": "251.00",
                                                                            "value": "3:3"
                                                                        },
                                                                        {
                                                                            "odd": "6.50",
                                                                            "value": "0:1"
                                                                        },
                                                                        {
                                                                            "odd": "15.00",
                                                                            "value": "0:2"
                                                                        },
                                                                        {
                                                                            "odd": "51.00",
                                                                            "value": "0:3"
                                                                        },
                                                                        {
                                                                            "odd": "15.00",
                                                                            "value": "1:2"
                                                                        },
                                                                        {
                                                                            "odd": "67.00",
                                                                            "value": "1:3"
                                                                        },
                                                                        {
                                                                            "odd": "126.00",
                                                                            "value": "2:3"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 39,
                                                                    "name": "Correct Score (2nd Period)",
                                                                    "values": [
                                                                        {
                                                                            "odd": "5.00",
                                                                            "value": "1:0"
                                                                        },
                                                                        {
                                                                            "odd": "7.75",
                                                                            "value": "2:0"
                                                                        },
                                                                        {
                                                                            "odd": "9.50",
                                                                            "value": "2:1"
                                                                        },
                                                                        {
                                                                            "odd": "17.00",
                                                                            "value": "3:0"
                                                                        },
                                                                        {
                                                                            "odd": "21.00",
                                                                            "value": "3:1"
                                                                        },
                                                                        {
                                                                            "odd": "51.00",
                                                                            "value": "3:2"
                                                                        },
                                                                        {
                                                                            "odd": "6.00",
                                                                            "value": "0:0"
                                                                        },
                                                                        {
                                                                            "odd": "5.75",
                                                                            "value": "1:1"
                                                                        },
                                                                        {
                                                                            "odd": "20.00",
                                                                            "value": "2:2"
                                                                        },
                                                                        {
                                                                            "odd": "251.00",
                                                                            "value": "3:3"
                                                                        },
                                                                        {
                                                                            "odd": "7.50",
                                                                            "value": "0:1"
                                                                        },
                                                                        {
                                                                            "odd": "14.50",
                                                                            "value": "0:2"
                                                                        },
                                                                        {
                                                                            "odd": "51.00",
                                                                            "value": "0:3"
                                                                        },
                                                                        {
                                                                            "odd": "13.00",
                                                                            "value": "1:2"
                                                                        },
                                                                        {
                                                                            "odd": "41.00",
                                                                            "value": "1:3"
                                                                        },
                                                                        {
                                                                            "odd": "67.00",
                                                                            "value": "2:3"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 40,
                                                                    "name": "Correct Score (3rd Period)",
                                                                    "values": [
                                                                        {
                                                                            "odd": "5.25",
                                                                            "value": "1:0"
                                                                        },
                                                                        {
                                                                            "odd": "7.25",
                                                                            "value": "2:0"
                                                                        },
                                                                        {
                                                                            "odd": "9.25",
                                                                            "value": "2:1"
                                                                        },
                                                                        {
                                                                            "odd": "15.00",
                                                                            "value": "3:0"
                                                                        },
                                                                        {
                                                                            "odd": "19.50",
                                                                            "value": "3:1"
                                                                        },
                                                                        {
                                                                            "odd": "51.00",
                                                                            "value": "3:2"
                                                                        },
                                                                        {
                                                                            "odd": "6.50",
                                                                            "value": "0:0"
                                                                        },
                                                                        {
                                                                            "odd": "6.00",
                                                                            "value": "1:1"
                                                                        },
                                                                        {
                                                                            "odd": "20.00",
                                                                            "value": "2:2"
                                                                        },
                                                                        {
                                                                            "odd": "201.00",
                                                                            "value": "3:3"
                                                                        },
                                                                        {
                                                                            "odd": "7.75",
                                                                            "value": "0:1"
                                                                        },
                                                                        {
                                                                            "odd": "14.00",
                                                                            "value": "0:2"
                                                                        },
                                                                        {
                                                                            "odd": "36.00",
                                                                            "value": "0:3"
                                                                        },
                                                                        {
                                                                            "odd": "13.50",
                                                                            "value": "1:2"
                                                                        },
                                                                        {
                                                                            "odd": "34.00",
                                                                            "value": "1:3"
                                                                        },
                                                                        {
                                                                            "odd": "81.00",
                                                                            "value": "2:3"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 41,
                                                                    "name": "Will match go to overtime?",
                                                                    "values": [
                                                                        {
                                                                            "odd": "4.50",
                                                                            "value": "Yes"
                                                                        },
                                                                        {
                                                                            "odd": "1.15",
                                                                            "value": "No"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 42,
                                                                    "name": "Home/Away (1st Period)",
                                                                    "values": [
                                                                        {
                                                                            "odd": "1.48",
                                                                            "value": "Home"
                                                                        },
                                                                        {
                                                                            "odd": "2.50",
                                                                            "value": "Away"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 46,
                                                                    "name": "Home/Away (2nd Period)",
                                                                    "values": [
                                                                        {
                                                                            "odd": "1.45",
                                                                            "value": "Home"
                                                                        },
                                                                        {
                                                                            "odd": "2.55",
                                                                            "value": "Away"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 47,
                                                                    "name": "Home/Away (3rd Period)",
                                                                    "values": [
                                                                        {
                                                                            "odd": "1.45",
                                                                            "value": "Home"
                                                                        },
                                                                        {
                                                                            "odd": "2.55",
                                                                            "value": "Away"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 48,
                                                                    "name": "European Handicap (1st Q",
                                                                    "values": [
                                                                        {
                                                                            "odd": "5.25",
                                                                            "value": "Home -1"
                                                                        },
                                                                        {
                                                                            "odd": "1.62",
                                                                            "value": "Away -1"
                                                                        },
                                                                        {
                                                                            "odd": "3.30",
                                                                            "value": "Draw -1"
                                                                        },
                                                                        {
                                                                            "odd": "1.25",
                                                                            "value": "Home +1"
                                                                        },
                                                                        {
                                                                            "odd": "11.00",
                                                                            "value": "Away +1"
                                                                        },
                                                                        {
                                                                            "odd": "4.60",
                                                                            "value": "Draw +1"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 49,
                                                                    "name": "European Handicap (2nd Q",
                                                                    "values": [
                                                                        {
                                                                            "odd": "4.60",
                                                                            "value": "Home -1"
                                                                        },
                                                                        {
                                                                            "odd": "1.67",
                                                                            "value": "Away -1"
                                                                        },
                                                                        {
                                                                            "odd": "3.40",
                                                                            "value": "Draw -1"
                                                                        },
                                                                        {
                                                                            "odd": "1.25",
                                                                            "value": "Home +1"
                                                                        },
                                                                        {
                                                                            "odd": "10.00",
                                                                            "value": "Away +1"
                                                                        },
                                                                        {
                                                                            "odd": "4.75",
                                                                            "value": "Draw +1"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 50,
                                                                    "name": "European Handicap (3rd Q",
                                                                    "values": [
                                                                        {
                                                                            "odd": "4.20",
                                                                            "value": "Home -1"
                                                                        },
                                                                        {
                                                                            "odd": "1.72",
                                                                            "value": "Away -1"
                                                                        },
                                                                        {
                                                                            "odd": "3.40",
                                                                            "value": "Draw -1"
                                                                        },
                                                                        {
                                                                            "odd": "1.26",
                                                                            "value": "Home +1"
                                                                        },
                                                                        {
                                                                            "odd": "8.75",
                                                                            "value": "Away +1"
                                                                        },
                                                                        {
                                                                            "odd": "5.00",
                                                                            "value": "Draw +1"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 51,
                                                                    "name": "Home/Away (Reg Time)",
                                                                    "values": [
                                                                        {
                                                                            "odd": "1.30",
                                                                            "value": "Home"
                                                                        },
                                                                        {
                                                                            "odd": "3.20",
                                                                            "value": "Away"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 52,
                                                                    "name": "Over/Under (Reg Time)",
                                                                    "values": [
                                                                        {
                                                                            "odd": "1.17",
                                                                            "value": "Over 3.5"
                                                                        },
                                                                        {
                                                                            "odd": "4.50",
                                                                            "value": "Under 3.5"
                                                                        },
                                                                        {
                                                                            "odd": "1.45",
                                                                            "value": "Over 4.5"
                                                                        },
                                                                        {
                                                                            "odd": "2.55",
                                                                            "value": "Under 4.5"
                                                                        },
                                                                        {
                                                                            "odd": "1.91",
                                                                            "value": "Over 5.5"
                                                                        },
                                                                        {
                                                                            "odd": "1.80",
                                                                            "value": "Under 5.5"
                                                                        },
                                                                        {
                                                                            "odd": "2.90",
                                                                            "value": "Over 6.5"
                                                                        },
                                                                        {
                                                                            "odd": "1.36",
                                                                            "value": "Under 6.5"
                                                                        },
                                                                        {
                                                                            "odd": "4.33",
                                                                            "value": "Over 7.5"
                                                                        },
                                                                        {
                                                                            "odd": "1.18",
                                                                            "value": "Under 7.5"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 53,
                                                                    "name": "Asian Handicap (Reg Time)",
                                                                    "values": [
                                                                        {
                                                                            "odd": "2.15",
                                                                            "value": "Home -1.5"
                                                                        },
                                                                        {
                                                                            "odd": "1.70",
                                                                            "value": "Away -1.5"
                                                                        },
                                                                        {
                                                                            "odd": "1.12",
                                                                            "value": "Home +1.5"
                                                                        },
                                                                        {
                                                                            "odd": "6.00",
                                                                            "value": "Away +1.5"
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "id": 1,
                                                            "name": "bwin"
                                                        },
                                                        {
                                                            "bets": [
                                                                {
                                                                    "id": 1,
                                                                    "name": "3Way Result",
                                                                    "values": [
                                                                        {
                                                                            "odd": "1.65",
                                                                            "value": "Home"
                                                                        },
                                                                        {
                                                                            "odd": "4.65",
                                                                            "value": "Draw"
                                                                        },
                                                                        {
                                                                            "odd": "4.00",
                                                                            "value": "Away"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 2,
                                                                    "name": "Home/Away",
                                                                    "values": [
                                                                        {
                                                                            "odd": "1.42",
                                                                            "value": "Home"
                                                                        },
                                                                        {
                                                                            "odd": "2.70",
                                                                            "value": "Away"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 3,
                                                                    "name": "Asian Handicap",
                                                                    "values": [
                                                                        {
                                                                            "odd": "2.10",
                                                                            "value": "Home -1.5"
                                                                        },
                                                                        {
                                                                            "odd": "1.61",
                                                                            "value": "Away -1.5"
                                                                        },
                                                                        {
                                                                            "odd": "1.10",
                                                                            "value": "Home +1.5"
                                                                        },
                                                                        {
                                                                            "odd": "5.35",
                                                                            "value": "Away +1.5"
                                                                        },
                                                                        {
                                                                            "odd": "3.20",
                                                                            "value": "Home -2.5"
                                                                        },
                                                                        {
                                                                            "odd": "1.27",
                                                                            "value": "Away -2.5"
                                                                        },
                                                                        {
                                                                            "odd": "5.75",
                                                                            "value": "Home -3.5"
                                                                        },
                                                                        {
                                                                            "odd": "1.08",
                                                                            "value": "Away -3.5"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "id": 4,
                                                                    "name": "Over/Under",
                                                                    "values": [
                                                                        {
                                                                            "odd": "1.16",
                                                                            "value": "Over 3.5"
                                                                        },
                                                                        {
                                                                            "odd": "4.15",
                                                                            "value": "Under 3.5"
                                                                        },
                                                                        {
                                                                            "odd": "1.32",
                                                                            "value": "Over 4.5"
                                                                        },
                                                                        {
                                                                            "odd": "2.95",
                                                                            "value": "Under 4.5"
                                                                        },
                                                                        {
                                                                            "odd": "9.50",
                                                                            "value": "Under 2.5"
                                                                        },
                                                                        {
                                                                            "odd": "2.40",
                                                                            "value": "Over 6.5"
                                                                        },
                                                                        {
                                                                            "odd": "1.47",
                                                                            "value": "Under 6.5"
                                                                        },
                                                                        {
                                                                            "odd": "9.25",
                                                                            "value": "Over 9.5"
                                                                        },
                                                                        {
                                                                            "odd": "1.01",
                                                                            "value": "Under 9.5"
                                                                        },
                                                                        {
                                                                            "odd": "4.10",
                                                                            "value": "Over 7.5"
                                                                        },
                                                                        {
                                                                            "odd": "1.17",
                                                                            "value": "Under 7.5"
                                                                        },
                                                                        {
                                                                            "odd": "5.50",
                                                                            "value": "Over 8.5"
                                                                        },
                                                                        {
                                                                            "odd": "1.09",
                                                                            "value": "Under 8.5"
                                                                        }
                                                                    ]
[...]
