{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_3058835d-ea57-480e-a3f9-908eedc63c9d",
            "value": "✓"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "apiversion_72273a93-6486-43c2-b7e0-67527a71ba96",
        "apiId": "api_0614817d-1cb7-4e72-b988-518b98d66562"
    },
    "info": {
        "title": "CIS Automotive",
        "description": "Uncover the secrets of your automotive market. We provide detailed realtime automotive market data across the US for major car brands and models. Our VinDecode endpoint is now available.",
        "version": "v1",
        "x-category": "Data",
        "x-long-description": "This API provides access to our Automotive Data. Use of this API is subject to our Terms of Service.\n\n\nFor a quick start guide visit https://api.autodealerdata.com/APIQuickStart\n\n\nOur VinDecode endpoint is now available.\n\n\nOur endpoints provide supply, pricing, vehicle, and sales data on the US automotive market on a brand and region basis. They are generated daily from our database of 40k dealerships and over 430M vehicles.  \n\n\nIf you have any questions or suggestions for new endpoints let us know!",
        "x-website": "https://api.autodealerdata.com",
        "x-public": true,
        "x-thumbnail": "https://rapidapi-prod-collections.s3.amazonaws.com/e7e464e0-5415-4d00-a3d2-af2f7624a582.png",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://cis-automotive.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [
        {
            "name": "Vehicle Data",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Dealership Data"
        },
        {
            "name": "salePrice"
        },
        {
            "name": "daysSupply"
        },
        {
            "name": "listPrice"
        },
        {
            "name": "daysToSell"
        },
        {
            "name": "Static Data"
        },
        {
            "name": "topModels"
        },
        {
            "name": "Pricing Data"
        },
        {
            "name": "Supply Data"
        },
        {
            "name": "getBrands"
        },
        {
            "name": "getRegions"
        },
        {
            "name": "Authentication"
        },
        {
            "name": "getToken"
        },
        {
            "name": "Sales Data"
        }
    ],
    "paths": {
        "/listingsByRegion": {
            "get": {
                "tags": [
                    "Vehicle Data"
                ],
                "parameters": [
                    {
                        "name": "newCars",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "externalDocs": {},
                            "default": "true"
                        }
                    },
                    {
                        "name": "daysBack",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "externalDocs": {},
                            "default": "45"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "externalDocs": {},
                            "default": "1"
                        }
                    },
                    {
                        "name": "regionName",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "externalDocs": {},
                            "default": "REGION_SOUTHERN_CALIFORNIA"
                        }
                    },
                    {
                        "name": "modelName",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "externalDocs": {},
                            "default": "Camry"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "listingsByRegion",
                "description": "Returns a dealer's listings over up to the last 45 days by dealer ID. The ID can be found by calling the /getDealers endpoint. Listing keys are: vin, askPrice, msrp, isNew, firstSeen, lastSeen, modelName, brandName. Results are paginated in chunks of up to 20 vehicles. Prices are in the dealer's local currency (generally USD).",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Response": {
                                        "description": "",
                                        "summary": "Response",
                                        "value": {
                                            "brandName": null,
                                            "modelName": "Camry",
                                            "regionName": "REGION_SOUTHERN_CALIFORNIA",
                                            "condition": "new",
                                            "msg": null,
                                            "cacheTimeLimit": 7200,
                                            "data": {
                                                "page": 1,
                                                "maxPages": 638,
                                                "listings": [
                                                    {
                                                        "vin": "4T1KZ1AK4MU055372",
                                                        "askPrice": 38867,
                                                        "msrp": 38867,
                                                        "mileage": 54,
                                                        "isNew": true,
                                                        "firstSeen": "2021-06-08",
                                                        "lastSeen": "2021-06-10",
                                                        "modelName": "CAMRY",
                                                        "brandName": "TOYOTA",
                                                        "year": 2021,
                                                        "dealerID": 51,
                                                        "color": "Silver",
                                                        "interiorColor": "Cockpit Red Lea",
                                                        "vinDecode": {
                                                            "ABS": "",
                                                            "ActiveSafetySysNote": "",
                                                            "AdaptiveCruiseControl": "",
                                                            "AdaptiveDrivingBeam": "",
                                                            "AdaptiveHeadlights": "",
                                                            "AirBagLocCurtain": "1st & 2nd Rows",
                                                            "AirBagLocFront": "1st Row (Driver & Passenger)",
                                                            "AirBagLocKnee": "1st Row (Driver & Passenger)",
                                                            "AirBagLocSeatCushion": "",
                                                            "AirBagLocSide": "1st & 2nd Rows",
                                                            "AutoReverseSystem": "",
                                                            "AutomaticPedestrianAlertingSound": "",
                                                            "AxleConfiguration": "",
                                                            "Axles": "",
                                                            "BasePrice": "",
                                                            "BatteryA": "",
                                                            "BatteryA_to": "",
                                                            "BatteryCells": "",
                                                            "BatteryInfo": "",
                                                            "BatteryKWh": "",
                                                            "BatteryKWh_to": "",
                                                            "BatteryModules": "",
                                                            "BatteryPacks": "",
                                                            "BatteryType": "",
                                                            "BatteryV": "",
                                                            "BatteryV_to": "",
                                                            "BedLengthIN": "",
                                                            "BedType": "Not Applicable",
                                                            "BlindSpotMon": "",
                                                            "BodyCabType": "Not Applicable",
                                                            "BodyClass": "Sedan/Saloon",
                                                            "BrakeSystemDesc": "",
                                                            "BrakeSystemType": "",
                                                            "BusFloorConfigType": "Not Applicable",
                                                            "BusLength": "",
                                                            "BusType": "Not Applicable",
                                                            "CAN_AACN": "",
                                                            "CIB": "",
                                                            "CashForClunkers": "",
                                                            "ChargerLevel": "",
                                                            "ChargerPowerKW": "",
                                                            "CoolingType": "",
                                                            "CurbWeightLB": "",
                                                            "CustomMotorcycleType": "Not Applicable",
                                                            "DaytimeRunningLight": "",
                                                            "DestinationMarket": "",
                                                            "DisplacementCC": "3500.0",
                                                            "DisplacementCI": "213.58310433156",
                                                            "DisplacementL": "3.5",
                                                            "Doors": "4",
                                                            "DriveType": "4x2",
                                                            "DriverAssist": "",
                                                            "DynamicBrakeSupport": "",
                                                            "EDR": "",
                                                            "ESC": "",
                                                            "EVDriveUnit": "",
                                                            "ElectrificationLevel": "",
                                                            "EngineConfiguration": "V-Shaped",
                                                            "EngineCycles": "",
                                                            "EngineCylinders": "6",
                                                            "EngineHP": "301",
                                                            "EngineHP_to": "",
                                                            "EngineKW": "224.4557",
                                                            "EngineManufacturer": "",
                                                            "EngineModel": "2GR-FKS",
                                                            "EntertainmentSystem": "",
                                                            "ForwardCollisionWarning": "",
                                                            "FuelInjectionType": "",
                                                            "FuelTypePrimary": "Gasoline",
                                                            "FuelTypeSecondary": "",
                                                            "GCWR": "",
                                                            "GCWR_to": "",
                                                            "GVWR": "",
                                                            "GVWR_to": "",
                                                            "KeylessIgnition": "",
                                                            "LaneDepartureWarning": "",
                                                            "LaneKeepSystem": "",
                                                            "LowerBeamHeadlampLightSource": "",
                                                            "Make": "TOYOTA",
                                                            "MakeID": "448",
                                                            "Manufacturer": "TOYOTA MOTOR MANUFACTURING, KENTUCKY, INC.",
                                                            "ManufacturerId": "1088",
                                                            "Model": "Camry",
                                                            "ModelID": "2469",
                                                            "ModelYear": "2021",
                                                            "MotorcycleChassisType": "Not Applicable",
                                                            "MotorcycleSuspensionType": "Not Applicable",
                                                            "NCSABodyType": "",
                                                            "NCSAMake": "",
                                                            "NCSAMapExcApprovedBy": "",
                                                            "NCSAMapExcApprovedOn": "",
                                                            "NCSAMappingException": "",
                                                            "NCSAModel": "",
                                                            "NCSANote": "",
                                                            "Note": "",
                                                            "OtherBusInfo": "",
                                                            "OtherEngineInfo": "Port+Direct",
                                                            "OtherMotorcycleInfo": "",
                                                            "OtherRestraintSystemInfo": "Seat Belts: All seats",
                                                            "OtherTrailerInfo": "",
                                                            "ParkAssist": "",
                                                            "PedestrianAutomaticEmergencyBraking": "",
                                                            "PlantCity": "GEORGETOWN",
                                                            "PlantCompanyName": "Toyota Motor Manufacturing, Kentucky, Inc.",
                                                            "PlantCountry": "UNITED STATES (USA)",
                                                            "PlantState": "KENTUCKY",
                                                            "PossibleValues": "",
                                                            "Pretensioner": "",
                                                            "RearCrossTrafficAlert": "",
                                                            "RearVisibilitySystem": "",
                                                            "SAEAutomationLevel": "",
                                                            "SAEAutomationLevel_to": "",
                                                            "SeatBeltsAll": "Manual",
                                                            "SeatRows": "",
                                                            "Seats": "",
                                                            "SemiautomaticHeadlampBeamSwitching": "",
                                                            "Series": "AXVA70L/GSV70L/AXVH70L",
                                                            "Series2": "",
                                                            "SteeringLocation": "",
                                                            "SuggestedVIN": "",
                                                            "TPMS": "Direct",
                                                            "TopSpeedMPH": "",
                                                            "TrackWidth": "",
                                                            "TractionControl": "",
                                                            "TrailerBodyType": "Not Applicable",
                                                            "TrailerLength": "",
                                                            "TrailerType": "Not Applicable",
                                                            "TransmissionSpeeds": "",
                                                            "TransmissionStyle": "",
                                                            "Trim": "XSE",
                                                            "Trim2": "",
                                                            "Turbo": "",
                                                            "VIN": "4T1KZ1AK4MU055372",
                                                            "ValveTrainDesign": "",
                                                            "VehicleType": "PASSENGER CAR",
                                                            "WheelBaseLong": "",
                                                            "WheelBaseShort": "",
                                                            "WheelBaseType": "",
                                                            "WheelSizeFront": "",
                                                            "WheelSizeRear": "",
                                                            "Wheels": "",
                                                            "Windows": ""
                                                        }
                                                    },
                                                    {
                                                        "vin": "4T1G11AK8MU468182",
                                                        "askPrice": 28583,
                                                        "msrp": 28583,
                                                        "mileage": 4,
                                                        "isNew": true,
                                                        "firstSeen": "2021-05-29",
                                                        "lastSeen": "2021-06-08",
                                                        "modelName": "CAMRY",
                                                        "brandName": "TOYOTA",
                                                        "year": 2021,
                                                        "dealerID": 51,
                                                        "color": "White",
                                                        "interiorColor": "Black Softex",
                                                        "vinDecode": {
                                                            "ABS": "",
                                                            "ActiveSafetySysNote": "",
                                                            "AdaptiveCruiseControl": "",
                                                            "AdaptiveDrivingBeam": "",
                                                            "AdaptiveHeadlights": "",
                                                            "AirBagLocCurtain": "1st & 2nd Rows",
                                                            "AirBagLocFront": "1st Row (Driver & Passenger)",
                                                            "AirBagLocKnee": "1st Row (Driver & Passenger)",
                                                            "AirBagLocSeatCushion": "",
                                                            "AirBagLocSide": "1st & 2nd Rows",
                                                            "AutoReverseSystem": "",
                                                            "AutomaticPedestrianAlertingSound": "",
                                                            "AxleConfiguration": "",
                                                            "Axles": "",
                                                            "BasePrice": "",
                                                            "BatteryA": "",
                                                            "BatteryA_to": "",
                                                            "BatteryCells": "",
                                                            "BatteryInfo": "",
                                                            "BatteryKWh": "",
                                                            "BatteryKWh_to": "",
                                                            "BatteryModules": "",
                                                            "BatteryPacks": "",
                                                            "BatteryType": "",
                                                            "BatteryV": "",
                                                            "BatteryV_to": "",
                                                            "BedLengthIN": "",
                                                            "BedType": "Not Applicable",
                                                            "BlindSpotMon": "",
                                                            "BodyCabType": "Not Applicable",
                                                            "BodyClass": "Sedan/Saloon",
                                                            "BrakeSystemDesc": "",
                                                            "BrakeSystemType": "",
                                                            "BusFloorConfigType": "Not Applicable",
                                                            "BusLength": "",
                                                            "BusType": "Not Applicable",
                                                            "CAN_AACN": "",
                                                            "CIB": "",
                                                            "CashForClunkers": "",
                                                            "ChargerLevel": "",
                                                            "ChargerPowerKW": "",
                                                            "CoolingType": "",
                                                            "CurbWeightLB": "",
                                                            "CustomMotorcycleType": "Not Applicable",
                                                            "DaytimeRunningLight": "",
                                                            "DestinationMarket": "",
                                                            "DisplacementCC": "2487",
                                                            "DisplacementCI": "152",
                                                            "DisplacementL": "2.5",
                                                            "Doors": "4",
                                                            "DriveType": "4x2",
                                                            "DriverAssist": "",
                                                            "DynamicBrakeSupport": "",
                                                            "EDR": "",
                                                            "ESC": "",
                                                            "EVDriveUnit": "",
                                                            "ElectrificationLevel": "",
                                                            "EngineConfiguration": "In-Line",
                                                            "EngineCycles": "4",
                                                            "EngineCylinders": "4",
                                                            "EngineHP": "203",
                                                            "EngineHP_to": "",
                                                            "EngineKW": "151.3771",
                                                            "EngineManufacturer": "Toyota",
                                                            "EngineModel": "A25A-FKS",
                                                            "EntertainmentSystem": "",
                                                            "ForwardCollisionWarning": "",
                                                            "FuelInjectionType": "",
                                                            "FuelTypePrimary": "Gasoline",
                                                            "FuelTypeSecondary": "",
                                                            "GCWR": "",
                                                            "GCWR_to": "",
                                                            "GVWR": "",
                                                            "GVWR_to": "",
                                                            "KeylessIgnition": "",
                                                            "LaneDepartureWarning": "",
                                                            "LaneKeepSystem": "",
                                                            "LowerBeamHeadlampLightSource": "",
                                                            "Make": "TOYOTA",
                                                            "MakeID": "448",
                                                            "Manufacturer": "TOYOTA MOTOR MANUFACTURING, KENTUCKY, INC.",
                                                            "ManufacturerId": "1088",
                                                            "Model": "Camry",
                                                            "ModelID": "2469",
                                                            "ModelYear": "2021",
                                                            "MotorcycleChassisType": "Not Applicable",
                                                            "MotorcycleSuspensionType": "Not Applicable",
                                                            "NCSABodyType": "",
                                                            "NCSAMake": "",
                                                            "NCSAMapExcApprovedBy": "",
                                                            "NCSAMapExcApprovedOn": "",
                                                            "NCSAMappingException": "",
                                                            "NCSAModel": "",
                                                            "NCSANote": "",
                                                            "Note": "",
                                                            "OtherBusInfo": "",
                                                            "OtherEngineInfo": "Port+Direct",
                                                            "OtherMotorcycleInfo": "",
                                                            "OtherRestraintSystemInfo": "Seat Belts: All seats",
                                                            "OtherTrailerInfo": "",
                                                            "ParkAssist": "",
                                                            "PedestrianAutomaticEmergencyBraking": "",
                                                            "PlantCity": "GEORGETOWN",
                                                            "PlantCompanyName": "Toyota Motor Manufacturing, Kentucky, Inc.",
                                                            "PlantCountry": "UNITED STATES (USA)",
                                                            "PlantState": "KENTUCKY",
                                                            "PossibleValues": "",
                                                            "Pretensioner": "",
                                                            "RearCrossTrafficAlert": "",
                                                            "RearVisibilitySystem": "",
                                                            "SAEAutomationLevel": "",
                                                            "SAEAutomationLevel_to": "",
                                                            "SeatBeltsAll": "Manual",
                                                            "SeatRows": "",
                                                            "Seats": "",
                                                            "SemiautomaticHeadlampBeamSwitching": "",
                                                            "Series": "AXVA70L/GSV70L/AXVH70L",
                                                            "Series2": "",
                                                            "SteeringLocation": "",
                                                            "SuggestedVIN": "",
                                                            "TPMS": "Direct",
                                                            "TopSpeedMPH": "",
                                                            "TrackWidth": "",
                                                            "TractionControl": "",
                                                            "TrailerBodyType": "Not Applicable",
                                                            "TrailerLength": "",
                                                            "TrailerType": "Not Applicable",
                                                            "TransmissionSpeeds": "",
                                                            "TransmissionStyle": "",
                                                            "Trim": "SE",
                                                            "Trim2": "",
                                                            "Turbo": "",
                                                            "VIN": "4T1G11AK8MU468182",
                                                            "ValveTrainDesign": "Dual Overhead Cam (DOHC)",
                                                            "VehicleType": "PASSENGER CAR",
                                                            "WheelBaseLong": "",
                                                            "WheelBaseShort": "",
                                                            "WheelBaseType": "",
                                                            "WheelSizeFront": "",
                                                            "WheelSizeRear": "",
                                                            "Wheels": "",
                                                            "Windows": ""
                                                        }
                                                    },
                                                    {
                                                        "vin": "4T1T11AKXMU470739",
                                                        "askPrice": 29992,
                                                        "msrp": 29992,
                                                        "mileage": 1,
                                                        "isNew": true,
                                                        "firstSeen": "2021-05-29",
                                                        "lastSeen": "2021-06-11",
                                                        "modelName": "CAMRY",
                                                        "brandName": "TOYOTA",
                                                        "year": 2021,
                                                        "dealerID": 51,
                                                        "color": "White",
                                                        "interiorColor": "Black SofTex&reg;",
                                                        "vinDecode": {
                                                            "ABS": "",
                                                            "ActiveSafetySysNote": "",
                                                            "AdaptiveCruiseControl": "",
                                                            "AdaptiveDrivingBeam": "",
                                                            "AdaptiveHeadlights": "",
                                                            "AirBagLocCurtain": "1st & 2nd Rows",
                                                            "AirBagLocFront": "1st Row (Driver & Passenger)",
                                                            "AirBagLocKnee": "1st Row (Driver & Passenger)",
                                                            "AirBagLocSeatCushion": "",
                                                            "AirBagLocSide": "1st & 2nd Rows",
                                                            "AutoReverseSystem": "",
                                                            "AutomaticPedestrianAlertingSound": "",
                                                            "AxleConfiguration": "",
                                                            "Axles": "",
                                                            "BasePrice": "",
                                                            "BatteryA": "",
                                                            "BatteryA_to": "",
                                                            "BatteryCells": "",
                                                            "BatteryInfo": "",
                                                            "BatteryKWh": "",
                                                            "BatteryKWh_to": "",
                                                            "BatteryModules": "",
                                                            "BatteryPacks": "",
                                                            "BatteryType": "",
                                                            "BatteryV": "",
                                                            "BatteryV_to": "",
                                                            "BedLengthIN": "",
                                                            "BedType": "Not Applicable",
                                                            "BlindSpotMon": "",
                                                            "BodyCabType": "Not Applicable",
                                                            "BodyClass": "Sedan/Saloon",
                                                            "BrakeSystemDesc": "",
                                                            "BrakeSystemType": "",
                                                            "BusFloorConfigType": "Not Applicable",
                                                            "BusLength": "",
                                                            "BusType": "Not Applicable",
                                                            "CAN_AACN": "",
                                                            "CIB": "",
                                                            "CashForClunkers": "",
                                                            "ChargerLevel": "",
                                                            "ChargerPowerKW": "",
                                                            "CoolingType": "",
                                                            "CurbWeightLB": "",
                                                            "CustomMotorcycleType": "Not Applicable",
                                                            "DaytimeRunningLight": "",
                                                            "DestinationMarket": "",
                                                            "DisplacementCC": "2487",
                                                            "DisplacementCI": "152",
                                                            "DisplacementL": "2.5",
                                                            "Doors": "4",
                                                            "DriveType": "4x2",
                                                            "DriverAssist": "",
                                                            "DynamicBrakeSupport": "",
                                                            "EDR": "",
                                                            "ESC": "",
                                                            "EVDriveUnit": "",
                                                            "ElectrificationLevel": "",
                                                            "EngineConfiguration": "In-Line",
                                                            "EngineCycles": "4",
                                                            "EngineCylinders": "4",
                                                            "EngineHP": "203",
                                                            "EngineHP_to": "",
                                                            "EngineKW": "151.3771",
                                                            "EngineManufacturer": "Toyota",
                                                            "EngineModel": "A25A-FKS",
                                                            "EntertainmentSystem": "",
                                                            "ForwardCollisionWarning": "",
                                                            "FuelInjectionType": "",
                                                            "FuelTypePrimary": "Gasoline",
                                                            "FuelTypeSecondary": "",
                                                            "GCWR": "",
                                                            "GCWR_to": "",
                                                            "GVWR": "",
                                                            "GVWR_to": "",
                                                            "KeylessIgnition": "",
                                                            "LaneDepartureWarning": "",
                                                            "LaneKeepSystem": "",
                                                            "LowerBeamHeadlampLightSource": "",
                                                            "Make": "TOYOTA",
                                                            "MakeID": "448",
                                                            "Manufacturer": "TOYOTA MOTOR MANUFACTURING, KENTUCKY, INC.",
                                                            "ManufacturerId": "1088",
                                                            "Model": "Camry",
                                                            "ModelID": "2469",
                                                            "ModelYear": "2021",
                                                            "MotorcycleChassisType": "Not Applicable",
                                                            "MotorcycleSuspensionType": "Not Applicable",
                                                            "NCSABodyType": "",
                                                            "NCSAMake": "",
                                                            "NCSAMapExcApprovedBy": "",
                                                            "NCSAMapExcApprovedOn": "",
                                                            "NCSAMappingException": "",
                                                            "NCSAModel": "",
                                                            "NCSANote": "",
                                                            "Note": "",
                                                            "OtherBusInfo": "",
                                                            "OtherEngineInfo": "Port+Direct",
                                                            "OtherMotorcycleInfo": "",
                                                            "OtherRestraintSystemInfo": "Seat Belts: All seats",
                                                            "OtherTrailerInfo": "",
                                                            "ParkAssist": "",
                                                            "PedestrianAutomaticEmergencyBraking": "",
                                                            "PlantCity": "GEORGETOWN",
                                                            "PlantCompanyName": "Toyota Motor Manufacturing, Kentucky, Inc.",
                                                            "PlantCountry": "UNITED STATES (USA)",
                                                            "PlantState": "KENTUCKY",
                                                            "PossibleValues": "",
                                                            "Pretensioner": "",
                                                            "RearCrossTrafficAlert": "",
                                                            "RearVisibilitySystem": "",
                                                            "SAEAutomationLevel": "",
                                                            "SAEAutomationLevel_to": "",
                                                            "SeatBeltsAll": "Manual",
                                                            "SeatRows": "",
                                                            "Seats": "",
                                                            "SemiautomaticHeadlampBeamSwitching": "",
                                                            "Series": "AXVA70L/GSV70L/AXVH70L",
                                                            "Series2": "",
                                                            "SteeringLocation": "",
                                                            "SuggestedVIN": "",
                                                            "TPMS": "Direct",
                                                            "TopSpeedMPH": "",
                                                            "TrackWidth": "",
                                                            "TractionControl": "",
                                                            "TrailerBodyType": "Not Applicable",
                                                            "TrailerLength": "",
                                                            "TrailerType": "Not Applicable",
                                                            "TransmissionSpeeds": "",
                                                            "TransmissionStyle": "",
                                                            "Trim": "SE + Convenient Pkg",
                                                            "Trim2": "",
                                                            "Turbo": "",
                                                            "VIN": "4T1T11AKXMU470739",
                                                            "ValveTrainDesign": "Dual Overhead Cam (DOHC)",
                                                            "VehicleType": "PASSENGER CAR",
                                                            "WheelBaseLong": "",
                                                            "WheelBaseShort": "",
                                                            "WheelBaseType": "",
                                                            "WheelSizeFront": "",
                                                            "WheelSizeRear": "",
                                                            "Wheels": "",
                                                            "Windows": ""
                                                        }
                                                    },
                                                    {
                                                        "vin": "4T1T11AK2MU469634",
                                                        "askPrice": 0,
                                                        "msrp": 0,
                                                        "mileage": 1,
                                                        "isNew": true,
                                                        "firstSeen": "2021-05-29",
                                                        "lastSeen": "2021-06-10",
                                                        "modelName": "CAMRY",
                                                        "brandName": "TOYOTA",
                                                        "year": 2021,
                                                        "dealerID": 51,
                                                        "color": "Silver",
                                                        "interiorColor": "Black SofTex&reg;",
                                                        "vinDecode": {
                                                            "ABS": "",
                                                            "ActiveSafetySysNote": "",
                                                            "AdaptiveCruiseControl": "",
                                                            "AdaptiveDrivingBeam": "",
                                                            "AdaptiveHeadlights": "",
                                                            "AirBagLocCurtain": "1st & 2nd Rows",
                                                            "AirBagLocFront": "1st Row (Driver & Passenger)",
                                                            "AirBagLocKnee": "1st Row (Driver & Passenger)",
                                                            "AirBagLocSeatCushion": "",
                                                            "AirBagLocSide": "1st & 2nd Rows",
                                                            "AutoReverseSystem": "",
                                                            "AutomaticPedestrianAlertingSound": "",
                                                            "AxleConfiguration": "",
                                                            "Axles": "",
                                                            "BasePrice": "",
                                                            "BatteryA": "",
                                                            "BatteryA_to": "",
                                                            "BatteryCells": "",
                                                            "BatteryInfo": "",
                                                            "BatteryKWh": "",
                                                            "BatteryKWh_to": "",
                                                            "BatteryModules": "",
                                                            "BatteryPacks": "",
                                                            "BatteryType": "",
                                                            "BatteryV": "",
                                                            "BatteryV_to": "",
                                                            "BedLengthIN": "",
                                                            "BedType": "Not Applicable",
                                                            "BlindSpotMon": "",
                                                            "BodyCabType": "Not Applicable",
                                                            "BodyClass": "Sedan/Saloon",
                                                            "BrakeSystemDesc": "",
                                                            "BrakeSystemType": "",
                                                            "BusFloorConfigType": "Not Applicable",
                                                            "BusLength": "",
                                                            "BusType": "Not Applicable",
                                                            "CAN_AACN": "",
                                                            "CIB": "",
                                                            "CashForClunkers": "",
                                                            "ChargerLevel": "",
                                                            "ChargerPowerKW": "",
                                                            "CoolingType": "",
                                                            "CurbWeightLB": "",
                                                            "CustomMotorcycleType": "Not Applicable",
                                                            "DaytimeRunningLight": "",
                                                            "DestinationMarket": "",
                                                            "DisplacementCC": "2487",
                                                            "DisplacementCI": "152",
                                                            "DisplacementL": "2.5",
                                                            "Doors": "4",
                                                            "DriveType": "4x2",
                                                            "DriverAssist": "",
                                                            "DynamicBrakeSupport": "",
                                                            "EDR": "",
                                                            "ESC": "",
                                                            "EVDriveUnit": "",
                                                            "ElectrificationLevel": "",
                                                            "EngineConfiguration": "In-Line",
                                                            "EngineCycles": "4",
                                                            "EngineCylinders": "4",
                                                            "EngineHP": "203",
                                                            "EngineHP_to": "",
                                                            "EngineKW": "151.3771",
                                                            "EngineManufacturer": "Toyota",
                                                            "EngineModel": "A25A-FKS",
                                                            "EntertainmentSystem": "",
                                                            "ForwardCollisionWarning": "",
                                                            "FuelInjectionType": "",
                                                            "FuelTypePrimary": "Gasoline",
                                                            "FuelTypeSecondary": "",
                                                            "GCWR": "",
                                                            "GCWR_to": "",
                                                            "GVWR": "",
                                                            "GVWR_to": "",
                                                            "KeylessIgnition": "",
                                                            "LaneDepartureWarning": "",
                                                            "LaneKeepSystem": "",
                                                            "LowerBeamHeadlampLightSource": "",
                                                            "Make": "TOYOTA",
                                                            "MakeID": "448",
                                                            "Manufacturer": "TOYOTA MOTOR MANUFACTURING, KENTUCKY, INC.",
                                                            "ManufacturerId": "1088",
                                                            "Model": "Camry",
                                                            "ModelID": "2469",
                                                            "ModelYear": "2021",
                                                            "MotorcycleChassisType": "Not Applicable",
                                                            "MotorcycleSuspensionType": "Not Applicable",
                                                            "NCSABodyType": "",
                                                            "NCSAMake": "",
                                                            "NCSAMapExcApprovedBy": "",
                                                            "NCSAMapExcApprovedOn": "",
                                                            "NCSAMappingException": "",
                                                            "NCSAModel": "",
                                                            "NCSANote": "",
                                                            "Note": "",
                                                            "OtherBusInfo": "",
                                                            "OtherEngineInfo": "Port+Direct",
                                                            "OtherMotorcycleInfo": "",
                                                            "OtherRestraintSystemInfo": "Seat Belts: All seats",
                                                            "OtherTrailerInfo": "",
                                                            "ParkAssist": "",
                                                            "PedestrianAutomaticEmergencyBraking": "",
                                                            "PlantCity": "GEORGETOWN",
                                                            "PlantCompanyName": "Toyota Motor Manufacturing, Kentucky, Inc.",
                                                            "PlantCountry": "UNITED STATES (USA)",
                                                            "PlantState": "KENTUCKY",
                                                            "PossibleValues": "",
                                                            "Pretensioner": "",
                                                            "RearCrossTrafficAlert": "",
                                                            "RearVisibilitySystem": "",
                                                            "SAEAutomationLevel": "",
                                                            "SAEAutomationLevel_to": "",
                                                            "SeatBeltsAll": "Manual",
                                                            "SeatRows": "",
                                                            "Seats": "",
                                                            "SemiautomaticHeadlampBeamSwitching": "",
                                                            "Series": "AXVA70L/GSV70L/AXVH70L",
                                                            "Series2": "",
                                                            "SteeringLocation": "",
                                                            "SuggestedVIN": "",
                                                            "TPMS": "Direct",
                                                            "TopSpeedMPH": "",
                                                            "TrackWidth": "",
                                                            "TractionControl": "",
                                                            "TrailerBodyType": "Not Applicable",
                                                            "TrailerLength": "",
                                                            "TrailerType": "Not Applicable",
                                                            "TransmissionSpeeds": "",
                                                            "TransmissionStyle": "",
                                                            "Trim": "SE + Convenient Pkg",
                                                            "Trim2": "",
                                                            "Turbo": "",
                                                            "VIN": "4T1T11AK2MU469634",
                                                            "ValveTrainDesign": "Dual Overhead Cam (DOHC)",
                                                            "VehicleType": "PASSENGER CAR",
                                                            "WheelBaseLong": "",
                                                            "WheelBaseShort": "",
                                                            "WheelBaseType": "",
                                                            "WheelSizeFront": "",
                                                            "WheelSizeRear": "",
                                                            "Wheels": "",
                                                            "Windows": ""
                                                        }
                                                    },
                                                    {
                                                        "vin": "4T1G11AK2MU472647",
                                                        "askPrice": 0,
                                                        "msrp": 0,
                                                        "mileage": 1,
                                                        "isNew": true,
                                                        "firstSeen": "2021-05-29",
                                                        "lastSeen": "2021-06-08",
                                                        "modelName": "CAMRY",
                                                        "brandName": "TOYOTA",
                                                        "year": 2021,
                                                        "dealerID": 51,
                                                        "color": "White",
                                                        "interiorColor": "Black SofTex&reg;",
                                                        "vinDecode": {
                                                            "ABS": "",
                                                            "ActiveSafetySysNote": "",
                                                            "AdaptiveCruiseControl": "",
                                                            "AdaptiveDrivingBeam": "",
                                                            "AdaptiveHeadlights": "",
                                                            "AirBagLocCurtain": "1st & 2nd Rows",
                                                            "AirBagLocFront": "1st Row (Driver & Passenger)",
                                                            "AirBagLocKnee": "1st Row (Driver & Passenger)",
                                                            "AirBagLocSeatCushion": "",
                                                            "AirBagLocSide": "1st & 2nd Rows",
                                                            "AutoReverseSystem": "",
                                                            "AutomaticPedestrianAlertingSound": "",
                                                            "AxleConfiguration": "",
                                                            "Axles": "",
                                                            "BasePrice": "",
                                                            "BatteryA": "",
                                                            "BatteryA_to": "",
                                                            "BatteryCells": "",
                                                            "BatteryInfo": "",
                                                            "BatteryKWh": "",
                                                            "BatteryKWh_to": "",
                                                            "BatteryModules": "",
                                                            "BatteryPacks": "",
                                                            "BatteryType": "",
                                                            "BatteryV": "",
                                                            "BatteryV_to": "",
                                                            "BedLengthIN": "",
                                                            "BedType": "Not Applicable",
                                                            "BlindSpotMon": "",
                                                            "BodyCabType": "Not Applicable",
                                                            "BodyClass": "Sedan/Saloon",
                                                            "BrakeSystemDesc": "",
                                                            "BrakeSystemType": "",
                                                            "BusFloorConfigType": "Not Applicable",
                                                            "BusLength": "",
                                                            "BusType": "Not Applicable",
                                                            "CAN_AACN": "",
                                                            "CIB": "",
                                                            "CashForClunkers": "",
                                                            "ChargerLevel": "",
                                                            "ChargerPowerKW": "",
                                                            "CoolingType": "",
                                                            "CurbWeightLB": "",
                                                            "CustomMotorcycleType": "Not Applicable",
                                                            "DaytimeRunningLight": "",
                                                            "DestinationMarket": "",
                                                            "DisplacementCC": "2487",
                                                            "DisplacementCI": "152",
                                                            "DisplacementL": "2.5",
                                                            "Doors": "4",
                                                            "DriveType": "4x2",
                                                            "DriverAssist": "",
                                                            "DynamicBrakeSupport": "",
                                                            "EDR": "",
                                                            "ESC": "",
                                                            "EVDriveUnit": "",
                                                            "ElectrificationLevel": "",
                                                            "EngineConfiguration": "In-Line",
                                                            "EngineCycles": "4",
                                                            "EngineCylinders": "4",
                                                            "EngineHP": "203",
                                                            "EngineHP_to": "",
                                                            "EngineKW": "151.3771",
                                                            "EngineManufacturer": "Toyota",
                                                            "EngineModel": "A25A-FKS",
                                                            "EntertainmentSystem": "",
                                                            "ForwardCollisionWarning": "",
                                                            "FuelInjectionType": "",
                                                            "FuelTypePrimary": "Gasoline",
                                                            "FuelTypeSecondary": "",
                                                            "GCWR": "",
                                                            "GCWR_to": "",
                                                            "GVWR": "",
                                                            "GVWR_to": "",
                                                            "KeylessIgnition": "",
                                                            "LaneDepartureWarning": "",
                                                            "LaneKeepSystem": "",
                                                            "LowerBeamHeadlampLightSource": "",
                                                            "Make": "TOYOTA",
                                                            "MakeID": "448",
                                                            "Manufacturer": "TOYOTA MOTOR MANUFACTURING, KENTUCKY, INC.",
                                                            "ManufacturerId": "1088",
                                                            "Model": "Camry",
                                                            "ModelID": "2469",
                                                            "ModelYear": "2021",
                                                            "MotorcycleChassisType": "Not Applicable",
                                                            "MotorcycleSuspensionType": "Not Applicable",
                                                            "NCSABodyType": "",
                                                            "NCSAMake": "",
                                                            "NCSAMapExcApprovedBy": "",
                                                            "NCSAMapExcApprovedOn": "",
                                                            "NCSAMappingException": "",
                                                            "NCSAModel": "",
                                                            "NCSANote": "",
                                                            "Note": "",
                                                            "OtherBusInfo": "",
                                                            "OtherEngineInfo": "Port+Direct",
                                                            "OtherMotorcycleInfo": "",
                                                            "OtherRestraintSystemInfo": "Seat Belts: All seats",
                                                            "OtherTrailerInfo": "",
                                                            "ParkAssist": "",
                                                            "PedestrianAutomaticEmergencyBraking": "",
                                                            "PlantCity": "GEORGETOWN",
                                                            "PlantCompanyName": "Toyota Motor Manufacturing, Kentucky, Inc.",
                                                            "PlantCountry": "UNITED STATES (USA)",
                                                            "PlantState": "KENTUCKY",
                                                            "PossibleValues": "",
                                                            "Pretensioner": "",
                                                            "RearCrossTrafficAlert": "",
                                                            "RearVisibilitySystem": "",
                                                            "SAEAutomationLevel": "",
                                                            "SAEAutomationLevel_to": "",
                                                            "SeatBeltsAll": "Manual",
                                                            "SeatRows": "",
                                                            "Seats": "",
                                                            "SemiautomaticHeadlampBeamSwitching": "",
                                                            "Series": "AXVA70L/GSV70L/AXVH70L",
                                                            "Series2": "",
                                                            "SteeringLocation": "",
                                                            "SuggestedVIN": "",
                                                            "TPMS": "Direct",
                                                            "TopSpeedMPH": "",
                                                            "TrackWidth": "",
                                                            "TractionControl": "",
                                                            "TrailerBodyType": "Not Applicable",
                                                            "TrailerLength": "",
                                                            "TrailerType": "Not Applicable",
                                                            "TransmissionSpeeds": "",
                                                            "TransmissionStyle": "",
                                                            "Trim": "SE",
                                                            "Trim2": "",
                                                            "Turbo": "",
                                                            "VIN": "4T1G11AK2MU472647",
                                                            "ValveTrainDesign": "Dual Overhead Cam (DOHC)",
                                                            "VehicleType": "PASSENGER CAR",
                                                            "WheelBaseLong": "",
                                                            "WheelBaseShort": "",
                                                            "WheelBaseType": "",
                                                            "WheelSizeFront": "",
                                                            "WheelSizeRear": "",
                                                            "Wheels": "",
                                                            "Windows": ""
                                                        }
                                                    },
                                                    {
                                                        "vin": "4T1K61AK5MU584354",
                                                        "askPrice": 32297,
                                                        "msrp": 32297,
                                                        "mileage": 1,
                                                        "isNew": true,
                                                        "firstSeen": "2021-05-29",
                                                        "lastSeen": "2021-06-07",
                                                        "modelName": "CAMRY",
                                                        "brandName": "TOYOTA",
                                                        "year": 2021,
                                                        "dealerID": 51,
                                                        "color": "White",
                                                        "interiorColor": "Cockpit Red Leather",
                                                        "vinDecode": {
                                                            "ABS": "",
                                                            "ActiveSafetySysNote": "",
                                                            "AdaptiveCruiseControl": "",
                                                            "AdaptiveDrivingBeam": "",
                                                            "AdaptiveHeadlights": "",
                                                            "AirBagLocCurtain": "1st & 2nd Rows",
                                                            "AirBagLocFront": "1st Row (Driver & Passenger)",
                                                            "AirBagLocKnee": "1st Row (Driver & Passenger)",
                                                            "AirBagLocSeatCushion": "",
                                                            "AirBagLocSide": "1st & 2nd Rows",
                                                            "AutoReverseSystem": "",
                                                            "AutomaticPedestrianAlertingSound": "",
                                                            "AxleConfiguration": "",
                                                            "Axles": "",
                                                            "BasePrice": "",
                                                            "BatteryA": "",
                                                            "BatteryA_to": "",
                                                            "BatteryCells": "",
                                                            "BatteryInfo": "",
                                                            "BatteryKWh": "",
                                                            "BatteryKWh_to": "",
                                                            "BatteryModules": "",
                                                            "BatteryPacks": "",
                                                            "BatteryType": "",
                                                            "BatteryV": "",
                                                            "BatteryV_to": "",
                                                            "BedLengthIN": "",
                                                            "BedType": "Not Applicable",
                                                            "BlindSpotMon": "",
                                                            "BodyCabType": "Not Applicable",
                                                            "BodyClass": "Sedan/Saloon",
                                                            "BrakeSystemDesc": "",
                                                            "BrakeSystemType": "",
                                                            "BusFloorConfigType": "Not Applicable",
                                                            "BusLength": "",
                                                            "BusType": "Not Applicable",
                                                            "CAN_AACN": "",
                                                            "CIB": "",
                                                            "CashForClunkers": "",
                                                            "ChargerLevel": "",
                                                            "ChargerPowerKW": "",
                                                            "CoolingType": "",
                                                            "CurbWeightLB": "",
                                                            "CustomMotorcycleType": "Not Applicable",
                                                            "DaytimeRunningLight": "",
                                                            "DestinationMarket": "",
                                                            "DisplacementCC": "2487",
                                                            "DisplacementCI": "152",
                                                            "DisplacementL": "2.5",
                                                            "Doors": "4",
                                                            "DriveType": "4x2",
                                                            "DriverAssist": "",
                                                            "DynamicBrakeSupport": "",
                                                            "EDR": "",
                                                            "ESC": "",
                                                            "EVDriveUnit": "",
                                                            "ElectrificationLevel": "",
                                                            "EngineConfiguration": "In-Line",
                                                            "EngineCycles": "4",
                                                            "EngineCylinders": "4",
                                                            "EngineHP": "206",
                                                            "EngineHP_to": "",
                                                            "EngineKW": "153.6142",
                                                            "EngineManufacturer": "Toyota",
                                                            "EngineModel": "A25A-FKS",
                                                            "EntertainmentSystem": "",
                                                            "ForwardCollisionWarning": "",
                                                            "FuelInjectionType": "",
                                                            "FuelTypePrimary": "Gasoline",
                                                            "FuelTypeSecondary": "",
                                                            "GCWR": "",
                                                            "GCWR_to": "",
                                                            "GVWR": "",
                                                            "GVWR_to": "",
                                                            "KeylessIgnition": "",
                                                            "LaneDepartureWarning": "",
                                                            "LaneKeepSystem": "",
                                                            "LowerBeamHeadlampLightSource": "",
                                                            "Make": "TOYOTA",
                                                            "MakeID": "448",
                                                            "Manufacturer": "TOYOTA MOTOR MANUFACTURING, KENTUCKY, INC.",
                                                            "ManufacturerId": "1088",
                                                            "Model": "Camry",
                                                            "ModelID": "2469",
                                                            "ModelYear": "2021",
                                                            "MotorcycleChassisType": "Not Applicable",
                                                            "MotorcycleSuspensionType": "Not Applicable",
                                                            "NCSABodyType": "",
                                                            "NCSAMake": "",
                                                            "NCSAMapExcApprovedBy": "",
                                                            "NCSAMapExcApprovedOn": "",
                                                            "NCSAMappingException": "",
                                                            "NCSAModel": "",
                                                            "NCSANote": "",
                                                            "Note": "",
                                                            "OtherBusInfo": "",
                                                            "OtherEngineInfo": "Port+Direct",
                                                            "OtherMotorcycleInfo": "",
                                                            "OtherRestraintSystemInfo": "Seat Belts: All seats",
                                                            "OtherTrailerInfo": "",
                                                            "ParkAssist": "",
                                                            "PedestrianAutomaticEmergencyBraking": "",
                                                            "PlantCity": "GEORGETOWN",
                                                            "PlantCompanyName": "Toyota Motor Manufacturing, Kentucky, Inc.",
                                                            "PlantCountry": "UNITED STATES (USA)",
                                                            "PlantState": "KENTUCKY",
                                                            "PossibleValues": "",
                                                            "Pretensioner": "",
                                                            "RearCrossTrafficAlert": "",
                                                            "RearVisibilitySystem": "",
                                                            "SAEAutomationLevel": "",
                                                            "SAEAutomationLevel_to": "",
                                                            "SeatBeltsAll": "Manual",
                                                            "SeatRows": "",
                                                            "Seats": "",
                                                            "SemiautomaticHeadlampBeamSwitching": "",
                                                            "Series": "AXVA70L/GSV70L/AXVH70L",
                                                            "Series2": "",
                                                            "SteeringLocation": "",
                                                            "SuggestedVIN": "",
                                                            "TPMS": "Direct",
                                                            "TopSpeedMPH": "",
                                                            "TrackWidth": "",
                                                            "TractionControl": "",
                                                            "TrailerBodyType": "Not Applicable",
                                                            "TrailerLength": "",
                                                            "TrailerType": "Not Applicable",
                                                            "TransmissionSpeeds": "",
                                                            "TransmissionStyle": "",
                                                            "Trim": "XSE",
                                                            "Trim2": "",
                                                            "Turbo": "",
                                                            "VIN": "4T1K61AK5MU584354",
                                                            "ValveTrainDesign": "Dual Overhead Cam (DOHC)",
                                                            "VehicleType": "PASSENGER CAR",
                                                            "WheelBaseLong": "",
                                                            "WheelBaseShort": "",
                                                            "WheelBaseType": "",
                                                            "WheelSizeFront": "",
                                                            "WheelSizeRear": "",
                                                            "Wheels": "",
                                                            "Windows": ""
                                                        }
                                                    },
                                                    {
                                                        "vin": "4T1K61AKXMU466624",
                                                        "askPrice": 31840,
                                                        "msrp": 31840,
                                                        "mileage": 1,
                                                        "isNew": true,
                                                        "firstSeen": "2021-05-29",
                                                        "lastSeen": "2021-06-13",
                                                        "modelName": "CAMRY",
                                                        "brandName": "TOYOTA",
                                                        "year": 2021,
                                                        "dealerID": 51,
                                                        "color": "White",
                                                        "interiorColor": "Cockpit Red Leather",
                                                        "vinDecode": {
                                                            "ABS": "",
                                                            "ActiveSafetySysNote": "",
                                                            "AdaptiveCruiseControl": "",
                                                            "AdaptiveDrivingBeam": "",
                                                            "AdaptiveHeadlights": "",
                                                            "AirBagLocCurtain": "1st & 2nd Rows",
                                                            "AirBagLocFront": "1st Row (Driver & Passenger)",
                                                            "AirBagLocKnee": "1st Row (Driver & Passenger)",
                                                            "AirBagLocSeatCushion": "",
                                                            "AirBagLocSide": "1st & 2nd Rows",
                                                            "AutoReverseSystem": "",
                                                            "AutomaticPedestrianAlertingSound": "",
                                                            "AxleConfiguration": "",
                                                            "Axles": "",
                                                            "BasePrice": "",
                                                            "BatteryA": "",
                                                            "BatteryA_to": "",
                                                            "BatteryCells": "",
                                                            "BatteryInfo": "",
                                                            "BatteryKWh": "",
                                                            "BatteryKWh_to": "",
                                                            "BatteryModules": "",
                                                            "BatteryPacks": "",
                                                            "BatteryType": "",
                                                            "BatteryV": "",
                                                            "BatteryV_to": "",
                                                            "BedLengthIN": "",
                                                            "BedType": "Not Applicable",
                                                            "BlindSpotMon": "",
                                                            "BodyCabType": "Not Applicable",
                                                            "BodyClass": "Sedan/Saloon",
                                                            "BrakeSystemDesc": "",
                                                            "BrakeSystemType": "",
                                                            "BusFloorConfigType": "Not Applicable",
                                                            "BusLength": "",
                                                            "BusType": "Not Applicable",
                                                            "CAN_AACN": "",
                                                            "CIB": "",
                                                            "CashForClunkers": "",
                                                            "ChargerLevel": "",
                                                            "ChargerPowerKW": "",
                                                            "CoolingType": "",
                                                            "CurbWeightLB": "",
                                                            "CustomMotorcycleType": "Not Applicable",
                                                            "DaytimeRunningLight": "",
                                                            "DestinationMarket": "",
                                                            "DisplacementCC": "2487",
                                                            "DisplacementCI": "152",
                                                            "DisplacementL": "2.5",
                                                            "Doors": "4",
                                                            "DriveType": "4x2",
                                                            "DriverAssist": "",
                                                            "DynamicBrakeSupport": "",
                                                            "EDR": "",
                                                            "ESC": "",
                                                            "EVDriveUnit": "",
                                                            "ElectrificationLevel": "",
                                                            "EngineConfiguration": "In-Line",
                                                            "EngineCycles": "4",
                                                            "EngineCylinders": "4",
                                                            "EngineHP": "206",
                                                            "EngineHP_to": "",
                                                            "EngineKW": "153.6142",
                                                            "EngineManufacturer": "Toyota",
                                                            "EngineModel": "A25A-FKS",
                                                            "EntertainmentSystem": "",
                                                            "ForwardCollisionWarning": "",
                                                            "FuelInjectionType": "",
                                                            "FuelTypePrimary": "Gasoline",
                                                            "FuelTypeSecondary": "",
                                                            "GCWR": "",
                                                            "GCWR_to": "",
                                                            "GVWR": "",
                                                            "GVWR_to": "",
                                                            "KeylessIgnition": "",
                                                            "LaneDepartureWarning": "",
                                                            "LaneKeepSystem": "",
                                                            "LowerBeamHeadlampLightSource": "",
                                                            "Make": "TOYOTA",
                                                            "MakeID": "448",
                                                            "Manufacturer": "TOYOTA MOTOR MANUFACTURING, KENTUCKY, INC.",
                                                            "ManufacturerId": "1088",
                                                            "Model": "Camry",
                                                            "ModelID": "2469",
                                                            "ModelYear": "2021",
                                                            "MotorcycleChassisType": "Not Applicable",
                                                            "MotorcycleSuspensionType": "Not Applicable",
                                                            "NCSABodyType": "",
                                                            "NCSAMake": "",
                                                            "NCSAMapExcApprovedBy": "",
                                                            "NCSAMapExcApprovedOn": "",
                                                            "NCSAMappingException": "",
                                                            "NCSAModel": "",
                                                            "NCSANote": "",
                                                            "Note": "",
                                                            "OtherBusInfo": "",
                                                            "OtherEngineInfo": "Port+Direct",
                                                            "OtherMotorcycleInfo": "",
                                                            "OtherRestraintSystemInfo": "Seat Belts: All seats",
                                                            "OtherTrailerInfo": "",
                                                            "ParkAssist": "",
                                                            "PedestrianAutomaticEmergencyBraking": "",
                                                            "PlantCity": "GEORGETOWN",
                                                            "PlantCompanyName": "Toyota Motor Manufacturing, Kentucky, Inc.",
                                                            "PlantCountry": "UNITED STATES (USA)",
                                                            "PlantState": "KENTUCKY",
                                                            "PossibleValues": "",
                                                            "Pretensioner": "",
                                                            "RearCrossTrafficAlert": "",
                                                            "RearVisibilitySystem": "",
                                                            "SAEAutomationLevel": "",
                                                            "SAEAutomationLevel_to": "",
                                                            "SeatBeltsAll": "Manual",
                                                            "SeatRows": "",
                                                            "Seats": "",
                                                            "SemiautomaticHeadlampBeamSwitching": "",
                                                            "Series": "AXVA70L/GSV70L/AXVH70L",
                                                            "Series2": "",
                                                            "SteeringLocation": "",
                                                            "SuggestedVIN": "",
                                                            "TPMS": "Direct",
                                                            "TopSpeedMPH": "",
                                                            "TrackWidth": "",
                                                            "TractionControl": "",
                                                            "TrailerBodyType": "Not Applicable",
                                                            "TrailerLength": "",
                                                            "TrailerType": "Not Applicable",
                                                            "TransmissionSpeeds": "",
                                                            "TransmissionStyle": "",
                                                            "Trim": "XSE",
                                                            "Trim2": "",
                                                            "Turbo": "",
                                                            "VIN": "4T1K61AKXMU466624",
                                                            "ValveTrainDesign": "Dual Overhead Cam (DOHC)",
                                                            "VehicleType": "PASSENGER CAR",
                                                            "WheelBaseLong": "",
                                                            "WheelBaseShort": "",
                                                            "WheelBaseType": "",
                                                            "WheelSizeFront": "",
                                                            "WheelSizeRear": "",
                                                            "Wheels": "",
                                                            "Windows": ""
                                                        }
                                                    },
                                                    {
                                                        "vin": "4T1K61AK4MU471592",
                                                        "askPrice": 0,
                                                        "msrp": 0,
                                                        "mileage": 1,
                                                        "isNew": true,
                                                        "firstSeen": "2021-05-29",
                                                        "lastSeen": "2021-06-08",
                                                        "modelName": "CAMRY",
                                                        "brandName": "TOYOTA",
                                                        "year": 2021,
[...]
