{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_be50b3e1-c17a-46fa-a4d1-962311baff82",
            "value": "✓"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "apiversion_3fcf4bef-f23b-4114-b97a-ec37b41e755d",
        "apiId": "api_e35558b4-3f7b-410a-aeff-9068c25ab51f"
    },
    "info": {
        "title": "Referential",
        "description": "The fastest API to access countries, states, cities, continents, dial and zip codes in up to 20 languages. A collection of data APIs to support forms, signups, search and lookup. Our endpoints are optimized for speed and size. Our data is regularly maintained and comes from International Standardization bodies, the United Nations, government surveys and GIS datasets. We do not scrape WikiPedia etc",
        "version": "v1",
        "x-category": "Data",
        "x-long-description": "The simplicity and speed of the API makes Referential ideal for direct invocation from forms, UX components, mobile apps and other mission critical applications where responsiveness and latency matter.",
        "x-website": "",
        "x-public": true,
        "x-thumbnail": "https://rapidapi-prod-apis.s3.amazonaws.com/87d84503-642e-4203-b07e-1a8fc2a4f1db_medium",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://referential.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [
        {
            "name": "Locale"
        },
        {
            "name": "Geography"
        }
    ],
    "paths": {
        "/v1/city": {
            "get": {
                "tags": [
                    "Geography"
                ],
                "parameters": [
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "Select fields to return in result [geonameid, timezone,state_code,iso_a2]",
                        "schema": {
                            "externalDocs": {}
                        }
                    },
                    {
                        "name": "ip",
                        "in": "query",
                        "required": true,
                        "description": "ip4 pr ip6 formatted IP address",
                        "schema": {
                            "externalDocs": {},
                            "default": "128.218.229.26"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "City by IP address (Geo IP)",
                "description": "Find a city, state, country and continent by IP address. For some results, the closest result within 10 miles will be provided.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "key": {
                                                "type": "string"
                                            },
                                            "value": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                },
                                "examples": {
                                    "Example_1": {
                                        "description": "",
                                        "summary": "Example_1",
                                        "value": [
                                            {
                                                "key": "SAO PAULO|BR-SP",
                                                "value": "São Paulo"
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                }
            }
        },
        "/v1/city/{id}": {
            "get": {
                "tags": [
                    "Geography"
                ],
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "required": false,
                        "description": "Language selection ISO 639-2 letter code. Overrides Accept-Language header. Defaults to browser value. Default: en",
                        "schema": {
                            "externalDocs": {},
                            "default": "en"
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "Select fields to return in result [iso_a2,state_code,timezone,timezone_offset,state_hasc]",
                        "schema": {
                            "externalDocs": {},
                            "default": "iso_a2,state_code,state_hasc,timezone, timezone_offset"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Lookup at /v1/city.",
                        "schema": {
                            "externalDocs": {},
                            "default": "DULUTH|US-GA"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "City by id",
                "description": "Direct lookup of over 75,000 cities by id. See the v1/city API to search for city ids.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/v1/timezone": {
            "get": {
                "tags": [
                    "Locale"
                ],
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "description": "Filter on non daylights savings offset in hours",
                        "schema": {
                            "externalDocs": {
                                "url": "undefined"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "description": "Filter as \"contains\" on timezone name in chosen lang",
                        "schema": {
                            "externalDocs": {
                                "url": "undefined"
                            }
                        }
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "required": false,
                        "description": "Filter on 3 letter non daylight savings timezone code (not unique)",
                        "schema": {
                            "externalDocs": {
                                "url": "undefined"
                            }
                        }
                    },
                    {
                        "name": "timezone",
                        "in": "query",
                        "required": false,
                        "description": "Filter on timezone name in english",
                        "schema": {
                            "externalDocs": {
                                "url": "undefined"
                            }
                        }
                    },
                    {
                        "name": "daylights_offset",
                        "in": "query",
                        "required": false,
                        "description": "Filter on daylights savings offset in hours",
                        "schema": {
                            "externalDocs": {
                                "url": "undefined"
                            }
                        }
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "required": false,
                        "description": "Language selection ISO 639-2 letter code. Overrides Accept-Language header. Defaults to browser value. Default: en",
                        "schema": {
                            "externalDocs": {
                                "url": "undefined"
                            },
                            "default": "de"
                        }
                    },
                    {
                        "name": "daylights_code",
                        "in": "query",
                        "required": false,
                        "description": "Filter on daylights savings letter code (not unique)",
                        "schema": {
                            "externalDocs": {
                                "url": "undefined"
                            }
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "Select fields to return in result [code,timezone,daylights_code,daylights_offset,daylights,hours_offset,offset]",
                        "schema": {
                            "externalDocs": {
                                "url": "undefined"
                            },
                            "default": "offset,daylights_offset,daylights,daylights_code,timezone"
                        }
                    },
                    {
                        "name": "daylights",
                        "in": "query",
                        "required": false,
                        "description": "Filter on daylights savings/non daylight savings timezones (true,false)",
                        "schema": {
                            "externalDocs": {
                                "url": "undefined"
                            }
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": "undefined"
                },
                "operationId": "Timezones",
                "description": "List the world's time zones in 20 languages",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "daylights": {
                                                "type": "string"
                                            },
                                            "daylights_offset": {
                                                "type": "string"
                                            },
                                            "key": {
                                                "type": "string"
                                            },
                                            "offset": {
                                                "type": "string"
                                            },
                                            "timezone": {
                                                "type": "string"
                                            },
                                            "value": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                },
                                "examples": {
                                    "Example_1": {
                                        "description": "",
                                        "summary": "Example_1",
                                        "value": [
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Abidjan",
                                                "offset": "0",
                                                "timezone": "Africa/Abidjan",
                                                "value": "Mittlere Greenwich-Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Accra",
                                                "offset": "0",
                                                "timezone": "Africa/Accra",
                                                "value": "Mittlere Greenwich-Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Addis_Ababa",
                                                "offset": "10800",
                                                "timezone": "Africa/Addis_Ababa",
                                                "value": "Ostafrikanische Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Algiers",
                                                "offset": "3600",
                                                "timezone": "Africa/Algiers",
                                                "value": "Mitteleuropäische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Asmara",
                                                "offset": "10800",
                                                "timezone": "Africa/Asmara",
                                                "value": "Ostafrikanische Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Asmera",
                                                "offset": "10800",
                                                "timezone": "Africa/Asmera",
                                                "value": "Ostafrikanische Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Bamako",
                                                "offset": "0",
                                                "timezone": "Africa/Bamako",
                                                "value": "Mittlere Greenwich-Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Bangui",
                                                "offset": "3600",
                                                "timezone": "Africa/Bangui",
                                                "value": "Westafrikanische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Banjul",
                                                "offset": "0",
                                                "timezone": "Africa/Banjul",
                                                "value": "Mittlere Greenwich-Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Bissau",
                                                "offset": "0",
                                                "timezone": "Africa/Bissau",
                                                "value": "Mittlere Greenwich-Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Blantyre",
                                                "offset": "7200",
                                                "timezone": "Africa/Blantyre",
                                                "value": "Zentralafrikanische Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Brazzaville",
                                                "offset": "3600",
                                                "timezone": "Africa/Brazzaville",
                                                "value": "Westafrikanische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Bujumbura",
                                                "offset": "7200",
                                                "timezone": "Africa/Bujumbura",
                                                "value": "Zentralafrikanische Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Cairo",
                                                "offset": "7200",
                                                "timezone": "Africa/Cairo",
                                                "value": "Osteuropäische Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "0",
                                                "key": "Africa/Casablanca",
                                                "offset": "0",
                                                "timezone": "Africa/Casablanca",
                                                "value": "Westeuropäische Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "Africa/Ceuta",
                                                "offset": "3600",
                                                "timezone": "Africa/Ceuta",
                                                "value": "Mitteleuropäische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Conakry",
                                                "offset": "0",
                                                "timezone": "Africa/Conakry",
                                                "value": "Mittlere Greenwich-Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Dakar",
                                                "offset": "0",
                                                "timezone": "Africa/Dakar",
                                                "value": "Mittlere Greenwich-Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Dar_es_Salaam",
                                                "offset": "10800",
                                                "timezone": "Africa/Dar_es_Salaam",
                                                "value": "Ostafrikanische Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Djibouti",
                                                "offset": "10800",
                                                "timezone": "Africa/Djibouti",
                                                "value": "Ostafrikanische Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Douala",
                                                "offset": "3600",
                                                "timezone": "Africa/Douala",
                                                "value": "Westafrikanische Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "0",
                                                "key": "Africa/El_Aaiun",
                                                "offset": "0",
                                                "timezone": "Africa/El_Aaiun",
                                                "value": "Westeuropäische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Freetown",
                                                "offset": "0",
                                                "timezone": "Africa/Freetown",
                                                "value": "Mittlere Greenwich-Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Gaborone",
                                                "offset": "7200",
                                                "timezone": "Africa/Gaborone",
                                                "value": "Zentralafrikanische Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Harare",
                                                "offset": "7200",
                                                "timezone": "Africa/Harare",
                                                "value": "Zentralafrikanische Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Johannesburg",
                                                "offset": "7200",
                                                "timezone": "Africa/Johannesburg",
                                                "value": "Südafrikanische Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Juba",
                                                "offset": "10800",
                                                "timezone": "Africa/Juba",
                                                "value": "Ostafrikanische Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Kampala",
                                                "offset": "10800",
                                                "timezone": "Africa/Kampala",
                                                "value": "Ostafrikanische Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Khartoum",
                                                "offset": "7200",
                                                "timezone": "Africa/Khartoum",
                                                "value": "Zentralafrikanische Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Kigali",
                                                "offset": "7200",
                                                "timezone": "Africa/Kigali",
                                                "value": "Zentralafrikanische Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Kinshasa",
                                                "offset": "3600",
                                                "timezone": "Africa/Kinshasa",
                                                "value": "Westafrikanische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Lagos",
                                                "offset": "3600",
                                                "timezone": "Africa/Lagos",
                                                "value": "Westafrikanische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Libreville",
                                                "offset": "3600",
                                                "timezone": "Africa/Libreville",
                                                "value": "Westafrikanische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Lome",
                                                "offset": "0",
                                                "timezone": "Africa/Lome",
                                                "value": "Mittlere Greenwich-Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Luanda",
                                                "offset": "3600",
                                                "timezone": "Africa/Luanda",
                                                "value": "Westafrikanische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Lubumbashi",
                                                "offset": "7200",
                                                "timezone": "Africa/Lubumbashi",
                                                "value": "Zentralafrikanische Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Lusaka",
                                                "offset": "7200",
                                                "timezone": "Africa/Lusaka",
                                                "value": "Zentralafrikanische Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Malabo",
                                                "offset": "3600",
                                                "timezone": "Africa/Malabo",
                                                "value": "Westafrikanische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Maputo",
                                                "offset": "7200",
                                                "timezone": "Africa/Maputo",
                                                "value": "Zentralafrikanische Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Maseru",
                                                "offset": "7200",
                                                "timezone": "Africa/Maseru",
                                                "value": "Südafrikanische Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Mbabane",
                                                "offset": "7200",
                                                "timezone": "Africa/Mbabane",
                                                "value": "Südafrikanische Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Mogadishu",
                                                "offset": "10800",
                                                "timezone": "Africa/Mogadishu",
                                                "value": "Ostafrikanische Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Monrovia",
                                                "offset": "0",
                                                "timezone": "Africa/Monrovia",
                                                "value": "Mittlere Greenwich-Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Nairobi",
                                                "offset": "10800",
                                                "timezone": "Africa/Nairobi",
                                                "value": "Ostafrikanische Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Ndjamena",
                                                "offset": "3600",
                                                "timezone": "Africa/Ndjamena",
                                                "value": "Westafrikanische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Niamey",
                                                "offset": "3600",
                                                "timezone": "Africa/Niamey",
                                                "value": "Westafrikanische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Nouakchott",
                                                "offset": "0",
                                                "timezone": "Africa/Nouakchott",
                                                "value": "Mittlere Greenwich-Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Ouagadougou",
                                                "offset": "0",
                                                "timezone": "Africa/Ouagadougou",
                                                "value": "Mittlere Greenwich-Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Porto-Novo",
                                                "offset": "3600",
                                                "timezone": "Africa/Porto-Novo",
                                                "value": "Westafrikanische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Sao_Tome",
                                                "offset": "0",
                                                "timezone": "Africa/Sao_Tome",
                                                "value": "Westafrikanische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Timbuktu",
                                                "offset": "0",
                                                "timezone": "Africa/Timbuktu",
                                                "value": "Mittlere Greenwich-Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Tripoli",
                                                "offset": "7200",
                                                "timezone": "Africa/Tripoli",
                                                "value": "Osteuropäische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "Africa/Tunis",
                                                "offset": "3600",
                                                "timezone": "Africa/Tunis",
                                                "value": "Mitteleuropäische Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "0",
                                                "key": "Africa/Windhoek",
                                                "offset": "3600",
                                                "timezone": "Africa/Windhoek",
                                                "value": "Zentralafrikanische Zeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Adak",
                                                "offset": "-36000",
                                                "timezone": "America/Adak",
                                                "value": "Hawaii-Aleuten-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Anchorage",
                                                "offset": "-32400",
                                                "timezone": "America/Anchorage",
                                                "value": "Alaska-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Anguilla",
                                                "offset": "-14400",
                                                "timezone": "America/Anguilla",
                                                "value": "Atlantik-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Antigua",
                                                "offset": "-14400",
                                                "timezone": "America/Antigua",
                                                "value": "Atlantik-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Araguaina",
                                                "offset": "-10800",
                                                "timezone": "America/Araguaina",
                                                "value": "Brasília-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Argentina/Buenos_Aires",
                                                "offset": "-10800",
                                                "timezone": "America/Argentina/Buenos_Aires",
                                                "value": "Argentinische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Argentina/Catamarca",
                                                "offset": "-10800",
                                                "timezone": "America/Argentina/Catamarca",
                                                "value": "Argentinische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Argentina/ComodRivadavia",
                                                "offset": "-10800",
                                                "timezone": "America/Argentina/ComodRivadavia",
                                                "value": "Argentinische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Argentina/Cordoba",
                                                "offset": "-10800",
                                                "timezone": "America/Argentina/Cordoba",
                                                "value": "Argentinische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Argentina/Jujuy",
                                                "offset": "-10800",
                                                "timezone": "America/Argentina/Jujuy",
                                                "value": "Argentinische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Argentina/La_Rioja",
                                                "offset": "-10800",
                                                "timezone": "America/Argentina/La_Rioja",
                                                "value": "Argentinische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Argentina/Mendoza",
                                                "offset": "-10800",
                                                "timezone": "America/Argentina/Mendoza",
                                                "value": "Argentinische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Argentina/Rio_Gallegos",
                                                "offset": "-10800",
                                                "timezone": "America/Argentina/Rio_Gallegos",
                                                "value": "Argentinische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Argentina/Salta",
                                                "offset": "-10800",
                                                "timezone": "America/Argentina/Salta",
                                                "value": "Argentinische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Argentina/San_Juan",
                                                "offset": "-10800",
                                                "timezone": "America/Argentina/San_Juan",
                                                "value": "Argentinische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Argentina/San_Luis",
                                                "offset": "-10800",
                                                "timezone": "America/Argentina/San_Luis",
                                                "value": "Westargentinische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Argentina/Tucuman",
                                                "offset": "-10800",
                                                "timezone": "America/Argentina/Tucuman",
                                                "value": "Argentinische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Argentina/Ushuaia",
                                                "offset": "-10800",
                                                "timezone": "America/Argentina/Ushuaia",
                                                "value": "Argentinische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Aruba",
                                                "offset": "-14400",
                                                "timezone": "America/Aruba",
                                                "value": "Atlantik-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Asuncion",
                                                "offset": "-14400",
                                                "timezone": "America/Asuncion",
                                                "value": "Paraguayanische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Atikokan",
                                                "offset": "-18000",
                                                "timezone": "America/Atikokan",
                                                "value": "Nordamerikanische Ostküsten-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Atka",
                                                "offset": "-36000",
                                                "timezone": "America/Atka",
                                                "value": "Hawaii-Aleuten-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Bahia",
                                                "offset": "-10800",
                                                "timezone": "America/Bahia",
                                                "value": "Brasília-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Bahia_Banderas",
                                                "offset": "-21600",
                                                "timezone": "America/Bahia_Banderas",
                                                "value": "Nordamerikanische Inland-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Barbados",
                                                "offset": "-14400",
                                                "timezone": "America/Barbados",
                                                "value": "Atlantik-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Belem",
                                                "offset": "-10800",
                                                "timezone": "America/Belem",
                                                "value": "Brasília-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Belize",
                                                "offset": "-21600",
                                                "timezone": "America/Belize",
                                                "value": "Nordamerikanische Inland-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Blanc-Sablon",
                                                "offset": "-14400",
                                                "timezone": "America/Blanc-Sablon",
                                                "value": "Atlantik-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Boa_Vista",
                                                "offset": "-14400",
                                                "timezone": "America/Boa_Vista",
                                                "value": "Amazonas-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Bogota",
                                                "offset": "-18000",
                                                "timezone": "America/Bogota",
                                                "value": "Kolumbianische Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Boise",
                                                "offset": "-25200",
                                                "timezone": "America/Boise",
                                                "value": "Rocky Mountain-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Buenos_Aires",
                                                "offset": "-10800",
                                                "timezone": "America/Buenos_Aires",
                                                "value": "Argentinische Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Cambridge_Bay",
                                                "offset": "-25200",
                                                "timezone": "America/Cambridge_Bay",
                                                "value": "Rocky Mountain-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Campo_Grande",
                                                "offset": "-14400",
                                                "timezone": "America/Campo_Grande",
                                                "value": "Amazonas-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Cancun",
                                                "offset": "-18000",
                                                "timezone": "America/Cancun",
                                                "value": "Nordamerikanische Ostküsten-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Caracas",
                                                "offset": "-14400",
                                                "timezone": "America/Caracas",
                                                "value": "Venezuela-Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Catamarca",
                                                "offset": "-10800",
                                                "timezone": "America/Catamarca",
                                                "value": "Argentinische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Cayenne",
                                                "offset": "-10800",
                                                "timezone": "America/Cayenne",
                                                "value": "Französisch-Guayana-Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Cayman",
                                                "offset": "-18000",
                                                "timezone": "America/Cayman",
                                                "value": "Nordamerikanische Ostküsten-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Chicago",
                                                "offset": "-21600",
                                                "timezone": "America/Chicago",
                                                "value": "Nordamerikanische Inland-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Chihuahua",
                                                "offset": "-25200",
                                                "timezone": "America/Chihuahua",
                                                "value": "Mexiko Pazifikzone-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Coral_Harbour",
                                                "offset": "-18000",
                                                "timezone": "America/Coral_Harbour",
                                                "value": "Nordamerikanische Ostküsten-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Cordoba",
                                                "offset": "-10800",
                                                "timezone": "America/Cordoba",
                                                "value": "Argentinische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Costa_Rica",
                                                "offset": "-21600",
                                                "timezone": "America/Costa_Rica",
                                                "value": "Nordamerikanische Inland-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Creston",
                                                "offset": "-25200",
                                                "timezone": "America/Creston",
                                                "value": "Rocky Mountain-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Cuiaba",
                                                "offset": "-14400",
                                                "timezone": "America/Cuiaba",
                                                "value": "Amazonas-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Curacao",
                                                "offset": "-14400",
                                                "timezone": "America/Curacao",
                                                "value": "Atlantik-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Danmarkshavn",
                                                "offset": "0",
                                                "timezone": "America/Danmarkshavn",
                                                "value": "Mittlere Greenwich-Zeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Dawson",
                                                "offset": "-28800",
                                                "timezone": "America/Dawson",
                                                "value": "Nordamerikanische Westküsten-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Dawson_Creek",
                                                "offset": "-25200",
                                                "timezone": "America/Dawson_Creek",
                                                "value": "Rocky Mountain-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Denver",
                                                "offset": "-25200",
                                                "timezone": "America/Denver",
                                                "value": "Rocky Mountain-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Detroit",
                                                "offset": "-18000",
                                                "timezone": "America/Detroit",
                                                "value": "Nordamerikanische Ostküsten-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Dominica",
                                                "offset": "-14400",
                                                "timezone": "America/Dominica",
                                                "value": "Atlantik-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Edmonton",
                                                "offset": "-25200",
                                                "timezone": "America/Edmonton",
                                                "value": "Rocky Mountain-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Eirunepe",
                                                "offset": "-18000",
                                                "timezone": "America/Eirunepe",
                                                "value": "Acre-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/El_Salvador",
                                                "offset": "-21600",
                                                "timezone": "America/El_Salvador",
                                                "value": "Nordamerikanische Inland-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Ensenada",
                                                "offset": "-28800",
                                                "timezone": "America/Ensenada",
                                                "value": "Nordamerikanische Westküsten-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Fort_Nelson",
                                                "offset": "-25200",
                                                "timezone": "America/Fort_Nelson",
                                                "value": "Rocky Mountain-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Fort_Wayne",
                                                "offset": "-18000",
                                                "timezone": "America/Fort_Wayne",
                                                "value": "Nordamerikanische Ostküsten-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Fortaleza",
                                                "offset": "-10800",
                                                "timezone": "America/Fortaleza",
                                                "value": "Brasília-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Glace_Bay",
                                                "offset": "-14400",
                                                "timezone": "America/Glace_Bay",
                                                "value": "Atlantik-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Godthab",
                                                "offset": "-10800",
                                                "timezone": "America/Godthab",
                                                "value": "Westgrönland-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Goose_Bay",
                                                "offset": "-14400",
                                                "timezone": "America/Goose_Bay",
                                                "value": "Atlantik-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Grand_Turk",
                                                "offset": "-18000",
                                                "timezone": "America/Grand_Turk",
                                                "value": "Nordamerikanische Ostküsten-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Grenada",
                                                "offset": "-14400",
                                                "timezone": "America/Grenada",
                                                "value": "Atlantik-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Guadeloupe",
                                                "offset": "-14400",
                                                "timezone": "America/Guadeloupe",
                                                "value": "Atlantik-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Guatemala",
                                                "offset": "-21600",
                                                "timezone": "America/Guatemala",
                                                "value": "Nordamerikanische Inland-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Guayaquil",
                                                "offset": "-18000",
                                                "timezone": "America/Guayaquil",
                                                "value": "Ecuadorianische Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Guyana",
                                                "offset": "-14400",
                                                "timezone": "America/Guyana",
                                                "value": "Guyana-Zeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Halifax",
                                                "offset": "-14400",
                                                "timezone": "America/Halifax",
                                                "value": "Atlantik-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Havana",
                                                "offset": "-18000",
                                                "timezone": "America/Havana",
                                                "value": "Kubanische Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Hermosillo",
                                                "offset": "-25200",
                                                "timezone": "America/Hermosillo",
                                                "value": "Mexiko Pazifikzone-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Indiana/Indianapolis",
                                                "offset": "-18000",
                                                "timezone": "America/Indiana/Indianapolis",
                                                "value": "Nordamerikanische Ostküsten-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Indiana/Knox",
                                                "offset": "-21600",
                                                "timezone": "America/Indiana/Knox",
                                                "value": "Nordamerikanische Inland-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Indiana/Marengo",
                                                "offset": "-18000",
                                                "timezone": "America/Indiana/Marengo",
                                                "value": "Nordamerikanische Ostküsten-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Indiana/Petersburg",
                                                "offset": "-18000",
                                                "timezone": "America/Indiana/Petersburg",
                                                "value": "Nordamerikanische Ostküsten-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Indiana/Tell_City",
                                                "offset": "-21600",
                                                "timezone": "America/Indiana/Tell_City",
                                                "value": "Nordamerikanische Inland-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Indiana/Vevay",
                                                "offset": "-18000",
                                                "timezone": "America/Indiana/Vevay",
                                                "value": "Nordamerikanische Ostküsten-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Indiana/Vincennes",
                                                "offset": "-18000",
                                                "timezone": "America/Indiana/Vincennes",
                                                "value": "Nordamerikanische Ostküsten-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Indiana/Winamac",
                                                "offset": "-18000",
                                                "timezone": "America/Indiana/Winamac",
                                                "value": "Nordamerikanische Ostküsten-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Indianapolis",
                                                "offset": "-18000",
                                                "timezone": "America/Indianapolis",
                                                "value": "Nordamerikanische Ostküsten-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Inuvik",
                                                "offset": "-25200",
                                                "timezone": "America/Inuvik",
                                                "value": "Rocky Mountain-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Iqaluit",
                                                "offset": "-18000",
                                                "timezone": "America/Iqaluit",
                                                "value": "Nordamerikanische Ostküsten-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Jamaica",
                                                "offset": "-18000",
                                                "timezone": "America/Jamaica",
                                                "value": "Nordamerikanische Ostküsten-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Jujuy",
                                                "offset": "-10800",
                                                "timezone": "America/Jujuy",
                                                "value": "Argentinische Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Juneau",
                                                "offset": "-32400",
                                                "timezone": "America/Juneau",
                                                "value": "Alaska-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Kentucky/Louisville",
                                                "offset": "-18000",
                                                "timezone": "America/Kentucky/Louisville",
                                                "value": "Nordamerikanische Ostküsten-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Kentucky/Monticello",
                                                "offset": "-18000",
                                                "timezone": "America/Kentucky/Monticello",
                                                "value": "Nordamerikanische Ostküsten-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Knox_IN",
                                                "offset": "-21600",
                                                "timezone": "America/Knox_IN",
                                                "value": "Nordamerikanische Inland-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Kralendijk",
                                                "offset": "-14400",
                                                "timezone": "America/Kralendijk",
                                                "value": "Atlantik-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/La_Paz",
                                                "offset": "-14400",
                                                "timezone": "America/La_Paz",
                                                "value": "Bolivianische Zeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Lima",
                                                "offset": "-18000",
                                                "timezone": "America/Lima",
                                                "value": "Peruanische Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Los_Angeles",
                                                "offset": "-28800",
                                                "timezone": "America/Los_Angeles",
                                                "value": "Nordamerikanische Westküsten-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Louisville",
                                                "offset": "-18000",
                                                "timezone": "America/Louisville",
                                                "value": "Nordamerikanische Ostküsten-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Lower_Princes",
                                                "offset": "-14400",
                                                "timezone": "America/Lower_Princes",
                                                "value": "Atlantik-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Maceio",
                                                "offset": "-10800",
                                                "timezone": "America/Maceio",
                                                "value": "Brasília-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Managua",
                                                "offset": "-21600",
                                                "timezone": "America/Managua",
                                                "value": "Nordamerikanische Inland-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Manaus",
                                                "offset": "-14400",
                                                "timezone": "America/Manaus",
                                                "value": "Amazonas-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Marigot",
                                                "offset": "-14400",
                                                "timezone": "America/Marigot",
                                                "value": "Atlantik-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Martinique",
                                                "offset": "-14400",
                                                "timezone": "America/Martinique",
                                                "value": "Atlantik-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Matamoros",
                                                "offset": "-21600",
                                                "timezone": "America/Matamoros",
                                                "value": "Nordamerikanische Inland-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Mazatlan",
                                                "offset": "-25200",
                                                "timezone": "America/Mazatlan",
                                                "value": "Mexiko Pazifikzone-Normalzeit"
                                            },
                                            {
                                                "daylights": "false",
                                                "daylights_offset": "0",
                                                "key": "America/Mendoza",
                                                "offset": "-10800",
                                                "timezone": "America/Mendoza",
                                                "value": "Argentinische Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Menominee",
                                                "offset": "-21600",
                                                "timezone": "America/Menominee",
                                                "value": "Nordamerikanische Inland-Normalzeit"
                                            },
                                            {
                                                "daylights": "true",
                                                "daylights_offset": "3600000",
                                                "key": "America/Merida",
                                                "offset": "-21600",
                                                "timezone": "America/Merida",
[...]
