{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_a5c452af-2c74-4cca-b423-c3e47e449e51",
            "value": "✓"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "59f7d0fce4b0c95e003b4bb9",
        "apiId": "59f7d0fbe4b09ee1ff545b43"
    },
    "info": {
        "title": "ca.boundaries.io",
        "description": "CA Postal Code(ex. T6H, or A0A0A1 ), FSA and LDU, Boundaries API: A simple & very fast API that will allow you to integrate multiple GeoJson CA FSA and LDU level boundaries result into your apps and systems. This API is designed to be used programatically for optimal performance. When using the MashApe UI for queries expect significant latency issues on large result sets!",
        "version": "v1",
        "x-category": "Mapping",
        "x-long-description": "CA Postal Code(ex. T6H, or A0A0A1 ), FSA and LDU, Boundaries API: A simple & very fast API that will allow you to integrate multiple GeoJson CA FSA and LDU level boundaries result into your apps and systems.\n\nhttps://www.statcan.gc.ca/eng/reference/licence\n\nOver the last five years, we were able to amass over 600 clients across the United States, Canada, and the United Kingdom.  From startups to large companies that are industry leaders in marketing, emergency response, insurance, and transportation.   These companies trust and rely on our robust  API for their solutions. Each of our plans offers 24x7 support. Review our Facebook page for to see some of our existing clients that are using our API",
        "x-website": "https://www.boundaries-io.com",
        "x-public": true,
        "x-thumbnail": "https://rapidapi-prod-apis.s3.amazonaws.com/1aeae0bd-5470-45c3-a7ec-08b94afa0cd3.png",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://vanitysoft-canada-postal-boundaries-v1.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [
        {
            "name": " H3: Hexagonal Support",
            "description": "https://eng.uber.com/h3",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Query by LDU Code",
            "description": "We return Hexagons based on the H3 Hexagon grid for geo spatial:\nYou can use the h3-index for fine grained Geo Spatial analysis. \n\nMore information seen the below links:\nhttps://eng.uber.com/h3\n\nhttps://www.safe.com/webinars/hexagonify-the-world-the-theory-and-applications-of-uber-h3/",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Query by FSA Code"
        }
    ],
    "paths": {
        "/rest/v1/public/boundary/ca/h3/location/boundary": {
            "get": {
                "tags": [
                    " H3: Hexagonal Support"
                ],
                "parameters": [
                    {
                        "name": "resolution",
                        "in": "query",
                        "required": false,
                        "description": "What is H3 resolution?\n10 is the H3 resolution, between 0 (coarsest) and 15 (finest). The coordinates entered are the latitude and longitude, in degrees, you want the index for (these coordinates are the Statue of Liberty). You should get an H3 index as output, like 8a2a1072b59ffff\n\n",
                        "schema": {
                            "externalDocs": {
                                "description": "H3: Uber’s Hexagonal Hierarchical Spatial Index",
                                "url": "https://eng.uber.com/h3"
                            },
                            "type": "number",
                            "default": "10"
                        }
                    },
                    {
                        "name": "longitude",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "-73.4532516514038"
                        }
                    },
                    {
                        "name": "latitude",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "46.04643887621965"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Query for Hexagon by Location and Resolution",
                "description": "Query for Hexagon by Location and Resolution",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/rest/v1/public/boundary/ca/ldu": {
            "get": {
                "tags": [
                    "Query by LDU Code"
                ],
                "parameters": [
                    {
                        "name": "resolution",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "10"
                        }
                    },
                    {
                        "name": "postal-ldu",
                        "in": "query",
                        "required": true,
                        "description": "Query by LDU code.",
                        "schema": {
                            "externalDocs": {},
                            "default": "L0R 1B7"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Query for LDU boundary",
                "description": "Query by a LDU Postal Code",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "features": {
                                            "items": {
                                                "properties": {
                                                    "geometry": {
                                                        "properties": {
                                                            "coordinates": {
                                                                "items": {
                                                                    "items": {
                                                                        "items": {
                                                                            "type": "number"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "properties": {
                                                        "properties": {
                                                            "city": {
                                                                "type": "string"
                                                            },
                                                            "country": {
                                                                "type": "string"
                                                            },
                                                            "fsaCode": {
                                                                "type": "string"
                                                            },
                                                            "postalCode": {
                                                                "type": "string"
                                                            },
                                                            "province": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "examples": {
                                    "Example_1": {
                                        "description": "",
                                        "summary": "Example_1",
                                        "value": {
                                            "features": [
                                                {
                                                    "geometry": {
                                                        "coordinates": [
                                                            [
                                                                [
                                                                    -53.21109137796333,
                                                                    47.42554437153053
                                                                ],
                                                                [
                                                                    -53.21775274135508,
                                                                    47.379198958196895
                                                                ],
                                                                [
                                                                    -53.17931712047046,
                                                                    47.408880222554004
                                                                ],
                                                                [
                                                                    -53.17847334515715,
                                                                    47.41080273675621
                                                                ],
                                                                [
                                                                    -53.18364537737968,
                                                                    47.43045808137617
                                                                ],
                                                                [
                                                                    -53.183735829913594,
                                                                    47.430252309003286
                                                                ],
                                                                [
                                                                    -53.184459855479865,
                                                                    47.429482633557804
                                                                ],
                                                                [
                                                                    -53.18481843813819,
                                                                    47.42885489003566
                                                                ],
                                                                [
                                                                    -53.18505700407852,
                                                                    47.42821143120756
                                                                ],
                                                                [
                                                                    -53.18526773146051,
                                                                    47.427856472206344
                                                                ],
                                                                [
                                                                    -53.185946888638405,
                                                                    47.42728559945175
                                                                ],
                                                                [
                                                                    -53.1860855666778,
                                                                    47.427111974858086
                                                                ],
                                                                [
                                                                    -53.18622595148855,
                                                                    47.426659355939904
                                                                ],
                                                                [
                                                                    -53.18628363420974,
                                                                    47.4264512969085
                                                                ],
                                                                [
                                                                    -53.18645757532136,
                                                                    47.42616900945004
                                                                ],
                                                                [
                                                                    -53.18742616657092,
                                                                    47.42522366917979
                                                                ],
                                                                [
                                                                    -53.18802202011475,
                                                                    47.42456440336939
                                                                ],
                                                                [
                                                                    -53.18850835064196,
                                                                    47.4241411614477
                                                                ],
                                                                [
                                                                    -53.18849434599631,
                                                                    47.42412343870352
                                                                ],
                                                                [
                                                                    -53.18934081584776,
                                                                    47.42343236495588
                                                                ],
                                                                [
                                                                    -53.189884038840745,
                                                                    47.422783100241986
                                                                ],
                                                                [
                                                                    -53.19002006948731,
                                                                    47.422546542838134
                                                                ],
                                                                [
                                                                    -53.1900755039618,
                                                                    47.42228451370709
                                                                ],
                                                                [
                                                                    -53.190029579801994,
                                                                    47.4218174612961
                                                                ],
                                                                [
                                                                    -53.19019212140204,
                                                                    47.42158039440951
                                                                ],
                                                                [
                                                                    -53.19042201387313,
                                                                    47.42136901529103
                                                                ],
                                                                [
                                                                    -53.19123574562314,
                                                                    47.4208495448081
                                                                ],
                                                                [
                                                                    -53.1915613501631,
                                                                    47.42070833108806
                                                                ],
                                                                [
                                                                    -53.19171771121875,
                                                                    47.420642350256436
                                                                ],
                                                                [
                                                                    -53.1919282026728,
                                                                    47.420602343619215
                                                                ],
                                                                [
                                                                    -53.19222189720292,
                                                                    47.42065070033226
                                                                ],
                                                                [
                                                                    -53.19229449981566,
                                                                    47.42080228153778
                                                                ],
                                                                [
                                                                    -53.19227657757899,
                                                                    47.42100959747201
                                                                ],
                                                                [
                                                                    -53.192156074547896,
                                                                    47.42129986896746
                                                                ],
                                                                [
                                                                    -53.19221260130816,
                                                                    47.421703722656545
                                                                ],
                                                                [
                                                                    -53.19237067018078,
                                                                    47.4219976543346
                                                                ],
                                                                [
                                                                    -53.192565867005435,
                                                                    47.42222789286843
                                                                ],
                                                                [
                                                                    -53.1927252033061,
                                                                    47.42223384075583
                                                                ],
                                                                [
                                                                    -53.192907330194735,
                                                                    47.42214935134969
                                                                ],
                                                                [
                                                                    -53.193317849773145,
                                                                    47.42181755569159
                                                                ],
                                                                [
                                                                    -53.19344732544428,
                                                                    47.42174310302527
                                                                ],
                                                                [
                                                                    -53.193970915053235,
                                                                    47.42158010277725
                                                                ],
                                                                [
                                                                    -53.19409127817314,
                                                                    47.4216047863235
                                                                ],
                                                                [
                                                                    -53.19444543596668,
                                                                    47.421831950520726
                                                                ],
                                                                [
                                                                    -53.19479775808997,
                                                                    47.422014193489986
                                                                ],
                                                                [
                                                                    -53.19519745161141,
                                                                    47.4220605222103
                                                                ],
                                                                [
                                                                    -53.19535831708195,
                                                                    47.42210243506513
                                                                ],
                                                                [
                                                                    -53.195631121343396,
                                                                    47.422286189266785
                                                                ],
                                                                [
                                                                    -53.195773700221416,
                                                                    47.422526403842795
                                                                ],
                                                                [
                                                                    -53.195830089056145,
                                                                    47.422606326345715
                                                                ],
                                                                [
                                                                    -53.19583158803529,
                                                                    47.42264228128754
                                                                ],
                                                                [
                                                                    -53.1958780421307,
                                                                    47.42280337356624
                                                                ],
                                                                [
                                                                    -53.19584280157847,
                                                                    47.42291203856989
                                                                ],
                                                                [
                                                                    -53.195673930235664,
                                                                    47.42299626023662
                                                                ],
                                                                [
                                                                    -53.195472559919395,
                                                                    47.42293711697996
                                                                ],
                                                                [
                                                                    -53.195349216648324,
                                                                    47.42284050418405
                                                                ],
                                                                [
                                                                    -53.19517548913975,
                                                                    47.42280782368305
                                                                ],
                                                                [
                                                                    -53.19490176418426,
                                                                    47.422921073852194
                                                                ],
                                                                [
                                                                    -53.19473514280839,
                                                                    47.42305924412646
                                                                ],
                                                                [
                                                                    -53.194622625220326,
                                                                    47.42322337267624
                                                                ],
                                                                [
                                                                    -53.194599703478936,
                                                                    47.42362873525526
                                                                ],
                                                                [
                                                                    -53.1945387181339,
                                                                    47.42375588597238
                                                                ],
                                                                [
                                                                    -53.194303949010894,
                                                                    47.42385036086541
                                                                ],
                                                                [
                                                                    -53.19374658359682,
                                                                    47.42415798441767
                                                                ],
                                                                [
                                                                    -53.19153345301342,
                                                                    47.42514519546752
                                                                ],
                                                                [
                                                                    -53.19145432611355,
                                                                    47.4251557008979
                                                                ],
                                                                [
                                                                    -53.190952533435635,
                                                                    47.42552526100401
                                                                ],
                                                                [
                                                                    -53.190569972468595,
                                                                    47.42589249638595
                                                                ],
                                                                [
                                                                    -53.18981548707595,
                                                                    47.42656383121728
                                                                ],
                                                                [
                                                                    -53.18927261745364,
                                                                    47.427222100158446
                                                                ],
                                                                [
                                                                    -53.18843935773182,
                                                                    47.42791292584452
                                                                ],
                                                                [
                                                                    -53.187622082800864,
                                                                    47.42899035883216
                                                                ],
                                                                [
                                                                    -53.18758026006782,
                                                                    47.429261136754306
                                                                ],
                                                                [
                                                                    -53.1876421888926,
                                                                    47.42947591676523
                                                                ],
                                                                [
                                                                    -53.187819695063325,
                                                                    47.429598499018056
                                                                ],
                                                                [
                                                                    -53.18800741964514,
                                                                    47.4296489026649
                                                                ],
                                                                [
                                                                    -53.18843367485626,
                                                                    47.42969477304063
                                                                ],
                                                                [
                                                                    -53.188710424819895,
                                                                    47.42965347168369
                                                                ],
                                                                [
                                                                    -53.18890548444659,
                                                                    47.42955977025655
                                                                ],
                                                                [
                                                                    -53.189400985692664,
                                                                    47.42903737557076
                                                                ],
                                                                [
                                                                    -53.18960850130113,
                                                                    47.4289254463064
                                                                ],
                                                                [
                                                                    -53.189783362754255,
                                                                    47.42898507821941
                                                                ],
                                                                [
                                                                    -53.189925931177065,
                                                                    47.42922530824891
                                                                ],
                                                                [
                                                                    -53.1898042664381,
                                                                    47.429488610464475
                                                                ],
                                                                [
                                                                    -53.18938674764046,
                                                                    47.42997351385427
                                                                ],
                                                                [
                                                                    -53.189321618209895,
                                                                    47.43000174075802
                                                                ],
                                                                [
                                                                    -53.189099151943644,
                                                                    47.430392940833976
                                                                ],
                                                                [
                                                                    -53.18914523971803,
                                                                    47.43054504039607
                                                                ],
                                                                [
                                                                    -53.18962228696778,
                                                                    47.43117482392983
                                                                ],
                                                                [
                                                                    -53.18974395595686,
                                                                    47.43155044700773
                                                                ],
                                                                [
                                                                    -53.189737778584586,
                                                                    47.43172154226688
                                                                ],
                                                                [
                                                                    -53.18957038586015,
                                                                    47.43184172692413
                                                                ],
                                                                [
                                                                    -53.18953324735371,
                                                                    47.43190542138432
                                                                ],
                                                                [
                                                                    -53.18967470108218,
                                                                    47.43211867842557
                                                                ],
                                                                [
                                                                    -53.18979377736284,
                                                                    47.43243134927363
                                                                ],
                                                                [
                                                                    -53.189858317734775,
                                                                    47.4327090842572
                                                                ],
                                                                [
                                                                    -53.18986227021794,
                                                                    47.43312294588749
                                                                ],
                                                                [
                                                                    -53.19014931221969,
                                                                    47.433648386200275
                                                                ],
                                                                [
                                                                    -53.19039566654138,
                                                                    47.43383265349499
                                                                ],
                                                                [
                                                                    -53.191138687932806,
                                                                    47.43416038147836
                                                                ],
                                                                [
                                                                    -53.19152467433066,
                                                                    47.43451294498738
                                                                ],
                                                                [
                                                                    -53.191699189487565,
                                                                    47.434563594369315
                                                                ],
                                                                [
                                                                    -53.191804453742364,
                                                                    47.434543582718554
                                                                ],
                                                                [
                                                                    -53.19275612493819,
                                                                    47.434147438256275
                                                                ],
                                                                [
                                                                    -53.193019673737645,
                                                                    47.434106411312236
                                                                ],
                                                                [
                                                                    -53.19345604505735,
                                                                    47.4343950178856
                                                                ],
                                                                [
                                                                    -53.193430297378825,
                                                                    47.43441350423558
                                                                ],
                                                                [
                                                                    -53.19352492674371,
                                                                    47.434456697094106
                                                                ],
                                                                [
                                                                    -53.19380081826094,
                                                                    47.434712358274176
                                                                ],
                                                                [
                                                                    -53.19384840348851,
                                                                    47.43490043588895
                                                                ],
                                                                [
                                                                    -53.19380137939995,
                                                                    47.4350453000955
                                                                ],
                                                                [
                                                                    -53.19359906990305,
                                                                    47.43528312891616
                                                                ],
                                                                [
                                                                    -53.19353841568451,
                                                                    47.435419286285445
                                                                ],
                                                                [
                                                                    -53.19356535653366,
                                                                    47.436066658421936
                                                                ],
                                                                [
                                                                    -53.193362876228726,
                                                                    47.436619450006255
                                                                ],
                                                                [
                                                                    -53.193101396271494,
                                                                    47.43702939440644
                                                                ],
                                                                [
                                                                    -53.19252744237686,
                                                                    47.43758029326817
                                                                ],
                                                                [
                                                                    -53.192025185597984,
                                                                    47.437940855355265
                                                                ],
                                                                [
                                                                    -53.19199831060063,
                                                                    47.437932364796005
                                                                ],
                                                                [
                                                                    -53.1918176114747,
                                                                    47.43805281502709
                                                                ],
                                                                [
                                                                    -53.19163955322385,
                                                                    47.438236178117656
                                                                ],
                                                                [
                                                                    -53.19129574557835,
                                                                    47.43889965589221
                                                                ],
                                                                [
                                                                    -53.19101278683235,
                                                                    47.4391120458628
                                                                ],
                                                                [
                                                                    -53.19091234743982,
                                                                    47.43924893068019
                                                                ],
                                                                [
                                                                    -53.19075835321249,
                                                                    47.43969281571847
                                                                ],
                                                                [
                                                                    -53.19036320188937,
                                                                    47.44007829896829
                                                                ],
                                                                [
                                                                    -53.1901192419126,
                                                                    47.44027192838054
                                                                ],
                                                                [
                                                                    -53.18909836113187,
                                                                    47.44092135430715
                                                                ],
                                                                [
                                                                    -53.18898318031371,
                                                                    47.44102253212906
                                                                ],
                                                                [
                                                                    -53.18898691980426,
                                                                    47.44111244418444
                                                                ],
                                                                [
                                                                    -53.18925552333351,
                                                                    47.44151225043645
                                                                ],
                                                                [
                                                                    -53.18958743485916,
                                                                    47.44183886880415
                                                                ],
                                                                [
                                                                    -53.190127269293825,
                                                                    47.44206251603516
                                                                ],
                                                                [
                                                                    -53.19024003695078,
                                                                    47.442222330328136
                                                                ],
                                                                [
                                                                    -53.19021949883129,
                                                                    47.44236670765334
                                                                ],
                                                                [
                                                                    -53.19009255258296,
                                                                    47.44250411828472
                                                                ],
                                                                [
                                                                    -53.18961671513827,
                                                                    47.44286414979649
                                                                ],
                                                                [
                                                                    -53.18951778791935,
                                                                    47.44303700775241
                                                                ],
                                                                [
                                                                    -53.18947261548839,
                                                                    47.443226848740075
                                                                ],
                                                                [
                                                                    -53.18946252299094,
                                                                    47.443622989437905
                                                                ],
                                                                [
                                                                    -53.189363390035076,
                                                                    47.44411078405079
                                                                ],
                                                                [
                                                                    -53.1893577887849,
                                                                    47.444614836360664
                                                                ],
                                                                [
                                                                    -53.18940129661675,
                                                                    47.44470398779302
                                                                ],
                                                                [
                                                                    -53.18954866900879,
                                                                    47.44475906232197
                                                                ],
                                                                [
                                                                    -53.21109137796333,
                                                                    47.42554437153053
                                                                ]
                                                            ]
                                                        ],
                                                        "type": "Polygon"
                                                    },
                                                    "properties": {
                                                        "city": "Avondale",
                                                        "country": "CA",
                                                        "fsaCode": "A0A",
                                                        "postalCode": "A0A 0A1",
                                                        "province": "Newfoundland and labrador"
                                                    },
                                                    "type": "Feature"
                                                }
                                            ],
                                            "type": "FeatureCollection"
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                }
            }
        },
        "/rest/v1/public/boundary/ca/h3/ldu/index/{h3ndex}": {
            "get": {
                "tags": [
                    "Query by LDU Code"
                ],
                "parameters": [
                    {
                        "name": "h3ndex",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "635775751926485631"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Query for LDU Boundary by H3Index",
                "description": "Query for Boundary by H3Index.\nQuery for a LDU boundary by H3 Index, if a LDU Postal Code does not exist within the H3 Index Hexagon, an empty FeatureCollection is returned.\n\n**H3Index resolution must be greater than 8.**",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/rest/v1/public/boundary/ca/h3/ldu/location/boundary": {
            "get": {
                "tags": [
                    "Query by LDU Code"
                ],
                "parameters": [
                    {
                        "name": "resolution",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "10"
                        }
                    },
                    {
                        "name": "latitude",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "46.04643887621965"
                        }
                    },
                    {
                        "name": "longitude",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "-73.4532516514038"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Query for LDU Boundary by Location and Resolution",
                "description": "Query for LDU H3 Boundary by Location and Resolution",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/rest/v1/public/boundary/ca/h3/index/{h3Index}": {
            "get": {
                "tags": [
                    " H3: Hexagonal Support"
                ],
                "parameters": [
                    {
                        "name": "h3Index",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "613257753791561700"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Query for Hexagon by H3Index",
                "description": "Create a h3 hexagon with any h3Index value in the world.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/rest/v1/public/boundary/ca/fsa": {
            "get": {
                "tags": [
                    "Query by FSA Code"
                ],
                "parameters": [
                    {
                        "name": "postal-fsa",
                        "in": "query",
                        "required": true,
                        "description": "Query by value postal code FSA, example: \"A0A\"",
                        "schema": {
                            "externalDocs": {},
                            "default": "T6H"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Query by FSA Code",
                "description": "Query by Postal FSA ( example T6H )",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "features": {
                                            "items": {
                                                "properties": {
                                                    "geometry": {
                                                        "properties": {
                                                            "coordinates": {
                                                                "items": {
                                                                    "items": {
                                                                        "items": {
                                                                            "type": "number"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "properties": {
                                                        "properties": {
                                                            "postal-fsa": {
                                                                "type": "string"
                                                            },
                                                            "territory": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "examples": {
                                    "Example_1": {
                                        "description": "",
                                        "summary": "Example_1",
                                        "value": {
                                            "features": [
                                                {
                                                    "geometry": {
                                                        "coordinates": [
                                                            [
                                                                [
                                                                    -54.52195151093417,
                                                                    48.90510609479908
                                                                ],
                                                                [
                                                                    -54.5174810940759,
                                                                    48.91543750328346
                                                                ],
                                                                [
                                                                    -54.51299969599582,
                                                                    48.925789287021736
                                                                ],
                                                                [
                                                                    -54.51259057095169,
                                                                    48.92673415822958
                                                                ],
                                                                [
                                                                    -54.512536256022926,
                                                                    48.92685954550618
                                                                ],
                                                                [
                                                                    -54.512459619389766,
                                                                    48.92703651136523
                                                                ],
                                                                [
                                                                    -54.512386368065975,
                                                                    48.927205675278216
                                                                ],
                                                                [
                                                                    -54.510429272999296,
                                                                    48.931724655295966
                                                                ],
                                                                [
                                                                    -54.509594085539455,
                                                                    48.93365285954374
                                                                ],
                                                                [
                                                                    -54.50920406204338,
                                                                    48.93455324001363
                                                                ],
                                                                [
                                                                    -54.50000000795855,
                                                                    48.955790226347524
                                                                ],
                                                                [
                                                                    -54.499720926320805,
                                                                    48.95643379050006
                                                                ],
                                                                [
                                                                    -54.4997776734339,
                                                                    48.96693214189041
                                                                ],
                                                                [
                                                                    -54.49982743979501,
                                                                    48.97613361981314
                                                                ],
                                                                [
                                                                    -54.500000014782565,
                                                                    48.976192724620226
                                                                ],
                                                                [
                                                                    -54.50377881416626,
                                                                    48.977486621723365
                                                                ],
                                                                [
                                                                    -54.50607781177598,
                                                                    48.978273724536535
                                                                ],
                                                                [
                                                                    -54.51937949246132,
                                                                    48.98282609442026
                                                                ],
                                                                [
                                                                    -54.54398884831008,
                                                                    48.99088099480632
                                                                ],
                                                                [
                                                                    -54.55214554352756,
                                                                    48.993548742567995
                                                                ],
                                                                [
                                                                    -54.57334577774351,
                                                                    48.99958744270818
                                                                ],
                                                                [
                                                                    -54.57520424424185,
                                                                    49.00006799716835
                                                                ],
                                                                [
                                                                    -54.58554228364836,
                                                                    49.00274026132051
                                                                ],
                                                                [
                                                                    -54.600174365413686,
                                                                    49.00652009163746
                                                                ],
                                                                [
                                                                    -54.601226258085575,
                                                                    49.006791692073236
                                                                ],
                                                                [
                                                                    -54.617082881661844,
                                                                    49.00709953322614
                                                                ],
                                                                [
                                                                    -54.623372290074435,
                                                                    49.00722092670789
                                                                ],
                                                                [
                                                                    -54.64089092130864,
                                                                    49.00007950656534
                                                                ],
                                                                [
                                                                    -54.646021774791684,
                                                                    48.997986892053184
                                                                ],
                                                                [
                                                                    -54.6477388865716,
                                                                    48.99722522098074
                                                                ],
                                                                [
                                                                    -54.64978308779491,
                                                                    48.99631842445096
                                                                ],
                                                                [
                                                                    -54.65033832203878,
                                                                    48.99607210216715
                                                                ],
                                                                [
                                                                    -54.6659880965982,
                                                                    48.98912695579528
                                                                ],
                                                                [
                                                                    -54.67887506842376,
                                                                    48.98340439652982
                                                                ],
                                                                [
                                                                    -54.68224204664297,
                                                                    48.981908772150064
                                                                ],
                                                                [
                                                                    -54.682337351791524,
                                                                    48.9818272473013
                                                                ],
                                                                [
                                                                    -54.68256209853296,
                                                                    48.98169681086486
                                                                ],
                                                                [
                                                                    -54.68273068269633,
                                                                    48.981691687744345
                                                                ],
                                                                [
                                                                    -54.68738035096144,
                                                                    48.979625833860126
                                                                ],
                                                                [
                                                                    -54.69024848214539,
                                                                    48.978351339318806
                                                                ],
                                                                [
                                                                    -54.69084585023873,
                                                                    48.978085870540696
                                                                ],
                                                                [
                                                                    -54.691130493736196,
                                                                    48.97795937343411
                                                                ],
                                                                [
                                                                    -54.69309694852398,
                                                                    48.97708540417096
                                                                ],
                                                                [
                                                                    -54.694443958217235,
                                                                    48.97648672541353
                                                                ],
                                                                [
                                                                    -54.69475793816318,
                                                                    48.97634716015477
                                                                ],
                                                                [
                                                                    -54.69719191101121,
                                                                    48.975265232217325
                                                                ],
                                                                [
                                                                    -54.69815258676987,
                                                                    48.97483818454325
                                                                ],
                                                                [
                                                                    -54.70266019574802,
                                                                    48.9728341426799
                                                                ],
                                                                [
                                                                    -54.71181889321413,
                                                                    48.9687610887676
                                                                ],
                                                                [
                                                                    -54.71221518685103,
                                                                    48.968584796602265
                                                                ],
                                                                [
                                                                    -54.712459959976734,
                                                                    48.968475926254484
                                                                ],
                                                                [
                                                                    -54.713476178948554,
                                                                    48.96802390012203
                                                                ],
                                                                [
                                                                    -54.71480092906766,
                                                                    48.968060618200205
                                                                ],
                                                                [
                                                                    -54.714796333527445,
                                                                    48.96816143809801
                                                                ],
                                                                [
                                                                    -54.71427392594695,
                                                                    48.96852895111526
                                                                ],
                                                                [
                                                                    -54.71432687931524,
                                                                    48.96856597782934
                                                                ],
                                                                [
                                                                    -54.7148862186553,
                                                                    48.96858606288233
                                                                ],
                                                                [
                                                                    -54.71500745463341,
                                                                    48.96862444517275
                                                                ],
                                                                [
                                                                    -54.71527147864696,
                                                                    48.96882760403056
                                                                ],
                                                                [
                                                                    -54.715379638077366,
                                                                    48.96945051485011
                                                                ],
                                                                [
                                                                    -54.715526948512164,
                                                                    48.96951640937658
                                                                ],
                                                                [
                                                                    -54.71570646430165,
                                                                    48.96947499245979
                                                                ],
                                                                [
                                                                    -54.71587729399185,
                                                                    48.969325436366475
                                                                ],
                                                                [
                                                                    -54.71596702578429,
                                                                    48.9691562615953
                                                                ],
                                                                [
                                                                    -54.71598098024609,
                                                                    48.96885064403996
                                                                ],
                                                                [
                                                                    -54.71609718294766,
                                                                    48.968700010820854
                                                                ],
                                                                [
                                                                    -54.71650131904679,
                                                                    48.96852807679206
                                                                ],
                                                                [
                                                                    -54.71739345213609,
                                                                    48.96784401425211
                                                                ],
                                                                [
                                                                    -54.71749718762454,
                                                                    48.96766209197546
                                                                ],
                                                                [
                                                                    -54.71760140376978,
                                                                    48.96747927081501
                                                                ],
                                                                [
                                                                    -54.71796870326346,
                                                                    48.9672166368254
                                                                ],
                                                                [
                                                                    -54.717976073503394,
                                                                    48.967054857885365
                                                                ],
                                                                [
                                                                    -54.71787311127168,
                                                                    48.967003030340315
                                                                ],
                                                                [
                                                                    -54.71861486791633,
                                                                    48.96601647403584
                                                                ],
                                                                [
                                                                    -54.71866573389913,
                                                                    48.96601588509668
                                                                ],
                                                                [
                                                                    -54.71895896056729,
                                                                    48.96587775391364
                                                                ],
                                                                [
                                                                    -54.7193094350148,
                                                                    48.96508397299987
                                                                ],
                                                                [
                                                                    -54.71948147757076,
                                                                    48.96490745710378
                                                                ],
                                                                [
                                                                    -54.719478081974124,
                                                                    48.96468246205652
                                                                ],
                                                                [
                                                                    -54.71925256957775,
                                                                    48.96453404110567
                                                                ],
                                                                [
                                                                    -54.7187892400425,
                                                                    48.96450690523166
                                                                ],
                                                                [
                                                                    -54.718603058227984,
                                                                    48.964395242951944
                                                                ],
                                                                [
                                                                    -54.7187348052126,
                                                                    48.9639030343716
                                                                ],
                                                                [
                                                                    -54.71883774907026,
                                                                    48.96374313050812
                                                                ],
                                                                [
                                                                    -54.71903545791339,
                                                                    48.963603098436494
                                                                ],
                                                                [
                                                                    -54.7193485836163,
                                                                    48.96362728546871
                                                                ],
                                                                [
                                                                    -54.71947308579239,
                                                                    48.96359377247848
                                                                ],
                                                                [
                                                                    -54.72042653709132,
                                                                    48.9624610605726
                                                                ],
                                                                [
                                                                    -54.72037848173459,
                                                                    48.96231615163457
                                                                ],
                                                                [
                                                                    -54.72026798735933,
                                                                    48.96221094856725
                                                                ],
                                                                [
                                                                    -54.72019515898604,
                                                                    48.962141597011126
                                                                ],
                                                                [
                                                                    -54.71962581332051,
                                                                    48.96174346783511
                                                                ],
                                                                [
                                                                    -54.71959040229091,
                                                                    48.961740311967496
                                                                ],
                                                                [
                                                                    -54.71935205290958,
                                                                    48.95954695981135
                                                                ],
                                                                [
                                                                    -54.71775640844679,
                                                                    48.94485785842608
                                                                ],
                                                                [
                                                                    -54.717633213272386,
                                                                    48.94493427943165
                                                                ],
                                                                [
                                                                    -54.71659189373013,
                                                                    48.944706720162145
                                                                ],
                                                                [
                                                                    -54.71609601813744,
                                                                    48.94449897627955
                                                                ],
                                                                [
                                                                    -54.715695464324405,
                                                                    48.944895893230964
                                                                ],
                                                                [
                                                                    -54.71534612406488,
                                                                    48.94506890759819
                                                                ],
                                                                [
                                                                    -54.71496195997151,
                                                                    48.945106274342535
                                                                ],
                                                                [
                                                                    -54.713915740388565,
                                                                    48.94498656521819
                                                                ],
                                                                [
                                                                    -54.7134224446824,
                                                                    48.94502176226349
                                                                ],
                                                                [
                                                                    -54.71302093045715,
                                                                    48.94513975389293
                                                                ],
                                                                [
                                                                    -54.71244656207549,
                                                                    48.945155348106965
                                                                ],
                                                                [
                                                                    -54.7120330962724,
                                                                    48.94523712573299
                                                                ],
                                                                [
                                                                    -54.7114615806924,
                                                                    48.94518978641232
                                                                ],
                                                                [
                                                                    -54.71085206664855,
                                                                    48.94507872199337
                                                                ],
                                                                [
                                                                    -54.71007168788381,
                                                                    48.944820295527265
                                                                ],
                                                                [
                                                                    -54.70961022281477,
                                                                    48.94475715799536
                                                                ],
                                                                [
                                                                    -54.70878279759087,
                                                                    48.94492965029322
                                                                ],
                                                                [
                                                                    -54.70808190895948,
[...]
