{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_544c8d73-dc9a-414d-9b4d-e740c2afe874",
            "value": "✓"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "apiversion_140bee22-5069-4cd4-a803-38c98567d0c2",
        "apiId": "api_f7fd3da9-e636-44c4-b5bb-4e858e0aa878"
    },
    "info": {
        "title": "Basketball Data",
        "description": "Broadage Basketball API can deliver any type of data for a basketball match, tournament or team; including livescores, play-by-play, boxscore, match statistics & many more. Our Basketball Coverage includes 100+ tournaments from all around the world with in-depth coverage, giving you the opportunity to present the best sports data to users located anywhere.  <br>This is a limited version in RapidApi. <a href=\"https://www.broadage.com/signup/api/free?utm_source=rapidapi&utm_medium=click&utm_campaign=soccer_api\" target=”_blank”>Please, click here to start your Free Trial and try the endpoints with live data now!</a>",
        "version": "v1",
        "x-category": "Sports",
        "x-long-description": "Everything that happens on the basketball court counts,it’s collected, packed and presented live. Live basketball games with play by play actions, game leaders and box scores are just some of the different data types for you to create your specialized basketball games page. Playoff fixtures and conference or division standings, use whichever you need in different tournaments.\n\nCreate your tournament page for Euroleague or NBA, or catch the March Madness action in NCAA basketball. Broadage Basketball Coverage includes player and team based statistics, provided live for European, American and International tournaments from a long list of countries.",
        "x-website": "https://www.broadage.com/sports-data-api/basketball",
        "x-public": true,
        "x-thumbnail": "https://rapidapi-prod-apis.s3.amazonaws.com/aa57d4bf-22d6-4f9a-b9c8-242b969e8039.png",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://basketball-data.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [
        {
            "name": "H2H Data",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Post-Match Data"
        },
        {
            "name": "Live Data"
        },
        {
            "name": "Pre-Match Data"
        }
    ],
    "paths": {
        "/h2h/match/list/recent": {
            "get": {
                "tags": [
                    "H2H Data"
                ],
                "parameters": [
                    {
                        "name": "matchId",
                        "in": "query",
                        "required": true,
                        "description": "The id of the match.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "350279"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Recent Match List Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/recent-match-list/"
                },
                "operationId": "Recent Match List",
                "description": "Provides the result list of the last 20 matches between the two teams in overall, with home and away filters.\n\n**The data will return for only -+7 days period, so endpoint can be tested with match that its date is in today +- 7 days. You can choose suitable match from Basketball Match List or Fixture endpoints.**",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/h2h/match/statistics/result/points": {
            "get": {
                "tags": [
                    "H2H Data"
                ],
                "parameters": [
                    {
                        "name": "matchId",
                        "in": "query",
                        "required": true,
                        "description": "The id of the match.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "335024"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Result Statistics Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/result-statistics/"
                },
                "operationId": "Result Statistics",
                "description": "Provides the result list of the last 20 matches between the two teams in overall, with home and away filters.\n\n**The data will return for only -+7 days period, so endpoint can be tested with match that its date is in today +- 7 days. You can choose suitable match from Basketball Match List or Fixture endpoints.**",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/tournament/info": {
            "get": {
                "tags": [
                    "Pre-Match Data"
                ],
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "query",
                        "required": true,
                        "description": "The id of the tournament.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "89"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Tournament Info Documentation",
                    "url": "https://www.broadage.com/developers/soccer-api/tournament-info/"
                },
                "operationId": "Tournament Info",
                "description": "Current season, stage structure(divisions,conferences etc.), country and many more information about a tournament.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/h2h/team/statistics/seasonal/points": {
            "get": {
                "tags": [
                    "Post-Match Data"
                ],
                "parameters": [
                    {
                        "name": "teamId",
                        "in": "query",
                        "required": true,
                        "description": "The id of the team.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "1442"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Seasonal Statistics: Points Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/seasonal-statistics-points/"
                },
                "operationId": "Seasonal Statistics: Points",
                "description": "Provides the points statistics of the team in the tournament.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/tournament/leaderboard/point": {
            "get": {
                "tags": [
                    "Post-Match Data"
                ],
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "query",
                        "required": true,
                        "description": "The id of the tournament.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "89"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Point Leaderboard Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/leaderboard-points/"
                },
                "operationId": "Point Leaderboard",
                "description": "Points-per-game leaders of the competition supported with player stats.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/match/playbyplay": {
            "get": {
                "tags": [
                    "Live Data"
                ],
                "parameters": [
                    {
                        "name": "matchId",
                        "in": "query",
                        "required": true,
                        "description": "The id of the match.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "350275"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Match Play by Play Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/match-play-by-play/"
                },
                "operationId": "Match Play by Play",
                "description": "Live match events with scores.\n\n**The data will return for only -+7 days period, so endpoint can be tested with match that its date is in today +- 7 days. You can choose suitable match from Basketball Match List or Fixture endpoints.**",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/match/summary": {
            "get": {
                "tags": [
                    "Live Data"
                ],
                "parameters": [
                    {
                        "name": "matchId",
                        "in": "query",
                        "required": true,
                        "description": "The id of the match.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "348276"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Match Summary Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/match-summary/"
                },
                "operationId": "Match Summary",
                "description": "Basic summary about the match that includes match scores, match status, team names, venue, and round info.\n\n**The data will return for only -+7 days period, so endpoint can be tested with match that its date is in today +- 7 days. You can choose suitable match from Basketball Match List or Fixture endpoints.**",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/match/boxscore": {
            "get": {
                "tags": [
                    "Live Data"
                ],
                "parameters": [
                    {
                        "name": "matchId",
                        "in": "query",
                        "required": true,
                        "description": "The id of the match.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "350275"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Match Boxscore Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/match-boxscore/"
                },
                "operationId": "Match Boxscore",
                "description": "Live, detailed team and player statistics.\n\n**The data will return for only -+7 days period, so endpoint can be tested with match that its date is in today +- 7 days. You can choose suitable match from Basketball Match List or Fixture endpoints.**",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/tournament/list": {
            "get": {
                "tags": [
                    "Pre-Match Data"
                ],
                "externalDocs": {
                    "description": "Basketball API Tournament List Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/tournament-list/"
                },
                "operationId": "Tournament List",
                "description": "List of tournaments in your data coverage.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/match/statistics": {
            "get": {
                "tags": [
                    "Live Data"
                ],
                "parameters": [
                    {
                        "name": "matchId",
                        "in": "query",
                        "required": true,
                        "description": "The id of the match.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "348276"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Match Statistics Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/match-statistics/"
                },
                "operationId": "Match Statistics",
                "description": "Live in match team statistics for each team in a match.\n\n**The data will return for only -+7 days period, so endpoint can be tested with match that its date is in today +- 7 days. You can choose suitable match from Basketball Match List or Fixture endpoints.**",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/match/gameleaders": {
            "get": {
                "tags": [
                    "Live Data"
                ],
                "parameters": [
                    {
                        "name": "matchId",
                        "in": "query",
                        "required": true,
                        "description": "The id of the match.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "348276"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Match Game Leaders Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/match-game-leaders/"
                },
                "operationId": "Match Game Leaders",
                "description": "Live points, rebounds and assists leaderboards of the game for triple-double hunting.\n\n**The data will return for only -+7 days period, so endpoint can be tested with match that its date is in today +- 7 days. You can choose suitable match from Basketball Match List or Fixture endpoints.**",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/match/list/live": {
            "get": {
                "tags": [
                    "Live Data"
                ],
                "parameters": [
                    {
                        "name": "date",
                        "in": "query",
                        "required": true,
                        "description": "The date of the matches. The format is {dd/MM/yyyy}. Data can be retrieved for only ± 7 days.",
                        "schema": {
                            "externalDocs": {},
                            "type": "string",
                            "default": "29/01/2021"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Match List: Live  Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/match-list-live/"
                },
                "operationId": "Daily Match List-Live",
                "description": "Daily match list including live matches.\n\n**The data will return for only -+7 days period, so endpoint can be tested with date range of today - 7 days.**",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/match/list/results": {
            "get": {
                "tags": [
                    "Post-Match Data"
                ],
                "parameters": [
                    {
                        "name": "date",
                        "in": "query",
                        "required": true,
                        "description": "The date of the matches. The format is {dd/MM/yyyy}. Data can be retrieved for only ± 7 days.",
                        "schema": {
                            "externalDocs": {},
                            "type": "string",
                            "default": "29/01/2021"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Match List: Results  Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/match-list-results/"
                },
                "operationId": "Daily Match List-Results",
                "description": "Daily match list including finished matches.\n\n**The data will return for only -+7 days period, so endpoint can be tested with date range of today - 7 days.**",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/match/list/scheduled": {
            "get": {
                "tags": [
                    "Pre-Match Data"
                ],
                "parameters": [
                    {
                        "name": "date",
                        "in": "query",
                        "required": true,
                        "description": "The date of the match. The format is {dd/MM/yyyy}. Data can be retrieved for only ± 7 days.",
                        "schema": {
                            "externalDocs": {},
                            "type": "string",
                            "default": "30/01/2021"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Match List: Scheduled  Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/match-list-scheduled/"
                },
                "operationId": "Daily Match List-Scheduled",
                "description": "Daily match list including scheduled matches.\n\n**The data will return for only -+7 days period, so endpoint can be tested with date range of today - 7 days.**",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/match/list": {
            "get": {
                "tags": [
                    "Live Data"
                ],
                "parameters": [
                    {
                        "name": "date",
                        "in": "query",
                        "required": true,
                        "description": "The date of the matches. The format is {dd/MM/yyyy}.  Data can be retrieved for only ± 7 days.",
                        "schema": {
                            "externalDocs": {},
                            "type": "string",
                            "default": "29/01/2021"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Match List: All  Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/match-list-all/"
                },
                "operationId": "Daily Match List-All",
                "description": "Daily match list including scheduled, live and finished matches.\n\n**The data will return for only -+7 days period, so endpoint can be tested with date range of today - 7 days.**",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/h2h/match/under-over-analysis": {
            "get": {
                "tags": [
                    "H2H Data"
                ],
                "parameters": [
                    {
                        "name": "matchId",
                        "in": "query",
                        "required": true,
                        "description": "The id of the match.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "350279"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Under / Over Analysis Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/under-over-analysis/"
                },
                "operationId": "Under / Over Analysis",
                "description": "Provides the under/over score analysis and statistics with the home/away team filters.\n\n**The data will return for only -+7 days period, so endpoint can be tested with match that its date is in today +- 7 days. You can choose suitable match from Basketball Match List or Fixture endpoints.**\n\nP.S.\nFull data is available at Under / Over Analysis endpoint but can not be shown in mock response.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/h2h/match/statistics/seasonal/teams-advanced": {
            "get": {
                "tags": [
                    "H2H Data"
                ],
                "parameters": [
                    {
                        "name": "matchId",
                        "in": "query",
                        "required": true,
                        "description": "The id of the match.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "335024"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Seasonal Advanced Team Statistics Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/seasonal-advanced-team-statistics/"
                },
                "operationId": "Seasonal Advanced Team Statistics",
                "description": "Provides the season-wide advanced team statistics with home team / away team filters.\n\n**The data will return for only -+7 days period, so endpoint can be tested with match that its date is in today +- 7 days. You can choose suitable match from Basketball Match List or Fixture endpoints.**",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/h2h/match/quarter-analysis": {
            "get": {
                "tags": [
                    "H2H Data"
                ],
                "parameters": [
                    {
                        "name": "matchId",
                        "in": "query",
                        "required": true,
                        "description": "The id of the match.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "350279"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Quarter Analysis Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/quarter-analysis/"
                },
                "operationId": "Quarter Analysis",
                "description": "Provides the analyst data for each quarters including Quarter Winning Avereages, Quarter Winning Counts, Quarter Winning Percentages with home team / away team filters.\n\n**The data will return for only -+7 days period, so endpoint can be tested with match that its date is in today +- 7 days. You can choose suitable match from Basketball Match List or Fixture endpoints.**",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/h2h/match/statistics/market/points": {
            "get": {
                "tags": [
                    "H2H Data"
                ],
                "parameters": [
                    {
                        "name": "matchId",
                        "in": "query",
                        "required": true,
                        "description": "The id of the match.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "350279"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Market Statistics (Points) Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/market-statistics-point/"
                },
                "operationId": "Market Statistics (Points)",
                "description": "Provides the market points statistics which are “First Quarter Result”, “Highest Scoring Quarter” and also “Ordinary/Half Time Winning Margins” for both two teams against the other teams in the tournament.\n\n**The data will return for only -+7 days period, so endpoint can be tested with match that its date is in today +- 7 days. You can choose suitable match from Basketball Match List or Fixture endpoints.**",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/h2h/team/match-margins": {
            "get": {
                "tags": [
                    "Post-Match Data"
                ],
                "parameters": [
                    {
                        "name": "teamId",
                        "in": "query",
                        "required": true,
                        "description": "The id of the team.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "1442"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Match Margins Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/match-margins/"
                },
                "operationId": "Match Margins",
                "description": "Provides the average match margin statistics of the team in the tournament.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/h2h/team/quarter-analysis/seasonal": {
            "get": {
                "tags": [
                    "Post-Match Data"
                ],
                "parameters": [
                    {
                        "name": "teamId",
                        "in": "query",
                        "required": true,
                        "description": "The id of the team.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "1442"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Seasonal Statistics: Quarter Analysis Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/seasonal-statistics-quarter-analysis/"
                },
                "operationId": "Seasonal Statistics: Quarter Analysis",
                "description": "Provides the seasonal quater analysis and statistics of the team in the tournament.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/h2h/team/statistics/market/seasonal/points": {
            "get": {
                "tags": [
                    "Post-Match Data"
                ],
                "parameters": [
                    {
                        "name": "teamId",
                        "in": "query",
                        "required": true,
                        "description": "The id of the team.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "1442"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Seasonal Market Statistics: Points Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/seasonal-market-statistics-points"
                },
                "operationId": "Seasonal Market Statistics: Points",
                "description": "Provides the seasonal market points statistics of the team in the tournament.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/tournament/teams": {
            "get": {
                "tags": [
                    "Pre-Match Data"
                ],
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "query",
                        "required": true,
                        "description": "The id of the tournament.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "89"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Tournament Teams Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/tournament-teams/"
                },
                "operationId": "Tournament Teams",
                "description": "List of teams participating in a specific tournament.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/tournament/standings": {
            "get": {
                "tags": [
                    "Post-Match Data"
                ],
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "query",
                        "required": true,
                        "description": "The id of the tournament.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "89"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Tournament Standings Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/tournament-standings/"
                },
                "operationId": "Tournament Standings",
                "description": "Team rankings for a specific competition.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/tournament/fixture": {
            "get": {
                "tags": [
                    "Pre-Match Data"
                ],
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "query",
                        "required": true,
                        "description": "The id of the tournament.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "89"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Tournament Fixture Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/tournament-fixture/"
                },
                "operationId": "Tournament Fixture",
                "description": "Full match list with quarter, half time and final scores with venue info.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/team/squad": {
            "get": {
                "tags": [
                    "Pre-Match Data"
                ],
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "query",
                        "required": false,
                        "description": "The id of the tournament. Tournament id is optional for club teams. However, it is required for national teams.\n",
                        "schema": {
                            "externalDocs": {},
                            "type": "number"
                        }
                    },
                    {
                        "name": "teamId",
                        "in": "query",
                        "required": true,
                        "description": "The id of the team.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "1442"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Team Squad Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/team-squad/"
                },
                "operationId": "Team Squad",
                "description": "List of players in a team.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/team/schedule": {
            "get": {
                "tags": [
                    "Pre-Match Data"
                ],
                "parameters": [
                    {
                        "name": "teamId",
                        "in": "query",
                        "required": true,
                        "description": "The id of the team.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "1442"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Team Schedule Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/team-schedule/"
                },
                "operationId": "Team Schedule",
                "description": "Team fixtures by all the tournaments a team participates.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/tournament/leaderboard/rebound": {
            "get": {
                "tags": [
                    "Post-Match Data"
                ],
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "query",
                        "required": true,
                        "description": "The id of the tournament.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "89"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Rebound Leaderboard Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/leaderboard-rebounds/"
                },
                "operationId": "Rebound Leaderboard",
                "description": "Rebounds-per-game leaders of the competition supported with player stats.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/tournament/leaderboard/assist": {
            "get": {
                "tags": [
                    "Post-Match Data"
                ],
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "query",
                        "required": true,
                        "description": "The id of the tournament.",
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "89"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "Basketball API Assist Leaderboard Documentation",
                    "url": "https://www.broadage.com/developers/basketball-api/leaderboard-assists/"
                },
                "operationId": "Assist Leaderboard",
                "description": "Assists-per-game leaders of the competition supported with player stats.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        }
    }
}