{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_570b8623-1422-4f95-b902-b12ac6ddf92e",
            "value": "✓"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "5558a1a3e4b0df756678f538",
        "apiId": "5558a1a3e4b095ed24ae355a"
    },
    "info": {
        "title": "boundaries-io",
        "description": "US Zipcode, County, City, and State Boundaries API:\r\n\r\nA simple & very fast API that will allow you to integrate multiple GeoJson US boundaries results into your apps and systems.\r\n\r\nThis API is designed to be used programatically for optimal performance.  When using the MashApe UI for queries expect significant latency issues on large result sets!",
        "version": "v1",
        "x-category": "Mapping",
        "x-long-description": "A simple & very fast API that will allow you to integrate multiple GeoJson US boundaries results into your apps and systems.\n\nOver the last five years, we were able to amass over 600 clients across the United States, Canada, and the United Kingdom.  From startups to large companies that are industry leaders in marketing, emergency response, insurance, and transportation.   These companies trust and rely on our robust  API for their solutions. Each of our plans offers 24x7 support. Review our Facebook page for to see some of our existing clients that are using our API\n\nThis API is designed to be used programmatically for optimal performance.  \n",
        "x-website": "http://www.boundaries-io.com",
        "x-public": true,
        "x-thumbnail": "https://rapidapi-prod-apis.s3.amazonaws.com/1d1b6c0d-994a-4a29-805d-1b9ae26ad575.png",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://vanitysoft-boundaries-io-v1.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [
        {
            "name": "US State and Territories ",
            "description": "Query for any of the 57 state and territories \n\nhttps://secure.ssa.gov/poms.nsf/lnx/0901501010",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "US Zipcode Boundaries"
        },
        {
            "name": "Place Boundaries",
            "description": "Place Boundaries from the US Census Place.",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "State Boundaries",
            "description": "High level State boundaries from the US Census",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Neighborhood Boundaries",
            "description": "Zillow neighborhood Boundaries",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "County Boundaries",
            "description": "High level County boundaries of the United states from the US Census\n",
            "externalDocs": {
                "description": "US Census",
                "url": "https://catalog.data.gov/dataset/u-s-county-boundaries"
            }
        },
        {
            "name": "County",
            "description": "County Boundaries from US Census.",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "State",
            "description": "High level state boundaries",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Nielsen DMA",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": "Neighborhood"
        },
        {
            "name": "Carrier Routes"
        }
    ],
    "paths": {
        "/rest/v1/public/boundary/zipcode": {
            "post": {
                "tags": [
                    "US Zipcode Boundaries"
                ],
                "parameters": [
                    {
                        "name": "combine",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "externalDocs": {},
                            "default": "true"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "externalDocs": {},
                            "default": "application/json"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Query for up to 1000 zipcodes",
                "description": "Query for up to 1000 zipcodes using a JSON ARRAY as the request body. Please test programmatically  not via this User interface.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {},
                            "examples": {
                                "New Example": {
                                    "description": "",
                                    "summary": "New Example",
                                    "value": [
                                        "00501",
                                        "00544",
                                        "07002",
                                        "07003",
                                        "07004",
                                        "07006"
                                    ]
                                }
                            }
                        }
                    },
                    "description": ""
                }
            },
            "get": {
                "tags": [
                    "US Zipcode Boundaries"
                ],
                "parameters": [
                    {
                        "name": "showCenter",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "externalDocs": {},
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "externalDocs": {}
                        }
                    },
                    {
                        "name": "and",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "externalDocs": {},
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "combine",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "externalDocs": {},
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "showDetails",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "externalDocs": {},
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "externalDocs": {}
                        }
                    },
                    {
                        "name": "zipcode",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "externalDocs": {},
                            "default": "22066,20003,20019,20015,20854"
                        }
                    },
                    {
                        "name": "county",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "externalDocs": {}
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Query by Zipcode(s) for zipcode bondaries",
                "description": "Get US State,Zipcode, or City boundaries",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/reaperfire/rest/v1/public/boundary/territories/{stateName}": {
            "get": {
                "tags": [
                    "US State and Territories "
                ],
                "parameters": [
                    {
                        "name": "stateName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "externalDocs": {},
                            "default": "VI"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Query for State or Territories",
                "description": "Query for any of the 57 state and territories by abbreviation.\n\nList of  abbreviation:\n[https://secure.ssa.gov/poms.nsf/lnx/0901501010](url)",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/rest/v1/public/boundary/unitedstates": {
            "get": {
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "United States Outline",
                "description": "Outline of the United States",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/reaperfire/rest/v1/public/boundary/dma": {
            "get": {
                "tags": [
                    "Nielsen DMA"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "externalDocs": {},
                            "default": "RICHMOND-PETERSBURG"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "*MEGA Subscription required*",
                    "url": ""
                },
                "operationId": "(MEGA PLAN ONLY)Query for DMA Region Area Boundary",
                "description": "*MEGA Subscription required*\nQuery for Nielsen's DMA Region Boundary and metadata by DMA Name.\nThe metadata  data is publicly available from thevab.com  from URL  https://thevab.com/storage/app/media/Toolkit/DMA_Map_2019.pdf \nthe boundaries were created internally in boundaries-io.com and the US census files.\n\nThe result includes all counties and zip codes in the DMA  region, with DMA Ranking from 2020 located here:\nhttps://mediatracks.com/resources/nielsen-dma-rankings-2020/\n\nFor more granular data contact www.nielsen.com",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/reaperfire/rest/v1/public/boundary/neighborhood": {
            "get": {
                "tags": [
                    "Neighborhood Boundaries"
                ],
                "parameters": [
                    {
                        "name": "nameOnly",
                        "in": "query",
                        "required": false,
                        "description": "return a JSON array of neighborhood names(a Query by only the State is allowed)",
                        "schema": {
                            "externalDocs": {}
                        }
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "required": false,
                        "description": "City",
                        "schema": {
                            "externalDocs": {}
                        }
                    },
                    {
                        "name": "county",
                        "in": "query",
                        "required": false,
                        "description": "County",
                        "schema": {
                            "externalDocs": {}
                        }
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "required": false,
                        "description": "State",
                        "schema": {
                            "externalDocs": {},
                            "default": "va"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "description": "Neighborhood Name",
                        "schema": {
                            "externalDocs": {},
                            "default": "Rock Spring"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Query for Neighborhood  by State with City, County",
                "description": "Query for Neighborhood  by State with City, County",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "features": {
                                            "items": {
                                                "properties": {
                                                    "geometry": {
                                                        "properties": {
                                                            "coordinates": {
                                                                "items": {
                                                                    "items": {
                                                                        "items": {
                                                                            "type": "number"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "properties": {
                                                        "properties": {
                                                            "city": {
                                                                "type": "string"
                                                            },
                                                            "county": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "state": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "examples": {
                                    "Example_1": {
                                        "description": "",
                                        "summary": "Example_1",
                                        "value": {
                                            "features": [
                                                {
                                                    "geometry": {
                                                        "coordinates": [
                                                            [
                                                                [
                                                                    -77.4661750785753,
                                                                    37.4865942018895
                                                                ],
                                                                [
                                                                    -77.4653038214706,
                                                                    37.4853236405444
                                                                ],
                                                                [
                                                                    -77.4652992068876,
                                                                    37.4853169109232
                                                                ],
                                                                [
                                                                    -77.4639740612023,
                                                                    37.4835823190673
                                                                ],
                                                                [
                                                                    -77.4639557458778,
                                                                    37.4835890026517
                                                                ],
                                                                [
                                                                    -77.463318747031,
                                                                    37.4838214505852
                                                                ],
                                                                [
                                                                    -77.4629642434465,
                                                                    37.4839855722279
                                                                ],
                                                                [
                                                                    -77.4626085029488,
                                                                    37.4842392665844
                                                                ],
                                                                [
                                                                    -77.4625193206077,
                                                                    37.4841847347954
                                                                ],
                                                                [
                                                                    -77.462392093807,
                                                                    37.4841716759157
                                                                ],
                                                                [
                                                                    -77.4623015113382,
                                                                    37.4842186608509
                                                                ],
                                                                [
                                                                    -77.4622413151425,
                                                                    37.4842360504441
                                                                ],
                                                                [
                                                                    -77.4621963945597,
                                                                    37.4842326707297
                                                                ],
                                                                [
                                                                    -77.4621218702541,
                                                                    37.4842021563424
                                                                ],
                                                                [
                                                                    -77.4620021370801,
                                                                    37.4841891626065
                                                                ],
                                                                [
                                                                    -77.4619202016043,
                                                                    37.4841526107828
                                                                ],
                                                                [
                                                                    -77.4619212728644,
                                                                    37.4840749802079
                                                                ],
                                                                [
                                                                    -77.4618696416995,
                                                                    37.4840148047046
                                                                ],
                                                                [
                                                                    -77.4618101048744,
                                                                    37.4839844213679
                                                                ],
                                                                [
                                                                    -77.4618045068255,
                                                                    37.4838470092037
                                                                ],
                                                                [
                                                                    -77.4617753565476,
                                                                    37.4837870306777
                                                                ],
                                                                [
                                                                    -77.4616780224178,
                                                                    37.4837802052872
                                                                ],
                                                                [
                                                                    -77.4615352322028,
                                                                    37.483808815094
                                                                ],
                                                                [
                                                                    -77.4614378155095,
                                                                    37.4838079610598
                                                                ],
                                                                [
                                                                    -77.4613555510404,
                                                                    37.4837952952452
                                                                ],
                                                                [
                                                                    -77.4613112491557,
                                                                    37.4837471283069
                                                                ],
                                                                [
                                                                    -77.4613047450522,
                                                                    37.4836754035799
                                                                ],
                                                                [
                                                                    -77.4613280501668,
                                                                    37.4836158848745
                                                                ],
                                                                [
                                                                    -77.4612910771352,
                                                                    37.4835797268333
                                                                ],
                                                                [
                                                                    -77.4612329006615,
                                                                    37.4835811278682
                                                                ],
                                                                [
                                                                    -77.4611271274397,
                                                                    37.483599311623
                                                                ],
                                                                [
                                                                    -77.4610598794965,
                                                                    37.4836063664331
                                                                ],
                                                                [
                                                                    -77.4609689161414,
                                                                    37.4835941017772
                                                                ],
                                                                [
                                                                    -77.4608873333357,
                                                                    37.483597208416
                                                                ],
                                                                [
                                                                    -77.4608254092724,
                                                                    37.4835660870493
                                                                ],
                                                                [
                                                                    -77.4607875701635,
                                                                    37.4835275322662
                                                                ],
                                                                [
                                                                    -77.4607298612465,
                                                                    37.4835384928189
                                                                ],
                                                                [
                                                                    -77.4606856951246,
                                                                    37.4836107286654
                                                                ],
                                                                [
                                                                    -77.4606182888315,
                                                                    37.4836292485771
                                                                ],
                                                                [
                                                                    -77.4604893281037,
                                                                    37.4835898942383
                                                                ],
                                                                [
                                                                    -77.4604213407029,
                                                                    37.4836504540233
                                                                ],
                                                                [
                                                                    -77.460358941428,
                                                                    37.4836537286487
                                                                ],
                                                                [
                                                                    -77.4603257928317,
                                                                    37.48362285956
                                                                ],
                                                                [
                                                                    -77.4602977570324,
                                                                    37.4835691015782
                                                                ],
                                                                [
                                                                    -77.4602743058209,
                                                                    37.4835306730004
                                                                ],
                                                                [
                                                                    -77.4601920891386,
                                                                    37.48357964093
                                                                ],
                                                                [
                                                                    -77.4601250525592,
                                                                    37.4835714079847
                                                                ],
                                                                [
                                                                    -77.4600537483745,
                                                                    37.4835249146968
                                                                ],
                                                                [
                                                                    -77.4600009936994,
                                                                    37.4835244515546
                                                                ],
                                                                [
                                                                    -77.4599622039492,
                                                                    37.4835546891601
                                                                ],
                                                                [
                                                                    -77.459956615534,
                                                                    37.4836119742633
                                                                ],
                                                                [
                                                                    -77.4598932122788,
                                                                    37.4836878631687
                                                                ],
                                                                [
                                                                    -77.4597865401816,
                                                                    37.4837710165914
                                                                ],
                                                                [
                                                                    -77.4597270288142,
                                                                    37.483773551868
                                                                ],
                                                                [
                                                                    -77.4596206156759,
                                                                    37.4836992295258
                                                                ],
                                                                [
                                                                    -77.4595555607531,
                                                                    37.4836864269476
                                                                ],
                                                                [
                                                                    -77.4594290339918,
                                                                    37.4836791999278
                                                                ],
                                                                [
                                                                    -77.459387083863,
                                                                    37.483660484469
                                                                ],
                                                                [
                                                                    -77.4593606498915,
                                                                    37.4836296740001
                                                                ],
                                                                [
                                                                    -77.4593148632708,
                                                                    37.4836109248124
                                                                ],
                                                                [
                                                                    -77.4592377060963,
                                                                    37.4836408252039
                                                                ],
                                                                [
                                                                    -77.4591794363605,
                                                                    37.483692296231
                                                                ],
                                                                [
                                                                    -77.4591022368586,
                                                                    37.4837252539429
                                                                ],
                                                                [
                                                                    -77.4590290431819,
                                                                    37.4837460155041
                                                                ],
                                                                [
                                                                    -77.4589528167254,
                                                                    37.4837086518184
                                                                ],
                                                                [
                                                                    -77.4589304311312,
                                                                    37.4836625877478
                                                                ],
                                                                [
                                                                    -77.4588910624073,
                                                                    37.4834573676568
                                                                ],
                                                                [
                                                                    -77.4588614689952,
                                                                    37.4833776041831
                                                                ],
                                                                [
                                                                    -77.4587928740686,
                                                                    37.4833433651498
                                                                ],
                                                                [
                                                                    -77.4587239829576,
                                                                    37.4833305283914
                                                                ],
                                                                [
                                                                    -77.4586547954926,
                                                                    37.483339093632
                                                                ],
                                                                [
                                                                    -77.4586045375909,
                                                                    37.4833661722033
                                                                ],
                                                                [
                                                                    -77.4585314711113,
                                                                    37.4833777611428
                                                                ],
                                                                [
                                                                    -77.4584854308682,
                                                                    37.4833773563566
                                                                ],
                                                                [
                                                                    -77.4584161163325,
                                                                    37.4833950938649
                                                                ],
                                                                [
                                                                    -77.4583423301949,
                                                                    37.4834586593569
                                                                ],
                                                                [
                                                                    -77.4582955488715,
                                                                    37.4835117598213
                                                                ],
                                                                [
                                                                    -77.4582182644848,
                                                                    37.4835508318656
                                                                ],
                                                                [
                                                                    -77.4581300203233,
                                                                    37.4835500557749
                                                                ],
                                                                [
                                                                    -77.458030435502,
                                                                    37.4835369485621
                                                                ],
                                                                [
                                                                    -77.4579577922866,
                                                                    37.4835179627032
                                                                ],
                                                                [
                                                                    -77.4579158003755,
                                                                    37.4835023041315
                                                                ],
                                                                [
                                                                    -77.4578389817255,
                                                                    37.4835077439855
                                                                ],
                                                                [
                                                                    -77.4576965155441,
                                                                    37.4835431844472
                                                                ],
                                                                [
                                                                    -77.4575847851322,
                                                                    37.4835758373385
                                                                ],
                                                                [
                                                                    -77.4575117606627,
                                                                    37.4835843681494
                                                                ],
                                                                [
                                                                    -77.4572895285685,
                                                                    37.4835610074715
                                                                ],
                                                                [
                                                                    -77.45709356018,
                                                                    37.48358068708
                                                                ],
                                                                [
                                                                    -77.4569591483432,
                                                                    37.4835886771764
                                                                ],
                                                                [
                                                                    -77.456817253973,
                                                                    37.4835828408941
                                                                ],
                                                                [
                                                                    -77.4566825029872,
                                                                    37.4836152903023
                                                                ],
                                                                [
                                                                    -77.456505972136,
                                                                    37.4836167931744
                                                                ],
                                                                [
                                                                    -77.4563641837889,
                                                                    37.4836033127856
                                                                ],
                                                                [
                                                                    -77.456291116734,
                                                                    37.4836149003427
                                                                ],
                                                                [
                                                                    -77.4561869742908,
                                                                    37.4836537344299
                                                                ],
                                                                [
                                                                    -77.4561255869385,
                                                                    37.4836531934947
                                                                ],
                                                                [
                                                                    -77.4560223778313,
                                                                    37.4836247635668
                                                                ],
                                                                [
                                                                    -77.4557837719485,
                                                                    37.4828459732517
                                                                ],
                                                                [
                                                                    -77.4554206268938,
                                                                    37.4816410464511
                                                                ],
                                                                [
                                                                    -77.4524562193515,
                                                                    37.4821484601122
                                                                ],
                                                                [
                                                                    -77.4487274740988,
                                                                    37.4827721929093
                                                                ],
                                                                [
                                                                    -77.4485906036879,
                                                                    37.4827761699492
                                                                ],
                                                                [
                                                                    -77.4485643501315,
                                                                    37.4851162613103
                                                                ],
                                                                [
                                                                    -77.4449296689463,
                                                                    37.4849579376418
                                                                ],
                                                                [
                                                                    -77.445017663232,
                                                                    37.4862656504204
                                                                ],
                                                                [
                                                                    -77.4453220435201,
                                                                    37.4892660947788
                                                                ],
                                                                [
                                                                    -77.445530140528,
                                                                    37.4913172826298
                                                                ],
                                                                [
                                                                    -77.4455471216211,
                                                                    37.4913161656698
                                                                ],
                                                                [
                                                                    -77.4456141983092,
                                                                    37.4919031653188
                                                                ],
                                                                [
                                                                    -77.4458673156408,
                                                                    37.4940928272374
                                                                ],
                                                                [
                                                                    -77.4458798168904,
                                                                    37.4940923441955
                                                                ],
                                                                [
                                                                    -77.4462160366575,
                                                                    37.4940793501212
                                                                ],
                                                                [
                                                                    -77.4464975467417,
                                                                    37.4940362604805
                                                                ],
                                                                [
                                                                    -77.4467117294929,
                                                                    37.4939718473332
                                                                ],
                                                                [
                                                                    -77.4469733618892,
                                                                    37.493862262352
                                                                ],
                                                                [
                                                                    -77.44717754721,
                                                                    37.4937687457316
                                                                ],
                                                                [
                                                                    -77.4473813260373,
                                                                    37.4937042390196
                                                                ],
                                                                [
                                                                    -77.4476628340514,
                                                                    37.4936611465152
                                                                ],
                                                                [
                                                                    -77.4486889376584,
                                                                    37.4935666352588
                                                                ],
                                                                [
                                                                    -77.4487001971637,
                                                                    37.4938775981098
                                                                ],
                                                                [
                                                                    -77.4487634701133,
                                                                    37.4941890224648
                                                                ],
                                                                [
                                                                    -77.4488690493489,
                                                                    37.4944510840548
                                                                ],
                                                                [
                                                                    -77.4490168773106,
                                                                    37.4946679271382
                                                                ],
                                                                [
                                                                    -77.449185511614,
                                                                    37.4948849544685
                                                                ],
                                                                [
                                                                    -77.4495792463201,
                                                                    37.495373392005
                                                                ],
                                                                [
                                                                    -77.4498146923592,
                                                                    37.4956490384988
                                                                ],
                                                                [
                                                                    -77.4500245956775,
                                                                    37.4958912994122
                                                                ],
                                                                [
                                                                    -77.4502449033809,
                                                                    37.4961336521154
                                                                ],
                                                                [
                                                                    -77.4504969417015,
                                                                    37.496338981871
                                                                ],
                                                                [
                                                                    -77.4507802483654,
                                                                    37.4965404432855
                                                                ],
                                                                [
                                                                    -77.4511511730372,
                                                                    37.4968007072574
                                                                ],
                                                                [
                                                                    -77.4515486856634,
                                                                    37.4970197569532
                                                                ],
                                                                [
                                                                    -77.4517760513382,
                                                                    37.4971295344973
                                                                ],
                                                                [
                                                                    -77.4521899227793,
                                                                    37.4972948438426
                                                                ],
                                                                [
                                                                    -77.4526606669097,
                                                                    37.4974855236108
                                                                ],
                                                                [
                                                                    -77.4531265003409,
                                                                    37.4976554338249
                                                                ],
                                                                [
                                                                    -77.453778555359,
                                                                    37.4979015937429
                                                                ],
                                                                [
                                                                    -77.4544514786599,
                                                                    37.4981437893973
                                                                ],
                                                                [
                                                                    -77.4545118070776,
                                                                    37.4981657927149
                                                                ],
                                                                [
                                                                    -77.4545264132835,
                                                                    37.4979104486965
                                                                ],
                                                                [
                                                                    -77.454332757414,
                                                                    37.4955862363043
                                                                ],
                                                                [
                                                                    -77.4572780249925,
                                                                    37.4954177518616
                                                                ],
                                                                [
                                                                    -77.4569675771062,
                                                                    37.4927763665204
                                                                ],
                                                                [
                                                                    -77.4571993247938,
                                                                    37.4927496003779
                                                                ],
                                                                [
                                                                    -77.4569595077571,
                                                                    37.4912726084872
                                                                ],
                                                                [
                                                                    -77.4640138676083,
                                                                    37.4906453480469
                                                                ],
                                                                [
                                                                    -77.4650108274483,
                                                                    37.4884993453997
                                                                ],
                                                                [
                                                                    -77.4654661465287,
                                                                    37.4875192059912
                                                                ],
                                                                [
                                                                    -77.4655247221887,
                                                                    37.4872028486248
                                                                ],
                                                                [
                                                                    -77.4656545979842,
                                                                    37.4869591293808
                                                                ],
                                                                [
                                                                    -77.465855971582,
                                                                    37.4867736467526
                                                                ],
                                                                [
                                                                    -77.4661750785753,
                                                                    37.4865942018895
                                                                ]
                                                            ]
                                                        ],
                                                        "type": "Polygon"
                                                    },
                                                    "properties": {
                                                        "city": "Richmond",
                                                        "county": "Henrico",
                                                        "name": "Broad Rock Industrial Park",
                                                        "state": "VA"
                                                    },
                                                    "type": "Feature"
                                                },
                                                {
                                                    "geometry": {
                                                        "coordinates": [
                                                            [
                                                                [
                                                                    -77.5118909085783,
                                                                    37.5161104183489
                                                                ],
                                                                [
                                                                    -77.5056461611967,
                                                                    37.5111044099101
                                                                ],
                                                                [
                                                                    -77.5048381894561,
                                                                    37.5065645309619
                                                                ],
                                                                [
                                                                    -77.5048117772809,
                                                                    37.5065651530705
                                                                ],
                                                                [
                                                                    -77.504734884563,
                                                                    37.506584856829
                                                                ],
                                                                [
                                                                    -77.5046589169373,
                                                                    37.5066486690565
                                                                ],
                                                                [
                                                                    -77.5046349516512,
                                                                    37.5067129179721
                                                                ],
                                                                [
                                                                    -77.5044202490533,
                                                                    37.5067801681156
                                                                ],
                                                                [
                                                                    -77.504241006894,
                                                                    37.5067878692464
                                                                ],
                                                                [
                                                                    -77.5040960064572,
                                                                    37.5068280829606
                                                                ],
                                                                [
                                                                    -77.5039688887458,
                                                                    37.5068270145342
                                                                ],
                                                                [
                                                                    -77.5038305197112,
                                                                    37.5068028334415
                                                                ],
                                                                [
                                                                    -77.5037086922904,
                                                                    37.506838637975
                                                                ],
                                                                [
                                                                    -77.5035691035178,
                                                                    37.5069065180983
                                                                ],
                                                                [
                                                                    -77.5034235535008,
                                                                    37.5069881587449
                                                                ],
                                                                [
                                                                    -77.5033187242817,
                                                                    37.5070494254922
                                                                ],
                                                                [
                                                                    -77.5032129493187,
                                                                    37.5071820399183
                                                                ],
                                                                [
                                                                    -77.5029330369992,
                                                                    37.5073730357605
                                                                ],
                                                                [
                                                                    -77.5027173543123,
                                                                    37.5075139320286
                                                                ],
                                                                [
                                                                    -77.5025261876009,
                                                                    37.5075491517732
                                                                ],
                                                                [
                                                                    -77.5022366465601,
                                                                    37.5080300911547
                                                                ],
                                                                [
                                                                    -77.5020192197329,
                                                                    37.5083021738044
                                                                ],
                                                                [
                                                                    -77.5018319348803,
                                                                    37.508480136297
                                                                ],
                                                                [
                                                                    -77.5000590004768,
                                                                    37.5088265707827
                                                                ],
                                                                [
                                                                    -77.4985357098958,
                                                                    37.5090853188212
                                                                ],
                                                                [
                                                                    -77.4985457339498,
                                                                    37.5092004932658
                                                                ],
                                                                [
                                                                    -77.4985793001465,
                                                                    37.5092836415894
                                                                ],
                                                                [
                                                                    -77.4985828376536,
                                                                    37.5093554734395
                                                                ],
                                                                [
                                                                    -77.4979088288123,
                                                                    37.5093346572002
                                                                ],
                                                                [
                                                                    -77.4979087831385,
                                                                    37.5093481063721
                                                                ],
                                                                [
                                                                    -77.4976388049297,
                                                                    37.509332370713
                                                                ],
                                                                [
                                                                    -77.4972165598363,
                                                                    37.5093250180408
                                                                ],
                                                                [
                                                                    -77.4970979374285,
                                                                    37.5093240141684
                                                                ],
                                                                [
                                                                    -77.4969181356308,
                                                                    37.5092846893429
                                                                ],
                                                                [
                                                                    -77.496582458898,
                                                                    37.5091911203539
                                                                ],
                                                                [
                                                                    -77.4964310765319,
                                                                    37.5091558157052
                                                                ],
                                                                [
                                                                    -77.4962318924212,
                                                                    37.5091465681066
                                                                ],
                                                                [
                                                                    -77.496070364595,
                                                                    37.5091603209738
                                                                ],
                                                                [
                                                                    -77.4957514479039,
                                                                    37.5092332245807
                                                                ],
                                                                [
                                                                    -77.4949090012347,
                                                                    37.509420767482
                                                                ],
                                                                [
                                                                    -77.4944139143181,
                                                                    37.5095375367909
                                                                ],
                                                                [
                                                                    -77.4942948873226,
                                                                    37.5095667690189
                                                                ],
                                                                [
                                                                    -77.4941997869001,
                                                                    37.5095810830887
                                                                ],
                                                                [
                                                                    -77.4940906034585,
                                                                    37.5095839366045
                                                                ],
                                                                [
                                                                    -77.4939009335623,
                                                                    37.509572875672
                                                                ],
                                                                [
                                                                    -77.4934886831699,
                                                                    37.5095277915892
                                                                ],
                                                                [
                                                                    -77.4932233227454,
                                                                    37.5094990753427
                                                                ],
                                                                [
                                                                    -77.4930716376639,
                                                                    37.5094864456038
                                                                ],
                                                                [
                                                                    -77.4929625555517,
                                                                    37.509481738378
                                                                ],
                                                                [
                                                                    -77.4928579652194,
                                                                    37.5094959707257
                                                                ],
                                                                [
                                                                    -77.4927817937471,
                                                                    37.5095142248168
                                                                ],
                                                                [
                                                                    -77.4926815431657,
                                                                    37.509558736238
                                                                ],
                                                                [
                                                                    -77.4925858348072,
                                                                    37.5096184074068
                                                                ],
                                                                [
                                                                    -77.4925474198307,
                                                                    37.5096521034469
                                                                ],
                                                                [
                                                                    -77.4924557978956,
                                                                    37.5097609530925
                                                                ],
                                                                [
                                                                    -77.4923979979012,
                                                                    37.5098247266971
                                                                ],
                                                                [
                                                                    -77.4923070338852,
                                                                    37.5098844379826
                                                                ],
                                                                [
                                                                    -77.4922399464669,
                                                                    37.5099330113168
                                                                ],
                                                                [
                                                                    -77.492106151212,
                                                                    37.5100018089455
                                                                ],
                                                                [
                                                                    -77.49195845019,
                                                                    37.5100459161696
                                                                ],
                                                                [
                                                                    -77.4918250852159,
                                                                    37.5100825846153
                                                                ],
                                                                [
                                                                    -77.4916868738273,
                                                                    37.5101267722372
                                                                ],
                                                                [
                                                                    -77.4915867739572,
                                                                    37.5101599431773
                                                                ],
                                                                [
                                                                    -77.4915007565851,
                                                                    37.5102045747259
                                                                ],
                                                                [
                                                                    -77.4913953031241,
                                                                    37.5102830635032
                                                                ],
                                                                [
                                                                    -77.4912134231837,
                                                                    37.5103987045132
                                                                ],
                                                                [
                                                                    -77.4909227468852,
                                                                    37.5106059117538
                                                                ],
                                                                [
                                                                    -77.4916422843601,
                                                                    37.5112888873708
                                                                ],
                                                                [
                                                                    -77.4922009171655,
                                                                    37.5121516019757
                                                                ],
                                                                [
                                                                    -77.4926554232265,
                                                                    37.5133989041281
                                                                ],
                                                                [
                                                                    -77.4926689707361,
                                                                    37.5134665984758
                                                                ],
                                                                [
                                                                    -77.4928249670436,
                                                                    37.5142460750211
                                                                ],
                                                                [
                                                                    -77.492925565324,
                                                                    37.514401591449
                                                                ],
                                                                [
                                                                    -77.4933264781364,
                                                                    37.5157583247127
                                                                ],
                                                                [
                                                                    -77.493799609147,
                                                                    37.5173622754523
                                                                ],
                                                                [
                                                                    -77.4942799890952,
                                                                    37.5189903442217
                                                                ],
                                                                [
                                                                    -77.4945577334764,
                                                                    37.5199241169892
                                                                ],
                                                                [
                                                                    -77.4951725511399,
                                                                    37.5195950671044
                                                                ],
                                                                [
                                                                    -77.49650274654,
                                                                    37.5192543743165
                                                                ],
                                                                [
                                                                    -77.4975288387509,
                                                                    37.5190290999591
                                                                ],
                                                                [
                                                                    -77.5000412009425,
                                                                    37.5186811593241
                                                                ],
                                                                [
                                                                    -77.5007626486249,
                                                                    37.5185751763457
                                                                ],
                                                                [
                                                                    -77.5013349625851,
                                                                    37.5184811168081
                                                                ],
                                                                [
                                                                    -77.5019256886652,
                                                                    37.5185082504569
                                                                ],
                                                                [
                                                                    -77.5023853218595,
                                                                    37.5185361085997
                                                                ],
                                                                [
                                                                    -77.5026240835301,
                                                                    37.5186304093449
                                                                ],
                                                                [
                                                                    -77.5035383707589,
                                                                    37.5189611191239
                                                                ],
                                                                [
                                                                    -77.5045436959423,
                                                                    37.5192925865391
                                                                ],
                                                                [
                                                                    -77.5049973632756,
                                                                    37.5194084639698
                                                                ],
                                                                [
                                                                    -77.5061461587564,
                                                                    37.5195537421565
                                                                ],
                                                                [
                                                                    -77.5061649000883,
                                                                    37.5195557679797
                                                                ],
                                                                [
                                                                    -77.507818291762,
                                                                    37.5198335930335
                                                                ],
                                                                [
                                                                    -77.5079324712301,
                                                                    37.5198611588392
                                                                ],
                                                                [
                                                                    -77.5080928788942,
                                                                    37.5193129131431
                                                                ],
                                                                [
                                                                    -77.5088989861408,
                                                                    37.5194299372931
                                                                ],
                                                                [
                                                                    -77.5104630275852,
                                                                    37.5177614641882
                                                                ],
                                                                [
                                                                    -77.5104882311629,
                                                                    37.5177345770169
                                                                ],
                                                                [
                                                                    -77.5118909085783,
                                                                    37.5161104183489
                                                                ]
                                                            ]
                                                        ],
                                                        "type": "Polygon"
                                                    },
                                                    "properties": {
                                                        "city": "Richmond",
                                                        "county": "Henrico",
                                                        "name": "Westover",
                                                        "state": "VA"
                                                    },
                                                    "type": "Feature"
                                                },
                                                {
                                                    "geometry": {
                                                        "coordinates": [
                                                            [
                                                                [
                                                                    -77.4973567188259,
                                                                    37.5299269553101
                                                                ],
                                                                [
                                                                    -77.4973358580304,
                                                                    37.5295870133194
                                                                ],
                                                                [
                                                                    -77.4972754499574,
                                                                    37.5291658401634
                                                                ],
                                                                [
                                                                    -77.4972080222442,
                                                                    37.5288902213512
                                                                ],
                                                                [
                                                                    -77.4971258996979,
                                                                    37.5285740299399
                                                                ],
                                                                [
                                                                    -77.4970384838904,
                                                                    37.5282739729586
                                                                ],
                                                                [
                                                                    -77.4966688927713,
                                                                    37.5270452614976
                                                                ],
                                                                [
                                                                    -77.4965165072937,
                                                                    37.5265307778242
                                                                ],
[...]
