{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_e47bd16e-47fb-48b5-a93e-442e19524b27",
            "value": "✓"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "55c40a4ae4b06ab178a9b4e5",
        "apiId": "55c40a4ae4b04cc103ecb2e3"
    },
    "info": {
        "title": "uk.boundaries.io",
        "description": "UK Postal Code(ex. ZE1 0AE), Sector,  District,  Boundaries API:\r\n\r\nA simple & very fast API that will allow you to integrate multiple GeoJson UK Unit and sector level boundaries result into your apps and systems.\r\nThis API is designed to be used programatically for optimal performance.  When using the MashApe UI for queries expect significant latency issues on large result sets!",
        "version": "v1",
        "x-category": "Mapping",
        "x-long-description": "UK Postal Code(ex. ZE1 0AE), Sector,  District,  Boundaries API:\n\nA simple & very fast API that will allow you to integrate multiple GeoJson UK Unit and sector level boundaries result into your apps and systems.\n\nSource: Office for National Statistics licensed under the Open Government Licence v.3.0\n\nContains OS data © Crown copyright and database.\n\nOver the last five years, we were able to amass over 600 clients across the United States, Canada, and the United Kingdom.  From startups to large companies that are industry leaders in marketing, emergency response, insurance, and transportation.   These companies trust and rely on our robust  API for their solutions. Each of our plans offers 24x7 support. Review our Facebook page for to see some of our existing clients that are using our API\n",
        "x-website": "http://www.boundaries-io.com",
        "x-public": true,
        "x-thumbnail": "https://rapidapi-prod-apis.s3.amazonaws.com/616bff73-6ffa-4baf-8a9b-152349385552.png",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://vanitysoft-uk-boundaries-io-v1.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [
        {
            "name": "Query for Sector and District ",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        },
        {
            "name": " H3: Hexagonal Support",
            "description": "https://eng.uber.com/",
            "externalDocs": {
                "description": "",
                "url": "https://eng.uber.com/"
            }
        },
        {
            "name": "Query for Postal Unit",
            "externalDocs": {
                "description": "",
                "url": ""
            }
        }
    ],
    "paths": {
        "/rest/v1/public/boundary/uk/h3/index/{h3Index}": {
            "get": {
                "tags": [
                    " H3: Hexagonal Support"
                ],
                "parameters": [
                    {
                        "name": "h3Index",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "635177333670728575"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Query for Hexagon by H3Index",
                "description": "Query for Hexagon by H3Index",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/rest/v1/public/boundary/uk/h3/location/boundary": {
            "get": {
                "tags": [
                    " H3: Hexagonal Support"
                ],
                "parameters": [
                    {
                        "name": "latitude",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "46.04643887621965"
                        }
                    },
                    {
                        "name": "resolution",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "13"
                        }
                    },
                    {
                        "name": "longitude",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "-73.4532516514038"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "Query for Hexagon by Location and Resolution",
                "description": "Query for Hexagon by Location and Resolution",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/rest/v1/public/boundary/uk/h3/unit/index/{h3ndex}": {
            "get": {
                "tags": [
                    "Query for Postal Unit"
                ],
                "parameters": [
                    {
                        "name": "resolution",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "13"
                        }
                    },
                    {
                        "name": "h3ndex",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "635177333670728575"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": "https://eng.uber.com/"
                },
                "operationId": "Query for Postal Unit Boundary by H3Index",
                "description": "Query for Postal Unit Boundary by H3Index\n\nIf  a Postal Unit code exists within this hexagon a boundary is returned.\nadjusting the resolution(0-16) increases the hexagon area.\n\nhttps://eng.uber.com/",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/reaperfire/rest/v1/public/boundary/uk": {
            "get": {
                "tags": [
                    "Query for Postal Unit"
                ],
                "parameters": [
                    {
                        "name": "resolution",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "externalDocs": {},
                            "type": "number",
                            "default": "13"
                        }
                    },
                    {
                        "name": "postal-unit",
                        "in": "query",
                        "required": true,
                        "description": "Query by postal units. for example 'ZE1 0AE\", or multiples.",
                        "schema": {
                            "externalDocs": {},
                            "default": "ZE1 0AE"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": "https://eng.uber.com"
                },
                "operationId": "Query for Postal Code Unit Boundary( H3 Geo Boundary )",
                "description": "Query for Postal Unit Boundary (ex. ZE1 0AE) \n\nhttps://eng.uber.com/",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "features": {
                                            "items": {
                                                "properties": {
                                                    "geometry": {
                                                        "properties": {
                                                            "coordinates": {
                                                                "items": {
                                                                    "items": {
                                                                        "items": {
                                                                            "items": {
                                                                                "type": "number"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "properties": {
                                                        "properties": {
                                                            "country": {
                                                                "type": "string"
                                                            },
                                                            "district": {
                                                                "type": "string"
                                                            },
                                                            "sector": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "examples": {
                                    "Example_1": {
                                        "description": "",
                                        "summary": "Example_1",
                                        "value": {
                                            "features": [
                                                {
                                                    "geometry": {
                                                        "coordinates": [
                                                            [
                                                                [
                                                                    [
                                                                        -1.17519522660922,
                                                                        60.1222010663667
                                                                    ],
                                                                    [
                                                                        -1.18755689894084,
                                                                        60.1288460768949
                                                                    ],
                                                                    [
                                                                        -1.1924346546196,
                                                                        60.1357011742862
                                                                    ],
                                                                    [
                                                                        -1.20082210970196,
                                                                        60.1456038502972
                                                                    ],
                                                                    [
                                                                        -1.20970124814045,
                                                                        60.1517849693079
                                                                    ],
                                                                    [
                                                                        -1.21565046302705,
                                                                        60.1527837593648
                                                                    ],
                                                                    [
                                                                        -1.21759502856839,
                                                                        60.1352698496252
                                                                    ],
                                                                    [
                                                                        -1.22615947738821,
                                                                        60.1303173207978
                                                                    ],
                                                                    [
                                                                        -1.2329353520738,
                                                                        60.1279415069866
                                                                    ],
                                                                    [
                                                                        -1.24282774482866,
                                                                        60.1250107138345
                                                                    ],
                                                                    [
                                                                        -1.2479663596273,
                                                                        60.1151198339672
                                                                    ],
                                                                    [
                                                                        -1.25878177042426,
                                                                        60.1144587525762
                                                                    ],
                                                                    [
                                                                        -1.27777970490419,
                                                                        60.1091211153033
                                                                    ],
                                                                    [
                                                                        -1.27186347841481,
                                                                        60.123256492922
                                                                    ],
                                                                    [
                                                                        -1.27135962946623,
                                                                        60.1244593548696
                                                                    ],
                                                                    [
                                                                        -1.27166773886608,
                                                                        60.1267950676251
                                                                    ],
                                                                    [
                                                                        -1.27522928991244,
                                                                        60.1277129034782
                                                                    ],
                                                                    [
                                                                        -1.27729194197387,
                                                                        60.126905970397
                                                                    ],
                                                                    [
                                                                        -1.28450472520546,
                                                                        60.1240812048092
                                                                    ],
                                                                    [
                                                                        -1.28642753220979,
                                                                        60.1100848699165
                                                                    ],
                                                                    [
                                                                        -1.28948484034147,
                                                                        60.10619529509
                                                                    ],
                                                                    [
                                                                        -1.2992996986399,
                                                                        60.1101786670517
                                                                    ],
                                                                    [
                                                                        -1.29821610442348,
                                                                        60.1140082197409
                                                                    ],
                                                                    [
                                                                        -1.30104684784692,
                                                                        60.1162679041883
                                                                    ],
                                                                    [
                                                                        -1.30156141014378,
                                                                        60.1259687225715
                                                                    ],
                                                                    [
                                                                        -1.29864394405832,
                                                                        60.1277485505709
                                                                    ],
                                                                    [
                                                                        -1.29470444713031,
                                                                        60.1268297203752
                                                                    ],
                                                                    [
                                                                        -1.29015218417466,
                                                                        60.1281416293567
                                                                    ],
                                                                    [
                                                                        -1.27840908553214,
                                                                        60.131523394972
                                                                    ],
                                                                    [
                                                                        -1.27695432110167,
                                                                        60.1319423659434
                                                                    ],
                                                                    [
                                                                        -1.27630635779285,
                                                                        60.1310904786903
                                                                    ],
                                                                    [
                                                                        -1.27497743319538,
                                                                        60.1293457096368
                                                                    ],
                                                                    [
                                                                        -1.27013638866604,
                                                                        60.1333502971699
                                                                    ],
                                                                    [
                                                                        -1.26971547173799,
                                                                        60.1336982613354
                                                                    ],
                                                                    [
                                                                        -1.26948162410671,
                                                                        60.1355070459288
                                                                    ],
                                                                    [
                                                                        -1.26939368165536,
                                                                        60.1361909644741
                                                                    ],
                                                                    [
                                                                        -1.26909787460825,
                                                                        60.1384816916662
                                                                    ],
                                                                    [
                                                                        -1.26888501323862,
                                                                        60.1401264957886
                                                                    ],
                                                                    [
                                                                        -1.26884603867613,
                                                                        60.1404284598264
                                                                    ],
                                                                    [
                                                                        -1.26907798846326,
                                                                        60.1401694877086
                                                                    ],
                                                                    [
                                                                        -1.27077962058128,
                                                                        60.1382766914031
                                                                    ],
                                                                    [
                                                                        -1.27196136509775,
                                                                        60.1369618329089
                                                                    ],
                                                                    [
                                                                        -1.27287916671024,
                                                                        60.1359409427747
                                                                    ],
                                                                    [
                                                                        -1.27311011678581,
                                                                        60.1356839704307
                                                                    ],
                                                                    [
                                                                        -1.27706750557088,
                                                                        60.1349959947147
                                                                    ],
                                                                    [
                                                                        -1.27753251982121,
                                                                        60.1362248390735
                                                                    ],
                                                                    [
                                                                        -1.27774852644857,
                                                                        60.1367957667621
                                                                    ],
                                                                    [
                                                                        -1.27789350722321,
                                                                        60.1368187618192
                                                                    ],
                                                                    [
                                                                        -1.27882238395814,
                                                                        60.1369647303151
                                                                    ],
                                                                    [
                                                                        -1.28098509702293,
                                                                        60.137305656838
                                                                    ],
                                                                    [
                                                                        -1.28159801572682,
                                                                        60.1374026359718
                                                                    ],
                                                                    [
                                                                        -1.28187497900187,
                                                                        60.1374466265226
                                                                    ],
                                                                    [
                                                                        -1.28279281447623,
                                                                        60.1369406740821
                                                                    ],
                                                                    [
                                                                        -1.28291779213297,
                                                                        60.1368726804493
                                                                    ],
                                                                    [
                                                                        -1.28615121273908,
                                                                        60.1350928476923
                                                                    ],
                                                                    [
                                                                        -1.29043744482186,
                                                                        60.1327340693396
                                                                    ],
                                                                    [
                                                                        -1.30644719004941,
                                                                        60.1332677665847
                                                                    ],
                                                                    [
                                                                        -1.30507573325526,
                                                                        60.1385581467157
                                                                    ],
                                                                    [
                                                                        -1.30323506815345,
                                                                        60.1396490420635
                                                                    ],
                                                                    [
                                                                        -1.30248520456266,
                                                                        60.1400929994863
                                                                    ],
                                                                    [
                                                                        -1.29866889900241,
                                                                        60.1423547825241
                                                                    ],
                                                                    [
                                                                        -1.29486359150018,
                                                                        60.1446095662623
                                                                    ],
                                                                    [
                                                                        -1.29206429192366,
                                                                        60.1491740555076
                                                                    ],
                                                                    [
                                                                        -1.30198183494284,
                                                                        60.1485979776478
                                                                    ],
                                                                    [
                                                                        -1.30284084203822,
                                                                        60.1505777252644
                                                                    ],
                                                                    [
                                                                        -1.29773964145164,
                                                                        60.1668458322124
                                                                    ],
                                                                    [
                                                                        -1.28606137457886,
                                                                        60.1677748936513
                                                                    ],
                                                                    [
                                                                        -1.27174076946361,
                                                                        60.1730044741443
                                                                    ],
                                                                    [
                                                                        -1.22439372750653,
                                                                        60.1605866842376
                                                                    ],
                                                                    [
                                                                        -1.21963664288191,
                                                                        60.1641363258532
                                                                    ],
                                                                    [
                                                                        -1.20065202386508,
                                                                        60.1741653965112
                                                                    ],
                                                                    [
                                                                        -1.19208992301344,
                                                                        60.1843242954716
                                                                    ],
                                                                    [
                                                                        -1.19370272078121,
                                                                        60.1847572188861
                                                                    ],
                                                                    [
                                                                        -1.18242071113202,
                                                                        60.1904047047149
                                                                    ],
                                                                    [
                                                                        -1.15869689782049,
                                                                        60.2022696252871
                                                                    ],
                                                                    [
                                                                        -1.15508043825136,
                                                                        60.2026056390231
                                                                    ],
                                                                    [
                                                                        -1.16131129146967,
                                                                        60.1987850076841
                                                                    ],
                                                                    [
                                                                        -1.16209454664665,
                                                                        60.1892711472703
                                                                    ],
                                                                    [
                                                                        -1.14732974484975,
                                                                        60.1905332166407
                                                                    ],
                                                                    [
                                                                        -1.15421054687197,
                                                                        60.1873355000805
                                                                    ],
                                                                    [
                                                                        -1.15811767278942,
                                                                        60.1826020141396
                                                                    ],
                                                                    [
                                                                        -1.15762073542843,
                                                                        60.1824740370996
                                                                    ],
                                                                    [
                                                                        -1.15489407920097,
                                                                        60.1817731629228
                                                                    ],
                                                                    [
                                                                        -1.15836399928477,
                                                                        60.1729951729851
                                                                    ],
                                                                    [
                                                                        -1.15991174217411,
                                                                        60.1724592145721
                                                                    ],
                                                                    [
                                                                        -1.16472794214838,
                                                                        60.1707913440104
                                                                    ],
                                                                    [
                                                                        -1.16476982539407,
                                                                        60.1691225453237
                                                                    ],
                                                                    [
                                                                        -1.16479375992505,
                                                                        60.168187658095
                                                                    ],
                                                                    [
                                                                        -1.16431880632879,
                                                                        60.1678627045552
                                                                    ],
                                                                    [
                                                                        -1.16155507620805,
                                                                        60.1659699751305
                                                                    ],
                                                                    [
                                                                        -1.15965126209732,
                                                                        60.1646661615203
                                                                    ],
                                                                    [
                                                                        -1.15802442101596,
                                                                        60.1635533206393
                                                                    ],
                                                                    [
                                                                        -1.15513270329125,
                                                                        60.1615726037974
                                                                    ],
                                                                    [
                                                                        -1.15474574106798,
                                                                        60.1613076416782
                                                                    ],
                                                                    [
                                                                        -1.15377783554531,
                                                                        60.1606447364484
                                                                    ],
                                                                    [
                                                                        -1.15169003932856,
                                                                        60.1592149408593
                                                                    ],
                                                                    [
                                                                        -1.1491304151354,
                                                                        60.1593599618122
                                                                    ],
                                                                    [
                                                                        -1.14699972798492,
                                                                        60.1594809792231
                                                                    ],
                                                                    [
                                                                        -1.14588078999705,
                                                                        60.1580041747564
                                                                    ],
                                                                    [
                                                                        -1.14510083325588,
                                                                        60.1569753109871
                                                                    ],
                                                                    [
                                                                        -1.14462885934404,
                                                                        60.1563513935842
                                                                    ],
                                                                    [
                                                                        -1.14413388679588,
                                                                        60.155698480036
                                                                    ],
                                                                    [
                                                                        -1.14350492159621,
                                                                        60.1548675900394
                                                                    ],
                                                                    [
                                                                        -1.14347992298124,
                                                                        60.1548345944081
                                                                    ],
                                                                    [
                                                                        -1.14325093568657,
                                                                        60.1545326343914
                                                                    ],
                                                                    [
                                                                        -1.14302794806461,
                                                                        60.1542386733166
                                                                    ],
                                                                    [
                                                                        -1.14200007961687,
                                                                        60.1540057169731
                                                                    ],
                                                                    [
                                                                        -1.14133416490616,
                                                                        60.1538557451419
                                                                    ],
                                                                    [
                                                                        -1.14121917956023,
                                                                        60.1538287501389
                                                                    ],
                                                                    [
                                                                        -1.13879249026605,
                                                                        60.1532808529605
                                                                    ],
                                                                    [
                                                                        -1.13622581878792,
                                                                        60.1526999618877
                                                                    ],
                                                                    [
                                                                        -1.1359518538543,
                                                                        60.1526379735131
                                                                    ],
                                                                    [
                                                                        -1.13550691078443,
                                                                        60.1525369924308
                                                                    ],
                                                                    [
                                                                        -1.1343499673405,
                                                                        60.1508972082619
                                                                    ],
                                                                    [
                                                                        -1.1326780490617,
                                                                        60.1485275201636
                                                                    ],
                                                                    [
                                                                        -1.13168709760682,
                                                                        60.1471247048219
                                                                    ],
                                                                    [
                                                                        -1.13552041994014,
                                                                        60.1451738831433
                                                                    ],
                                                                    [
                                                                        -1.13980493343897,
                                                                        60.1470745886696
                                                                    ],
                                                                    [
                                                                        -1.14161672770086,
                                                                        60.1478784641351
                                                                    ],
                                                                    [
                                                                        -1.14468937872578,
                                                                        60.1492412530039
                                                                    ],
                                                                    [
                                                                        -1.14620220695606,
                                                                        60.1499131489441
                                                                    ],
                                                                    [
                                                                        -1.1486558623405,
                                                                        60.1500081005443
                                                                    ],
                                                                    [
                                                                        -1.14960572887895,
                                                                        60.1500440819033
                                                                    ],
                                                                    [
                                                                        -1.151780423424,
                                                                        60.1501280390378
                                                                    ],
                                                                    [
                                                                        -1.15246431393972,
                                                                        60.1499520500482
                                                                    ],
                                                                    [
                                                                        -1.15432001690193,
                                                                        60.1494750798585
                                                                    ],
                                                                    [
                                                                        -1.15905125949197,
                                                                        60.1482571561044
                                                                    ],
                                                                    [
                                                                        -1.15934021326141,
                                                                        60.1481831607149
                                                                    ],
                                                                    [
                                                                        -1.1592091594907,
                                                                        60.1470892950437
                                                                    ],
                                                                    [
                                                                        -1.15919915542014,
                                                                        60.1470063052359
                                                                    ],
                                                                    [
                                                                        -1.15880399269824,
                                                                        60.1436987113947
                                                                    ],
                                                                    [
                                                                        -1.15849386496399,
                                                                        60.1411020302517
                                                                    ],
                                                                    [
                                                                        -1.15331417255093,
                                                                        60.1345678987199
                                                                    ],
                                                                    [
                                                                        -1.15656644497514,
                                                                        60.1306023296446
                                                                    ],
                                                                    [
                                                                        -1.16055280546072,
                                                                        60.1295493971387
                                                                    ],
                                                                    [
                                                                        -1.16409345542797,
                                                                        60.1319070586803
                                                                    ],
                                                                    [
                                                                        -1.16518075227493,
                                                                        60.1387382157951
                                                                    ],
                                                                    [
                                                                        -1.16748146781011,
                                                                        60.1394100999394
                                                                    ],
                                                                    [
                                                                        -1.17048009697636,
                                                                        60.1402849490496
                                                                    ],
                                                                    [
                                                                        -1.17429562512517,
                                                                        60.1413987569899
                                                                    ],
                                                                    [
                                                                        -1.17593326455194,
                                                                        60.1394889634942
                                                                    ],
                                                                    [
                                                                        -1.17662011340675,
                                                                        60.138689049975
                                                                    ],
                                                                    [
                                                                        -1.17781884945154,
                                                                        60.1372902012454
                                                                    ],
                                                                    [
                                                                        -1.17775263858583,
                                                                        60.1339596052409
                                                                    ],
                                                                    [
                                                                        -1.17765834377863,
                                                                        60.129298170682
                                                                    ],
                                                                    [
                                                                        -1.17401650063085,
                                                                        60.123797890851
                                                                    ],
                                                                    [
                                                                        -1.17519522660922,
                                                                        60.1222010663667
                                                                    ]
                                                                ]
                                                            ],
                                                            [
                                                                [
                                                                    [
                                                                        -1.14739933149293,
                                                                        60.154369591702
                                                                    ],
                                                                    [
                                                                        -1.14593454041556,
                                                                        60.1543606148257
                                                                    ],
                                                                    [
                                                                        -1.14579157832071,
                                                                        60.1546235851569
                                                                    ],
                                                                    [
                                                                        -1.14605254271855,
                                                                        60.1546495780853
                                                                    ],
                                                                    [
                                                                        -1.14696740648183,
                                                                        60.1545685741228
                                                                    ],
                                                                    [
                                                                        -1.14734434254402,
                                                                        60.1544175867218
                                                                    ],
                                                                    [
                                                                        -1.14739933149293,
                                                                        60.154369591702
                                                                    ]
                                                                ]
                                                            ],
                                                            [
                                                                [
                                                                    [
                                                                        -1.32798132296606,
                                                                        60.1365210529365
                                                                    ],
                                                                    [
                                                                        -1.33199657348365,
                                                                        60.1338473169364
                                                                    ],
                                                                    [
                                                                        -1.33043515202468,
                                                                        60.1392706837279
                                                                    ],
                                                                    [
                                                                        -1.33005929108147,
                                                                        60.1405725317445
                                                                    ],
                                                                    [
                                                                        -1.32942830065997,
                                                                        60.1393406902
                                                                    ],
                                                                    [
                                                                        -1.32798132296606,
                                                                        60.1365210529365
                                                                    ]
                                                                ]
                                                            ]
                                                        ],
                                                        "type": "MultiPolygon"
                                                    },
                                                    "properties": {
                                                        "country": "Scotland",
                                                        "district": "Shetland islands",
                                                        "sector": "ze1 0"
                                                    },
                                                    "type": "Feature"
                                                }
                                            ],
                                            "type": "FeatureCollection"
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                }
            }
        },
        "/reaperfire/rest/v1/public/boundary/uk/districts": {
            "get": {
                "tags": [
                    "Query for Sector and District "
                ],
                "parameters": [
                    {
                        "name": "postal-district",
                        "in": "query",
                        "required": true,
                        "description": "Query by postal district code.",
                        "schema": {
                            "type": "string",
                            "example": "TW12"
                        }
                    }
                ],
                "operationId": "Retrieve UK Postal District Outline Boundaries",
                "description": "example: Query by \"TW12\" district",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/reaperfire/rest/v1/public/boundary/uk/sectors": {
            "get": {
                "tags": [
                    "Query for Sector and District "
                ],
                "parameters": [
                    {
                        "name": "postal-sector",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "W41,W42,W43,W44,W45"
                        }
                    }
                ],
                "operationId": "Retrieve UK Postal Sector Outline Boundaries",
                "description": "example: Query by \"W41,W42\" sectors.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        }
    }
}