{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_35228230-05f1-4100-b84f-9296cd0eeb13",
            "value": "✓"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "apiversion_3b012629-0240-4adc-a299-54cbe0b0c774",
        "apiId": "api_3f90d297-3157-494a-92c1-6fa5136ffc8f"
    },
    "info": {
        "title": "Twelve Data",
        "description": "Financial data provided for developers, to enter the world markets. Instant access for real-time and historical data of stocks, forex, crypto, ETFs, indices, and more. Read more in [documentation](https://twelvedata.com/docs) and start [here](https://twelvedata.com/apikey).",
        "version": "v1",
        "x-category": "Finance",
        "x-long-description": "Twelve Data is the fastest-growing company in the financial data industry based on 3 simple postulates:\n1. Coverage. All kinds of assets including stocks, forex, crypto, ETFs, indices. Equity data is available from all 5 continents, in real-time and historical retrospective.\n2. Professional. Solutions and tools that help customers to focus on product development and stop thinking about the data sources.\n3. Affordability. Data should be available for everyone and for every need, therefore we offer the most generous free plan in the industry with options to increase the limits.\n\n[API Documentation](https://twelvedata.com/docs)\n\nIf you need to hit larger limits, drop us a note at [prime@twelvedata.com](mailto:prime@twelvedata.com?subject=[RapidAPI]%20Custom%20API%20limits)\n\nGet API Key now at [https://twelvedata.com/apikey](https://twelvedata.com/apikey)\n\n[Twitter](https://twitter.com/twelvedata)\n\n[Medium](https://medium.com/twelve-data)",
        "x-website": "https://twelvedata.com",
        "x-public": true,
        "x-thumbnail": "https://rapidapi-prod-apis.s3.amazonaws.com/56b6b106-8e1d-4f31-9611-10ba18a7acfe.png",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://twelve-data1.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [
        {
            "name": "adosc"
        },
        {
            "name": "Forex (FX)"
        },
        {
            "name": "linearregangle"
        },
        {
            "name": "bop"
        },
        {
            "name": "adx"
        },
        {
            "name": "ht_sine"
        },
        {
            "name": "avgprice"
        },
        {
            "name": "correl"
        },
        {
            "name": "ema"
        },
        {
            "name": "adxr"
        },
        {
            "name": "avg"
        },
        {
            "name": "log10"
        },
        {
            "name": "dx"
        },
        {
            "name": "atr"
        },
        {
            "name": "crsi"
        },
        {
            "name": "ht_dcperiod"
        },
        {
            "name": "linearregintercept"
        },
        {
            "name": "coppock"
        },
        {
            "name": "bbands"
        },
        {
            "name": "dema"
        },
        {
            "name": "apo"
        },
        {
            "name": "floor"
        },
        {
            "name": "ad"
        },
        {
            "name": "exp"
        },
        {
            "name": "cmo"
        },
        {
            "name": "max"
        },
        {
            "name": "aroonosc"
        },
        {
            "name": "medprice"
        },
        {
            "name": "Indices"
        },
        {
            "name": "macdext"
        },
        {
            "name": "mcginley_dynamic"
        },
        {
            "name": "ln"
        },
        {
            "name": "aroon"
        },
        {
            "name": "heikinashicandles"
        },
        {
            "name": "rocr100"
        },
        {
            "name": "dpo"
        },
        {
            "name": "add"
        },
        {
            "name": "linearregslope"
        },
        {
            "name": "stochf"
        },
        {
            "name": "beta"
        },
        {
            "name": "hlc3"
        },
        {
            "name": "stddev"
        },
        {
            "name": "mama"
        },
        {
            "name": "macd"
        },
        {
            "name": "ceil"
        },
        {
            "name": "maxindex"
        },
        {
            "name": "ma"
        },
        {
            "name": "mfi"
        },
        {
            "name": "quote"
        },
        {
            "name": "sar"
        },
        {
            "name": "cci"
        },
        {
            "name": "rocp"
        },
        {
            "name": "ppo"
        },
        {
            "name": "sub"
        },
        {
            "name": "typprice"
        },
        {
            "name": "Technical Indicators"
        },
        {
            "name": "sma"
        },
        {
            "name": "rocr"
        },
        {
            "name": "keltner"
        },
        {
            "name": "sum"
        },
        {
            "name": "plus_di"
        },
        {
            "name": "midpoint"
        },
        {
            "name": "ultosc"
        },
        {
            "name": "trima"
        },
        {
            "name": "ichimoku"
        },
        {
            "name": "minmaxindex"
        },
        {
            "name": "ht_dcphase"
        },
        {
            "name": "ht_phasor"
        },
        {
            "name": "exchanges"
        },
        {
            "name": "minindex"
        },
        {
            "name": "wclprice"
        },
        {
            "name": "cryptocurrencies"
        },
        {
            "name": "stoch"
        },
        {
            "name": "var"
        },
        {
            "name": "earliest_timestamp"
        },
        {
            "name": "plus_dm"
        },
        {
            "name": "obv"
        },
        {
            "name": "kst"
        },
        {
            "name": "wma"
        },
        {
            "name": "mom"
        },
        {
            "name": "stochrsi"
        },
        {
            "name": "symbol_search"
        },
        {
            "name": "ht_trendmode"
        },
        {
            "name": "cryptocurrency_exchanges"
        },
        {
            "name": "tema"
        },
        {
            "name": "forex_pairs"
        },
        {
            "name": "trange"
        },
        {
            "name": "time_series"
        },
        {
            "name": "minus_di"
        },
        {
            "name": "linearreg"
        },
        {
            "name": "midprice"
        },
        {
            "name": "sarext"
        },
        {
            "name": "rsi"
        },
        {
            "name": "willr"
        },
        {
            "name": "percent_b"
        },
        {
            "name": "tsf"
        },
        {
            "name": "natr"
        },
        {
            "name": "t3ma"
        },
        {
            "name": "minmax"
        },
        {
            "name": "minus_dm"
        }
    ],
    "paths": {
        "/ad": {
            "get": {
                "tags": [
                    "Technical Indicators"
                ],
                "parameters": [
                    {
                        "name": "outputsize",
                        "in": "query",
                        "required": false,
                        "description": "Default `30` when no date parameters are set, otherwise set to maximum",
                        "schema": {
                            "default": 30,
                            "type": "integer"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Value can be `CSV` or `JSON`\nDefault `JSON`",
                        "schema": {
                            "default": "json",
                            "type": "string"
                        }
                    },
                    {
                        "name": "interval",
                        "in": "query",
                        "required": true,
                        "description": "Interval between two consecutive points in time series\nSupports: `1min`, `5min`, `15min`, `30min`, `45min`, `1h`, `2h`, `4h`, `1day`, `1week`, `1month`",
                        "schema": {
                            "default": "1min",
                            "type": "string"
                        }
                    },
                    {
                        "name": "symbol",
                        "in": "query",
                        "required": true,
                        "description": "Instrument symbol, can be any equity, index, ETF, forex or cryptocurrency\nE.g. `AAPL`, `EUR/USD`, `ETH/BTC`, ...",
                        "schema": {
                            "default": "AAPL",
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": "https://twelvedata.com/docs#ad"
                },
                "operationId": "AD",
                "description": "Chaikin A/D Line(AD) calculates the Advance/Decline of an asset. This indicator belongs to the group of Volume Indicators.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "AAPL - 1min": {
                                        "value": {
                                            "meta": {
                                                "currency": "USD",
                                                "exchange": "NYSE",
                                                "exchange_timezone": "America/New_York",
                                                "indicator": {
                                                    "name": "AD - Chaikin A/D Line"
                                                },
                                                "interval": "1min",
                                                "symbol": "AAPL",
                                                "type": "Common Stock"
                                            },
                                            "status": "ok",
                                            "values": [
                                                {
                                                    "ad": "2262629.83773",
                                                    "datetime": "2019-08-09 15:59:00"
                                                },
                                                {
                                                    "ad": "2271951.53983",
                                                    "datetime": "2019-08-09 15:58:00"
                                                },
                                                {
                                                    "ad": "2344317.27255",
                                                    "datetime": "2019-08-09 15:57:00"
                                                },
                                                {
                                                    "ad": "2288433.82567",
                                                    "datetime": "2019-08-09 15:56:00"
                                                },
                                                {
                                                    "ad": "2467325.82567",
                                                    "datetime": "2019-08-09 15:55:00"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                }
            }
        },
        "/quote": {
            "get": {
                "parameters": [
                    {
                        "name": "outputsize",
                        "in": "query",
                        "required": false,
                        "description": "Default `30`",
                        "schema": {
                            "default": 30,
                            "type": "integer"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Value can be `CSV` or `JSON`\nDefault `JSON`",
                        "schema": {
                            "default": "json",
                            "type": "string"
                        }
                    },
                    {
                        "name": "symbol",
                        "in": "query",
                        "required": true,
                        "description": "Instrument symbol, can be any equity, index, ETF, forex or cryptocurrency\nE.g. `AAPL`, `EUR/USD`, `ETH/BTC`, ...",
                        "schema": {
                            "default": "AMZN",
                            "type": "string"
                        }
                    },
                    {
                        "name": "interval",
                        "in": "query",
                        "required": true,
                        "description": "Supports: `1min`, `5min`, `15min`, `30min`, `45min`, `1h`, `2h`, `4h`, `1day`, `1week`, `1month`",
                        "schema": {
                            "default": "1day",
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": "https://twelvedata.com/docs#quote"
                },
                "operationId": "Quote",
                "description": "Quote endpoint is an efficient method to retrieve the latest quote of the selected instrument.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "AMZN - 1day": {
                                        "value": {
                                            "average_volume": "4801633",
                                            "change": "55.56006",
                                            "close": "3173.00000",
                                            "currency": "USD",
                                            "datetime": "2020-09-14",
                                            "exchange": "NASDAQ",
                                            "fifty_two_week": {
                                                "high": "3552.25000",
                                                "high_change": "-379.25000",
                                                "high_change_percent": "-10.67633",
                                                "low": "1626.03003",
                                                "low_change": "1546.96997",
                                                "low_change_percent": "95.13785",
                                                "range": "1626.030029 - 3552.250000"
                                            },
                                            "high": "3186.98999",
                                            "low": "3144.25195",
                                            "name": "Amazon.com Inc",
                                            "open": "3172.93726",
                                            "percent_change": "1.78223",
                                            "previous_close": "3117.43994",
                                            "symbol": "AMZN",
                                            "volume": "1178898"
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                }
            }
        },
        "/wclprice": {
            "get": {
                "tags": [
                    "Technical Indicators"
                ],
                "parameters": [
                    {
                        "name": "outputsize",
                        "in": "query",
                        "required": false,
                        "description": "Default `30` when no date parameters are set, otherwise set to maximum",
                        "schema": {
                            "default": 30,
                            "type": "integer"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Value can be `CSV` or `JSON`\nDefault `JSON`",
                        "schema": {
                            "default": "json",
                            "type": "string"
                        }
                    },
                    {
                        "name": "interval",
                        "in": "query",
                        "required": true,
                        "description": "Interval between two consecutive points in time series\nSupports: `1min`, `5min`, `15min`, `30min`, `45min`, `1h`, `2h`, `4h`, `1day`, `1week`, `1month`",
                        "schema": {
                            "default": "1min",
                            "type": "string"
                        }
                    },
                    {
                        "name": "symbol",
                        "in": "query",
                        "required": true,
                        "description": "Instrument symbol, can be any equity, index, ETF, forex or cryptocurrency\nE.g. `AAPL`, `EUR/USD`, `ETH/BTC`, ...",
                        "schema": {
                            "default": "AAPL",
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": "https://twelvedata.com/docs#wclprice"
                },
                "operationId": "WCLPRICE",
                "description": "Weighted Close Price(WCLPRICE) is usually used as the base for other indicators for smoothness. Formula: (high + low + close * 2) / 4.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "AAPL - 1min": {
                                        "value": {
                                            "meta": {
                                                "currency": "USD",
                                                "exchange": "NYSE",
                                                "exchange_timezone": "America/New_York",
                                                "indicator": {
                                                    "name": "WCLPRICE - Weighted Close Price"
                                                },
                                                "interval": "1min",
                                                "symbol": "AAPL",
                                                "type": "Common Stock"
                                            },
                                            "status": "ok",
                                            "values": [
                                                {
                                                    "datetime": "2019-08-09 15:59:00",
                                                    "wclprice": "201.052"
                                                },
                                                {
                                                    "datetime": "2019-08-09 15:58:00",
                                                    "wclprice": "200.96"
                                                },
                                                {
                                                    "datetime": "2019-08-09 15:57:00",
                                                    "wclprice": "201.005"
                                                },
                                                {
                                                    "datetime": "2019-08-09 15:56:00",
                                                    "wclprice": "201.09005"
                                                },
                                                {
                                                    "datetime": "2019-08-09 15:55:00",
                                                    "wclprice": "201.2725"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                }
            }
        },
        "/cryptocurrency_exchanges": {
            "get": {
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "description": "Value can be `CSV` or `JSON`\nDefault `JSON`",
                        "schema": {
                            "default": "json",
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": "https://twelvedata.com/docs#cryptocurrency-exchanges"
                },
                "operationId": "Crypto Exchanges",
                "description": "This API call return array of cryptocurrency exchanges available at Twelve Data API. This list is daily updated.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Crypto Exchanges": {
                                        "value": {
                                            "data": [
                                                {
                                                    "name": "AAX"
                                                },
                                                {
                                                    "name": "ABCC"
                                                },
                                                {
                                                    "name": "ACX"
                                                },
                                                {
                                                    "name": "AEX"
                                                },
                                                {
                                                    "name": "AlienCloud"
                                                },
                                                {
                                                    "name": "Allcoin"
                                                },
                                                {
                                                    "name": "AltCoinTrader"
                                                },
                                                {
                                                    "name": "Altilly"
                                                },
                                                {
                                                    "name": "ANX"
                                                },
                                                {
                                                    "name": "Bancor Network"
                                                },
                                                {
                                                    "name": "Bibox"
                                                },
                                                {
                                                    "name": "BigONE"
                                                },
                                                {
                                                    "name": "Bilaxy"
                                                },
                                                {
                                                    "name": "Binance"
                                                },
                                                {
                                                    "name": "Binance DEX"
                                                },
                                                {
                                                    "name": "Bitbank"
                                                },
                                                {
                                                    "name": "BitBay"
                                                },
                                                {
                                                    "name": "Bitbegin"
                                                },
                                                {
                                                    "name": "Bitbns"
                                                },
                                                {
                                                    "name": "Bitci.com"
                                                },
                                                {
                                                    "name": "BitcoinToYou"
                                                },
                                                {
                                                    "name": "BitcoinTrade"
                                                },
                                                {
                                                    "name": "BiteBTC"
                                                },
                                                {
                                                    "name": "Bitex.la"
                                                },
                                                {
                                                    "name": "Bitexlive"
                                                },
                                                {
                                                    "name": "Bitfinex"
                                                },
                                                {
                                                    "name": "bitFlyer"
                                                },
                                                {
                                                    "name": "BitForex"
                                                },
                                                {
                                                    "name": "Bithesap"
                                                },
                                                {
                                                    "name": "Bithumb"
                                                },
                                                {
                                                    "name": "Bitibu"
                                                },
                                                {
                                                    "name": "Bitinka"
                                                },
                                                {
                                                    "name": "Bitkub"
                                                },
                                                {
                                                    "name": "Bitlish"
                                                },
                                                {
                                                    "name": "BitMart"
                                                },
                                                {
                                                    "name": "BitMax"
                                                },
                                                {
                                                    "name": "BitMEX"
                                                },
                                                {
                                                    "name": "Bitpanda Pro"
                                                },
                                                {
                                                    "name": "Bitrue"
                                                },
                                                {
                                                    "name": "Bitso"
                                                },
                                                {
                                                    "name": "BitStamp"
                                                },
                                                {
                                                    "name": "Bittrex"
                                                },
                                                {
                                                    "name": "Bit-Z"
                                                },
                                                {
                                                    "name": "Bleutrade"
                                                },
                                                {
                                                    "name": "BTC-Alpha"
                                                },
                                                {
                                                    "name": "BTCBOX"
                                                },
                                                {
                                                    "name": "BTC Indonesia"
                                                },
                                                {
                                                    "name": "BTC Markets"
                                                },
                                                {
                                                    "name": "BTCTurk"
                                                },
                                                {
                                                    "name": "Btcwinex"
                                                },
                                                {
                                                    "name": "BTSE"
                                                },
                                                {
                                                    "name": "BXThailand"
                                                },
                                                {
                                                    "name": "C2CX"
                                                },
                                                {
                                                    "name": "CBX"
                                                },
                                                {
                                                    "name": "C-CEX"
                                                },
                                                {
                                                    "name": "CEX.IO"
                                                },
                                                {
                                                    "name": "CHAOEX"
                                                },
                                                {
                                                    "name": "Cobinhood"
                                                },
                                                {
                                                    "name": "CoinAll"
                                                },
                                                {
                                                    "name": "Coinbase Pro"
                                                },
                                                {
                                                    "name": "Coinbene"
                                                },
                                                {
                                                    "name": "Coinbig"
                                                },
                                                {
                                                    "name": "Coineal"
                                                },
                                                {
                                                    "name": "COINEGG"
                                                },
                                                {
                                                    "name": "CoinEx"
                                                },
                                                {
                                                    "name": "CoinExchange"
                                                },
                                                {
                                                    "name": "Coinext"
                                                },
                                                {
                                                    "name": "CoinField"
                                                },
                                                {
                                                    "name": "Coingecko"
                                                },
                                                {
                                                    "name": "CoinHub"
                                                },
                                                {
                                                    "name": "Coinlib"
                                                },
                                                {
                                                    "name": "CoinMex"
                                                },
                                                {
                                                    "name": "Coinnest"
                                                },
                                                {
                                                    "name": "Coinone"
                                                },
                                                {
                                                    "name": "Coinrail"
                                                },
                                                {
                                                    "name": "CoinsBank"
                                                },
                                                {
                                                    "name": "Coinsbit"
                                                },
                                                {
                                                    "name": "CoinTiger"
                                                },
                                                {
                                                    "name": "COSS"
                                                },
                                                {
                                                    "name": "C-Patex"
                                                },
                                                {
                                                    "name": "CPDAX"
                                                },
                                                {
                                                    "name": "Crex24"
                                                },
                                                {
                                                    "name": "CryptalDash"
                                                },
                                                {
                                                    "name": "CryptoBridge"
                                                },
                                                {
                                                    "name": "Cryptonex"
                                                },
                                                {
                                                    "name": "Cryptopia"
                                                },
                                                {
                                                    "name": "Dcoin"
                                                },
                                                {
                                                    "name": "DDEX"
                                                },
                                                {
                                                    "name": "Decoin"
                                                },
                                                {
                                                    "name": "DigiFinex"
                                                },
                                                {
                                                    "name": "DragonEX"
                                                },
                                                {
                                                    "name": "Escodex"
                                                },
                                                {
                                                    "name": "Ethen"
                                                },
                                                {
                                                    "name": "EtherDelta"
                                                },
                                                {
                                                    "name": "EtherFlyer"
                                                },
                                                {
                                                    "name": "Ethfinex"
                                                },
                                                {
                                                    "name": "Exmo"
                                                },
                                                {
                                                    "name": "Exrates"
                                                },
                                                {
                                                    "name": "EXX"
                                                },
                                                {
                                                    "name": "Fatbtc"
                                                },
                                                {
                                                    "name": "FinexBox"
                                                },
                                                {
                                                    "name": "Fisco"
                                                },
                                                {
                                                    "name": "ForkDelta"
                                                },
                                                {
                                                    "name": "FreiExchange"
                                                },
                                                {
                                                    "name": "Gatecoin"
                                                },
                                                {
                                                    "name": "Gate.io"
                                                },
                                                {
                                                    "name": "GDAX"
                                                },
                                                {
                                                    "name": "Gemini"
                                                },
                                                {
                                                    "name": "GOPAX"
                                                },
                                                {
                                                    "name": "Graviex"
                                                },
                                                {
                                                    "name": "HADAX"
                                                },
                                                {
                                                    "name": "HCoin"
                                                },
                                                {
                                                    "name": "HitBTC"
                                                },
                                                {
                                                    "name": "Hotbit"
                                                },
                                                {
                                                    "name": "Huobi"
                                                },
                                                {
                                                    "name": "Huobi Korea"
                                                },
                                                {
                                                    "name": "IDAX"
                                                },
                                                {
                                                    "name": "IDCM"
                                                },
                                                {
                                                    "name": "IDEX"
                                                },
                                                {
                                                    "name": "Independent Reserve"
                                                },
                                                {
                                                    "name": "Indodax"
                                                },
                                                {
                                                    "name": "itBit"
                                                },
                                                {
                                                    "name": "Koineks"
                                                },
                                                {
                                                    "name": "Koinim"
                                                },
                                                {
                                                    "name": "Korbit"
                                                },
                                                {
                                                    "name": "Kraken"
                                                },
                                                {
                                                    "name": "Kryptono"
                                                },
                                                {
                                                    "name": "Kucoin"
                                                },
                                                {
                                                    "name": "Kyber Network"
                                                },
                                                {
                                                    "name": "LakeBTC"
                                                },
                                                {
                                                    "name": "LATOKEN"
                                                },
                                                {
                                                    "name": "LBank"
                                                },
                                                {
                                                    "name": "Liqui"
                                                },
                                                {
                                                    "name": "Liquid"
                                                },
                                                {
                                                    "name": "Livecoin"
                                                },
                                                {
                                                    "name": "LocalTrade"
                                                },
                                                {
                                                    "name": "Luno"
                                                },
                                                {
                                                    "name": "Lykke"
                                                },
                                                {
                                                    "name": "MercadoBitcoin"
                                                },
                                                {
                                                    "name": "Mercatox"
                                                },
                                                {
                                                    "name": "MXC"
                                                },
                                                {
                                                    "name": "Negocie Coins"
                                                },
                                                {
                                                    "name": "n.exchange"
                                                },
                                                {
                                                    "name": "NLexch"
                                                },
                                                {
                                                    "name": "Nova Exchange"
                                                },
                                                {
                                                    "name": "OKCoin"
                                                },
                                                {
                                                    "name": "OKEx"
                                                },
                                                {
                                                    "name": "OOOBTC"
                                                },
                                                {
                                                    "name": "OTCBTC"
                                                },
                                                {
                                                    "name": "p2pb2b"
                                                },
                                                {
                                                    "name": "Panxora"
                                                },
                                                {
                                                    "name": "Paribu"
                                                },
                                                {
                                                    "name": "Poloniex"
                                                },
                                                {
                                                    "name": "PrizmBit"
                                                },
                                                {
                                                    "name": "ProBit Exchange"
                                                },
                                                {
                                                    "name": "QBTC"
                                                },
                                                {
                                                    "name": "QUOINE"
                                                },
                                                {
                                                    "name": "Satang Pro"
                                                },
                                                {
                                                    "name": "SIMEX"
                                                },
                                                {
                                                    "name": "SouthXchange"
                                                },
                                                {
                                                    "name": "Stellarport"
                                                },
                                                {
                                                    "name": "STEX"
                                                },
                                                {
                                                    "name": "Stocks.Exchange"
                                                },
                                                {
                                                    "name": "Switcheo Network"
                                                },
                                                {
                                                    "name": "Synthetic"
                                                },
                                                {
                                                    "name": "Therocktrading"
                                                },
                                                {
                                                    "name": "Thore Exchange"
                                                },
                                                {
                                                    "name": "Tidebit"
                                                },
                                                {
                                                    "name": "Tidex"
                                                },
                                                {
                                                    "name": "TOKENMOM"
                                                },
                                                {
                                                    "name": "Tokenomy"
                                                },
                                                {
                                                    "name": "Token Store"
                                                },
                                                {
                                                    "name": "TOKOK"
                                                },
                                                {
                                                    "name": "TOPBTC"
                                                },
                                                {
                                                    "name": "Trade By Trade"
                                                },
                                                {
                                                    "name": "TradeOgre"
                                                },
                                                {
                                                    "name": "Trade Satoshi"
                                                },
                                                {
                                                    "name": "Turuko"
                                                },
                                                {
                                                    "name": "Upbit"
                                                },
                                                {
                                                    "name": "Vebitcoin"
                                                },
                                                {
                                                    "name": "VVBTC"
                                                },
                                                {
                                                    "name": "Waves Decentralized Exchange"
                                                },
                                                {
                                                    "name": "WazirX"
                                                },
                                                {
                                                    "name": "xBTCe"
                                                },
                                                {
                                                    "name": "YoBit"
                                                },
                                                {
                                                    "name": "Zaif"
                                                },
                                                {
                                                    "name": "ZB.COM"
                                                }
                                            ],
                                            "status": "ok"
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    }
                }
            }
        },
        "/technical_indicators": {
            "get": {
                "tags": [
                    "Technical Indicators"
                ],
                "externalDocs": {
                    "description": "",
                    "url": "https://twelvedata.com/docs#technical-indicators-interface"
                },
                "operationId": "Technical Indicators Interface",
                "description": "This API call return array of objects with available technical indicators. This endpoint might be used to build an abstract interface to make more convenient API calls from the application.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Technical Indicators Interface": {
                                        "value": {
                                            "data": {
                                                "acos": {
                                                    "description": "",
                                                    "enable": false,
                                                    "full_name": "Arccosine",
                                                    "output_values": {
                                                        "acos": {
                                                            "default_color": "#000000",
                                                            "display": "line"
                                                        }
                                                    },
                                                    "overlay": false,
                                                    "parameters": {
                                                        "series_type": {
                                                            "default": "close",
                                                            "range": [
                                                                "open",
                                                                "high",
                                                                "low",
                                                                "close"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "Math Transform"
                                                },
                                                "ad": {
                                                    "description": "Chaikin A/D Line(AD) calculates the Advance/Decline of an asset. This indicator belongs to the group of Volume Indicators.",
                                                    "enable": true,
                                                    "full_name": "Chaikin A/D Line",
                                                    "output_values": {
                                                        "ad": {
                                                            "default_color": "#87A878",
                                                            "display": "line"
                                                        }
                                                    },
                                                    "overlay": false,
                                                    "parameters": {},
                                                    "type": "Volume Indicators"
                                                },
                                                "add": {
                                                    "description": "Composite of values of two specified time series.",
                                                    "enable": true,
                                                    "full_name": "Arithmetic Addition",
                                                    "output_values": {
                                                        "add": {
                                                            "default_color": "#000000",
                                                            "display": "line"
                                                        }
                                                    },
                                                    "overlay": false,
                                                    "parameters": {
                                                        "series_type_1": {
                                                            "default": "open",
                                                            "range": [
                                                                "open",
                                                                "high",
                                                                "low",
                                                                "close"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "series_type_2": {
                                                            "default": "close",
                                                            "range": [
                                                                "open",
                                                                "high",
                                                                "low",
                                                                "close"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "Math Operators"
                                                },
                                                "adosc": {
                                                    "description": "Chaikin A/D Oscillator(ADOSC) is an indicator, which finds the relationship between increasing and decreasing volume with price fluctuations. The Chaikin Oscillator measures the momentum of the Accumulation/Distribution Line(ADL) using two Exponential Moving Averages of varying length to the line(MACD).",
                                                    "enable": true,
                                                    "full_name": "Chaikin A/D Oscillator",
                                                    "output_values": {
                                                        "adosc": {
                                                            "default_color": "#B80C09",
                                                            "display": "line"
                                                        }
                                                    },
                                                    "overlay": false,
                                                    "parameters": {
                                                        "fast_period": {
                                                            "default": 12,
                                                            "min_range": 1,
                                                            "type": "int"
                                                        },
                                                        "slow_period": {
                                                            "default": 26,
                                                            "min_range": 1,
                                                            "type": "int"
                                                        }
                                                    },
                                                    "type": "Volume Indicators"
                                                },
                                                "adx": {
                                                    "description": "Average Directional Index(ADX) is used to decide if the price trend is strong.",
                                                    "enable": true,
                                                    "full_name": "Average Directional Index",
                                                    "output_values": {
                                                        "adx": {
                                                            "default_color": "#B80C09",
                                                            "display": "line",
                                                            "max_range": 100,
                                                            "min_range": 0
                                                        }
                                                    },
                                                    "overlay": false,
                                                    "parameters": {
                                                        "time_period": {
                                                            "default": 14,
                                                            "min_range": 1,
                                                            "type": "int"
                                                        }
                                                    },
                                                    "type": "Momentum Indicators"
                                                },
                                                "adxr": {
                                                    "description": "Average Directional Movement Index Rating(ADXR) is a smoothed version of the ADX indicator. ADXR quantifies momentum change in the ADX.",
                                                    "enable": true,
                                                    "full_name": "Average Directional Movement Index Rating",
                                                    "output_values": {
                                                        "adxr": {
                                                            "default_color": "#B80C09",
                                                            "display": "line",
                                                            "max_range": 100,
                                                            "min_range": 0
                                                        }
                                                    },
                                                    "overlay": false,
                                                    "parameters": {
                                                        "time_period": {
                                                            "default": 14,
                                                            "min_range": 1,
                                                            "type": "int"
                                                        }
                                                    },
                                                    "type": "Momentum Indicators"
                                                },
                                                "apo": {
                                                    "description": "Absolute Price Oscillator(APO) calculates the difference between two price moving averages.",
                                                    "enable": true,
                                                    "full_name": "Absolute Price Oscillator",
                                                    "output_values": {
                                                        "apo": {
                                                            "default_color": "#000000",
                                                            "display": "line"
                                                        }
                                                    },
                                                    "overlay": false,
                                                    "parameters": {
                                                        "fast_period": {
                                                            "default": 12,
                                                            "min_range": 1,
                                                            "type": "int"
                                                        },
                                                        "ma_type": {
                                                            "default": "SMA",
                                                            "range": [
                                                                "SMA",
                                                                "EMA",
                                                                "WMA",
                                                                "DEMA",
                                                                "TEMA",
                                                                "TRIMA",
                                                                "KAMA",
                                                                "MAMA",
                                                                "T3MA"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "series_type": {
                                                            "default": "close",
                                                            "range": [
                                                                "open",
                                                                "high",
                                                                "low",
                                                                "close"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "slow_period": {
                                                            "default": 26,
                                                            "min_range": 1,
                                                            "type": "int"
                                                        }
                                                    },
                                                    "type": "Momentum Indicators"
                                                },
                                                "aroon": {
                                                    "description": "Aroon Indicator(AROON) is used to identify if the price is trending. It can also spot the beginning of a new trend and its strength.",
                                                    "enable": true,
                                                    "full_name": "Aroon Indicator",
                                                    "output_values": {
                                                        "aroon_down": {
                                                            "default_color": "#4787FF",
                                                            "display": "line",
                                                            "max_range": 100,
                                                            "min_range": 0
                                                        },
                                                        "aroon_up": {
                                                            "default_color": "#F2710E",
                                                            "display": "line",
                                                            "max_range": 100,
                                                            "min_range": 0
                                                        }
                                                    },
                                                    "overlay": false,
                                                    "parameters": {
                                                        "time_period": {
                                                            "default": 14,
                                                            "min_range": 1,
                                                            "type": "int"
                                                        }
                                                    },
                                                    "type": "Momentum Indicators"
                                                },
                                                "aroonosc": {
                                                    "description": "Aroon Oscillator(AROONOSC) uses classic Aroon(Aroon Up and Aroon down) to measure the strength of persisting trends and whether they will continue.",
                                                    "enable": true,
                                                    "full_name": "Aroon Oscillator",
                                                    "output_values": {
                                                        "aroonosc": {
                                                            "default_color": "#000000",
                                                            "display": "line",
                                                            "max_range": 100,
                                                            "min_range": -100
                                                        }
                                                    },
                                                    "overlay": false,
                                                    "parameters": {
                                                        "time_period": {
                                                            "default": 14,
                                                            "min_range": 1,
                                                            "type": "int"
                                                        }
                                                    },
                                                    "type": "Momentum Indicators"
                                                },
                                                "asin": {
                                                    "description": "",
                                                    "enable": false,
                                                    "full_name": "Arcsine",
                                                    "output_values": {
                                                        "asin": {
                                                            "default_color": "#000000",
                                                            "display": "line"
                                                        }
                                                    },
                                                    "overlay": false,
                                                    "parameters": {
                                                        "series_type": {
                                                            "default": "close",
                                                            "range": [
                                                                "open",
                                                                "high",
                                                                "low",
                                                                "close"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "Math Transform"
                                                },
                                                "atan": {
                                                    "description": "",
                                                    "enable": false,
                                                    "full_name": "Arctan",
                                                    "output_values": {
                                                        "atan": {
                                                            "default_color": "#000000",
                                                            "display": "line"
                                                        }
                                                    },
                                                    "overlay": false,
                                                    "parameters": {
                                                        "series_type": {
                                                            "default": "close",
                                                            "range": [
                                                                "open",
                                                                "high",
                                                                "low",
                                                                "close"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "Math Transform"
                                                },
                                                "atr": {
                                                    "description": "Average True Range(ATR) is used to measure market volatility by decomposing all asset prices over a specified time period.",
                                                    "enable": true,
                                                    "full_name": "Average True Range",
                                                    "output_values": {
                                                        "atr": {
                                                            "default_color": "#B80C09",
                                                            "display": "line"
                                                        }
                                                    },
                                                    "overlay": false,
                                                    "parameters": {
                                                        "time_period": {
                                                            "default": 14,
                                                            "min_range": 1,
                                                            "type": "int"
                                                        }
                                                    },
                                                    "type": "Volatility Indicators"
                                                },
                                                "avg": {
                                                    "description": "Average(AVG) calculates the average value of series in a given time period. Widely used to calculate the 9-day average volume.",
                                                    "enable": true,
                                                    "full_name": "Average",
                                                    "output_values": {
                                                        "avg": {
                                                            "default_color": "#000000",
                                                            "display": "line"
                                                        }
                                                    },
                                                    "overlay": true,
                                                    "parameters": {
                                                        "series_type": {
                                                            "default": "close",
                                                            "range": [
                                                                "open",
                                                                "high",
                                                                "low",
                                                                "close",
                                                                "volume"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "time_period": {
                                                            "default": 9,
                                                            "min_range": 1,
                                                            "type": "int"
                                                        }
                                                    },
                                                    "type": "Price Transform"
                                                },
                                                "avgprice": {
                                                    "description": "Average Price(AVGPRICE) uses the formula: (open + high + low + close) / 4.",
                                                    "enable": true,
                                                    "full_name": "Average Price",
                                                    "output_values": {
                                                        "avgprice": {
                                                            "default_color": "#000000",
                                                            "display": "line"
                                                        }
                                                    },
                                                    "overlay": true,
                                                    "parameters": {},
                                                    "type": "Price Transform"
                                                },
                                                "bbands": {
                                                    "description": "Bollinger Bands®(BBANDS) are volatility bands located above and below a moving average. The volatility size parameter depends on standard deviation.",
                                                    "enable": true,
                                                    "full_name": "Bollinger Bands®",
                                                    "output_values": {
                                                        "lower_band": {
                                                            "default_color": "#9F87AF",
                                                            "display": "line"
                                                        },
                                                        "middle_band": {
                                                            "default_color": "#B80C09",
                                                            "display": "line"
                                                        },
                                                        "upper_band": {
                                                            "default_color": "#9F87AF",
                                                            "display": "line"
                                                        }
                                                    },
                                                    "overlay": true,
                                                    "parameters": {
                                                        "ma_type": {
                                                            "default": "SMA",
                                                            "range": [
                                                                "SMA",
                                                                "EMA",
                                                                "WMA",
                                                                "DEMA",
                                                                "TEMA",
                                                                "TRIMA",
                                                                "KAMA",
                                                                "MAMA",
                                                                "T3MA"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "sd": {
                                                            "default": 2,
                                                            "max_range": 50,
                                                            "min_range": 0.001,
                                                            "type": "float"
                                                        },
                                                        "series_type": {
                                                            "default": "close",
                                                            "range": [
                                                                "open",
                                                                "high",
                                                                "low",
                                                                "close"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "time_period": {
                                                            "default": 20,
                                                            "min_range": 1,
                                                            "type": "int"
                                                        }
                                                    },
                                                    "tinting": {
                                                        "area": {
                                                            "color": "#9F87AF",
                                                            "display": "fill",
                                                            "lower_bound": "lower_band",
                                                            "transparency": 0.5,
                                                            "upper_bound": "upper_band"
                                                        }
                                                    },
                                                    "type": "Overlap Studies"
                                                },
                                                "beta": {
                                                    "description": "Statistic Beta function.",
                                                    "enable": true,
                                                    "full_name": "Beta",
                                                    "output_values": {
                                                        "beta": {
                                                            "default_color": "#000000",
                                                            "display": "line"
                                                        }
                                                    },
                                                    "overlay": false,
                                                    "parameters": {
                                                        "series_type_1": {
                                                            "default": "open",
                                                            "range": [
                                                                "open",
                                                                "high",
                                                                "low",
                                                                "close"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "series_type_2": {
                                                            "default": "close",
                                                            "range": [
                                                                "open",
                                                                "high",
                                                                "low",
                                                                "close"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "time_period": {
                                                            "default": 9,
                                                            "min_range": 1,
                                                            "type": "int"
                                                        }
                                                    },
                                                    "type": "Statistic Functions"
                                                },
                                                "bop": {
                                                    "description": "Balance of Power(BOP) measures the relative strength between buyers and sellers by assessing the ability of move price to an extreme level.",
                                                    "enable": true,
                                                    "full_name": "Balance of Power",
                                                    "output_values": {
                                                        "bop": {
                                                            "default_color": "#B80C09",
                                                            "display": "line",
                                                            "max_range": 1,
                                                            "min_range": -1
                                                        }
                                                    },
                                                    "overlay": false,
                                                    "parameters": {},
                                                    "type": "Momentum Indicators"
                                                },
                                                "cci": {
                                                    "description": "Commodity Channel Index(CCI) is a universal indicator that can help to identify new trends and assess current critical conditions.",
                                                    "enable": true,
                                                    "full_name": "Commodity Channel Index",
                                                    "output_values": {
                                                        "cci": {
                                                            "default_color": "#87A878",
                                                            "display": "line"
                                                        }
                                                    },
                                                    "overlay": false,
                                                    "parameters": {
                                                        "time_period": {
                                                            "default": 20,
                                                            "min_range": 1,
                                                            "type": "int"
                                                        }
                                                    },
                                                    "tinting": {
                                                        "area": {
                                                            "color": "#87A878",
                                                            "display": "fill",
                                                            "lower_bound": -100,
                                                            "transparency": 0.5,
                                                            "upper_bound": 100
                                                        }
                                                    },
                                                    "type": "Momentum Indicators"
                                                },
                                                "ceil": {
                                                    "description": "Vector CEIL(CEIL) transforms input data with the mathematical ceil function.",
                                                    "enable": true,
                                                    "full_name": "Vector CEIL",
                                                    "output_values": {
                                                        "ceil": {
                                                            "default_color": "#000000",
                                                            "display": "line"
                                                        }
                                                    },
                                                    "overlay": true,
                                                    "parameters": {
                                                        "series_type": {
                                                            "default": "close",
                                                            "range": [
                                                                "open",
                                                                "high",
                                                                "low",
                                                                "close"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "Math Transform"
                                                },
                                                "cmo": {
                                                    "description": "Chande Momentum Oscillator(CMO) is used to show overbought and oversold conditions.",
                                                    "enable": true,
                                                    "full_name": "Chande Momentum Oscillator",
                                                    "output_values": {
                                                        "cmo": {
                                                            "default_color": "#45A89B",
                                                            "display": "line",
                                                            "max_range": 100,
                                                            "min_range": -100
                                                        }
                                                    },
                                                    "overlay": false,
                                                    "parameters": {
                                                        "series_type": {
                                                            "default": "close",
                                                            "range": [
                                                                "open",
                                                                "high",
                                                                "low",
                                                                "close"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "time_period": {
                                                            "default": 9,
                                                            "min_range": 1,
                                                            "type": "int"
                                                        }
                                                    },
                                                    "type": "Momentum Indicators"
                                                },
                                                "coppock": {
                                                    "description": "Coppock Curve(COPPOCK) is usually used to detect long-term trend changes, typically on monthly charts.",
                                                    "enable": true,
                                                    "full_name": "Coppock Curve",
                                                    "output_values": {
                                                        "coppock": {
                                                            "default_color": "#2708A0",
                                                            "display": "line"
                                                        }
                                                    },
                                                    "overlay": false,
                                                    "parameters": {
                                                        "long_roc_period": {
                                                            "default": 14,
                                                            "min_range": 1,
                                                            "type": "int"
                                                        },
                                                        "series_type": {
                                                            "default": "close",
[...]
