{
    "openapi": "3.0.0",
    "x-badges": [
        {
            "name": "tag_0f43d4bd-1faa-461e-a4bc-c5b50215dd47",
            "value": "✓"
        }
    ],
    "x-rapidapi-info": {
        "apiVersionId": "apiversion_4f5c2e94-fc84-4da4-9b25-b8e5fb65c386",
        "apiId": "api_98690ea3-7655-42fb-95ca-f6b135f7cc25"
    },
    "info": {
        "title": "TrueWay VRP",
        "description": "Solving the vehicle routing problem (multi-vehicle route optimization).",
        "version": "v1",
        "x-category": "Logistics",
        "x-long-description": "This API is designed to solve the main task of logistics - Vehicle Routing Problem (VRP).\nThe Vehicle Routing Problem (VRP) is the challenge of designing optimal routes for multiple vehicles visiting a set of locations(orders) each with business-specific constraints, such as vehicle limitations, cost controls, time windows, resource limitations concerning the loading process at the depot, etc.\nWhen there's only one vehicle, it reduces to the Traveling Salesman Problem (TSP).\nThis API effectively solves most variations of this problem:\n- Traveling Salesman Problem (TSP).\n- Capacitated Vehicle Routing Problem (CVRP)\n- Vehicle Routing Problem with time windows (VRPTW)\n- Multi-depot Vehicle Routing Problem (MDVRP)\n- Open Vehicle Routing Problem (OVRP)\n- Site Dependent Vehicle Routing Problem (SDVRP)\n- Heterogeneous Fleet Vehicle Routing Problem (HFVRP)\nThis API can also solve any mix of the above problem types.\n\nThe API allows you to:\n- Improve your fleet utilization by finding a cost-effective stop sequence to service your locations(orders).\n- Solving the complicated vehicle routing problem between multiple locations for a full fleet of vehicles, taking into account various restrictions.\n",
        "x-website": "https://truewayapi.com",
        "x-public": true,
        "x-thumbnail": "https://rapidapi-prod-apis.s3.amazonaws.com/78d45c88-6976-48d0-ba92-750b39d59ccb.png",
        "x-version-lifecycle": "current"
    },
    "servers": [
        {
            "url": "https://trueway-vrp.p.rapidapi.com/",
            "description": "Base URL"
        }
    ],
    "tags": [
        {
            "name": "VRPService"
        }
    ],
    "paths": {
        "/vrp": {
            "post": {
                "summary": "Solve the vehicle routing problem",
                "parameters": [
                    {
                        "name": "objective",
                        "in": "query",
                        "required": false,
                        "description": "Objective of optimization: \n- `min_total_duration`\n- `min_total_distance`\n- `min_completion_time`\n- `min_route_distance`\nDefault: `min_total_duration`",
                        "schema": {
                            "enum": [
                                "min_total_duration",
                                "min_total_distance",
                                "min_completion_time",
                                "min_route_distance"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "route_geometry",
                        "in": "query",
                        "required": false,
                        "description": "Output polyline of routes",
                        "schema": {
                            "default": false,
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "max_vehicle_driving_duration",
                        "in": "query",
                        "required": false,
                        "description": "Vehicle maximum route driving duration (seconds). Not include service or wait times. Default: 0 (Unlimited)",
                        "schema": {
                            "default": 0,
                            "format": "int64",
                            "maximum": 9223372036854776000,
                            "minimum": 0,
                            "type": "number"
                        }
                    },
                    {
                        "name": "start_time",
                        "in": "query",
                        "required": false,
                        "description": "Start time (seconds since 01/01/1970 00:00:00 or seconds since 01/01/0001 00:00:00 or 0 - current time in UTC). Default: 0 (UTC Now)",
                        "schema": {
                            "default": 0,
                            "format": "int64",
                            "maximum": 9223372036854776000,
                            "minimum": 0,
                            "type": "number"
                        }
                    },
                    {
                        "name": "max_vehicle_orders",
                        "in": "query",
                        "required": false,
                        "description": "Maximum allowable number of orders on the vehicle. Default: 0 (Unlimited)",
                        "schema": {
                            "default": 0,
                            "format": "int32",
                            "maximum": 2147483647,
                            "minimum": 0,
                            "type": "number"
                        }
                    },
                    {
                        "name": "order_service_duration",
                        "in": "query",
                        "required": false,
                        "description": "Default order service duration (seconds). Default: 0",
                        "schema": {
                            "default": 0,
                            "format": "int32",
                            "maximum": 2147483647,
                            "minimum": 0,
                            "type": "number"
                        }
                    },
                    {
                        "name": "avoid_ferries",
                        "in": "query",
                        "required": false,
                        "description": "Avoid ferries",
                        "schema": {
                            "default": false,
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "max_vehicle_duration",
                        "in": "query",
                        "required": false,
                        "description": "Vehicle maximum route duration (seconds). Default: 0 (Unlimited)",
                        "schema": {
                            "default": 0,
                            "format": "int64",
                            "maximum": 9223372036854776000,
                            "minimum": 0,
                            "type": "number"
                        }
                    },
                    {
                        "name": "use_traffic",
                        "in": "query",
                        "required": false,
                        "description": "Use Traffic",
                        "schema": {
                            "default": false,
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "max_vehicle_waiting_duration",
                        "in": "query",
                        "required": false,
                        "description": "Vehicle maximum waiting duration at order (seconds). Default: 0 (Unlimited)",
                        "schema": {
                            "default": 0,
                            "format": "int64",
                            "maximum": 9223372036854776000,
                            "minimum": 0,
                            "type": "number"
                        }
                    },
                    {
                        "name": "shipment_delivery_precedence",
                        "in": "query",
                        "required": false,
                        "description": "Shipment(pickup and delivery) deliveries precedence:\n- `any`\n- `fifo`\n- `lifo`\nDefault: `any`",
                        "schema": {
                            "enum": [
                                "any",
                                "fifo",
                                "lifo"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "quality",
                        "in": "query",
                        "required": false,
                        "description": "Optimization quality:\n- `fast`\n- `normal`\n- `best` *(for paid plans only)*\nDefault: `normal`",
                        "schema": {
                            "enum": [
                                "normal",
                                "fast",
                                "best"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "vehicle_capacity",
                        "in": "query",
                        "required": false,
                        "description": "Default vehicle capacity. A comma-separated string containing the default vehicles capacities. For simple nonamed one-dimensional capacity, it's just an integer. For named or multidimensional capacity, this is an array of comma-separated pairs `dimension_name:dimension_capacity`, for example \"`weight:10,volume:20`\".",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "avoid_tolls",
                        "in": "query",
                        "required": false,
                        "description": "Avoid tolls",
                        "schema": {
                            "default": false,
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "avoid_highways",
                        "in": "query",
                        "required": false,
                        "description": "Avoid highways",
                        "schema": {
                            "default": false,
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "max_vehicle_distance",
                        "in": "query",
                        "required": false,
                        "description": "Vehicle maximum route distance (meters). Default: 0 (Unlimited)",
                        "schema": {
                            "default": 0,
                            "format": "int64",
                            "maximum": 9223372036854776000,
                            "minimum": 0,
                            "type": "number"
                        }
                    }
                ],
                "externalDocs": {
                    "description": "",
                    "url": ""
                },
                "operationId": "/vrp",
                "description": "Solves a vehicle routing problem (VRP) to find the best routes for a fleet of vehicles.",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "additionalProperties": false,
                                    "definitions": {
                                        "address": {
                                            "description": "The address of the order location",
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "bounds": {
                                            "additionalProperties": false,
                                            "properties": {
                                                "east": {
                                                    "maximum": 180,
                                                    "minimum": -180,
                                                    "type": "number"
                                                },
                                                "north": {
                                                    "maximum": 90,
                                                    "minimum": -90,
                                                    "type": "number"
                                                },
                                                "south": {
                                                    "maximum": 90,
                                                    "minimum": -90,
                                                    "type": "number"
                                                },
                                                "west": {
                                                    "maximum": 180,
                                                    "minimum": -180,
                                                    "type": "number"
                                                }
                                            },
                                            "required": [
                                                "south",
                                                "west",
                                                "north",
                                                "east"
                                            ],
                                            "type": "object"
                                        },
                                        "description": {
                                            "description": "The description of the order",
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "id": {
                                            "description": "The order identifier",
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "location": {
                                            "additionalProperties": false,
                                            "properties": {
                                                "lat": {
                                                    "maximum": 90,
                                                    "minimum": -90,
                                                    "type": "number"
                                                },
                                                "lng": {
                                                    "maximum": 180,
                                                    "minimum": -180,
                                                    "type": "number"
                                                }
                                            },
                                            "required": [
                                                "lat",
                                                "lng"
                                            ],
                                            "type": "object"
                                        },
                                        "name": {
                                            "description": "The name of the order",
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "quantity": {
                                            "oneOf": [
                                                {
                                                    "additionalProperties": {
                                                        "format": "int64",
                                                        "maximum": 9223372036854776000,
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "description": "The size of the order (quantities for delivery). You can specify size in any dimension, such as weight, volume, or quantity. You can even specify multiple dimensions, for example, weight and volume. For example: \"quantity\":10, \"quantity\":{\"weight\":10,\"volume\":20}",
                                                    "type": "object"
                                                },
                                                {
                                                    "additionalProperties": false,
                                                    "format": "int64",
                                                    "maximum": 9223372036854776000,
                                                    "minimum": 0,
                                                    "type": "integer"
                                                }
                                            ]
                                        },
                                        "service_duration": {
                                            "default": 0,
                                            "description": "The duration of the service (service time) in seconds, i.e. how long it takes at the customer site.",
                                            "format": "int64",
                                            "maximum": 9223372036854776000,
                                            "minimum": 0,
                                            "type": "integer"
                                        }
                                    },
                                    "properties": {
                                        "completion_time": {
                                            "description": "Completion time (seconds)",
                                            "format": "int64",
                                            "maximum": 9223372036854776000,
                                            "minimum": -9223372036854776000,
                                            "type": "integer"
                                        },
                                        "delivery_quantity": {
                                            "$ref": "#/definitions/quantity",
                                            "description": "Quantities for delivery"
                                        },
                                        "longest_route_distance": {
                                            "description": "Distance of longest route (meters)",
                                            "format": "int64",
                                            "maximum": 9223372036854776000,
                                            "minimum": 0,
                                            "type": "integer"
                                        },
                                        "operating_duration": {
                                            "description": "Duration of longest route (seconds) i.e. duration of the entire solution",
                                            "format": "int64",
                                            "maximum": 9223372036854776000,
                                            "minimum": 0,
                                            "type": "integer"
                                        },
                                        "pickup_quantity": {
                                            "$ref": "#/definitions/quantity",
                                            "description": "Quantities for pickup"
                                        },
                                        "routes": {
                                            "description": "An array of routes",
                                            "items": {
                                                "additionalProperties": false,
                                                "properties": {
                                                    "bounds": {
                                                        "$ref": "#/definitions/bounds"
                                                    },
                                                    "completion_time": {
                                                        "description": "Completion time of route (seconds)",
                                                        "format": "int64",
                                                        "maximum": 9223372036854776000,
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "delivery_quantity": {
                                                        "$ref": "#/definitions/quantity",
                                                        "description": "Quantities for delivery on the route"
                                                    },
                                                    "distance": {
                                                        "description": "Distance of route (meters)",
                                                        "format": "int64",
                                                        "maximum": 9223372036854776000,
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "driving_duration": {
                                                        "description": "Driving duration of route (seconds)",
                                                        "format": "int64",
                                                        "maximum": 9223372036854776000,
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "duration": {
                                                        "description": "Total duration of route (seconds)",
                                                        "format": "int64",
                                                        "maximum": 9223372036854776000,
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "end": {
                                                        "additionalProperties": false,
                                                        "properties": {
                                                            "address": {
                                                                "description": "The address of the end location",
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "arrival_time": {
                                                                "description": "Arrival time at end (seconds)",
                                                                "format": "int64",
                                                                "maximum": 9223372036854776000,
                                                                "minimum": -9223372036854776000,
                                                                "type": "integer"
                                                            },
                                                            "cumul_distance": {
                                                                "description": "Traveled distance upon arrival at this location (meters)",
                                                                "format": "int64",
                                                                "maximum": 9223372036854776000,
                                                                "minimum": 0,
                                                                "type": "integer"
                                                            },
                                                            "cumul_driving_duration": {
                                                                "description": "Driving duration upon arrival at this location (seconds)",
                                                                "format": "int64",
                                                                "maximum": 9223372036854776000,
                                                                "minimum": 0,
                                                                "type": "integer"
                                                            },
                                                            "cumul_duration": {
                                                                "description": "Traveled duration upon arrival at this location (seconds)",
                                                                "format": "int64",
                                                                "maximum": 9223372036854776000,
                                                                "minimum": 0,
                                                                "type": "integer"
                                                            },
                                                            "depot_id": {
                                                                "description": "Id of depot",
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "description": {
                                                                "description": "The description of the end location",
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "id": {
                                                                "description": "Id of the end location",
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "load": {
                                                                "$ref": "#/definitions/quantity",
                                                                "description": "Load upon arrival at end"
                                                            },
                                                            "location": {
                                                                "$ref": "#/definitions/location"
                                                            },
                                                            "name": {
                                                                "description": "The name of the end location",
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "pickup_quantity": {
                                                        "$ref": "#/definitions/quantity",
                                                        "description": "Quantities for pickup on the route"
                                                    },
                                                    "points": {
                                                        "description": "Points of route (provided when route_geometry=true)",
                                                        "items": {
                                                            "items": {
                                                                "maximum": 180,
                                                                "minimum": -180,
                                                                "type": "number"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "type": [
                                                            "array",
                                                            "null"
                                                        ]
                                                    },
                                                    "service_duration": {
                                                        "description": "Service duration of route (seconds)",
                                                        "format": "int64",
                                                        "maximum": 9223372036854776000,
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "shipment_quantity": {
                                                        "$ref": "#/definitions/quantity",
                                                        "description": "Quantities for shipment on the route"
                                                    },
                                                    "start": {
                                                        "additionalProperties": false,
                                                        "properties": {
                                                            "address": {
                                                                "description": "The address of the start location",
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "departure_time": {
                                                                "description": "Departure time at start (seconds)",
                                                                "format": "int64",
                                                                "maximum": 9223372036854776000,
                                                                "minimum": -9223372036854776000,
                                                                "type": "integer"
                                                            },
                                                            "depot_id": {
                                                                "description": "Id of depot",
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "description": {
                                                                "description": "The description of the start location",
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "id": {
                                                                "description": "Id of the start location",
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "load": {
                                                                "$ref": "#/definitions/quantity",
                                                                "description": "Load at start"
                                                            },
                                                            "location": {
                                                                "$ref": "#/definitions/location"
                                                            },
                                                            "name": {
                                                                "description": "The name of the start location",
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "waiting_duration": {
                                                                "description": "Waiting duration at start (seconds)",
                                                                "format": "int64",
                                                                "maximum": 9223372036854776000,
                                                                "minimum": 0,
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "vehicle_id": {
                                                        "description": "Id of vehicle that operates route",
                                                        "type": "string"
                                                    },
                                                    "visits": {
                                                        "description": "Visits on the route",
                                                        "items": {
                                                            "additionalProperties": false,
                                                            "properties": {
                                                                "address": {
                                                                    "description": "The address of the location",
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "arrival_time": {
                                                                    "description": "Arrival time at this location (seconds)",
                                                                    "format": "int64",
                                                                    "maximum": 9223372036854776000,
                                                                    "minimum": -9223372036854776000,
                                                                    "type": "integer"
                                                                },
                                                                "cumul_distance": {
                                                                    "description": "Traveled distance upon arrival at this location (meters)",
                                                                    "format": "int64",
                                                                    "maximum": 9223372036854776000,
                                                                    "minimum": 0,
                                                                    "type": "integer"
                                                                },
                                                                "cumul_driving_duration": {
                                                                    "description": "Cumulated driving duration upon arrival at this location (seconds)",
                                                                    "format": "int64",
                                                                    "maximum": 9223372036854776000,
                                                                    "minimum": 0,
                                                                    "type": "integer"
                                                                },
                                                                "cumul_duration": {
                                                                    "description": "Cumulated travel duration upon arrival at this location (seconds)",
                                                                    "format": "int64",
                                                                    "maximum": 9223372036854776000,
                                                                    "minimum": 0,
                                                                    "type": "integer"
                                                                },
                                                                "cumul_load": {
                                                                    "$ref": "#/definitions/quantity",
                                                                    "description": "Load upon arrival at this location"
                                                                },
                                                                "departure_time": {
                                                                    "description": "Departure time at this location (seconds)",
                                                                    "format": "int64",
                                                                    "maximum": 9223372036854776000,
                                                                    "minimum": -9223372036854776000,
                                                                    "type": "integer"
                                                                },
                                                                "description": {
                                                                    "description": "The description of the location",
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "id": {
                                                                    "description": "Id of the location",
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "location": {
                                                                    "$ref": "#/definitions/location"
                                                                },
                                                                "name": {
                                                                    "description": "The name of the location",
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "order_id": {
                                                                    "description": "Id of the order performed at this location",
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "quantity": {
                                                                    "$ref": "#/definitions/quantity",
                                                                    "description": "The quantity(demand) of the job"
                                                                },
                                                                "service_duration": {
                                                                    "description": "Service duration at this location (seconds)",
                                                                    "format": "int64",
                                                                    "maximum": 9223372036854776000,
                                                                    "minimum": 0,
                                                                    "type": "integer"
                                                                },
                                                                "type": {
                                                                    "enum": [
                                                                        "service",
                                                                        "pickup",
                                                                        "delivery",
                                                                        "shipment_pickup",
                                                                        "shipment_delivery"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "waiting_duration": {
                                                                    "description": "Waiting duration at this location (seconds)",
                                                                    "format": "int64",
                                                                    "maximum": 9223372036854776000,
                                                                    "minimum": 0,
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "required": [
                                                                "location",
                                                                "type"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": [
                                                            "array",
                                                            "null"
                                                        ]
                                                    },
                                                    "waiting_duration": {
                                                        "description": "Waiting duration of route (seconds)",
                                                        "format": "int64",
                                                        "maximum": 9223372036854776000,
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    }
                                                },
                                                "required": [
                                                    "vehicle_id"
                                                ],
                                                "type": "object"
                                            },
                                            "type": [
                                                "array",
                                                "null"
                                            ]
                                        },
                                        "shipment_quantity": {
                                            "$ref": "#/definitions/quantity",
                                            "description": "Quantities for shipment"
                                        },
                                        "status": {
                                            "description": "Status (\"OK\" - success)",
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "total_distance": {
                                            "description": "Overall distance (meters)",
                                            "format": "int64",
                                            "maximum": 9223372036854776000,
                                            "minimum": 0,
                                            "type": "integer"
                                        },
                                        "total_driving_duration": {
                                            "description": "Overall driving duration (seconds)",
                                            "format": "int64",
                                            "maximum": 9223372036854776000,
                                            "minimum": 0,
                                            "type": "integer"
                                        },
                                        "total_duration": {
                                            "description": "Total travel duration for all routes (seconds)",
                                            "format": "int64",
                                            "maximum": 9223372036854776000,
                                            "minimum": 0,
                                            "type": "integer"
                                        },
                                        "total_service_duration": {
                                            "description": "Overall service duration (seconds)",
                                            "format": "int64",
                                            "maximum": 9223372036854776000,
                                            "minimum": 0,
                                            "type": "integer"
                                        },
                                        "total_waiting_duration": {
                                            "description": "Overall waiting duration (seconds)",
                                            "format": "int64",
                                            "maximum": 9223372036854776000,
                                            "minimum": 0,
                                            "type": "integer"
                                        },
                                        "unassigned_orders": {
                                            "description": "Array of ids of unassigned orders that could not be served",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": [
                                                "array",
                                                "null"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                },
                                "examples": {
                                    "Delivery (with capacity constraints)": {
                                        "summary": "Delivery (with capacity constraints)",
                                        "value": {
                                            "completion_time": 1595426450,
                                            "delivery_quantity": 140,
                                            "longest_route_distance": 52439,
                                            "operating_duration": 4145,
                                            "routes": [
                                                {
                                                    "completion_time": 1595426450,
                                                    "delivery_quantity": 80,
                                                    "distance": 52439,
                                                    "driving_duration": 3785,
                                                    "duration": 4145,
                                                    "end": {
                                                        "arrival_time": 1595426450,
                                                        "cumul_distance": 52439,
                                                        "cumul_driving_duration": 3785,
                                                        "cumul_duration": 4145,
                                                        "depot_id": "depot-1",
                                                        "id": "depot-1",
                                                        "load": 0,
                                                        "location": {
                                                            "lat": 36.159548,
                                                            "lng": -115.3172336
                                                        }
                                                    },
                                                    "service_duration": 360,
                                                    "start": {
                                                        "departure_time": 1595422305,
                                                        "depot_id": "depot-1",
                                                        "id": "depot-1",
                                                        "load": 80,
                                                        "location": {
                                                            "lat": 36.159548,
                                                            "lng": -115.3172336
                                                        },
                                                        "waiting_duration": 0
                                                    },
                                                    "vehicle_id": "vehicle-2",
                                                    "visits": [
                                                        {
                                                            "arrival_time": 1595423373,
                                                            "cumul_distance": 16982,
                                                            "cumul_driving_duration": 1068,
                                                            "cumul_duration": 1068,
                                                            "cumul_load": 80,
                                                            "departure_time": 1595423433,
                                                            "id": "order-6",
                                                            "location": {
                                                                "lat": 36.1552112,
                                                                "lng": -115.1920527
                                                            },
                                                            "order_id": "order-6",
                                                            "quantity": 10,
                                                            "service_duration": 60,
                                                            "type": "delivery",
                                                            "waiting_duration": 0
                                                        },
                                                        {
                                                            "arrival_time": 1595423621,
                                                            "cumul_distance": 17786,
                                                            "cumul_driving_duration": 1256,
                                                            "cumul_duration": 1316,
                                                            "cumul_load": 70,
                                                            "departure_time": 1595423681,
                                                            "id": "order-7",
                                                            "location": {
                                                                "lat": 36.153458,
                                                                "lng": -115.191221
                                                            },
                                                            "order_id": "order-7",
                                                            "quantity": 10,
                                                            "service_duration": 60,
                                                            "type": "delivery",
                                                            "waiting_duration": 0
                                                        },
                                                        {
                                                            "arrival_time": 1595423918,
                                                            "cumul_distance": 20297,
                                                            "cumul_driving_duration": 1493,
                                                            "cumul_duration": 1613,
                                                            "cumul_load": 60,
                                                            "departure_time": 1595423978,
                                                            "id": "order-5",
                                                            "location": {
                                                                "lat": 36.15833,
                                                                "lng": -115.1706666
                                                            },
                                                            "order_id": "order-5",
                                                            "quantity": 10,
                                                            "service_duration": 60,
                                                            "type": "delivery",
                                                            "waiting_duration": 0
                                                        },
                                                        {
                                                            "arrival_time": 1595424488,
                                                            "cumul_distance": 27304,
                                                            "cumul_driving_duration": 2003,
                                                            "cumul_duration": 2183,
                                                            "cumul_load": 50,
                                                            "departure_time": 1595424548,
                                                            "id": "order-2",
                                                            "location": {
                                                                "lat": 36.190831,
                                                                "lng": -115.137368
                                                            },
                                                            "order_id": "order-2",
                                                            "quantity": 15,
                                                            "service_duration": 60,
                                                            "type": "delivery",
                                                            "waiting_duration": 0
                                                        },
                                                        {
                                                            "arrival_time": 1595425042,
                                                            "cumul_distance": 31235,
                                                            "cumul_driving_duration": 2497,
                                                            "cumul_duration": 2737,
                                                            "cumul_load": 35,
                                                            "departure_time": 1595425102,
                                                            "id": "order-4",
                                                            "location": {
                                                                "lat": 36.1664349,
                                                                "lng": -115.1325665
                                                            },
                                                            "order_id": "order-4",
                                                            "quantity": 10,
                                                            "service_duration": 60,
                                                            "type": "delivery",
                                                            "waiting_duration": 0
                                                        },
                                                        {
                                                            "arrival_time": 1595425188,
                                                            "cumul_distance": 31671,
                                                            "cumul_driving_duration": 2583,
                                                            "cumul_duration": 2883,
                                                            "cumul_load": 25,
                                                            "departure_time": 1595425248,
                                                            "id": "order-3",
                                                            "location": {
                                                                "lat": 36.1692548,
                                                                "lng": -115.1312463
                                                            },
                                                            "order_id": "order-3",
                                                            "quantity": 25,
                                                            "service_duration": 60,
                                                            "type": "delivery",
                                                            "waiting_duration": 0
                                                        }
                                                    ],
                                                    "waiting_duration": 0
                                                },
                                                {
                                                    "completion_time": 1595425232,
                                                    "delivery_quantity": 60,
                                                    "distance": 37183,
                                                    "driving_duration": 2747,
                                                    "duration": 2927,
                                                    "end": {
                                                        "arrival_time": 1595425232,
                                                        "cumul_distance": 37183,
                                                        "cumul_driving_duration": 2747,
                                                        "cumul_duration": 2927,
                                                        "depot_id": "depot-1",
                                                        "id": "depot-1",
                                                        "load": 0,
                                                        "location": {
                                                            "lat": 36.159548,
                                                            "lng": -115.3172336
                                                        }
                                                    },
                                                    "service_duration": 180,
                                                    "start": {
                                                        "departure_time": 1595422305,
                                                        "depot_id": "depot-1",
                                                        "id": "depot-1",
                                                        "load": 60,
                                                        "location": {
                                                            "lat": 36.159548,
                                                            "lng": -115.3172336
                                                        },
                                                        "waiting_duration": 0
                                                    },
                                                    "vehicle_id": "vehicle-3",
                                                    "visits": [
                                                        {
                                                            "arrival_time": 1595423269,
                                                            "cumul_distance": 14700,
                                                            "cumul_driving_duration": 964,
                                                            "cumul_duration": 964,
                                                            "cumul_load": 60,
                                                            "departure_time": 1595423329,
                                                            "id": "order-8",
                                                            "location": {
                                                                "lat": 36.168741,
                                                                "lng": -115.211532
                                                            },
                                                            "order_id": "order-8",
                                                            "quantity": 15,
                                                            "service_duration": 60,
                                                            "type": "delivery",
                                                            "waiting_duration": 0
                                                        },
                                                        {
                                                            "arrival_time": 1595423737,
                                                            "cumul_distance": 17488,
                                                            "cumul_driving_duration": 1372,
                                                            "cumul_duration": 1432,
                                                            "cumul_load": 45,
                                                            "departure_time": 1595423797,
                                                            "id": "order-1",
                                                            "location": {
                                                                "lat": 36.185851,
                                                                "lng": -115.2064059
                                                            },
                                                            "order_id": "order-1",
                                                            "quantity": 10,
                                                            "service_duration": 60,
                                                            "type": "delivery",
                                                            "waiting_duration": 0
                                                        },
                                                        {
                                                            "arrival_time": 1595424412,
                                                            "cumul_distance": 28696,
                                                            "cumul_driving_duration": 1987,
                                                            "cumul_duration": 2107,
                                                            "cumul_load": 35,
                                                            "departure_time": 1595424472,
                                                            "id": "order-9",
                                                            "location": {
                                                                "lat": 36.196647,
                                                                "lng": -115.282064
                                                            },
                                                            "order_id": "order-9",
                                                            "quantity": 35,
                                                            "service_duration": 60,
                                                            "type": "delivery",
                                                            "waiting_duration": 0
                                                        }
                                                    ],
                                                    "waiting_duration": 0
                                                }
                                            ],
                                            "status": "OK",
                                            "total_distance": 89622,
                                            "total_driving_duration": 6532,
                                            "total_duration": 7072,
                                            "total_service_duration": 540,
                                            "total_waiting_duration": 0,
                                            "unassigned_orders": []
                                        }
                                    },
                                    "Extended Delivery": {
                                        "description": "Complex Delivery with multidimensional capacity constraints, distance and duration constraints, time windows, working hours, breaks, ...",
                                        "summary": "Extended Delivery",
                                        "value": {
                                            "completion_time": 1594236941,
                                            "delivery_quantity": {
                                                "volume": 1400,
                                                "weight": 140
                                            },
                                            "longest_route_distance": 48211,
                                            "operating_duration": 5320,
                                            "routes": [
                                                {
                                                    "completion_time": 1594235735,
                                                    "delivery_quantity": {
                                                        "volume": 600,
                                                        "weight": 60
                                                    },
                                                    "distance": 48211,
                                                    "driving_duration": 3874,
                                                    "duration": 4114,
                                                    "end": {
                                                        "arrival_time": 1594235735,
                                                        "cumul_distance": 48211,
                                                        "cumul_driving_duration": 3874,
                                                        "cumul_duration": 4114,
                                                        "depot_id": "depot-1",
                                                        "id": "depot-1",
                                                        "load": {
                                                            "volume": 0,
                                                            "weight": 0
                                                        },
                                                        "location": {
                                                            "lat": 36.159548,
                                                            "lng": -115.3172336
                                                        }
                                                    },
                                                    "service_duration": 240,
                                                    "start": {
                                                        "departure_time": 1594231621,
                                                        "depot_id": "depot-1",
                                                        "id": "depot-1",
                                                        "load": {
                                                            "volume": 600,
                                                            "weight": 60
                                                        },
                                                        "location": {
                                                            "lat": 36.159548,
                                                            "lng": -115.3172336
                                                        },
                                                        "waiting_duration": 0
                                                    },
                                                    "vehicle_id": "vehicle-2",
                                                    "visits": [
                                                        {
                                                            "arrival_time": 1594232873,
                                                            "cumul_distance": 12132,
                                                            "cumul_driving_duration": 1252,
                                                            "cumul_duration": 1252,
                                                            "cumul_load": {
                                                                "volume": 600,
                                                                "weight": 60
                                                            },
                                                            "departure_time": 1594232933,
                                                            "id": "order-6",
                                                            "location": {
                                                                "lat": 36.1552112,
                                                                "lng": -115.1920527
                                                            },
                                                            "order_id": "order-6",
                                                            "quantity": {
                                                                "volume": 100,
                                                                "weight": 10
                                                            },
                                                            "service_duration": 60,
                                                            "type": "delivery",
                                                            "waiting_duration": 0
                                                        },
                                                        {
                                                            "arrival_time": 1594233753,
                                                            "cumul_distance": 22738,
                                                            "cumul_driving_duration": 2072,
                                                            "cumul_duration": 2132,
                                                            "cumul_load": {
                                                                "volume": 500,
                                                                "weight": 50
                                                            },
                                                            "departure_time": 1594233813,
                                                            "id": "order-2",
                                                            "location": {
                                                                "lat": 36.190831,
                                                                "lng": -115.137368
                                                            },
                                                            "order_id": "order-2",
                                                            "quantity": {
                                                                "volume": 150,
                                                                "weight": 15
                                                            },
                                                            "service_duration": 60,
                                                            "type": "delivery",
                                                            "waiting_duration": 0
                                                        },
                                                        {
                                                            "arrival_time": 1594234319,
                                                            "cumul_distance": 27009,
                                                            "cumul_driving_duration": 2578,
                                                            "cumul_duration": 2698,
                                                            "cumul_load": {
                                                                "volume": 350,
                                                                "weight": 35
                                                            },
                                                            "departure_time": 1594234379,
                                                            "id": "order-4",
                                                            "location": {
                                                                "lat": 36.1664349,
                                                                "lng": -115.1325665
                                                            },
                                                            "order_id": "order-4",
                                                            "quantity": {
                                                                "volume": 100,
                                                                "weight": 10
                                                            },
                                                            "service_duration": 60,
                                                            "type": "delivery",
                                                            "waiting_duration": 0
                                                        },
                                                        {
                                                            "arrival_time": 1594234473,
                                                            "cumul_distance": 27445,
                                                            "cumul_driving_duration": 2672,
                                                            "cumul_duration": 2852,
                                                            "cumul_load": {
                                                                "volume": 250,
                                                                "weight": 25
                                                            },
                                                            "departure_time": 1594234533,
                                                            "id": "order-3",
                                                            "location": {
                                                                "lat": 36.1692548,
                                                                "lng": -115.1312463
                                                            },
                                                            "order_id": "order-3",
                                                            "quantity": {
                                                                "volume": 250,
                                                                "weight": 25
                                                            },
                                                            "service_duration": 60,
                                                            "type": "delivery",
                                                            "waiting_duration": 0
                                                        }
                                                    ],
                                                    "waiting_duration": 0
                                                },
                                                {
                                                    "completion_time": 1594236941,
                                                    "delivery_quantity": {
                                                        "volume": 800,
                                                        "weight": 80
                                                    },
                                                    "distance": 48079,
                                                    "driving_duration": 3820,
                                                    "duration": 5320,
                                                    "end": {
                                                        "arrival_time": 1594236941,
                                                        "cumul_distance": 48079,
                                                        "cumul_driving_duration": 3820,
                                                        "cumul_duration": 5320,
                                                        "depot_id": "depot-1",
                                                        "id": "depot-1",
                                                        "load": {
                                                            "volume": 0,
                                                            "weight": 0
                                                        },
                                                        "location": {
                                                            "lat": 36.159548,
                                                            "lng": -115.3172336
                                                        }
                                                    },
                                                    "service_duration": 300,
                                                    "start": {
                                                        "departure_time": 1594231621,
                                                        "depot_id": "depot-1",
                                                        "id": "depot-1",
                                                        "load": {
                                                            "volume": 800,
                                                            "weight": 80
                                                        },
                                                        "location": {
                                                            "lat": 36.159548,
                                                            "lng": -115.3172336
                                                        },
                                                        "waiting_duration": 0
                                                    },
                                                    "vehicle_id": "vehicle-3",
                                                    "visits": [
                                                        {
                                                            "arrival_time": 1594232591,
                                                            "cumul_distance": 15260,
                                                            "cumul_driving_duration": 970,
                                                            "cumul_duration": 970,
                                                            "cumul_load": {
                                                                "volume": 800,
                                                                "weight": 80
                                                            },
                                                            "departure_time": 1594232651,
                                                            "id": "order-1",
                                                            "location": {
                                                                "lat": 36.185851,
                                                                "lng": -115.2064059
                                                            },
                                                            "order_id": "order-1",
                                                            "quantity": {
                                                                "volume": 100,
                                                                "weight": 10
                                                            },
                                                            "service_duration": 60,
                                                            "type": "delivery",
                                                            "waiting_duration": 0
                                                        },
                                                        {
                                                            "arrival_time": 1594233059,
                                                            "cumul_distance": 18116,
                                                            "cumul_driving_duration": 1378,
                                                            "cumul_duration": 1438,
                                                            "cumul_load": {
                                                                "volume": 700,
                                                                "weight": 70
                                                            },
                                                            "departure_time": 1594233119,
                                                            "id": "order-8",
                                                            "location": {
                                                                "lat": 36.168741,
                                                                "lng": -115.211532
                                                            },
                                                            "order_id": "order-8",
                                                            "quantity": {
                                                                "volume": 150,
                                                                "weight": 15
                                                            },
                                                            "service_duration": 60,
                                                            "type": "delivery",
                                                            "waiting_duration": 0
                                                        },
                                                        {
                                                            "arrival_time": 1594233640,
                                                            "cumul_distance": 22134,
                                                            "cumul_driving_duration": 1899,
                                                            "cumul_duration": 2019,
                                                            "cumul_load": {
                                                                "volume": 550,
                                                                "weight": 55
                                                            },
                                                            "departure_time": 1594234900,
                                                            "id": "order-7",
                                                            "location": {
                                                                "lat": 36.153458,
                                                                "lng": -115.191221
                                                            },
                                                            "order_id": "order-7",
                                                            "quantity": {
                                                                "volume": 100,
                                                                "weight": 10
                                                            },
                                                            "service_duration": 60,
                                                            "type": "delivery",
                                                            "waiting_duration": 1200
                                                        },
                                                        {
                                                            "arrival_time": 1594235144,
                                                            "cumul_distance": 24645,
                                                            "cumul_driving_duration": 2143,
                                                            "cumul_duration": 3523,
                                                            "cumul_load": {
                                                                "volume": 450,
                                                                "weight": 45
                                                            },
                                                            "departure_time": 1594235204,
                                                            "id": "order-5",
                                                            "location": {
                                                                "lat": 36.15833,
                                                                "lng": -115.1706666
                                                            },
                                                            "order_id": "order-5",
                                                            "quantity": {
                                                                "volume": 100,
                                                                "weight": 10
                                                            },
                                                            "service_duration": 60,
                                                            "type": "delivery",
                                                            "waiting_duration": 0
                                                        },
                                                        {
                                                            "arrival_time": 1594236094,
                                                            "cumul_distance": 39593,
                                                            "cumul_driving_duration": 3033,
                                                            "cumul_duration": 4473,
                                                            "cumul_load": {
                                                                "volume": 350,
                                                                "weight": 35
                                                            },
                                                            "departure_time": 1594236154,
                                                            "id": "order-9",
                                                            "location": {
                                                                "lat": 36.196647,
                                                                "lng": -115.282064
                                                            },
                                                            "order_id": "order-9",
                                                            "quantity": {
                                                                "volume": 350,
                                                                "weight": 35
                                                            },
                                                            "service_duration": 60,
                                                            "type": "delivery",
                                                            "waiting_duration": 0
                                                        }
                                                    ],
                                                    "waiting_duration": 1200
                                                }
                                            ],
                                            "status": "OK",
                                            "total_distance": 96290,
                                            "total_driving_duration": 7694,
                                            "total_duration": 9434,
                                            "total_service_duration": 540,
                                            "total_waiting_duration": 1200,
                                            "unassigned_orders": []
                                        }
                                    },
                                    "Mixed Orders (Service, Delivery, Pickup, Shipment)": {
                                        "summary": "Mixed Orders (Service, Delivery, Pickup, Shipment)",
                                        "value": {
                                            "completion_time": 1594370931,
                                            "delivery_quantity": 150,
                                            "longest_route_distance": 50558,
                                            "operating_duration": 4964,
                                            "pickup_quantity": 130,
                                            "routes": [
                                                {
                                                    "completion_time": 1594370931,
                                                    "delivery_quantity": 60,
                                                    "distance": 50558,
                                                    "driving_duration": 3824,
                                                    "duration": 4964,
                                                    "end": {
                                                        "arrival_time": 1594370931,
                                                        "cumul_distance": 50558,
                                                        "cumul_driving_duration": 3824,
                                                        "cumul_duration": 4964,
                                                        "depot_id": "depot-1",
                                                        "id": "depot-1",
                                                        "load": 50,
                                                        "location": {
                                                            "lat": 36.159548,
                                                            "lng": -115.3172336
                                                        }
                                                    },
                                                    "pickup_quantity": 50,
                                                    "service_duration": 1140,
                                                    "shipment_quantity": 30,
                                                    "start": {
                                                        "departure_time": 1594365967,
                                                        "depot_id": "depot-1",
                                                        "id": "depot-1",
                                                        "load": 60,
                                                        "location": {
                                                            "lat": 36.159548,
                                                            "lng": -115.3172336
                                                        },
                                                        "waiting_duration": 0
                                                    },
                                                    "vehicle_id": "vehicle-2",
                                                    "visits": [
                                                        {
[...]
